[2017-06-12 14:01] jnealb commented on #7429
Yes

[2017-06-12 14:01] #7429 closed

[2017-06-13 00:53] ksobon commented on #7307
This will be fixed in the next release if/when this PR gets merged:

https://github.com/DynamoDS/DynamoRevit/pull/1711

[2017-06-14 12:10] maciejwypych opened #7964 "Geometry not visible in Dynamo Studio 1.3.0.875"
## Dynamo version

Dynamo Studio 1.3.0.875

## Operating system

Windows 7 64bit

## What did you do?

Opened Dynamo Studio and created geometry

## What did you expect to see?

Geometry

## What did you see instead?

Nothing

I can't see any geometry I create in Dynamo Studio. Dynamo for Revit works fine, but in Dynamo Studio it doesn't appear.
I've created a point by coordinates and I can see th

[2017-06-14 13:53] jnealb commented on #7964
@maciejwypych Do you see the 3D grid or truly nothing at all?

[2017-06-14 16:59] vykrum opened #7965 "Frozen Freeze"
## Dynamo version
1.3.0.875

## Operating system
Windows 7, Windows 10

## What did you do?
Tried to unfreeze a codeblock

## What did you expect to see?
Ability to uncheck the Freeze option

## What did you see instead?
The status of Freeze cannot be altered
![unfreeze](https://user-images.githubusercontent.com/5621624/27144795-da256d62-5150-11e7-907f-b0ff0a05b453.png)

[2017-06-14 19:45] ramramps commented on #7965
can you go the XML and unfreeze the node?  I think this is a circular dependency....

[2017-06-14 21:44] maciejwypych commented on #7964
I can see the grids and XYZ axis if I place a point, but no geometry.(and
the geometry is definitely created)

On 14 Jun. 2017 23:53, "Neal Burnham" <notifications@github.com> wrote:

[2017-06-14 21:59] jnealb commented on #7964
Sounds like another case of DYN-887 - "Dynamo install/upgrade process leads to disabled gfx rendering".
Can you please try un-installing Studio completely and then re-installing it?

[2017-06-14 23:16] maciejwypych commented on #7964
Hi Neal,

I've reinstalled Dynamo Studio, but the problem is still there.

No geometry visible.

As a comparison that's what I can see in Dynamo Studio

And the same definition in Dynamo Revit

Thanks,

Maciej
​
​

On 15 June 2017 at 07:59, Neal Burnham <notifications@github.com> wrote:

[2017-06-14 23:53] KimberleyR opened #7967 "Dynamo script worked yesterday, but not today?? (Saying to report)"
Version of Dynamo; 1.3.0.0

Operating System; Windows 10.

Device using; Surface Pro 4, 256GB, 8GB Ram.

I have been creating a code checking, having dynamo check the parameter of elements within Revit. The code seemed to work fine yesterday on another PC and when I went to work on it today it sent up the same error/ bug script that it in the screen shot attached so I rebuilt it, for it to just re

[2017-06-15 00:01] maciejwypych commented on #7964
Looks like uninstalling and reinstalling both Dynamo Revit and Dynamo Studio, has done the trick.

[2017-06-15 01:10] maciejwypych commented on #7964
Once, I've opened Dynamo for Revit, restarted and opened Dynamo Studio it doesn't display the geometry anymore.

[2017-06-15 03:13] vykrum commented on #7965
@ramramps

Wouldn't know how to do that  :-)

I just copied the code to a fresh code block. Was very inconvenient.

[2017-06-15 03:17] ksobon commented on #897
What about something like this?

![image](https://user-images.githubusercontent.com/529781/27163744-985d684c-5157-11e7-9f3f-c82a93461342.png)

[2017-06-15 03:20] andydandy74 commented on #897
Is it christmas yet? :-)

[2017-06-15 03:42] KimberleyR opened #7969 "Unhandled Exception"
3.0.0 Dynamo version

Windows 10 Operating system

What did you do?

Ran script. Was running fine yesterday on another machine.

Members of the building to turn red if equal to 1

What did you see instead?

Error message/ Nothing
<img width="322" alt="capture" src="https://user-images.githubusercontent.com/29240536/27164420-49d9f0a2-51e1-11e7-82bb-4b48f683133d.PNG">

[2017-06-15 09:26] andydandy74 opened #7972 "Nodes as members of multiple groups"
## Dynamo version

1.3 stable

## Operating system

Windows 7

## What did you do?

Added a node to a group using box selection from right to left, accidentally selecting **two** groups
![before](https://user-images.githubusercontent.com/3014437/27174209-8fa98c76-51bb-11e7-8de7-8a7da7f3e118.PNG)

## What did you expect to see?
Apart from the fact that this happended by accident, any of the followi

[2017-06-15 13:25] erfajo opened #7974 "Delete this issue"
Please delete this issue...

[2017-06-15 13:31] erfajo commented on #6513
Has anybody succeeded in making an extension for Visual Studio Code supporting Python 2.7.3 and Revit API?

[2017-06-15 14:12] jnealb commented on #7964
Does Studio not support geometry if you do not first launch Dynamo for Revit? In other words, reboot and start Studio: does it work?

[2017-06-15 14:23] jnealb commented on #7972
@ramramps fyi

[2017-06-15 15:03] gtalarico opened #7976 "Enable FullFrames on IronPython Engine"
I am working on a interactive debugger console. I have it working with the IronPythonShell but unfortunately is not working in Dynamo because because the engine does not have stack frames enabled.

It's a simple change that would allow stack inspection and the development of additional debugging tools and features; I think the Dynamo community could really benefit from.

I have never developed in

[2017-06-15 16:03] DavePlumb opened #7977 "Add "Append" Input to WriteText node"
Could we get an additional Input for the Core WriteText node that would allow us to Append to a file in addition to overwriting the file?
I envision this as a simple Boolean after the filePath and text Inputs:
   filePath: string
   text: string
   **append: boolean**
Inside the node, it would simply use the "a" parameter at the file open instead of the "w" option.
default if it the input isn't wi

[2017-06-15 17:52] jnealb commented on #7969
@KimberleyR Are you able to share your script with us?

[2017-06-15 20:48] KimberleyR commented on #7969
Hi there @jnealb Sorry about that. I forgot that they didn't upload when I attached them as I hadn't put them into zip folders. Here are the two files.
[KJR.DYNAMO.zip](https://github.com/DynamoDS/Dynamo/files/1078966/KJR.DYNAMO.zip)
[KJR.REVIT HOUSE.zip](https://github.com/DynamoDS/Dynamo/files/1078968/KJR.REVIT.HOUSE.zip)

Thanks in advance for any help

[2017-06-16 01:40] maciejwypych commented on #7964
That's what I've done.
It worked just after I've reinstalled both Dynamo for Revit and Dynamo
Studio.
But after I've restarted and launched Dynamo for Revit, closed Revit and
then opened Dynamo Studio, geometry wasn't visible anymore.
I've restarted and tried launching Dynamo Studio first, but the geometry is
not visible anymore.

I've repeated the process, and if I open Dynamo for Revit at any po

[2017-06-16 15:22] tripler123 commented on #6505
I have the same problem

[2017-06-16 19:16] crwinchester opened #7982 "Create Project Parameter Node Does not Create Project Parameter"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## 1.2

(Which version of Dynamo are you using? Go to Help > About if you'r

[2017-06-16 19:22] jnealb commented on #7969
Hi @KimberleyR I note that your rvt model is from Revit 2018, but what version of Dynamo are you using? The "ElementFiletr.ByNameContains" node is not resolved with Dynamo 1.3, which is the current version. Thanks for clarifying.

[2017-06-16 20:29] QilongTang commented on #7747
Latest schema:
{
  "Uuid": "772c4d87-44cd-42d2-9971-1c236b98e25f",
  "IsCustomNode": false,
  "Description": null,
  "Name": "Home",
  "ElementResolver": {
    "ResolutionMap": {}
  },
  "Nodes": [
    {
      "ConcreteType": "Dynamo.Graph.Nodes.CodeBlockNodeModel, DynamoCore",
      "NodeType": "CodeBlockNode",
      "Code": "x=1;",
      "Id": "26c5d862-ea26-496d-97f7-15c3e03e3e18",
      "Input

[2017-06-16 20:37] mjkkirschner commented on #7747
@QilongTang when "Notes" are serialized they should not have a `UUID` right? There is a task for serializing them as `Annotations` correct?

[2017-06-16 20:38] ramramps commented on #7747
That is on top of the backlog. Not sure when we will visit that task.
The notes should live inside View block. Do we have a task for it? @QilongTang can you create one if there is not already?

[2017-06-16 20:39] QilongTang commented on #7747
@mjkkirschner Yes, specified in https://jira.autodesk.com/browse/QNTM-908, can we solve them together?

[2017-06-16 20:41] ramramps commented on #7747
Moving the notes to view block should be done first. It will help the deserilization. Then we can visit this task and do the serialization / deserialization as specified. Makes sense @QilongTang ?

[2017-06-16 21:10] QilongTang commented on #7747
https://jira.autodesk.com/browse/QNTM-923 and https://jira.autodesk.com/browse/QNTM-908 for moving `Notes` from graph block into View->Annotation block

[2017-06-16 23:26] KimberleyR commented on #7969
Hi there @jnealb
I am infact working in Dynamo 1.3...
Is there anyway I could back date to a later version of Dynamo to get the script to run? Its for a university project which is due in a week.

[2017-06-16 23:28] jnealb commented on #7969
@KimberleyR You would have to uninstall 1.3 and install the appropriate version of Dynamo. Which is it?

[2017-06-16 23:34] KimberleyR commented on #7969
@jnealb Okay. That's fine with me :) Are you aware of which version allows for the "Element.Filter.ByNameContains" to work appropriately?

[2017-06-16 23:36] jnealb commented on #7969
No, but I can find out. When did you develop the graph?

[2017-06-16 23:36] mjkkirschner commented on #7969
you can download older installers from www.dynamobuilds.com for DynamoRevit at least.

[2017-06-16 23:39] KimberleyR commented on #7969
Just a few days ago (Wednesday at around 11am New Zealand time), but it was on another computer with Revit 2018 and Dynamo, so it may not have had Dynamo 1.3? As it was working on the computer I thought that I would be able to transfer the data onto a USB and it would still run on my personal computer. I am aware that those computers do have Revit 2017 installed also

[2017-06-16 23:41] KimberleyR commented on #7969
[Query_NZS3604.zip](https://github.com/DynamoDS/Dynamo/files/1082173/Query_NZS3604.zip)
This was the original file if that helps? I am unsure if there is anyway you can check to see which version that it was developed in

[2017-06-17 00:15] jnealb commented on #7969
Thanks, you answered the question. The Dynamo you used was the one bundled with Revit 2018, which is a much earlier version than 1.3. We will advise on Monday, USA EST am.

[2017-06-17 00:33] KimberleyR commented on #7969
Cool, Thank you @jnealb. Look forward to the answer! :)

[2017-06-17 19:33] ksobon commented on #7297
All of these nodes are built as ZT nodes, so none of them will update itself without you forcing the update somehow. I know you think that moving a project base point in Revit is enough to update the node, but unfortunately it's not. If that was the case your Dynamo graph would be running constant updates on most of the nodes, and eventually just die a death by lack of memory. In this particular c

[2017-06-17 19:36] ksobon commented on #6525
@moethu based on how that node is coded (ZT), it's expected behavior. An argument could be made that this should be a `NodeModel` node with a `DocumentUpdated` event subscription, that would force it to re-execute. I am not sure which way the team wants to go on this one.

@ikeough @jnealb @kronz @mjkkirschner thoughts?

[2017-06-17 19:40] ksobon commented on #7982
Revit API doesn't allow for creating Project Parameters. https://forums.autodesk.com/t5/revit-api-forum/create-project-parameter-not-shared-parameter/td-p/5150182 I am not sure why this node is pretending to be doing that.

@kronz can you answer that? cc: @moethu

[2017-06-17 20:04] ksobon commented on #6562
@josols is this still an issue in 1.3? It looks good on my machine:
![image](https://user-images.githubusercontent.com/529781/27255929-a56feeee-5376-11e7-9de2-b9571bf3725f.png)

[2017-06-17 20:11] ksobon commented on #5638
cc: @kronz this particular PR was closed, but I got that functionality merged in using a different PR. We can close this issue as solved.

[2017-06-17 20:14] ksobon commented on #5637
I think user is confusing how `RemoveIfNot` works and what the `type` input should be. We asked for additional input to explain his question better over two years ago. It's time to close this issue. cc: @kronz

[2017-06-17 20:17] ksobon commented on #5524
@kronz can you post tracking number for this wishlist item? I believe you guys use Jetbrains to track issues and feature requests.

[2017-06-17 20:19] ksobon commented on #5069
@kronz this was fixed in @dimven PR here: https://github.com/DynamoDS/DynamoRevit/pull/653 can we close this?

[2017-06-17 20:24] ksobon commented on #4058
@ikeough this is all happening because DynamoRevit itself is an external command that automatically opens a transaction. Isn't that right? If that's the case than users should not manually create new transactions directly in API without use of `DocumentManager` or if they do so, please make sure that they check if there is a transaction open and close it before starting a new one.

I don't see any

[2017-06-17 20:25] ksobon commented on #3461
CC: @kronz can we close this issue? It was fixed.

[2017-06-17 20:31] ksobon commented on #1039
@marcellosgamb there is an external package called DynamoRebar that has been out for a while. I think that would address the issue here. cc: @kronz can we close this?

[2017-06-17 20:39] ksobon commented on #2081
@marcellosgamb so actually my change was spanked by @mjkkirschner based on the fact that `Cameras` is an obsolete category anyways. We can't just remove it from the list, we shall wait for Autodesk to remove it from the Categories collection altogether. Until then, it stays. Here's the conversation:
https://github.com/DynamoDS/DynamoRevit/pull/1378/commits/0c9fd0ff4c10d00f5187e8c94e901d6a0b1c5d08

[2017-06-17 20:46] ksobon commented on #6006
@dimven so we are at Dynamo 2.0 and none of these were implemented. Can we agree that it won't happen? Hahaha. Let me know if you STILL think these are important updates, and should still be considered. If not, can we close this issue?

@Racel it's all right to tell people straight up that some things will not happen. I am all for being upfront and open about the direction of the software that its

[2017-06-17 20:47] ksobon commented on #7288
@kronz this looks like it was addressed and merged already. Can we close?

[2017-06-17 20:52] ksobon commented on #1131
@jbenoit44 @kronz can we close this issue. What Julien was asking for was perfectly normal behavior. Since then we also enhanced View class so that it offers better View Template handling.

[2017-06-18 14:11] moethu commented on #7982
@ksobon yes the Revit API does not allow that but I don't understand the problem with this workflow - at least we have never experienced any issue with this using this "workaround" and I used it everywhere, in Grevit and various tools. I agree on renaming it but the workaround worked for me so far.

[2017-06-18 14:13] moethu commented on #6525
But then Document.ActiveView is very misleading since its a buffered view from an ActiveView at the time the node has been placed into the canvas.

[2017-06-18 14:58] ksobon commented on #7982
@moethu i don't have anything against the workaround, but it seems to be causing issue:

We are making users believe something that is not true, and then they are disappointed by the shortcomings that stem from this really being a workaround not a solution.

[2017-06-18 15:03] ksobon commented on #6525
Agreed. So let's get @kronz and @mjkkirschner to agree that this should be moved to a `NodeModel` with proper events, and we will also need a Migration strategy for that. Can we assign this to someone and create a task?

[2017-06-18 18:43] mjkkirschner commented on #6525
@ksobon I agree the current behavior if as reported here is not as you would expect.

I think the `nodeModel` approach is one way, - we might also be able to use element binding to the view to kick off another execution, but it doesn't make as much sense as other constructor nodes, and I guess the nodeModel version will be more straight forward.

Does this happen with Dynamo 1.3 or 2.0?

[2017-06-18 18:47] mjkkirschner commented on #7976
Neat! Is there some information on the performance impact of this change?

[2017-06-18 19:07] gtalarico commented on #7976
Some quick timeit tests show a small impact, possibly negligible, but I that's not a proper sample size.
I guess we could do proper benchmarking if the team is interested in pursuing.

If it turns out it has a significant impact, we could always add it as a toggleable option.
PS: Added a sample of the debugger in action at the bottom

[code]

[code]

[code]

![console](https://user-images.githubus

[2017-06-18 19:18] josols commented on #6562
Haven't looked into this in a while, but no, it doesn't seem to be a problem any more. I'll close.

[2017-06-18 19:18] #6562 closed

[2017-06-18 21:16] radumg commented on #7747
Quick question on the schema above : will the `"Nodes": []` array also allow specification of an entire graph as an object, for use with graph orchestration when/if this ships ?

If there is an intention to enable this workflow later on (we absolutely should in my opinion, really need it in practical applications) , would this require the addition of another property at top-level ? Something like

[2017-06-19 02:02] #2081 closed

[2017-06-19 02:42] #6006 closed

[2017-06-19 07:35] nitromechanic16 opened #7984 "No Geometry Showing."
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

Dynamo Studio 1.3.0.875

## Operating system
Windows 10

[2017-06-19 12:34] #1131 closed

[2017-06-19 12:36] #7288 closed

[2017-06-19 12:37] kronz commented on #1039
Agreed, the package functionality exists.  We are trying to keep the out-of-the-box Dynamo for Revit functionality to be as general as possible, which often means staying out of discipline specific tools.

[2017-06-19 12:37] #1039 closed

[2017-06-19 12:38] #3461 closed

[2017-06-19 12:39] #4058 closed

[2017-06-19 12:41] kronz commented on #5069
That's a convoluted thread on that pr, but yes, looks like it was merged a ways back

[2017-06-19 12:41] #5069 closed

[2017-06-19 12:45] kronz commented on #5524
@ksobon We're trying now to not duplicate issues in our internal process until we know (short term) that we are going to work on it.  This is a reasonable addition (makes sense in the larger landscape of functionality and is consistent with it), but not a priority to get on right away (other ways to accomplish the work, resources currently on other priorities)

[2017-06-19 12:46] #5637 closed

[2017-06-19 12:46] #5638 closed

[2017-06-19 13:00] kronz commented on #7982
Interesting . . . we shouldn't be systematizing creation of elements masquerading as other elements.  I agree that it is probably a useful functionality to have, but the introduction of this kind of inconsistency is a problem, as we are seeing in this bug. Now that it is there in the application and in use, it makes it a little bit tricky to remove.
So, the actual behavior is to create an unpublis

[2017-06-19 13:03] kronz opened #7985 "Session Log Missing Information"
Originally filed by @paoloemilioserra
https://github.com/DynamoDS/DynamoRevit/issues/1715
## Dynamo version

1.3.0.875

## Revit version

2017.2
## Operating system

W7

## What did you do?

I monitored the Log file in a Dynamo session, loading DYN files from the hard drive both in automatic and manual mode.

## What did you expect to see?

 "Original file " with the name of the graph for each fil

[2017-06-19 13:34] jnealb commented on #7969
@KimberleyR After loading the Package "Beaker" the ElementFiletr.ByNameContains node is resolved and returns correct results. Missing from your graph is the final custom node: "Element.SetParameterByName(CaSe iNSeNSiTiVe)" so I can not tell if it working as expected.

[2017-06-19 13:36] Racel commented on #6006
@ksobon @dimven - As you may know, we are currently working on the next generation UI/UX of Dynamo and some of the features mentioned above have/are being considered. It is unlikely that what we are working on will be released for production in 2.0, but just know that the thoughts/ideas in here will likely show up in the newer UI.

I see that @dimven has already closed this issue for now and that

[2017-06-19 14:08] jnealb commented on #7984
@nitromechanic16 This may be a known issue: do you also have Revit installed on the same machine? Did you upgrade to Studio 1.3?

[2017-06-19 14:16] andydandy74 commented on #7982
d) Remove the node and add a migration to Parameter.CreateSharedParameter which seems to do exactly what is expected.

And speaking about Parameter.CreateSharedParameter:
* Cherry on top would be to have an additional boolean input to make params invisible (like in the archi-lab implementation of this functionality.
* And if I had another wish, it would be this: Another optional input (string) for

[2017-06-19 14:26] ksobon commented on #7982
@andydandy74 if you post this as a new Issue, then I can have a look at making these changes.

@kronz Yeah, I think we should remove this one. It really gives users a bad idea about something that is not possible.

[2017-06-19 15:15] smangarole commented on #309
@Racel - This needs your input. Can you please comment/update?
Ping @kronz.

[2017-06-19 15:19] Racel commented on #309
@smangarole - This is already in the backlog. We started this task in the new Web UI, and will return to it in the upcoming sprints.

There are probably several issues filed related to this. Please leave one of them open and just reference the other closed tasks, if possible.

[2017-06-19 15:20] smangarole commented on #326
@Racel and @kronz - Can you please update this in light of the ongoing package manager development?
Can we close this?

[2017-06-19 15:25] Racel commented on #326
@smangarole - This functionality will need to re-evaluated in the new UI/backend. Why don't we close this for now.

[2017-06-19 15:25] #326 closed

[2017-06-19 15:28] smangarole commented on #355
This issue will be addressed when we process all D4R issues.
Thanks.

[2017-06-19 15:38] smangarole commented on #439
@andydandy74 @mjkkirschner @kronz - Looks like there's a workaround for this issue and also a package is available, based on the conversation. Can we close this issue?

[2017-06-19 15:55] smangarole commented on #481
@Racel and @kronz - Can you please update this in light of the ongoing package manager development?
Can we close this?

[2017-06-19 15:57] smangarole commented on #482
@Racel and @kronz - Can you please update this in light of the ongoing package manager development?
Can we close this?

[2017-06-19 16:57] smangarole commented on #4262
@monikaprabhu - Are we tracking this issue?

[2017-06-19 17:00] smangarole commented on #4852
Closing this issue based on the discussion above. @lillismith @jnealb @misterBIM

[2017-06-19 17:01] #4852 closed

[2017-06-19 17:04] smangarole commented on #5070
Cannot reproduce this issue. @jnealb Please note. Will re-open if it happens again.
Thanks.

[2017-06-19 17:04] #5070 closed

[2017-06-19 17:06] smangarole commented on #5097
We don't have enough information to work on this issue. Closing for now. Will re-open if necessary.
Thanks.

[2017-06-19 17:06] #5097 closed

[2017-06-19 17:20] smangarole commented on #5244
@ke-yu Any updates on this?

[2017-06-19 17:25] smangarole commented on #5270
@jnealb - I think this is a non-issue now that we have a newer dynamo version. Any inputs from your side?

[2017-06-19 17:33] smangarole commented on #5360
We have released a new version of Dynamo. This issue has been waiting for feedback for almost a year. Closing the issue due to these reasons. Please reopen if this issue resurfaces.

[2017-06-19 17:33] #5360 closed

[2017-06-19 17:36] smangarole commented on #5270
@andydandy74 - I am catching up on the issue list. Search seems to be working fine for me. Are you still experiencing this issue?

[2017-06-19 17:40] smangarole commented on #2160
@vykrum We have released a new version of Dynamo since this issue was opened. The issue has been waiting for feedback for almost a year. Closing due to these reasons. Please reopen if this issue resurfaces.

[2017-06-19 17:40] #2160 closed

[2017-06-19 17:46] smangarole commented on #3423
Thanks for the feedback @andydandy74. Will prioritize this one.

[2017-06-19 17:46] smangarole commented on #3423
@jnealb Please note

[2017-06-19 17:52] smangarole commented on #4262
We have released a new version of Dynamo since this issue was opened. The issue has been waiting for feedback for almost a year. Closing due to these reasons. Please reopen if this issue resurfaces.

[2017-06-19 17:52] #4262 closed

[2017-06-19 17:54] smangarole commented on #4527
The issue has been waiting for feedback for almost a year. Closing due to this reason. Please reopen if this issue resurfaces.

[2017-06-19 17:54] #4527 closed

[2017-06-19 17:57] smangarole commented on #5525
We have released a new version of Dynamo since this issue was opened. The issue has been waiting for feedback for almost a year. Closing due to these reasons. Please reopen if this issue resurfaces.

[2017-06-19 17:57] #5525 closed

[2017-06-19 17:58] smangarole commented on #5714
We have released a new version of Dynamo since this issue was opened. The issue has been waiting for feedback for almost a year. Closing due to these reasons. Please reopen if this issue resurfaces.

[2017-06-19 17:58] #5714 closed

[2017-06-19 17:59] smangarole commented on #4086
The issue has been waiting for feedback for almost a year. Closing due to this reasons. Please reopen if this issue resurfaces.

[2017-06-19 17:59] #4086 closed

[2017-06-19 18:00] smangarole commented on #4192
The issue has been waiting for feedback for almost a year. Closing due to this reason. Please reopen if this issue resurfaces.

[2017-06-19 18:00] #4192 closed

[2017-06-19 18:02] smangarole commented on #5750
The issue has been waiting for feedback for almost a year. Closing due to this reason. Please reopen if this issue resurfaces.

[2017-06-19 18:02] #5750 closed

[2017-06-19 18:26] jnealb commented on #5270
@smangarole Yes, there is a recent one for havard@snohetta.com who experienced it with 1.3 in April:

"Hey guys. Starting work this week, I manually deleted all previous version folders in \AppData\Roaming\Dynamo\Dynamo Revit and (1.0, 1.1 & 1.2) and Search greatly improved. The only package that stopped working (I think) was Bumblebee, and I’ve let Konrad know.

So all is good atm. Would be aweso

[2017-06-19 18:26] #5270 closed

[2017-06-19 18:28] jnealb commented on #5070
@smangarole Agreed; the last several times this was seen was because the Package Manager server had crashed.

[2017-06-19 18:44] andydandy74 commented on #5270
Agreed. Haven't seen this come up on any fresh installs.

[2017-06-19 18:50] smangarole commented on #5812
The issue has been waiting for feedback for almost a year. Closing due to this reason. Please reopen if this issue resurfaces.

[2017-06-19 18:50] #5812 closed

[2017-06-19 18:51] smangarole commented on #5838
We have released a new version of Dynamo since this issue was opened. The issue has been waiting for feedback for almost a year. Closing due to these reasons. Please reopen if this issue resurfaces.

[2017-06-19 18:51] #5838 closed

[2017-06-19 18:52] smangarole commented on #5925
The issue has been waiting for feedback for almost a year. Closing due to this reason. Please reopen if this issue resurfaces.

[2017-06-19 18:52] #5925 closed

[2017-06-19 18:53] smangarole commented on #6151
We have released a new version of Dynamo since this issue was opened. The issue has been waiting for feedback for almost a year. Closing due to these reasons. Please reopen if this issue resurfaces.

[2017-06-19 18:53] #6151 closed

[2017-06-19 18:54] smangarole commented on #6448
We have released a new version of Dynamo since this issue was opened. The issue has been waiting for feedback for almost a year. Closing due to these reasons. Please reopen if this issue resurfaces.

[2017-06-19 18:54] #6448 closed

[2017-06-19 18:54] smangarole commented on #6531
We have released a new version of Dynamo since this issue was opened. The issue has been waiting for feedback for almost a year. Closing due to these reasons. Please reopen if this issue resurfaces.

[2017-06-19 18:54] #6531 closed

[2017-06-19 18:55] smangarole commented on #6684
The issue has been waiting for feedback for almost a year. Closing due to this reason. Please reopen if this issue resurfaces.

[2017-06-19 18:55] #6684 closed

[2017-06-19 18:59] smangarole commented on #6803
I cannot reproduce this in latest Dynamo Studio (1.3.0). Closing this issue.

[2017-06-19 18:59] #6803 closed

[2017-06-19 19:03] smangarole commented on #6851
Cannot reproduce in Dynamo Studio 1.3.0. Closing.

[2017-06-19 19:03] #6851 closed

[2017-06-19 19:07] smangarole commented on #7011
Thanks @cjm771 - I can reproduce.

[2017-06-19 19:10] andydandy74 commented on #439
@smangarole This workaround is very, very hacky. Since paneling is a fairly common scenario in Dynamo, I think a good UV distribution algorithm should be available OOTB.

[2017-06-19 19:15] andydandy74 commented on #7982
@ksobon Done.
https://github.com/DynamoDS/DynamoRevit/issues/1718

[2017-06-19 19:16] smangarole commented on #7030
@haninh2612 Can you please verify if you are still seeing this issue? We fixed this issue and should be available in Dynamo 1.3.0.

Closing this issue. Please re-open if it resurfaces.
Thanks.

[2017-06-19 19:16] #7030 closed

[2017-06-19 19:17] smangarole commented on #7292
The issue has been waiting for feedback for almost a year. Closing due to this reason. Please reopen if this issue resurfaces.

[2017-06-19 19:17] #7292 closed

[2017-06-19 19:21] smangarole commented on #7275
The issue has been waiting for feedback. Closing due to this reason. Please reopen if this issue resurfaces.

[2017-06-19 19:21] #7275 closed

[2017-06-19 19:23] smangarole commented on #7109
@alexshovelton Can you still reproduce this issue?

[2017-06-19 19:46] smangarole commented on #439
@andydandy74 Thanks. Will get teams attention on this one.

[2017-06-19 20:04] alexshovelton commented on #7109
Hi,

I've completely rewritten the graph since, and no longer get that error. I'll test it at some point and get back to you.

On 19 Jun 2017, at 20:24, smangarole <notifications@github.com<mailto:notifications@github.com>> wrote:

@alexshovelton<https://github.com/alexshovelton> Can you still reproduce this issue?

—
You are receiving this because you were mentioned.
Reply to this email directly,

[2017-06-19 20:25] KimberleyR commented on #7969
@jnealb Sounds great! I will update beaker. I am guessing that Dynamo 1.3. will work fine :)
I will see what is output from the update. Hopefully it is all resolved. I will let you know. Thank you for your help!! :)

[2017-06-19 21:52] KimberleyR commented on #7969
Hi there @jnealb GREAT NEWS!!! I have deleted the old nodes for ElementFilter.ByNameContains and re-mapped them and re-input a new node for the "Element.SetParameterByName(CaSe iNSeNsSiTiVe)" and it worked!!! Yay!
I am a little surprised as I used this node only a week ago and it seemed to work fine, but not to worry; all is well and its back up and running!!! Thank you so much for your help! It i

[2017-06-20 02:04] maciejwypych commented on #7964
It's been resolved with latest update of Dynamo Studio

[2017-06-20 02:04] #7964 closed

[2017-06-20 08:10] aparajit-pratap commented on #7465
@jhubers did you mean like this:
[code]
: this will throw a warning

[2017-06-20 08:22] aparajit-pratap commented on #7109
@alexshovelton we're closing this issue for now. Please let us know if you encounter this again.

[2017-06-20 08:22] #7109 closed

[2017-06-20 08:23] jhubers commented on #7465
I found out that to avoid showing a variable as input, you have to declare and set the value in both the associative part and again in the imperative part. But what is the logic of it? Example:
![image](https://user-images.githubusercontent.com/1529297/27323536-2c2fef38-55a2-11e7-993a-3a5830fff27f.png)

[2017-06-20 13:52] jnealb commented on #7969
You are welcome @KimberleyR , happy Dynamo'ing!

[2017-06-20 13:52] #7969 closed

[2017-06-20 16:27] smangarole commented on #7778
We will be working on this and will be adding a task in the backlog.

[2017-06-20 16:42] smangarole commented on #5719
@Randy-Ma - Can you please comment on how difficult is the fix? We are trying to figure out if we should be working on this issue.

[2017-06-20 18:23] Racel commented on #482
We can do this.

[2017-06-20 18:23] #482 closed

[2017-06-20 18:25] Racel commented on #481
We are working on a new backend and UI for package manager. The suggestions in this task are being considered, but I am closing now as we don't have any immediate actions we can take.

[2017-06-20 18:25] #481 closed

[2017-06-20 21:42] nitromechanic16 commented on #7984
I upgraded studio to 1.3, but for some reason Revit will not upgrade. I have tried uninstalling and then reinstalling with 1.3 and it still installs the older version.

[2017-06-21 02:09] vykrum opened #7991 "Error Report 20170621"
## Dynamo version
1.3.0

## Operating system
Windows 7

## What did you do?
Working on a relatively complex code block with multiple nested functions

## What did you expect to see?
The expected outcome (takes a while to process)

## What did you see instead?
![20170621-1](https://user-images.githubusercontent.com/5621624/27363891-b96638dc-5654-11e7-8fa6-e3464719c443.png)

[code]

[2017-06-21 03:29] ke-yu commented on #7465
@jhubers we should fix this.

[2017-06-21 05:02] haninh2612 commented on #7030
Hi,

I would like to confirm that problem was fixed :).
Thank you for all of your supports.

Best Regards,

*Ninh *Truong Huu Ha

*BIM LeaderFounder of www.revitandbim.com
<http://www.revitandbim.com>Mobile: +84 972362712Linkedin:
www.linkedin.com/in/ninhtruong <http://www.linkedin.com/in/ninhtruong>*

On 20 June 2017 at 02:16, smangarole <notifications@github.com> wrote:

[2017-06-21 06:36] erfajo opened #7992 "Delete this issue"
Please delete this issue...

[2017-06-21 10:48] AndrewHeumann opened #7993 "unable to unfreeze node"
during some workshops at AU london, a bug affected a number of users. The "unfreeze" option was greyed out - to solve, users had to freeze something upstream and then unfreeze it again - then unfreeze was made available again. Possibly related to [7965](https://github.com/DynamoDS/Dynamo/issues/7965). occurred in both dynamo studio and dynamo for revit version 1.3 up to date as of today.

[2017-06-21 10:49] AndrewHeumann commented on #7993
no circular dependencies in this case - just a normal graph from Dieter Vermeulen's workshop.

[2017-06-21 11:00] AndrewHeumann opened #7994 "improvement: "Run Preview" on by default in manual mode"
"Run Preview" is such a useful feature - visually indicating which components will recalculate on run - it should be automatically turned on by default when a dyn is in Manual run mode.

[2017-06-21 11:00] AndrewHeumann opened #7995 "improvement: UI indication of nodes that transact with revit document"
There is such a substantive difference in how users have to think about normal nodes versus nodes that interact with the revit DB - specifically those that perform actions in transactions. It would be nice if there was a visual indication wherever nodes utilize Revit transactions in order to give a user a heads up that this node will affect the model.  This would be especially useful in tandem wit

[2017-06-21 12:24] erfajo commented on #7992
**Documentation**
You can not see the package if you dont have it preinstalled... and if it is preinstalled, then you can just use right click.

Archi-lab installed...
![test1](https://user-images.githubusercontent.com/2844374/27383894-2de4a83c-568d-11e7-8634-19c28e52d477.png)

Archi-lab NOT installed...
![test2](https://user-images.githubusercontent.com/2844374/27383898-313e0262-568d-11e7-9c81-eb

[2017-06-21 14:47] jnealb commented on #7993
@AndrewHeumann Is it possible for you to provide us with this graph?

[2017-06-23 21:47] crwinchester opened #8005 "Uniform Scale | API_Failed"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## 1.3

(Which version of Dynamo are you using? Go to Help > About if you'r

[2017-06-25 19:51] nitromechanic16 commented on #7984
@jnealb update: I have revit 2017 installed. I have removed the earlier dyanmo version and installed 1.3 for revit and dynamo studio and still no luck.

[2017-06-25 20:37] nitromechanic16 commented on #7984
@jnealb I have uninstalled revit and in in-installed/ reinstalled dynamo to no avail.

[2017-06-26 14:46] smangarole commented on #6198
@claudioarchi Any updates on this one?

[2017-06-26 14:48] smangarole commented on #6199
@brianringley @AndrewHeumann - Is this still an issue with the latest version of Dynamo?

[2017-06-26 14:59] smangarole commented on #6390
@cezlip and @redinkinc - I cannot reproduce this with the latest version of dynamo. Can you please confirm?

[2017-06-26 15:04] #6198 closed

[2017-06-26 15:07] #6199 closed

[2017-06-26 15:09] #6390 closed

[2017-06-26 15:11] smangarole commented on #6593
We have seen this happen sporadically but we do not have concrete steps to reproduce. We are working on making changes in the language, which means that the behavior may change. Closing this one for now.

[2017-06-26 15:11] #6593 closed

[2017-06-26 15:15] smangarole commented on #6393
We are making language changes and looking at new alternatives to ScopeIf. Also, we are unable to reproduce this issue with the latest version of Dynamo. Closing for now. Please open a new issue if you can reproduce with Dynamo 1.3.0.

[2017-06-26 15:15] #6393 closed

[2017-06-26 15:31] DanielHurtubise commented on #5277
.... may 4th 2016... :)
Can we merge both or should i jsut delete it?

[2017-06-26 15:33] cforneris commented on #7907
+1

[2017-06-26 16:43] jnealb commented on #7984
@nitromechanic16 I am on vacation now, pulling in @smangarole to follow up..

[2017-06-26 23:43] ThomasMahon opened #8008 "Show Edges setting causes blank Geometry View"
## Dynamo version

1.3

## Operating system

Win 10

## What did you do?

Switched on the Show Edges setting from the Settings tab.

## What did you expect to see?

Wasn't sure what it did, but wanted to find out by selecting it.

## What did you see instead?

The geometry view goes blank

Before setting is selected:
![image](https://user-images.githubusercontent.com/18601851/27564727-93b836b8-5ad

[2017-06-27 06:40] andydandy74 opened #8011 "Feature request: Expose method to query current Dynamo workspace path using DesignScript/Python"
## Dynamo version

Any

## Operating system

Windows 7

## Feature Request

I'd like to have access to the full path of the currently loaded workspace. The only way I know of achieving this presently is to first save the graph in Dynamo and only then run it and have it examine the Dynamo log.

Use case: I'd like to look for other files in the same folder as the current Dynamo workpace.

[2017-06-29 11:59] ThomasMahon commented on #7848
Can I get an update on this if possible? Its still a major problem for one of my clients.

[2017-06-30 04:42] aparajit-pratap commented on #8008
@ThomasMahon could you share the graph you're using? I was able to reproduce this with the latest build, 2.0 (which you must not be having), but not with 1.3?

[2017-06-30 11:36] ThomasMahon commented on #8008
@aparajit-pratap I just recreated the problem using Revit 2017 and the attached graph (extension changed to txt to upload). Dynamo version:
![image](https://user-images.githubusercontent.com/18601851/27733853-3ac01230-5d90-11e7-87f8-c3ff5482d028.png)

[Geometry disappearing when Show Edges setting on.txt](https://github.com/DynamoDS/Dynamo/files/1114964/Geometry.disappearing.when.Show.Edges.settin

[2017-07-03 03:13] ksobon commented on #7994
I don't agree. Sure, it's a useful feature, but it just so happens to be useful when you need it. I have never found any use for it, so I would love not have it shoved down my throat for no reason.

[2017-07-03 03:40] AndrewHeumann commented on #7994
It's an orange outline, get over it

[2017-07-03 03:47] ksobon commented on #7994
Well i don't like orange. Baby blue or no deal.

[2017-07-03 03:48] AndrewHeumann commented on #7994
I'll take it

[2017-07-03 15:30] ksobon commented on #1075
@kronz I think it's safe to close this particular issue. There were major improvements made to this functionality since as well as ability to select BuiltInParameters which would be the recommended route here.

[2017-07-03 15:32] ksobon commented on #2230
@jbenoit44 @kronz since this post was made a readme page has been updated and it now offers directions on how to build the source. Can we close this?

[2017-07-03 15:34] ksobon commented on #2985
This will be fixed here: https://github.com/DynamoDS/DynamoRevit/pull/1711 cc: @kronz

[2017-07-03 16:08] ksobon commented on #3952
This seems to be working just fine in 1.3

![image](https://user-images.githubusercontent.com/529781/27800639-48fd29aa-5fe8-11e7-8d58-52f13cb1e9f8.png)

@kronz can we close this issue?

[2017-07-03 17:34] jbenoit44 commented on #2230
sure

[2017-07-03 17:34] #2230 closed

[2017-07-04 09:08] vykrum opened #8023 "L error"
## Dynamo version
1.3.0.875

## Operating system
Windows 7

## What did you do?
Typed 'L' in a code block

## What did you expect to see?
L to be recognized as a variable

## What did you see instead?
![l](https://user-images.githubusercontent.com/5621624/27823341-673b09a8-60c6-11e7-9859-f0d796c72556.png)

[2017-07-04 12:08] andydandy74 commented on #8023
@vykrum - I think ```L``` is a reserved word since it can be used in replication guides for setting Longest lacing:
![lisreserved](https://user-images.githubusercontent.com/3014437/27829475-16fc1396-60c2-11e7-8d00-5e2e32631618.PNG)

[2017-07-04 15:22] vykrum commented on #8023
@andydandy74 Thanks. Makes sense.

[2017-07-05 14:10] TravisMWilliams commented on #7984
Same problem here. Trying out the trial to see if it is something we want to purchase. No background preview is a deal breaker for me.

[2017-07-05 22:17] nitromechanic16 commented on #7984
So, it appears you must update the Dynamo via the app manager to install the 2017.4 update. This seems to fix the issue. However, attempts to download the 2017.5 update seem to create an error in the app manager. The important this is that I can see geometry now!

[2017-07-07 08:24] OliverEGreen opened #8027 "Feature Request: Pin tool to organise wires"
## Dynamo version
Whenever possible

## Operating system
Windows 7

## Feature

@Racel

It would be great if Dynamo had a native 'pin' tool to help us lock wires in place. This would help create more legible graphs and avoid the problem of giant 'spaghetti' definitions.

![pins](https://user-images.githubusercontent.com/29973601/27949358-568f3e36-62f5-11e7-845a-d928ebb20ffe.PNG)

Currently, as a w

[2017-07-07 18:35] gtalarico opened #8028 "Cannot Open Python Node"
## Version

1.3

## Operating system

Windows 10

## What did you do?

Tried opening Python Node.

## What did you see instead?

[code]

[2017-07-07 19:04] #3952 closed

[2017-07-07 19:05] #1075 closed

[2017-07-08 15:11] taurerm opened #8030 "Parameter.StorageType not working as expected"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.3.0.875

## Operating system

Windows 10

## What did

[2017-07-08 23:19] ksobon commented on #8030
@mjkkirschner this is an interesting one. The `Parameter` wrapper that we have doesn't catch this case. Basically they cover `Autodesk.Revit.DB.Parameter` class, while this is a wrapper class for user created parameters stored in the project. Also, `ParameterElement` inherits from an `Element` thus our internal wrapper just used the `UnknownElement` wrapper on it. That makes the `Parameter.Name` a

[2017-07-08 23:26] ksobon commented on #8030
@taurerm what are you trying to accomplish? I am afraid that Parameter and ParameterElement are not the same thing in Revit. There is no functionality supporting ParameterElement yet. Maybe I can think of some workaround if you tell me what your end goal is.

[2017-07-09 11:11] taurerm commented on #8030
The way I'll try to resolve is to iterate through all categories, get the info there and then pull out individual items per parameter ID...

Sent from my iPhone

On 9 Jul 2017, at 01:26, Konrad K Sobon <notifications@github.com> wrote:

@taurerm what are you trying to accomplish? I am afraid that Parameter and ParameterElement are not the same thing in Revit. There is no functionality supporting P

[2017-07-09 15:44] ksobon commented on #8030
I don't follow. Please provide a detailed workflow description.

[2017-07-09 16:29] taurerm commented on #8030
I'll send my graph tomorrow- basically I want to write out all shared parameter bindings to Excel, edit them there, and recreate them in an empty project.
So far I got it all sorted using InternalDefinition in Python except Instance/Type... for that I need to go the extra way of iterating through all Types, get all parameter bindings and ID > unique items > sort by ID to get the lists in sync

Sen

[2017-07-09 16:33] taurerm commented on #8030
Sample here - this post illustrates the issue
https://www.linkedin.com/feed/update/urn:li:activity:6289496777401995264
Sent from my iPhone

On 9 Jul 2017, at 17:44, Konrad K Sobon <notifications@github.com> wrote:

I don't follow. Please provide a detailed workflow description.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread

[2017-07-09 17:44] taurerm commented on #8030
And this is the Dynamo - finally on the Hotel WiFi...
WriteSharedParametersToExcel.dyn - this one works, but I can't determine if
it is a Type or Instance

My experimental one is: SharedParametersWIP.dyn - see how everything goes
haywire after applying Element.Parameters to All Elements of Parameter Type
[image: Inline image 1]
The output is - well, quite a surprise...

Cheers
Martin

Martin Taure

[2017-07-10 12:41] Racel commented on #8027
Thanks for submitting this @OliverEGreen. This is a good idea, but I am not sure when it will make it into the new UI. By you creating this issue, I was able to add it to our UX/UI backlog for future consideration.

But, after close examination of our backlog we have a considerable amount of other higher priority tasks that we have to get done before this. Since we will likely not take this on in

[2017-07-12 11:33] radumg commented on #7977
Hi Dave,

I've submitted a PR to introduce a node that can `AppendText`.

You'll notice I opted for adding a node instead of providing that switch to mitigate against inexperienced users not knowing what that does and potentially overwriting files.
I believe this is much clearer, but doesn't overload core library with too many nodes, let's see what Dynamo team thinks.

Radu

[2017-07-12 13:09] smangarole commented on #4529
Closing this issue based on the conversation above.

[2017-07-12 13:09] #4529 closed

[2017-07-12 13:11] #4131 closed

[2017-07-12 13:12] smangarole commented on #4131
Please open a new issue if there's an actual bug.

[2017-07-12 13:13] smangarole commented on #3856
This is not a bug. Closing the issue.

[2017-07-12 13:13] #3856 closed

[2017-07-12 13:30] smangarole commented on #7045
@regnstr Please check Dynamo 1.3.0. Please open a new issue if you are still experiencing the sluggishness. Thanks.

[2017-07-12 13:30] #7045 closed

[2017-07-13 19:04] Racel commented on #7976
After talking with @mjkkirschner, performance looks ok, and we would like to move forward with this. Can you submit a PR?

[2017-07-14 07:08] epeter- opened #8038 "Doc.ParameterBindings"
dynamo 4 revit 2017

## Dynamo version

1.3

## Operating system

Win10
## What did you do?
following python code:
.....
`doc =  DocumentManager.Instance.CurrentDBDocument
app =  DocumentManager.Instance.CurrentUIApplication.Application
instlist = []
typelist = []
instlist.append("I N S T A N Z P A R A M E T E R")
typelist.append("T Y P E P A R A M E T E R")
bindings = doc.ParameterBindings
n = bi

[2017-07-14 08:20] FabioDeAgostini opened #8039 "Crash on CodeBlock insert"
## Dynamo version
1.3

## Operating system

win 7

## What did you do?

just place a code block

## What did you expect to see?

a normal code block

## What did you see instead?

a code block with a blank row more, and the message pasted below

Method not found: 'Void ICSharpCode.AvalonEdit.Editing.TextArea.ClearSelection()'.

   at Dynamo.UI.Controls.CodeCompletionEditor.OnTextAreaLostFocus(Obje

[2017-07-14 11:21] teocomi commented on #3451
Just wanted to bump this issue, it's still happening in Dynamo 1.3.
It would be nice to get the original geometry when decomposing a polycurve:

![image](https://user-images.githubusercontent.com/2679513/28210342-c27acbd0-688e-11e7-8ee8-62bc7d8919aa.png)

[2017-07-17 15:07] smangarole commented on #7140
@tayday01 We visited this sometime back. Right now we will not be tackling this issue for the upcoming release. Closing this ticket for now.

Thanks.

[2017-07-17 15:07] #7140 closed

[2017-07-17 15:13] smangarole commented on #6985
@schmiedman We have recorded this issue in our bug tracking system. It's in our backlog. Will be working on it in our next generation UI.
Closing this issue.

[2017-07-17 15:13] #6985 closed

[2017-07-17 15:24] smangarole commented on #6834
@vykrum The original issue is fixed and will be available in the next release with the exception of truncating the warning message, which we don't plan on fixing. Users can tell which nodes are in a warning/error states based on the color of the nodes.

Closing this issue. Thanks.

[2017-07-17 15:24] #6834 closed

[2017-07-17 15:40] smangarole commented on #6823
@KirilLukyanenko Added this issue to our list of backlog. We will try and get the fix in for the next release.

[2017-07-17 15:50] smangarole commented on #6810
@vykrum @andydandy74 I am investigating this issue. We cannot reproduce this issue in latest master but I do see it in 1.3.0. The issue might have been fixed on master. I will send an update soon.

Thanks.

[2017-07-17 16:24] ButtonWalker opened #8044 "Error Trying to update Scripts"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

(1.3.0.875)

## Operating system

(Windows 10)

## What

[2017-07-17 20:39] CBTIT opened #8045 "Set Custom Package Folder during install?"
Hi I was looking to see if there was a way to set the CustomPackageFolder during the install process. I am an admin that is trying to deploy Dynamo and if this could be set either through the install that would make deployment a lot easier.

I already know that this can be changed in the dynamosetting.xml file but that is located in a user profile and does not get created until Dynamo is launched

[2017-07-18 04:12] QilongTang commented on #8045
@sharadkjaiswal Do you think it's possible?

[2017-07-18 04:13] aparajit-pratap commented on #8008
It seems to be happening only with Dynamo running on Revit for versions 1.3 onwards.

[2017-07-18 17:44] jnealb commented on #8005
@aparajit-pratap Is this filed in JIRA?

[2017-07-18 17:57] jnealb commented on #8011
@Racel @kronz @smangarole Have we filed a task for this?

[2017-07-18 18:07] Racel commented on #8011
@andydandy74 - are you looking for a relative path node? or are you actually looking for an API method that you can use?

@jnealb - AFAIK, there is no task for this in the backlog. I would like to get a better understanding of the use case here before filing.

[2017-07-18 18:35] jnealb commented on #8008
@aparajit-pratap Is this filed in JIRA?

[2017-07-18 18:46] #8023 closed

[2017-07-18 19:02] jnealb commented on #8028
@gtalarico Does this error still reproduce for you?

[2017-07-18 19:54] jnealb commented on #6810
@vykrum @andydandy74 @smangarole This is fixed with D4R 2.0.0.5492.

[2017-07-18 19:54] #6810 closed

[2017-07-19 04:17] andydandy74 commented on #6810
@jnealb good to hear. Any chance we'll see a return of daily builds any time soon?

[2017-07-19 04:23] andydandy74 commented on #8011
@Racel Need the absolute path of the current workspace so I can get the workspace directory (and its contents). No need for a node. API access through DesignScript or Python would suffice.

[2017-07-19 06:17] aparajit-pratap commented on #8008
@jnealb, no it's not. Where are new DynamoCore issues being filed including geometry? @pboyer and I were discussing where to transfer the pending geometry and language tasks from "DYN-SG" JIRA dashboard to so that they can be tracked by the larger Quantum team.

[2017-07-19 15:52] Racel commented on #8011
@andydandy74 - We are trying to determine if this is something we will consider taking on. There was a decision made early on to have a clear separation between workspace and node. This potentially blurs this line.

In order for us to move forward with this, we need to understand the specific use cases you are trying to solve. After you get the other files in the workspace directory, what do you p

[2017-07-19 16:05] jnealb commented on #7848
@ThomasMahon As we are unable to reproduce this in-house would it be possible for us to remote into your environment for debugging purposes?

[2017-07-19 17:30] jnealb commented on #8044
@ButtonWalker We are unable to reproduce this on Win10 with Studio 1.3. Question: what version(s) of Python do you have installed?

[2017-07-19 17:53] joshmoorePW commented on #7921
Hi I'm curious if there is any work being done on this.  Another use case is automation of dynamo runs with services like Imaginit Clarity.  Having the ability to tell Excel to open read only, or when it creates an excel file to save and close it can circumvent lot's of problems.  I hope that helps the use case.

[2017-07-19 22:22] pabloderen commented on #8028
Same issue with Dynamo 1.30.875

[2017-07-20 04:23] andydandy74 commented on #8011
I'd like to use them in the graph without having the user locating them by means of a File Path node. Examples would be excel files, CSV files, text files, images or families that are specific to that particular graph and do not need to be changed by the user. The graph directory could then be moved anywhere without having to redefine those paths.

[2017-07-20 09:19] ThomasMahon commented on #7848
@jnealb that is possible. Its for one of my clients and they are happy for you to connect to their network via TeamViewer (or similar if you have a preference). Time zone is UK/GMT in London, so name a time thats convenient and we can arrange a time/date to set up the session.

[2017-07-20 14:10] jnealb commented on #8028
@pabloderen What versions of Python are installed on your system?

[2017-07-21 13:10] pabloderen commented on #8028
I had Python 3.6 and IronPython 2.7.7.
Everything worked after removing Python, Iron Python, PyRevit, Revit Python Shell and Dynamo (0.9 and 1.3). Once I removed all those, I reinstalled Dynamo 1.3, RPS and PyRevit - in that order - without problem. Same versions I had before.

[2017-07-21 17:53] taurerm opened #8053 "Crash when trying to put a string into a code block"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.3.1.1736
## Operating system

Windows 10

## What did

[2017-07-25 03:39] xuhaozheng opened #8058 "How to convert Dynamo list to a N-dimensional array in C#"
## Dynamo version

1.3.0

Hi, I'm trying to discretize points on surface by UV into a 2D array in C# for some algorithm, simple code like  this:
![image](https://user-images.githubusercontent.com/28526120/28554628-1c0f57aa-712d-11e7-9a3e-70be39181ae5.png)
As can be seen in Dynamo:
![image](https://user-images.githubusercontent.com/28526120/28554658-4820d6e8-712d-11e7-9caa-15cfbb4ee71e.png)
The res

[2017-07-27 14:31] pierramo opened #8064 "Dynamo Crash"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

(Which version of Dynamo are you using? Go to Help > Abo

[2017-07-27 18:25] smangarole commented on #8064
@pierramo Can you please provide more details about this crash?

[2017-07-27 18:31] smangarole commented on #8053
@taurerm - Can you please provide more details about the crash? Steps to reproduce?

[2017-07-27 18:47] mjkkirschner commented on #8058
Seems you just want to use something like toList() or ElementAt() on your Ienumerable, I think the Dynamo list implement the .net IList interface.

[2017-07-27 19:16] smangarole commented on #6681
Currently we are working on 2.x and search is not part of the scope. We will work on Search in the next generation of Dynamo.

Please go through this blog post for more information: http://dynamobim.org/whatre-they-building-in-there/

Thanks.

[2017-07-27 19:16] #6681 closed

[2017-07-27 19:19] smangarole commented on #6691
We are working on the next generation UI for Dynamo. This issue is listed in our backlog and will be prioritized.

Please go through this blog post for more information on what's happening with the Dynamo Project: http://dynamobim.org/whatre-they-building-in-there/

Thanks.

[2017-07-27 19:19] #6691 closed

[2017-07-27 19:23] smangarole commented on #6650
@josols This issue is fixed in Dynamo 1.3. Closing this issue.

[2017-07-27 19:23] #6650 closed

[2017-07-27 19:33] taurerm commented on #8053
I cashed while opening a code block and wanted to have "#" as a string
deliminator

On Jul 27, 2017 20:31, "smangarole" <notifications@github.com> wrote:

[2017-07-27 19:34] smangarole commented on #6642
@AndrewHeumann This is a minor flaw, which may be useful in some cases. We will won't be fixing this issue.
Thanks,
Sid

[2017-07-27 19:34] #6642 closed

[2017-07-27 19:49] smangarole commented on #6640
@ThomasMahon We won't be working on WPF (UI) improvements for now.

Please go through this blog post for more information on what's happening with the Dynamo Project: http://dynamobim.org/whatre-they-building-in-there/

[2017-07-27 19:49] #6640 closed

[2017-07-27 19:53] smangarole commented on #6631
@AndrewHeumann I cannot reproduce this issue. Closing this issue.

[2017-07-27 19:53] #6631 closed

[2017-07-27 19:55] smangarole commented on #6630
@AndrewHeumann Since we are not able to reproduce this issue, closing it.

[2017-07-27 19:55] #6630 closed

[2017-07-27 19:59] smangarole commented on #6570
@kidasse @tayday01 I was not able to reproduce this issue with the latest Dynamo. Closing this issue.
Thanks.

[2017-07-27 19:59] #6570 closed

[2017-08-02 06:00] milotindragos opened #8077 "DynamoCLI.Exe - Error - Unhandled Exception"
## Dynamo version
Dynamo Core 1.3.1.1736
## Operating system
Windows 10
## What did you do?
Use DynamoCLI.Exe to run tasks in the background.
"C:\Program Files\Dynamo\Dynamo Core\1.3\DynamoCLI.exe" -o "Z:\Desktop\CMD-Test\CMD-Test2.dyn" /s "all"
When running the graph with Revit open and via Dynamo everything works perfectly.
## What did you expect to see?
Write data to excel file
## What did you

[2017-08-02 19:43] kraftwerk15 opened #8079 "Crash on Completing Code Block"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.3.1.1736

## Operating system

Windows 7

## What did

[2017-08-02 19:47] jnealb commented on #8079
@kraftwerk15 This may be the issue described in https://forum.dynamobim.com/t/dead-code-block-nodes-in-d4r/8132. Can you please take a look?

[2017-08-02 19:58] kraftwerk15 commented on #8079
@jnealb Moving ICSharpCode.AvalonEdit.dll and running did not work. Also, test if renaming, per the post request, would fix it and it did not still receiving the crash.

[2017-08-03 01:16] Nickeyzhong opened #8081 "How to get the function node for set element parameter in dynamo version 0.9.1?"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

(Which version of Dynamo are you using? Go to Help > Abo

[2017-08-03 01:17] #8081 closed

[2017-08-04 13:07] dimven opened #8084 "Namespace lookup not working in imperative blocks"
## Dynamo version

1.3 / 1.31

## Operating system

Windows 10

## What did you do?

Tried to resolve this issue:
https://github.com/dimven/SpringNodes/issues/29

## What did you expect to see?

[code]
`NullAllInd({null,1,2,null,3,null,1,2}, 1)`

should return `{1, 6}`

## What did you see instead?

null

This is a pretty big issue, because whenever you install some of the most popular packages ou

[2017-08-04 16:19] ThomasMahon commented on #7848
@jnealb @riteshchandawar @monikaprabhu this is still an issue - are there any updates / info on availability to remote connect and investigate the cause?

[2017-08-04 16:21] ThomasMahon commented on #8084
See also #7697. @dimven agree, its a major issue. For the uninitiated (most of whom are likely to be using Archi-lab given its popularity), it must be a nightmare trying to track down the cause and really needs urgent attention.

[2017-08-04 16:46] mjkkirschner commented on #8084
@dimven are you saying that when even when you use the full namespace of a list function the function is not found?

[2017-08-04 16:49] jnealb commented on #7848
@ThomasMahon Is Monday or Tuesday am EST convenient?

[2017-08-04 23:33] dimven commented on #8084
Ah, I forgot to check if this has been reported already. Since this is a known issue, i'll close the current one and follow up in #7697.

@mjkkirschner , yes that seems to be the case.

[2017-08-04 23:33] #8084 closed

[2017-08-05 16:51] andydandy74 commented on #8011
@Racel @kronz Please have a look at this discussion on the forums: https://forum.dynamobim.com/t/get-current-dynamo-file-path/13521/

[2017-08-05 18:36] JacobSmall commented on #8011
I would also like this feature so we can save our r files into the same directory as the graph.

I.E. output the results of the graph to an excel node in the same location as the graph.

We do a few model audits with scripts that are tailored to the job. Having to path the file to a separate location manually is kind of painful, and I've already had issues with files being accidentally overwritten

[2017-08-06 12:51] torkuen opened #8086 "Line.Direction computation incorrect (inconsistent between visible output and internal information?)"

[2017-08-06 13:24] #8086 closed

[2017-08-06 15:32] ThomasMahon commented on #7848
@jnealb Monday would be best. 12:00-13:00 EST (17:00-18:00 GMT). Or the same time on Tuesday

[2017-08-06 15:38] ThomasMahon opened #8087 "Improvement: ToRevitType() limitation with converting Degree-1 NurbsCurves"
## Dynamo version

1.3.1

## Operating system

Win 10

## Improvement Suggestion

I notice that the ToRevitType() method doesn't handle Degree 1 nurbs curves. I'm currently using the workaround shown below, however, I think it is better if the ToRevitType() did this automatically:

![image](https://user-images.githubusercontent.com/18601851/29004767-4801056a-7ac5-11e7-95ac-4129edbefed4.png)

Worka

[2017-08-06 17:13] ThomasMahon opened #8088 "Geometry Working Range indiscriminately limits floating point precision causing failures where decimal places are required beyond the limit"
## Dynamo version

1.3.1

## Operating system

Win 10

## What did you do?

Simple XYZ coincident test between two points, rounded to 4DP (typical approach I take with such tests regardless of which computational design tool I use to avoid floating point inaccuracies). The requirement was to use the result to establish if sets of lines overlap and remove them.

## What did you expect to see?

For

[2017-08-07 01:23] mjkkirschner commented on #8088
@ThomasMahon thank you for the detailed write up, I'm sure @aparajit-pratap will have some thoughts and I need to review further, but my first thought is that if you could query the current workspace's scale factor (geometry working range) could you better handle change in precision?

[2017-08-07 02:38] dimven commented on #8087
There might be cases where the nurbs curve has multiple control points. In those cases, it might be a better idea to extract the points and either create a line for each pair or create a PolyCurve and use its ToRevitType method. That would however result in a curve loop.

Also it might be a good idea to mode this issue to DynamoRevit, since it's dealing with Revit matters.

[2017-08-07 10:11] ThomasMahon commented on #8087
Good point, I was only considering nurbs created using Revit tools which I think only allows one type of D1 nurbs to be created, and it only has two points. I overlooked the Dynamo approach!

I normally post these in the correct github, so I'll close this one and repost on the Revit Dynamo github

[2017-08-07 10:11] #8087 closed

[2017-08-07 14:14] jnealb commented on #7848
@ThomasMahon Let's start today at 12:00 EST.

[2017-08-07 14:24] mjkkirschner commented on #8077
@milotindragos - I'm not sure the CLI loads excel nodes, you might need to add it here and recompile:
https://github.com/DynamoDS/Dynamo/blob/7e27f7fa4c99feaec8307787044fcd0ac243af12/src/DynamoApplications/PathResolvers.cs#L28

This error is unrelated and shows on some machines when Dynamo shuts down.

[2017-08-07 14:25] ThomasMahon commented on #7848
Hi @jnealb that should be fine. I'm getting a remote desktop set up now with my clent - you can email me direct: thomas@bimorph.co.uk or skype using the same email

[2017-08-07 14:26] mjkkirschner commented on #8058
please re-open or ask in the forum if you still need help.

[2017-08-07 14:26] #8058 closed

[2017-08-07 14:28] natethegrate1 opened #8091 "Crashing when trying to create code block or python script"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

1.2

(Which version of Dynamo are you using? Go to Help > About if you're n

[2017-08-07 14:28] mjkkirschner commented on #8091
do you have multiple versions of dynamo installed?

[2017-08-07 14:29] mjkkirschner commented on #8028
@gtalarico have you tried this solution reported above?

[2017-08-07 14:57] nboyts commented on #8011
This would also be nice for monitoring and troubleshooting end user usage.

[2017-08-07 15:08] freedom0525 opened #8092 "workspace is blank,and it is not shows anyting."
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

(DynamoInstall0.9.1-DynamoInstall1.3.1)

## Operating sy

[2017-08-07 15:10] jnealb commented on #8092
@freedom0525 Can you please provide us with some more detail: did you upgrade from 0.9.1 to 1.3.1? If so, how was it done?

[2017-08-07 15:12] freedom0525 commented on #8092
I have tried to install different Dynamo version to solve this problem,but it is no use!!!

[2017-08-07 15:13] jnealb commented on #8092
Is this Dynamo Studio or Dynamo for Revit?

[2017-08-07 15:14] freedom0525 commented on #8092
dynamo for revit

[2017-08-07 15:15] jnealb commented on #8092
which version of Revit?

[2017-08-07 15:18] freedom0525 commented on #8092
revit 2017

[2017-08-07 15:23] freedom0525 commented on #8092
I install ladybug,butterfly and Honeybee, affter that it is not show the grid and graph。

[2017-08-07 15:25] jnealb commented on #8092
so if the Revit Addins are not installed does Dynamo function properly?

[2017-08-07 15:27] aparajit-pratap commented on #7697
Tracked: https://jira.autodesk.com/browse/DYN-704

[2017-08-07 15:27] freedom0525 commented on #8092
![-122](https://user-images.githubusercontent.com/30766877/29033537-f3ba122c-7bc7-11e7-8c73-f71452af915c.jpg)

[2017-08-07 15:28] aparajit-pratap commented on #8088
Thanks @ThomasMahon @mjkkirschner, noted and will take a look.

[2017-08-07 15:30] jnealb commented on #8092
Which Addin collides?

[2017-08-07 15:31] natethegrate1 commented on #8091
Yes.
.9 and 1.0 if I remember right

Sent from my iPhone

[2017-08-07 15:32] mjkkirschner commented on #8092
@mostaphaRoudsari FYI any thoughts?

[2017-08-07 15:34] mjkkirschner commented on #8091
In a related thread here: https://github.com/DynamoDS/Dynamo/issues/8028
a user reported getting it working by removing .9 and reinstalling in a specific order, curious if that works for you - if true it seems these addins/packages and dynamo .9 are using different versions of avalonedit or xaml reader dlls

[2017-08-07 15:34] freedom0525 commented on #8092
maybe addin collides,but I have tried to uninstall different Addin。it can not solve !

[2017-08-07 15:40] freedom0525 commented on #8092
I also tried to clean the registrys and uninstall other version.it still can not solve it.
![-2](https://user-images.githubusercontent.com/30766877/29034110-c3fcfb1a-7bc9-11e7-9674-264c966974cf.jpg)

[2017-08-07 15:49] gtalarico commented on #8028
@mjkkirschner I have not tried uninstalled RPS or pyrevit I do think the error is coming from a conflict in the ironpython assemblies. Here are the loaded assemblies I am picking up:

Could you have Dynamo specify which IronPython assembly version it's going to use?

[code]

[2017-08-07 15:54] gtalarico commented on #7976
@Racel @mjkkirschner
I tried building Dynamo to test this out but was not able to. My VS game is pretty weak :)
Given this is a 2 line mod, could your team try to get it in there for me?

[2017-08-07 16:36] jnealb commented on #7848
@ThomasMahon This is filed as QNTM-1440.

[2017-08-07 16:45] eirannejad commented on #8028
Or just ship dynamo with IronPython 2.7.7
It has a long list of improvements over the previous versions so it's all for a good cause :D

[2017-08-07 17:37] radumg commented on #8088
I might be able to help with querying for that @mjkkirschner , just finished the proof-of-concept on turning the preferences to static (for my other PR)  and haven’t found any regressions.

[2017-08-07 20:34] ThomasMahon commented on #8088
@mjkkirschner that would be useful, however it wouldn't solve the issue for users reliant on visual programming as they will be hard-coding any precision input. Also, if the working range is changed by the user, the entire graph would have to be force executed for ZT to register the change if I'm not mistaken.

[2017-08-09 05:01] mostaphaRoudsari commented on #8092
@mjkkirschner none of ladybug tools plugins interact with the Dynamo itself.
@freedom0525 is this happen when you insert any specific node?

[2017-08-09 17:22] freedom0525 commented on #8092
I have uninstalled all plugins 。it can not solve !

[2017-08-09 19:19] bullfrawgs opened #8097 "Using dynamo with advance steel 2018 won't load right"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version 1.3.1
1.3.1

## Operating system

windows 10 pro

## What

[2017-08-09 21:57] mjkkirschner commented on #8097
I think @ bogdanorzea might know more.

[2017-08-09 21:59] mjkkirschner commented on #8092
@freedom0525 have you looked at any of the faqs about graphics not showing - https://github.com/DynamoDS/Dynamo/wiki/Dynamo-FAQ

[2017-08-10 08:44] Amoursol opened #8099 "[Feature Request] Docking Dynamo Player"
Can we please add the functionality to 'dock' Dynamo Player in Revit? Same way we dock the Properties menu, or Project Browser.

It could be tabular (Same way the Flux addon is). Would make an awesome upgrade on use now that the Player has inputs.

[2017-08-10 08:48] Amoursol opened #8100 "[Feature Request] Element Id's selectable in Player Output"
The same way the Watch node allows you to select the '**Green Element Ids**' in Dynamo, could we implement this into the renamed _Watch Output_ in Player?

Would be pretty epic to select directly from that environment and would facilitate many efficiency gains in things such as Warnings resolution.

In the image below, the **Element Id** outputs are blue - and non-selectable. In the Dynamo environ

[2017-08-10 08:53] Amoursol opened #8101 "[Feature Request] Notes output for Player"
Could we have the ability to add in a **static notes** output to Player? You can fudge this by putting in a faux string, or a faux watch node, but it's still not quite ideal.

This would allow for users to input micro-help files into their players scripts that would help out hugely with legibility.

![player_notes](https://user-images.githubusercontent.com/12857357/29162551-b2fe5f9a-7db1-11e7-9bb2

[2017-08-10 11:38] Amoursol opened #8102 "[Bug] Dynamo Player won't recognise capitalised .DYN files"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.3.1

## Operating system

Windows 10

## What did you

[2017-08-10 13:45] jnealb commented on #8099
1++

[2017-08-10 18:54] pengdauphin opened #8103 "New Bug Report. Not sure if I do it right."
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

(Which version of Dynamo are you using? Go to Help > Abo

[2017-08-11 15:18] ghost opened #8105 "Unhandled exception dynamo engine"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

Dynamo core 1.3.1.1736 // Dynamo Studio 1.2.0.2871

## O

[2017-08-11 15:42] jnealb commented on #8105
@cleobeca Can you please provide us with your steps and which dyn/dyf files you used?

[2017-08-11 15:48] cleobeca commented on #8105
Here the file i used:
[Files.zip](https://github.com/DynamoDS/Dynamo/files/1218373/Files.zip)

[2017-08-11 17:32] jnealb commented on #8105
@cleobeca I can not repro the crash with your files; I get a warning "null value can not be cast to double" with the NSGA_II.AssignFitnessFuncResults node. Why is your Studio version 1.2? It should be 1.3.

[2017-08-11 18:29] cleobeca commented on #8105
You need Robot Structural Analysis to make the things work, i forgot this custom node too:
[V Bracing.zip](https://github.com/DynamoDS/Dynamo/files/1218753/V.Bracing.zip)

About the version of dynamo Autodesk App fails to install the update, don't know why, but i have the same crash using the Dynamo for Revit 1.3.1

[2017-08-11 19:20] jnealb commented on #8105
Not sure why we have this delta: I still get the warning and the Function.Apply node lists 7 "null" list elements as its output, which may hint at incorrect input/setup?

[2017-08-11 19:54] cleobeca commented on #8105
Have you downloaded the package that allowed the link between robot structural analysis and dynamo? If you search for _"Structural Analysis for Dynamo"_ in the online package you should easily find it. It seems that you miss something to begin the analysis in Robot and i think is the package that the reason of the null value. Before Manul Run in Dynamo you have to lunch Robot. Unfortunately it's n

[2017-08-11 21:34] jnealb commented on #8105
I do not have Robot

[2017-08-13 19:37] QilongTang commented on #7976
@gtalarico I created the feature branch https://github.com/DynamoDS/Dynamo/tree/EnableFullFrames for you to build and testing. It contains the code you want to add when creating the engine, not completely same with what you put in description due the .Net API changes. Could you get the branch and build Dynamo to test so you can let us know if that is doing what you proposed?

FYI: @Racel @mjkkirsc

[2017-08-14 11:31] cleobeca commented on #8105
I'll try i new installation and see what happen. Thank anyway

[2017-08-14 12:45] ThomasMahon opened #8108 "Improvement: Curve and Surface rebuilding toolsets"
## Dynamo version
1.3.1

## Improvement Suggestion

One of the missing links in Dynamos Geometry Engine are Curve and Surface rebuilding tools (or, rather, nodes). They're pretty fundamental in the realm of computational design and it would be good to see the following nodes and for Dynamo to start redefining itself as a powerful computational design tool!

**Curve**
Curve.RebuildNumberOfPoints
Cu

[2017-08-14 15:10] smangarole commented on #6561
@ThomasMahon Dynamo Team is working on an improved UI, which we will make available to our users. Your specific request(s) are addressed in this UI, as well as other workflows.
@Racel and @kronz please note.

[2017-08-14 15:10] #6561 closed

[2017-08-14 15:14] smangarole commented on #6547
@ThomasMahon Are these issues still valid with 1.3 Dynamo? Can you please clarify whether they apply to only Dynamo?

[2017-08-14 15:22] smangarole commented on #6528
@ThomasMahon Is this still an issue with Dynamo 1.3, given the list@level functionality and other changes?
@Racel and @kronz  please note.

[2017-08-14 15:28] smangarole commented on #6513
@ThomasMahon Dynamo Team is working on an improved UI, which we will make available to our users.
@Racel and @kronz please note.

[2017-08-14 15:28] #6513 closed

[2017-08-14 15:32] smangarole commented on #6511
@Racel and @kronz Please note the enhancement requests.

[2017-08-14 15:32] #6511 closed

[2017-08-14 15:34] smangarole commented on #6399
@adecler Is this still an issue with 1.3 Dynamo?

[2017-08-14 15:38] smangarole commented on #6277
@LukeyJohnson This issue is fixed in Dynamo 1.3 (studio 1.3 too). Please re-open if you are able to reproduce.
Thanks.

[2017-08-14 15:38] #6277 closed

[2017-08-14 15:40] smangarole commented on #6228
@beardface00 This issue got fixed with Dynamo 1.3. Please re-open if you are able to reproduce.
Thanks.

[2017-08-14 15:40] #6228 closed

[2017-08-14 15:45] smangarole commented on #6179
@KirillLukyanenko This issue is fixed in Dynamo 1.3. Please re-open if you can reproduce this issue.
Thanks.

[2017-08-14 15:45] #6179 closed

[2017-08-14 15:46] smangarole commented on #6166
@amorris3817 This issue is fixed in Dynamo 1.3. Please re-open if you are able to reproduce this issue.
Thanks.

[2017-08-14 15:46] #6166 closed

[2017-08-14 15:48] smangarole commented on #6145
@Racel @kronz Can you please comment on this enhancement request?

[2017-08-14 15:54] smangarole commented on #6143
@Racel can you please comment on these enhancement requests? @Dewb @kronz FYI

[2017-08-14 16:02] smangarole commented on #6132
@epeter- The search performance issue has been solved with 1.3 Dynamo.

We are aware of the search issue that you have identified and are working towards a solution.
@Racel

[2017-08-14 16:03] radumg commented on #6143
@smangarole FYI, Python editor template is awaiting team feedback in PR #8034 and I can then finish implementing it. Also planning to add DYN template support after that using similar mechanisms.

[2017-08-14 17:27] #7977 closed

[2017-08-15 07:34] andydandy74 commented on #961
Can be done using Object.Type and a code block.

[2017-08-15 07:34] #961 closed

[2017-08-15 07:36] andydandy74 commented on #2938
Most of this can be done now using Dynamo Player, Dyno and/or Data-Shapes pkg.

[2017-08-15 07:36] #2938 closed

[2017-08-15 07:37] andydandy74 commented on #1648
Can be done now using pkgs SpringNodes or Data-Shapes.

[2017-08-15 07:37] #1648 closed

[2017-08-15 07:40] andydandy74 commented on #3071
Can be done now using Clockwork's Passthrough node

[2017-08-15 07:40] #3071 closed

[2017-08-15 13:57] lerklimenko opened #8110 "Import of SAT file crashes Dynamo"
## Dynamo version

Dynamo 1.3.0.875

## Operating system

Windows 10

## What did you do?

I tried to import two sat files (from [SatFiles.zip](https://github.com/DynamoDS/Dynamo/files/1225225/SatFiles.zip)) via node Geometry.ImportFromSAT.

## What did you expect to see?

Geometry imported successfully or error is shown in case of sat invalidity.

## What did you see instead?

Dynamo crashed afte

[2017-08-15 17:47] freedom0525 opened #8112 "Revit"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

(Which version of Dynamo are you using? Go to Help > Abo

[2017-08-15 17:56] jnealb commented on #8110
@lerklimenko We are not able to reproduce this with the provided sat files and a simple import script (attached). Can you please provide us with your script and exact steps to reproduce? Are you running Dynamo for Revit?

[2017-08-15 22:37] mjkkirschner commented on #8110
as a workaround turn off the revit background preview in settings

[2017-08-16 01:58] ParametricMonkey commented on #6581
@aparajit-pratap any update on this? It would be good to get implemented.

[2017-08-16 07:47] bogdanorzea commented on #8097
@mjkkirschner can you please move this issue to the correct repository [Dynamo-Advance-Steel](https://github.com/DynamoDS/Dynamo-Advance-Steel/issues)?

@bullfrawgs can you please give more details on this error? Did you compile and then install Dynamo 1.3 before compiling the AS extension? Does the Extension compile successfully?

Thanks,
Bogdan.

[2017-08-16 12:17] bullfrawgs commented on #8097
This is standalone with advance steel and there is no revit installation.  It was installed with the autodesk desktop app. Here is a link to a screencast video of the error.  http://autode.sk/2uCmtvl

[2017-08-16 14:03] bogdanorzea commented on #8097
@bullfrawgs This seems to be a problem with the Dynamo Core. Can you please uninstall the Extension and any other Dynamo Core version from Control Panel and reinstall it back?

Bogdan.

[2017-08-17 14:03] mariamhosman commented on #2345
I believe Springs.FamilyInstance.ByGeometry in Spring Nodes does a similar workflow to what jbenoit44 suggested, maybe worth checking

[2017-08-17 20:12] kv2 opened #8116 "[Feature Request] Python - allow logging to dynamo console (Print to console)"
Please make logging to dynamo console from within the python nodes. Currently, to debug long python scripts, I have to write to a file.

[2017-08-18 06:03] ke-yu commented on #6528
@smangarole we haven't fixed this bug AFAIK.

[2017-08-18 23:37] dannysbentley opened #8118 "Code Block has started getting a Dynamo Bug."
Dynamo Code block crashes Dynamo.

## Dynamo version 1.3.1

## Operating system

Windows 7

## What did you do?
Gave me this long error.

`Method not found: 'Void ICSharpCode.AvalonEdit.Editing.TextArea.ClearSelection()'.

   at Dynamo.UI.Controls.CodeCompletionEditor.OnTextAreaLostFocus(Object sender, RoutedEventArgs e)
   at System.Windows.EventRoute.InvokeHandlersImpl(Object source, RoutedEvent

[2017-08-21 12:19] LukeyJohnson commented on #7703
I'm running Dynamo 1.2.1 on Revit 2015. With large lists and a big list.map operation, I face this same bug / dynamo crash. Here are the details:
`Object reference not set to an instance of an object.

   at ProtoCore.DSASM.Mirror.ExecutionMirror.GetStringValue(StackValue val, Heap heap, Int32 langblock, Int32 maxArraySize, Int32 maxOutputDepth, Boolean forPrint)
   at ProtoCore.DSASM.Mirror.Execu

[2017-08-21 12:21] LukeyJohnson commented on #7703
I tried switching off some of the Previews, but I'm still seeing the bug, only with long lists (like about 3000 items or more). Once it hits some memory or performance limit, it seems to crash.

[2017-08-21 15:12] smangarole commented on #6528
@ke-yu Thanks for the input. @Racel Can you please confirm if this task is filed?

[2017-08-21 15:13] smangarole commented on #6399
@adecler Please re-open if you think it's still an issue with Dynamo 1.3. Thanks.

[2017-08-21 15:13] #6399 closed

[2017-08-21 15:17] smangarole commented on #6143
@radumg Thanks for the reply. We have your PR in review/testing. Will send you an update once it's merged. Thanks again for the PR.

[2017-08-21 15:21] smangarole commented on #6132
@epeter- Please re-open the issue if you think it's still happening in Dynamo 1.3. Thanks.

[2017-08-21 15:21] #6132 closed

[2017-08-21 15:26] smangarole commented on #5965
@Thomas84 This does not seem to be an issue in Dynamo 1.3. Can you please confirm? If it's still an issue, please re-open.

[2017-08-21 15:26] #5965 closed

[2017-08-21 15:32] smangarole commented on #5805
Thanks guys for your input. We added these requests to our backlog.

[2017-08-21 15:32] #5805 closed

[2017-08-21 15:44] smangarole commented on #5752
@andydandy74 We have added this request to the backlog. Thanks for your input.

[2017-08-21 15:44] #5752 closed

[2017-08-21 15:49] radumg commented on #6143
Thanks @smangarole - that PR will be changing tonight as i incorporate feedback, will give you a mention there when it's done.

[2017-08-21 17:07] adecler commented on #6399
Hi, It seems to be working fine now.Thanks

[2017-08-21 19:53] torkuen opened #8121 "ZeroTouch Library Load Error"
## Dynamo version
1.3.0.875

## Operating system
Windows 7

## What did you do?

Import Library (ZeroTouch dll)

## What did you expect to see?

Normal Loading

## What did you see instead?
Always get an Error message at the first try ( see below) . Then restarting Dynamo, loading of the Library always works.
---------------------------------
An item with the same key has already been added.

   a

[2017-08-21 23:02] radumg commented on #6143
@smangarole , please check out PR #8122 for the updated version of the PR. cheers!

[2017-08-21 23:24] radumg commented on #8045
Second this ! Could this be done with a simple argument passed to the `msi` file ?
Something like `-custompackagefolder "\\server\folder\"` ?
I added Dynamo's MSI to the Revit deployment, so we can either add arguments to it there or in things like PDQ.

FYI @CBTIT , we push out the dynamo packages to user machines at logon via a script, 450+ users globally to get around this limitation as I didn'

[2017-08-22 06:17] torkuen commented on #8121
Hi mjkkirschner
but it isn´t imported before. As I mentioned, the second try always works.The way is: 1. Open Revit 2. Start Dynamo 3. Load Library 4. Error message 5. Dynamo Shuts down (Revit stays open) 6. Start Dynamo again 7. Load Library 8. it works. I know, that if a ZT dll is loaded into Dynamo you have to shut down Revit as well to exchange the dll. It would be helpful to know where the co

[2017-08-22 10:38] mjkkirschner commented on #8121
Does your dll have any other dlls as dependencies - can you host your code somewhere we can take a look like GitHub ?

Sent from my iPhone

[2017-08-22 12:28] dimven commented on #7703
I've experienced this too and actually reported it here:
https://github.com/DynamoDS/Dynamo/issues/7703

[2017-08-22 12:46] torkuen commented on #8121
I found the error: it was in the xml code: 3slashes to much. some copypaste error..
thanks for the effort!

   /// <param name="elementsToCope"> a list of elements to be coped</param>
        /// **///** <returns>a boolean list showing if the element was cut</returns>
        ///

[2017-08-22 12:46] #8121 closed

[2017-08-22 21:51] winterweken commented on #8118
PyRevit installed on this machine by any chance?

[2017-08-22 21:54] dannysbentley commented on #8118
Yes. Is this causing a conflict?

[2017-08-22 21:56] winterweken commented on #8118
Remove it from that specific distro, from another installed version. Dynamo with run fine. You'll just have to re-enable it if it's a core tool of yours.

[2017-08-22 23:17] radumg opened #8124 "[Bug] Dynamo 2.0 does not render missing ZT nodes"
## Dynamo version

2.0 - built from source just now.

## Operating system

Windows 10

## What did you do?

1. Loaded a ZT library
2. Placed a few nodes on canvas, connected them, etc.
3. Saved DYN file and closed Dynamo
4. Re-opened Dynamo and file
5. None of the ZT nodes (or connections) are rendered on the canvas

![workspace-zt-not-loaded](https://user-images.githubusercontent.com/11439624/295

[2017-08-22 23:30] mjkkirschner commented on #8124
@radumg thanks for this report:
@Racel @ramramps @ColinDayOrg @smangarole

There are two issues here and should be two tasks:

1) dummy nodes (unresolvedNodes) are not created for nodes with missing types
2) ZeroTouch libraries saved in the file are not automatically imported like they were for xml deserialization.

[2017-08-22 23:37] mjkkirschner commented on #8124
I've marked major because it essentially destroys graphs.

[2017-08-22 23:44] mjkkirschner commented on #8124
filed as :
https://jira.autodesk.com/browse/QNTM-1635
and
https://jira.autodesk.com/browse/QNTM-1636

[2017-08-22 23:47] dannysbentley commented on #8118
what is the Distro?

[2017-08-22 23:49] winterweken commented on #8118
Sorry, just your version of Revit.

[2017-08-23 00:36] LukeyJohnson commented on #2083
I've seen this again recently on Revit 2015, Dynamo 1.2.1:
[code]

[2017-08-23 01:10] radumg commented on #8124
Thanks @mjkkirschner for the lightning-fast reaction. Let me know if you need me to test anything further.

[2017-08-23 01:34] mjkkirschner commented on #8108
@aparajit-pratap @pboyer @sm6srw FYI

[2017-08-23 19:02] cpalexander opened #8126 "Unhandled Exception in Dynamo Engine"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.3.1.1736
Revit: 2017

## Operating system

Windows 10

[2017-08-23 19:15] jnealb commented on #8126
@cpalexander Can you please provide us with your Revit model and associated Dynamo dyn file and steps to reproduce?

[2017-08-23 19:17] cpalexander commented on #8126
I can do so – is replying and attaching to this email the correct method?

Thank you,

Christopher Alexander, AIA, NCARB, CSI, CDT
[cid:image002.jpg@01CEA4D2.C9412420]<http://www.progressiveae.com/>

From: Neal Burnham [mailto:notifications@github.com]
Sent: Wednesday, August 23, 2017 3:16 PM
To: DynamoDS/Dynamo <Dynamo@noreply.github.com>
Cc: Christopher Alexander <AlexanderC@progressiveae.com>;

[2017-08-23 19:18] jnealb commented on #8126
How big is the Revit model?

[2017-08-23 19:37] cpalexander commented on #8126
Good point. 92 MB.

It is a project that someone else is involved with and I am supporting, so I couldn’t even guess at what could be removed to help with the size.

Christopher Alexander, AIA, NCARB, CSI, CDT
[cid:image002.jpg@01CEA4D2.C9412420]<http://www.progressiveae.com/>

From: Neal Burnham [mailto:notifications@github.com]
Sent: Wednesday, August 23, 2017 3:19 PM
To: DynamoDS/Dynamo <Dynamo

[2017-08-23 19:50] jnealb commented on #8126
Send it here: neal.burnham@autodesk.com

[2017-08-23 19:55] winterweken commented on #8118
[#231](https://github.com/eirannejad/pyRevit/issues/231)

FYI

[2017-08-23 20:17] jnealb commented on #8118
@winterweken @dannysbentley So is the fundamental issue that PyRevit and Dynamo rely on different versions of AvalonEdit? If so, can we ask you to please update the https://forum.dynamobim.com/t/greyed-out-code-block-bug/6370 entry?

[2017-08-23 20:19] winterweken commented on #8118
Dynamo is not specific about the module version it wants to use, Apparently its using a much older version, which causes a conflict. From my understanding.

[2017-08-24 01:00] eirannejad commented on #8118
One solution for pyRevit-x-Dynamo conflict suggested here:
https://github.com/eirannejad/pyRevit/issues/231#issuecomment-324490548

[2017-08-24 09:11] ThomasMahon commented on #6589
So a coordinate system into a plane input works in v1.3.1. I'm guessing this is an anomaly?

[2017-08-24 09:22] ThomasMahon commented on #6694
@aparajit-pratap I found an alternative way to achieve my desired result using v1.3.1. Its inefficient and cumbersome but highlights my point about the need for Dynamo to start making in-roads into becoming a powerful computational design tool. The trick is to use `Curve.HorizontalFrameAtParameter`, then use the resultant X axes and corresponding tangents to compute the cross product, and use thes

[2017-08-24 09:34] ke-yu commented on #6589
No, we haven't added interface. @aparajit-pratap any idea?

[2017-08-24 09:58] ThomasMahon commented on #8008
@jnealb @aparajit-pratap @pboyer @aparajit-pratap switching off the Revit Background Preview also triggers this bug in v1.3.1

[2017-08-24 10:11] andydandy74 commented on #5540
If the search term matches a node name exactly, why not display that node as the first result? That should be an **easy fix** that could be **quickly** accomplished. Please, please. please give us at least that.
Examples this could be tested on in current versions (and that drive me mad time and time again):

- "not" (shows RemoveIfNot instead of Not as best result)
- "sum" (shows Add instead of S

[2017-08-24 11:29] cpalexander commented on #8126
My apologies, Neal, but I am unable to send a file that size. It would have to be via a filesharing site to get something to accommodate that size.

I have attached the dynamo script, if that is help solo.

Thanks,

Christopher Alexander, AIA, NCARB, CSI, CDT
[cid:image002.jpg@01CEA4D2.C9412420]<http://www.progressiveae.com/>

From: Neal Burnham [mailto:notifications@github.com]
Sent: Wednesday, A

[2017-08-24 14:10] jnealb commented on #8118
@eirannejad Thank you.

[2017-08-25 01:53] radumg opened #8129 "Dynamo.All.sln project names are inconsistent with folder structure"
## Dynamo version

2.0

## Operating system

Windows 10

## What did you do?

Open the solution : `Dynamo.All.sln`

## What did you expect to see?

The name of the folder structure matching the structure of the solution in Visual Studio.

## What did you see instead?
![project names](https://user-images.githubusercontent.com/11439624/29696363-5f185f4e-8940-11e7-8d10-abd88de8bd57.PNG)

The name of

[2017-08-25 02:00] radumg opened #8130 "[bug] Dynamo 2.0 files not recognised as future version by Dynamo 1.3"
## Dynamo version

2.0

## Operating system

Windows 10

## What did you do?

Open a DYN file authored in Dynamo `2.0` in Dynamo `1.3`.

## What did you expect to see?
![future dyn](https://user-images.githubusercontent.com/11439624/29696599-db5faee4-8941-11e7-9486-2c114d9158e5.PNG)

![future version](https://user-images.githubusercontent.com/11439624/29696534-809418f6-8941-11e7-9159-b35aa00d7b85.

[2017-08-25 12:57] rbosborne commented on #2243
Any progress on the BoundingBox.ByGeometryCoordinateSystem?  I noticed the Node is no longer available in 1.3.1, but the method still works in DesignScript, and it still seems to not be fixed (regardless of Coordinate system the exact same BB oriented to World XYZ is returned).
![image](https://user-images.githubusercontent.com/12659052/29714963-4d65353c-8973-11e7-9890-7e345a64a024.png)

[2017-08-25 13:37] Racel commented on #7703
As this is a Revit issue. Closing this task and linking it to [DynamoDS/DynamoRevit#1697](https://github.com/DynamoDS/DynamoRevit/issues/1697)

[2017-08-25 13:37] #7703 closed

[2017-08-25 15:10] jnealb commented on #8130
@radumg Nice, this will get filed in JIRA.

[2017-08-28 09:09] jtotheb86 commented on #5573
@ThomasMahon thanks for your code above.
Can you help modifying to accept a Document input, instead of using the current document.

Trying to use this in Dynamo for opening families in the background, setting the active view to a 3D view and saving.

I'm very new to Python script and am struggling

[2017-08-28 13:51] aparajit-pratap commented on #2243
@rbosborne we are still not providing any support for `BoundingBox.ByGeometryCoordinateSystem`. The method is not meant to be discoverable at the moment. If it is thanks for highlighting it; we'll turn it off for good and let you know if and when we address this.

[2017-08-28 15:28] smangarole commented on #5719
This issue is not affecting any major workflows. It's low on the priority list. Closing this issue.
Thanks.

[2017-08-28 15:28] #5719 closed

[2017-08-28 15:37] #8112 closed

[2017-08-28 15:38] smangarole commented on #5662
We have added this issue in our backlog. Please note that you will find the total count in Dynamo Core 1.3.
Thanks.

[2017-08-28 15:38] #5662 closed

[2017-08-28 15:40] smangarole commented on #5661
This issue is fixed in Dynamo Core 1.3.

[2017-08-28 15:40] #5661 closed

[2017-08-28 15:46] smangarole commented on #5635
@nmeek This issue is Revit specific. If this is still an issue can you please file this in the Revit Repo - https://github.com/DynamoDS/DynamoRevit ?
If you have a workaround, can you please share?

[2017-08-28 15:46] #5635 closed

[2017-08-28 16:50] andydandy74 commented on #5635
@nmeek - Both of these work:
![grafik](https://user-images.githubusercontent.com/3014437/29783672-a0361d52-8c21-11e7-8b0f-35a1d2f985e6.png)

[2017-08-28 19:59] #7604 closed

[2017-08-29 11:04] OliverEGreen opened #8138 "Improvement Request: Node Ports to be Consistent Height"
Hi guys! Just a quick UI improvement request :)

## Dynamo version

All versions

## Operating system

All OSs

## What did you expect to see?

Node & Code Block headers of consistent height, so that when aligned to top, all wires are straight.

## What did you see instead?

![nodeheaders](https://user-images.githubusercontent.com/29973601/29817956-f122f5f6-8cb1-11e7-86df-b497da9449ca.JPG)

Wires

[2017-08-29 20:53] gregmarr commented on #8138
The headers, and even the nodes themselves, are all actually the same size here, it's the port heights that are different.  The ports on the code block nodes are shorter than the ports on the List.Create and Watch nodes, even when the ports have the same content.

[2017-08-31 16:25] OliverEGreen commented on #8138
On second glance, it seems you're right. Ideally we'd have consistent port height. Maybe the line spacing could be increased within the code block?

[2017-09-01 14:58] ysvirshch opened #8144 "Crash after adding custom node in itself"
## Dynamo version

Dynamo.Core 1.2.1.3083. I used Dynamo Sandbox.

## Operating system

Windows 10 x64

## What did you do?

1. Create custom node Node1.
2. In the opened custom node workspace select Node1 and add it to the canvas.
3. Add any other node to the canvas

## What did you expect to see?

Node was added to the canvas.

## What did you see instead?

Dynamo crashed. Please see the gif bel

[2017-09-01 15:08] jnealb commented on #8144
@ysvirshch Can you please see if this still happens with the latest stable version: 1.3?

[2017-09-04 04:35] vykrum opened #8148 "SplitByParameter ambiguity"
## Dynamo version

1.3.1

## Operating system

Windows 7

## What did you do?

tried to distinguish between the two SplitByParameter options

## What did you expect to see?

Two different descriptions of what the nodes do.
Would be better if one of them was SplitByParameter**s**

## What did you see instead?
Identical description for nodes that behave quite differently
![csbp-1](https://user-image

[2017-09-04 05:36] vykrum opened #8150 "Split Closed Curve"
## Dynamo version
1.3.1

## Operating system
Windows 7

## What did you do?
Split a closed curve using _Curve.SplitByParameter_ (parameters)
The list of parameters did not include 0/1

## What did you expect to see?
Expected the curve t be split into as many divisions as the specified parameters

## What did you see instead?
An addition curve is obtained as the curve is split at parameter 0/1
![sp

[2017-09-04 09:37] ysvirshch commented on #8144
Hi @jnealb, thanks for the response.
Yes this crash is reproduced on the version 1.3.0.875. But in this case I get other exception. Please see attached image

![image](https://user-images.githubusercontent.com/22908074/30020761-b4f697a2-916d-11e7-9c3b-e3f5fba7af4c.png)

[2017-09-04 21:50] radumg opened #8151 "Package manager (webhook) integrations"
## Dynamo version

All.

## Operating system

All.

## What did you do?

Wanted to update a package I had already published.

## What did you expect to see?

- ability to use `DynamoSandbox` to publish package/update and not have to use Revit
- ability specify which files were updated or some instructions

## What did you see instead?

Dynamo for Revit allows you to re-publish the folder where it

[2017-09-05 10:12] vykrum opened #8154 "Bug Report 20170905"
## Dynamo version
1.3.1

## Operating system
Windows 7

## What did you do?
Waited over 20 min for a definition to run

## What did you expect to see?
An error in the script

## What did you see instead?

[code]

[2017-09-05 18:57] jnealb commented on #8144
@ysvirshch Thank you. This is tracked in our system as QNTM-1777. FYI: @smangarole

[2017-09-06 07:02] barney2074 commented on #2243
to add my 2C

If this could be addressed in a future release, I would find it very useful.

andrew

[2017-09-08 11:14] jmcouffin opened #8165 "Element types TO All elements of type - French"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.3.1
## Operating system

Win10

## What did you do?

R

[2017-09-10 14:10] vykrum opened #8169 "Crash Report 20170910"
## Dynamo version
1.3.1 (Sandbox)

## Operating system
Windows 10

## What did you do?
Missed a semicolon at the end of a statement in code block.
Automatic run mode
All the file contained was ....
![crash-20170910-1](https://user-images.githubusercontent.com/5621624/30249728-ab59ed38-965f-11e7-91c6-374b5e4fbcc0.png)

## What did you expect to see?
An error

## What did you see instead?
![crash-20

[2017-09-11 07:13] rkros opened #8171 "Not collaborating"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version
1.1
(Which version of Dynamo are you using? Go to Help >

[2017-09-11 09:42] andydandy74 commented on #8165
Duplicate of https://github.com/DynamoDS/DynamoRevit/issues/1626
Please close this issue.
Also, in the future please post DynamoRevit-related issues in the DynamoRevit repo.

[2017-09-11 09:43] #8165 closed

[2017-09-11 12:25] pierramo opened #8172 "Dynamo Crash when using Rhynamo Node CreateRhinoGeometry.DS_BrepToRhino"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.3.1.1736

## Operating system

Windows 7 Professional

[2017-09-11 13:34] rkros commented on #8171
Found out there is no Preview box for Revit

[2017-09-11 15:05] jnealb commented on #8169
@vykrum Thank you. @ke-yu @aparajit-pratap @Racel @smangarole fyi.

[2017-09-11 15:06] mjkkirschner commented on #8169
this stacktrace is from DynamoForRevit not sandbox though - just want to clarify?

[2017-09-11 17:21] vykrum commented on #8169
@mjkkirschner Now that you point that out. I might have also had two instances of Dynamo running.
I can't say for sure though. Sorry!
But, if theDynamoForRevit file caused the crash, it is way more complex than the file I've presumed to be the culprit.

[2017-09-12 13:01] andydandy74 opened #8175 "Placement of code blocks not in undo/redo stack"
## Dynamo version

1.3.1 stable

## Operating system

Win 7

## What did you do?

* Placed a couple of nodes
* Placed a code block
* Placed some more nodes
* Hit undo until several times

## What did you expect to see?

The elements disappearing in their order of placements including the empty code block.

## What did you see instead?

The elements disappearing in their order of placements except

[2017-09-13 16:56] yuanyi commented on #4599
++1

[2017-09-14 06:58] epeter- commented on #3100
still an issue!!!

[2017-09-14 21:33] jnealb commented on #8169
@vykrum @mjkkirschner @aparajit-pratap @smangarole We found a similar scenario that crashes D4R 2.0 but not 1.3.x: it is filed as QNTM-1966 (note that the stack trace is different).

[2017-09-15 06:58] ktseniedaoducnguyen opened #8180 "DYNAMO HAS CRASHED...ERROR I'VE NEVER SEEN..."
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

DYNAMO 1.3.1

## Operating system

Windows 10

## What d

[2017-09-15 15:05] gtalarico commented on #8028
This solution fixed it for me:
https://github.com/eirannejad/pyRevit/issues/231#issuecomment-324454892

But seems to me like it's a not a permanent fix, and it will continue to break for other people.

@jnealb looks like dynamo uses 2.7.0.4 - Does it load that exact version explicitly?
Is there a way for dynamo to specify the version it needs to avoid potential conflict with other addins that use

[2017-09-16 14:42] Nainoor opened #8185 "Dynamo cannot create Background Preview"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.3.1.1736

## Operating system

Windows 10

## What did

[2017-09-18 04:46] vykrum opened #8187 "Cropped Icons"
## Dynamo version
1.3.1

## Operating system
Windows 10

## What did you do?
Expand any one of the **Revit** sub menus (other than _Selection_ and _View_)

## What did you expect to see?
Complete _Create_, _Action_ and _Query_ Icons

## What did you see instead?
![croppedicons](https://user-images.githubusercontent.com/5621624/30529339-16a2761e-9c5a-11e7-974d-b5def48b0f64.png)

[2017-09-19 10:57] andydandy74 opened #8190 "Mesh.FaceIndices fails when first input item is empty list"
## Dynamo version

1.3.1 stable

## Operating system

Windows 7

## What did you do?

Fed a filtered list of geometry into the ```Mesh.FaceIndices``` node

## What did you expect to see?

The node working correctly

## What did you see instead?

The node returning ```null``` and the following error:
[code]
![grafik](https://user-images.githubusercontent.com/3014437/30589077-4fd01efc-9d39-11e7-88c5

[2017-09-19 19:28] jnealb commented on #8028
@gtalarico @mjkkirschner @smangarole Thanks for investigating this; no, there is no mechanism within Dynamo 1.3 to specify which Python version to use. We are discussing better Python support and will update you with our plans going forward.

[2017-09-20 00:20] gtalarico commented on #8028
Thanks for the update @jnealb

Not sure I explained it well, but I meant specifying the version in Dynamo's source code,
not for the user - meaning, specifying the version when loading IronPython assembly reference

[2017-09-20 01:41] dimven commented on #8190
This has been an ongoing issue since the introduction of DS. Whenever the first item in the list is an empty list or a null, the DS interpreter fails. I've reported on this once in https://github.com/DynamoDS/Dynamo/issues/5238 .

https://github.com/DynamoDS/Dynamo/issues/7153 is also somewhat related because it fails in a similar manner and for similar reasons.

@ke-yu  did a PR that was supposed

[2017-09-20 13:56] jnealb commented on #8028
@mjkkirschner Can you please comment?

[2017-09-20 14:11] mjkkirschner commented on #8028
I've commented in the pyRevit repo - I actually think this has to do with avalonedit.dlls rather than   ironPython.

[2017-09-20 14:19] jnealb commented on #8028
@mjkkirschner Thanks.

[2017-09-20 17:17] mjkkirschner commented on #8028
@jnealb keep an eye on this thread:
it may be ironPython after all, but it's odd because I believe semver wise we should have no problem.
https://github.com/eirannejad/pyRevit/issues/231#issuecomment-330901771

[2017-09-20 17:20] mjkkirschner commented on #8185
@Nainoor can you provide a screenshot, there are few failure modes and a screenshot will help us to provide the right solution.

[2017-09-20 17:21] mjkkirschner commented on #8180
we'll need to be able to see the first lines of that text box.

[2017-09-23 00:35] mcfetridgem commented on #8185
I've been having the same issue. Screen shot attached of what I'm experiencing:
![capture](https://user-images.githubusercontent.com/19632288/30768449-ac4cc322-a05b-11e7-91d0-50b140eb50c5.PNG)

[2017-09-23 00:37] mcfetridgem commented on #8185
I'm running the exact same build version on Windows 10 also

[2017-09-23 01:44] mjkkirschner commented on #8185
@kronz @jnealb

[2017-09-25 02:00] ParametricMonkey opened #8203 "Geometry.DoesIntersect still has bugs despite correct geometry working range"
These issues have been closed but they are still a problem:

https://github.com/DynamoDS/Dynamo/issues/5681
https://github.com/DynamoDS/Dynamo/issues/5233

Refer attached file.

## Dynamo version

1.3 with Revit 2017.2

## Operating system

Windows 7

## What did you do?

Using the geometry.DoesIntersect node returns unpredictable results even if working range is set correctly (Large).

## What di

[2017-09-25 02:02] ParametricMonkey commented on #8203
https://www.dropbox.com/sh/zpk4tlt5jjofp8l/AADq1ww-ieoCr-HFAytK5uNCa?dl=0

[2017-09-25 12:59] pierramo commented on #8172
Ok, Thank you.

[2017-09-25 14:30] jnealb commented on #8185
@Nainoor @mcfetridgem This may be a case of DYN-887 – “Dynamo install/upgrade process leads to disabled gfx rendering” - we recommend uninstalling all builds of Dynamo (using MSFT fixit to thoroughly clean the machine) and re-installing 1.3.

[2017-09-25 15:02] kronz commented on #8185
Real fix is to provide the full installer from the download site, a process which is underway.  Seems that there is an issue with the upgrade process that affects a non-trivial number of people!

[2017-09-25 15:07] smangarole commented on #5634
@epeter- Can you please confirm if this is still happening in Dynamo 1.3? Please re-open if you are able to reproduce.
Thanks,
Sid

[2017-09-25 15:07] #5634 closed

[2017-09-25 15:12] smangarole commented on #5613
@aparajit-pratap @kronz @Racel - This needs investigation after the new library changes. Should we file a task in the backlog for these specific issues?
Thanks

[2017-09-25 15:15] smangarole commented on #5590
@vykrum Please re-open if this issue is reproducible in Dynamo 1.3. Thanks.

[2017-09-25 15:15] #5590 closed

[2017-09-25 15:18] jnealb commented on #8185
yes; we have a Forum post for the issue.

[2017-09-25 15:21] smangarole commented on #5550
@Racel Can we get an update on this feature request?

[2017-09-25 15:21] aparajit-pratap commented on #5613
@smangarole yes, I think it would be worthwhile to test these issues against the new library UI to make sure they are addressed.

[2017-09-25 15:25] smangarole commented on #5540
@Racel @kronz Can you please provide an update on this issue?

[2017-09-25 15:29] smangarole commented on #5534
@Racel - Is this filed under UX love epic?

[2017-09-25 15:32] smangarole commented on #5292
@andydandy74 Can you confirm if this is still happening in Dynamo 1.3? Please re-open if reproducible.

[2017-09-25 15:32] #5292 closed

[2017-09-25 15:38] smangarole commented on #5279
@Racel Can you please give an update?

[2017-09-25 15:40] smangarole commented on #5276
@Racel Can you please give an update on this issue?

[2017-09-25 15:42] smangarole commented on #5144
This issue is fixed in 1.3. Please re-open if reproducible.

[2017-09-25 15:49] smangarole commented on #5144
@Racel is this feature request in the UX Love backlog? Specifically, provide user with the ability to set their own default group font size.

[2017-09-25 15:53] smangarole commented on #5247
@Racel Is this feature request added to the UX Love backlog?

[2017-09-25 15:56] smangarole commented on #5141
@jbenoit44 Can you reproduce this is 1.3? Please re-open if it's reproducible.

[2017-09-25 15:56] #5141 closed

[2017-09-25 16:01] smangarole commented on #5137
@ghost PR is in review for this feature request. #8182

[2017-09-25 16:01] #5137 closed

[2017-09-25 17:41] andydandy74 commented on #5292
@smangarole
* **Solved**: Saving a custom node multiple times will **not** make it appear multiple times in the library any more.
* **Still an issue**: Recategorizing nodes that live in a package will only make them appear in their new category in the  library **after** restarting Dynamo.
* **Solved**: Recategorizing nodes that live outside a package now works the same way as recategorizing nodes

[2017-09-25 18:54] kronz commented on #5540
Search is a big project, and we want to get it right.  We have major work slated to do on this after the 2.0 release, and we'd like to start using analytics to really nail it.  In the meantime, there are loads of very small changes you correctly point out.  We have avoided getting distracted by these, and perfect may be the enemy of good in this case, but we are trying to get to a better systemati

[2017-09-25 18:55] mcfetridgem commented on #8185
I installed the Dynamo Studio Installer on a fresh version of Windows 10 and encountered this issue. After installing the "update" on the Autodesk Desktop App the graphics issue was fixed. So it's working as expected for me now :)

[2017-09-26 04:11] ParametricMonkey commented on #7219
@aparajit-pratap @ksobon @kronz
![2017-09-26 14_07_58-dynamo](https://user-images.githubusercontent.com/10913639/30842282-9c0105a8-a2c4-11e7-990a-2bd05b58c969.png)
This is still an issue in 1.3

[2017-09-26 20:19] cellophane303 opened #8211 "Category is unexpectedly NULL."
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

## Dynamo version

1.3.1.1736

## Operating system

Windows 8.1 Pro

## What did you do?

I hit the run button...

## What did you expect to see?

The graph to run (it ran fine a few minutes ago...)  This is also the second or third time this has ha

[2017-09-26 20:51] jnealb commented on #8211
@cellophane303 Yes, can you please provide the graph as well as the Revit model, if possible?

[2017-09-26 20:57] cellophane303 commented on #8211
Sure thing.  I don't know if it is related, but I've gotten a crash report every time I've closed Revit after running the graph - I've sent those in as well.

[DeleteSubCategories.zip](https://github.com/DynamoDS/Dynamo/files/1334965/DeleteSubCategories.zip)

[2017-09-26 21:02] jnealb commented on #8211
@cellophane303 Missing the custom  node: Category.SubCategories. Also, we will likely need the rvt model.

[2017-09-27 14:07] cellophane303 commented on #8211
Category.SubCategories is from the Clockwork package, I'm including it - don't know if it will work without the rest of Clockwork.
The rvt model was just a blank file I was using for testing.  I loaded in some families, then ran the graph to remove all the junk sub categories that come with them (trying to clean up my library.)  I'm enclosing the file I was using but I don't know if it will be muc

[2017-09-28 06:01] nicolechuong opened #8215 "Can not open Python node!!!"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

1.3.1

(Which version of Dynamo are you using? Go to Help > About if you're

[2017-09-28 12:30] andydandy74 commented on #6542
This is not limited to openings, apparently. I've just had the same thing happen with an extruded roof that had an elliptical profile. Rebuilding the same shape as a mass and pulling its geometry proved to be a workaround.

[2017-09-28 13:42] jnealb commented on #8215
@nicolechuong Can you tell us which version(s) of Python you have installed as seen from the Control Panel?

[2017-09-28 16:04] #8171 closed

[2017-09-28 16:06] ikeough commented on #8172
Closing this, pending a response from the package maintainer. If it is found to be a problem with Dynamo, please re-open.

[2017-09-28 16:06] #8172 closed

[2017-09-28 16:18] ikeough commented on #8144
Looks like it's having a problem with a custom node that has no inputs and outputs being embedded in itself. The error is an exception when trying to address the output ports on the custom node, most likely when we recompile the function definition for the VM.

[2017-09-28 16:31] ikeough commented on #8151
@radumg Thanks for this suggestion. Actually, when the package manager was first conceived, we wanted to make it based on GitHub, like packages for Sublime Text. I'm coming back around to the idea of GitHub-based packages. This is slightly different than what you're suggesting.

If I understand you correctly, you want the package manager to hook builds in your repo and publish a new version of the

[2017-09-28 16:32] ikeough commented on #8169
@jnealb Have we given up on asking that issues in D4R be posted in the D4R repository?

[2017-09-28 16:36] ikeough commented on #8190
Thanks @dimven @andydandy74. I'm closing this in favor of #5238.

[2017-09-28 16:36] #8190 closed

[2017-09-28 16:38] #8185 closed

[2017-09-28 16:41] ikeough commented on #8148
The documentation for the second function just seems to be wrong. It should save "Split a Curve into multiple segments at the provided parameters."

[2017-09-28 16:49] ikeough commented on #8103
This bug report has no details about what happened. I'm closing it until further details can be provided.

[2017-09-28 16:49] #8103 closed

[2017-09-28 16:51] ikeough commented on #8102
@Amoursol Thanks for this report. This is a problem for the Dynamo Player team. Can I ask you to repost this in the Dynamo for Revit repo?

[2017-09-28 16:54] ikeough commented on #8101
Like my comment on #8102, can you please re-post this to the Dynamo for Revit repo?

[2017-09-28 16:55] jnealb commented on #8169
@ikeough No, we are asking, this one stated Sandbox at the top but clearly the stack trace contradicts that. @vykrum Are you still seeing the issue?

[2017-09-28 17:09] adityakaushik123 commented on #7697
I was facing the same issue.
For now you could make a dummy function in another code block.
This function, say - Dummy1 contains, for example, a DSCore.List.Chop(), (which is not working inside Imperative loops).
Call Dummy1(variables1..n) from inside the imperative loop, and you should get the desired outcome.
But please fix this asap, Imperative loops are of not much use if you can not call func

[2017-09-28 17:21] vykrum commented on #8169
@jnealb Haven't yet had similar issues again

[2017-09-28 20:32] radumg commented on #8151
Thanks @ikeough for the detailed feedback!

You've sussed it right, what I had in mind was inspired by CI, but closer to your concept than the second paragraph.

The repo would be the package, but instead of cloning the entire repo & have to build it, I imagined that it would use the `releases` webhook on repos. Releases allow you to cherry-pick files that go in it (leaving out other things in the

[2017-09-28 21:38] Amoursol commented on #8102
Done :) [https://github.com/DynamoDS/DynamoRevit/issues/1807](url)

[2017-09-28 21:42] Amoursol commented on #8101
Done! [https://github.com/DynamoDS/DynamoRevit/issues/1808](url)

[2017-09-29 01:27] nicolechuong commented on #8215
Hi @jnealb This issue just occur when i open Dynamo within Revit 2017.2. But, when i open it itself (without Revit) it's OK.

![image](https://user-images.githubusercontent.com/26086071/30997085-943e358e-a4ef-11e7-8842-0d88b80f56d4.png)

[2017-10-01 09:17] radumg opened #8221 "UX - Editing notes is destructive"
## Dynamo version

1.3.1

## Operating system

Windows 10.

## What did you do?

Double-clicked a note
deleted all text
clicked the modal window's close (X) button

## What did you expect to see?

The edit note window has a clear `Accept` button, so when closing the window by using the form's X, I expect the edits not to be saved, as the `Accept` button was never clicked.

I would like either
- th

[2017-10-01 13:05] andydandy74 commented on #8221
See this discussion: #289

[2017-10-01 13:22] radumg commented on #8221
thanks @andydandy74 , definitely didn't know it had been raised before.

Perhaps this can server as further evidence this is indeed what users would expect - vast majority of modals on both Windows & Mac behave this way after all.

I would argue most users won't understand the value is bound precisely because it's a separate, modal window. Now, if editing the note directly was enabled, that would

[2017-10-01 13:29] andydandy74 commented on #8221
True on all accounts. Although I would think that even when editing notes directly in canvas, pressing Esc should cancel the edit.

[2017-10-01 14:34] radumg commented on #8221
Yes, altogether that would be much nicer & intuitive UX me thinks.
At this point, I'd settle for being able to vertically resize the edit note window 😭

[2017-10-02 08:14] andydandy74 commented on #8221
@Racel Perhaps another item for your UX Love epic?

[2017-10-02 09:46] ThomasMahon opened #8223 "Dynamo Package Manager doesn't honour file folder structure when publishing versions"
## Dynamo version

v1.3.1

## Operating system

Win 10

## What did you do?

Published a new version of BimorphNodes

## What did you expect to see?

My file structure honoured:
This is whats in my bin folder:
![image](https://user-images.githubusercontent.com/18601851/31071870-a0fc7f5e-a75d-11e7-85bf-b2e500ae51ee.png)

....and this is what is in my extra folder:
![image](https://user-images.githu

[2017-10-02 11:56] OliverEGreen opened #8224 "UI Request: Consistent graphical representation of Empty Lists"
## Dynamo version
Future versions

## Operating system
Any

## What did you do?
Created a list structure with Empty Lists

## What did you expect to see?
A more graphically-consistent approach towards empty lists in node preview window/Watch nodes

## What did you see instead?
Currently, empty lists display as per list item 2. This quick mock-up demonstrates how they could be displayed in a more c

[2017-10-02 16:10] BogdanZavu commented on #8101
@Amoursol My first taught is to use the frozen flag to display inputs in read-only state. I know there is a request to deal with the frozen nodes as well. This could be a cheap way to satisfy both requests. We'll have to discuss this internally however...

[2017-10-02 18:50] Racel commented on #8221
We will take a quick look at this. If it is a small fix, we will try and get it in for the next release. If not, we will make these considerations for the next generation UI.

[2017-10-02 20:28] Racel commented on #5247
Yes, it is. This will not be fixed for 2.0, but will be considered for the next generation UI. Closing this in github, as it is being tracked for the new interface.

[2017-10-02 20:28] #5247 closed

[2017-10-02 20:31] Racel commented on #5144
These are being tracked in our UX Love board for the next generation UI and as of right now will not be fixed for 2.0 release. Closing.

[2017-10-02 20:31] #5144 closed

[2017-10-02 20:35] Racel commented on #5144
Please note that the default font size of groups was increased in 1.3

[2017-10-02 20:43] Racel commented on #5276
OOTB and Revit nodes have been recategorized and alphabetized for 2.0. I believe this is resolved. Closing.

[2017-10-02 20:43] #5276 closed

[2017-10-02 20:49] Racel commented on #5550
I also think that this will be a nice feature to have. Since this is a minor UI change, I believe we should consider for 2.0. This has been filed in our UX Love board and will be discussed as to whether or not it makes it in to the release.

[2017-10-02 20:57] Racel commented on #6528
@ke-yu - Did we address this in the list promotion task? I thought we did. Please close if we have resolved this.

[2017-10-02 21:00] Racel commented on #6145
@mjkkirschner - Any thoughts on this?

[2017-10-02 21:55] mjkkirschner commented on #6145
yes, if we do this it should be a library that we add like DynMeta project or something like this that can be used to expose core Dynamo and DynamoWorkspace model methods.

Thats one approach, another is to add more functionality into the DynamoServices project.

I prefer the first - this could be a totally separable package. I'm not sure if it would enable editing of the current graph or only aut

[2017-10-03 00:25] ke-yu commented on #6528
@Racel I believe this has been fixed.

[2017-10-03 13:17] lukvbl opened #8229 "bug"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version
1.3.1.1736
(Which version of Dynamo are you using? Go to

[2017-10-03 15:36] jnealb commented on #8211
@cellophane303 Still getting an unresolved List.FilterByString red custom node, despite downloading Clockwork, Lunchbox and Archilab?

[2017-10-03 16:28] cellophane303 commented on #8211
Sorry about that - the List.FilterByString is from SteamNodes.  i didn't realize that when I posted earlier.

[2017-10-04 14:44] SpencerMAQ opened #8231 "[Feature Request] - Save Geometry Working Range Settings"
Just a simple request to avoid having to reset the setting to 'Large' everytime I create a new graph.
I work in metric so this is necessary.

Thank you very much!

[2017-10-04 16:00] jnealb commented on #8215
@nicolechuong This may be a collision with one of your installed Packages; which packages do you have (under Manage...)?

[2017-10-04 16:02] jnealb commented on #8028
@gtalarico This may be a collision with one of your installed Packages; which packages are listed under Manage...?

[2017-10-04 20:01] jnealb commented on #8211
@cellophane303 Clockwork is also a prereq for several custom nodes in the subcategories custom node (do you have it installed?). I am unable to reproduce the null return, for example:
![image](https://user-images.githubusercontent.com/9357222/31196878-3cd6a7cc-a91d-11e7-8a74-7b6f5dc0c154.png)

Which version of Revit are you using?

[2017-10-04 21:53] ricardoperucci opened #8232 "Custom Nodes not loading"
## Dynamo version
2.0.0.2757
## Operating system
Windows 10

## What did you do?

Updated Dynamo version

## What did you expect to see?

Everything working well as it was

## What did you see instead?

Everytime I save any modification inside a Custom Node (or create a new one) and then close Dynamo, when I reopen it, the Custom Node is not loaded. The error message in the console is shown in the

[2017-10-04 21:55] mjkkirschner commented on #8232
@ricardoperucci thanks for the report, this is a known issue -  the xml failure is the first attempt before the custom node is loaded in JSON - but the new library UI is not displaying it. It should be fixed soon.

[2017-10-04 21:56] mjkkirschner commented on #8229
@lukvbl this report does not contain enough information for us to help you. Please clarify and or attach sample files that reproduce your issue.

[2017-10-04 21:58] mjkkirschner commented on #8232
https://github.com/DynamoDS/Dynamo/pull/8233

[2017-10-04 22:32] phliberato commented on #8232
We are able to customize our Dynamo code to find a temporary workaround to fix it while Dynamo Team don't do it.
We have done some research inside the code and we found some functions which handle Custom Node files.
1 - Save function at WorkspaceViewModel class
2 - ScanNodeHeadersInDirectory function at CustomNodeManager class

Do you have some hint to give us?

[2017-10-04 22:48] mjkkirschner commented on #8232
@phliberato fix is already in progress in PR I linked above.

[2017-10-04 23:05] QilongTang commented on #8232
@phliberato Fix is on the way, if urgent, you can cherry-pick that in your local branch

[2017-10-05 15:52] Racel commented on #6528
This has been addressed here: https://github.com/DynamoDS/Dynamo/pull/7773
Closing.

[2017-10-05 15:52] #6528 closed

[2017-10-05 18:16] EENagel opened #8235 "Geometry not visible in Dynamo Studio 2017 1.3.1.1736"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

Dynamo Studio 2017 1.3.1.1736

## Operating system

Virt

[2017-10-05 18:28] jnealb commented on #8235
@EENagel Do you see the 3D grid or is it in 2D mode (looks like a 2D ruler)?

[2017-10-05 18:30] EENagel commented on #8235
Yes, I see the 3D grid.

[2017-10-05 18:34] jnealb commented on #8235
@EENagel The fix is to un-install all Dynamo versions (look for 1.1) using the Control Panel, remove all Dyn folders and re-install Studio 1.3. You may also have to use the Microsoft Fixit utility if this does not work.

[2017-10-05 19:40] ricardoperucci commented on #8232
@mjkkirschner  We cherry-picked it, but it is still with problems: It now appears in the nodes' tree, but when I select it for using it on my graph the inputs and outputs are not shown with the node so I can't use it. Maybe is the problem that @phliberato reported at: #8233

[2017-10-07 18:54] EmCru opened #8239 "Dynamo Unable to upgrade or uninstall, Not visible in Revit"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.3.0

## Operating system

Windows 10

## What did you

[2017-10-09 10:56] ghost opened #8241 "Crash when manipulating list"
## Dynamo version

1.3.1.1736

## Operating system

Windows 10

## What did you do?

Connected the node "GetItemAtIndex" to a list generated with python

## What did you expect to see?

A list

## What did you see instead?

ERROR
![error](https://user-images.githubusercontent.com/11173543/31335070-9d6bf756-acf9-11e7-91ab-1c95055f65d0.PNG)

[2017-10-09 13:09] jnealb commented on #8241
@rhamati Is it possible for you to share your Dynamo graph and Python script with us?

[2017-10-09 15:20] smangarole commented on #8239
@EmmettCru What's the revit version you been using?

[2017-10-09 15:29] jnealb commented on #8235
@EENagel Any progress?

[2017-10-09 15:32] jnealb commented on #8150
@aparajit-pratap Is this as designed?

[2017-10-09 15:35] jnealb commented on #8126
@cpalexander Is this still an issue for you?

[2017-10-09 15:38] jnealb commented on #8144
@ysvirshch This is being addressed in the upcoming Dynamo release.

[2017-10-09 15:38] #8144 closed

[2017-10-09 15:40] QilongTang commented on #8180
@ktseniedaoducnguyen Would you show us the top of callstack so we can work on the exception fix if you ever hit this again?

[2017-10-09 15:48] QilongTang commented on #8144
@ysvirshch This will be fixed in next release:
![recursivecustomnode](https://user-images.githubusercontent.com/3942418/31346629-b69d3422-ace7-11e7-91b3-c92e156f9717.gif)

[2017-10-09 15:50] jnealb commented on #8148
@vykrum This is tracked with QNTM-2256: thank you.

[2017-10-09 15:50] #8148 closed

[2017-10-09 15:54] jnealb commented on #8130
Update the priority of QNTM-1681 to Critical.

[2017-10-09 15:54] #8130 closed

[2017-10-09 16:46] QilongTang commented on #8118
https://github.com/DynamoDS/Dynamo/issues/8039 Same callstack

[2017-10-09 16:47] QilongTang commented on #8039
We will use https://github.com/DynamoDS/Dynamo/issues/8118 to track. Closing

[2017-10-09 16:47] #8039 closed

[2017-10-09 22:35] EmmettCru commented on #8239
Revit 2018.1, Revit 2017.2.1

I seem to have resolved this issue:

   - removed all Revit & Dynamo from my Cpu
   - had to enable the built-in admin profile thru CMD
   - log-in as Admin
   - Force the removal of the 1.3.0 from there
   - Re-Install All

I did this on my personal CPU.  I seem to have the same issue on my work
Cpu but I am unsure if I even have the same access to the Admin account.

[2017-10-10 09:03] MarcelBPM opened #8246 "Not all Packages on Networkdrive loaded"
## Dynamo version 1.3.1

Windows 10

## What did you do?

Installed Dynamo 1.3.1

## What did you expect to see?

All packages from the network folder loaded

## What did you see instead?

A few Packages loaded, but not all. Asked the Dynamo Forum. They suggested that it had to do with .dll blocking, but it worked perfectly normal in 1.3.0, (nothing changed on the network side), so this cannot be

[2017-10-10 10:46] rhamati commented on #8241
[zip.zip](https://github.com/DynamoDS/Dynamo/files/1371554/zip.zip)

[2017-10-10 10:47] rhamati commented on #8241
The dynamo script has a file path node, this needs to refer the xml file

[2017-10-10 11:53] andydandy74 commented on #8246
https://forum.dynamobim.com/t/package-paths-on-network-drives/15399

[2017-10-11 12:45] radumg commented on #8130
hi @jnealb , if this has been closed, I assume it has been resolved on the ADSK side somehow ?

[2017-10-11 13:02] radumg commented on #8224
I'm all for UI consistency but the suggestion would seem counter-intuitive to me Ollie @OliverEGreen : namely, it allows a dropdown to an `empty list` item , which should arguably never have a dropdown. The old one also makes the output flow less well, which actually serves the purpose of highlighting interruptions in the data.

I'd welcome fixing the indentation as per Ollie's mockup, but getting

[2017-10-11 13:04] radumg commented on #7228
I second this - had a brief prototype implementation for routing Python console to Dynamo console but it was very hacky. First-class support for console logging from ZT nodes and Python would be great.

[2017-10-11 14:41] jnealb commented on #8130
@radumg As mentioned above, it is filed in our backlog which is why I closed it.

[2017-10-12 13:05] EENagel commented on #8235
Nothing positive to report.  We tried uninstalling / re-installing Dynamo Studio with no luck.  Version of Studio: 1.3.1.1739

From: Neal Burnham [mailto:notifications@github.com]
Sent: Monday, October 09, 2017 9:30 AM
To: DynamoDS/Dynamo <Dynamo@noreply.github.com>
Cc: Eric Nagel <ericn@ctagroup.com>; Mention <mention@noreply.github.com>
Subject: Re: [DynamoDS/Dynamo] Geometry not visible in Dyna

[2017-10-12 13:57] jnealb commented on #8235
@EENagel Would it be possible to remote into your machine to debug this?

[2017-10-12 17:21] EENagel commented on #8235
It might be possible.  My IT department would like to know if you work for Autodesk and/or the Dynamo development team.  Please note that I have CC’d my IT contact.

From: Neal Burnham [mailto:notifications@github.com]
Sent: Thursday, October 12, 2017 7:58 AM
To: DynamoDS/Dynamo <Dynamo@noreply.github.com>
Cc: Eric Nagel <ericn@ctagroup.com>; Mention <mention@noreply.github.com>
Subject: Re: [Dyna

[2017-10-12 17:36] jnealb commented on #8235
Yes I do, QA Engineer on Dynamo.

[2017-10-12 19:24] EENagel commented on #8235
Neal,

We would like you to remote in and have a look at the issue we are facing with Dynamo Studio.  Casey, my IT contact, would like for you to remote into his virtual machine as he is having the exact same issue that I am having.  How do we go about doing that and is there a specific time that works for you?

Eric Nagel

From: Neal Burnham [mailto:notifications@github.com]
Sent: Thursday, Octob

[2017-10-13 04:44] natethegrate1 commented on #8091
I was able to fix this issue by uninstalling all other versions of dynamo. I had to use the uninstall tool from windows to ensure they all uninstalled properly. Then I reinstalled 1.2.1:
https://support.microsoft.com/en-us/help/17588/fix-problems-that-block-programs-from-being-installed-or-removed

[2017-10-13 04:44] #8091 closed

[2017-10-13 07:47] DanielHurtubise commented on #8235
Morning Eric,
if it makes you (and IT) feel better i've done it to solve problems. It works like a charm but most importantly... Neal will sove your issue ;)

[2017-10-13 13:56] jnealb commented on #8235
@EENagel No pressure! Is Monday at 3:00pm EST possible? Do you use TeamViewer, or another tool for meetings?

[2017-10-13 14:11] EENagel commented on #8235
Monday works, so does TeamViewer.  Can we take the communication off the forum and email directly so that I can include my IT staff?

From: Neal Burnham [mailto:notifications@github.com]
Sent: Friday, October 13, 2017 7:56 AM
To: DynamoDS/Dynamo <Dynamo@noreply.github.com>
Cc: Eric Nagel <ericn@ctagroup.com>; Mention <mention@noreply.github.com>
Subject: Re: [DynamoDS/Dynamo] Geometry not visible

[2017-10-13 14:12] jnealb commented on #8235
Yes: neal.burnham@autodesk.com

[2017-10-16 18:27] Racel commented on #536
This is unclear. We will likely have new interaction paradigms for the next generation Dynamo. Closing for now.

[2017-10-16 18:27] #536 closed

[2017-10-16 18:35] Racel commented on #715
We had several internal projects around multiple workspaces that have not been pushed to master. We understand that our customers want to be able to easily work with multiple workspaces simultaneously without having to rerun the graph. We are looking at other options other than tabs to resolve this problem. Closing for now, but please note that this is being actively considered in the next generat

[2017-10-16 18:35] #715 closed

[2017-10-16 18:36] Racel commented on #919
We do not plan on addressing this UI update in the WPF version of Dynamo the near term. Closing for now.

[2017-10-16 18:36] #919 closed

[2017-10-16 18:39] Racel commented on #1225
We have improved preview bubbles to make it easier for customers to inspect the data that is coming out of their lists. We also intend on doing a context menu cleanup for the next generation Dynamo UI, so I don't think we will be working on this in the near term. Closing.

[2017-10-16 18:39] #1225 closed

[2017-10-16 18:40] QilongTang commented on #8232
Closing since this should be fixed in the latest built version on master branch, please re-open or file different issue if you find behavior still wrong

[2017-10-16 18:41] Racel commented on #1923
Closing as their is another related issues in #1171 that seems to have more discussion. Additionally, we will probably not be able to address this until we roll-out the new package manager backend.

[2017-10-16 18:41] #1923 closed

[2017-10-16 18:56] Racel commented on #2315
This is still a problem, but I do not see us having bandwidth to put more work into the "Formula" or "Math.Sin" node to add a units setting. Both nodes are unclear about what unit they require. One quick fix I could see us doing is at least specifying the unit in the tooltip of the "Math.Sin" node. This is a quick one line fix, so adding it to UX Love.

[2017-10-16 18:58] Racel commented on #2484
This would be nice to have, but I do not think we will have the bandwidth to take this on any time soon. Closing for now, but will consider for the next generation Dynamo UI.

[2017-10-16 18:58] #2484 closed

[2017-10-16 19:00] Racel commented on #2695
I also think this is an easy minor fix that we can squeeze in to our sprints. Assigning to me and UX Love for now. Will try to address soon.

[2017-10-16 19:02] Racel commented on #2842
We will not be working on this for the next release, but we anticipate improvements on CBNs in the next generation of Dynamo. Closing this for now.

[2017-10-16 19:02] #2842 closed

[2017-10-16 19:03] Racel commented on #2937
We have addressed this already by having a blue-grey tint over nodes that are hidden from preview. Closing

[2017-10-16 19:03] #2937 closed

[2017-10-16 19:07] Racel commented on #3274
@kronz - I believe we have improved this workflow in the more recent versions of Dynamo. Closing for now, but feel free to reopen if you disagree.

[2017-10-16 19:07] #3274 closed

[2017-10-16 19:08] Racel commented on #3562
@mjkkirschner - Any thoughts on this? If there is not a workaround for this, we do not have the bandwidth to take this on at this time. Please close if this will require implementation on our end.

[2017-10-16 19:10] Racel commented on #3605
We have made improvements to the Library UI, but still need to make significant changes to our search. We plan on working on this in the near term. Closing this for now as we are tracking in another system.

[2017-10-16 19:10] #3605 closed

[2017-10-16 19:16] Racel commented on #3613
You can make subdirectories using nodes:
![image](https://user-images.githubusercontent.com/2551261/31630549-e5a4b374-b284-11e7-8c0d-3e62f947dd52.png)

Closing.

[2017-10-16 19:16] #3613 closed

[2017-10-16 19:20] Racel commented on #3709
I am assuming that the request is to automatically create a list of all the individual lines from the code block node. I suggest that they user either use the DS syntax {x,y,z} which will automatically create a list as they are typing in the list items. Or, read from an excel or csv file. From a development/UX standpoint, it will be difficult for us to predict whether or not you want us to create

[2017-10-16 19:20] #3709 closed

[2017-10-16 19:22] jnealb commented on #8235
Another case of 1.x install/upgrade leading to the "no gfx" scenario. Uninstall all Dyn (1.2.2+1.3) followed by a Studio install cleared it.

[2017-10-16 19:22] #8235 closed

[2017-10-16 19:23] Racel commented on #3754
We are actively working on this for the next generation Dynamo UI. Closing as it will not be addressed in Dynamo WPF.

[2017-10-16 19:23] #3754 closed

[2017-10-16 19:24] Racel commented on #3920
Closing this as it is a duplicate of other newer issues.

[2017-10-16 19:24] #3920 closed

[2017-10-16 19:25] Racel commented on #4384
Closing this as the discussion has been picked up in a newer issue.

[2017-10-16 19:25] #4384 closed

[2017-10-16 19:27] Racel commented on #3954
We do not plan on addressing this issue in the near term. It appears that the initial request is satisfied. Closing for now.

[2017-10-16 19:27] #3954 closed

[2017-10-16 19:48] Racel commented on #4033
This is fixed and will be available in the 2.0 Release.  Closing.
![image](https://user-images.githubusercontent.com/2551261/31631970-6c2b9c56-b289-11e7-9a17-a552fa121fea.png)

[2017-10-16 19:48] #4033 closed

[2017-10-16 19:52] Racel commented on #4168
We will likely not address this in the WPF UI, but will consider this for CBN improvements in the next generation UI. Closing this for now.

[2017-10-16 19:52] #4168 closed

[2017-10-16 19:54] Racel commented on #4285
This will be complicated to implement and require significant investment in the geometry viewer and WPF UI. As mentioned in our blog post about the future of Dynamo, we will not be addressing these type of issues in the near term with the existing UI. Closing for now.

[2017-10-16 19:54] #4285 closed

[2017-10-16 19:55] Racel commented on #4488
This is being improved in Dynamo 2.0. As per our latest blog post on the future of Dynamo, we will not be putting resources in the the geometry viewer as we are working on other solutions. Closing for now.

[2017-10-16 19:55] #4488 closed

[2017-10-16 19:59] Racel commented on #4938
You can get this now using List@Level

![image](https://user-images.githubusercontent.com/2551261/31632417-da817af8-b28a-11e7-94fa-5079f1cffd1b.png)

Closing

[2017-10-16 19:59] #4938 closed

[2017-10-16 20:00] Racel commented on #4942
Align is still significantly messed up in the latest version of Dynamo. We plan on addressing this in the next generation UI, so I will close this for now as this repo relates to the existing WPF UI.

[2017-10-16 20:00] #4942 closed

[2017-10-16 20:03] Racel commented on #5072
This is working in the latest build of 2.0. Closing as fixed.

[2017-10-16 20:03] #5072 closed

[2017-10-16 20:05] Racel commented on #5076
Python improvements have been recently merged in the 2.0 master build. We plan on getting daily builds out soon. Closing this issue as it has been addressed in the latest merged PR mentioned above.

[2017-10-16 20:05] #5076 closed

[2017-10-16 20:07] Racel commented on #5094
We do not plan on addressing this in the near term future. Closing for now.

[2017-10-16 20:07] #5094 closed

[2017-10-16 20:11] Racel commented on #5571
We do not plan on reverting back to the 0.8 version of the library. We are working on a reorganization of the library for 2.0. We currently do not have plans to cache the state o the library and do not have that in our roadmap for the near term future.

Closing this for now.

[2017-10-16 20:11] #5571 closed

[2017-10-16 20:12] Racel commented on #6547
We had planned on working on this a while back, but since we are no longer going to investing resources in the current geometry viewer, I think we have to close this for now. We will try and get back to this issue in the next generation of Dynamo.

[2017-10-16 20:12] #6547 closed

[2017-10-16 20:13] Racel commented on #8138
This will not be addressed in the WPF UI. But, we will try and address this in the next generation of Dynamo. Closing.

[2017-10-16 20:13] #8138 closed

[2017-10-16 20:21] Racel commented on #3709
It was called to my attention, that I might have misinterpreted the initial request. If the request was to have the node ports match up, we do not plan on working on this in the WPF UI. We will consider it as we work on the next generation of Dynamo. Still closing this for now.

[2017-10-16 20:24] Racel commented on #3709
Duplicate of #8138

[2017-10-17 13:33] MTJ001 opened #8267 "Crash after open a Code Block"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.3.1.1736

## Operating system

Windows 7

## What did

[2017-10-17 14:44] mjkkirschner commented on #8267
Please try removing other addins from revit and packages from dynamo - it's likely some package or addin is referencing a different version of avalonedit dll. You can try searching for that dll.

What version of revit are you on?

[2017-10-17 15:20] mjkkirschner commented on #8229
please reopen with more information.

[2017-10-17 15:20] #8229 closed

[2017-10-17 15:23] mjkkirschner commented on #8077
please reopen if you are still having trouble.

[2017-10-17 15:23] #8077 closed

[2017-10-17 15:24] MTJ001 commented on #8267
Well, to be honest with you that issue has arisen when some packages were installed, so it was my first thought. I am running last version 1.3.1.1736.
Thank for the quick response.

[2017-10-17 16:21] b-ardrey23 opened #8268 "Rhythm Package not working or cannot be found."
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.3.2.0

## Operating system

Window 7

## What did you

[2017-10-17 17:18] mjkkirschner commented on #8268
what other packages do you have installed?
what does the crash exception state?
Have you contacted the author of Rhythm?

[2017-10-17 17:57] b-ardrey23 commented on #8268
for the other packages I have installed they are lunchbox, clockwork and spring nodes. After I try to install Rhythm is see a green cloud that says update ready. When I click on it states that I need to restart/close. Then is try to close but windows states that it did not close properly and check for solutions on online. As for contacting the author I have not yet.

[2017-10-17 19:59] ksobon opened #8269 "AppDomain issue with Xceed.Wpf.Toolkit.dll"
So this is a little bit weird. It has to do with the Revit's AppDomain. It's been a while since I ran into this issue, but recently I have been working on a little Dynamo WPF node and I used a control from Xceed.Wpf.Toolkit. It's all hunky dory, I can debug the project, and it all works fine. Then I decide to publish my package, and drop the Xceed.Wpf.Toolkit.dll into Dynamo's package folder, only

[2017-10-17 20:54] mjkkirschner commented on #8269
we now also have a dependency on xceed for the color palette node which is in the core library. The creation of an appDomain for Dynamo seems like a very large change. We are continuing to find issues with dll conflicts with other addins, packages etc, so we're going to start an investigation here soon, will try to followup on possible solutions we find.

[2017-10-17 20:55] mjkkirschner commented on #8268
There should be no update associated with Rhythm using the Dynamo update, so I see no reason to click that, seems like a possible incorrect notification there.

Can you attempt to uninstall the other packages temporarily and install Rhythm?

[2017-10-17 20:55] mjkkirschner commented on #8268
also please check the dynamo console for any messages about the rhythm library.

[2017-10-17 21:04] mjkkirschner commented on #8246
@andydandy74 what do you propose here - that we improve the documentation for developers on deploying their packages?

[2017-10-17 21:05] mjkkirschner commented on #8239
@EmmettCru have you been able to resolve this?

[2017-10-17 21:13] mjkkirschner commented on #8223
This seems like a bug.
Have you been able to resolve it?

[2017-10-17 21:14] mjkkirschner commented on #8154
@vykrum is there any chance of getting a graph which reproduces this?

[2017-10-17 21:17] andydandy74 commented on #8246
Not my issue. Not proposing anything. Just added the link to the discussion the OP was referring to.

[2017-10-17 21:20] mjkkirschner commented on #629
@archinate I believe this functionality can be achieved with MeshToolkit nodes now. Please reopen if not what you were looking for.

[2017-10-17 21:20] #629 closed

[2017-10-17 21:22] mjkkirschner commented on #8100
@bogdanzavu FYI

[2017-10-17 21:23] mjkkirschner commented on #8079
@kraftwerk15 is this still an issue for you?

[2017-10-17 21:23] #7984 closed

[2017-10-17 21:25] mjkkirschner commented on #7861
@jnealb any update here?

[2017-10-17 21:26] kraftwerk15 commented on #8079
I am no longer receiving this issue. I did a complete uninstall and reinstall of the Dynamo package to remove the issue. This was the only solution I could find to this issue.

[2017-10-17 21:26] #8079 closed

[2017-10-17 21:27] mjkkirschner commented on #7965
I'm not sure what the fix is here besides disallowing circular dependencies - the algorithm for frozen state calculation depends on the graph having no cycles AFAIK.

[2017-10-17 21:29] mjkkirschner commented on #7967
@KimberleyR we'll need the stack trace from the crash dialog at a minimum to help. Please reopen if you are still having the issue.

[2017-10-17 21:29] #7967 closed

[2017-10-17 21:30] mjkkirschner commented on #7854
@JarodSchultz was this issue resolved so that you could get both studio and dynamo revit working?

[2017-10-17 21:31] QilongTang commented on #7296
It does not seem to be a generic issue on XML file renamed to *.txt from my testing.

Result in latest daily build candidate:
![image](https://user-images.githubusercontent.com/3942418/31690335-6eea01d0-b360-11e7-9b9f-51f721a3e12a.png)

Result in Dynamo release Build 1.3.2:
![image](https://user-images.githubusercontent.com/3942418/31690476-d35b6226-b360-11e7-9fc8-fd501d2d3c17.png)

Closing for no

[2017-10-17 21:31] #7296 closed

[2017-10-17 21:31] mjkkirschner commented on #7725
@aparajit-pratap @ke-yu is this expected?

[2017-10-17 21:36] Dewb commented on #5137
#8182 has been merged.

[2017-10-17 21:36] JarodSchultz commented on #7854
Yes it was, I had to get Autodesk support & Zach Kron involved to get it fixed. It was an issue on how the multiple "patches" were being installed to update Dynamo Studio and Dynamo for Revit to version 1.3

[2017-10-17 21:37] Dewb commented on #5068
#8182 enables multiple Python script windows to be open at once.

[2017-10-17 21:37] #5068 closed

[2017-10-17 21:37] mjkkirschner commented on #7707
@Racel I think we should try to tackle this - I have always found this display setting confusing, and would as @aparajit-pratap refers above, prefer to get rid of this or try @pboyer 's solution.

[2017-10-17 21:40] gregmarr commented on #7725
I would say yes, the next number in the sequence is greater than the largest possible positive 32 bit number, and so it wraps around to a negative value.  Getting a larger number would require using a 64 bit integer.

[2017-10-17 23:12] EmmettCru commented on #8239
No I am still stuck on 1.3.0 on my work machine. I did not want to go about
the same process as I did at home.

On Tue, Oct 17, 2017 at 2:05 PM, Michael Kirschner <notifications@github.com

--
Regards,
Emmett E Cruey
(925)695-6000

[2017-10-18 02:33] ke-yu commented on #7725
I remember internally we use int64, not int32.

[2017-10-18 02:35] gregmarr commented on #7725
Seems like there needs to be an int32 in the pipeline somewhere.

[2017-10-18 09:18] ThomasMahon commented on #8223
Unfortunately not, I did attempt to publish again, ensuring the file structure was correct, but it once again screwed up the file locations in the same way!

[2017-10-18 13:12] alfarok commented on #3749
I am closing this issue as there are known multiple OOTB workarounds and packages that can handle this functionality.  We will also keep this in mind next time we have the bandwidth to continue development on the meshToolkit package.

[2017-10-18 13:12] #3749 closed

[2017-10-18 13:19] alfarok commented on #1417
I am closing this issue as we currently have OOTB nodes to handle vector math and we don't currently have plans to merge this functionality.  Although convenient in some scenarios this will create complication/confusion in others.

[2017-10-18 13:19] #1417 closed

[2017-10-18 13:26] alfarok commented on #7649
Cannot reproduce without more info, closing

[2017-10-18 13:26] #7649 closed

[2017-10-18 13:28] jnealb commented on #7861
@T-Lueks Thanks for the DxDiag file, which shows that you have an Intel(R) HD Graphics 4600 gfx card. Do you still get the crash?

[2017-10-18 13:30] alfarok commented on #6192
Dynamo does not officially support Wacom interaction.  I would try upgrading to a newer version of Dynamo or try tweaking Wacom settings for better response as a workaround.  Closing this issue

[2017-10-18 13:30] #6192 closed

[2017-10-18 13:42] mjkkirschner commented on #8215
This is likely a issue with PyRevit addin - do you have this installed?

[2017-10-18 13:55] alfarok commented on #5821
Dynamo Samples are up to date with the current Dynamo version (1.3), I am closing this issue

[2017-10-18 13:55] #5821 closed

[2017-10-18 14:01] phliberato commented on #8232
@QilongTang I know that you asked to open another file issue, but I think it would be relevant write here the issue that is happening yet.
When I open custom node file by Dynamo open file menu, custom node opens perfectly.(I realized that this action uses `TryGetFunctionWorkspace` function to load  custom node and LibraryServices is not null at this case).
However when I have tried to load custom

[2017-10-18 14:21] ramramps commented on #8102
Because this is tracked under Dynamo For Revit repo, closing this issue in Dynamo.

[2017-10-18 14:21] #8102 closed

[2017-10-18 14:22] ramramps commented on #8097
@bullfrawgs Any updates on this?

[2017-10-18 14:23] ramramps commented on #8064
Closing this  for now.
@pierramo Please feel free to re-open if this issue still persists.

[2017-10-18 14:23] #8064 closed

[2017-10-18 14:26] alfarok commented on #4677
closing this as core 2.0 includes the ability to `Export Workspace As Image` and `Export Background 3D Preview as Image`.  If there is still an issue feel free to comment and reopen.

[2017-10-18 14:26] #4677 closed

[2017-10-18 14:29] ramramps commented on #8053
@taurerm Let us know if this is still an issue. Also provide some screen shot or attach the graph here.
With latest core, we don't see this issue.

[2017-10-18 14:30] ramramps commented on #7993
@AndrewHeumann can you please attach the graph or provide some screen shot?

[2017-10-18 14:32] AndrewHeumann commented on #7993
No

[2017-10-18 14:45] ramramps commented on #7972
This is tracked here :  https://jira.autodesk.com/browse/QNTM-2372

[2017-10-18 14:45] #7972 closed

[2017-10-18 15:43] ramramps commented on #7993
We have tried this in other graphs and cannot reproduce.
Closing this for now, but feel free re-open when you see it again. Please attach the graph or error screen shot.

[2017-10-18 15:43] #7993 closed

[2017-10-18 15:50] andydandy74 commented on #4677
@alfarok will the geometry view export be exposed as a node?

[2017-10-18 17:16] taurerm commented on #8053
Issue resolved...

Martin Taurer
taurerm@gmail.com
+31 6 34489 403

On Wed, Oct 18, 2017 at 4:29 PM, ramramps <notifications@github.com> wrote:

[2017-10-18 17:30] #8053 closed

[2017-10-18 17:30] ramramps commented on #8053
thanks @taurerm

[2017-10-18 17:44] alfarok commented on #4677
@andydandy74 It isn't exposed as a node, but the underlying function can be accessed and called within a zerotouch node I believe.  I do agree that having this as a node would be helpful for tasks such as generating a series of images based on various parameters (helping to automate .gifs etc)

[2017-10-18 18:06] andydandy74 commented on #4677
Great, thanks for the info. Won't need a node if it's a public method. 😀

[2017-10-18 18:59] taurerm commented on #8053
It turned out that another plugin caused the issue - pyRevit
http://eirannejad.github.io/pyRevit/ - it is hard to trace the root of the
cause - at my desktop installation they coexist nicely, on my laptop they
crash...

Happy to help to get to the root of this - I assume it is a Python
incompatability...

Cheers
Martin

Martin Taurer
taurerm@gmail.com
+31 6 34489 403

On Wed, Oct 18, 2017 at 7:31

[2017-10-18 19:48] ramramps commented on #7891
@fathygad Any updates on this issue? did you still see this issue?

[2017-10-18 20:12] QilongTang commented on #7295
This will be fixed in Dynamo 2.0. Closing

[2017-10-18 20:12] #7295 closed

[2017-10-19 00:57] dimven commented on #8267
Xceed is used in the UI++ package by @gytaco

[2017-10-19 05:45] T-Lueks commented on #7861
No, I fixed it via updating my main GPU. The Intel(R) HD Graphics 4600 is just an on board GPU.

Met vriendelijke groet,

T. (Tomas) Lueks
Tekenaar

Mobilis B.V.

T +31 683 256 320 | F +31 55 - 538 22 44 | t.lueks@mobilis.nl<mailto:t.lueks@mobilis.nl> | www.mobilis.nl<http://www.mobilis.nl/>

Landdrostlaan 49, 7327 GM Apeldoorn | Postbus 20175, 7302 HD Apeldoorn
Disclaimer<www.mobilis.nl/nl/footer

[2017-10-19 13:35] #7861 closed

[2017-10-19 14:59] #8232 closed

[2017-10-19 17:03] ghafourpour opened #8277 "run radiance analysis"
![radiance](https://user-images.githubusercontent.com/32937673/31783908-bb332d52-b50c-11e7-8885-a9a24c5b26ff.jpg)

[2017-10-21 12:08] SpencerMAQ commented on #8277
You might want to post on the ladybug forum instead: http://discourse.ladybug.tools/

[2017-10-21 23:08] mjkkirschner opened #8281 "periodic mode with low values, stops dynamo from closing."
will file internally given the time.

[2017-10-23 22:29] radumg commented on #8246
Improved documentation would be great @mjkkirschner !

At this point, we're not sure what's causing this and people's IT & network setups vary wildly, so would be good to at least understand why/what changed.

[2017-10-24 14:40] nicolechuong commented on #8215
@mjkkirschner yes, i do. Is PyRevit cause the problem? And, could you please advise that how can I fix it?

[2017-10-24 15:46] mjkkirschner commented on #8215
please see this:
https://github.com/eirannejad/pyRevit/issues/231#issuecomment-324490548

We have this tracked internally as well.

[2017-10-24 16:00] nicolechuong commented on #8215
@mjkkirschner thanks for quick respond 👍

[2017-10-24 22:09] WhoaHorsey commented on #8267
Okay, So I have the same exact problem... Same operating system, Same dynamo version, etc.  I deleted all my packages, tested both versions of dynamo (0.9.1.4062 and 1.3.1.1736).  I essentially can edit code blocks already in place (from tutorials and examples) but I cannot add a new one without instantly crashing dynamo and getting the same error MTJ001 originally received.

[2017-10-24 22:15] WhoaHorsey commented on #8267
Update... For me it was a revit add-in that was causing the conflict, not packages in dynamo.  If I figure out which one, I will add that to this discussion.

[2017-10-25 08:38] MTJ001 commented on #8267
My issue came out after upgrade my Dynamo version and install Spring Nodes Package if this can help. Still dealing with this problem, I wonder if could be Dynamo updating.

[2017-10-26 08:19] MarcelBPM commented on #8246
Another user on the forum posted this:

https://forum.dynamobim.com/t/packages-on-local-network/15888

Which might be of help

Marcel

[2017-10-26 15:45] dnegi123 opened #8289 "Crashes on inputting anything in designscript"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

(both 0.9 and 1.3.)

## Operating system

(win 10)

## W

[2017-10-26 15:47] mjkkirschner commented on #8289
@dnegi123 please provide the stack trace which specifies the exception that is thrown so we can help - and any sample files that replicate the issue (or a description of how to reproduce) Does the crash happen with only one node in the graph? etc.

[2017-10-26 17:15] Dewb opened #8290 "Crash when copy-pasting nodes from one workspace to another"
## Dynamo version

Core 2.0.0.2821 (local build from master, commit 4cb471e61ee73190d619dd1b12a374e592ea70fc)

## Operating system

Windows 10

## What did you do?

- Open workspace (the 06_SurfaceMilling.dyn in the extras folder of Machina-Dynamo 0.4.3)
- Select some nodes
- Edit > Copy
- New Home Workspace
- Right click > Paste

## What did you expect to see?

The pasted nodes in my new workspac

[2017-10-26 17:15] Dewb commented on #8290
[commands.zip](https://github.com/DynamoDS/Dynamo/files/1419355/commands.zip)

[2017-10-26 17:16] mjkkirschner commented on #8290
@QilongTang seems similar to @phliberato's PR.

[2017-10-26 17:26] mjkkirschner commented on #8290
tracked with:
https://jira.autodesk.com/browse/QNTM-2485

[2017-10-26 23:38] Lexiko commented on #8246
We have the same issue. Re-pathing to anywhere on the local drive works fine. As soon as it moves to a network drive the packages disappear from the library. They still show in "manage packages" but no content.
Have tried with 1.2.1, 1.3.0 and 1.3.2.
Have tried unblocking all the files in the bin folders.
![image](https://user-images.githubusercontent.com/18419461/32081738-e713069e-bb02-11e7-8edb-

[2017-10-27 00:38] dnegi123 commented on #8289
Hi @mjkkirschner i reinstalled the  stable version 1.3.1 (earlier was 1.3.2) last night , now its working fine .So don't have any  sample files or stack trace . It was like inputting anything in the design script or just trying to open/edit a pythonscript would crash dynamo.

[2017-10-27 01:05] dnegi123 commented on #8289
Actually I made an error here I tes

[2017-10-27 01:09] dnegi123 commented on #8289
Actually its crashing again(even though I have 1.3.1 now)....Could it be because of some packages... Here's the error

![error dynamo](https://user-images.githubusercontent.com/12947657/32083586-6eaffd58-baf6-11e7-92f5-5da0a1082295.png)

Method not found: 'Void ICSharpCode.AvalonEdit.Editing.TextArea.ClearSelection()'.

   at Dynamo.UI.Controls.CodeCompletionEditor.OnTextAreaLostFocus(Object sende

[2017-10-27 01:16] dnegi123 commented on #8289
Similar crash while opening pythonscript:
![error dynamo 2](https://user-images.githubusercontent.com/12947657/32083728-894313fc-baf7-11e7-8ea9-a72369e63f9a.png)

Object reference not set to an instance of an object.

   at System.Windows.Baml2006.Baml2006Reader.Process_PropertyWithConverter()
   at System.Windows.Baml2006.Baml2006Reader.Process_OneBamlRecord()
   at System.Windows.Baml2006.Baml20

[2017-10-27 02:16] mjkkirschner commented on #8289
yes, please look at the green notifications you have in the dynamo menu. Some revit addin or dynamo package is loading an incompatible version of avalonEdit.dll which does not have this method.

[2017-10-27 02:19] mjkkirschner commented on #8277
closing this as it deals with a specific package.

[2017-10-27 02:19] #8277 closed

[2017-10-27 02:23] mjkkirschner commented on #8246
can you try having IT add your network drives as trusted sites:
https://technet.microsoft.com/en-us/library/bb496428.aspx

[2017-10-27 02:25] mjkkirschner commented on #8246
another article:
https://docs.microsoft.com/en-us/dotnet/framework/tools/caspol-exe-code-access-security-policy-tool

[2017-10-27 02:26] mjkkirschner commented on #8246
The note on that article seems to imply that something has changed between .net runtime 3 and 4 with regard to CAS - perhaps we built 1.0 against 3.x or users have now installed newer .net runtimes -  which might cause a change in behavior.

[2017-10-27 02:30] mjkkirschner commented on #8246
more info, this seems to shed some more light:
https://docs.microsoft.com/en-us/dotnet/framework/app-domains/running-intranet-applications-in-full-trust

[2017-10-27 02:41] mjkkirschner commented on #8246
last one:
https://superuser.com/questions/44503/how-do-i-tell-windows-7-to-trust-a-particular-network-location

not sure if this applies anymore with windows 10 but I would give it a shot.

personally, I develop while storing some dlls in network drives and had to add that drive as a trusted site using IE....

[2017-10-27 02:48] dnegi123 commented on #8289
Thanks @mjkkirschner  . I uninstalled one of the addins (pyrevit) and now its working fine . Which means I can't use both at the same time .Wonder if others are getting the same error ?

[2017-10-27 03:23] BassemAssad opened #8291 "Cannot see the Nodes when opening Daynamo, and an error notifcation appears!"
## Dynamo version
Dynamo 1.3

## Operating system
Windows 10

## What did you do?
When opening Dynamo, cannot see the nodes, and does not work

## What did you see instead?
Only wires, and nodes disappearing

![dynamo error](https://user-images.githubusercontent.com/33142383/32086640-67aa67d8-bb22-11e7-88b2-424adb99ea78.jpg)

[2017-10-27 05:06] Lexiko commented on #8246
Once IT added the server location to trusted sites all the packages showed up again. Thanks for the tip @mjkkirschner

[2017-10-27 15:42] ramramps commented on #8291
@BassemAssad Can you attach the graph here?

[2017-10-27 15:42] ramramps commented on #7711
@bigdoods Any updates here? Did you try using mono?

[2017-10-27 15:57] bigdoods commented on #7711
No. Didn't attempt @mjkkirschner suggestion and didn't install mono version 3.2.8 to try either.

[2017-10-27 15:59] ramramps commented on #7711
thanks @bigdoods . Please try using that suggestion and let us know if that works.

[2017-10-27 16:01] bigdoods commented on #7711
If there is a need for it in the future, I might do, but I don't personally have a need for it immediately. I would be very interested to hear about another person's success ;-)

[2017-10-27 16:06] ramramps commented on #7711
Sure @bigdoods. You can look at the github space for any updates.
I am closing this for now.

[2017-10-27 16:06] #7711 closed

[2017-10-27 16:30] ramramps commented on #7658
@paoloemilioserra This is fixed in the next release.
<img width="323" alt="screen shot 2017-10-27 at 12 29 37 pm" src="https://user-images.githubusercontent.com/8495197/32114831-931a87a0-bb12-11e7-976c-70d59b19fd10.png">

[2017-10-27 16:30] ramramps commented on #7658
Closing this, as this is fixed in the next release.

[2017-10-27 16:30] #7658 closed

[2017-10-27 16:36] ramramps commented on #7538
We are working on this in the next generation of dynamo. Closing this here

[2017-10-27 16:36] #7538 closed

[2017-10-27 16:37] ramramps commented on #7314
@BrettCTaylor Please re-open if you see this error .

[2017-10-27 16:37] #7314 closed

[2017-10-27 16:39] ramramps commented on #7207
@ksobon Let us know if this is fixed.

[2017-10-27 16:43] ramramps commented on #6925
@cahitokten I believe this is fixed. can you please confirm?

[2017-10-27 16:45] ramramps commented on #8092
@freedom0525 Did you try the suggestion made above?

[2017-10-27 18:06] ramramps commented on #309
Closing this. Tracked in this issue : https://github.com/DynamoDS/Dynamo/issues/7481

[2017-10-27 18:06] #309 closed

[2017-10-27 18:08] ramramps commented on #3361
@vmoyseenko Can you please check and let us know if this is fixed?

[2017-10-27 18:09] ramramps commented on #3652
@epeter- I believe this is fixed. Can you please check and confirm?

[2017-10-27 18:35] mcterry1337 commented on #8246
This worked for me too.

[2017-10-27 23:00] Dewb opened #8293 "Library disappears when using Remote Desktop on 2.0"
## Dynamo version

Sandbox, Core 2.0.0.2821
(local build from master branch, commit d7162b261aa85026d99608dae54201d0bba68d53)

## Operating system

Windows 10

## What did you do?

- Run Dynamo, open a workspace
- Connect to Win10 machine using Remote Desktop (from MacBook Pro running OSX)
- Click in library a couple of times
- Library disappears, region of screen goes black
- Go back to Win10 mac

[2017-10-27 23:01] Dewb commented on #8293
I deleted the `packages` folder before building the latest master, forcing a nuget package restore, in case that was the issue.

[2017-10-28 00:08] mjkkirschner commented on #8293
@Dewb this appears to be fixed in cef 57... too bad we can't use that. 😢

[2017-10-28 00:09] mjkkirschner commented on #8293
https://github.com/cefsharp/CefSharp/issues/1861

[2017-10-30 17:16] alfarok commented on #7766
This issue appears to be resolved in more recent builds.  Closing the issue due to the fact that I am unable to reproduce, but feel free to reopen if you encounter similar behavior on a newer build.

![image](https://user-images.githubusercontent.com/13341935/32184905-21cad640-bd74-11e7-87e7-ef8b79563b2b.png)

[2017-10-30 17:16] #7766 closed

[2017-10-30 17:20] alfarok commented on #7513
@kehehee1  I believe this is due to API changes in Dynamo 2.0.  The current samples are built against 1.3 so you need to be running Core 1.3 to load them properly as opposed to a source build or daily build.  We do have a task around updating the samples to support Core 2.0 which will be completed before the official release.

[2017-10-30 17:27] mjkkirschner commented on #7513
@kehehee1 please note we do not maintain these samples, we maintain the DynamoSamples at:
https://github.com/DynamoDS/DynamoSamples

If you wish to use these you should report this error to the author.

[2017-10-30 17:31] alfarok commented on #7513
oops @mjkkirschner is correct but the cause should be the same.  You will experience the same issue when building/loading the dynamo samples which include NodeModel examples.  I am going to close this issue since it is referring to an outside repo and we are currently tracking dynamo samples update.

[2017-10-30 17:31] #7513 closed

[2017-10-30 17:33] alfarok commented on #5310
@redinkinc We don't have an OOTB node for exporting to STL but the Dynamo team supports the `meshToolkit` package which includes nodes for importing and exporting various mesh files (obj, stl, etc)

[2017-10-30 17:36] alfarok commented on #6069
@phelpa I was not able to reproduce this issue in Dynamo 1.3.  Please let us know if you are still experiencing issues.

[2017-10-30 17:37] jnealb commented on #7513
The task for updating DynamoSamples is QNTM-2145.

[2017-10-30 17:44] Racel commented on #483
@andydandy74 - we will not be addressing these in the WPF UI, but will consider for next generation UI. Closing for now.

[2017-10-30 17:44] #483 closed

[2017-10-30 17:49] Racel commented on #484
We do not have any plans to work on the WPF UI of package manager. This will be addressed in the next generation UI.

[2017-10-30 17:49] #484 closed

[2017-10-30 17:51] Racel commented on #486
As mentioned in other comments, there are no plans to work WPF UI of package manager in the near future. Will consider this option for the next generation UI which will be handled in a different repo.

[2017-10-30 17:51] #486 closed

[2017-10-30 17:51] alfarok commented on #7242
this appears to have been solved, closing

[2017-10-30 17:51] #7242 closed

[2017-10-30 17:53] Racel commented on #594
We have plans to work on search in the near future, and improve UX/UI of using the correct nodes. But, as there are not specific guidelines in this issue, closing for now.

[2017-10-30 17:53] #594 closed

[2017-10-30 17:56] Racel commented on #671
This is something that we will improve in the future, but not right now.

[2017-10-30 17:56] #671 closed

[2017-10-30 17:57] Racel commented on #793
Yes, this is a great idea! But, as mentioned before. We will address this in the next generation and not the WPF UI.

[2017-10-30 17:57] #793 closed

[2017-10-30 17:59] Racel commented on #888
I see line breaks in the website UI. Closing.

[2017-10-30 17:59] #888 closed

[2017-10-30 18:00] Racel commented on #889
We will not have bandwidth to take this on in the near future. Closing for now.

[2017-10-30 18:00] #889 closed

[2017-10-30 18:01] Racel commented on #904
We have no plans in the near term to address these issues. Closing for now.

[2017-10-30 18:01] #904 closed

[2017-10-30 18:04] Racel commented on #957
This is supported now. Closing as fixed.

[2017-10-30 18:04] #957 closed

[2017-10-30 18:06] Racel commented on #971
Unfortunately, we do not have the bandwidth to add a feature for checking updates for your installed nodes. We will address this in the next generation UI though, which we are tracking separately.

Also, currently, the newest packages will always be shown first when searching for packages within Dynamo and you can see the list in the front page of dynamopackages.com.

![image](https://user-images.

[2017-10-30 18:06] #971 closed

[2017-10-30 18:07] Racel commented on #975
Hi @lukechurch - we now have the dynamo dictionary: dictionary.dynamobim.com

Closing :)

[2017-10-30 18:07] #975 closed

[2017-10-30 18:09] Racel commented on #993
@mjkkirschner - The team does not have bandwidth to address this in the near future. Trying to assess how useful this is. Can we close this?

[2017-10-30 18:10] #993 closed

[2017-10-30 18:14] Racel commented on #1093
The next generation of Dynamo leverages web technologies and can be used on mobile devices. Closing.

[2017-10-30 18:14] #1093 closed

[2017-10-30 18:18] Racel commented on #1121
You are correct. We are trying to figure out the next generation of package manager UI that will work on both desktop and web. Closing this for now as this will be addressed when this work is complete.

[2017-10-30 18:18] #1121 closed

[2017-10-30 18:19] #1209 closed, assigned to nobody

[2017-10-30 18:20] Racel commented on #1267
As there are workarounds, and the last comment on this was from 2014, closing.

[2017-10-30 18:20] #1267 closed

[2017-10-30 18:21] ramramps commented on #7677
@DanielHurtubise Did you try the latest build version?
Please re-open if this is an issue with the latest release.

[2017-10-30 18:21] #7677 closed

[2017-10-30 18:22] Racel commented on #1291
We  do not have any plans to improve this in the short term. Closing.

[2017-10-30 18:22] #1291 closed

[2017-10-30 18:24] ramramps commented on #7631
@Amoursol This is fixed in 1.3 Dynamo studio. Please try the latest build and re-open if this is still an issue.

[2017-10-30 18:24] #7631 closed

[2017-10-30 18:26] ramramps commented on #7581
@vykrum This should be fixed in 1.3 release of studio. Please re-open if this is an issue in the latest release

[2017-10-30 18:26] #7581 closed

[2017-10-30 18:28] ramramps commented on #7517
@kehehee1 Did you try the above steps? Please re-open if this is an issue.
Also, please provide some steps to reproduce this issue.

[2017-10-30 18:28] #7517 closed

[2017-10-30 18:30] ramramps commented on #7465
@jhubers I believe this is fixed in 1.3 release. Please let us know if this is fixed.

[2017-10-30 18:34] Racel commented on #1378
We do not have any bandwidth to take this on in the short term. This may be considered for the future, but closing for now.

[2017-10-30 18:34] #1378 closed

[2017-10-30 18:36] Racel commented on #1397
We have several issues we are trying to address in the next generation of Dynamo related to package manager. Will address this issue then, but as this is similar to others that have been filed, closing for now.

[2017-10-30 18:36] #1397 closed

[2017-10-30 18:38] Racel commented on #1416
You can create multiple watch 3d nodes to watch multiple streams simultaneously. We also have been working on a project called fractal which would allow you to look at multiple results simultaneously. We, however, do not have plans to work on this in the current WPF UI, so closing this for now. We will address in our next generation UI in a different way.

[2017-10-30 18:38] #1416 closed

[2017-10-30 18:40] Racel commented on #1605
You can now use 'Manage Node and Pacakge Paths..' to track custom nodes and packages in various locations.

[2017-10-30 18:40] #1605 closed

[2017-10-30 18:43] ramramps commented on #7313
@ikeough API changes (2.0) are updated in the document. Can we close this for now and reopen when we work on multiple home workspaces?

[2017-10-30 18:44] Racel commented on #3108
The behavior here seems correct. Closing.

[2017-10-30 18:44] #3108 closed

[2017-10-30 18:44] ramramps commented on #7237
Closing this, as this is fixed in the referenced PR.

[2017-10-30 18:44] #7237 closed

[2017-10-30 18:49] Racel commented on #3109
I know this task was from a while ago, but another customer had a similar issue just recently. @JRohRevit did you ever find a workaround or determine the issue? I am curious if we still need to look at this in the latest stable release of Dynamo (1.3.x)?

[2017-10-30 18:52] Racel commented on #3152
This appears to be fixed. Closing.

[2017-10-30 18:52] #3152 closed

[2017-10-30 18:54] Racel commented on #3157
We do not have the bandwidth to address this in the near term. Closing for now.

[2017-10-30 18:54] #3157 closed

[2017-10-30 18:55] mccrone commented on #2243
@ejnaren @aparajit-pratap I recently made a node in the Ampersand package that will return a rectangle that describes the minimum bounding box for a planar polyCurve. It will grab the plane from the vertices of the polycurve, so you don't have to supply them. It returns a Rectangle type, not a proper BoundingBox. It's a limited implementation--it needs a better algorithm to find the convex hull in

[2017-10-30 18:57] Racel commented on #3224
This was addressed here: https://github.com/DynamoDS/Dynamo/pull/3950
and here: https://github.com/DynamoDS/Dynamo/issues/2671

Closing.

[2017-10-30 18:57] #3224 closed

[2017-10-30 19:06] Racel commented on #1676
You can easily do this by using a CBN. Double-click on the canvas to create a CBN. Then just type your number, string, boolean and feed it into a node.

To bring up search, right-click over the canvas.

We do not have plans of addressing this in the WPF UI, but will consider for the next generation Dynamo UI.

[2017-10-30 19:06] #1676 closed

[2017-10-30 19:07] Racel commented on #1521
While we do not have plans to address this in the near-term future, we have recently made Python improvements in the new 2.0 build (available at dynamobuilds.com). The Python window will remain open now which may reduce the importance of location persistence. Closing for now.

[2017-10-30 23:46] ColinDayOrg commented on #5455
Is this still an issue? We are not sure what version you were working with. If this is still an issue please let us know.

[2017-10-30 23:47] #5455 closed

[2017-10-30 23:49] ColinDayOrg commented on #6005
@TJSimoneau If you are still having this issue please re-open it.

[2017-10-30 23:49] #6005 closed

[2017-10-31 05:15] mccrone commented on #2243
@ejnaren @aparajit-pratap @kronz @dbaldacchino OK, so I figured out how to do this for complex shapes too. Just uploaded.
![minbb](https://user-images.githubusercontent.com/6430819/32208417-9e8c7170-bdbf-11e7-911d-7e1f834695ad.PNG)

[2017-10-31 05:27] mccrone commented on #7229
@ThomasMahon @andydandy74 @dimven @kronz And here's another approach for any set of planar points. Input is a polycurve just to keep things organized. All in Design Script.
![convexhull](https://user-images.githubusercontent.com/6430819/32208704-5dee9920-bdc1-11e7-9f14-09e00b98dfa6.PNG)

[2017-10-31 09:35] josols opened #8296 ""Ghosting" in Library search"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version
Latest 2.0.0.2995/2996
(Which version of Dynamo are you u

[2017-10-31 09:54] josols opened #8297 "Deleting Python node while Python editor is open"
## Dynamo version

2.0.0.2995/2996

## Operating system

WIn7

## What did you do?

Double clicked Python editor, editor opens, new behaviour lets you "roam" freely in dynamo canvas while python editor is open AND even lets me delete the Python node itself. Trying then to Save Changes in editor crashes dynamo with "UpdateModelValue: Model not found"

## What did you expect to see?

some warning th

[2017-10-31 13:14] jhubers commented on #7465
Well, you can check yourself of course, but it is not fixed in 1.3.2.2480

[2017-10-31 13:22] ramramps commented on #7465
@aparajit-pratap FYI. Do you have any updates here?

[2017-10-31 14:33] QilongTang commented on #8289
@dnegi123 Other people are definitely in the same boat. This kind of 3rd party dll conflict is an issue all Revit Addins sharing right now. Revit team is aware of this situation as well and fixes are on the way in Revit 2019. Closing this issue, sorry that you could not use the two addins at the same time.

[2017-10-31 14:33] #8289 closed

[2017-10-31 14:40] smangarole commented on #8180
@ktseniedaoducnguyen We have a new version of Dynamo 1.3.2. Please confirm if you can reproduce this issue with the latest version. If reproducible, please re-open with steps to reproduce and appropriate screenshots.

[2017-10-31 14:40] #8180 closed

[2017-10-31 14:40] QilongTang commented on #8296
FYI: @Racel @kronz

[2017-10-31 14:42] QilongTang commented on #8297
FYI: @Dewb @Racel

[2017-10-31 14:56] smangarole commented on #8110
@mjkkirschner @lerklimenko @jnealb  I can reproduce this is Dynamo 1.3.1

[2017-10-31 14:56] Racel commented on #8296
@QilongTang - Can you please file this in jira?

@josols - Thanks for testing out the latest daily build! What version of Revit are you using? And what version of windows?

[2017-10-31 15:03] Racel commented on #8297
@Dewb - can you take a look at this?
@QilongTang - Can you please file a task in jira for this?

[2017-10-31 15:04] jnealb commented on #8110
@smangarole Can you please file it? Thanks.

[2017-10-31 15:19] QilongTang commented on #8296
Tracked internally as [QNTM-2532](https://jira.autodesk.com/browse/QNTM-2532)

[2017-10-31 15:34] QilongTang commented on #8297
Tracked internally as [QNTM-2533](https://jira.autodesk.com/browse/QNTM-2533)

[2017-10-31 15:44] jnealb commented on #8239
@EmmettCru Can you un-install 1.3.0 using the Microsoft Fixit utility instead?

[2017-10-31 16:14] moethu opened #8298 "Returning BaseType throws Exception"
Hi Guys, this is an issue / wish for returning objects converted to their base type if somehow possible. Maybe there is another way to do this, but I wasn't able to find it. Please see below.

## What did you do?
Created a Node in C# and returned an object converted to its base type. I have an object of type LoadPattern which inherits an abstract class "Element". Now instead of Type LoadPattern, I

[2017-10-31 16:21] mjkkirschner commented on #8298
Can you share your source here?

[2017-10-31 16:31] ParametricMonkey commented on #4310
Sorry how is this fixed in 1.3? I have the same issue with rooms trying to get their phase. @ksobon are you saying I should be using another node instead...

![error](https://user-images.githubusercontent.com/10913639/32236010-1b6c459e-beb5-11e7-86e3-d59020f42bad.JPG)

[2017-10-31 16:53] ksobon commented on #4310
I am saying that this is actually "functionality" of Revit API. It let's you select a parameter by name or by builtInparameter name. The former comes with a "risk" of inconsistent results since there are multiple parameters with the same name present in an un-ordered set. That's not a bug, it's just how it works to make it faster. If anything you should be asking for a new node that let's you sele

[2017-10-31 17:06] aparajit-pratap commented on #2243
@mccrone that's awesome! Will check it out.

[2017-10-31 17:15] ParametricMonkey commented on #4310
@ksobon 'Multiple parameters with the same name' - are you saying I have 2 parameters called 'Phase' assigned to the room category?

[2017-10-31 17:38] ksobon commented on #4310
Possible, if you can have multiple Category and Level parameters like this:

![untitled-1](https://user-images.githubusercontent.com/529781/32239359-b7cb506c-be40-11e7-8096-4c916d25df3d.jpg)

[2017-10-31 17:56] ParametricMonkey commented on #4310
@ksobon there is only one phase in BIP  but there are 2 categories and 2 levels. How does this happen for a single element? I'm confused.

[2017-10-31 17:56] aparajit-pratap commented on #7465
@ramramps I'm currently working on making semantic changes to the use of imperative language blocks for 2.0. Will update this issue with the new expected behavior.

[2017-10-31 18:10] dbaldacchino commented on #2243
Thanks a lot Colin!

On Tue, Oct 31, 2017 at 12:06 PM aparajit-pratap <notifications@github.com>
wrote:

[2017-10-31 18:10] ksobon commented on #4310
Well it stores Level name which returns a string name for that level, and Level Id which returns ElementId for that level in two parameters that have a name "Level", but different BIP pointers. It makes sense if you are hiding one of those from the user anyways. Parameters have a singular storage type so if you want to store a string and element id you need two parameters. But I am just saying tha

[2017-10-31 18:22] ParametricMonkey commented on #4310
Sorry I'm still confused. I'm dealing with rooms and their phases. How does this occur - some models works fine, other not? What triggers this?

And how can I fix it? Is it a Dynamo issue or a Revit modelling issue?

[2017-10-31 18:32] ksobon commented on #4310
If you do something along these lines:

https://forum.dynamobim.com/t/finding-builtinparameters-for-view-specifically-view-name/15702/11?u=konrad_k_sobon

...and still are having issues then we can narrow it down to something else than faulty Dynamo node.

[2017-10-31 18:47] smangarole commented on #8110
@jnealb Tracked by QNTM-2538

[2017-10-31 19:15] dbaldacchino commented on #4310
So Konrad you're saying that using the BIP is more reliable than using the
get parameter by name node, correct?

On Tue, Oct 31, 2017 at 1:32 PM Konrad K Sobon <notifications@github.com>
wrote:

[2017-10-31 19:32] andydandy74 opened #8299 "Object.IsNull interprets nested lists as null if first item is a singleton"
## Dynamo version

1.3.1

## Operating system

Windows 7

## What did you do?

Ran a list with mixed items through ```Object.IsNull``` node

## What did you expect to see?

The node to correctly identify ```Null``` values

## What did you see instead?

![grafik](https://user-images.githubusercontent.com/3014437/32244635-6f66eea6-be79-11e7-86b4-ade9718043f4.png)
As shown in the screenshot, the node

[2017-10-31 19:53] ThorHow commented on #4310
Like Konrad said, some elements have several parameters with the same name - some of those are exposed to the user and some are not.
However they are all exposed to the API, and therefore, also Dynamo.
Sometimes there are even parameters with the same name, some changeable (read-write) and some not (read-only).

When you use the function ParameterByName a parameter is selected/found and if there a

[2017-10-31 20:11] andydandy74 opened #8300 "Not all nodes removed from a group in Undo/Redo stack"
## Dynamo version
1.3.1

## Operating system
Windows 7

## What did you do?
Removed two nodes from this group:
![grafik](https://user-images.githubusercontent.com/3014437/32246477-4e4e0e1a-be7f-11e7-89ab-2a8b257ea06e.png)
Then hit Undo
Then moved the group

## What did you expect to see?
All nodes belonging to the group again

## What did you see instead?
![grafik](https://user-images.githubuserco

[2017-10-31 20:20] ramramps commented on #8300
@andydandy74 can you try `undo` one more time and see whether the node is getting added to the group?
I did the same as mentioned, but I had to do one `undo` extra to get the last node into the group.

[2017-10-31 20:57] andydandy74 commented on #8300
@ramramps - yes, that does indeed work. It is higly impractical, though. What if I removed 20 nodes from the group? I would have to hit Redo 20 times...

[2017-11-01 00:49] BassemAssad commented on #8291
https://user-images.githubusercontent.com/33142383/32086640-67aa67d8-bb22-11e7-88b2-424adb99ea78.jpg

[2017-11-01 02:09] mjkkirschner commented on #8291
the actual .dyn file if possible.

[2017-11-01 07:19] josols commented on #8296
This was in Revit 2018.1. When I resize the panel the ghosting disappears.

[2017-11-01 07:27] josols opened #8302 "Performing a new search in library structured view"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

2.0.0.2995/2996

## Operating system

Win7

## What did

[2017-11-01 10:05] moethu commented on #8298
Hi @mjkkirschner , sadly not.. would have to create a similar structure or I'm just setting up a quick screenshare session

[2017-11-01 14:10] ramramps commented on #8300
@andydandy74 no. the last before UNDO is for the group itself. Groups are created after the nodes. So, the last undo (which doesn't do anything) is for the group, but the node is not created yet.
I will try with many nodes and see how it behaves.

[2017-11-01 14:23] jnealb commented on #7229
@mccrone Nice.

[2017-11-01 14:35] ramramps commented on #8302
Tracked here : https://jira.autodesk.com/browse/QNTM-2568

[2017-11-01 14:40] jnealb commented on #8299
@andydandy74 Can you please try this again with the 2.0 daily builds from Dynamobuilds.com?

[2017-11-01 15:09] mjkkirschner commented on #8298
@aparajit-pratap does this have to do with element being abstract?

[2017-11-01 15:11] mjkkirschner commented on #8246
please reopen if using trusted sites has not resolved the issue.

[2017-11-01 15:11] #8246 closed

[2017-11-01 15:24] kronz commented on #8299
Also occurs in 2.0 :(

[2017-11-02 12:45] Racel commented on #1521
@jbenoit44- Turns out, @Dewb had a chance to work on this in  https://github.com/DynamoDS/Dynamo/pull/8295

We anticipate this will be in the 2.0 builds shortly. Will close this task once it is merged.

[2017-11-02 17:27] aparajit-pratap commented on #8299
I think this is implied in @jnealb's observations but it's worth noting that the rank reduction warning is generated by any node that accepts a single value as input, not just `Object.IsNull`.

[2017-11-03 13:51] luisfribeirinho commented on #494
Hello,

I have created a Phyton script to add type parameters and then another to set their values. The first one is running ok.

![image](https://user-images.githubusercontent.com/33350546/32376803-c01a6f50-c09d-11e7-9ccb-edd4e0bda65f.png)
![image](https://user-images.githubusercontent.com/33350546/32376815-cbfa5d80-c09d-11e7-975c-246c49b062ab.png)

However, the second not so much.

![image](http

[2017-11-03 14:26] vykrum opened #8310 "Bug Report - 20171103"
## Dynamo version
Dynamo Core 2.0.0.3026

## Operating system
Windows 10

## What did you do?
In a code block, included '_Enter_' between quotes and didn't terminate the line with a semi colon
![20171103-2](https://user-images.githubusercontent.com/5621624/32378480-dca50044-c0d0-11e7-9849-32a448a30195.png)

## What did you expect to see?
The code block to automatically include the semi colon, as i

[2017-11-03 14:59] jnealb commented on #8310
@vykrum Thanks. This is tracked with QNTM-1966.

[2017-11-03 14:59] #8310 closed

[2017-11-04 01:49] vykrum opened #8314 "Crash Report - 20171104"
## Dynamo version
Dynamo Core 2.0.0.3026

## Operating system
Windows 10

## What did you do?
Undid a few steps in the following file...
[Crash20171104-1.zip](https://github.com/DynamoDS/Dynamo/files/1442823/Crash20171104-1.zip)

## What did you expect to see?
Roll back of a few actions

## What did you see instead?
![crashreport-20171104-1](https://user-images.githubusercontent.com/5621624/324012

[2017-11-04 09:58] vykrum opened #8315 "Preview Upstream"
## Dynamo version
2.0.0

## Operating system
Windows

## What did you do?
Wanted to limit visibility of graphics in Watch 3D node

## What did you expect to see?
_Preview Upstream_ in the node right click menu

## What did you see instead?
No such option anymore

[2017-11-04 12:27] vykrum opened #8316 "List in CodeBlock"
## Dynamo version
2.0.0

## Operating system
Windows 10

## What did you do?
Typed _List_ in a Code Block

## What did you expect to see?
Dynamo to assume, by default, _DSCore.List_ (where else, if not Dynamo?)

## What did you see instead?
The images below should hopefully outline the trouble in doing something that should be extremely simple. Also, if this is how it is to be, besides making code

[2017-11-04 19:17] QilongTang commented on #8315
@vykrum Please check out our release note for daily builds here at http://dynamobim.org/resuming-pre-release-builds/, `Preview Upstream` is deprecated

[2017-11-05 02:06] vykrum commented on #8315
@QilongTang So Dynamo lost the ability to do something like this? ....
![previewupstream](https://user-images.githubusercontent.com/5621624/32411197-6248c908-c1fb-11e7-8f5f-fa837c038ad9.png)

[2017-11-06 01:47] mjkkirschner commented on #8315
@QilongTang @Racel I think we need another discussion around this - it looks like the current implementation turning regular preview on and off also effects all downstream watch3d nodes, making them useless for isolating geometry.

I think we need to investigate if we can turn preview off for a specific node - for instance, a point.byCoorinates() node, but then when attaching a watch3d, the points