[2017-11-06 01:53] mjkkirschner commented on #8315
Also, codeblocks have odd behavior in my opinion when using watch 3d nodes - the entire codeblock output value is displayed, but I would assume just the port actually plugged into the watch3d node would be displayed - even when using an intermediate node.

[2017-11-06 07:24] dimven opened #8318 "[Dynamo 2.0] Open in Manual Execution Mode is ignored"
## Dynamo version

2.0.0.2976

## Operating system

Windows 7

## What did you do?
use the open command with "Manual Execution Mode" checked

## What did you expect to see?

The graph opened in manual mode

## What did you see instead?

The graph opened in automatic mode and shortly after that froze :)

[2017-11-06 09:49] moethu opened #8319 "Updating Dynamo Packages (pkg.json)"
When updating packages the prescribed way (http://dynamoprimer.com/en/10_Packages/10-4_Publishing.html) pkg.json doesn't always end up for me like it should be.

## Dynamo version
1.3

## Operating system
Win7 64

## What did you do?
Updated an existing package

## What did you expect to see?
Updated package with pkg.json correctly updated - key assemblies (node_libraries) should not be changed.

[2017-11-06 12:18] mjkkirschner commented on #8318
Was this through the ui or through code ? And can you upload the file?

Sent from my iPhone

[2017-11-06 12:24] dimven commented on #8318
Through the UI. You can try that with any file. For example:

[8318.txt](https://github.com/DynamoDS/Dynamo/files/1446154/8318.txt)

(rename to *.dyn)

[2017-11-06 15:35] mjkkirschner commented on #8315
tracked:
https://jira.autodesk.com/browse/QNTM-2631
most likely will not bring preview upstream back but modify watch3d behavior to make it unnecessary.

[2017-11-06 15:37] mjkkirschner commented on #8318
https://jira.autodesk.com/browse/QNTM-2632

[2017-11-06 15:39] mjkkirschner commented on #8316
@vykrum do you have other packages installed which replace List?
@QilongTang @aparajit-pratap it seems the element resolver is not doing its job here.

[2017-11-06 15:50] mjkkirschner commented on #8316
https://jira.autodesk.com/browse/QNTM-2633

[2017-11-06 16:59] QilongTang commented on #8316
@mjkkirschner Thanks for logging it. ElementResolver is actually serialized and deserialized

[2017-11-06 17:47] aparajit-pratap commented on #8316
@mjkkirschner thanks, I think there's already an existing issue I'm aware of that's related: https://jira.autodesk.com/browse/QNTM-2117

[2017-11-06 17:49] mjkkirschner commented on #8316
@vykrum @andydandy74 @josols do you only see this behavior with lists methods?

[2017-11-07 00:04] nboyts opened #8320 "Conditional Statements Not Handling True Values"
## Dynamo version

1.3.1
(Haven't been able to check other versions yet.)

## Operating system

Windows 10 Enterprise

## What did you do?

Convert strings (or other objects) to booleans with conditional statements.
(And vice versa when converting booleans to other objects.)

See forum discussion here: https://forum.dynamobim.com/t/converting-text-to-boolean/16271/7

## What did you expect to see?

[2017-11-07 00:19] scubaman120 commented on #8246
Hello all,
I have completed the steps listed in @mjkkirschner "last one" link. I have done this to my computer only and the Packages with .dll files still are not there. Does this need to be done to the network server itself?

I am the one who started the post @MarcelBPM linked above. My packages were working for about 2 weeks but as of today they no longer show up. Dynamo and Revit have not chang

[2017-11-07 00:23] mjkkirschner commented on #8246
You must add the network share location to your trusted sites. You must also unblock the dlls.

[2017-11-07 00:40] scubaman120 commented on #8246
I have added the network share location to my computers trusted sites. I just copied the file path into "Add this website to the zone:" filed and clicked Add. Is this not the correct way (It did change the file path when added)?
![capture](https://user-images.githubusercontent.com/33437179/32471250-2804210e-c311-11e7-95c2-1791f9916d4b.PNG)

.dll files are not blocked on our network.
![capture2](ht

[2017-11-07 02:57] vykrum commented on #8316
@mjkkirschner Packages installed....
![list-6](https://user-images.githubusercontent.com/5621624/32474939-56134366-c395-11e7-89bc-86900fea9b27.jpg)
Steel Select and Testing Waters have Design Script custom nodes
None caused any trouble earlier.

[2017-11-07 16:24] #3475 closed, assigned to nobody

[2017-11-07 16:37] alfarok commented on #3623
This appears to have been addressed in more recent releases.  Closing, please reopen if you are still having similar issues in newer Dynamo builds.

![image](https://user-images.githubusercontent.com/13341935/32505279-cde6bb4c-c3af-11e7-8166-dd2187863f98.png)

[2017-11-07 16:37] #3623 closed

[2017-11-07 16:43] #3753 closed

[2017-11-07 16:46] Racel commented on #8302
We are getting rid of this experimental view. https://jira.autodesk.com/browse/QNTM-2464

[2017-11-07 16:51] alfarok commented on #4842
Was not able to reproduce in newer Dynamo release.  You also now have the ability to modify the geometry scaling settings for large models in the Dynamo -> Settings menu.

![image](https://user-images.githubusercontent.com/13341935/32506107-bdd6bc0a-c3b1-11e7-8550-82f0ceea1b09.png)

[2017-11-07 16:51] #4842 closed

[2017-11-07 17:22] alfarok commented on #5420
@josols have you run into this issue on more recent builds?

[2017-11-07 17:24] alfarok commented on #5427
closing this as a duplicate of [4677](https://github.com/DynamoDS/Dynamo/issues/4677)

[2017-11-07 17:24] #5427 closed

[2017-11-07 17:30] alfarok commented on #5572
Closing as I am unable to reproduce in more recent dynamo builds.  Please feel free to reopen if you are still experiencing similar behavior in more newer releases.

[2017-11-07 17:30] #5572 closed

[2017-11-07 17:35] alfarok commented on #6172
@frod083 I am unable to reproduce this in more recent Dynamo for Revit builds so I am closing the issue.
 Please feel free to reopen if you are still experiencing similar behavior.

[2017-11-07 17:35] #6172 closed

[2017-11-07 17:41] alfarok commented on #7261
Closing, no steps provided to reproduce.  If you are still experiencing similar behavior please feel free to reopen.

[2017-11-07 17:41] #7261 closed

[2017-11-07 17:44] alfarok commented on #7481
thanks @andydandy74 - closing as duplicate

[2017-11-07 17:44] #7481 closed

[2017-11-07 17:51] alfarok commented on #7457
This appears to be resolved in the latest builds.  Please feel free to reopen if you are still experiencing similar behavior.

![image](https://user-images.githubusercontent.com/13341935/32508989-1228fab8-c3ba-11e7-8384-5be2d95faa32.png)

Node now returns a list containing
[0] files
[1] directories

[2017-11-07 17:51] #7457 closed

[2017-11-07 17:57] alfarok commented on #7767
I am unable to reproduce the issue using the latest dynamo build.   Please feel free to reopen if you are still experiencing similar behavior.

![image](https://user-images.githubusercontent.com/13341935/32509371-1a6393f4-c3bb-11e7-9943-0c7de1925322.png)

[2017-11-07 17:57] #7767 closed

[2017-11-07 19:27] alfarok commented on #7851
@vykrum I think the issue is that `List.AllIndicesOf` doesn't actually take a list but rather an array of arbitrary ranks so replication does not work.  You should be able to change the lacing or use list at level to get the expected results. @Racel

![image](https://user-images.githubusercontent.com/13341935/32513211-856ef24a-c3c7-11e7-92cd-8811558f3589.png)

Example 1 = List at Level
Example 2 =

[2017-11-07 20:41] Racel commented on #7851
@vykrum @alfarok - Please note, this is why "Auto" lacing was added in 2.0. With the introduction of list@level in 1.x, you weren't able to technically apply shortest lacing to a node (which enables replication).  @alfarok's images appear to be from 2.0.

[2017-11-07 20:45] alfarok commented on #7851
@vykrum Yes, I should have mentioned that I was using 2.0 and the second example is using cross product lacing.  Thanks @Racel

[2017-11-08 01:41] vykrum commented on #8315
@mjkkirschner _Preview Upstream_, in any case was relevant only while using _Watch 3D_, so makes sense modifying _Watch 3D_ instead of having _Preview Upstream_ on every node.

While _Watch 3D_ probbly isn't used much anymore, since we now have Background Preview, it is still needed to capture graphics with _Export Workspace As Image_

[2017-11-08 01:57] vykrum commented on #7851
@alfarok  Your examples would have behaved differently in 1.3...
![minitem2](https://user-images.githubusercontent.com/5621624/32527897-2aaadfa6-c456-11e7-936e-e5ab5c32eb18.png)

However, Lacing is irrelevant here as the issue wasn't about `List.AllIndicesOf`, it was `List.MinimumItem` converting _integer_ to _double_
However, that seems to have been sorted out in 2.0
![minitem](https://user-image

[2017-11-08 02:08] alfarok commented on #7851
@vykrum Sorry for the confusion! I was looking at 2.0 Release issues previously, but it does indeed appear the conversion has been corrected.

[2017-11-08 15:32] sixtysecondrevit commented on #8268
@b-ardrey23 did you get this resolved? Did you install from the package manager?

[2017-11-08 16:39] b-ardrey23 commented on #8268
Yes is can be close I was able get this resolved thank you.

[2017-11-08 16:39] #8268 closed

[2017-11-09 14:43] ThomasMahon opened #8326 "DesignScript"
## Dynamo version

1.3.2

## Operating system

Win 10

## What did you do?

Indexed an anonymous list within a code block in one line.

## What did you expect to see?

The accessor to appear as an input to the node.

## What did you see instead?

No input!

![image](https://user-images.githubusercontent.com/18601851/32611008-560d5d20-c55c-11e7-8114-05e49fb34c34.png)

[2017-11-09 14:53] mjkkirschner commented on #8326
no input or output ;)

[2017-11-09 14:53] mjkkirschner commented on #8326
@aparajit-pratap FYI

[2017-11-12 14:04] vykrum opened #8337 "Parameter value when point not on curve"
## Dynamo version
1.3.2 and 2.0.0

## Operating system
Windows 10

## What did you do?
![parameteratpoint](https://user-images.githubusercontent.com/5621624/32699711-1a77b112-c7e0-11e7-8e79-b9f8decbcd57.png)

## What did you expect to see?
Empty list or null or error

## What did you see instead?
A value that doesn't make sense

[2017-11-13 13:03] vykrum opened #8340 "Crash Report 20171113"
## Dynamo version
1.3.2.2480

## Operating system
 Windows 10

## What did you do?
Switched to smooth mode while working with T-Splines
[TSpline.zip](https://github.com/DynamoDS/Dynamo/files/1466857/TSpline.zip)

## What did you expect to see?
Smoothed geometry, but saw nothing. Crashed on attempting to make changes

## What did you see instead?
![crashreport-20171113-1](https://user-images.github

[2017-11-13 13:09] vykrum commented on #8340
Crashes on clicking the T-Spline node after it fails to generate geometry in the background preview.
Crash can be avoided (and geometry made visible) on changing _Geometry Working Range_ to _Large_

[2017-11-15 07:06] Thomas84 opened #8345 "go back to search by pressing 2x Enter"
Improvement request:

After right clicking the canvas, using the search bar, pressing enter, there should be an option to press enter again to open the search dialog again.

Why? It is much faster to add nodes instead of using the mouse in between.

[2017-11-15 09:04] CharlP6 commented on #6574
I have the same problem. I created a custom node from a working script, and when I use it in a subsequent script, it only updates if I break and remake connections between nodes. Attached is an image of my working script, the custom node, and the custom node used in a script:

![script compilation](https://user-images.githubusercontent.com/18455926/32827394-bbc627f4-c9f4-11e7-810d-85fb8d8b7c7c.png

[2017-11-15 20:07] smangarole commented on #8318
Fixed in `DynamoRevit2.0.0.20171115T1013.exe` found on dynamobuilds.com

[2017-11-15 20:07] #8318 closed

[2017-11-16 14:51] ThomasMahon opened #8348 "Improvement: Copy Packages to local location if source location is on a network"
## Dynamo version

1.3.1

## Operating system

Win 10

## Improvement Suggestion

Deploying Dynamo company-wide with a centralised location on the network for packages creates well known admin problems (namely, the dll's become read-only which prevents upgrades or deletion).

I'm finding that in large organisations, its impractical to ask all users to close down Dynamo and Revit so changes can be

[2017-11-16 15:45] DanielHurtubise commented on #8348
We have a script that does that.
I'd rather have the Dynamo team focus on Dynamo issues/improvements then dealing with network deployment honestly.
Basically we compare network content with local content and update as required on startup. Never had any problem with that process. (It's the same for Revit's AddIns btw)

[2017-11-16 17:37] 2adicted commented on #6600
+1

[2017-11-16 19:46] smangarole commented on #8296
@josols - I was not able to reproduce this issue. Can you provide me with reliable steps to reproduce?

[2017-11-16 21:10] jnealb commented on #8337
@vykrum Thank you; this is tracked with QNTM-2793.

[2017-11-16 21:10] #8337 closed

[2017-11-17 16:00] smangarole commented on #8296
@josols - I was not able to reproduce this issue. If you encounter this behavior again, please reopen with reliable steps to reproduce. Thanks.

[2017-11-17 16:00] #8296 closed

[2017-11-18 15:16] vykrum commented on #8314
Dynamo Core 2.0.0.3186

Crashed again on undoing some steps.
Not the same file as posted above.

[code]

[2017-11-19 23:15] mjkkirschner commented on #8340
@alfarok @Racel likely a limit to the vertex buffer size and high vert geometry needs to be split into multiple meshes.

[2017-11-19 23:16] mjkkirschner commented on #8320
@aparajit-pratap FYI, this seems like a bug.

[2017-11-19 23:19] mjkkirschner commented on #8320
@nboyts is your report here specific to `replaceByCondition` node?

[2017-11-20 22:11] mjkkirschner commented on #8124
I believe this has been fixed with:
https://github.com/DynamoDS/Dynamo/pull/8173

[2017-11-20 22:11] #8124 closed

[2017-11-21 18:43] mjkkirschner commented on #8302
removed this view.

[2017-11-21 18:43] #8302 closed

[2017-11-30 10:26] OliverEGreen commented on #8326
Similar behaviour happening here:

I want to select a number of items from list z according to the length of list x. No inputs or outputs but would be expecting an input for both x and z, and a single output.

![image](https://user-images.githubusercontent.com/29973601/33426162-d112d5a6-d5b8-11e7-8699-55de5323ee35.png)

[2017-11-30 16:33] aparajit-pratap commented on #8326
@mjkkirschner @jnealb https://jira.autodesk.com/browse/QNTM-2912

[2017-11-30 22:05] DanBoghean commented on #8246
I'm having this problem and haven't found any solutions yet.

We've tried adding the network drives to as trusted sites and that hasn't seem to solved it.

The other weird thing is that the .dll packages show up in Revit 2018 for me (and only me, as I have elevated privileges - they don't show up for our "normal" user), but not in Revit 2017.  I even tried putting the packages in my appdata folder

[2017-12-04 01:05] mjkkirschner commented on #8316
@vykrum this should now be fixed.

[2017-12-04 09:43] Amoursol opened #8375 "[Improvement] [Dynamo Player] Built in default Safety Checks"
Would the Dynamo Player team be able to have a set of options - Safe mode (Enabled by default) and Dev mode?

In safe mode, if the script enters into any recursive pattern (With a set cap on time), the system closes and reverts the transaction back to the default state and populates an error message.

In Dev mode it runs as is - with the expectation that you know about all of the potential issues

[2017-12-04 13:24] ramramps commented on #8345
@Racel FYI.

[2017-12-04 13:27] ramramps commented on #7965
@Racel do we need to cover this for 2.0? I remember from the initial discussion that freeze will not work for graphs with cycles (circular dep).

[2017-12-04 14:28] jnealb commented on #8375
:+1:

[2017-12-04 15:14] mjkkirschner commented on #8375
@bogdanZavu FYI

[2017-12-04 19:04] andydandy74 commented on #8345
Also: Would be nice if the last search result were retained, so we could place the same node again (e.g. placing multiple String or Number nodes). Esc to clear search word.

[2017-12-05 08:44] T-Lueks opened #8379 "No background preview anymore"
Dynamo version:    1.3.2.2480
Operating system:    Windows 8.1

Dear people of Dynamo, I am experiencing a issue with my background preview. I have made a script that produces a curve. As shown in the picture below, this works fine. The problem is  I can't see anything anymore in the background preview. It used to work just fine before. I tried zooming in and out, but there is nothing there. Watch

[2017-12-05 13:19] jnealb commented on #8379
This is likely an installer issue on our side: can you please try un-installing all Dynamo components from the Control Panel and then re-install 1.3?

[2017-12-05 13:56] Dimitra-Gk commented on #2129
Is this issue solved? I am experiencing the same problem.

[2017-12-06 12:48] gokhanozhim opened #8381 "Dynamo 1.3.2 Has Crashed"
HRESULT: [0x8876086A], Module: [SharpDX.Direct3D9], ApiCode: [D3DERR_NOTAVAILABLE/NotAvailable], Message: Unknown

   at SharpDX.Result.CheckError()
   at SharpDX.Direct3D9.Direct3DEx.CreateDeviceEx(Int32 adapter, DeviceType deviceType, IntPtr hFocusWindow, Int32 behaviorFlags, PresentParameters[] presentationParametersRef, DisplayModeEx[] fullscreenDisplayModeRef, DeviceEx returnedDeviceInterface

[2017-12-06 13:43] jnealb commented on #8381
Can you please provide more detail: dyn graph, dxdiag output, was it Dynamo for Revit?

[2017-12-06 13:55] gokhanozhim commented on #8381
I can not open dynamo. Yes dynamo for revit.

[2017-12-06 14:39] jnealb commented on #8381
Can you please run Dxdiag from a command line and send us the output: neal.burnham@autodesk.com

[2017-12-06 21:56] dobriai commented on #8375
Does `Dynamo` itself have such modes?

[2017-12-06 22:50] jnealb commented on #8375
No

[2017-12-07 00:33] alvpickmans opened #8383 "ZeroTouch: 'ProtoCore.Exceptions.CompilerInternalException' on custom enum as input with default value"
## Dynamo version

Dynamo Core 1.3.0.875

## Operating system

Windows 10

## What did you do?

I am improving a package I developed by creating a custom enum list of options to use as input for the constructor nodes instead of relying on integers. It works fine except if the method has the option argument with a default value.

"Working" sample code:
[code]

Failing sample code:
[code]

## What d

[2017-12-07 05:27] gokhanozhim commented on #8381
Thank you for your interest. I sent the output.

[2017-12-07 11:41] Thomas84 commented on #8345
good idea Andreas, but instead of Esc i would suggest to use backspace to clear the search word and esc to get out of the search completely (similar as a click into the canvas)

[2017-12-08 17:42] DanBoghean commented on #8348
Daniel,

Any chance you could give me some insight on how that script is created? I would love to set that up for my firm, but I'm not sure I can figure it out quite yet.

Thanks!

[2017-12-11 16:01] DanielHurtubise commented on #8348
Here's a quick one to copy locally adddins. You can derive one for Dynamo with it :)

del C:\ProgramData\Autodesk\Revit\Addins\2018\filter.*
    xcopy /Y "\\Server\Folder\*.*" "C:\ProgramData\Autodesk\Revit\Addins\2018"

[2017-12-11 18:02] DanBoghean commented on #8348
Thanks, Daniel.

I'm wondering how you run this script at startup? Do you bundle it as part of the Revit shortcut?

[2017-12-12 07:04] DanielHurtubise commented on #8348
Just part of the login script. Totally Windows driven, nothing Autodesk related :)

[2017-12-12 11:33] afandianzo opened #8395 "Dynamo 2.0.0.3421 file crash"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version
2.0.0.3421
## Operating system
Windows 10
## What did you

[2017-12-12 14:47] jnealb commented on #8348
:+1:

[2017-12-12 14:47] #8348 closed

[2017-12-14 08:54] dimven opened #8399 "Geometry.Transform failing for curve loops"
## Dynamo version

1.32 release

## Operating system

Windows 7

## What did you do?

Tried to do a few seemingly simple transformations on a few curve loops

## What did you expect to see?

Curves remaining in a well defined loop

## What did you see instead?

Curves stacked on top of each other

Please download & rename the graph file to *.dyn and run with the advanced MEP sample model included

[2017-12-14 09:05] dimven commented on #8399
Using an inverse transform produces identical anomalies:

![image](https://user-images.githubusercontent.com/7148394/33983980-01d2017e-e0f1-11e7-808c-eb7f28f0322f.png)

[2017-12-14 09:21] #8399 closed

[2017-12-14 18:20] CaseyCardin opened #8401 "Tried to run"
The managed object is not valid.

   at Autodesk.Revit.DB.Transaction.GetStatus()
   at RevitServices.Transactions.AutomaticTransactionStrategy.ForceCloseTransaction(TransactionHandle handle)
   at Dynamo.Applications.Models.RevitDynamoModel.OnEvaluationCompleted(Object sender, EvaluationCompletedEventArgs e)
   at System.EventHandler`1.Invoke(Object sender, TEventArgs e)
   at Dynamo.Graph.Worksp

[2017-12-14 19:05] jovillarroelb opened #8402 "Dynamo graph doesn’t execute unless zoomed in/out"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.3.2 - Revit 2017.2

## Operating system

Windows 10 Pr

[2017-12-17 17:01] mjkkirschner commented on #8402
are you running with a HDPI screen with scaling enabled?

[2017-12-17 17:02] mjkkirschner commented on #8395
@afandianzo we'll need the stacktrace or file to be able to help here.

[2017-12-17 17:12] mjkkirschner commented on #8383
This is a known issue - you could try using a default argument attribute instead if you wish to create the type.

https://github.com/DynamoDS/Dynamo/blob/7e27f7fa4c99feaec8307787044fcd0ac243af12/src/Libraries/GeometryColor/GeometryColor.cs#L106

[2017-12-18 14:11] jovillarroelb commented on #8402
Hi @mjkkirschner, sorry my ignorance but can you explain me please what do you mean with "HDPI screen with scaling enabled"?

[2017-12-19 10:05] alvpickmans commented on #8383
Great, worked perfectly! Closing the issue.

[2017-12-19 10:05] #8383 closed

[2017-12-19 15:24] Amoursol opened #8407 "[Improvement][Dynamo Player] User Friendliness / Options"
Dynamo Player at present is rather static/rigid in it's UI.

Could we please consider the following additions:

1) The ability to add custom icons to a script that appear in the Player Window (i.e Create / Action / Query icons or custom).
2) The ability to change the size/scale of text used.
3) The ability to stipulate default folder paths depending on Revit version.
4) The ability to have multi p

[2017-12-19 16:10] Amoursol opened #8408 "[Improvement] "Show Connectors Off" shows Connectors of Selected nodes On"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.3.1

## Operating system

Windows 10

## What did you

[2017-12-19 19:42] jovillarroelb commented on #8402
An update of the issue. The same Dynamo is working just fine in Revit 2016 and Revit 2018. ¿Any Ideas?

Cheers

[2017-12-20 11:52] jovillarroelb commented on #8402
Hi @mjkkirschner. In response to "HDPI screen with scaling enabled",  I'm running with two monitors and the scaling to 100%. Is this what you mean? Thanks

[2017-12-21 23:18] ThomasMahon opened #8411 "Improvement suggestion: 2D lists with empty sublists triggers "Dereferencing a non-pointer" exception"
## Dynamo version

1.3.2

## Operating system

Win 10

## Improvement Suggestion

I found that any 'property' node will throw an exception if a 2D list is input where the sublists contain both objects and sublists that are empty. The solution is to remove the empty sublists or flatten the list, but its not immediately obvious to users and could easily be bypassed with a better implementation in Dy

[2018-01-01 21:36] JacobSmall opened #8422 "Periodic runs cannot be called via designscript."
## Dynamo version
Dynamo Core 1.3.2.2480
Dynamo Studio 1.3.0.946

## Operating system
WIndows 10 Enterprise

## What did you do?
Trying to recreate an animation using a periodic run method utilizing only design script, so I added `DSCore.DateTime.Now;` to my code block, but this didn't allow for use of periodic runtimes. Adding the DateTime.Now node allowed for periodic runs, but the function call

[2018-01-01 21:50] aliahm08 opened #8423 "Nothing Showing on Background 3D after programming"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.3.0.875

## Operating system

Windows 10 Enterprise

#

[2018-01-02 14:58] jnealb commented on #8422
@JacobSmall Can you please check this with the daily 2.0 builds?

[2018-01-02 15:38] mjkkirschner commented on #8422
I don’t think this is a bug - periodic run mode is a node property not a function property- if you ran this ds code in some other ds interpreter it would be strange to me if this function started executing your program periodically.

The improvement here could be to enable periodic on codeblocks that contain functions which were imported as nodes with periodic ... might be possible.

[2018-01-02 15:47] jnealb commented on #8423
@aliahm08 Can you please try running the geometry samples under Help? Is there any geometry displayed?

[2018-01-02 16:46] kronz commented on #8422
Ya, I'm going to agree with @mjkkirschner that this isn't a bug . . . periodic update is really a special nodal functionality, like pickers etc . . . we could certainly do better around messaging and understanding how Periodic works and what nodes do and don't use it, but I don't see extending this to DS.

[2018-01-02 16:46] #8422 closed

[2018-01-03 15:27] aparajit-pratap commented on #8411
@ThomasMahon is this exception thrown with a particular node or most nodes in general? Could you share a simple graph to demonstrate the workflow? Thanks!

[2018-01-03 16:47] ThomasMahon commented on #8411
@aparajit-pratap its any property node from any library.

Here are some examples, example graph attached at the end. It seems to be null that causes the exception. I read on MSDN that if exceptions are expected with properties, make them methods instead, but that is clearly impractical:

**Autodesk.DesignScript.Geometry**
![image](https://user-images.githubusercontent.com/18601851/34529566-6385ea9

[2018-01-03 16:51] ThomasMahon commented on #8411
@aparajit-pratap also, look what happens if the first input contains an object, oddly, it works as expected:

![image](https://user-images.githubusercontent.com/18601851/34530176-359723f8-f0a6-11e7-93f3-b239ac86a4c6.png)

![image](https://user-images.githubusercontent.com/18601851/34530201-47a50ff6-f0a6-11e7-9b3d-2266ed0794d8.png)

![image](https://user-images.githubusercontent.com/18601851/345302

[2018-01-04 03:03] kronz commented on #8423
I suspect this is the old Dual graphics card issue.  Please take a look at the Known Issues page, 2nd item here: https://github.com/DynamoDS/Dynamo/wiki/Known-Issues
If this doesn't solve the issue, please re-open
thanks
Z

[2018-01-04 03:03] #8423 closed

[2018-01-04 07:51] amirabehery opened #8430 "Error in even move any node"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.3.2

## Operating system
Windows 10

## What did you d

[2018-01-04 11:38] andydandy74 commented on #8411
Looks similar to #5238

[2018-01-04 18:48] aparajit-pratap commented on #8411
Thanks @ThomasMahon. This issue was partly addressed for methods [here](https://github.com/DynamoDS/Dynamo/pull/7178) but unfortunately still persists for properties. We'll make a note of it but cannot promise a fix for 2.0.

[2018-01-04 18:56] aparajit-pratap commented on #8411
FYI @jnealb: https://jira.autodesk.com/browse/QNTM-3075

[2018-01-04 22:16] ThomasMahon commented on #8411
@aparajit-pratap thanks for the update. Any chance in the meantime you could update the exception message to provide the user with more instructions on how to resolve?

[2018-01-07 12:25] vykrum opened #8436 "Crash Report 20180107"
## Dynamo version
Dynamo Core 2.0.0.3421
Dynamo Revit 2.0.0.3422

## Operating system
Windows 10

## What did you do?
Deleted some code block nodes whose preview was switched off

## What did you expect to see?
Removal of the nodes along with their wires

## What did you see instead?
An associated wire was not deleted and that seems to have resulted in a crash

![crash20180107-1](https://user-imag

[2018-01-07 15:50] mjkkirschner commented on #8436
@vykrum thanks for this crash report - do your steps above always reproduce this?

@Racel @QilongTang this is a regression from the memory leak work and needs to be fixed.
We can fix the crash by checking for null in a bunch of places in the dispose method for connectorViewModels, but I think the implementation might just be a bit backward - I am guessing the node is gone before the connector is r

[2018-01-07 16:19] mjkkirschner commented on #8395
@afandianzo have you seen this crash again?

[2018-01-07 16:22] mjkkirschner commented on #8297
I believe this has been fixed.

[2018-01-07 18:35] jnealb commented on #8436
@mjkkirschner Shall I file it?

[2018-01-07 18:49] mjkkirschner commented on #8436
I filed already

Sent from my iPhone

[2018-01-07 18:50] jnealb commented on #8436
@mjkkirschner Thanks.

[2018-01-08 15:39] aparajit-pratap commented on #8430
@amirabehery could you specify in detail the steps you followed before you saw this crash. Are you able to reproduce it consistently?

[2018-01-08 20:01] jnealb commented on #8436
@mjkkirschner @smangarole Unable to repro this crash, @vykrum are you able to provide steps?

[2018-01-08 20:24] afandianzo commented on #8395
No I did not because I am using different version since I had the problem

[2018-01-08 20:35] jnealb commented on #8395
Closing, @afandianzo please re-open if this re-occurs for you.

[2018-01-08 20:35] #8395 closed

[2018-01-09 02:02] Dewb commented on #8297
Fixed in #8295.

[2018-01-09 02:02] #8297 closed

[2018-01-10 01:35] mjkkirschner commented on #8436
theres seems to be a bunch of ways to break connector undo/redo - I believe this has to do with our xml undo redo recorder and potentially serialization there.

here are some steps to atleast reproduce the dangling connector

![simple dangling](https://user-images.githubusercontent.com/508936/34751767-7f9900f4-f57c-11e7-8fbb-7172e31d951c.gif)

@jnealb @Racel this definitely needs to be fixed (⚠️

[2018-01-10 07:39] vykrum commented on #8436
@jnealb Wasn't able to reproduce the error with the same file (A further developed version. Don't seem to have a version of the file that caused the error).
As indicated above, just routinely selected and deleted some nodes.
Don't think there were any unusual/unique steps preceding the crash.

[2018-01-10 07:48] vykrum commented on #8314
Dynamo Core 2.0.0.3421

[code]

[2018-01-10 15:05] jnealb commented on #8436
@vykrum Thanks!

[2018-01-11 06:21] vykrum opened #8453 "Error Opening Corrupted File"
## Dynamo version
DynamoRevit2.0.0.20180110T1645.exe

## Operating system
Windows 10

## What did you do?
Attempted opening a file that was last worked on and saved in an earlier build.

Managed to open the same file on uninstalling this build and installing the previous build (Dynamo Core 2.0.0.3484 / DynamoRevit2.0.0.20171221T1208.exe )

## What did you expect to see?
The contents of the file

#

[2018-01-11 12:04] mjkkirschner commented on #8453
Sent from my

[2018-01-11 12:05] mjkkirschner commented on #8453
Can you upload this file ?

[2018-01-11 12:18] vykrum commented on #8453
@mjkkirschner  Here is one file. But I had the same issue on trying to open a few other earlier versions of the file too
[Pattern.zip](https://github.com/DynamoDS/Dynamo/files/1622462/Pattern.zip)

[2018-01-11 15:07] Rfahren opened #8454 "Dynamo Align Selection"
## Dynamo version
Dynamo Studio 1.3.0.946

## Operating system
Windows 10

## What did you do?

Right click-->Align Selection

## What did you expect to see?

Align Selection on right side and to be able to select an option.

## What did you see instead?

menu opens on left side and will 9 times out of 10 disappear when you move to make a selection.

![dynamo issue](https://user-images.githubuserc

[2018-01-11 16:03] ColinDayOrg commented on #8454
This issue has been previously seen in some circumstances. It is not currently clear what specifically is causing the issue, as the appearance of the issue seems to vary from system to system.

As a workaround for this issue you can right-click to bring up the menu on the left side of the (3D display area) screen so that the sub-menu comes up on the right side of the main right-click menu. With th

[2018-01-11 17:24] mjkkirschner commented on #8453
@jnealb do you think you'll have a chance to look at this?

[2018-01-11 17:33] jnealb commented on #8453
@mjkkirschner Sure, @QilongTang and I are on a big sweep: let's get them all!

[2018-01-11 17:34] mjkkirschner commented on #8453
could be that this is some intermediate json format that does not the meet the spec or it could be a bug.

[2018-01-11 19:48] jnealb commented on #8453
@mjkkirschner @vykrum The file opens with an older build of 2.0:

![image](https://user-images.githubusercontent.com/9357222/34844132-70f460e4-f6de-11e7-9b8c-cec7e99fda46.png)

[2018-01-12 03:54] vykrum commented on #8453
@jnealb Two observations...
1. Files created on previous 2.0 builds do not open on this build(DynamoRevit2.0.0.20180110T1645), but do open when on reinstalling a previous build
2. However, files saved around Nov 16 (build could be older than the date mentioned, not sure) do open with this build (DynamoRevit2.0.0.20180110T1645)

[2018-01-12 18:24] des-hourihane opened #8462 "LinePatternElement.GetByName is deleting successive Line Patterns by selecting them"
## Dynamo version

1.3.2.2480

## Operating system

Windows 10

## What did you do?

I fed a string into LinePatternElement.GetByName and it returned the corresponding Line Pattern.
I fed a different string in, it rerieved the corresponding Line Pattern but when I go to the Line Patterns dialog, the first Line Pattern is no longer available.
This pattern repeats every time I feed in a new value.
(

[2018-01-12 18:35] des-hourihane commented on #8462
Closed and re-posted in DynamoDS/DynamoRevit

[2018-01-12 18:35] #8462 closed

[2018-01-13 18:44] ksobon opened #8464 "navigation menu abnormalities in 2.0"
@mjkkirschner @kronz this is the issue I have mentioned on our call last week. When loaded a recent built from Revit2018 branch, this is what my library looks like:

![image](https://user-images.githubusercontent.com/529781/34909007-bf02b760-f867-11e7-9323-7096598941e9.png)

All that Misc stuff is really just misplaced DynamoRevit stuff. We might be looking at an issue with the customization file.

[2018-01-13 18:52] ksobon opened #8465 "library navigation - automatic opening of sub-menus"
Another thing about the library that bugs me is the fact that clicking on Revit main category, causes all of the sub categories to be opened as well, and if that was not enough, the Selection sub-sub-category gets completely unrolled for us. If that was done because the thinking is that selection nodes are the most commonly used ones (and you can back that with usage statistics data), then I am fi

[2018-01-13 18:58] ksobon opened #8466 "documentation needed on new library organization schema"
Since we are switching to JSON based file type, we need clear guidelines on how the libraries are going to be organized. It appears to me that the old ZT namespace>class>method is still in, but also they are not applied the same way for custom node model packages. Take the old UI++ package that had the datetime picker and color picker. To make finding these nodes easier, we just slipped them right

[2018-01-13 19:00] ksobon opened #8467 "library generation and refresh"
This might be my screen, computer only but the library appears glitchy.

![image](https://user-images.githubusercontent.com/529781/34909179-06cb18a6-f86a-11e7-9505-a98683c2b4ab.png)

This happens on multiple open/close of different sub-sections. Basically open a section like Revit, and keep it open, then open one above it like Math. It will cause the behavior. Sliding your mouse over it will cause

[2018-01-13 19:09] mjkkirschner commented on #8465
@ksobon thanks for these reports, for this one specifically can you add a gif of the behavior?

I know @ramramps added some behavior recently so that top level categories would open, but maybe the revit categories were not tested and are acting incorrectly.

[2018-01-13 19:10] mjkkirschner commented on #8464
@ksobon this one we have tracked and will deal with very soon.

[2018-01-13 19:11] mjkkirschner commented on #8467
if this is running in debug mode, there might some really slow logging going on 0- but 100% agreed icon loading with cef from disk at the time of needing to display the icon is a bad idea. we should preload the icons. @Racel  @ramramps

[2018-01-13 19:19] ksobon commented on #8467
@mjkkirschner not in debug mode. Slow loading times are noticeable in regular Revit>Dynamo operation.

[2018-01-14 17:51] mjkkirschner commented on #8466
some of this info can be found on the librarieJS repo in the docs folder - but I'm afraid they are a bit out of date -still worth checking out though.
https://github.com/DynamoDS/librarie.js/tree/master/docs

[2018-01-15 05:57] andydandy74 commented on #8465
Yes, definitely **too much scrolling**. I think the Selection nodes are visible because Selection is the only Revit subcategory that doesn't have any sub-subcategories.
Would it not be enough to just show the next level when clicking on any category or subcategory (instead of the the next two levels)? (Strangely enough, the Display subcategory already works like that...)

Also, I noticed that subc

[2018-01-15 08:32] andydandy74 commented on #8466
@mjkkirschner - Didn't find any info there on how to set up customization XML files. My (packaged) ZT nodes now end up in the Miscellaneous section - I would expect to find them in the Add-Ons section instead.

[2018-01-15 13:39] ksobon commented on #8465
@andydandy74 why are we assuming that we know what categories/subcategories users will want to open anyways? I think this came up when we were discussing "discoverability". These libraries are massive, and categories like Revit will have many sub-sub-categories making it hard to find stuff. This is not making it easier. We compromised ease of use, to achieve something that is at best questionable

[2018-01-15 13:42] mjkkirschner commented on #8466
@alfarok @Racel ☝️

[2018-01-16 01:54] ramramps commented on #8467
@jnealb @smangarole can you check this as the first pass and log the defect?
Also, @ksobon is the slow loading happening for the first time or everytime during refresh ? (ex: you search for the node, clearing the search etc).

[2018-01-16 01:56] #8316 closed

[2018-01-16 01:56] mjkkirschner commented on #8316
please reopen if this still occurs.

[2018-01-16 01:57] mjkkirschner commented on #8314
we can reproduce this - the undo redo recorder fails to recreate a connector sometimes and then a crash happens when that connector is expected to exist... we're investigating.

[2018-01-16 01:57] ramramps commented on #8465
Me and @Racel had some discussion about this behavior. All the `section` level sub categories are set to `open` mode and `Revit nodes` falls under such category.  We had a discussion to rollback this feature. We will keep you posted.

[2018-01-16 02:01] mjkkirschner commented on #8320
@nboyts any chance you have had time to check 2.0?

[2018-01-16 02:06] #8267 closed

[2018-01-16 03:41] ksobon commented on #8467
every time in refresh. it takes a while for the menus to get regenerated.

[2018-01-16 05:17] QilongTang commented on #8465
@Racel @ramramps @mjkkirschner I think we had this discussion many times, I still believe our library should just behave like other libraries, clicking leads to expand or unexpand, no auto-expanding or auto-unexpanding.

[2018-01-16 14:52] jnealb commented on #8453
@vykrum @mjkkirschner @QilongTang @smangarole This is tracked with QNTM-3127.

[2018-01-16 22:59] jnealb commented on #8467
@ksobon @mjkkirschner @kronz @smangarole  I am unable to reproduce this in preliminary testing with D4R 2.0.0.3766 on an i7 Dell laptop with an Nvidia card. Will continue to try.

[2018-01-17 01:41] ksobon commented on #8467
maybe because you actually have a graphics card. I don't. My laptop has a shitty integrated card. Either way, it should be able to handle menu in redraw in Dynamo.

[2018-01-17 03:47] aparajit-pratap commented on #8320
@nboyts there are certain type conversion rules that are built in to the language in Dynamo. When strings are converted into boolean values, the following rules apply:

An empty string is equivalent to a Boolean ‘false’
A non-empty string is equivalent to a Boolean ‘true’

![image](https://user-images.githubusercontent.com/5710686/35024710-10b3bfe2-fb0f-11e7-9405-a7ac6e6e0fec.png)

I hope this ans

[2018-01-17 03:47] #8320 closed

[2018-01-17 06:36] amirabehery commented on #8430
thanks a lot I have solve the problem, Many thanks

On Mon, Jan 8, 2018 at 5:39 PM, aparajit-pratap <notifications@github.com>
wrote:

[2018-01-17 06:43] amirabehery commented on #8430
about the steps nothing I do more than moving or deleting a node
the error solved after I erase all nodes that gives me warning or freeze & restart the file.
that's all

[2018-01-17 15:01] #8430 closed

[2018-01-17 15:04] aparajit-pratap commented on #8430
@amirabehery I'm glad you were able to resolve the issue however, in an ideal case the crash should not occur in the first place. Since it will be hard to debug the issue without proper reproducible steps, I'm closing this for now. Thanks.

[2018-01-18 00:28] radumg opened #8473 "DesignScript class keyword disabled in code blocks"
## Dynamo version

1.2, 1.3, 2.0

## Operating system

Windows 7, Windows 10

## What did you do?

wrote a class definition in a code block, such as :
[code]

Also tried it with `[InternalClass]` and `[InternalClassAttribute]` attributes on the class.

However, saving that class definition to a `whatever.ds` file and loading that in through File > Import happily registers the class and enables it

[2018-01-18 00:34] radumg commented on #8466
+1 for this.

[2018-01-18 16:29] aparajit-pratap commented on #8473
@radumg this is as-designed. DesignScript classes are intentionally disabled in code blocks. They have limited support in the language itself and are meant for internal use only. There are some user-facing features such as function objects that are built on top of DS classes. One of the ways users can exploit them is by writing DesignScript in ".ds" files and importing them into Dynamo using "File

[2018-01-18 16:29] #8473 closed

[2018-01-18 17:02] radumg commented on #8473
Thanks @aparajit-pratap, that is indeed what i'm having to do.
My question is :
- why are they intentionally disabled in code blocks (since they're allowed through `.ds` files, i assume it's not because the engine doesn't suppor tthem)
- and is there scope at all for enabling them in code blocks?

I'm finding the ability to define classes that extend ZT/C# classes in a dynamic way useful, especial

[2018-01-18 17:46] aparajit-pratap commented on #8473
@radumg so you're defining DS classes that extend C# classes? If so, that's brilliant that you figured this out! This was [enabled ](https://github.com/DynamoDS/Dynamo/pull/7819) relatively recently but only for internal development purposes and not to be meant as a user-facing feature. It's amazing that you're using it that way. AFAIK classes were never enabled in CBN's for a very long time. @kro

[2018-01-19 00:54] mjkkirschner commented on #8314
@vykrum I think this PR will solve the issue.
https://github.com/DynamoDS/Dynamo/pull/8476

[2018-01-19 00:56] mjkkirschner commented on #8466
@andydandy74 can you help us repro the nodes being moved to the misc category - which package?

[2018-01-19 05:13] NoOne2246 commented on #7358
The following is the code that I wrote in c# to fix the issue as a zerotouch node. Fixes the issue of intermediary lines being missing and overlapping, on the condition that you set a large enough distance.

[code]
The following images is my way of fixing the boundary lines and ensuring they are constructed. May be a good idea to add it to the code of the voronoi, I have tried but have been unable

[2018-01-19 07:08] andydandy74 commented on #8466
DynamoAutomation

[2018-01-19 09:05] andydandy74 commented on #8466
@mjkkirschner Disregard that. I don't know what I was smoking when I wrote that.
The ZT package **does** appear in the Add-Ons section.
However, I noticed that mixing ZT and custom nodes in one package may have an undesired side effect:
![grafik](https://user-images.githubusercontent.com/3014437/35142835-e277df6c-fcff-11e7-8c04-c974fca16ef6.png)
Notice how there are two categories of the same name

[2018-01-19 09:58] andydandy74 opened #8477 "Custom nodes in mixed packages losing category assignment"
## Dynamo version

2.0.0.3483

## Operating system

Windows 10

## What did you do?

Right-clicked on a custom node to edit its properties

## What did you expect to see?

* The custom node's category as specified in the *.dyf file
* Dynamo not changing the node's category without my knowledge/consent.

## What did you see instead?

Category was set to "Custom Nodes".

## Steps to reproduce

* Ins

[2018-01-19 10:08] andydandy74 opened #8478 "Library collapsing after placing custom node"
## Dynamo version

2.0.0.3484

## Operating system

Windows 10

## What did you do?

Placed a custom node from the library

## What did you expect to see?

The state of the library **not** changing

## What did you see instead?

The entire Add-Ons section collapsing

Note that this is only happening with custom nodes that haven't been touched in 2.0 yet. If a node or its properties dialog has alre

[2018-01-20 09:29] johaslak opened #8480 "Problems linking excel file....."
Trying to import from Excel. Get the message: "Warning: Excel.ReadFromFile operation failed" when I try to link an Excel file. I use the same procedure as the sample shows, but it seems that the Excel.ReadFromFile node does not find the excel file in the file path. Using Dynamo Studio...

(Which version of Dynamo are you using? Go to Help > About if you're not sure.)

## Operating system

(e.g. Wi

[2018-01-21 11:14] abhishakee commented on #8379
Reinstalled but still same problem.

[2018-01-22 12:32] moethu commented on #8298
@aparajit-pratap my object is of a class which inherits an abstract class. For some, not all, classes inheriting the same abstract I get this issue. Didn't find any common property causing it. But it seems odd because I'm using the same core implementation in many other applications.

[2018-01-22 12:39] moethu commented on #8298
@aparajit-pratap this images describes it a bit better. The abstract classes loading element and datum element do not contain any implementation, they are strictly for organizational purposes.
![image](https://user-images.githubusercontent.com/8201465/35221194-91c04024-ff79-11e7-9d33-dcb2d0582ef6.png)

[2018-01-22 15:30] jnealb commented on #8480
@johaslak Can you launch Excel on this machine? Is Microsoft Office licensed?

[2018-01-22 15:43] jnealb commented on #8379
@T-Lueks Please see the email I sent you and let me know if you are still experiencing the issue.

[2018-01-23 04:26] NoOne2246 opened #8484 "Loadcase GetParameterValueByName not working."
## Dynamo version

1.3.2.2480

## Operating system

Windows 7 Enterprise

## What did you do?

Tried to retrieve the name of each loadcase.

## What did you expect to see?

The result of the Python Script

## What did you see instead?

The result in the string from object

Code in python:
[code]

![image](https://user-images.githubusercontent.com/8730604/35258142-a30638f6-0051-11e8-93bf-fd89ca6f4c

[2018-01-23 09:25] johaslak commented on #8480
Hi! Yes, I use Excel all the time. I have only problems with Dynamo. But, could it have something to do with my machine? Maybe some setups?
And one more thing; when I work in Revit, and use geometry to visualize the element i Dynamo. Like a wall. I appears VERY large on the screan. I seems that the workplane is infinately small. Shouldn’t it fit the workplane? It may be told that I work on a stude

[2018-01-23 15:25] jnealb commented on #8480
@johaslak Can you share your dyn graph with us?

[2018-01-23 16:50] MiroSK commented on #6505
Hi. Does that deleting of registry help? I have same problem at ver. Win10. Dynamo 1.3 Office 2016 Revit 2018.2 It was working and now it is not.

[2018-01-24 01:09] dimven commented on #8484
The example you've posted is not comparable. In the python script you're getting the instance object's "Name" property, where as in the graph you're reading a parameter.

There is a known issue with parameters, where a revit element can have multiple parameters with the same user visible name. That's because revit has three different parameter types - builtin, project internal and shared. The best

[2018-01-25 13:07] MiroSK commented on #7488
@bujoldsj Hi. Which hot fix did you use?

[2018-01-25 14:43] #8379 closed

[2018-01-26 19:47] Amoursol opened #8496 "[Bug] Dynamo Crashes when (mistakenly) trying to directly call DesignScript.Dictionary.Count"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

2.0.0 Daily Build

## Operating system

Windows 10

## W

[2018-01-26 19:49] mjkkirschner commented on #8496
@pboyer @aparajit-pratap

[2018-01-26 19:49] Amoursol opened #8497 "[Query] - Can you not use Integers/Doubles as 'Keys' ?"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

Dynamo 2.0.0 Daily Build

## Operating system

Windows 1

[2018-01-26 19:50] Amoursol opened #8498 "[Feature Request] Can Dictionaries in DS work with List@Level and Replication?"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

Dynamo 2.0.0 Daily Build

## Operating system

Windows 1

[2018-01-26 20:06] #8484 closed

[2018-01-26 20:24] mjkkirschner commented on #8477
@alfarok @Racel this definitely seems like a confirmation of bugs in atleast part of the testing task around library addons.

[2018-01-26 20:25] mjkkirschner commented on #8465
this should be fixed now - but not in dynamo yet, right @ramramps?

[2018-01-26 20:43] ramramps commented on #8465
The fix is underway.

[2018-01-26 20:46] ramramps commented on #8498
@Racel @aparajit-pratap

[2018-01-26 20:47] ramramps commented on #8497
@aparajit-pratap @pboyer

[2018-01-26 20:55] mjkkirschner commented on #8498
I think there was just a big discussion about this... @pboyer

[2018-01-29 10:46] josols opened #8501 "Point.Project effiency"
[Point.Project.zip](https://github.com/DynamoDS/Dynamo/files/1673166/Point.Project.zip)
## Dynamo version

1.3.1

## Operating system

Win 7

## What did you do?
Projected points to a complex(ish) PolySurface.
See thread here: https://forum.dynamobim.com/t/point-project-slowed-down-in-revit-2018/17514

## What did you expect to see?

A more efficient projection of points.

## What did you see inst

[2018-01-29 16:55] aparajit-pratap commented on #8498
@Amoursol thanks for testing the new Dictionary feature and for your observations. We are currently not going to support arbitrary expressions for Dictionary keys and are also soon going to remove support for identifiers. That means Dictionaries will only support string constants as keys for now.

This is to make the Dictionary initialization syntax simpler and more understandable in its usage. We

[2018-01-29 16:55] #8498 closed

[2018-01-29 18:04] pboyer commented on #8497
Hi @Amoursol,

Thank you very much for the query. It's very helpful to us.

At present, as you've discovered, we do not support non-string keys for `Dictionary`.

Importantly, saying we only support string keys today doesn't prevent us from extending it in the future. If we generalize now, however, we risk introducing "dark confusing corners" that we can never retract.

Here is our thinking. **Doi

[2018-01-29 18:44] aparajit-pratap commented on #8496
This bug is being tracked here: https://jira.autodesk.com/browse/QNTM-3279

[2018-01-29 19:21] kronz commented on #8498
@Amoursol You can do what you are after like this
![2018-01-29_1419](https://user-images.githubusercontent.com/3456818/35529650-a6309bf4-04ff-11e8-8486-8e2da82145b4.png)

[2018-01-29 19:46] Racel commented on #8465
@ksobon @andydandy74 - Yes, we have reverted the changes that we initially made for the Core OOTB nodes. Unfortunately, the Revit nodes and their categories were no fully recategorized as those nodes and we ran into some complications with how they appear in the library. The next daily build should have the revert, but we will keep you posted. We hope you can test and let us know what you think.

[2018-01-29 19:56] Racel commented on #8477
Good catch @andydandy74! @QilongTang - have we filed this yet? I will file this as part of the testing task...

[2018-01-29 20:00] Amoursol commented on #8497
Hello @pboyer,

Thank you for the very detailed explanation, its appreciated. Fully understand and am on board with the reasoning. Strings are enough.

[2018-01-29 20:01] kronz commented on #8497
Also, you can do a similar end run around limitations like with Dimension over-rides like this
![2018-01-29_1409](https://user-images.githubusercontent.com/3456818/35531529-4616763e-0505-11e8-9c77-dbee7320621c.png)

Not recommended!

[2018-01-29 20:01] #8497 closed

[2018-01-29 20:08] donkalantjr opened #8504 "Internal Error, Please Report: Dereferencing a non-pointer. Element.GetParameterValueByName"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

Dynamo Core: 1.3.2.2480
Dynamo Revit: 1.3.2.2480

## Ope

[2018-01-29 20:09] donkalantjr commented on #8504
![capture](https://user-images.githubusercontent.com/35933058/35531896-02112922-04fe-11e8-93c8-e3a66217cd43.png)

[2018-01-29 20:10] donkalantjr commented on #8504
![capture](https://user-images.githubusercontent.com/35933058/35531928-1ddb264e-04fe-11e8-8d01-eaa56cf22c98.png)

[2018-01-29 21:12] mjkkirschner commented on #8504
@donkalantjr in this case it looks like the custom node you are using is not returning any elements so all downstream methods are failing because null is passed to them. I think you'll need to ask the author of this node.

[2018-01-29 22:18] donkalantjr commented on #8504
All, it was an error with loading the clockwork package. The custom node "Room.GetNumberByModelCurve" was unable to load the clockwork package. I uninstalled and reinstalled and it works now. I just gotta make sure all of the correct packages are installed correctly.

[2018-01-29 22:19] jnealb commented on #8504
@donkalantjr Thank you for the debugging and update.

[2018-01-29 22:19] #8504 closed

[2018-01-30 01:45] basamyousif opened #8506 "Can't create a code block - causes immediate crash!"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## 1.3 (latest as of Jan 2018)

(Which version of Dynamo are you using? Go

[2018-01-30 01:53] vykrum opened #8507 "[Suggestion] Transpose"
## Dynamo version
2.0

## Operating system
Windows

## What did you do?
Used _Transpose_ and _List.Transpose_ in a code block

## What did you expect to see?
Going by the depreciation/renaming in 2.0 would have expected a warning saying  _Transpose_  has been depreciated.

## What did you see instead?
Both worked :-)
Updating existing code (replacing Flatten, ContainsItem etc) is causing me enough

[2018-01-30 02:04] vykrum opened #8508 "Asked to convert non-convertable types"
## Dynamo version
2.0.0.3865

## Operating system
Windows 7

## What did you do?
Updating 1.3.1 code to work with 2.0.0

## What did you expect to see?
An error free code block once when all expected geometry is generated

## What did you see instead?
![error20180130](https://user-images.githubusercontent.com/5621624/35544281-8a037e3e-058f-11e8-957a-0d5da39a7562.png)

Able to identify the line whe

[2018-01-30 02:44] dimven commented on #8501
Some additional observations - extruding the polycurve and intersecting that with the topo PS produces near-instant results at the possible loss of some accuracy:
![image](https://user-images.githubusercontent.com/7148394/35545260-3660913a-05a9-11e8-8686-81aa7b96b762.png)

and intersecting lines with the topo PS produces times about half way between curve/point projections:
![image](https://user-i

[2018-01-30 05:43] andydandy74 commented on #8465
@Racel - I would argue that as long as DynamoRevit is not an actual package that I as a user can install/uninstall via the package manager, I would not want/expect it to appear in the Add-Ons section. Also, when we talk about DynamoRevit nodes (e.g. on the forum) we do refer to them as OOTB nodes. To preserve that distinction and emphasize their special status over user-made Revit-related packages

[2018-01-30 08:24] vykrum opened #8509 "Unhandeled Exception corrupts file"
## Dynamo version
2.0.0.3865

## Operating system
Windows 7

## What did you do?
Wrapped Imperative blocks within another Imperative block
![20180130-1](https://user-images.githubusercontent.com/5621624/35555218-7f9b2b6a-05c4-11e8-8bb0-456b0b22774d.png)
Before Error ...
![20180130-2](https://user-images.githubusercontent.com/5621624/35555289-b12cebc8-05c4-11e8-9350-6db2cf41d581.png)

## What did y

[2018-01-30 08:57] vykrum opened #8510 "Input port accepts multiple wires"
## Dynamo version
2.0.0.3865

## Operating system
Windows 7

## What did you do?
Connected a new wire to an input port that was already wired

## What did you expect to see?
The new wire replaces the old wire

## What did you see instead?
The input port accepted multiple connections

![20180130-3](https://user-images.githubusercontent.com/5621624/35556853-729185a4-05c9-11e8-9140-474522df2d87.png)

[2018-01-30 12:28] mjkkirschner commented on #8510
@vykrum I can't reproduce this yet. Can you try using the latest daily build? Did you need to do anything specific or this happens for every code block on your build?

I am on 2.0.0.3944 for reference.

[2018-01-30 12:30] mjkkirschner commented on #8509
if you try opening this file again it should open in manual mode and then you will be able to edit the codeblock, this doesn't happen?

[2018-01-30 12:51] vykrum commented on #8510
@mjkkirschner I actually wasn't even able to reproduce this on the same build on reopening the file.
But seemed odd enough to merit reporting :-)

[2018-01-30 12:54] vykrum commented on #8509
@mjkkirschner Did open and edit, but the results were all null (in all node previews)
Pasting the code in a new file was the solution.

[2018-01-30 14:06] jnealb commented on #8506
@basamyousif Is this Dynamo for Revit?

[2018-01-30 15:10] bujoldsj commented on #7488
I don't recall which fix.  My version of Excel is 1712 (build 8827.2148)

[2018-01-30 16:00] MiroSK commented on #7488
Thx bujoldsj. I have 1708 (8431.2153). So I will try update it.

[2018-01-30 16:26] jnealb commented on #8477
@andydandy74 Not able to reproduce this with D4R 2.0.0.3934, the correct Category is shown
![image](https://user-images.githubusercontent.com/9357222/35577847-77c48bfc-05b0-11e8-9c96-f1c5bc84460c.png)

[2018-01-30 16:27] mjkkirschner commented on #8477
@jnealb are you looking at packages that have both zt and custom nodes?

[2018-01-30 16:28] jnealb commented on #8477
@mjkkirschner Yes, the one that Andreas mentions: DynamoAutomation (1.3.4)

[2018-01-30 18:27] Racel commented on #8510
@jnealb - can you take a look to see if we can get reproducible steps? Without them, we may need to close temporarily.

[2018-01-30 18:47] jnealb commented on #8510
@Racel Sure.

[2018-01-30 19:23] jnealb commented on #8510
Can not reproduce with 2.0 daily build, @vykrum please re-open if you are able to.

[2018-01-30 19:23] #8510 closed

[2018-01-30 23:00] jnealb commented on #8477
Update: found a scenario where the Category gets erroneously reset to "Custom Nodes". Investigating.

[2018-01-30 23:38] #8477 closed

[2018-01-31 16:53] alfarok commented on #8466
@mjkkirschner @jnealb tracking with [QNTM-3306](https://jira.autodesk.com/browse/QNTM-3306)

[2018-01-31 22:40] #8466 closed

[2018-02-01 09:15] MiroSK commented on #7488
So I did update at Excel version 1712 and it does help. It is working !!! Thx for help.

[2018-02-05 06:44] dimven opened #8532 "Wish: Populate the RootDirectory property of the "Directory Path" node's FolderBrowserDialog object"
## What did you expect to see?

Currently, every time you try to pick a folder, the selection always starts from the Desktop folder. It would be great if the selection could start from the previously stored folder instead.

![image](https://user-images.githubusercontent.com/7148394/35791424-d4110760-0a82-11e8-9ce7-12923f244123.png)

[2018-02-05 16:36] mengelmn opened #8535 "Dynamo Studio No Geometry"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.3.2.2480

## Operating system

Windows 10

## What did

[2018-02-05 16:38] ramramps commented on #8535
@mengelmn can you please attach the file you are trying to run?
@jnealb fyi.

[2018-02-05 16:39] mengelmn commented on #8535
I believe the above bug is related to the previous reported and solved issue  https://github.com/DynamoDS/Dynamo/issues/7964

I have tried this solution as well, remove all dynamo installs and reinstall both Dynamo Revit and Dynamo Studio (from desktop app and download)  Have attempted in both orders of Studio then Revit and Revit then Studio.

Dynamo Sandbox runs fine and shows the background geo

[2018-02-05 16:41] mjkkirschner commented on #8535
@jnealb is there an installer download for this issue?

[2018-02-05 19:34] jnealb commented on #8535
@mengelmn Is it possible for us to remote into your machine?

[2018-02-05 19:58] mengelmn commented on #8535
@jnealb - as a final option, is there something specific

[2018-02-05 20:38] jnealb commented on #8535
@mengelmn given that you have tried the un-install all and re-install of Dynamo it seems like we may need to debug your machine

[2018-02-05 23:45] SZEBROW opened #8536 "Search nodes function freezes every keystroke"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version
Dynamo Core: 1.3.2.2480
Dynamo Revit: 1.3.2.2480
(Which v

[2018-02-06 03:01] vykrum opened #8538 "Lacing Inconsistency"
## Dynamo version
2.0.0.3865

## Operating system
Windows 7

## What did you do?
Changed Lacing from _Auto_ to _Shortest_

## What did you expect to see?
Similar behavior as _Auto_

## What did you see instead?
Works like _Longest_
![error-20180206-1](https://user-images.githubusercontent.com/5621624/35839733-0a53061c-0b18-11e8-975d-b43e65c47f21.png)

[2018-02-06 06:55] 123wangbiao opened #8539 "Crashed when i try to save my Dynamo file to document."
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version
Dynamo1.3.2
(Which version of Dynamo are you using? Go to

[2018-02-06 10:32] Thomas84 commented on #6634
each node should have a GUID and an additional ID to identify the package and the release version of the package used. If you save a package all GUID-ID will be saved into the dyn file and if you open the script there will be a window to show which package are missing completly to run the script, which packages are too old (but are installed) and an easy option to update the necessary packages wit

[2018-02-06 14:06] mengelmn commented on #8535
@jnealb send me a direct message and we can set something up.

[2018-02-06 14:37] jnealb commented on #8536
@SZEBROW Can you please try un-installing all versions of Dynamo (including any earlier folders etc) and re-installing Dynamo? We think this may clear the slow search.

[2018-02-06 14:41] jnealb commented on #8539
@123wangbiao Can you please give us more detail: was this with Dynamo for Revit, your Dyn graph etc?

[2018-02-06 14:46] jnealb commented on #8535
@mengelmn Please email me at neal.burnham@autodesk.com

[2018-02-06 20:23] SZEBROW commented on #8536
Thanks for the advice.  I wiped my HD clean of Dynamo, AND removed all packages.  Re-installed.  Same problem.  However, I think I have found the culprit.  The lag only occurs when I am working in a large model (local model that syncs to central).  When I open a small project, no lag....  Any suggestions?  Thanks.

[2018-02-06 20:31] andydandy74 commented on #6634
@Thomas84 Custom nodes have unique IDs and they are used in graphs. Not sure about ZT nodes are handled at the moment.

[2018-02-06 20:34] jnealb commented on #8536
@kronz Any thoughts?

[2018-02-06 20:43] kronz commented on #8536
@jnealb Sounds similar to https://forum.dynamobim.com/t/lag-latency-dynamo-search-extremely-slow/18506/12

[2018-02-06 21:25] jnealb commented on #8536
@kronz Thanks.

[2018-02-07 15:38] vykrum opened #8543 "Nested multiline comment error"
## Dynamo version
2.0.0.3934

## Operating system
Windows 10

## What did you do?
Attempted to comment out lines that also included some lines that already were commented out

## What did you expect to see?
The selected lines to be commented out

## What did you see instead?
![error-20180207-1](https://user-images.githubusercontent.com/5621624/35925145-fbfc3a0a-0c4a-11e8-8534-9fe799fe6a56.png)

[2018-02-07 20:36] jnealb commented on #8535
This is tracked with JIRA task DYN-887.

[2018-02-07 20:36] #8535 closed

[2018-02-08 14:38] mengelmn commented on #8535
@jnealb @mjkkirschner
For reference the current solution to the descibed graphic issue can be resolved by doing a full clean install of Dynamo Studio from the trial link https://www.autodesk.com/products/dynamo-studio/free-trial

[2018-02-08 14:39] jnealb commented on #8535
@mengelmn Thank you.

[2018-02-08 21:34] kronz commented on #8293
@mjkkirschner with the recent change in CEF, is this now fixed?  https://github.com/DynamoDS/Dynamo/commit/735e32eb15bfcd6175bf57004fafc0b8ae721c46

[2018-02-08 21:35] mjkkirschner commented on #8293
untested- but potentially!

[2018-02-08 22:00] jnealb commented on #8293
@kronz @mjkkirschner Tested with D4R 2.0.0.4016: works fine with Win10 running Revit 2018.3

[2018-02-08 23:00] #8293 closed

[2018-02-09 07:14] erfajo opened #8547 "missing nodes/tools (dynamo 2.0)"
## Dynamo version
DynamoRevit2.0.0.20180206T1942

## Operating system
Windows 10 enterprise x64

## What did you do?
Started dynamo...

## What did you expect to see?
I expected that nodes/tools were available... but there is nothing at all, it is absolutely empty!

Last version that worked was DynamoRevit2.0.0.20180111T0104, but it is not possible to install that version anymore, I have tried. So

[2018-02-09 07:37] erfajo commented on #8547
If I start the sandbox version, then it looks like expected!?

Is there a migration problem from earliere versions?

![image](https://user-images.githubusercontent.com/2844374/36016657-602a9768-0d74-11e8-9b81-0a5655d997ee.png)

[2018-02-09 09:12] ThomasBSmits opened #8548 "Dynoma Player does not show up after launching it in Revit"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

1.2 & 1.3.1

(Which version of Dynamo are you using? Go to Help > About if

[2018-02-09 12:21] ramramps commented on #8547
@erfajo  what is the version of Revit ?

[2018-02-09 14:00] andydandy74 commented on #8547
I'm not even seeing a library in the sandbox (same build as @erfajo ).
![grafik](https://user-images.githubusercontent.com/3014437/36031094-ee782276-0da9-11e8-879f-d5182bdd52d3.png)

[2018-02-09 14:44] kronz commented on #8547
@ramramps @mjkkirschner Note that Andreas is seeing this in Sandbox, that is, not in conflict with 2018.2's CEF sharp.

[2018-02-09 14:49] andydandy74 commented on #8547
@ramramps @mjkkirschner FYI This is in a VM

[2018-02-09 14:58] ramramps commented on #8547
@andydandy74 I got this build (sandbox) and I checked it on my machine. It looks ok.
Can you get us the VM configuration?

[2018-02-09 15:19] andydandy74 commented on #8547
@ramramps You mean the *vmxf file?

[2018-02-09 15:20] ramramps commented on #8547
Like the windows version, Graphics card...

[2018-02-09 15:21] mjkkirschner commented on #8547
@andydandy74 were you seeing the library in your VM on previous versions of 2.x?

[2018-02-09 15:22] mjkkirschner commented on #8547
@erfajo please try removing the pNID modeler addin folder from the addins folder under your revit install directory.

[2018-02-09 15:33] jnealb commented on #8547
@erfajo @ramramps @andydandy74 @kronz Installing DynamoRevit2.0.0.20180206T1942 on a Win10 VM with Revit 2018.3 pre-installed gives correct results with both D4R and Sandbox. Please note that the running Core version is 2.0.0.4006 as reported by the About box. Is it possible that this might be noise from an incomplete "intra 2.0" uninstall/install sequence?

[2018-02-09 15:37] andydandy74 commented on #8547
@ramramps
VMware Workstation
Graphics card: VMware SVGA 3D
System stats in VM:
![grafik](https://user-images.githubusercontent.com/3014437/36035395-01c64508-0db7-11e8-82d8-cb446f22c589.png)

@mjkkirschner
This is the first install of 2.0 on this VM. So far I've only had it installed on my home machine.
I will uninstall this build, install an older build to check the library visibility and report b

[2018-02-09 15:41] jnealb commented on #8547
ditto on the gfx subsystem:
![image](https://user-images.githubusercontent.com/9357222/36035734-c6c75b4e-0d85-11e8-8b04-486db5ff98cb.png)

[2018-02-09 15:43] jnealb commented on #8547
Because I have installed 2.0 before on this VM my test is not quite fair. Should do it on a freshly minted VM.

[2018-02-09 15:48] andydandy74 commented on #8547
FWIW I have the same issue on my Win 10 VM :-(

[2018-02-09 15:56] jnealb commented on #8547
I have a pristine Lenovo with Win10. Will try there.

[2018-02-09 15:59] mjkkirschner commented on #8547
@andydandy74 do you see anything library related in the console output?

[2018-02-09 15:59] andydandy74 commented on #8547
Tried the first daily build of both January and December, same result in Revit 2017.2.2 (no sandbox available yet in those builds).

[2018-02-09 16:03] mjkkirschner commented on #8547
also @andydandy74 just to be sure - have you enabled 3d acceleration in your VM?

[2018-02-09 16:05] andydandy74 commented on #8547
@mjkkirschner I do. Rough translation:
[code]

[2018-02-09 16:09] andydandy74 commented on #8547
@mjkkirschner yes, 3d acceleration is enabled :-)

[2018-02-09 16:09] ramramps commented on #8547
can you check the install location and see whether the file is there?
<img width="870" alt="screen shot 2018-02-09 at 11 09 00 am" src="https://user-images.githubusercontent.com/8495197/36037112-b85f3370-0d89-11e8-83cc-343b089e1c13.png">

[2018-02-09 16:12] andydandy74 commented on #8547
@ramramps
![grafik](https://user-images.githubusercontent.com/3014437/36037224-6211570e-0dbc-11e8-80c6-c76ec42affbb.png)

[2018-02-09 16:13] mjkkirschner commented on #8547
https://github.com/cefsharp/CefSharp/wiki/Frequently-asked-questions#4-why-do-i-get-an-error-about-could-not-load-file-or-assembly-cefsharpcoredll-or-one-of-its-dependencies-the-specified-module-could-not-be-found-when-trying-to-run-my-cefsharp-based-application-it-compiles-successfully-but-does-not-run-it-runs-on-my-developer-machine-though-throws-an-exception-when-i-copy-it-to-another-computer

[2018-02-09 16:20] jnealb commented on #8547
@mjkkirschner @andydandy74 @alfarok What exactly should I install on my pristine Lenovo? Revit 2017.2.2 first?

[2018-02-09 16:23] andydandy74 commented on #8547
@mjkkirschner
these are the vc++ redistributables installed on the VM
![grafik](https://user-images.githubusercontent.com/3014437/36037650-af64d11a-0dbd-11e8-866d-d0b51d7ccfb2.png)
As for .NET, there are 4.6.00081 and 4.7.02053

[2018-02-09 16:29] ramramps commented on #8547
<img width="1203" alt="screen shot 2018-02-09 at 11 28 31 am" src="https://user-images.githubusercontent.com/8495197/36038022-6f61fd94-0d8c-11e8-8875-df449957d71a.png">

[2018-02-09 16:29] ramramps commented on #8547
I think you need VC++ 2013 distributable.

[2018-02-09 17:18] jnealb commented on #8547
This is a known issue and tracked with DYN-578.

[2018-02-09 17:18] #8547 closed

[2018-02-09 19:57] jnealb commented on #8548
@kronz Ping

[2018-02-09 22:05] kronz commented on #8548
From development:
earlier versions of Dynamo were producing a crash in the headless mode when you tried to open a file and Dynamo created a backup for it (because the file was upgraded I guess) in a folder where the user didn't have write access.

That's 1 theory
The second is that somehow the dlls got messed up in the sense that a newwer version of our dll ended up somehow in the folder for an ea

[2018-02-10 14:13] erfajo commented on #8547
Sorry for my absence yesterday, I had other matters to address yesterday.

I am glad to see that the issue got some attention, but the suggested solution that VC++ 2013 should be the problem is NOT the case. It is the PnIDModeler there is the problem. After removing that Addin my dynamo session worked as expected.

BUT, the PnIDModeler is an Autodesk plugin, that comes with Revit 2018. I don’t kno

[2018-02-10 19:12] ramramps commented on #8547
@erfajo Thanks. VC++ 2013 is the issue for @andydandy74. Different issues got crumbled here.
It's the CEF version issue. Revit 2018.2 has Cef version different from Dynamo. And CEF in Revit 2018.2 is inside PnIDModeler. So, when you deleted the PnIDModeler, Dynamo loads its CEF version in the process and it worked as expected. This is the issue only in Revit 2018.2 and this is fixed in Revit 2018.

[2018-02-10 19:47] erfajo commented on #8547
Thanks, that sounds good. I can live with testing Dynamo 2.0 by moving PnIDModeler out of the addin folder. If I should end having use of the PnIDModeler I can move it back again.

[2018-02-12 15:34] pboyer commented on #8543
Thanks for your comment @vykrum.

This is not bug. This is the expected behavior of this kind of comment syntax. It is the same behavior as C, C++, C#, JavaScript, Java and many other C descendants.

We don't plan on changing this. It's good to be the same here as a programmer has no new syntax behavior to learn as she moves between DesignScript and other languages.

[2018-02-12 15:34] #8543 closed

[2018-02-13 04:44] vykrum opened #8560 "[Suggestion] Harmonize Get and Set Parameter node name"
## Dynamo version
2.0.0.4047
2.0.0.4074

## Operating system
Windows 10

## What did you do?
Searched for _SetParameterValueByName_ and expected _**Element.SetParameterByName**_ to appear in the list of available node options

## What did you expect to see?
Suggestion: For consistency, either include or remove _**Value**_ in both the _Get_ and _Set_ node names

## What did you see instead?
![param

[2018-02-13 08:41] AndersDeleuran opened #8561 "IronPython Distribution Method and Standard Library"
Hi All,

I started a thread on the Discourse forum regarding some concerns I have about the  Dynamo IronPython distribution method:

https://forum.dynamobim.com/t/distribute-revit-dynamo-with-the-iron-python-standard-library

Basically boiling down to:

1) The potential breakage of IronPython within other applications, due to the Dynamo system-wide install method of IronPython 2.7.

2) Why the pat

[2018-02-13 09:21] AndersDeleuran opened #8562 "Add Python Node Console"
Hi All,

It's terrific to see the many measures that have been taken to improve the Dynamo Python scripting experience (notably in #8182). I may have missed it, but I have not come across a dedicated issue (though it does seem to pop up here and there) for adding a console to the Python node. I personally rely heavily on using `print()` statements during development and debugging, so a console is

[2018-02-13 09:28] AndersDeleuran commented on #8562
Also, a keyboard shortcut for running/testing/executing a script is super useful I find. The Grasshopper component uses F5 for _Test_, CTRL + F5 for _OK (i.e. Test + Close)_ and Alt + F4 for _Close_ for instance.

[2018-02-13 10:42] debrajka opened #8563 "No 3D background"
## Dynamo version

Studio 1.3.0.946

## Operating system

(10)

## What did you do?

(regular work on project)

## What did you expect to see?

3d background

## What did you see instead?

blank background
![capture](https://user-images.githubusercontent.com/36441630/36145770-5f5c666a-10d8-11e8-8747-5420493c97ec.PNG)

[2018-02-13 15:23] jnealb commented on #8563
@debrajka Can you please un-install all of your Dynamo components and re-install, from the Control Panel (if you have any older folders like 1.2 or 1.1 please remove them)? If that does not fix it, please consult https://github.com/DynamoDS/Dynamo/wiki/Dynamo-FAQ for further suggestions on debugging this.

[2018-02-13 19:05] kronz commented on #8535
You can also run the update from the Autodesk Desktop App
![2018-02-13_1405](https://user-images.githubusercontent.com/3456818/36168387-ecb2ca66-10c6-11e8-8a68-e9513d0d3688.png)

[2018-02-14 05:19] EmCru opened #8565 "List.Combine CrashingWhen Input EmptyList"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## 1.3.2.2480

## W10
(e.g. Windows 7, Windows 8.1, etc)

## Sending a vari

[2018-02-14 10:26] AndersDeleuran opened #8566 "Warning Message Box Drawn Behind Other Nodes"
## Dynamo version

Dynamo Revit 1.3.2.2480

## Operating system

Windows 10

## What did you do?

Had a Python node that raised a warning box:

<img width="286" alt="2018-02-14 11_21_58-dynamo" src="https://user-images.githubusercontent.com/2339067/36199403-cbd53992-1179-11e8-86d6-9dd4e88c924b.png">

## What did you expect to see?

I expected this warning box to be rendered above the other nodes o

[2018-02-14 14:00] ViktorKuzev opened #8567 "The referenced object is not valid, possibly because it has been deleted from the database, or its creation was undone"
Dynamo 1.3.2.2480
Revit 2018.2
Windows 10

## What did you do?

Using a Python Node to load multiple families into multiple project files
documents = []
families = []
for docpath in docpaths:
	doc=app.OpenDocumentFile(docpath)
	documents.append(doc)
for path in paths:
	family_doc = app.OpenDocumentFile(path)
	families.append(family_doc)

for document in documents:
	map(lambda family: family.LoadFa

[2018-02-14 14:50] AndersDeleuran commented on #8561
A real-world example of Point 1 can be seen here:

https://github.com/ladybug-tools/ladybug-dynamo/issues/34

[2018-02-14 15:15] jnealb commented on #8565
@EmmettCru Are you able to attach your file graph for us to look at?

[2018-02-14 16:54] EmmettCru commented on #8565
Here is the file.

LMK if you need anything else.

Emmett

On Wed, Feb 14, 2018 at 7:15 AM, Neal Burnham <notifications@github.com>
wrote:

--
Regards,
Emmett E Cruey
(925)695-6000

[2018-02-15 16:02] ViktorKuzev commented on #8567
Ok solved it. And I'm laughing now. The output was assigned a list of documents that were already closed.
Of course I get this message.

[2018-02-15 16:02] #8567 closed

[2018-02-15 16:07] jnealb commented on #8567
@ViktorKuzev Thank you.

[2018-02-15 23:32] ankitdarda opened #8576 "As soon create code block crashes Dynamo"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

(1.3.2)

## Operating system

(Windows 7)

## What did y

[2018-02-16 15:37] jnealb commented on #8576
@ankitdarda We think this may be the issue described here: https://forum.dynamobim.com/search?q=avalonedit. Can you please try some of the suggested workarounds?

[2018-02-17 11:07] AndersDeleuran commented on #8561
Another example here:

https://discourse.mcneel.com/t/rhino-6-wip-grasshopper-python-does-not-load-os-module/37877/15?u=andersdeleuran

[2018-02-18 14:30] ricardo7cordas opened #8579 "Geometry unexpected behavior"
## Dynamo Core 1.3.2.2480 and Dynamo Studio 1.3.0.946

## Operating system

Windows 10 Pro
Version 1709
OS Build 16299.248

## What did you do?

I'm trying to create a closed curve from several ways and all returned an unexpected results.

Note: **i'm using Extra Large geometry working range**

## What did you expect to see?

A closed curve by four points

## What did you see instead?

see images

[2018-02-18 15:00] ricardo7cordas commented on #8579
Another way fails

![2018-02-18_11-49-28](https://user-images.githubusercontent.com/14896455/36353282-417901a2-14a3-11e8-9574-3f070753f0f8.png)
![2018-02-18_11-49-21](https://user-images.githubusercontent.com/14896455/36353283-41904e8e-14a3-11e8-964d-22973d6fc63f.png)
![2018-02-18_11-49-05](https://user-images.githubusercontent.com/14896455/36353284-41edf41c-14a3-11e8-83b7-7f38021dad1f.png)
![2018

[2018-02-18 18:10] ricardo7cordas commented on #8579
The same code works fine with medium geometry working range

![image](https://user-images.githubusercontent.com/14896455/36355146-e8648094-14bd-11e8-9490-5df579ea20f0.png)

[2018-02-18 23:30] mjkkirschner opened #8580 "attempting to load dynamo 1.3 package that references VariableInputNodeModel in 2.x crashes"
this crashes on startup when the package is loaded.

[2018-02-18 23:31] mjkkirschner commented on #8580
this is particularly bad because we migrate 1.3 packages to 2.x package folder... maybe we should not do this.

[2018-02-19 00:07] mjkkirschner commented on #8298
@moethu are you able to test this in 2.0?
Also is there any difference between your loadPattern class and Grid for example?

[2018-02-19 00:10] mjkkirschner commented on #8579
@aparajit-pratap this seems as designed to me. Please correct me if I am wrong and reopen if so.

[2018-02-19 00:10] #8579 closed

[2018-02-19 00:12] mjkkirschner commented on #8538
@Racel this seems correct to me, since there is only one input on this node - lacing between shortest and longest would be the same would it not?

[2018-02-19 00:13] mjkkirschner commented on #8536
@kronz is this something you can reproduce?

[2018-02-19 00:15] mjkkirschner commented on #8508
@aparajit-pratap thoughts?
@vykrum can you share the code?

[2018-02-19 00:15] mjkkirschner commented on #8465
@Racel can we close this now?

[2018-02-19 00:16] mjkkirschner commented on #8436
@vykrum I think we have fixed some of these code block related undo/redo crashes - there may still be some lurking though - have you continued to see any issues with the latest builds?

[2018-02-19 08:42] moethu commented on #8298
@mjkkirschner thanks, will test 2.0 first

[2018-02-19 10:21] mojtabajeem opened #8581 "Nothing to background"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

(Dynamo Studio 1.3)

## Operating system

(Windows10)

#

[2018-02-19 14:25] moethu commented on #8298
@mjkkirschner same in 2.0, yes there is a difference between classes (grid and loadpattern) but they are marginal. And all classes are derived from "element". Any idea?
![image](https://user-images.githubusercontent.com/8201465/36382422-21e0675e-1589-11e8-8ad8-b9e2bc9a2659.png)

[2018-02-19 15:08] jnealb commented on #8580
@mjkkirschner File it?

[2018-02-19 15:12] jnealb commented on #8436
@vykrum Please re-open if you see any more crashes.

[2018-02-19 15:12] #8436 closed

[2018-02-19 17:14] jnealb commented on #8581
@mojtabajeem Can you please un-install all of your Dynamo components and re-install, from the Control Panel (if you have any older folders like 1.2 or 1.1 please remove them)? If that does not fix it, please consult https://github.com/DynamoDS/Dynamo/wiki/Dynamo-FAQ for further suggestions on debugging this.

[2018-02-19 17:59] mojtabajeem commented on #8581
@jnealb   Thanks, I uninstall and install the product and deleted all files on "appdata folder" Twice! But it didn't work yet ... I decided to use your link.

[2018-02-19 18:25] mjkkirschner commented on #8298
@moethu unfortunately no. I think to be helpful I will need a sample project which reproduces this so I can eliminate some unknowns. Could you provide that? Does not need to be your actual source, just a demo project.

[2018-02-19 18:26] mjkkirschner commented on #8581
@jnealb doesn't this require some installer fix or removal of studio? It looks like the grid is present but no other geometry.

[2018-02-19 18:27] mjkkirschner commented on #8565
@jnealb did you actually receive a file?

[2018-02-19 19:01] jnealb commented on #8565
@mjkkirschner No @EmmettCru Can you please attach the file again?

[2018-02-19 19:41] SZEBROW commented on #8536
Update to the issue.  I have acquired a new machine with a clean version of Revit 2017 and clean version Dynamo with no packages downloaded yet.  However, I am still having the same problems using the search function.

[2018-02-20 03:05] mjkkirschner commented on #8580
@jnealb please file it - we found it at the workshop - I think it might hit many users as we auto migrate 1.3 packages currently.

[2018-02-20 10:17] AndersDeleuran opened #8583 "Add Python Editor Keyword Color"
Hi Again,

Might it be possible to add a highlight color to Python keywords (ala Sublime Text (left) and GHPython (middle)):

<img width="1270" alt="2018-02-20 11_01_02-edit python script" src="https://user-images.githubusercontent.com/2339067/36417995-cf73a120-162d-11e8-9138-0a3b259d658c.png">

I noticed that these are already bold in the Dynamo Python editor, so might as well go all the way with

[2018-02-20 11:47] kronz commented on #8536
@mjkkirschner no, It doesn't happen on my machines.  @SZEBROW can you try using search with and without any network connections (completely disabling wifi and unplugging any network cables)?

[2018-02-20 14:20] ThomasBSmits commented on #8548
To eliminate the first two theories, I’ve fully unstalled Dynamo and Re-installed 1.3.

When I startup dynamo Player, there is a process in the background, but I can’t find the player anywhere:
[cid:image002.jpg@01D3AA5E.5B16E070]

Van: Zach Kron [mailto:notifications@github.com]
Verzonden: vrijdag 9 februari 2018 23:05
Aan: DynamoDS/Dynamo <Dynamo@noreply.github.com>
CC: Smits, Thomas <tsmits2@he

[2018-02-20 16:11] aparajit-pratap commented on #8508
@vykrum so it sounds like you're pointing at a regression from 1.3? Could you describe a little more about what exactly were you trying to do or share the code in your code block? Were you calling a zero touch method from a package or simply using the geometry methods?

[2018-02-20 17:09] vykrum commented on #8508
This error, I realized,was on account of a rogue point in a list if Polygons. Was trying to get the center.
However, this error wasn't thrown on running the same definition in 1.3

[2018-02-20 17:09] #8508 closed

[2018-02-20 17:17] vykrum commented on #8538
@mjkkirschner If this behavior is correct, then it has been wrong in all earlier versions :-)
Another example ...
In 1.3.2
![pointproject-13](https://user-images.githubusercontent.com/5621624/36438387-ceefe5ee-168f-11e8-89de-6355252d4e84.png)
In 2.0
![pointproject-20](https://user-images.githubusercontent.com/5621624/36438460-0096ffb0-1690-11e8-940c-553d36325607.png)

[2018-02-20 18:15] mjkkirschner commented on #8538
@vykrum @Racel can verify but I am pretty sure that previous behavior was actaully AUTO and now shortest is really shortest.

[2018-02-21 01:13] dimven commented on #8583
Avalon edit uses language rules files. In Dynamo's case that's stored in the resources of the script widow as "ICSharpCode.PythonBinding.Resources.Python.xshd" that looks something like this:
[code]

Most likely all we need to do is tweak something in there.

[2018-02-21 04:22] vykrum commented on #8538
@mjkkirschner Does that mean AUTO is something other than Shortest, Longest and Cross Product?

[2018-02-21 05:42] vykrum commented on #8538
Related issue, i think.
In the below screen shot, the last line of Flatten 1 and Flatten 2 should have the identical list structures, but they don't.
![error-20180221-1](https://user-images.githubusercontent.com/5621624/36464844-13990ef6-16f8-11e8-83d3-2fa65a7fd0e0.png)

[2018-02-21 05:46] mjkkirschner commented on #8538
@vykrum yes - AUTO is not any of the other lacing types.

[2018-02-21 07:27] dimven commented on #7741
bump, this is still broken in 1.32 and will most likely remain broken in 2.0, since there haven't been any changes to the units class: https://github.com/DynamoDS/Dynamo/blob/master/src/Libraries/DynamoUnits/Units.cs

not sure exactly why this is failing. The internal value is 1E9:
https://github.com/DynamoDS/Dynamo/blob/master/src/Libraries/DynamoUnits/Units.cs#L1135

[2018-02-21 08:45] AndersDeleuran commented on #8583
That'd be terrific.

I just tried fiddling with this myself, but don't see this file on my system:

<img width="711" alt="2018-02-21 09_41_19-icsharpcode - everything" src="https://user-images.githubusercontent.com/2339067/36470590-a70893d0-16eb-11e8-86ac-f648f9da01ac.png">

There is these though:

<img width="707" alt="2018-02-21 09_41_47-xshd - everything" src="https://user-images.githubusercont

[2018-02-21 09:41] dimven commented on #8583
Ynfortunately that file gets embedded into the dll. You either have to change it through visual studio or in here:
https://github.com/DynamoDS/Dynamo/blob/master/src/Libraries/PythonNodeModelsWpf/Resources/ICSharpCode.PythonBinding.Resources.Python.xshd

[2018-02-21 11:12] AndersDeleuran commented on #8583
Ah, but of course. Thanks Dimitar.

[2018-02-21 18:04] Racel commented on #8465
Yes. This has been fixed. Closing.

[2018-02-21 18:04] #8465 closed

[2018-02-21 18:20] Racel commented on #8538
@vykrum - @mjkkirschner is correct. But, we did check out your last screenshot. It looks like there may be some bug or weird behavior happening.

Can you try and save your dyn and reopen it again in the latest daily build? We are concerned by the use of 'mstrPrint01' in the "Flatten 2" node. 'mstrPrint01' should not be callable in "Flatten 2". Can you recall how you created "Flatten2"? Did you cop

[2018-02-21 19:08] jnealb commented on #7741
@torkuen Thank you. This is tracked with QNTM-1304.

[2018-02-21 19:08] #7741 closed

[2018-02-22 03:16] vykrum commented on #8538
@Racel I most likely did copy and paste from the first code block.
While I didn't retain a copy of the file, recreating the same on the latest build seemed to work fine.

[2018-02-23 16:52] QilongTang commented on #8477
PR: https://github.com/DynamoDS/Dynamo/pull/8592

[2018-02-23 17:20] aparajit-pratap commented on #8538
@vykrum I'm closing this for now. Let us know if you have any other questions.

[2018-02-23 17:20] #8538 closed

[2018-02-26 18:41] mjkkirschner commented on #8581
@kronz do you recall this issue - studio and revit installer interaction weirdness?

[2018-02-27 02:22] dimven opened #8600 "Surface.TrimWithEdgeLoops not working as expected"
## Dynamo version

1.3.2 stable

## Operating system

Windows 7

## What did you do?

Tried to cut holes in a planar surface with a list of planar loops

## What did you expect to see?

The outer boundary being preserved and new holes being added to the surface (holes at the darker squares):

![image](https://user-images.githubusercontent.com/7148394/36706893-eabc737a-1ba6-11e8-8cd9-3111150dda00.p

[2018-02-27 15:09] jnealb commented on #8310
@vykrum This is fixed in the daily builds for 2.0.

[2018-02-28 15:24] kronz commented on #8581
@mojtabajeem can you try running the full installer from here:
https://www.autodesk.com/products/dynamo-studio/free-trial

[2018-02-28 16:52] ThomasMahon opened #8604 "Dynamo v2.0 breaks [DefaultArgument("{}")] Attribute in ZT Nodes"
## Dynamo version

2.0

## Operating system

Win 10

## What did you do?

Used a ZT node in Dynamo 2.0 which has a default argument using the DefaultArgument attribute.

## What did you expect to see?

An empty list as the default input

## What did you see instead?

![image](https://user-images.githubusercontent.com/18601851/36800581-c2729438-1ca7-11e8-941b-31a9e6c7ac13.png)

I assume this is cau

[2018-02-28 19:21] ramramps commented on #8604
@Racel @aparajit-pratap

[2018-02-28 19:26] mjkkirschner commented on #8604
a question for @pboyer.

[2018-03-01 01:05] ThomasMahon opened #8606 "Package Manager broken: Screws up folder structure and deletes data from JSON file"
## Dynamo version

Dynamo 1.2

## Operating system

Win 10

## What did you do?

Publish update to Dynamo Package via the Package Manager

## What did you expect to see?
An updated package adhering to the folder structure

## What did you see instead?

The folder structure is changed (the 'extra' folders dll's get copied to the bin folder (so they appear in both folders) and the XML description fi

[2018-03-01 18:13] alfarok commented on #8466
@ksobon @andydandy74 @mjkkirschner Hey guys, I am taking a look at the library organization for Add-ons now.  Konrad  the original issue you raised is because you can no longer add nodes to the OOTB categories so your view customization file is creating that same category you specified in the Add-ons section.  Andy the issue you are seeing is related to the naming of the Custom Nodes I believe.

!

[2018-03-01 18:33] alfarok commented on #8466
Removing the dot-notation from the node names seems to resolve the issue.  The placement is then strictly based on the specified category.

[code]
![image](https://user-images.githubusercontent.com/13341935/36862468-e0ea51aa-1d54-11e8-8ba9-339eb922cbdc.png)

[2018-03-02 10:42] xiuchengyang opened #8608 "cannot download and install MeshToolKit in Revit 2018"
## Dynamo version

Revit 2018, Dynamo 1.2.2.373

## Operating system

Window 10

## What did you do?

I cannot download and install MeshToolkit. I tried on different versions, 1.31., 1.2.0.
<img width="349" alt="default" src="https://user-images.githubusercontent.com/29282366/36895302-bc372c10-1e0e-11e8-9cb4-0c1ce041d532.PNG">

Thanks very much for your advice about the possible problem.

[2018-03-02 15:15] jnealb commented on #8608
@xiuchengyang We are unable to reproduce this with Revit 2018.3 and Dynamo 1.3. Can you please take a look at the console and provide us with the full error message?

[2018-03-02 15:33] aparajit-pratap commented on #8604
It looks like we need a migration strategy for `DefaultArgumentAttribute`s on ZT nodes. I do not think we have many such nodes but we cannot be sure of the number of packages that will be impacted. @kronz @Racel

[2018-03-02 15:35] jnealb commented on #8604
@aparajit-pratap Is there a JIRA task for this?

[2018-03-02 15:54] ThomasMahon commented on #8604
Would an overload added to the attribute method work? For example, create a secondary input with an enum defining versions, so the dev can specify the target version and this can simply be interpreted by Dynamo's VM at runtime? If the inputs don't include any version input, then it assumed to be built on versions of Dynamo prior to 2.0?

![image](https://user-images.githubusercontent.com/18601851/

[2018-03-02 20:54] crwinchester opened #8610 "Create Sheet By Name Number Title Block And View not Functioning."
## Dynamo version

1.3.1

## Operating system

W10

## What did you do?

Input Lists to Sheet.ByNameNumberTitleblcolAndView. All list lengths are the same but the node continually throws a warning and fails to function correctly. Additionally, I tried single item list inputs.

## What did you expect to see?

This node should have created all the sheets as input. Data are aligned and appear to be c

[2018-03-03 03:47] mjkkirschner commented on #8610
it appears you are passing family instances, but you need to pass family types.

[2018-03-03 03:48] mjkkirschner commented on #8610
please reopen if are still encountering this issue after using family types.

[2018-03-03 03:48] #8610 closed

[2018-03-03 03:51] mjkkirschner commented on #8496
@aparajit-pratap should this be fixed in latest builds?

[2018-03-03 06:44] vykrum commented on #8600
I've always handled this by including the perimeter curve within the list of loops. Still seems to work.
![trim](https://user-images.githubusercontent.com/5621624/36931482-5a6ffe8e-1edc-11e8-826a-ae2b12a9f9ca.png)

[2018-03-03 06:52] dimven commented on #8600
Good to know it's not broken, but that a very counter-intiutive workaround :)

[2018-03-04 03:39] vykrum commented on #8600
True, ideally, including the perimeter curves should produce the results we now obtain (without the perimeter curves) and vice versa.

Wasn't aware of the flip/reverse work around though :-)

[2018-03-05 01:45] mjkkirschner commented on #8606
Hi @ThomasMahon, if you publish an update locally do you see the same behavior?

[2018-03-05 15:46] alfarok commented on #8466
@ksobon @andydandy74 @radumg I created a new Wiki page for [Library 2.0 Add-ons Organization](https://github.com/DynamoDS/Dynamo/wiki/Library-2.0-Add-ons-Organization).  Please feel free to let me know if additions or modifications are required.

[2018-03-06 15:11] ThomasMahon commented on #8606
Hi @mjkkirschner yep, I get the same behavior publishing locally. Could it be caused by the dll's in my extra's folder being compiled with other versions of the Revit API and Package Manager thinking they are the primary package dll's and automatically moves the to the bin folder?

[2018-03-06 16:16] mjkkirschner commented on #8606
@ThomasMahon can you post a zip of your package including the json header file?

[2018-03-06 17:11] ThomasMahon commented on #8606
@mjkkirschner sure, as attached:

[BimorphNodes.zip](https://github.com/DynamoDS/Dynamo/files/1785935/BimorphNodes.zip)

[2018-03-07 03:09] mjkkirschner commented on #8606
@ThomasMahon so one thing to consider regarding the `node_libraries property`.

This array contains the fullName of the assembly including specific version - if you have updated your package to include a new version of this assembly (via incrementing the assembly version in visual studio) then the package is likely finding that the previously noted assembly is no longer present.

if you manually m

[2018-03-07 03:12] mjkkirschner commented on #8580
@QilongTang is this assigned to someone in this sprint?

[2018-03-07 14:20] ramramps commented on #8580
@jnealb @mjkkirschner Here is the task : https://jira.autodesk.com/browse/QNTM-3485
This is in F sprint. Yet to groom this one. So, no idea whether this is required for the release cut.

[2018-03-07 14:32] mjkkirschner commented on #8580
@kronz wanted this fixed and it only makes sense to fix for the release, so yes lets do it. @kronz please confirm.

[2018-03-07 16:35] kronz commented on #8580
@mjkkirschner @ramramps yes, please fix for the release.

[2018-03-08 01:57] QilongTang commented on #8580
@mjkkirschner On this, can you give an example of the package?

[2018-03-08 01:58] mjkkirschner commented on #8580
I would try loading archilab, or to replicate what was found at the workshop, make a node which inherits from VariableInputNodeModel.

[2018-03-08 14:09] ThomasMahon opened #8627 "Dynamo 2.0 Library Panel missing"
## Dynamo version

2.0.0.4297

## Operating system

Win 10

## What did you do?

Opened Dynamo 2.0

## What did you expect to see?

Operational application

## What did you see instead?

Library is missing with conflicts reported in the console. This issue is not fixed by re-installing and has also happened on another of my laptops. The solution so far has been to completely uninstall all Dynamo v

[2018-03-08 14:33] mjkkirschner commented on #8627
This appears to be revit 2018.2 - you can fix by removing pnid modeler for now from revit install location / addins

Sent from my iPhone

[2018-03-08 15:01] ThomasMahon commented on #8627
Thanks @mjkkirschner that appears to have fixed it

[2018-03-08 16:24] avargo opened #8628 "Object reference not set to an instance of an object"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version
1.3.2

## Operating system
Windows 10

## What did you do

[2018-03-08 16:37] DmitryMD opened #8629 "Dynamo crashes every time when I am trying to expand Operators category in the Library"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

Dynamo for Revit 1.3.2
Revit 2017.2.3

## Operating syst

[2018-03-08 16:40] #8629 closed

[2018-03-08 18:01] jnealb commented on #8629
@DmitryMD Is this still happening for you?

[2018-03-08 19:09] jnealb commented on #8628
@avargo Is it possible for you to share your graph with us?

[2018-03-08 19:12] #8627 closed

[2018-03-08 19:51] andydandy74 opened #8632 "Can't hide library any more"
## Dynamo version

2.0.0.4297 (Sandbox)

## Operating system

Windows 10

## What did you do?

Wanted to hide the library

## What did you expect to see?

A button or similar device

## What did you see instead?

Nothing

Dynamo 1.3.x:
![grafik](https://user-images.githubusercontent.com/3014437/37172786-15603d06-2312-11e8-9a0e-3acfda548fe8.png)
Dynamo 2:
![grafik](https://user-images.githubusercon

[2018-03-08 20:12] andydandy74 opened #8634 "2.0 CBN migration issue - unwanted input created"
## Dynamo version

2.0.0.4297

## Operating system

Windows 10

## What did you do?

Review a 1.3 code block in 2.0

## What did you expect to see?

The code block having the same number of inputs as in 1.3

## What did you see instead?

![grafik](https://user-images.githubusercontent.com/3014437/37173627-67cf14b6-2314-11e8-8381-878672f891fd.png)

[2018-03-08 20:15] ramramps commented on #8634
@aparajit-pratap any thoughts?

[2018-03-08 20:17] avargo commented on #8628
I think I've isolated the error to the excel file that feeds in. I believe it is a list size issue.
![base code](https://user-images.githubusercontent.com/37187461/37174157-a80c5946-230d-11e8-9892-ec4446da7b3f.PNG)

[2018-03-08 20:20] avargo commented on #8628
The code mostly lives inside that custom node.
Inside the node: which is followed by a couple fairly simple "set parameter" functions.

![part 1](https://user-images.githubusercontent.com/37187461/37174281-f4a6bc2e-230d-11e8-82c6-c3ff1f8c44fd.PNG)
![part 2](https://user-images.githubusercontent.com/37187461/37174282-f4bdf92a-230d-11e8-9fe6-33fd00b0d513.PNG)

[2018-03-08 20:22] jnealb commented on #8634
@ramramps Also: ping @ColinDayOrg. @mjkkirschner

[2018-03-08 20:31] alfarok commented on #8632
Hey @andydandy74, the collapse arrow from 1.3 doesn't exist on the [new library](https://github.com/DynamoDS/librarie.js).  In 2.0 you can drag the library to collapse which will populate a button to expand it back out (or you can also drag it back).

![library_tab](https://user-images.githubusercontent.com/13341935/37174765-89cb8f74-22e5-11e8-97d6-c04b17f3b8d7.gif)

You can check out the related

[2018-03-08 20:40] QilongTang commented on #8580
https://github.com/DynamoDS/Dynamo/pull/8631

[2018-03-08 21:03] andydandy74 commented on #8632
Oh well. I think the first version of the PR was better:
![grafik](https://user-images.githubusercontent.com/3014437/37176112-a7b02794-231b-11e8-8228-dba38def43e8.png)
Clicking to collapse seems simpler and faster than dragging.
On the bright side, Dynamo now remembers I collapsed the library so I only need to do it once and never worry about it again. :-)

[2018-03-08 21:03] #8632 closed

[2018-03-08 21:25] andydandy74 commented on #8466
@alfarok Perhaps the documentation for custom nodes should show more clearly which combination of node categorization and naming has which effect:
![grafik](https://user-images.githubusercontent.com/3014437/37177185-029f83ae-231f-11e8-9719-cfb60ad701f6.png)

[2018-03-08 21:45] jnealb commented on #8634
Thanks @andydandy74 - this is tracked with QNTM-3646.

[2018-03-08 21:45] andydandy74 opened #8635 "Automatic renaming of custom nodes when editing multiple unsaved custom nodes"
## Dynamo version

2.0.0.4297

## Operating system

Windows 10

## What did you do?

Created several custom nodes at once, then proceeded to save them

## What did you expect to see?

Custom node workspaces with the names I had orginally entered

## What did you see instead?

Custom node workspaces changing their names once Dynamo creates a backup file

## Steps to reproduce
Create two code blocks

[2018-03-08 21:46] QilongTang commented on #8635
Addressed by https://github.com/DynamoDS/Dynamo/pull/8623 from @mjkkirschner

[2018-03-08 21:48] QilongTang commented on #8635
@jnealb @smangarole Would you close this when the internal Jira task also closed?

[2018-03-08 21:50] andydandy74 commented on #8635
@QilongTang  - What about item 2:
![grafik](https://user-images.githubusercontent.com/3014437/37178464-e2db524c-2322-11e8-845d-72e49eeff7a6.png)

[2018-03-08 21:54] mjkkirschner commented on #8635
Number two is happening because of the rename to `.dyf` the . is used to create a new sub category.

[2018-03-08 21:54] mjkkirschner commented on #8635
please try the latest daily... probably tomorrow to see if this is fixed.

[2018-03-08 21:54] alfarok commented on #8466
Hey @andydandy74, thanks for taking a look back at this.  I agree it can be confusing because the same results can now be achieved by various combinations of the `Category` and `Name`.  I would keep all the desired hierarchy logic in the `Category` and just the node name in the `Name` property (as shown in the second example above).  If the desire is to display more of the hierarchy on the node it

[2018-03-08 21:55] mjkkirschner commented on #8635
also @andydandy74 we really appreciate these issue posts. Thanks for checking out the latest builds.

[2018-03-08 22:00] andydandy74 commented on #8635
@mjkkirschner - I can reproduce number two independently of this issue.
![grafik](https://user-images.githubusercontent.com/3014437/37178977-696a1a7c-2324-11e8-9a54-360cfc929b75.png)

Obviously, it would be bad package design. But I think there should be a safeguard against it. Sample attached below. Try placing node ABC from the library... ;-)

[U.zip](https://github.com/DynamoDS/Dynamo/files/179

[2018-03-08 22:15] andydandy74 commented on #8466
Sure, use it if you like. I think for migrating existing packages that already use dot notation in the node names (e.g. Clockwork) recategorization is the less painful approach. Otherwise it would be file renaming *and* changing the node name in the dyf.

[2018-03-08 22:15] mjkkirschner commented on #8635
@andydandy74 but this issue (2) is not different from the other issue you are discussing with @alfarok is it?

[2018-03-08 22:41] andydandy74 commented on #8635
It is, in that it creates a situation that was previously not possible: a category (ABC in this example) and a node occupying the same space in the library browser. Don't you think in this example there should be a placeable node (ABC) and a category (ABC) that contains the second node (ABC.DEF)?
Here's how the same thing would look in 1.3:
![grafik](https://user-images.githubusercontent.com/30144

[2018-03-09 00:04] mjkkirschner commented on #8635
ah okay so you are saying that you have a category which is also a custom node - can you actually add this custom node?

@alfarok @ramramps ....

[2018-03-09 01:06] alfarok commented on #8635
You should be able to add a custom node that has the same name as a category.  Or are they created simultaneously?  Not sure if I fully understand the issue

![cn](https://user-images.githubusercontent.com/13341935/37184888-949ef690-230b-11e8-9264-f632bde07810.gif)

[2018-03-09 05:56] andydandy74 commented on #8635
Please just open the ZIP file attached above (https://github.com/DynamoDS/Dynamo/files/1794962/U.zip) and put those two nodes in your library.
You will see that one of them behaves like a category which I thnk it shouldn't.

[2018-03-09 10:35] DmitryMD commented on #8629
Yes, it is still happening? Any ideas?

[2018-03-09 10:49] lxmfly123 commented on #6570
I still have this issue in my windows 7.

[2018-03-09 11:17] MarkThorley opened #8637 "Surface.PerimeterCurves Not Returning the Perimeter Curves"
## Dynamo version
Dynamo Core 1.3.2.2480 | Dynamo Studio 1.3.0.881

## Operating system
Windows 10

## What did you do?
Using Dynamo Studio, I am building a simple surface by lofting to parallel curves. I then want to extract the perimeter curves of the new surface.

## What did you expect to see?
I set of perimeter curves following the shape of the surface created.

## What did you see instead?
O

[2018-03-09 13:07] QilongTang commented on #6570
@smangarole What's the environment and Dynamo version you were using? 1.X?

[2018-03-09 13:08] lxmfly123 opened #8638 "Middle mouse scrolling on node preview box freeze, and finally crash Dynamo."
## Dynamo version

1.3.2

## Operating system

Windows 7 x64

## What did you do?

1. Make a node to output all parameters of an element.
2. Click the preview button.
3. Scroll the middle wheel of mouse while the pointer is in the preview box.

## What did you expect to see?

The list scrolls or nothing.

## What did you see instead?

Dynamo freezes, even revit does.

[2018-03-09 13:50] ramramps commented on #8638
@lxmfly123 Can you attach the graph here? Is it happening on all the previews of a node?

[2018-03-09 13:53] #8580 closed

[2018-03-09 14:33] alfarok commented on #8635
Thanks @andydandy74, digging into it now

[2018-03-09 16:02] andydandy74 opened #8639 "Missing library localization"
## Dynamo version

2.0.0.4297

## Operating system

Windows 7

## What did you do?

Had a look at the library in a non-English version

## What did you expect to see?

Localized labels

## What did you see instead?

English language labels

![grafik](https://user-images.githubusercontent.com/3014437/37216649-9a966e74-23bb-11e8-9fb2-f72fad464d7a.png)

[2018-03-09 16:13] ThomasMahon commented on #8606
Hi @mjkkirschner you are spot-on, that was the cause of the wiping of the parameter. If I right-click I can specify the up-versioned package dll and it publishes correctly.

The issue of mixing the dll's from the extra folder still persists however.

[2018-03-09 18:37] alfarok commented on #8464
https://github.com/DynamoDS/librarie.js/pull/115

[2018-03-09 18:37] #8464 closed

[2018-03-09 19:08] alfarok commented on #8635
Tracking the custome node Category/Name collision with [QNTM-3653](https://jira.autodesk.com/browse/QNTM-3653)

[2018-03-09 19:21] jnealb commented on #8635
@andydandy74  The Custom Node renaming issues are fixed in the daily builds.

[2018-03-09 19:21] #8635 closed

[2018-03-09 20:08] alfarok commented on #8635
@jnealb The 2nd issue discussed here filed under QNTM-3653 is not yet resolved.  Do you still want to close this issue?

[2018-03-09 20:13] jnealb commented on #8635
@alfarok Done per @kronz directive (yes this is counter to what I told you earlier).

[2018-03-09 20:28] Dorkside opened #8641 "BooleanDifference returning null"
## Dynamo version
1.3.2

## Operating system
Win 10

## What did you do?
Created a node for exporting excavated rooms.

## What did you expect to see?
Meshes that had parts removed from BooleanDifference of another mesh

## What did you see instead?
BooleanDifference outputs null

I also tried replacing just the BooleanDifference node with a BooleanUnion and it runs smoothly, returning the expecte

[2018-03-10 01:35] lxmfly123 commented on #8638
Yes. After I scrolled the wheel, both dynamo and revit froze.

![screen shot 2018-03-10 at 9 33 31 am](https://user-images.githubusercontent.com/2769678/37236779-2f53a51a-2446-11e8-9710-178ffd9acc98.png)

[2018-03-12 14:26] moethu opened #8646 "Change Package Owner (?)"
Hi, I accidentally uploaded packages with my personal account to the package manager and now I want to change their ownership to another account. How can I do this? Didn't find anything about this.

[2018-03-13 14:31] mjkkirschner commented on #6570
unfortunately this appears to be a bug in microsoft wpf framework code and appears fixed in .net 4.5.2 - we have not upgraded to target this framework version yet, though if you update your .net framework installed version you may find that the bug is fixed at runtime. I am not sure though.

[2018-03-13 14:33] mjkkirschner commented on #8638
replied in #6570.

[2018-03-13 14:33] mjkkirschner commented on #8608
is this still a problem? Please reopen if it is with more information.

[2018-03-13 14:33] #8608 closed

[2018-03-13 14:47] lxmfly123 commented on #8638
Thx, it works. @mjkkirschner

[2018-03-13 14:48] #8638 closed

[2018-03-14 21:26] awrhmd opened #8656 "The managed object is not valid."
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version
Dynamo core 2.0.0.4340
Dynamo Revit 2.0.0.4351

revit : 1

[2018-03-14 22:15] ramramps commented on #8656
@awrhmd Can you share the graph details? Are these nodes ` coordinates.Base point` and `coordinates.Suvrey point` causing this issue, every time? any screenshot will be helpful.

[2018-03-15 15:23] mjkkirschner commented on #8637
@aparajit-pratap @pboyer thoughts?

[2018-03-15 21:34] Racel commented on #8604
@ThomasMahon We currently do not intend to provide an automated migration for this for the Dynamo 2.0 release as we are low on bandwidth. We suggest that you update your package to be compatible with Dynamo 2.0 and instruct your users to download the new package.

We may revisit this in a later release. Closing for now.

[2018-03-15 21:34] #8604 closed

[2018-03-15 23:14] awrhmd commented on #8656
yes i am just put two nodes Coordinates.Base point and coordinates.suvrey point

[2018-03-18 16:24] ThomasMahon opened #8665 "Dynamo 2.0: The dictionary conundrum with ZT multi-port outputs"
## Dynamo version

(Which version of Dynamo are you using? Go to Help > About if you're not sure.)
![image](https://user-images.githubusercontent.com/18601851/37567914-ced0e1c2-2ac5-11e8-82ea-1f67718a2b19.png)

## Operating system

Win10

## What did you do?

Observed the following issues with the new dictionary implementation in V2.0 in relation to ZT multi-port outputs.

**Issue 1:**
The objects

[2018-03-19 13:00] Password2501 opened #8668 "Index out of range for an Enum/Dropdown node (Schedule Filter Type)"
## Dynamo version

1.3.2

## Operating system

Windows 10 Revit 2018.2

## What did you do?
Here the Topic in dthe forums:
[LINK](https://forum.dynamobim.com/t/index-out-of-range-for-an-enum-dropdown-node-schedule-filter-type/19426)

The node Schedule filter Type just stopped working the Node object just did not respond.
But when I took the exact same Node again into the Code this one worked.
All

[2018-03-19 13:58] jnealb commented on #8496
@mjkkirschner @aparajit-pratap @Amoursol This is fixed in the latest daily builds.

[2018-03-19 13:58] #8496 closed

[2018-03-19 18:13] ThomasMahon commented on #8604
@Racel booo! I might just use null instead and handle that within in my code. Its too much effort to manage different versions, especially given that custom packages are not monitized to cover development and maintenance costs...so I have to stick to one platform.

[2018-03-19 20:22] jnealb commented on #8646
@Racel @kronz Ping.

[2018-03-19 20:24] jnealb commented on #8639
@andydandy74 Thanks - this is tracked with QNTM-3675.

[2018-03-19 20:24] #8639 closed

[2018-03-19 20:25] jnealb commented on #8634
@andydandy74 The fix can be found in the latest daily builds.

[2018-03-19 20:25] #8634 closed

[2018-03-19 20:27] jnealb commented on #8581
@mojtabajeem Is this still happening for you?

[2018-03-19 20:28] jnealb commented on #8576
@ankitdarda Is this still happening for you?

[2018-03-19 20:42] jnealb commented on #8566
@AndersDeleuran Thanks - this is tracked with QNTM-3744.

[2018-03-19 20:42] #8566 closed

[2018-03-19 20:43] jnealb commented on #8563
@debrajka Is this still happening for you?

[2018-03-19 20:48] jnealb commented on #8548
@ThomasBSmits Is this still happening for you?

[2018-03-19 20:56] jnealb commented on #7741
@torkuen This is fixed in the latest daily builds.

[2018-03-19 20:59] kronz commented on #8337
Pretty sure this would require all such operations to do a boolean "doesIntersect" on the curves, no?  That would be hella slow.

[2018-03-19 21:06] ankitdarda commented on #8576
Yes, The Rhythm nodes started to populating inside my Dynamo for Revit
2016. But I am still not able to work around on Batch Printing Method for
which I needed the background file open to work. Dont know what makes it
not work..

On Mon, Mar 19, 2018 at 3:28 PM, Neal Burnham <notifications@github.com>
wrote:

--

thanks & regards,

*Ankit Darda *

*Architectural Designer, PGAV Destinations*

+1 91

[2018-03-20 01:16] Vlok2018 opened #8672 "[Feature Request] VariableOutputNode"
Hi All,

I need to write Dynamo nodes with variable outputs but I think this is not possible currently and only a VariableInputNode exists, correct?

Can you please add a VariableOutputNode to get rid of this limitation?

Thank you very much!

[2018-03-20 15:09] #8646 closed

[2018-03-20 17:18] aparajit-pratap commented on #8298
@moethu we have recently fixed a regression related to class inheritance and polymorphism in DesignScript in Dynamo 2.0. It would be great if you could use the latest daily build and see if you can reproduce this issue and let us know. Thank you.

[2018-03-23 02:44] saintentropy commented on #8672
Hey @Vlok2018.  Thanks for your request.  We can create nodes in Dynamo that have multiple outputs although you are correct that there are not too many of them in the library.  Try searching for 'deconstruct' and you will find some examples.  If you are writing a zero touch you can use the mechanism displayed in this [example](https://github.com/DynamoDS/DynamoSamples/blob/master/src/SampleLibrary

[2018-03-23 14:02] Bramdj opened #8680 "Creating sheets by name number titleblock and view doesnt work properly"
## Dynamo version
1.3.2

When i create a sheet with dynamo it works perfectly. When i use the same dynamo script to create another sheet it removes the other sheet. See the pictures below.
![image](https://user-images.githubusercontent.com/26225756/37833275-2ef687a8-2eab-11e8-8f35-3590390c3165.png)
![image](https://user-images.githubusercontent.com/26225756/37833277-30cd5aac-2eab-11e8-93c6-b58a61a

[2018-03-23 14:18] andydandy74 commented on #8680
This seems like expected behaviour. Have a look at the topic of element binding:
https://forum.dynamobim.com/search?q=element%20binding

[2018-03-23 15:56] steenblikrs commented on #8561
Please fix this Autodesk!!

[2018-03-23 16:00] mjkkirschner commented on #8561
hi @steenblikrs
regarding 1. we have some instructions here that might be useful for getting up and running - https://github.com/DynamoDS/Dynamo/wiki/Dynamo-FAQ#ironpython

In the longer term, we have added a task around these issues into our backlog for future versions of dynamo.

[2018-03-23 18:46] aparajit-pratap commented on #8665
@ThomasMahon thanks for your observations. In Issue 1 are you indicating that  you are unable to expand the node preview because if you cannot it is a bug. In the case of multi-output nodes we do arrange the keys in the Dictionary to follow the same order as that of the output ports (in the event that you are able to expand the preview, i.e.). We cannot however guarantee that ordering for code blo

[2018-03-24 18:05] andydandy74 opened #8690 "Data types in custom node inputs are not resolved correctly after migrating to JSON"
## Dynamo version

2.0.0.4467

## Operating system

Windows 7

## What did you do?

Upgrade a custom node to JSON-based format

## What did you expect to see?

Data types in inputs to resolve correctly

## What did you see instead?

Data types in inputs not resolving correctly

Dynamo 1.3:
![grafik](https://user-images.githubusercontent.com/3014437/37867241-91955a52-2f95-11e8-90fe-43f94c060681.png

[2018-03-24 18:28] mjkkirschner commented on #8690
@aparajit-pratap @QilongTang thoughts?
@QilongTang I think we worked together on input type migration?

[2018-03-24 18:29] mjkkirschner commented on #8690
@andydandy74 so in your original custom node you had written System.DateTime as the type but the migration lost information? - is that correct?

[2018-03-24 18:31] mjkkirschner commented on #8690
@gregmarr thanks for checking the file, seems like a change to the `typedParameter` or `inputNode` might cause this.

[2018-03-24 18:33] andydandy74 commented on #8690
@mjkkirschner Correct. I included the original version in the attached zip file.
What I found weird is that on opening the 1.3 node in 2.0 (and after saving it) the input type is correct. Only when I open it again in a new Dynamo session it looks as shown in the screenshot.

[2018-03-24 18:34] gregmarr commented on #8690
@andydandy74 Can you save another copy when it shows the incorrect type?

[2018-03-24 18:44] andydandy74 commented on #8690
@gregmarr Sure. Attached here:
[DateTime.IsEarlier_Resaved.dyf.zip](https://github.com/DynamoDS/Dynamo/files/1844684/DateTime.IsEarlier_Resaved.dyf.zip)
Have a look at what's happening here:
![grafik](https://user-images.githubusercontent.com/3014437/37867593-65023748-2f9b-11e8-962a-0e2b44d067d1.png)
Also, the category gets wiped:
![grafik](https://user-images.githubusercontent.com/3014437/3786759

[2018-03-24 18:53] gregmarr commented on #8690
So the error on the InputNode happens when reading from JSON.

They shouldn't be getting new IDs when read from JSON if they're already UUIDs.  They should definitely be keeping the ones they have already.

[2018-03-24 19:18] mjkkirschner commented on #8690
@andydandy74 would you mind trying this on the latest master?

[2018-03-24 19:19] mjkkirschner commented on #8690
@QilongTang @Racel it definitely appears this is a bug with deserialization of input nodes inside custom nodes.

[2018-03-24 19:27] mjkkirschner commented on #8690
@QilongTang my guess is this PR:
https://github.com/DynamoDS/Dynamo/pull/8135/files

[2018-03-24 19:36] mjkkirschner commented on #8690
filed as QNTM-3786

[2018-03-24 19:51] andydandy74 commented on #6067
Not relevant anymore, since variables are now immutable in 2.0

[2018-03-24 19:51] #6067 closed

[2018-03-24 19:59] andydandy74 commented on #5095
Works as expected in 2.0

[2018-03-24 19:59] #5095 closed

[2018-03-24 20:06] andydandy74 commented on #8690
@mjkkirschner I have never built Dynamo from source. I wouldn't even know where to start.

[2018-03-25 14:55] mjkkirschner commented on #8690
@QilongTang @jnealb  I think this is caused by:
https://github.com/DynamoDS/Dynamo/blob/master/src/DynamoCore/Library/TypedParameter.cs#L143

[2018-03-25 17:30] Mcdennis1984 opened #8691 "python script"
The file contain python script node

## Dynamo

 version  1.3.2

## Operating system

Windows 8.1,

## What did you do?

Open a .dyn file

## What did you expect to see?

file to load

## What did you see instead?
a crash

Value does not fall within the expected range.

   at Dynamo.Wpf.Interfaces.IShellItem.GetDisplayName(SIGDN sigdnName, String& ppszName)
   at Dynamo.UI.DynamoOpenFileDialog.Sho

[2018-03-25 22:06] ThomasMahon commented on #8665
@aparajit-pratap yes, it wont expand. I thought that was as-designed, but clearly not, so that must be a bug then.

On point two, i saw in daily build version 2.0.0.3766 that unfortunately the dictionary keys do not match the output ports:

![image](https://user-images.githubusercontent.com/18601851/37880482-03890690-3081-11e8-91ec-1a1088367f93.png)

[2018-03-26 16:11] QilongTang commented on #8690
PR from @ramramps will address this https://github.com/DynamoDS/Dynamo/pull/8692

[2018-03-27 01:01] Vlok2018 commented on #8672
Unfortunately not as I am working with custom nodes and not zero touch nodes. So i would need something similar to the VariableInputNode just for Outputs.

[2018-03-27 15:38] jnealb commented on #8665
@ThomasMahon @aparajit-pratap Thank you for your reports - firstly we note that you are using an older version of 2.0 which does not include some of the latest language changes re: list syntax changes from {} to []. So can you please upgrade to the latest daily build. Note that you will have to update your node inputs using default arguments from {} to []. Please see https://github.com/DynamoDS/Dy

[2018-03-30 20:05] jnealb commented on #8690
@andydandy74 @QilongTang Actually the issue is deeper and tracked with QNTM-3872.

[2018-04-01 08:12] moethu commented on #8298
Thanks, I will test this. so far I used a workaround returning only type object for all my nodes as output and input and then casting it - but this adds a lot of redundant code.

[2018-04-01 09:12] vykrum opened #8710 "Index Group description"
## Dynamo version
2.0.0.4536

## Operating system
Windows 10

## What did you do?
Index Group Node description
_Meshes > Index Group > By Indices (a,b,c)_

## What did you expect to see?
_three_, not _four_

## What did you see instead?
![indexgroupdescription](https://user-images.githubusercontent.com/5621624/38171621-922b45aa-35ba-11e8-8cb9-835252562dac.png)

[2018-04-02 11:47] aishu1212 commented on #6390
Hello i have Dynamo 0.9.1.4062 1.3.2.0 version with me but am unable to doanload the packages / my search package is not responding suggest me

![dynamo error](https://user-images.githubusercontent.com/38004305/38195156-a580e5f8-3699-11e8-9723-03fe5e45c130.JPG)

[2018-04-02 12:30] Voulz opened #8712 "Disconnecting Ports in Custom Node"
Hi!

I am creating my own Custom Node with Custom UI in C# and I need to have a variable number of inputs and outputs. I am able to make that part works but I am unable to remove the connectors when I remove one port in my node; the connectors all move to the first port (that I keep).

I checked the source code and I saw that the class [VariableInputNode](https://github.com/DynamoDS/Dynamo/blob/ma

[2018-04-02 13:26] ramramps commented on #8712
can you send the file? did you check this method `RemoveInputFromModel` ?

[2018-04-02 14:30] mjkkirschner commented on #8690
@andydandy74 - this won't be in the daily builds until it gets merged to RC2.0, but should be soon.

[2018-04-02 14:32] mjkkirschner commented on #8712
seems like a good approach might be to create a new nodeModel type that inherits from `variableInputNode` - `variableInputOutputNodeModel`.

methods are internal when we do consider them external - usually they are just to facilitate some implementation of an API method.

[2018-04-02 14:42] mojtabajeem commented on #8581
@jnealb @kronz   On my laptop, it doesn't fixed yet ... but on my PC it does install and work correctly ... several month ago, I install it on my laptop and it going correctly showing the geometry but One Day(!) it didn't show the geometry on my laptop until now ... I uninstall & install the product and remove that dynamo folder package Twice ... but the answer is No on my laptop.

[2018-04-02 14:51] jnealb commented on #8581
@mojtabajeem You may find some useful debugging help for this issue here: : https://github.com/DynamoDS/Dynamo/wiki/Dynamo-FAQ

[2018-04-03 01:43] QilongTang commented on #8710
@aparajit-pratap Correct me if I am wrong, but looks like it needs to be fixed in LibG branch?

[2018-04-03 10:06] Vlok2018 commented on #8712
What about variableOutputNode?
A couple people have asked for this already but I don't think there is one currently while it is a very important feature to create efficient nodes.

[2018-04-03 11:23] Voulz commented on #8712
After double checking the code, I guess I could make a variable input works by using the `VariableInputNodeController`. I don't really like that class because it looks like it was made exclusively for Nodes that have a variable number of typical/similar inputs which is quite limiting.
The biggest problem for my case, as @Vlok2018 said, is that there is no `VariableOutputNode` or `VariableOutputNod

[2018-04-04 02:14] ningbin900911 opened #8720 "Dynamo crash when setting a file path."
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

(Which version of Dynamo are you using? Go to Help > Abo

[2018-04-05 14:11] ThomasMahon commented on #8665
@jnealb I still have the same problem with the unexapnded watch window with todays daily:

![image](https://user-images.githubusercontent.com/18601851/38370855-0b360950-38e3-11e8-8cc8-451fb783602e.png)

![image](https://user-images.githubusercontent.com/18601851/38370871-15a123fc-38e3-11e8-87d0-55becec09326.png)

I've simply created a fresh 2018.2 Arch model from the default Arch template, linked

[2018-04-05 15:45] vnozdrenkova opened #8724 "Exception after creating a node from ProtoGeometry.dll without Revit installed"
## Dynamo version
I am using Dynamo Studio 2017

## Operating system
Windows 10

## What did you do?
I have created a windows form application from where I run Dynamo studio (I use Dynamo Core)
Try creating Point.ByCoordinates. Exception. When I install Revit - everything is OK.
As far as I know the Dynamo Studio is a complete stand alone application. Why the Revit is needed.

## What did you expe

[2018-04-06 06:01] sy-tay commented on #8381
Hi There,

I am also facing the same issue. *Attached dynamo clash report including dxdiag output.

Just to provide more background information for my case.
Dynamo was installed on my Revit 2016 as an add-in before the installation of Revit 2018.
[Dynamo crash report.pdf](https://github.com/DynamoDS/Dynamo/files/1882866/Dynamo.crash.report.pdf)

Dynamo started to have this issue after Revit 2018 i

[2018-04-06 11:13] aparajit-pratap commented on #8665
@jnealb could you verify and log this bug.

[2018-04-06 16:59] mjkkirschner commented on #8665
@ThomasMahon is CAD.CurvesFromCADLayers a nodeModel based node where you implemented BuildOutputAST?

[2018-04-06 18:53] sunda022 opened #8733 "Dynamo crash"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

(Which version of Dynamo are you using? Go to Help > Abo

[2018-04-06 19:31] jnealb commented on #8665
@ThomasMahon @aparajit-pratap @mjkkirschner This is tracked with QNTM-3947.

[2018-04-06 19:34] ThomasMahon commented on #8665
@mjkkirschner its a simple ZT node

[2018-04-07 15:26] dvlrnr opened #8736 "Label.ByPointAndString unable to accept a concatenated String"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

Dynamo Core 1.3.0.875, Dynamo Studio 1.3.0.946

## Opera

[2018-04-07 15:28] mjkkirschner commented on #8736
I don't think this node should appear at all.
Have you ever gotten it to work? - it's an internal method that was somehow leaking out in 1.3 or that is my intuition anyway.

[2018-04-07 15:58] dvlrnr commented on #8736
Thank you Michael for the prompt response. This was my first attempt at using Label.ByPointAndString.

I then found the Dynamo Text package and its Test.FromStringOriginAndScale with which I was able to achieve what I wanted to do which is to add a legend showing the values of a select few parameters.

[2018-04-10 14:54] ThomasMahon opened #8741 "Removing all ZT Node inputs using +/- input buttons and adding them back doesn't restore the declared input names"
## Dynamo version

1.3.2

## Operating system

Win 10

## What did you do?

Removed all inputs from the String.Join node using the +/- UI node buttons. Added them back to the node using the + button

## What did you expect to see?

![image](https://user-images.githubusercontent.com/18601851/38564433-0b8a040e-3cd7-11e8-9f52-ba17aa1741d9.png)

## What did you see instead?
![image](https://user-image

[2018-04-10 14:57] ThomasMahon opened #8742 "Removing all ZT node inputs using +/- UI buttons causes graph to become unresponsive"
## Dynamo version

1.3.2

## Operating system

Win 10

## What did you do?

Removed all inputs from a ZT node which implements the IU +/- buttons using the param input modifier. In my test-case I used the OOTB String.Join node and my own custom node

## What did you see instead?

The graph becomes unresponsive until at least one input is added back to the node

cc @mjkkirschner

[2018-04-10 21:46] jnealb commented on #8741
@ThomasMahon Thanks for the report: this is tracked with QNTM-3968.

[2018-04-11 12:35] MarcinTata opened #8747 "Code Block display error after opening a file."
**## Dynamo version**

Dynamo Core 1.3.0.875  Dynamo Studio 1.3.0.946

**## Operating system**

Windows 10

**## What did you do?**

I opened a file.

**## What did you expect to see?**

Code written in code block

**## What did you see instead?**

Just a few letters. Could not expand a code block to see all content.

![dynamo cb error dispaly](https://user-images.githubusercontent.com/38285902/38

[2018-04-11 14:02] ksobon opened #8748 "custom icon for custom package"
Is there a way to assign a custom icon to a package in new Dynamo 2.0 ?

![image](https://user-images.githubusercontent.com/529781/38621726-74b9665c-3d6f-11e8-85ea-270d734739ab.png)

[2018-04-11 14:51] aparajit-pratap commented on #8665
@ThomasMahon the bug with the Dictionary preview not expanding has been fixed. There will still remain an inconsistency between code block node previews and multi-return UI node previews for Dictionaries as discussed. Closing issue.

[2018-04-11 14:51] #8665 closed

[2018-04-11 15:41] QilongTang commented on #4632
@egdivad It has not happened yet. FYI: @Racel

[2018-04-13 13:31] kronz commented on #8690
This has been merged into 2.0

[2018-04-13 13:31] #8690 closed

[2018-04-13 15:01] smangarole commented on #8733
@sunda022 We need more information about the crash. Closing this one for now.

[2018-04-13 15:01] #8733 closed

[2018-04-13 18:51] fnstegeman opened #8751 "delete key doesn t work in dynamo (revit 2019 Dynamo 1.3.3.4111)"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version    1.3.3.4111

(Which version of Dynamo are you using? Go

[2018-04-13 19:40] QilongTang commented on #8751
@fnstegeman This is expected and will be fixed in the coming Revit 2019.0.1 in May, please refer to http://dynamobim.org/dynamo-1-3-3-in-revit-2019-0/. Closing

[2018-04-13 19:40] #8751 closed

[2018-04-13 19:44] andydandy74 commented on #7737
If anyone else runs into this issue, here's a graph that will find all custom nodes with disabled lacing in all the graphs within a given directory: https://raw.githubusercontent.com/andydandy74/ClockworkForDynamo/master/maintenance/FindNodesWithDisabledLacing.dyn

[2018-04-13 19:59] andydandy74 commented on #5428
Presets are dead and gone, unfortunately.

[2018-04-13 19:59] #5428 closed

[2018-04-13 20:14] mjkkirschner commented on #8748
yes, it should work the same as before - requiring a customization.dll Did you do anything else special to get your icons showing up in 1.3?

[2018-04-13 21:02] ksobon commented on #8748
Yeah so the customization DLL worked a certain way when you named the resources after class names or if it were a custom components then you would use an ID of that component etc. There was never a method for setting the "package icon". Am I missing something?

[2018-04-14 05:54] andydandy74 commented on #8748
@ksobon I think @mjkkirschner is referring to the default icon for custom nodes:
https://github.com/DynamoDS/Dynamo/wiki/Creating-Icons-for-Custom-Nodes#nb-default-icon
Works for me in Clockwork and you seem to have defined one for Mandrill, too:
![grafik](https://user-images.githubusercontent.com/3014437/38764934-ecea09e2-3fb8-11e8-9511-a4ef3e263d68.png)

[2018-04-14 14:37] ksobon commented on #8748
@andydandy74 i thought that's how you define the default icon for ALL nodes and this works so that all nodes have that one single icon. Also the Mandrill icon above is from one of the nodes in there, question is how did Dynamo decide to use that?

[2018-04-14 14:48] andydandy74 commented on #8748
@ksobon Interesting. Looks like it takes the icon of the first node in the package's library structure.
![grafik](https://user-images.githubusercontent.com/3014437/38769437-7219df4e-4003-11e8-8078-351d51994025.png)
Maybe still worth a try to experiment with the default icon, though.

[2018-04-14 19:07] andydandy74 commented on #3423
Closed here and reopened in DynamoRevit repo

[2018-04-14 19:07] #3423 closed

[2018-04-14 19:41] andydandy74 commented on #439
Closed here and reopened in DynamoRevit repo

[2018-04-14 19:41] #439 closed

[2018-04-17 10:42] SHKnudsen opened #8757 "Search menu not working"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

2.0.0

## Operating system

Windows 7

## What did you d

[2018-04-17 12:21] josols opened #8758 "Creating lists with syntax list[inds]=vals"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

2.0.0 Stable

## Operating system

Win 7

## What did yo

[2018-04-17 12:27] josols opened #8759 "Wish: DS shortcut for creating dictionaries with syntax {keys:vals}"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

2.0.0 stable

## Operating system

Win 7

## What did yo

[2018-04-17 12:38] josols opened #8760 "Multitiered dictionaries convert keys and values to lists"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

2.0.0

## Operating system

Win 7

## What did you do?

[2018-04-17 13:28] Racel commented on #8757
@SHKnudsen- What versions of Revit are you seeing this in?

[2018-04-17 13:41] linkay opened #8761 "Dynamo 2.0.0 cannot use keyboard to Delete, Copy/Paste"
Hi, I just updated Dynamo 2.0.0 for Revit 2019 and found out that it cannot use Keyboard for functions, such as Delete, Ctr+C / Ctr+V.

[2018-04-17 13:48] andydandy74 commented on #8761
See #8751

[2018-04-17 14:00] mjkkirschner commented on #8757
This is an interesting one, the library is semi functional, but it seems events are not flowing between dynamo and the cef component.

[2018-04-17 14:26] QilongTang commented on #8761
Unfortunately, this is a conflict with Revit host. This is expected and will be fixed in the coming Revit 2019.0.1 in May, please refer to http://dynamobim.org/dynamo-1-3-3-in-revit-2019-0/. Closing

[2018-04-17 14:26] #8761 closed

[2018-04-17 15:35] Amoursol opened #8762 "Cannot Uninstall Dynamo Core 2.0.0"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

2.0.0.4654

## Operating system

Windows 10

## What did

[2018-04-17 16:39] jnealb commented on #8762
@Amoursol Thanks - this is tracked with QNTM-4028.

[2018-04-17 16:45] jnealb commented on #8759
@aparajit-pratap Can you please comment? @Racel fyi.

[2018-04-17 17:29] dwenk commented on #8097
![capture 1](https://user-images.githubusercontent.com/38472173/38885829-71ebe3a2-4231-11e8-936e-b52b9ddfbdbf.PNG)
![capture 2](https://user-images.githubusercontent.com/38472173/38885831-7204ed48-4231-11e8-98ae-77da8fddee0f.PNG)

Is there any update on this? I am having the exact same problem and attached a couple of screen captures of exactly what is showing up.

[2018-04-17 20:56] josols commented on #8760
I agree there is not a big problem. Maybe it’s my mental model of how the nodes should work that needs refining.. in my head the value return of the first Dictionary.Components should be equal to the output from the first Dictionary.ByKeysValues. ie a Dictionary and not a multileveled list containing a Dictionary?

[2018-04-18 00:02] mjkkirschner commented on #8760
I don't think this is a bug - the component nodes return lists even if the dictionary only has a single key.

loosely modeled I would guess after the .net std library Keys and Values methods. Going to close for now, if this causes problems in some other workflow please reopen.

[2018-04-18 00:02] #8760 closed

[2018-04-18 00:03] mjkkirschner commented on #8762
@Amoursol have you been given a workaround for this?

[2018-04-18 03:06] QilongTang commented on #8762
@jnealb  I think the workaround can be deleting the component and use Microsoft Fixit for registry, or are you aware of an existing workaround?

[2018-04-18 06:14] fnstegeman opened #8764 "Dynamo 2.0.0 Unable to change costum node name"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version   2.0.0

(Which version of Dynamo are you using? Go to He

[2018-04-18 08:11] fnstegeman commented on #8764
![knipsel](https://user-images.githubusercontent.com/23375671/38919349-a0e98064-42f0-11e8-9cef-2c3d4c226a03.PNG)

[2018-04-18 09:21] architectcodes opened #8767 "Web Request does not re-fetch on a manual run"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

Dynamo Core 2.0.0.4654
Dynamo Revit 2.0.0.4655

## Opera

[2018-04-18 09:27] honenc opened #8768 "Dynamo 2.0 cannot work"
![image](https://user-images.githubusercontent.com/38492817/38923679-c0798f18-432d-11e8-8a63-d62f6dfb9363.png)

If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a

[2018-04-18 11:07] josols opened #8769 "Dynamo 2.0.0 Library Search"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

2.0.0 stable

## Operating system

Win 7

## What did yo

[2018-04-18 11:44] Amoursol commented on #8762
@mjkkirschner No fix yet - but it's just a note to say it's happening to you guys really. I ended up overriding the install with a fresh 2.0 version and all seems to be working at present.

[2018-04-18 11:47] Amoursol commented on #8759
@ksobon , @pboyer gave a detail response to my query of non-string key's located here:

[(https://github.com/DynamoDS/Dynamo/issues/8497#issuecomment-361332513)]

[2018-04-18 11:59] ramramps commented on #8757
@SHKnudsen Can you check the anti-virus installed on the machine where this is working?

[2018-04-18 12:49] ramramps commented on #8757
@mjkkirschner did some research and looks like it's the McAfee.
Is it possible to uninstall and do some testing?

[2018-04-18 13:08] ksobon commented on #8759
So I am guessing the answer is we are not supporting any other Type for dictionary keys because it can confuse people. I might not entirely agree with that, but let it be. @kronz do we close this?

[2018-04-18 13:29] mjkkirschner commented on #8759
@ksobon also I believe the thought process was that complicates the implementation, and lowers its maintainability for a feature we are not sure a large number of users will take advantage of.

[2018-04-18 13:34] josols commented on #8759
For me this was not about using strings as dictionary keys. I'm fine about that. But, for me, and others as well, the shortcut in Dynamo 1.x for dictionaries, ie dict[keys]=vals was powerful and easy to use. Could it not be possible to have variables as keys, but only allow the variable to be a string?

{keys:vals} would be so much easier to use than DesignScript.Builtin.Dictionary.ByKeysValues(ke

[2018-04-18 13:35] ksobon commented on #8759
@mjkkirschner completely understood. That's why I am saying I am game with us just saying `string` is the only type supported.
@josols that's a valid concern. So long as the variable was of `string` type in my opinion you should be able to define a dictionary like you tried. @mjkkirschner do you agree?

[2018-04-18 13:49] mjkkirschner opened #8770 "dynamo 2.0 fails to open graphs"
user report on the forum:
https://forum.dynamobim.com/t/pre-2-0-graphs-not-opening/21139/3

[2018-04-18 13:51] jnealb commented on #8762
@QilongTang @Amoursol @mjkkirschner The Microsoft Fixit cleared up the issue on our QA machine. We are not aware of any other workaround at this time.

[2018-04-18 13:51] #8762 closed

[2018-04-18 14:02] mjkkirschner commented on #8764
The name of the custom node in the properties window refers to the name of the function. The name on the node is just a display name for that node instance. If you want to change the actual function name I think you'll need to make a new custom node.

@Racel @ramramps

[2018-04-18 14:02] mjkkirschner commented on #8764
seems like something we should be able to change in edit custom node properties, but we cannot :(.

[2018-04-18 14:08] #8736 closed

[2018-04-18 14:08] #8724 closed

[2018-04-18 14:57] Racel commented on #8768
@honenc - What version of Revit are you running? It looks like you might have a conflict with PnIDModeler.dll that comes shipped with Revit 2018.2.

Dynamo 2.0 has a conflict with Revit 2018.2’s implementation of PnID Modeler resulting in a blank library browser pane. This issue is not present in 2018.1 or 2018.3, or Revit 2019, just 2018.2. If you want to use 2.0 with Revit 2018.2, you will need

[2018-04-18 15:07] Racel commented on #8770
Just messaged Ben on the forum. Asked to provide more details here.

[2018-04-18 15:13] Racel commented on #8764
I don't believe this is a regression. @jnealb @smangarole  can we check now?

I think this is in place to prevent custom node reference failures.

[2018-04-18 15:35] Racel commented on #8758
@jnealb @smangarole - Can you please take a look and determine if this is a regression? Can also make a task?

[2018-04-18 15:39] Racel commented on #8757
Being tracked in https://jira.autodesk.com/browse/QNTM-4044

[2018-04-18 15:50] gregmarr commented on #8759
There is rationale in the PR by @pboyer for the current behavior.  https://github.com/DynamoDS/Dynamo/pull/8551

[2018-04-18 16:45] gregmarr commented on #8759
That's not to say that we can't revisit this in the future, but that's why it is the way it is right now.

[2018-04-18 17:33] aparajit-pratap commented on #8759
@josols @ksobon we have experimented with this idea and found that it could lead to confusing results when a syntax like `{keys : vals}` interferes with other language features of DesignScript like replication. The following example was one such experiment (note that this was before the list `[]` syntax changes):
![image](https://user-images.githubusercontent.com/5710686/38946805-96e27248-4308-11e

[2018-04-18 17:56] ksobon commented on #8759
@aparajit-pratap that's a great explanation and a good example. I think it makes sense to limit it to strings for now.

[2018-04-18 19:08] josols commented on #8759
Yep, excellent explanation. I’ll close for now.

[2018-04-18 19:08] #8759 closed

[2018-04-18 19:52] Racel commented on #8770
This has been fixed. Closing.

[2018-04-18 19:52] #8770 closed

[2018-04-19 01:05] honenc commented on #8768
Is it right ?
thanks!

2018-04-18 22:57 GMT+08:00 Racel <notifications@github.com>:

[2018-04-19 07:36] architectcodes commented on #8767
The same applies to more basic nodes like `DateTime.Now`:

![2384872653](https://user-images.githubusercontent.com/4624660/38977622-2c4f796e-43b5-11e8-8ea3-c32c32d2d2eb.gif)

[2018-04-19 07:46] SJM84 opened #8773 "squre millimeter volume incorrect"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

(Which version of Dynamo are you using? Go to Help > Abo

[2018-04-19 11:44] SHKnudsen commented on #8757
I'm in contact with our IT department, need them to uninstall or disable, apparently that's a bigger deal than expected will keep you updated when there is progress.

[2018-04-19 14:06] BartDeMaesschalck opened #8774 "XAML error while debugging sandbox"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

master-branch

## Operating system

Windows 10

## What

[2018-04-19 14:37] smangarole commented on #8773
@SJM84 We need more information on this bug. Please provide OS versions, Revit versions if any, Dynamo and DynamoRevit versions

[2018-04-19 14:39] SJM84 commented on #8773
REVIT VERSION 2018

DYNAMO VERSION 1.2.2.373

OS WINDOWS 10

Simon Murphy
BSc Architecture
Architectural Assistant
sjm@gotch.co.uk

[cid:image001.png@01D3D7F4.A14C7190]
www.gssarchitecture.com

DDI: 01423 637152   T: 01423 815121

From: smangarole [mailto:notifications@github.com]
Sent: 19 April 2018 15:38
To: DynamoDS/Dynamo
Cc: Simon Murphy; Mention
Subject: Re: [DynamoDS/Dynamo] squre millimete

[2018-04-19 14:40] smangarole commented on #8767
@architectcodes Thanks for logging this issue. I will take a look and file this issue internally.

[2018-04-19 14:40] smangarole commented on #8774
@mjkkirschner @alfarok Any idea?

[2018-04-19 15:43] mjkkirschner commented on #8767
@smangarole @architectcodes this is expected behavior - discussed here:
https://github.com/DynamoDS/Dynamo/issues/6759

I would categorize this as a long standing user request. The issue is that if this node re-executed always then in automatic mode it would not stop executing .. ie all periodic nodes would execute over and over in automatic mode.

I think the suggestion from @ikeough in that link

[2018-04-19 15:43] mjkkirschner commented on #8767
also here: https://github.com/DynamoDS/Dynamo/issues/7350
https://github.com/DynamoDS/Dynamo/issues/5994

[2018-04-19 16:28] QilongTang commented on #8774
I have seen this couple times from my experience, it usually happens for the first a few times you start sandbox. I think if Sandbox crashes before it got launched, it always end up with this exception, you may want to try rebuilding a couple times and debug again couple times. Then this exception should go away. Not a good answer but worth to try.

[2018-04-19 21:17] architectcodes commented on #8767
Thanks for letting me know about #6759 – I did find it when searching through open issues, but had the impression forced re-execution isn’t a new feature I need. I thought the current behaviour is a bug.

Happy to close this issue as a duplicate of #6759. I’ll stay tuned for updates in there! 📻

[2018-04-19 21:17] #8767 closed

[2018-04-20 00:06] mjkkirschner commented on #8757
@SHKnudsen I'm not sure I can reproduce this locally without access to enterprise type deployments of these anti virus scanners, my attempts so far have failed. We should merge a potential fix soon, and will ask you to test a development build - would that be possible?

[2018-04-20 00:07] #8773 closed

[2018-04-20 00:09] mjkkirschner commented on #8747
can you reproduce this or was it a one time occurrence?

[2018-04-20 02:12] ksobon opened #8779 "Dynamo 2.0 Node Model transition"
I am starting to look at transitioning some of the nodes to 2.0. First thing I looked at were the `NodeModel` changes. This document: https://github.com/DynamoDS/Dynamo/wiki/Write-a-Json-Constructor-for-a-NodeModel-Node points out that I might need a new `JsonConstructor` and a change in how the inputs and outputs are defined. So I did that:

[code]

I got a public `ListSelector()` constructor wit

[2018-04-20 04:08] mjkkirschner commented on #8779
@ksobon read this as well:

we're going to continue updating it. Please contribute if you would like.

Json serialization will serialize all public properties by default, I don't think you need to serialize the items collection - you can make the property protected or you can mark it [JsonIgnore]. Otherwise it looks okay. Were you serializing these properties before with xml?

I think you probably

[2018-04-20 08:34] josols opened #8780 "Dynamo 2.0.0 Library scroll"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

2.0.0 stable

## Operating system

Win 7

## What did yo

[2018-04-20 09:58] SHKnudsen commented on #8757
@mjkkirschner Sure, just let me know what you need

[2018-04-20 12:36] ksobon commented on #8779
The source is here: https://github.com/ksobon/archilab/blob/dynamo-2.0.0/archilabUI/ListSelector/ListSelector.cs and if you switch back to master you can see what that looked like in 1.3. I will also read through that other document.

[2018-04-20 13:13] MichelBelien commented on #8768
I have the same issue with Revit 2018.3
![missing library 2018 3](https://user-images.githubusercontent.com/38561659/39052744-50ed7c3c-44ad-11e8-9ac6-b266cb6f1627.png)

[2018-04-20 13:26] jnealb commented on #8768
@MichelBelien If you close Dynamo and re-launch it in the same Revit session does the blank library still happen?

[2018-04-20 13:30] MichelBelien commented on #8768
Yes then I still have a blank Library.

[2018-04-20 13:33] jnealb commented on #8768
@MichelBelien Thanks. Can you show us what packages you have loaded by pulling down the Manage Packages window?

[2018-04-20 13:36] MichelBelien commented on #8768
None packages installed for 2.0
![image](https://user-images.githubusercontent.com/38561659/39053935-9a154a0e-44b0-11e8-9468-af7dbad7abf9.png)

[2018-04-20 13:43] jnealb commented on #8768
@MichelBelien Thanks. Two more requests: 1. Can you open the console (it is under View) to check for any errors 2. The Notification window shows 5 issues, can you also send us that window's contents?

[2018-04-20 13:45] MichelBelien commented on #8768
Dynamo has detected a conflict with a dependency and may be unstable. If any issues are detected, please uninstall addins or packages and contact the provider.:
 While loading assembly CefSharp.Wpf, Version=57.0.0.0, Culture=neutral, PublicKeyToken=40c4b6fc221f4138, Dynamo detected that the dependency CefSharp.Core, Version=57.0.0.0, Culture=neutral, PublicKeyToken=40c4b6fc221f4138 was already loa

[2018-04-20 13:51] MichelBelien commented on #8768
![image](https://user-images.githubusercontent.com/38561659/39054701-9f26eaaa-44b2-11e8-82fd-c62a2976ee52.png)

[2018-04-20 13:51] jnealb commented on #8768
@MichelBelien Thanks. What other Revit Addins do you have loaded?

[2018-04-20 13:54] ramramps commented on #8768
Do you have NBS plugin?

[2018-04-20 13:55] MichelBelien commented on #8768
a lot,
![image](https://user-images.githubusercontent.com/38561659/39054935-30000462-44b3-11e8-993a-ca7f1c7472ef.png)

[2018-04-20 13:55] mjkkirschner commented on #8768
the message above contains some hints about what is conflicting.
RevitPlugin, BusinessLogic, BusinessLogic, BusinessLogic, CefSharp.Core, Revit2017, Revit2017, CefSharp.WinForms, CefSharp.WinForms

[2018-04-20 13:56] MichelBelien commented on #8768
yes NBS plugin is installed

[2018-04-20 13:58] ramramps commented on #8768
Thanks @MichelBelien.. NBS plugin has its cefsharp loaded...we will get back to you with possible workaround.

[2018-04-20 13:59] BartDeMaesschalck commented on #8774
Found out that after deleting  AppData\Roaming\Dynamo\Dynamo Core\2.0
everything worked.

Thanks for the help

On Thu, Apr 19, 2018 at 8:22 PM, ramramps <notifications@github.com> wrote:

[2018-04-20 14:00] #8774 closed

[2018-04-20 14:24] mjkkirschner commented on #8779
sorry - no solution 😉 given.
I think for a first step, just ignore serializing all your public properties, then see if the node loads at all.
[JsonIgnore]

[2018-04-20 21:06] jnealb commented on #8758
@Racel @smangarole This is not a regression from 1.3 and is tracked with QNTM-4072.

[2018-04-21 16:33] Alex-Tohidi opened #8782 "library search"

[2018-04-21 16:55] Alex-Tohidi commented on #8782
This issue was moved to the Revit page.

[2018-04-21 16:55] #8782 closed

[2018-04-23 01:54] ksobon commented on #8779
@mjkkirschner so the issue was this:
[code]

`DelegateCommand` doesn't have a public constructor so JSON was failing to deserialize it. Thanks for the tip. Ignoring it solves the issue:

[code]

[2018-04-23 01:54] #8779 closed

[2018-04-23 03:56] mjkkirschner commented on #8779
@QilongTang @saintentropy I think we should add this to our docs.

[2018-04-23 03:59] mjkkirschner commented on #8747
please reopen if you can reproduce.

[2018-04-23 03:59] #8747 closed

[2018-04-23 04:00] #8680 closed

[2018-04-23 04:04] mjkkirschner commented on #8319
@moethu I think this happens when you increment your dll version - was that the case?

[2018-04-23 06:43] moethu commented on #8319
yes, this would make sense. if so, I would request to change it so node libraries are identified by name only and therefore remain sticky. One mostly updates packages to provide bugfixes & features with incremented dll versions.

[2018-04-23 06:50] andydandy74 commented on #8319
I‘d second that request. This has happened to me before as well.

[2018-04-23 23:41] ksobon opened #8785 "Dynamo 2.0 keyboard inputs don't work at all"
I know you guys mentioned that CTR+C might not be working but I can't get any keyboard input to work. That includes DELETE button, and with lack of substitutes for deleting (no context menu), that's a little difficult to work.

[2018-04-23 23:46] QilongTang commented on #8785
@ksobon Assuming you are working with Revit 2019 but not sandbox alone, this issue will be fixed by itself once user has upgraded to R2019.0.1. Any hotkeys have been taken by Revit host will be swallowed there and not working in DynamoRevit 2019 currently.

[2018-04-24 00:12] ksobon commented on #8785
Yeah i am in R2019. Was there a patch released already? 2019.0.1?

[2018-04-24 00:13] ksobon commented on #8785
Oh...May, my bad. OK. I will chill then.

[2018-04-24 00:15] QilongTang commented on #8785
@ksobon Not yet, this issue was found after R2019 release frozen so the fix was put into R2019.0.1. Stay tuned and update when it pops out 😉 And if you do not mind, I will close the issue for now because 1) Dynamo Sandbox still works 2) There is not need to adjust your Dynamo at that point, this is actually a Revit issue

[2018-04-24 00:15] #8785 closed

[2018-04-24 11:23] aliasguru opened #8787 "3D Viewport has no content at all"
## Dynamo version
2.0.0.4354

## Operating system
Windows 10

## What did you do?
I'm using the Integration of Dynamo in Autodesk Alias. No matter how I proceed, the 3D Viewport behind the node tree remains entirely blank. Not even the grid is drawn. I have already installed the Direct3D patch from https://knowledge.autodesk.com/support/alias-products/downloads/caas/downloads/content/alias-sample-

[2018-04-24 11:41] ramramps commented on #8787
@ptierney Is this sandbox or revit? Did you check this page?
https://github.com/DynamoDS/Dynamo/wiki/Known-Issues

[2018-04-24 12:57] ramramps commented on #8787
thanks @aliasguru .
@jnealb any thoughts here?

[2018-04-24 13:50] jnealb commented on #8787
@aliasguru @ramramps Yes, we have another report of Dynamo not supporting multi graphics card configurations, please see QNTM-2325.

[2018-04-24 14:27] mjkkirschner commented on #8787
@aliasguru have you read this section on switchable graphics:https://github.com/DynamoDS/Dynamo/wiki/Dynamo-FAQ?

it's less likely with a desktop and xeon cpus but they may still have integrated gpus...

I would try that first, then try what @jnealb suggests and try disabling the other cards temporarily.

[2018-04-24 15:56] aliasguru commented on #8787
OK, I'm one step further. When I disable my three TitanX cards, Dynamo runs just fine. I'll investigate further tomorrow if I can assign specific cards to Dynamo via the Control Panel.

[2018-04-25 01:25] ksobon opened #8789 "public enum with [IsVisibleInDynamoLibrary(false)] still visible in library"
I thought that adding this attribute to a public class would hide it from the library:

[code]

Yet, it's still showing up. That was not an issue in previous version.

![image](https://user-images.githubusercontent.com/529781/39221605-066368a0-4806-11e8-8f13-2853a5eaaffb.png)

[2018-04-25 01:47] mjkkirschner commented on #8789
well, this is not a class, but an enum, but I believe @ramramps and I touched enums here:
https://github.com/DynamoDS/Dynamo/pull/8311/files

I don't see anything obvious that would cause a regression though.

@ksobon does this attribute work for you on classes? - can you hide this enum by making it internal?

@alfarok do we know if this attribute is working?

[2018-04-25 02:04] ksobon commented on #8789
I mean yeah, that's an `Enum` but it used to work just fine like that before. Besides even in that link you posted you guys do exactly the same thing to an Enum. Just scroll down a few lines. It's a DateTime enum and you hide it with that same attribute. Was there a regression?

[2018-04-25 02:05] ksobon opened #8790 "System Icomparer shows up in the library"
I am not sure how this one found its way into the library:

![image](https://user-images.githubusercontent.com/529781/39222625-a7e41d78-480b-11e8-8014-525e9c507726.png)

[2018-04-25 02:07] mjkkirschner commented on #8789
I'm not sure the enum is hidden by the [IsVisibleInDynamoLibrary(false)] or the [obsolete] attribute. I just want to be specific because enums and classes are imported differently into the VM.

Looks to me like a regression.

[2018-04-25 02:10] mjkkirschner commented on #8790
* do you embed interop types into your dlls?
* do you reference this type at all?
* do you have any methods that accept or return an IComparer?

[2018-04-25 02:16] ksobon commented on #8789
I can't make it internal because it's shared across projects. It's a utility Enum used in a couple of places. I was able to use a different attribute: `[SupressImportIntoVM]` to hide it and that seems to be working:

![image](https://user-images.githubusercontent.com/529781/39222867-f7cdde86-480c-11e8-9aa8-98187a0f9d0b.png)

[code]

It would still make sense to look at re-enabling the original imp

[2018-04-25 02:17] mjkkirschner commented on #8789
yes, lets keep this open.

[2018-04-25 02:26] mjkkirschner commented on #8790
rather, I think it was meant to hide the base class, but the regression might be very specific (why we missed it)

can you share your in development package.json file here and an image of your bin folder?

[2018-04-25 02:27] mjkkirschner commented on #8790
another thought - are you distributing dynamo core or dynamoServices with your package? That will also cause this behavior.

[2018-04-25 02:40] ksobon commented on #8790
So I was able to get it to hide itself when I changed the class to `internal` - obviously. I did try the `[SupressImportIntoVM]` attribute and that didn't work. I also tried putting `[IsVisibleInDynamoLibrary(false)]` attribute on both the class and the method inside of it since that was public as well, but that didn't work either.

Again, luckily I could actually make this one internal, so proble

[2018-04-25 02:41] mjkkirschner commented on #8790
@ksobon can you verify that you package (that you are testing) is built against the dynamo 2.x nugets and not the 1.3 ones?

[2018-04-25 02:42] ksobon commented on #8790
Yup.

![image](https://user-images.githubusercontent.com/529781/39223558-c8051058-4810-11e8-829c-51fa9574e227.png)

[2018-04-25 09:16] Jaiyakumar opened #8791 "Revit 2016-Dynamo Crash"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

Dynamo Revit 1.3.2.2480

## Operating system

Window 8.1

[2018-04-25 10:35] aliasguru commented on #8787
Of all the solutions I've tried, only deactivating ALL secondary GPUs works. As soon as I reactivate any of the three Titans, the Viewport is gone.

- reinstalling the driver was useless
- installing a different driver gave me other hell, so cannot confirm if that would make a difference
- Setting options in the Performance Tab for DynamoAlias made no difference
- In the BIOS, my onboard GPU is de

[2018-04-25 14:13] ThomasMahon opened #8792 "Dynamo Forum Login: There was an error authorizing your account"
Not sure where to post this but I cant log in to the Dynamo forum, and see this error. I've attempted to clear my brower history and logins, but nothing seems to work. The only thing I have done recently is reset my ssl settings.

![image](https://user-images.githubusercontent.com/18601851/39251382-0780a5b4-489b-11e8-8e4c-a8f9b79b25d9.png)

[2018-04-25 15:10] QilongTang commented on #8792
I could not log in either.. FYI: @Racel @mjkkirschner @ramramps

[2018-04-25 15:15] jnealb commented on #8792
I was in as recently as Monday, fyi.

[2018-04-25 15:40] jnealb commented on #8787
@aliasguru @mjkkirschner @ramramps  The QNTM-2325 task is in our backlog for 2.1. If we find a workaround in the meantime we will notify you.

[2018-04-25 15:40] #8787 closed

[2018-04-25 16:01] jnealb commented on #8791
@Jaiyakumar Please take a look at the workarounds that are offered on our Forum. For example, https://forum.dynamobim.com/t/dynamo-1-3-1-and-revit-2017-crashing-when-using-a-code-block. You can search the Forum for "AvalonEdit" to find more information on how to resolve the issue.

[2018-04-25 17:39] Jaiyakumar commented on #8791
@jnealb Thanks for your reply. This helped me.

[2018-04-25 17:39] #8791 closed

[2018-04-25 20:53] QilongTang commented on #8792
@ThomasMahon I could do it now without doing anything on my end. It could be specific identity service  went down for a few hours.. Let us know if you still could not log in

[2018-04-25 21:33] ThomasMahon commented on #8792
@QilongTang  @jnealb same, this appears to be working now. Thanks for looking into it

[2018-04-25 21:33] #8792 closed

[2018-04-26 08:55] Amoursol opened #8794 "DesignScript behaving oddly"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

Dynamo Studio version 1.3.0.881 | Dynamo Core version 1.

[2018-04-26 13:10] vykrum opened #8795 "Preview Upstream"
## Dynamo version
2.0.04654 (stable)

## Operating system
Windows 10

## What did you do?
Selected node/s and right click on canvas

## What did you expect to see?
Menu with no traces of _Preview Upstream_
Note:  Though it's been depreciated, while it existed, I did find it useful to control graphics visibility on _View3D_ as I'd earlier outlined [here](https://github.com/DynamoDS/Dynamo/issues/83

[2018-04-26 13:27] ramramps commented on #8795
thanks @vykrum. This is tracked under https://jira.autodesk.com/browse/QNTM-4110

[2018-04-26 14:55] Amoursol opened #8796 "[Bug][DesignScript] Namespace issues causing Input Port Generation"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1) Dynamo Studio 1.3.0.881 & Dynamo Core 1.3.3.4111
2) D

[2018-04-26 14:56] mjkkirschner commented on #8796
@aparajit-pratap FYI

[2018-04-26 15:00] jnealb commented on #8796
@mjkkirschner @aparajit-pratap @Racel @Amoursol Is this already filed in JIRA?

[2018-04-26 15:07] mjkkirschner commented on #8796
don't think so.

[2018-04-26 16:15] Amoursol opened #8797 "[Bug] SortByFunction not applying Function.Compose"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

Dynamo Core 2.0.0.4654
Dynamo Revit 2.0.0.4655

## Opera

[2018-04-26 16:41] ramramps commented on #8797
@Racel @aparajit-pratap FYI.
@smangarole @jnealb  Looks like a bug. Can you test and create a task?

[2018-04-26 16:48] mjkkirschner commented on #8797
This appears to be a slight misunderstanding of function compose - you can re-rewrite your code like this:

`Point.Y(Point.X(myPoint))`.... this won't work, point.x returns a number, but point.Y expects a point.

[2018-04-27 00:58] dimven commented on #8796
Previously reported in #7697 and #8084

[2018-04-27 14:33] Amoursol opened #8799 "[Nodes] Curve not offsetting properly"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

Tested in both versions.

1) Dynamo Studio 1.3.0.881 & D

[2018-04-27 20:17] Racel commented on #4632
Would love to get this in for the next release. More soon.

[2018-04-27 20:29] Racel commented on #8467
@mjkkirschner Did we file a task to do the preload? Is this the correct approach and will it fix the issue?

[2018-04-27 20:32] ramramps commented on #8467
@ksobon is this still an issue with stable 2.0 release? We did some improvements to librarie after the version mentioned in the issue.

[2018-04-27 21:39] mjkkirschner commented on #8796
please put this in the release notes or design script updates doc/ with a workaround if it proves to work... @Amoursol can you try the suggested work around?

[2018-04-28 13:41] Amoursol commented on #8796
I've tested the workaround and it functions correctly @mjkkirschner! Thanks for that :)

![image](https://user-images.githubusercontent.com/12857357/39397142-475366be-4af2-11e8-9413-85c0376ae460.png)

[2018-04-29 23:03] andydandy74 opened #8802 "Custom node input descriptions are not saved"
## Dynamo version
Dynamo 2.0 stable

## Operating system
Windows 10

## What did you do?

- Created a custom node
- Included a comment in the input node of the custom node
- Saved the custom node

## What did you expect to see?

The comment to be saved in the custom node file

## What did you see instead?

While in session, the comment is visible in the input port tooltip. After restarting Dynamo,

[2018-04-29 23:16] andydandy74 opened #8803 "Node coordinates in custom nodes are set to 0,0 when editing node properties"
## Dynamo version
2.0 stable

## Operating system
Windows 10

## What did you do?
Changed a custom node's description

## What did you expect to see?
Just a changed node description

## What did you see instead?
![grafik](https://user-images.githubusercontent.com/3014437/39411954-07237174-4c14-11e8-9b81-31b5b456a6f2.png)
All node coordinates within the custom node were reset to X=0 and Y=0.
![graf

[2018-04-30 11:48] Racel commented on #8796
Thanks @Amoursol and @mjkkirschner Added to the release notes and language changes docs as known issues.

[2018-04-30 12:54] Amoursol opened #8808 "[DesignScript][Crash] Mask Generation failing"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

Dynamo 1.3.3.4111

## Operating system

Windows 10

## W

[2018-04-30 15:54] mjkkirschner commented on #8808
This appears to be attempting to call MinimumItem on a function, I would guess this is not a syntax error, but should be a runtime error and not a crash. @aparajit-pratap ?

[2018-04-30 18:35] jnealb commented on #8802
@andydandy74 Thanks. This is tracked with QNTM-4176.

[2018-04-30 18:35] #8802 closed

[2018-04-30 19:45] andydandy74 commented on #8803
Maybe a localizaton issue again? Try German locale.
Here's what I did:
![changenodeproperties](https://user-images.githubusercontent.com/3014437/39446702-a1d837da-4cbf-11e8-8bb2-48983620007e.gif)
And here's what the node looks like in the next Dynamo session:
![coordinateslost](https://user-images.githubusercontent.com/3014437/39446723-b0f7c938-4cbf-11e8-82d6-25fa84f38145.gif)

[2018-04-30 19:50] andydandy74 commented on #8803
Yes, when creating the GIFs I realized I had neglected to mention that in my original description... ;-)

[2018-04-30 19:53] andydandy74 commented on #8803
Also, looking at the diff screenshot posted above again, I'm noticing that the ```IsSetAsInput``` property value of the Python Script node is being changed as well. Not sure which effect that would have and if that's to be expected.

[2018-04-30 20:13] QilongTang commented on #8803
@andydandy74 Thank you for reporting and I found this is causing a series of larger issues, we are using the **save** function on **CustomNodeWorkspaceModel** when editing custom node info which only saves model properties. This means all view info will be lost after this action as long as `IsSetAsInput` and `IsSetAsOutput`.   FYI: @mjkkirschner @Racel @ramramps @smangarole @jnealb I think this is

[2018-04-30 20:16] ramramps commented on #8803
good find @QilongTang.. lets get this in 2.0.1

[2018-04-30 20:17] jnealb commented on #8803
This is tracked with QNTM-4180; again, thanks @andydandy74 !

[2018-04-30 21:05] mjkkirschner commented on #8803
@QilongTang oh man, good catch, needs a test. @jnealb Is this in this sprint?

[2018-05-01 00:49] mjkkirschner commented on #8799
How are you creating these lines?

[2018-05-01 00:51] mjkkirschner commented on #8790
tracked with:
https://jira.autodesk.com/browse/QNTM-4094

[2018-05-01 00:52] mjkkirschner commented on #8637
Is this object exactly square?

[2018-05-01 03:32] aparajit-pratap commented on #8808
@Amoursol yes, `Surface.Area` is a function object as it needs to be passed a surface object in order to invoke it, like: `Surface.Area(surface);`. Otherwise you can also invoke it using `surface.Area;`, where `surface` is the input surface created upstream. In any case this should not crash. Could you let us know if you are able to reproduce this crash on 2.0? There have been related fixes that h

[2018-05-01 03:47] aparajit-pratap commented on #8794
@Amoursol there have been issues with the way we represented lists and dictionaries with essentially the same data structure in the past. However, in 2.0 a majority of these issues should be addressed with the introduction of a separate `Dictionary` type. Now, lists are simply lists and therefore many of the old methods that worked with lists earlier, do not apply to lists any more , `GetKeys` bei

[2018-05-01 03:47] #8794 closed

[2018-05-01 08:28] ErwinMeulman commented on #8761
Revit 2019.0.1 in May? Men it real suck I can't copy/paste :(

[2018-05-01 11:40] Amoursol commented on #8808
Hello @aparajit-pratap, the fix indeed works in 2.0 - many thanks!

Result as follows:

![image](https://user-images.githubusercontent.com/12857357/39471756-d18f6aa2-4d3c-11e8-9f6b-bf498a6fff07.png)

[2018-05-01 11:40] #8808 closed

[2018-05-01 11:53] Amoursol commented on #8799
@mjkkirschner They are PerimeterCurves() pulled from a surface. Said surface is generated randomly from a points distribution grid.

Simplified version as follows:

![image](https://user-images.githubusercontent.com/12857357/39472028-83db74fc-4d3e-11e8-81dc-ff5044c7178f.png)

Using one of @dimven 's epic nodes (Python pulled out due to package issues):

![image](https://user-images.githubuserconte

[2018-05-01 14:14] aparajit-pratap commented on #8790
@mjkkirschner I think it would be worth investigating the `IsVisibleInDynamoLibrary` and `SuppressImport` attributes to see if they're not broken. I think I saw a similar issue with these recently.

[2018-05-01 15:03] aparajit-pratap commented on #8799
@Amoursol just one comment here - the `Geometry.IsAlmostEqualTo` is the preferred way of doing equality checks for geometry as it takes into account a tolerance.

[2018-05-01 15:15] Amoursol commented on #8799
Ah brilliant, I'll use that node from now on :) Many thanks @aparajit-pratap

[2018-05-01 15:39] erfajo opened #8813 "assign icons to methods with different input"
@alfarok

I have tried to follow the below wiki, but I cant figure why I cant assign my icons when methods are named the same with different inputs.
https://github.com/DynamoDS/Dynamo/wiki/Add-Icons-for-a-Zero-Touch-Assembly-or-NodeModel-assembly

I have two methods named the same, but taking different inputs:
public static object LoadFamily(IList family)
public static object LoadFamily(IList docu

[2018-05-01 16:07] ramramps commented on #355
@smangarole Just checking because we did fix for 2.0. Is this something that was addressed in 2.0?

[2018-05-01 18:05] alfarok commented on #8813
Hey @erfajo, you might also want to check out [this wiki](https://github.com/DynamoDS/Dynamo/wiki/Adding-or-Updating-Built-In-Library-Icons#overloaded-methods).  If you have an overloaded method you need to append the parameter types to the name, each separated by a dash.  When dealing with arrays and collections you must also append an integer that specifies the rank.  For example...
[code]

I be

[2018-05-01 18:32] smangarole commented on #8799
@Amoursol Can you please provide the DYN files you used?

[2018-05-01 19:51] Amoursol commented on #8799
It appears to be an issue at my end on my work laptop - as it appears to work correctly at home on 2.0 and 1.3.1

I did have an issue with my installs so there could be some form of legacy thing breaking stuff. I'll have to run a registry purge and reinstall I think.

![image](https://user-images.githubusercontent.com/12857357/39490426-bdeb34b0-4d80-11e8-92a0-ff2c1fd8db33.png)

[curveOffsetIssue.z

[2018-05-01 19:53] erfajo commented on #8813
I did see that part of the wiki, and I have tried to figure how IList is evaluated as an Array, but haven't found the way to do it. I have tested with these names, without success.
Orchid.Core.File.LoadFamily.family2.Small
Orchid.Core.File.LoadFamily.document1-family1.Small

Orchid.Core.File.LoadFamily.var2.Small
Orchid.Core.File.LoadFamily.var1-var1.Small

The method as such is actually my own im

[2018-05-02 14:31] alfarok commented on #8813
@erfajo Can you give this a try...
[code]

[2018-05-02 15:34] alfarok commented on #8813
Awesome, it appears the IList becomes an Array of arbitrary rank which is where varN comes from.  Thanks for bringing this up, I will update the wiki to reflect this type of scenario.

[2018-05-02 15:34] #8813 closed

[2018-05-02 17:51] smangarole commented on #8799
@Amoursol Registry purge is recommended if you are installing/uninstalling. Thanks for the information. Will checkout the files.

[2018-05-02 20:00] kraftwerk15 opened #8818 "Dynamo 2.0.0 Crashing on moving custom node"
Dynamo 1.3.1
Also, tested against Dynamo 2.0.0

## Operating system

Window 7

## What did you do?

Added a custom node to the workspace. With Automatic turned on, the node completes correctly. If I attempt to move the node, Dynamo will crash.

## What did you expect to see?

I did see what I expect to see. Expected Dynamo not to crash.

## What did you see instead?

A crashing Dynamo.

Further In

[2018-05-03 13:50] kraftwerk15 opened #8822 "Error Report 2018.05.03"
## Dynamo version

2.0.0.??? Not Daily, latest stable.

## Operating system

Windows 7

## What did you do?

Click on the Dynamo button under the Revit > Manage tab.

## What did you expect to see?

A functioning Dynamo.

## What did you see instead?

A non-functioning Dynamo. ;)
Seeing the below image instead.

## Explanation:
I have loaded in a custom library after starting 2.0 Dynamo. It will f

[2018-05-03 14:58] jnealb commented on #8822
@mjkkirschner Any thoughts?

[2018-05-03 15:01] mjkkirschner commented on #8822
not really ;) - Does this happen with any other node library?
Is your dll a NodeModel library or just zero touch c# nodes?
Do you use any dynamo attributes in your library?
Do you use google analytics in your library?
Can you share your source?

[2018-05-03 18:26] kraftwerk15 commented on #8822
No. Just my library. ;)

I was having a tremendous amounts of issues trying to download archi-lab, until he made modifications for 2.0. Usually when I would try to download just his package, the Revit application would crash. Package Manager would download to the location, crash, then delete the files on crash.... with just archi-lab.

My library was just zero-touch. Needed something along the lin

[2018-05-03 18:30] mjkkirschner commented on #8822
I'm not sure from the information given, but you should not bundle any dynamo dlls with your package. It's quite possible you've bundled 1.3 dynamo core dlls and they are loaded along with the dynamo 2.0 dlls and chaos ensues.

can you show your package bin folder?

[2018-05-03 18:59] kraftwerk15 commented on #8822
Top Level:

![image](https://user-images.githubusercontent.com/30668448/39596905-73dcfad4-4ed9-11e8-9ca7-3c28984a70fe.png)

BIN Debug:

![image](https://user-images.githubusercontent.com/30668448/39596935-83d61fb0-4ed9-11e8-8144-4430b2e77a52.png)

Package BIN Location:

![image](https://user-images.githubusercontent.com/30668448/39597024-cd6d3e9c-4ed9-11e8-818a-8085b200f786.png)

I did confirm tha

[2018-05-03 19:42] jnealb commented on #8818
@kraftwerk15 Where did this custom node come from? Can you share it with us?

[2018-05-03 19:48] mjkkirschner commented on #8818
https://github.com/DynamoDS/Dynamo/issues/5120

looks like you may be using some of archilabs code and adding it to another class?

[2018-05-03 20:14] kraftwerk15 commented on #8818
@jnealb This is a custom node with code from our other issue. It is the third method called Slab Edge Types. First two methods work fine. The third dropdown is the issue. [https://github.com/DynamoDS/Dynamo/issues/8822](url)

@mjkkirschner The RevitDropDownBase looks like it is coming from DSRevitNodesUI? I was attempting to build a dropdown and I was trying to build something like his code that i

[2018-05-05 06:30] catdotgif opened #8834 "Consistency of CTRL-Select vs Shift Select in Revit vs. Dynamo"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum]

## Dynamo version
2.0.0

## Operating system
Windows 10

## What did you do?
Selected multiple nodes with CTRL+Select

## What did you expect to see?
Sele

[2018-05-07 09:36] erfajo commented on #7992
How is this issue progressing? I have now transferred my entire package from custom nodes in Python to Zero-Touch in Csharp. Once again I end in the problem of how to signal where the node comes from (which package). If nothing has happened then I will implement it in my package as shown below.
![image](https://user-images.githubusercontent.com/2844374/39695127-c9121be8-51e9-11e8-972d-b110b5b57606

[2018-05-08 07:08] thp44 opened #8847 "Code Blocks crashes dynamo v.1.3 and v.2.0 after installing v.2.0"
Using a newly created code block crashes Dynamo every time!

## Dynamo version

Both 1.3 and 2.0 after installing Dynamo 2.0

## Operating system

Windows 10

[2018-05-08 12:05] ramramps commented on #8847
@thp44 Can you give more details here? did you get any stack trace?  What is the revit version here?

[2018-05-08 16:27] jnealb commented on #8822
@kraftwerk15 thanks for the analysis and interesting suggestions. @Racel @kronz @smangarole fyi.

[2018-05-08 16:27] #8822 closed

[2018-05-08 17:14] Racel commented on #7992
@erfajo This did not make it into 2.0 scope, and we have not yet decided on its priority for 2.1. I would suggest that if this is important to you then you should continue to implement it in your own package.

[2018-05-08 17:51] mjkkirschner commented on #8822
When a package path is added like this a notification is logged in the notification menu item and in the console.

[2018-05-08 18:16] kraftwerk15 commented on #8822
But that would only be for _that_ session, correct???

I work with the console open, but that really wasn't until I started working with Zero Touch to learn more about what was going on. I would anticipate the overwhelmingly majority of Dynamo users do not even know there is a console. Unless I made note of that the moment that I loaded that .dll file, I would never know that the above issue is th

[2018-05-09 05:52] thp44 commented on #8847
@ramramps

I have uninstalled all packages. I double click on the canvas to get a code block and get a weird looking code block. When I'm deselection the code block dynamo crash.

Print screen:
https://i.imgur.com/CRSsdNh.png

[2018-05-09 08:37] joopzuur commented on #2449
Hi Peter,

is there an equivalent to construct an edge (Revit curve) as a reference as well?

tnx Joop

[2018-05-09 13:16] ramramps commented on #8847
https://forum.dynamobim.com/search?q=avalonedit

[2018-05-09 14:06] bercherdbrc opened #8850 "Dynamo 1.3.3 Crashes after installing 2.0"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.3.3

## Operating system

Windows 10

## What did you

[2018-05-09 15:17] bercherdbrc commented on #8850
I do have pyRevit installed. I will try your suggestion and get back.

[2018-05-09 16:58] GinoKoolman opened #8852 "Polycurve: included points"
## Dynamo version

1.3.2

## Operating system

Windows 7 Enterprise

## What did you do?

I created a polycurve from a list of points, when checking the startpoint of the polycurve it doesn't match the first point from my list nor is it in the range of the polycurve

## What did you expect to see?

the first point in my list as startpoint of the polycurve

Is this a bug, any workarounds?

![image]

[2018-05-09 18:44] mjkkirschner commented on #8850
@bercherdbrc it appears that in pyrevit 4.5 a reference to avalonEdit was removed, can you try upgrading to the newest version of pyrevit as another workaround?

[2018-05-10 01:32] dimven commented on #8852
Have you tried changing the geometry working range of Dynamo (you'll find it under Settings)? Those coordinates are quite big (from a unitless point of view) and might be interfering with the inner workings of the geometry kernel.

[2018-05-10 11:44] Amoursol opened #8854 "[BUG][Corruption][FYI] Python node: Retention of previous code when updated"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

Dynamo 1.3.3.4111

## Operating system

Windows 10

## W

[2018-05-10 11:45] #8854 closed

[2018-05-10 23:47] KuriPitomi opened #8857 "Excel.ReadFromFile failing"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.3.3.4111

## Operating system

Windows 10 Pro

## What

[2018-05-11 14:21] DavePlumb opened #8858 "Sheet.ByNameNumberTitleBlockAndView fails on empty View"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.3.2

## Operating system

Windows 7 SP1

## What did y

[2018-05-11 15:09] jnealb commented on #8857
@KuriPitomi Are you able to launch Excel on the machine (eg is Office registered etc)? Which version of Office do you have installed? What OS are you running?

[2018-05-11 17:40] mjkkirschner commented on #8818
@kraftwerk15 I think you ended up getting to the bottom of this? Re-open if not.

[2018-05-11 17:40] #8818 closed

[2018-05-11 18:46] kraftwerk15 commented on #8818
Yes. It has to do with mixture of Zero Touch and Node Model under one build. Separating those out into two separate VS Projects then merging back the two created .dlls will fix this issue.

[2018-05-11 19:08] KuriPitomi commented on #8857
Yes, I can launch Excel. I am running Excel 2016; Office 365 Business.
The OS is Windows 10 Pro

[2018-05-11 19:43] jnealb commented on #8857
Is Office then the 64bit edition?

[2018-05-12 18:37] rresende opened #8862 "Dynamo Crashes when pasting a group"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

Dynamo Core 2.0.0.4654
Dynamo Revit 2.0.0.4655

## Opera

[2018-05-12 18:39] mjkkirschner commented on #8862
@ramramps could this be related to this change:
https://github.com/DynamoDS/Dynamo/pull/8688/files

[2018-05-12 18:41] mjkkirschner commented on #8862
@rresende does this happen repeatedly with any group or only with a specific group?

[2018-05-12 18:47] rresende commented on #8862
The group does not contain custom nodes. It happened three times in a row but it no longer happens! Attaching the files.

[Rotina Dynamo.zip](https://github.com/DynamoDS/Dynamo/files/1997839/Rotina.Dynamo.zip)

[2018-05-12 19:00] ramramps commented on #8862
@rresende Does the group contains Notes?

[2018-05-12 19:15] rresende commented on #8862
It does not.

[2018-05-14 03:57] GinoKoolman commented on #8852
Thanks Dimitar, i switched from XL to L and it works fine so far.

[2018-05-14 14:47] Racel commented on #8757
@SHKnudsen Just got the fix in the latest daily build on http://dynamobuilds.com/. Can you check it out and let us know if it works for you?

[2018-05-14 14:48] Racel commented on #8769
@josols As mentioned on twitter, the latest daily build contains a fix for this. http://dynamobuilds.com/

Please take a look and let us know if your issue is resolved.

[2018-05-14 15:12] KuriPitomi commented on #8857
Yes, 64bit.

[2018-05-14 15:20] jnealb commented on #8857
@KuriPitomi Thanks; this limitation is tracked internally with QNTM-3434 and is included in our backlog for the 2.1 release of Dynamo. A workaround is of course to revert to the 32bit edition of Office.

[2018-05-14 15:20] #8857 closed

[2018-05-14 20:02] mjkkirschner commented on #8850
@bercherdbrc checking in to see if / how you resolved this.

[2018-05-14 20:02] mjkkirschner commented on #8847
@thp44 checking in to see if /how you resolved this?