[2015-03-05 08:44] eproca opened #3895 "Limited usability of "ParameterTrimStart" and "ParameterTrimEnd""
This is a question to @pboyer and @hlp

The methods "ParameterTrimStart" and "ParameterTrimEnd" work only for simple single curves. If you try with a polycurve they are not working. Or if you try with a more complex curve, like for example if you extend a polycurve (the result is listed as "curve") they are not working.

It is really a pity, because these methods can be really useful.

A bit of ti

[2015-03-05 21:24] epeter- opened #3903 "Select model elements"
At the moment it is impossible to select multiple elements individually.
Selections by clicks at element were helpful

[2015-03-06 20:00] jnealb commented on #3903
@epeter- Not able to reproduce this - can you give a specific example?

[2015-03-07 23:49] kronz commented on #3860
Hi @dimven , it looks like this is working in the daily from 3/2
Can you still reproduce this issue?
![2015-03-07_1849](https://cloud.githubusercontent.com/assets/3456818/6543802/b28ddd96-c4fa-11e4-8bbc-6b94c32825bf.png)

Thanks
Z

[2015-03-08 07:13] dimven commented on #3860
Thanks, Zach. Seems to be working again in the version from 3/2 (0.7.6.4256)

[2015-03-08 07:13] #3860 closed

[2015-03-08 13:15] kronz commented on #3856
Hi @frogbuddy
2 somewhat seperate issues here:  a) converting curves to arcs, and b) what structural framing can deal with.
a) You could just use the Curve.ApproximateWithArcAndLineSegments to rationalize the curve.  This is pretty uncontrolled though, and may not give the kind of resolution (generally too detailed) that you want.  Alternatively, you can do this workflow which uses the Arc.ByStart

[2015-03-08 13:16] #3852 closed

[2015-03-08 13:18] kronz commented on #3847
HI @redinkinc
Can you say a little more about what you are looking for here?  Are you asking to simply isolate specific parameter inputs?
Thanks
Z

[2015-03-08 13:19] kronz commented on #3831
Hi @Cbise
Can you say a little more about what the specific difficulties are that you are encountering?

Thanks
Z

[2015-03-08 13:26] kronz commented on #3810
@Cbise
new major improvments to units are on the way, please take a look on the DynamoBIM.org forum and blog in the next few days.

Thanks
Z

[2015-03-08 13:26] #3810 closed

[2015-03-08 13:36] kronz commented on #3809
Hi @gschleusner
Revit API needs a non-human readable name for materials, that are extracted on a per-document basis.  So, the API name for "Glass" might be "26".  So, given a string, this node returns the needed material name.  Query generally is used to extract infomation from an entity that has lots of other kinds of information, but this particular node creates information specific to a kind of

[2015-03-08 15:38] dbaldacchino opened #3920 "Package Manager UI"
I'm noticing a few things in the Manage Package dialog, some of which might be considered "wishes for improvements" and some might be bugs. I'm running 0.7.5.3566.

a) When in the Package Manager, I see the packages installed but I have no way of telling who the author is. If we're required to go to the website to find out, it would be nice to have a direct link to that package (ex: right-click co

[2015-03-09 10:58] redinkinc commented on #3847
Hi @kronz
thank you for your answer. Of course I do.

I would like to have a view where I can see specific nodes I need for inputs or outputs (like sliders or watch nodes) without their connectors or any other processing nodes. Even the Ports don't need to be displayed. Best would be the possibility to arrange the nodes on this view without affecting the nodes in graph view.

Max is is developed t

[2015-03-09 13:28] epeter- opened #3926 "daily build 20150209 forgets installed packages"
installed packages are gone!
ok found that we are now 0.8.
copying all packages to 0.8 result in loss of nodes like element.solid.........

[2015-03-09 14:57] ilayshp commented on #3864
0.8.0.671 - DynamoInstall0.8.0.20150309T0154
again, but it shows where.
how to resolve
1. i copy dll dir to new dynamo(0.8) dir
2. rename it to libg_0. all work and calculate non-revit nodes

i use standalone dynamo, not from revit

[2015-03-09 15:12] ilayshp commented on #3926
Hello
Look at https://github.com/DynamoDS/Dynamo/issues/3864#issuecomment-77868756

[2015-03-09 17:06] epeter- opened #3928 "strange results after rerun"
i create sheets programmatically.
the sheet creation is done in python, same the placement on the sheet.
basically my code runs fine.....but!
i experience, that with the same data after rerun i get different (wrong) results.
i experience, that sometimes i get to sheets created instead of one.
i experience, that sometimes i get to sections created instead of one - with the same data.
might it be th

[2015-03-09 17:08] pboyer commented on #3928
Keep in mind that python nodes will not clean up their past results after a new run.  Is that the problem?

[2015-03-09 17:19] epeter- commented on #3928
exactly, how can i resolve that?

Am 09.03.2015 um 18:08 schrieb Peter Boyer:

---
Diese E-Mail wurde von Avast Antivirus-Software auf Viren geprüft.
http://www.avast.com

[2015-03-09 19:30] kronz commented on #3847
Thanks Fabian,
this is a great example, and we are actively working on related functionality.  Thanks for the feedback.

[2015-03-09 19:36] #3864 closed

[2015-03-09 20:05] ikeough commented on #3864
Hi @ilayshp. Copying an old dll directory to a new version of Dynamo is definitely not supported. Is there a reason why you need to do this?

[2015-03-09 21:56] ilayshp commented on #3864
Hello Ian
Dynamo doesn't work me i made default installation
I have revit and dynamo at P-named disk, not C.
I found from dynamo 0.7.2, that if not do it i catch that dynamo can find several assemblies, like ProtoInterface(.dll) or if 0.8.2 - writes that cannot find LibG.ProtoInterface in p:\Program Files\Dynamo\libg_0\ ... i tried restasrt machine(thinking that need to register dlls after...nothi

[2015-03-09 23:21] kmorin opened #3931 "Package upload limit 15mb"
Currently, the limitation for publishing a package is 15MB. Need to remove/up the limit on this. I am trying to include a third-party python library that is ~30MB (to avoid users having to manually install this library)

[2015-03-10 00:28] tatlin commented on #3931
@hlp I believe you removed this restriction, no? Cc @pboyer

-matt

[2015-03-10 01:52] pboyer commented on #3931
This will be in 0.8.0. You can also use the dailies.

On Mon, Mar 9, 2015, 8:28 PM Matt Jezyk <notifications@github.com> wrote:

[2015-03-10 03:58] dimven commented on #3920
If I may add a tiny comment on the Package manager UI. The voting system seems to confuse some people. I guess they press the down vote arrow thinking it will expand the package information. The result is that some of the most downloaded and useful packages have negative votes. Not a biggie, because the vote system doesn't seem to be all that useful anyway.

[2015-03-10 04:00] dimven commented on #3926
It's not just element.Solid. It seems all nodes related to Revit (DynamoRevitDS.dll) fail to load.

[2015-03-10 05:18] kmorin commented on #3931
Ok awesome. Thanks for the info.
On Mar 9, 2015 6:52 PM, "Peter Boyer" <notifications@github.com> wrote:

[2015-03-10 09:14] dimven commented on #3928
Hi Peter,
I remember I had a similar problem a while ago and it was solved by wrapping my newly created elements with .ToDSType()

[2015-03-10 09:41] epeter- commented on #3928
@dimven i just ried the following:
after creation of a view i added it to an outputlist view.ToDSType(True)
the generated views i put on a sheet.
the sheet's output = viewsheet.ToDSType(True)
result is the same
sometimes yes sometimes no

[2015-03-10 13:10] jnealb commented on #3926
@dimven @epeter- Are the Revit nodes "Unresolved" or absent?

[2015-03-10 13:14] ikeough commented on #3895
@hlp what do you think?

[2015-03-10 13:44] epeter- commented on #3926
solved in latest daily

Am 10.03.2015 um 14:11 schrieb Neal Burnham:

---
Diese E-Mail wurde von Avast Antivirus-Software auf Viren geprüft.
http://www.avast.com

[2015-03-10 14:03] dimven commented on #3926
The whole Revit tab was missing from the library for me. It was as if I've started Dynamo in standalone mode even tho I started it from the add-ins tab. I'll check the latest daily first thing tomorrow.

[2015-03-10 14:06] dimven commented on #3928
Hmm sorry to hear that. I'm out of ideas. Just one thing - when you copy the python node, delete it and paste it again do you get a consistent result or is it still hit or miss?
 I'm asking because I'm trying to figure out if each python node has its own cache container or if the Dynamo process itself is storing the information.

[2015-03-10 14:10] andydandy74 commented on #3926
same here, latest daily.

[2015-03-10 14:18] andydandy74 commented on #3423
I was preparing a class on paneling today and ran into this extremely annoying bug again. Any chance this is going to be fixed in the foreseeable future? Anyone who knows a workaround? (And by workaround I don't mean using points instead of using UVs...)
Or maybe it has been fixed? (Couldn't test it in the latest daily because there were no Revit nodes available...)

[2015-03-10 14:20] mostaphaRoudsari commented on #3926
E peter -
On Mar 9, 2015 9:28 AM, "epeter-" <notifications@github.com> wrote:

[2015-03-10 14:38] pboyer commented on #3801
Closing this task, but don't worry, we're thinking about it.

[2015-03-10 14:38] #3801 closed

[2015-03-10 14:39] #3931 closed

[2015-03-10 14:47] epeter- commented on #3928
@dimven actually i am now debugging and finding a solution as i have to produce some hundred drawings........

[2015-03-10 15:05] epeter- commented on #3903
dynamo offers tw option for selecting model elements
1) select model element
2) select model elements
@1 obvious
@2 right now the workflow allows to select element by selectionbox. i would like to select multiple elements by "CTRL" select per mouseclick

[2015-03-10 15:07] epeter- opened #3942 "lock custom nodes"
will there be an option to lock custom blocks?
as i am already doing individual solutions with dynamo i would like to somehow protect the code from user changes (and examination) and hence lock the custom node.

[2015-03-10 16:12] epeter- commented on #3928
@pboyer is there a possibility to clean up former python results?
btw debugging the calculation results returns correct coordinates (point list)!

[2015-03-10 16:39] hlp commented on #3895
I've logged this bug. Thanks for reporting it @eproca !

[2015-03-10 16:48] andydandy74 commented on #3903
:+1:
And SHIFT for deselecting, please.

[2015-03-10 16:59] holyjewsus commented on #3928
Hi @epeter- Are you sure that the python node is actually re executing, this may be Dynamo's live runner attempting to not rerun the execution, if you force the python node to execute by disconnecting it, running the graph, and hooking it back up and rerunning the graph, is the output as expected every time (if you do that process every time)

as far as I'm aware the ironpython engine is being res

[2015-03-10 17:25] epeter- commented on #3903
tx andreas +1

[2015-03-10 17:42] epeter- commented on #3928
@holyjewsus as i am in production and have to deliver my definition to produce my drawings i am some sort of desperate.
thats why i ecxamined each and every option to have it run.
what i found out:
it is not python it is a dynamo memory allocation bug.
why?
1) when i have only 2 views to distribute on a sheet, everything is fine, reruns possible, 1 sheet produced.
2) when i am to 4 views, every st

[2015-03-10 19:09] mahdino2000 opened #3943 "Dynamo opens the file, but does not show the content"
Object reference not set to an instance of an object.

   at ProtoCore.AssociativeEngine.Utils.GetDirtyNodeCountAtGlobalScope(Executable exe)
   at ProtoScript.Runners.LiveRunner.ApplyUpdate()
   at ProtoScript.Runners.LiveRunner.PostExecution()
   at ProtoScript.Runners.LiveRunner.CompileAndExecuteForDeltaExecution(String code)
   at ProtoScript.Runners.LiveRunner.UpdateCmdLineInterpreter(String

[2015-03-10 19:16] mahdino2000 commented on #3943
It seems like there is a problem with the "Energy Analysis Package"

Dynamo log started 3/10/2015 12:13:27 PM
3/10/2015 12:13:27 PM : RequestUpdateVersionInfo
3/10/2015 12:13:27 PM : Requesting version update info...
3/10/2015 12:13:28 PM : Dynamo is up to date.
3/10/2015 12:13:30 PM : Dynamo -- Build 0.7.5.3566
3/10/2015 12:13:30 PM : Duplicate type encountered: ForEach
3/10/2015 12:13:30 PM : Du

[2015-03-10 23:24] ikeough commented on #3903
I know! I want to do this as well. There's one small problem. The Revit API allows you to select in one mode or another. You can be in box selection mode or multiple click selection mode, but not both. At least this is the way it was the last time I looked at the API. We'll have to see if they made improvements for 2016.

[2015-03-11 06:05] sharadkjaiswal commented on #3943
@mahdino2000 just wanted to know if you are running Dynamo on top of Revit or just a standalone. Energy Analysis package has a dependency on Revit, so you need to run Dynamo from Revit application. If you are already running it on top of Revit then this looks like some other issue.

[2015-03-11 07:49] dimven commented on #3903
Guys might I recommend Julien Benoit's node "Tool.GetRevitSelection" from the steam nodes package? It fetches your selection from the Revit UI window. You can use any of the selection methods found in Revit. It's a temporary remedy at least.

[2015-03-11 08:38] andydandy74 commented on #3903
@dimven - Yes, I've indeed been using that one as a workaround - it's really handy.
@ikeough - How about having two nodes: Select Model Elements (Box Selection) and Select Model Elements (Multiple Click Selection). If at some point in the future the Revit API allows for parallel selection modes you can always merge them back into one node.

[2015-03-11 09:01] epeter- opened #3948 "custom nodes are gone ......again"
issue was fixed with 08.0.20150309T1748
and reappeares with 08.0.20150310T0953

[2015-03-11 09:45] ilayshp commented on #3948
Same here Peter - l0.8.0.20150310T0953
Not only custom, also from binary as zero-touch lib. Needs to recompile with renew SDK?

[2015-03-11 10:10] jhubers commented on #2002
Newbe question: Did somebody already find a way to force re-execution by code in a UI node based on the HelloDynamo example? I can't figure out how to catch the runenabled event...

[2015-03-11 13:31] jnealb commented on #3928
@epeter- @dimven  Have you tried reverting back to 7.5? Or is that the version that you are running?

[2015-03-11 14:01] tatlin commented on #3928
@epeter, can we get a copy of your files? @riteshchandawar and @jnealb,
please take a look

On Wed, Mar 11, 2015 at 9:31 AM, Neal Burnham <notifications@github.com>
wrote:

[2015-03-11 14:04] epeter- commented on #3928
pls send me your email adresses
regards peter

Am 11.03.2015 um 15:01 schrieb Matt Jezyk:

---
Diese E-Mail wurde von Avast Antivirus-Software auf Viren geprüft.
http://www.avast.com

[2015-03-11 14:15] jnealb commented on #3928
Neal.burnham@autodesk.com

From: epeter- [mailto:notifications@github.com]
Sent: Wednesday, March 11, 2015 10:04 AM
To: DynamoDS/Dynamo
Cc: Neal Burnham
Subject: Re: [Dynamo] strange results after rerun (#3928)

pls send me your email adresses
regards peter

Am 11.03.2015 um 15:01 schrieb Matt Jezyk:

---
Diese E-Mail wurde von Avast Antivirus-Software auf Viren geprüft.
http://www.avast.com

—
Re

[2015-03-11 17:38] dbaldacchino opened #3952 "Element Type: Ceiling doesn't work"
"Ceiling" is not a recognized Type as Revit has two "types": Basic Ceilings and Compound Ceilings. So when using the following, nothing is returned.

![element type_ceiling](https://cloud.githubusercontent.com/assets/4656191/6602700/2fcddeda-c7eb-11e4-96a4-804e9e8413f6.png)

If I set to "CeilingAndFloor", it picks floors and both types of ceilings just fine. So this seems like an easily repairable

[2015-03-11 21:06] dbaldacchino opened #3954 "Select Model Element/s"
I noticed that Select Model Elements (plural) always outputs a list, even when one object is selected. For consistency and to avoid unnecessary checking when creating custom nodes, can we make Select Model Element (singular) also output a list instead?

One more: The output port on Select Model Element (singular) should be renamed to "Element". Thanks.

[2015-03-11 21:09] jnealb commented on #3954
@dbaldacchino @pboyer I also vote we use names that differ by more than an 's' character.

[2015-03-11 21:26] dbaldacchino commented on #3954
I take it back...In Select Model Elements (plural), when one object is selected, the output is not a list. I'm just wondering whether it should be for consistency's sake. I'm building a custom node with recursion and it's failing with an array problem (going beyond the maximum because it keeps looping). I believe I have to evaluate what the input is so I can terminate it or it'll loop indefinitely

[2015-03-12 00:10] holyjewsus commented on #3948
Hey guys are these both regular custom nodes and downloaded packages?  If you check your %appdata%/roaming/dynamo folder there should be a new .8 folder for packages and custom nodes, do your custom nodes and packages appear in there?

[2015-03-12 01:13] dbaldacchino opened #3955 "Category.Name broken?"
Category.Name is not reporting the category of an element, but the Family Type. Shouldn't we be able to wire this node to an element (ex: a wall) and have it return "Walls"? Or am I mistaken and if so, what am I supposed to use to evaluate what object category I'm processing? Thanks.

[2015-03-12 01:58] dimven commented on #3955
All of the xxx.Name nodes report the name of the element as a string if such exists and are inter-changeable. I'd guess the team keeps them around so that no functionality gets broken. You can get the category name with a python one liner:

![name](https://cloud.githubusercontent.com/assets/7148394/6610703/009f0f54-c89e-11e4-9f0c-50f365a7c390.jpg)

[2015-03-12 02:09] dbaldacchino commented on #3955
Thanks a lot. It still makes no sense to me why the node is named "Category.Name" and it doesn't return the Category Name though! Thanks for sharing the Python script, I'll use that in the meantime to evaluate what object my custom node might be processing. This is something that should be available as a built-in node.

[2015-03-12 04:17] dimven commented on #3952
Seems to work for me with the "All Elements of Category" and the "Ceilings" category.

[2015-03-12 04:30] dbaldacchino commented on #3952
Yep it works with those nodes, but not the ones I posted.

[2015-03-12 05:56] riteshchandawar commented on #3928
You can send it to me on ritesh.chandawar@autodesk.com

Also I would like to know about your build number for Dynamo and which Revit you are using?

[2015-03-12 07:24] mpdiker opened #3961 "Contains / ContainsItem Strange Point Issue"
http://dynamobim.com/forums/topic/point-in-list/

List.ContainsItem and in some situations Builtin.Contains commands are unable to distinguish between Point(0,0,0) and Point(2,2,0)

[2015-03-12 08:21] epeter- commented on #3928
revit is 2015 ur4

dynamo actually i am back to 20150302T2106

Am 12.03.2015 um 06:56 schrieb riteshchandawar:

---
Diese E-Mail wurde von Avast Antivirus-Software auf Viren geprüft.
http://www.avast.com

[2015-03-12 08:28] epeter- commented on #3955
@dbaldacchino
actually the latest dailies are very inconsistent, i went back to .76 builds

[2015-03-12 08:29] epeter- commented on #3948
on my side it pertains both custom nodes and builtin nodes

[2015-03-12 08:30] epeter- commented on #3943
maybe try zoom all. if you have older definitions they will not show on screen as screencoordinates have (obviously) changed

[2015-03-12 08:41] epeter- commented on #3928
@jnealb i stepped back to 7.5 same resul

[2015-03-12 08:56] epeter- commented on #3948
justed tested again. daily build as from 20150310T0953
all nodes here only getmidpoint missing. even after reloading it with packagemangager.
strange!

[2015-03-12 12:37] dbaldacchino commented on #3955
@epeter- I agree. However my observation is based off the latest official stake release, not a daily build. I'm going back too add yesterday the latest build was missing Revit nodes. I went back one build and it worked, but kept breaking and forcing me to restart Revit, not finding core nodes, giving me different results every time I ran a definition, etc.

[2015-03-12 13:26] jnealb commented on #3928
@epeter- Thanks for trying it

[2015-03-12 14:38] epeter- commented on #3928
@jnealb @riteshchandawar @tatlin @dimven @pboyer @holyjewsus
finally i got a workaround running.
python = same as before.
step 1 = creation of all views, creating viewfilters, setting scale..........
then export to excel
step 2 = creation of named sheets for views.
step 3 = placing views on sheets ( ok that python was adopted to just fetching elements from lists)
working without problems (so far)

[2015-03-12 16:58] holyjewsus commented on #3928
hey @epeter- I'm glad you found a workaround, I wont have time to look at this any further util the weekend but after speaking with @pboyer briefly it seems that python has no idea how to cleanup any revit results by itself, and I guess this could cause some kind of strange duplication or errors if you were relying on the results not being duplicated in revit.

Can you explain what you're saving t

[2015-03-12 17:18] epeter- commented on #3928
@holyjewsus michael, thanks for replying! honestly i don't believe that this is an issue with the python node. i was outputting coordinates as lists and checking them. the points were perfect.
in my eyes there is a problem with the placement of views on sheets as this node broke in contex.
the workaround did nothing but seperating the tasks and praetaining the placement on sheets i removed the cal

[2015-03-12 17:23] epeter- opened #3968 "todays daily build not downloadable"

[2015-03-12 21:54] DrewBranson10 opened #3971 "Excell.Read Issues"
I am new to dynamo but I have already used the Excel.Write option and I had no problems using a string node to specify the sheet name in the Write node but when I try to do the same thing with Read function it gives me an error and says that the string is not compatible with the Excel.Read node. Does anyone know why it is doing this?

[2015-03-13 02:34] #2523 closed

[2015-03-13 21:38] #3971 closed

[2015-03-13 23:24] santiagodiazames opened #3986 "Exception thrown"
Exception has been thrown by the target of an invocation.

   at System.RuntimeMethodHandle.SerializationInvoke(IRuntimeMethodInfo method, Object target, SerializationInfo info, StreamingContext& context)
   at System.Runtime.Serialization.ObjectManager.CompleteISerializableObject(Object obj, SerializationInfo info, StreamingContext context)
   at System.Runtime.Serialization.ObjectManager.FixupSp

[2015-03-14 00:21] RodRecker commented on #3986
Thanks for logging this. Which build are you using?

[2015-03-14 00:51] santiagodiazames commented on #3986
This graph was made with 0.7.5. It was working fine. I installed 0.8.0.20150312T1814.exe, then ran this graph and got the exception.
Since then I re-installed 0.7.5, and ran the same graph, it's still working fine.
It's a shame that I cannot use this latest daily build.

[2015-03-14 02:07] sharadkjaiswal commented on #3986
Thanks for reporting this issue, we are working on it. https://github.com/DynamoDS/DynamoRevit/pull/241 attempts to fix this, but this is not yet merged due to other dependent changes.

[2015-03-14 10:18] sharadkjaiswal commented on #3986
Fix is merged now with https://github.com/DynamoDS/DynamoRevit/pull/246

[2015-03-14 10:18] #3986 closed

[2015-03-14 10:20] sharadkjaiswal commented on #3961
It's really strange, seems some problem related to hashing algorithm. We are working on the fix.

[2015-03-14 10:21] sharadkjaiswal commented on #3968
Now builds are available, please check.

[2015-03-14 10:21] #3968 closed

[2015-03-14 10:23] sharadkjaiswal commented on #3948
with 0.8, some of the folder structures are changed, we are working on the issue.

[2015-03-14 21:18] dbaldacchino opened #3988 "WISH - flat list to list of lists mapping per index"
Not sure I'm describing this well in the title, however here's what I'm after.

Let's say I have List "A" and List "B". I make List "B" as part of a function and wire it to the f(x) port. I then wire List "A" to the list port. All members of List "B" are mapped to every member of List "A". This produces a new, larger list with multiple nested sublists, depending on the amount of nesting in each li

[2015-03-14 21:28] dbaldacchino opened #3989 "Crash with List.Map"
I'm getting a crash when I wire this:

![2015-03-14_16-26-46](https://cloud.githubusercontent.com/assets/4656191/6653585/1d5d83e4-ca67-11e4-94c6-2e042877c1fd.png)

Here's the info in the dialog:

Exception of type 'ProtoCore.Exceptions.CompilerInternalException' was thrown.

   at ProtoCore.Utils.ArrayUtils.GetKeys(StackValue array, Core core)
   at ProtoCore.Lang.BuiltInFunctionEndPoint.Execute(C

[2015-03-14 21:31] dbaldacchino commented on #3989
I'm running the stable build 0.7.5.3566. BTW, Im just experimenting and am not sure if the above should give me any result but I was trying to retrieve the indexes of the nsted lists. I can wire just one List.Map node and it gives me all indexes but was curious to see what I'd get if I wire two.

[2015-03-15 17:01] andydandy74 commented on #3988
Not sure if I understood you correctly, Dave, but may this perhaps be what you're after?
![combine](https://cloud.githubusercontent.com/assets/3014437/6657002/32334872-cb3d-11e4-923b-d04538ef6dcc.PNG)

[2015-03-16 05:57] ParametricMonkey opened #3991 "bug when opening file"
I get this when trying to open a file:

Exception has been thrown by the target of an invocation.

   at System.RuntimeMethodHandle.SerializationInvoke(IRuntimeMethodInfo method, Object target, SerializationInfo info, StreamingContext& context)
   at System.Runtime.Serialization.ObjectManager.CompleteISerializableObject(Object obj, SerializationInfo info, StreamingContext context)
   at System.Run

[2015-03-16 09:42] monikaprabhu commented on #3991
@ParametricMonkey , a similar issue is fixed by our development team and the fix is in testing right now. Issue is tracked at (MAGN-6634).Please retest in the next daily build.If you can see this error in a file where there are no Revit nodes please send me the file. Thanks for reporting this.

[2015-03-16 10:27] monikaprabhu commented on #3989
@dbaldacchino I can reproduce this without using list.map. I think it crashes when the input for Getkeys is not a list.
To provide you a correct workaround I would need to see your entire graph. Im tracking this internally at MAGN-6684
a simple graph like following also throws exception due to the invalid input( not list)
![image](https://cloud.githubusercontent.com/assets/5218721/6664364/09e029a8

[2015-03-16 13:30] redinkinc commented on #3807
are there any changes yet?

[2015-03-16 14:40] RodRecker commented on #3807
@pboyer

[2015-03-16 14:46] sharadkjaiswal commented on #3807
@ke-yu is looking into this issue, being internally tracked by MAGN-5624.

[2015-03-16 16:35] urosjovanovic opened #4001 "Numeric Slider Nicknames gone"
I have a file saved with an older (Workspace Version="0.7.5.3566") version and when I open it in latest build all Nicknames from numeric sliders are gone, it just says "Numeric Slider" or "Double Slider" etc.

The names are correctly saved inside xml file.

Any quick fixes/thoughts?

[2015-03-16 17:06] urosjovanovic commented on #4001
Here is a xml test file example:

http://pastebin.com/nMkbuG2h

[2015-03-16 21:15] ksobon opened #4003 "Reading Excel via Python - performance hit"
@pboyer @hlp @kronz

I am doing some work with Excel Interop to get Dynamo a little bit more flexibility with reading/writing Excel files. It seems like there is a huge demand from the community to use Excel.
Right off the bat I am seeing something that worries me - its quite slow to read a large Excel file using Python while its a breeze with the ReadExcel native node. I don't quite understand wh

[2015-03-16 21:25] ksobon commented on #3903
@andydandy74 I personally prefer "addition by subtraction" rather than "addition by addition". I would say this is something that we start knocking on Revit API's developers doors rather than here. Huh? This is just my opinion. If you all really want the ability to choose between the two modes, maybe its a boolean toggle on the selection node instead of another node. Let's keep the number of nodes

[2015-03-16 21:53] ksobon commented on #4003
Actually I figured it out. I needed to add:
[code]
This cleans up my Process Tree and speeds everything up so my nodes are as fast as Dynamo now. :-) I guess I will be working on some excel nodes next. :-)

[2015-03-16 21:53] #4003 closed

[2015-03-16 22:40] dbaldacchino commented on #2487
Hi, what specific elements does this node extract curves from? I tried passing it Walls and Roofs for example, but it always returns an empty list. Is it supposed to work with sketch-based elements only, or also with 2-point placement objects as well? Thanks.

[2015-03-17 05:18] Benglin commented on #3788
Hi @luxliber, do you still have the issue with start page not hiding? If not we can close this issue for now, thanks!

[2015-03-17 06:42] monikaprabhu commented on #4001
@urosjovanovic Thanks for reporting the issue. We are tracking this internally at MAGN-6700.
This issue does not happen with files created in 0.7.6 - is it ok to upgrade to later version?

[2015-03-17 07:16] luxliber commented on #3788
Hi @Benglin !

Thanks for the answer with OpenCommand method. This issue could be closed. But there is still issue with code in DynamoRevit.cs (see https://github.com/DynamoDS/DynamoRevit/blob/Revit2015/src/DynamoRevit/DynamoRevit.cs line 264)

In this line method of  dynamoViewModel.Model is called (not dynamoViewModel method) and that is reason why start page is not closed after openong Dynamo w

[2015-03-17 08:08] urosjovanovic commented on #4001
Well only if 0.7.6 can read files from older versions correctly :) Can you recommend some earlier stable branch I can clone for testing?

[2015-03-17 09:48] monikaprabhu commented on #4001
@urosjovanovic , Here is a workaround that might make you happy -
1. Open the .dyn file in text editor and find and replace string Dynamo.Nodes.IntegerSlider with "DSCoreNodesUI.Input.IntegerSlider"
2. If its double Slider Dynamo.Nodes.DoubleSlider with  "DSCoreNodesUI.Input.DoubleSlider"  and save the file.
This should open file correctly in 0.7.6 and 0.8.0.
While daily builds are still in testin

[2015-03-17 10:02] urosjovanovic commented on #4001
Yep, that worked like a charm :) Thank you very much.

[2015-03-17 10:24] andydandy74 commented on #3903
@ksobon - I'd be perfectly happy with a toogle for the time being. In the long term, though, I think this would be a perfect example for impulses going to the Revit API development team from the Dynamo project - in the Revit UI we can combine the different selection modes and the API should expose that functionality eventually. I also agree with you that redundancies should be avoided (the large n

[2015-03-17 16:29] epeter- opened #4014 "transactions"
use of dynamo often means to build own python nodes.
in these nodes quite often there is a demand for transaction control. especially to rollback transactions is a common requirement.
unfortunately the transactionmanager can't handle rollbacks.
if you try to use your own transactioncontroll you mostly fail because there are still transactions running though you definitely have started none!
quite

[2015-03-17 16:58] ksobon opened #4015 "daily build 0.8.0 not working."
Issue with the daily build:
http://dynamobim.com/forums/topic/lunchbox-not-working/#post-13632

Is there documentation for what changed in the latest release? It looks like my Python nodes are fried.

Thanks!

[2015-03-17 17:38] RodRecker commented on #4015
Hi Konrad - we're working to get an updated build out today.

[2015-03-17 22:16] RodRecker commented on #4015
Hi Konrad - the new build is posted. Let us know if this improves things for you.

[2015-03-18 00:52] FMFuk commented on #4015
All previous dyn files cannot be run in 0.8.706, program exits each time.
Any migration processes are required ?

[2015-03-18 03:05] monikaprabhu commented on #4015
@ksobon I think its the same issue reported in here- https://github.com/DynamoDS/Dynamo/issues/3991

Please test in the latest build -0.8.0.756(DynamoInstall0.8.0.20150317T1508.exe). Seems to have fixed. If not please send me your file , because 3991 is fixed on this build.

[2015-03-18 04:46] ParametricMonkey commented on #3991
Note sure if this is the same...

Exception of type 'ProtoCore.Exceptions.CompilerInternalException' was thrown.

   at ProtoCore.Utils.ArrayUtils.GetKeys(StackValue array, RuntimeCore runtimeCore)
   at ProtoCore.Lang.BuiltInFunctionEndPoint.Execute(Context c, List`1 formalParameters, StackFrame stackFrame, RuntimeCore runtimeCore)
   at ProtoCore.CallSite.ExecWithZeroRI(List`1 functionEndPoint,

[2015-03-18 05:43] monikaprabhu commented on #3991
@ParametricMonkey the issue you originally mentioned first is fixed in latest daily build posted yesterday.

The second crash looks like the same in https://github.com/DynamoDS/Dynamo/issues/3989

If its different pls send me your file.

[2015-03-18 08:36] epeter- opened #4023 "search library gives no result"
i tried to select the lunchbox room collector
my input "lunchbox" - nope
my input "room" - nope
and again performance is veeeeeeeeerrrrryyyyyyy slow in searching library.
sometimes you feel like your computer is considering a lot more than you ;-)

[2015-03-18 14:49] jhubers opened #4027 "semicolon"
When you put some text and semicolons between quotes in a code block, Dynamo automatically breaks the string into pieces.

[2015-03-18 16:50] epeter- opened #4033 "red code block unwiring"
pls don't unwire codblocks that turn red during changing by mistyping.
today i had to rewire miles!!!

[2015-03-18 21:03] epeter- opened #4036 "python bug!"
in order to crop / rotate drawings i examined the net and found jeremy's solution for that problem.
at first run everything worked fine!!!!!
copying and rotating the view.
unfortunately the rollback didn't work.
the rotation worked once not twice.
and that is my point. how can it be, that a script run in the same doc file on the same active view results differently???
tx peter

import sys
import c

[2015-03-19 00:42] epeter- opened #4037 "latest daily 20150317xxx"
clipping planes dont work, model mostly invisible

[2015-03-19 00:46] RodRecker commented on #4037
Fix coming in the next build.

Rod

On Wed, Mar 18, 2015 at 5:42 PM -0700, "epeter-" <notifications@github.com<mailto:notifications@github.com>> wrote:

clipping planes dont work, model mostly invisible

-
Reply to this email directly or view it on GitHub<https://github.com/DynamoDS/Dynamo/issues/4037>.

[2015-03-19 05:27] FMFuk commented on #4015
Thanks, it is fixed using the latest build.

[2015-03-19 08:55] epeter- opened #4042 "list.transpose daily 20150317Txx"
Warning: List.Transpose operation failed.
Das Objekt des Typs "Autodesk.Revit.DB.ElementId" kann nicht in Typ "System.Collections.IList" umgewandelt werden.
type cannot be changed

[2015-03-19 11:34] manuKrakow opened #4044 "UI node library is not visible when located in package folder"
Hi,
Using DynamoInstall0.8.0.20150319T0206.exe version (0.8.0.772)
I have a component to expose some UI nodes. If this dll is in my  package folder, the dll is not loaded (UI nodes not visible inside the Dynamo library)
If I copy this dll in ...\Dynamo 0.8\nodes folder all is fine - I could use this as short term solution
DynamoInstall0.8.0.20150317T2200.exe was ok but I can't rollback.  I need th

[2015-03-19 12:25] #4015 closed

[2015-03-19 15:33] vasshaug opened #4046 "Dynamo wont start"
Installed a bunch of package updates (and a few new ones) and now Dynamo wont start:
![image](https://cloud.githubusercontent.com/assets/5300197/6733958/b0cea6f2-ce55-11e4-9e3d-bc8c143256d2.png)

[2015-03-19 16:35] RodRecker commented on #4046
@vasshaug Can you check which folder those packages are installed to? Which version of Dynamo are you using?

[2015-03-19 17:13] ikeough commented on #4044
@Benglin It seems as if `NodeModel` types are not being loaded from package contents. Did our work on refactoring the path manager affect this?

[2015-03-19 19:00] dbaldacchino opened #4047 "Slow Search response"
I have been noticing a big difference in the Search response with Dynamo on Windows 7 (normal) vs. on Windows 8.1 (slow). Is this a known problem? What would cause the Search to feel sluggish and not very responsive? In Windows 7, the list starts refining itself as you type, whereas on Window 8.1 you start entering letters and you don't even see the text at first, then it suddenly starts respondin

[2015-03-20 19:24] pboyer commented on #4047
@elayabharath @Benglin This looks important!

[2015-03-20 20:30] epeter- opened #4057 "python script from script fails to work"
Warning: One or more of the input types are not matching, please check that the right variable types are being passed to the inputs. Couldn't find a version of EvaluateIronPythonScript that takes arguments of type (System.IO.FileInfo,__array,__array)
![bug](https://cloud.githubusercontent.com/assets/6928491/6760384/3c9f65b6-cf48-11e4-9225-1d8f8b63744c.png)
filename exists
input = list
out = in

[2015-03-20 20:32] epeter- commented on #4047
+ 1
since before search was lame, but since the change to the graphical menu its sometimes 30 secs till a result shows up

[2015-03-20 20:32] #4042 closed

[2015-03-20 20:53] epeter- commented on #4057
forgot the file read to string node sorry

[2015-03-20 20:54] dbaldacchino commented on #4047
I initially thought it was because of the graphical UI, but I'm noticing the above on the non-graphical stable release 0.7.5.3566.

[2015-03-20 20:58] epeter- commented on #4047
i  absolutely agree. same here. but graphical interface made it worse

[2015-03-20 21:24] kronz commented on #4047
anything you folks can say about your particular setups?  System specs?  Graphics cards?  This is not reproducing on a couple of our machines at the office, so trying to see what you have in common

[2015-03-20 21:25] #4057 closed

[2015-03-20 21:33] kronz commented on #4037
Fixed
https://github.com/DynamoDS/Dynamo/pull/4032

[2015-03-20 21:33] #4037 closed

[2015-03-20 22:14] epeter- commented on #4047
![system](https://cloud.githubusercontent.com/assets/6928491/6761754/9210cd7e-cf56-11e4-8481-8b4b4c6d30ba.png)
graphics =
![nvida](https://cloud.githubusercontent.com/assets/6928491/6761778/cad6b3c6-cf56-11e4-825b-e73d37128901.png)

[2015-03-20 22:22] dbaldacchino commented on #4047
Hi Zac, I'll send you the output of my msinfo32.exe from my laptop.

[2015-03-21 02:29] pboyer commented on #4047
Which packages installed? We need to reproduce exactly what you have in
search.

On Fri, Mar 20, 2015, 6:22 PM Dave Baldacchino <notifications@github.com>
wrote:

[2015-03-21 02:55] dbaldacchino commented on #4047
It's slow without any packages but just in case, I have Clockwork and Ampersand.

Sincerely, Dave
(Sent from my Android device)

From:"Peter Boyer" <notifications@github.com>
Date:Fri, Mar 20, 2015 at 9:29 PM
Subject:Re: [Dynamo] Slow Search response (#4047)

Which packages installed? We need to reproduce exactly what you have in
search.

On Fri, Mar 20, 2015, 6:22 PM Dave Baldacchino <notificatio

[2015-03-21 08:58] epeter- commented on #4047
all packages available (at least most of them).... btw reminds of still
unsolved conflict dynamo - rhynamo (Point.By.....) which is misinterpreted
regards peter

Am 21.03.2015 um 03:29 schrieb Peter Boyer:

---
Diese E-Mail wurde von Avast Antivirus-Software auf Viren geprüft.
http://www.avast.com

[2015-03-21 10:13] dimven commented on #4033
Not really a solution, but if you do an undo (Ctrl+Z), the wires will reconnect, however you'll need to type in your changes again from scratch.

[2015-03-21 17:33] epeter- opened #4058 "transactions"
transactions don't seem to be comitted() as expected.
Trnsactionmanager is unloaded!!!!!!!!!!!!!!!
so i would expect that transactionhandling ist done by me?

example
....
for i in x:
         t1 = Transaction(doc)
         t1.Start("pls do what i need")
          .....do something
          t1.Commit()
          t2 = Transaction(doc()
          t2.Start......
          t2.Commit()

error:

Warnin

[2015-03-21 18:44] ikeough commented on #4047
@dbaldacchino @epeter- Are you both running Dynamo on top of Revit 2015 when the problem occurs?

[2015-03-21 18:55] dbaldacchino commented on #4047
No, Revit 2014 is what I've been using mainly. But it does the same in 2015 and stand-alone.

Sincerely, Dave
(Sent from my Android device)

From:"Ian Keough" <notifications@github.com>
Date:Sat, Mar 21, 2015 at 1:44 PM
Subject:Re: [Dynamo] Slow Search response (#4047)

@dbaldacchino @epeter- Are you both running Dynamo on top of Revit 2015 when the problem occurs?

—
Reply to this email directly

[2015-03-21 19:21] pboyer commented on #4047
@ikeough This smells of a binding issue to me.

On Sat, Mar 21, 2015 at 2:55 PM, Dave Baldacchino <notifications@github.com>
wrote:

[2015-03-21 19:22] epeter- commented on #4047
solely revit 2015.
btw dynamo in 2016 seems to be an empty shell

Am 21.03.2015 um 19:44 schrieb Ian Keough:

---
Diese E-Mail wurde von Avast Antivirus-Software auf Viren geprüft.
http://www.avast.com

[2015-03-22 09:48] andydandy74 commented on #4033
I agree, this is really a nuisance, especially when dealing with longer scripts...
And Ctrl+Z unfortunately still does not work reliably on non-US systems (#3218).

[2015-03-22 17:30] eproca opened #4061 "Wishlist: Dynamo solids to Revit voids"
Probably the way that the solid geometry created in Dynamo is “imported” in Revit will be greatly enhanced soon. Anyway this can be an easy but practical possibility.

Recently I have been working many times creating solid geometry in Dynamo that will subtract other elements. But this operation is doing in Revit via “Cut”. This way of working is rather  convenient and flexible for many reasons.

R

[2015-03-23 09:20] hsveinbjorns commented on #3627
Thank you @dimven. Sorry about the delay, busy period at work. I have created a repository and put by Revit and Dynamo files in there. The problem seems to be that the faces aren't planar. Hope your offer still stands about the help :)

[2015-03-23 10:20] monikaprabhu commented on #4027
@jhubers Thanks for reporting the issue. I'm tracking this internally at MAGN-6742.
If this is a blocking issue right now, please use String node which allows string input with semicolon in between

[2015-03-23 12:17] dimven commented on #3627
I'll have a look during the weekend. I checked out your repo, but it seems it's still empty.

[2015-03-23 12:29] dimven commented on #4061
Correct me if I'm wrong but I thought that functionality already exists with "Form.ByLoftCrossSections"
![capture1](https://cloud.githubusercontent.com/assets/7148394/6779881/4c652c10-d19b-11e4-87e2-6a0d987401d3.JPG)

[2015-03-23 13:06] hsveinbjorns commented on #3627
I put the files under "Releases", didn't find another way to upload them... Thank you again.

[2015-03-23 13:34] eproca commented on #4061
Hi Dimitar,

Reading your answer I am wondering If I explained myself before. In the kind of workflows that I was thinking, the solid geometry used to cut has to be created using Dynamo own geometry tools. And normally, if they will be many elements to cut the same revit entities , they are joined in one single solid in Dynamo before importing in Revit. So later in Revit I can cut with hundreds of

[2015-03-23 14:33] kronz commented on #4047
@jnealb do you have a Win8 setup we can check this against?

[2015-03-23 14:40] dimven commented on #4061
Seems like the API is pretty limited in that regard as well - the explode command is not exposed. However there might be a possible workaround with "FreeFormElement.Create()" if you can somehow trick the API and translate a Dynamo solid into a Revit solid.( xx.ToRevitType() converts solids into triangular meshes)

[2015-03-23 15:16] Benglin commented on #4044
Every time I choose to go on leave, somebody's life becomes a tad bit harder. This is one such instance. I might have missed this during the transition to new path management strategy, I apologize for the trouble this have caused you, @manuKrakow. I will look at this when I return to work tomorrow!

[2015-03-23 15:17] eproca commented on #4061
Thanks  Dimitar. Quite interesting the link. Even if the explode command is not exposed (by the moment) to the API, it seems that maybe it is not needed at all......

[2015-03-23 15:42] Benglin commented on #4044
An [internal tracked defect](http://adsk-oss.myjetbrains.com/youtrack/issue/MAGN-6744) is created for this issue.

[2015-03-23 21:07] kudilovich commented on #3721
I second the request to add icon customization. Also could you please clarify what Attributes need to be used in order for the list of Input and Output parameters to get filled in for WPF (UI) nodes.
Thanks.

[2015-03-24 00:14] Omidmr opened #4068 "How Can i Setup Addons In Dynamo ?"
How Can i Setup and load Addone IN Dynamo Also Svg ?

Thank's so much.

[2015-03-24 06:18] Benglin commented on #4044
I have [developed a fix](https://github.com/DynamoDS/Dynamo/pull/4074), @manuKrakow could you please have a go with it and let me know how it turns out for you? Thanks!

[2015-03-24 06:43] dimven commented on #4061
Hi Eduardo,
I toyed around with the above concept and came up with the following:

![2015-03-24_143721](https://cloud.githubusercontent.com/assets/7148394/6796792/0971884c-d234-11e4-872b-6f25ba0f2b1b.jpg)

Hope it helps.

[2015-03-24 07:14] dimven commented on #4036
Hi Peter,
I don't have much experience with multiple transactions but from my understanding, you still need to wrap all your revit transactions into the global Dynamo transaction (TransactionManager.Instance.EnsureInTransaction(doc))
Also an a "doc.Regenerate()" after the "tgroup.RollBack()" might be necessary.
Good luck!

[2015-03-24 08:14] epeter- commented on #4036
dimitar, thanks for replying.
according to transactions.
if you run a python script there seems to ba a global transaction
started. - even if you unload the transactionmanager.
i found out by creating a script that rotates views. btw a mess in api.
to rotate a view you have to copy one, find the cropbox, rotate it,
delete the old one and rename the new one.
each step has to be done after committin

[2015-03-24 12:54] kronz commented on #4068
HI @Omidmr ,
Can you say a little more about what you are trying to do?  Expose the functionality of a Revit add-in inside of Dynamo?

[2015-03-24 16:34] manuKrakow commented on #4044
@Benglin, manual testing looks ok, I'm trying to figure out why the some of my unit tests failed.  I'll keep you posted.

[2015-03-24 17:23] Omidmr commented on #4068
hi kronz
i’m a MA Architecture Student

I have a problem about how to create the form Muqarnas by Dynamo
Muqarnas is a three dimentional decoration of Islam architecture.

I think I can create muqarnas with svg .

thanks

[2015-03-24 19:04] eproca commented on #4061
Many thanks Dimitar,

I was posting this as something nice to have in the future. Anyway you can always manually explode the imported instance created.

So  I wasn’t expecting any solution for doing it NOW. I am impressed that you managed to do it.

It is a pity that you cannot convert directly a Dynamo solid to a Revit solid via APi in the python script. The irony here is that the solids created

[2015-03-25 01:55] Benglin commented on #4044
Hi @manuKrakow, last night @pboyer had did some serious restructuring and provided [a more thorough fix](https://github.com/DynamoDS/Dynamo/pull/4081) to the problem. If you could have a go with testing that, it'll be awesome. Thanks!

[2015-03-25 01:56] ralvarez76 opened #4084 "Addin organization in UI"
It would make for a cleaner UI if custom packages where grouped, organized and differentiated from the out of the box categories. Right now everything kind of meshes together which makes it harder to find what you want. It would be cool if maybe the 3rd party packages where under a "3rd Party" or "Downloaded Nodes" grouping, and that maybe their headings where differentiated with a different color

[2015-03-25 02:03] ParametricMonkey opened #4085 "Unable to edit/open python node"
Hi

I'm using the latest daily build. When I place a Python script node and right click to edit, nothing happens.

[2015-03-25 02:21] fairy420 opened #4086 "CurtainPanel.Width & CurtainPanel.Height"
幕墙划分网格后，CurtainPanel.Width & CurtainPanel.Height提取的参数就反了，只有位于最底部板块的参数是正确的。
![image](https://cloud.githubusercontent.com/assets/11640589/6817164/429a0dfc-d2d8-11e4-8a31-dbd9791958d0.png)

[2015-03-25 03:27] elayabharath commented on #4084
Completely agreed, this was in the original library UI design and was dropped. Separating this would allow us to do neat things like searching within addins, linking that with package manager, issue updates for packages etc.

Is this what you are looking for?

![package-in-library](https://cloud.githubusercontent.com/assets/4365353/6817878/dc044ce2-d2e1-11e4-9bcf-e9d16ac6362a.png)

[2015-03-25 10:37] andydandy74 commented on #3433
@pboyer - This is a really annoying "feature" of Dynamo. I just installed a package that has an older version of my own package as a dependency, didn't get a warning and effectively managed to overwrite some unpublished (and uncommitted) changes to my own package. Please consider fixing this!

[2015-03-25 13:59] dimven commented on #3627
Hi Helga,
I checked out your file and I have a few suggestions. I suspect that the
problem stems from the fact the model-in-place wall's path is following an
edge hosted in the road family, instead of an edge hosted in the project
file itself and that may lead to very fine tessellation of the path's
curve. And due to the fact that the surface is extrapolated from the path,
that leads to an over-co

[2015-03-25 14:31] williamwong commented on #4084
I'll second this suggestion for separating out custom packages. Would make for a much cleaner navigation. Also, those tabs look nice...

[2015-03-25 14:41] ralvarez76 commented on #4084
Yes that's more like what I was thinking.

Regards,

Rafael Alvarez

Sent from my mobile device.

[2015-03-25 15:40] TravisMWilliams opened #4091 "Crashes when dynamo file is initiated"

[2015-03-25 17:30] RodRecker commented on #4091
@TravisMWilliams Sorry about this. Which version of Dynamo are you using?

[2015-03-25 17:35] eproca commented on #4061
Hi again Dimitar,
Please,  can you copy and paste here the text of the python node?

Many thanks!!

[2015-03-25 17:57] TravisMWilliams commented on #4091
HI Rod,

I’m on version 0.8 (which I realize is beta). Thank you for the quick response.

Sincerely,

Travis Williams
Senior Technical Specialist

PHONE    412-932-2044
FAX         412-932-2045
MOBILE   724-713-2417

AE7 abu dhabi   amman   baghdad   bratislava   dubai   dusseldorf   pittsburgh   san francisco
2840 Liberty Ave  |  Suite 403  |  Pittsburgh, PA  15222  |  ae-7.com

Confidentiality N

[2015-03-25 22:20] eproca commented on #4061
Dont mind, the text was that long after all...

After playing a bit, it is really interesting. But in  different scenario. When you import solid geometry  in a family, maybe you will explode it. I mean solid geometry made in another software in general, not made with Dynamo hosted in Revit.

If the solid geometry is a bit complex, sometimes you will have problem with exploding it. Some elements wi

[2015-03-26 01:32] dimven commented on #4061
Glad it helped. Sorry I forgot to post the code as well. Here it is for future reference:

import clr
clr.AddReference("RevitServices")
import RevitServices
from RevitServices.Persistence import DocumentManager
from RevitServices.Transactions import TransactionManager
doc = DocumentManager.Instance.CurrentDBDocument
clr.AddReference("RevitNodes")
import Revit
clr.ImportExtensions(Revit.Elements)
c

[2015-03-26 02:18] monikaprabhu commented on #4091
@TravisMWilliams, can you give us more details?File created from which version are you trying to open. Or please share the file

[2015-03-26 02:25] monikaprabhu commented on #4085
@ParametricMonkey , I tried this on latest build -DynamoInstall0.8.1.20150324T2038.exe, I'm able to see the editor - Can you pleas give I a try on this build and let me know- Thanks

[2015-03-26 04:21] ikeough commented on #4061
Hi guys. This is a really cool hack.

The problem for us is that there is no way via the Revit API to import an ASM solid directly into Revit to be used for a FreeForm. We're working with the Revit team on a way to do this.

We're tracking this internally as [MAGN-6769](http://adsk-oss.myjetbrains.com/youtrack/issue/MAGN-6779).

[2015-03-26 08:34] eproca opened #4102 "Inconsistency in the units of imported sat files in 0.8"
The new units behaviour of 0.8 is a huge step in the right direction, IMHO. But there are some little issues pending yet.

From the second half of last year, Dynamo is recognizing the units information embedded in the sat files and making automatically the scale needed, assuming that the internal units of Dynamo are always meter. @ptierney confirm it here:
https://github.com/DynamoDS/Dynamo/issues

[2015-03-26 16:43] ptierney commented on #4102
Hi @eproca, you are correct, with the units upgrade, SAT files are imported as meters, regardless of the base unit type (and scaled as needed). We're working on a way to expose import controls now. Stay tuned.

[2015-03-26 17:02] RodRecker commented on #4102
@eproca Yes - this is funny because we were talking about this exact topic during lunch here in Waltham - probably at the same time you were writing this. Thank you for the feedback and as Patrick says, stay tuned.

[2015-03-26 17:46] urosjovanovic opened #4106 "Dynamo General Performance"
Having a model with at least couple of hundred nodes (including the ones in custom nodes) the run time is painfully slow (10-15 minutes). The nodes are primarily basic inputs and geometry operations, generating complex 2D line profiles. Granted, some optimization to the model can and must be done, I am in process of condensing nodes into code but I was wondering, performance wise, is it faster to

[2015-03-27 05:04] monikaprabhu commented on #4086
@fairy420 , Thanks for reaching back to us. Which version of Revit/Dynamo  are you using
Could you please post the files , for us take a look at?

[2015-03-27 06:15] epeter- opened #4108 "excel write"
today i created an exce output.
all listelements are of same length
longest list = 108 elements hence i generated empty elements to fill.
get an error that cannot be written to excel.
same definition with just removing one text field is working as expected

[2015-03-27 11:25] TravisMWilliams commented on #4091
Hi Monika,

I am using release 0.8.0.706. I have attached the file for your review.

Sincerely,
Travis Williams

From: monikaprabhu [mailto:notifications@github.com]
Sent: Wednesday, March 25, 2015 10:19 PM
To: DynamoDS/Dynamo
Cc: Travis Williams
Subject: Re: [Dynamo] Crashes when dynamo file is initiated (#4091)

@TravisMWilliams<https://github.com/TravisMWilliams>, can you give us more details?F

[2015-03-27 12:56] aamo87 opened #4109 "Problem with Code Block"
Hi everybody,
I'm new to Dynamo and I have downloaded the Dynamo_language_guide.pdf and I think there is a problem with code block, when I try to make a Point.ByCoordinates.
It is not listed with constructors.
![codeblock](https://cloud.githubusercontent.com/assets/11161225/6868087/31828976-d491-11e4-86f3-da872fbb47fb.PNG)
![codeblock1](https://cloud.githubusercontent.com/assets/11161225/6868088/3

[2015-03-28 15:34] RodRecker opened #4114 "Dynamo 0.8.0 Release Candidate Posted"
We have posted a release candidate for 0.8.0 and will be promoting it in the user forums. Please let us know if you see any issues with it. It is available from the builds site in the Daily Builds section:
http://dynamobuilds.com/

or directly at:
http://dyn-builds-data.s3-us-west-2.amazonaws.com/DynamoReleaseCandidateInstall0.8.0.exe

Thank you for your help validating this one and the many daili

[2015-03-28 20:12] aamo87 commented on #4114
I installed it and I like the new additions. it is easier and nice, so far it's working fine but I think it's slower with codes running

[2015-03-29 03:28] andydandy74 opened #4115 "List.Filter & Empty Lists"
Feeding an empty list into List.Filter will return a null value for both outputs and the following warning:
[code]

[2015-03-29 03:32] andydandy74 opened #4116 "Some Revit query nodes return null when input is an empty list"
Feeding an empty list into Topography.Points will return a null value and the following warning:
`Internal error, please report: Dereferencing a non-pointer. (3f47aacd)`
Expected behaviour: node returns an empty list
Version: 0.8 RC

[2015-03-29 03:38] andydandy74 opened #4117 "Categories dropdown fails for several categories"
Setting the Categories dropdown to several categories produces the following warning:
[code]

[2015-03-29 03:42] andydandy74 commented on #4116
The exact same thing happens when feeding an empty list into Element.Name node.

[2015-03-29 04:55] andydandy74 commented on #3726
This looks fixed in 0.8 RC

[2015-03-29 04:55] #3726 closed

[2015-03-29 04:56] andydandy74 commented on #3725
Seems fixed in 0.8 RC

[2015-03-29 04:56] #3725 closed

[2015-03-29 05:04] andydandy74 commented on #3444
Looks fixed in 0.8 RC

[2015-03-29 05:48] andydandy74 commented on #3208
Glad to see that this is partially fixed in 0.8 RC.
Here's a description of the new behaviour:
1. Entering ```Point``` in a CBN for the first time will still yield the following result in autocomplete:
![point-autocomplete](https://cloud.githubusercontent.com/assets/3014437/6884216/a44913bc-d5e5-11e4-81a7-d7e41a4de9fb.PNG)
(So at that point it still *looks* broken...)
2. Entering ```Point.``` will

[2015-03-29 06:12] andydandy74 opened #4118 "Screenshot tool finally completely unusable"
Just when I thought Dynamo's screenshot tool couldn't get any worse, it actually does. Wow! ;-)
It seems like *now* all we get is the currently visible part of our graph (in the current zoom factor).
Guys, please - I have a PrintScreen button for *that* functionality... :-1:
I'll just treat this as an opportunity to summarize what is - in my opinion - wrong with the screenshot tool by describing w

[2015-03-29 06:41] andydandy74 commented on #4114
@RodRecker - this version seems pretty stable. I ran a number of my larger graphs on it and didn't run into any major trouble. A couple of observations:
- Although the README that ships with the 0.8 RC says that the namespace collisions have been taken care of, I am still having some issues with autocomplete (#3208). For people just getting into CBNs this may be confusing behaviour.
- It must have

[2015-03-29 08:20] eproca opened #4120 "AdjacentFaces and AdjacentEdges methods are broken"
![02](https://cloud.githubusercontent.com/assets/6596042/6884628/d9449fac-d5fc-11e4-9b25-35337709f6c5.jpg)
It seems that these important topology tools are not working in 0.8 (in both last 0.8.1 build and 0.8.0 RC). I have not tested 0.7.5

[2015-03-29 13:12] ikeough commented on #4120
@ptierney Can you take a look?

[2015-03-29 16:01] pboyer commented on #4118
@ramramps

On Sun, Mar 29, 2015, 2:12 AM Andreas Dieckmann <notifications@github.com>
wrote:

[2015-03-30 00:09] ksobon opened #4121 "Autorun enabled by default"
It's a bad idea to by default have Auto-run on in Dynamo. It's not Grasshopper and its performing a lot heavier operations than Grasshopper. I think it was good as it was before when it was on Manual to begin with and user could switch to Auto-run. Why?
Well, for starters Dynamo doesn't Auto-save so any screw-up is a fatal one. There is no getting your work back.
Second, it ports into Revit and do

[2015-03-30 04:21] andydandy74 commented on #4121
:+1:
I guess in sandbox mode it would make more sense, but not on top of Revit.
Also, I noticed I managed to switch involuntarily from Manual to Autorun several times - probably because I was moving my scrollwheel and the dropdown was somehow focussed?

[2015-03-30 05:47] monikaprabhu commented on #4121
http://adsk-oss.myjetbrains.com/youtrack/issue/MAGN-6825

[2015-03-30 05:49] aparajit-pratap commented on #3208
@andydandy74 thanks for pointing out this discrepancy. The first auto-complete list where all the conflicting namespaces are displayed on typing `Point` is expected. The system cannot automatically differentiate between classes with name `Point` that occur in different libraries (in this case Dynamo itself and Rhino both have classes `Point`). Autocomplete therefore has to display the fully qualif

[2015-03-30 08:14] aparajit-pratap commented on #3208
Also conflicting namespaces are now shortened into shortest names that can be uniquely resolved. For example, `Autodesk.DesignScript.Geometry.Point` and `Rhino.Geometry.Point` will now be shortened and displayed as 'Autodesk.Point` and 'Rhino.Point` resp. You may see this in the latest daily build: https://github.com/DynamoDS/Dynamo/pull/4060

[2015-03-30 08:14] andydandy74 commented on #3208
From a user perspective (or you might as well call it my personal bias) I would say that it would make a lot of sense to find a solution where Dynamo's own library *always* takes precedence. Imagine what would happen if somebody made a package for, lets say geometry conversion to another software / file format that had a lot of commands with names of generic geometric entities like ```Point```, ``

[2015-03-30 08:43] aparajit-pratap commented on #3208
Yes that's right, resolution of the engine issue will no longer execute the statement `Point.ByCoordinates();` in the above scenario. You will have to specify `Autodesk.Point.ByCoordinates();` or the fully qualified `Autodesk.DesignScript.Geometry.Point.ByCoordinates();` for it to work. We did consider giving a preference to all Dynamo native classes without having to specify namespaces for them h

[2015-03-30 08:45] andydandy74 opened #4126 "Switching between Dynamo versions"
I really like the fact that there's a version switcher for Dynamo 0.7 and 0.8 - but it shows some - in my opinion - erratic behaviour:
After having switched the version the version switcher is greyed out:
![nomoreswitchingversions](https://cloud.githubusercontent.com/assets/3014437/6893002/80b80518-d6c9-11e4-8cbf-82e52691e537.PNG)
Only after restrating Revit is it possible to use the version switc

[2015-03-30 08:49] andydandy74 commented on #3208
@aparajit-pratap - thanks for clearing that up. One less thing to worry about. :-)

[2015-03-30 08:49] #3208 closed

[2015-03-30 09:12] andydandy74 opened #4128 "CurtainPanel.ByElement unreliable"
As shown in the screenshot below, CurtanPanel.ByElement returns ```null``` as soon as a curtain wall contains door or window elements (which, in my experience, is typically the case). Nested wall elements or curtain walls luckily pose no problem.
![cwp_limitations](https://cloud.githubusercontent.com/assets/3014437/6893427/1ade1756-d6cd-11e4-95db-2114bf515318.PNG)
As a first step, it would be grea

[2015-03-30 09:18] andydandy74 commented on #4128
Example files posted here:
https://github.com/CAAD-RWTH/ClockworkForDynamo/tree/master/issues/4128_CurtainPanel.ByElements%20unreliable

[2015-03-30 11:34] pboyer commented on #4128
@kronz

On Mon, Mar 30, 2015, 5:18 AM Andreas Dieckmann <notifications@github.com>
wrote:

[2015-03-30 12:39] ondejcik opened #4130 "WISH - Family Orientation"
Hi, is there way how to obtain family orientation ? Location point plus angle ?
thanks, It would be very usefull.

[2015-03-30 12:40] ondejcik opened #4131 "Generic model line based"
Hi, is there a way to place line based generic model families with dynamo with 2 points, line vector or something similar ? Family instance by poit take only one point, I cant find any other way.

[2015-03-30 12:44] ondejcik opened #4132 "Wish - Node Groups"
Hi,
It would be very helpfull to have a possibility to group node silimar to grashopper. There are many situation where creating node is unpractical, but certain organization would be necessary. thanks, Vladimir

[2015-03-30 12:47] ondejcik opened #4133 "Copy-paste Notes"
Hi,

When copy pasting nodes and notes together, only nodes of copied objects are selected. This is very annoying especially when all objects are initially placed over other nodes.

[2015-03-30 12:51] andydandy74 commented on #4133
duplicate of #332

[2015-03-30 12:56] andydandy74 commented on #4130
Haven't tried it myself yet, but there's a package called ```Elements.position_rotation_mirrored``` on the package manager that might help. For retrieving element locations you can try the built-in node FamilyInstance.Location which works for all placeable families or alternatively Element.Location from package Clockwork which should work for soem system families (e.g. walls) and line-based famili

[2015-03-30 13:00] andydandy74 commented on #3749
Thanks @ptierney , I must have missed your reply at the time. Will try your code. Maybe it would make sense to include a conversion node for that purpose in the Mesh Toolkit.

[2015-03-30 14:29] kronz commented on #4121
Hi Guys,
The run state is now saved with the file.  That is, when you open a new file, it is in run auto by default.  If you open an old file before run auto was the default state, the file will be in manual.  If you save a file in manual, it will open in manual.  If you save in auto, it will open in auto.   Does that make more sense to you?

Thanks
-Z

[2015-03-30 15:26] dbaldacchino commented on #4121
We need a "safe mode". I've had a problem with a workspace that was saved with Auto enabled, and I couldn't get to open it to make edits as it kept crashing/hanging up. We need a way to go all manual so we can troubleshoot. Perhaps if Dynamo crashes it should open everything in Manual? Or give us an option to override the setting of each workspace and open in Manual (what I'm dubbing as "Safe Mode

[2015-03-30 15:37] dbaldacchino commented on #3989
Hi, thanks for the followup. Unfortunately I don't have a specific graph. I managed to crash as I was trying to understand how GetKeys works :) So I must have wired some invalid input and caused the crash as you pointed out.

[2015-03-30 16:03] ksobon commented on #4121
@kronz forcing/saving with autorun is a tricky proposition. You can do that in Grasshopper because it allows you to a: recover autosaved files if you crashed. b: if you crashed next time you open it doesn't try to resolve the definition. it shows you a warning and puts a lock on it so that your machine doesnt perpetually crash. Now since Dynamo doesnt have any of these abilities then for now its j

[2015-03-30 16:06] ptierney commented on #4120
AdjacentFaces and Edges is not supported. I don't know why they are exposed.

[2015-03-30 16:19] eproca commented on #4120
AdjacentFaces and Edges were really killer apps of DesignScript from the very beginning.
Have we (or will we have) any equivalent tools?

[2015-03-30 16:49] andydandy74 commented on #4121
Couldn't agree more.

[2015-03-30 16:54] holyjewsus commented on #4121
Hey Guys, crash protection atleast has been added in the last few days and should make it to daily builds soon.

[2015-03-30 17:02] holyjewsus commented on #4120
@eproca if you need basic topology tools now you can checkout the topology namespace in DynamoUnfold, theres no node for grabbing adjacent faces or edges, but it shouldn't be too difficult to build some on top of that code. also see the wiki here:https://github.com/holyjewsus/DynamoUnfold/wiki#topology

[2015-03-30 19:42] jbenoit44 commented on #4114
Is running fine here, with some  issues in search engine (see forum). I was able to publish a custom package update, no issue except a small one: the CN was in edit mode when publishing, then just after it was completed (uploaded), all the wires disappear from my screen. closing CN and reopen fixed it, but was weird looking for a short period of time!

[2015-03-30 23:04] cadtot opened #4134 "Internal Error:Non Pointer Issue"
Ask me to report this issue on version 0.8.0.856, clip attached
![2015-03-31_12-01-04](https://cloud.githubusercontent.com/assets/8200768/6908967/0847b86e-d79e-11e4-93c8-1727c65229ae.png)

[2015-03-31 03:26] sharadkjaiswal commented on #3926
This issue should have been fixed with latest daily build as well as RC 0.8.0 build. Please try it out and let us know the feedback.

[2015-03-31 03:26] #3926 closed

[2015-03-31 03:27] sharadkjaiswal commented on #3864
With the latest 0.8.0 RC build, you should be able to seamlessly work with the standalone Dynamo, even if Revit was installed at any other location than “C:\Program Files\Autodesk\”. Try it out and let us know your comments.

[2015-03-31 03:54] kronz commented on #4128
Tracking internally as http://adsk-oss.myjetbrains.com/youtrack/issue/MAGN-6859

[2015-03-31 04:49] Benglin commented on #4047
@aosyatnik has been working on [improving the performance](https://github.com/DynamoDS/Dynamo/pull/4127) this week, we believe this will address some start-up time delay and probably, to a lesser extent, search speed. We don't currently have any numbers for this yet until the work is finalized.

[2015-03-31 06:16] ke-yu commented on #4106
hi @urosjovanovic , sorry I can't give you a concrete answer yet. For performance it could because of multiple reasons. If the CPU time mostly spent on geometry functions, then using code block node or use Python Script probably won't be much helpful. If there are big arrays in the graph, then writing Python script or optimized code may help to avoid some unnecessary memory copy operation and impr

[2015-03-31 06:33] monikaprabhu commented on #4106
@urosjovanovic Could you also post or send your file to us- we can help you explore a better workaround.

[2015-03-31 06:38] riteshchandawar commented on #4121
@dbaldacchino , for now if your file keeps on crashing on opening, then you can change its saved state by opening DYN in notepad and change RunType="Manual".

Thanks,
Ritesh

[2015-03-31 06:54] monikaprabhu commented on #4133
@ondejcik , I tried to copy paste a few nodes and note together in latest daily build
The pasted node is highlighted at my end, and not copied node. Are you using the latest build ?
We already have an issue filed for this MAGN-263.
![untitled](https://cloud.githubusercontent.com/assets/5218721/6913638/2588f836-d7b5-11e4-9017-348325bca6b8.png)

[2015-03-31 07:21] riteshchandawar commented on #4126
@andydandy74 : Here we have improved on one step, with old version selector if you want to switch to different version you were restarting revit, but with new Version Selector, it will allow you to select different version **without exiting Revit** . (only first time) But once you select required version and launched Dynamo then you need to restart Revit to change the version. (which is similar to

[2015-03-31 07:26] ondejcik commented on #4133
@monikaprabhu , even at your picture NoDe is highlighted, but NOTE is not and that is my comment.

[2015-03-31 07:29] riteshchandawar commented on #4117
Hello @andydandy74 I am getting the same warnings on 0.7.5 if I do it with Run Automatically ON.

On 0.8.0 it is noticeable mainly because it is running in automatic mode by default.

Can you check on 0.7.5 with Run Automatic ON.

I used Category node without connecting to any other node, and I used based revit file as our DynamoSample.rvt.

Thanks,
Ritesh

[2015-03-31 07:34] monikaprabhu commented on #4133
@ondejcik , Thanks for clarifying! Yes I see that! MAGN-263 is to track the notes are not highlighted. Will follow up the developer on this.

[2015-03-31 07:46] monikaprabhu commented on #4121
Ive filed an issue MAGN-6825 to track this request from user - Change Default Run mode to Manual
Why don't we save the last used option among (Run manual or auto) as the settings while loading Dynamo next time or when starting a new file. So the user is not forced to use Auto. Any body want to vote for this idea?

[2015-03-31 07:47] andydandy74 commented on #4126
Well, I liked the old version switcher better. A *real* improvement would be to be able to freely switch *back and forth* between versions *without* having to restart Revit. If that's not possible, I don't see the benefit in having a greyed out button in my ribbon instead. But it looks like this is how it's going to be now so I'm closing this. Maybe it just takes some getting used to.

[2015-03-31 07:47] #4126 closed

[2015-03-31 07:59] andydandy74 commented on #4117
@riteshchandawar - Yes, I am aware that this bug is not specific to version 0.8 - it occurs in 0.7.5 as well, regardless of whether Run Automatic is enabled or not and regardless of which Revit project file is used.

[2015-03-31 08:03] monikaprabhu commented on #3859
This is fixed in 8.0-Dynamo will use the same units specified by Revit if you are pushing any modifications to Revit. I've tested this SetParameterValue which is reported as an issue above. Please try the latest build - Units are changing- for more details you can read Blog by Our evangelist found here-http://dynamobim.com/units-in-dynamo-0-8-2/
![untitled](https://cloud.githubusercontent.com/asse

[2015-03-31 08:05] #3859 closed

[2015-03-31 08:12] monikaprabhu commented on #3809
@gschleusner ,@Zach, With Zach's explanation I guess the it makes sense not to put the node into query. But the method does not allow to create new material from Dynamo. So if we keep this under create it would be confusingg. This action is returning material, which is equivalent to selection of Entities. And all selection nodes are under Action category. Perhaps we can move this into Action? @gsc

[2015-03-31 08:13] andydandy74 commented on #4121
If the default run mode for *new* files were changed to Manual, that'd be great.
I don't have any strong feelings regarding saving the run mode as I barely ever use automatic run mode in any case.

[2015-03-31 08:17] #4102 closed

[2015-03-31 08:43] monikaprabhu commented on #4130
@andydandy74 thanks! I see that Elements.Position_rotation_mirrored returns rotation and Family instance.Location returns the coordinates of location.
![untitled](https://cloud.githubusercontent.com/assets/5218721/6915240/f967ee50-d7c4-11e4-8b5d-3f7c046f6dad.png)-So I'm closing this issue

[2015-03-31 08:43] #4130 closed

[2015-03-31 09:25] monikaprabhu commented on #4131
@ondejcik , you can use Adaptive Component.ByPoints.There is a sample file delivered in Dynamo which demonstrates the placement of AdaptiveComponent - Help->Samples->Revit->Place Adaptive Components. Pls let me know if that solved what you were looking for

[2015-03-31 09:33] testingwaters opened #4138 "Error on changing variable value in code block"
Ver: 0.8.0 Release Candidate

Changing the value of a variable in the code block throws up an error.
The same works fine on closing and reopening

The code pasted below is a simple example

Ht=20;
Sides=5;
Buffer=0;
T103=(Polygon.RegularPolygon(Circle.ByCenterPointRadius(Point.ByCoordinates(225.656,-79.988,0),Buffer+6.7),Sides));
T103=T103.ExtrudeAsSolid(Ht);

![20150331-1](https://cloud.githubuse

[2015-03-31 10:02] ondejcik commented on #4131
Hi, thanks for answer, i am aware of adaptive point families, issue here is i want to place linebased family inside other generic model family and there it is not possible to use adaptive points.

[2015-03-31 10:51] sharadkjaiswal commented on #4138
Hi Vikram, I think it's because you are modifying the type of variable T103, in the first statement it's a Polygon and in next statement it's getting updated to Solid. If you keep the variable name different then this issue will not be reproducible.
@junmendoza, @lukechurch is this something already known or a new issue?

[2015-03-31 11:02] monikaprabhu commented on #4115
@andydandy74 thanks for reporting the issue- Im tracking this at MAGN-6864- Is there any specific workflow you are trying to achieve with these nodes using Empty List.

[2015-03-31 11:33] andydandy74 commented on #4115
This regularly comes up in model checking workflows when we encounter empty element collections in some project files. It's possible to code around this, but it adds otherwise unnecessary nodes to the graph.

[2015-03-31 11:48] monikaprabhu commented on #4109
@aamo87, do you have any packages installed ? Some of our packages have similar namespace which cerates conflict and this error is thrown- This is a bug and is tracked at MAGN-4633.You might want to look for packages similar to Mantis Shrimp etc.  I suggest that you uninstall them or delete them from the packages folder  C:\Users\..\AppData\Roaming\Dynamo\0.8\packages

[2015-03-31 16:12] dbaldacchino commented on #4121
Thanks Ritesh., that should work.

I tend to turn on Automatic once I have a stable graph, but I can see it being a bit dangerous to have it on by default. for example what if you launch it when the wrong Revit file is active? It could do some serious damage. I also think that rather than just flash for a second when opened, that the Revit file that the graph will control should be made a bit more

[2015-04-01 01:49] monikaprabhu commented on #4118
@andydandy74 , thanks for reporting issue - I see that it is exporting the  graph in to the image, there seems to be a problem saving the graphics.Tracking it here-"MAGN-6841- The image capture tool does not export geometry correctly". I've added the list of improvements mentioned by you in the issue as well.

[2015-04-01 04:15] testingwaters commented on #4138
Thanks for the clarification Sharad.

[2015-04-01 04:41] ParametricMonkey commented on #4085
I'm using the 0.8 candidate issue and its working now. thanks

[2015-04-01 04:41] #4085 closed

[2015-04-01 06:25] eproca commented on #4120
Many thanks @holyjewsus,  although I think I can deal with this with the default dynamo tools.

I have checked previous 0.7 builds and adjacent faces and edges were always exposed in the library , but never working. These specific topology tools maybe are not the most demanded tools, but they are really useful when you needed.

If you have experience making your custom librarys or DS functions , i

[2015-04-01 07:46] eproca commented on #4120
I leave here for reference a DS function that gives the funcionality of adajcent faces.
![03](https://cloud.githubusercontent.com/assets/6596042/6936399/190a52e2-d852-11e4-979a-20c0dffa18d1.jpg)

This is the function
def EdgeAdjacentFaces (So, Ed)
{
//So - Solid
//Ed - Edge of the solid

FaAll=So.Faces;
AdjFa=CompEdgeToFace(Ed,FaAll);

return=RemoveNulls(AdjFa);
};

It uses this nested function
de

[2015-04-01 09:26] monikaprabhu commented on #4108
@epeter, can you post your dynamo file here. Im having hard time imagining what it might be like
I tried to write an array with different sized list into excel and it fails. Please confirm if this is what you are seeing.
![untitled](https://cloud.githubusercontent.com/assets/5218721/6938204/35ddda46-d894-11e4-829e-a4763f5000df.png)

[2015-04-01 09:57] cadtot opened #4148 "File Encoding Issue"
I am importing data from a .txt file and having trouble with the file encoding (®).
![2015-03-31_12-07-08](https://cloud.githubusercontent.com/assets/8200768/6938748/4ea53884-d8c2-11e4-8272-ba489ee740f7.png)

Issue happens using 0.8 candidate (0.8.0.856) running on Revit 2015. [20150303_0715(x64)].

It does not seem to read the .txt files as ASCII. in the same way as Notepad++ does.  Copy/clip fro

[2015-04-01 11:05] monikaprabhu commented on #4116
@andydandy74 Thanks for reporting this issue. Tracking this at MAGN-6873.

[2015-04-01 12:48] RodRecker commented on #4134
Logged as http://adsk-oss.myjetbrains.com/youtrack/issue/MAGN-6873

[2015-04-01 12:53] RodRecker commented on #4109
Possible dup of #3208
Tracking as http://adsk-oss.myjetbrains.com/youtrack/issue/MAGN-6838

[2015-04-01 13:27] vykrum opened #4150 "Code - Port - Wire alignment way off"
Ver: 0.8.0 Release Candidate

In tall code blocks, the node of a variable does not align with the corresponding code. Further the connector and node too do not  match graphically (functionally it is fine)

![20140401-1](https://cloud.githubusercontent.com/assets/5621624/6941850/cce55408-d8a0-11e4-9ae2-7dec7a830114.jpg)

Regards,
Vikram Subbaiah

[2015-04-01 14:05] andydandy74 commented on #4134
duplicate of #4116?

[2015-04-01 14:23] lillismith commented on #4132
Try out our special build availalbe through this forum post and send your feedback! http://dynamobim.com/forums/topic/groups-special-build-ready-for-feedback/

[2015-04-01 14:36] #4132 closed

[2015-04-01 14:53] pboyer commented on #4132
This feature should be available in master in the near future.  We'd love to see your feedback on the special build.

[2015-04-01 15:16] monikaprabhu commented on #4148
@cadtot , How is the content organized in your text file- What are the characters that are not imported correctly? Can you post the file please

[2015-04-01 20:51] cadtot commented on #4148
Example files attached.

Cheers

Kerry

Kerry Thompson

www.kta.co.nz<http://www.kta.co.nz/>

+64 21 443 721

kerry@kta.co.nz<mailto:kerry@kta.co.nz>

From: monikaprabhu [mailto:notifications@github.com]
Sent: Thursday, 2 April 2015 4:16 a.m.
To: DynamoDS/Dynamo
Cc: Kerry Thompson
Subject: Re: [Dynamo] File Encoding Issue (#4148)

Reopened #4148<https://github.com/DynamoDS/Dynamo/issues/4148>.

â€

[2015-04-01 22:01] ParametricMonkey commented on #4047
I'm using the 0.8 candidate release. The release has been stable so far. However, I am experiencing slow searches. Running windows 7 and Dynamo within Revit. Only Ideate Bimlink & explorer and sefaira installed as plug-ins

[2015-04-01 23:27] pboyer commented on #4047
Windows 8.1?

On Wed, Apr 1, 2015, 6:01 PM Paul Wintour <notifications@github.com> wrote:

[2015-04-01 23:30] ParametricMonkey commented on #4047
windows 7

[2015-04-02 03:09] dimven opened #4155 "Dynamo 0.8 and grid/plane/CS representation when working in milimeters"
Hi,
I love the new possibilities and the easier workflow introduced with v 0.8.

However I like to keep things visual and check from time to time if everything is aligning properly.
With 0.8, when working in millimeters, all of Dynamo's visual tools are tiny and don't seem to be annotative(scale up with your units).

This necessitates the need to zoom in to ridiculous levels before being able to s

[2015-04-02 04:41] Benglin commented on #4047
The [performance improvement changes](https://github.com/DynamoDS/Dynamo/pull/4127) have been merged into `master` branch. If you don't mind, you can give the latest daily build a try and see if it improves things for you. Like I said, this improves the start-up time more than search, so it will be interesting to know how this turns out for you. Thanks in advance, @ParametricMonkey!

[2015-04-02 09:18] #2428 closed, assigned to nobody

[2015-04-02 11:06] epeter- commented on #4108
Exactly THW same issue

[2015-04-03 04:02] dimven opened #4165 "Lists actions fail inside DS definitions."
Is the below expected behavior?
![capture1](https://cloud.githubusercontent.com/assets/7148394/6977886/8551a9ca-d9f9-11e4-82b8-983b58a18eda.JPG)

[2015-04-03 04:19] dimven commented on #4121
+1
I think that the option to save the run state between files is great, but please return the default behavior on a new file to Manual.

[2015-04-03 05:44] testingwaters commented on #4165
![20140403-1](https://cloud.githubusercontent.com/assets/5621624/6978558/9dd4bf20-d9f2-11e4-8554-886617c67818.jpg)

Regards,
Vikram Subbaiah

[2015-04-03 07:04] dimven commented on #4165
I see. Thank you, Vikram
 On Apr 3, 2015 1:44 PM, "Vikram Subbaiah" <notifications@github.com> wrote:

[2015-04-03 07:46] #3485 closed

[2015-04-03 08:21] #290 closed

[2015-04-03 08:28] #362 closed

[2015-04-03 09:10] monikaprabhu commented on #4150
@testingwaters ,How long is your code. I tried  few options of  long code and could not reproduce - could you please share you code ?

[2015-04-03 09:10] testingwaters opened #4167 "Input port for variable disappears"
Ver: 0.8.0 Release Candidate

Input node for variable disappears on trying to extract deeper data

![20140403-2](https://cloud.githubusercontent.com/assets/5621624/6980436/42fe5fb2-da0f-11e4-9ae6-2fd0b369dae4.jpg)

Regards,
Vikram Subbaiah

[2015-04-03 09:51] testingwaters commented on #4150
I've uploaded a file at
http://a360.co/1MJV6lH

Regards,
Vikram Subbaiah

[2015-04-03 10:43] monikaprabhu commented on #4148
@cadtot - I can reproduce the issue - Thanks for reporting it - MAGN - 6891. Read Text does not display ASCII character, Instead a question mark is  displayed. You can directly copy paste text in code block nodes. It supports the characters in your file.

[2015-04-03 13:19] testingwaters commented on #4167
A more stable approach seems to be...
a= BoundingBox.Geometry(AxisIntersect);
b=a.MinPoint;

Combining 'BoundingBox.By Geometry' and 'Min/MaxPoint' in one line seems to generate errors at a later stage, while working properly initially.

Regards,
Vikram Subbaiah

[2015-04-03 14:11] jnealb commented on #4150
@ramramps We missed this?

[2015-04-03 14:30] ramramps commented on #4150
@jnealb - Just checked the file.  I dont think this is something related to port snapping. Have to check on the alignment.

[2015-04-03 14:33] dbaldacchino commented on #4047
The latest build DynamoInstall0.8.1.20150402T2034.exe is not working at all on Windows 8.1 in standalone mode. Search lag is still the same.

[2015-04-03 14:48] jnealb commented on #4047
@dbaldacchino Does it load? Does it give errors? Does it freeze/hang?

[2015-04-03 15:04] dbaldacchino commented on #4047
@jnealb it actually doesn't do anything. DynamoSandbox.exe doesn't even show up in Task Manager. The Add-In works as usual in Revit 2015. I did restart the machine after installing but the standalone version still doesn't load.

[2015-04-03 15:35] #1076 closed

[2015-04-03 15:37] #1122 closed

[2015-04-03 15:38] #1123 closed

[2015-04-03 15:45] #1703 closed

[2015-04-03 15:45] #1906 closed

[2015-04-03 16:01] andydandy74 opened #4168 "Long comments in CBNs causing linebreak and port alignment issues"
While in Dynamo 0.7.5. long comments in CBNs only screwed with the port alignment (#2395)...
![longcomments075](https://cloud.githubusercontent.com/assets/3014437/6984651/43e7ba06-da2b-11e4-96ad-00140e78cc27.PNG)
... Dynamo 0.8.0 RC will also not create automatic lienbreaks for them:
![longcomments080](https://cloud.githubusercontent.com/assets/3014437/6984661/6b480952-da2b-11e4-8ccb-0e4fab0e614f.

[2015-04-03 16:01] #2395 closed

[2015-04-03 16:06] andydandy74 commented on #2507
works in 0.8 RC

[2015-04-03 16:06] #2507 closed

[2015-04-03 16:06] #2454 closed

[2015-04-04 01:13] dimven commented on #4168
![2015-04-04_09-13-17](https://cloud.githubusercontent.com/assets/7148394/6990900/e3365fc0-daaa-11e4-858e-58d6b7edb686.png)

[2015-04-04 01:16] dimven commented on #4165
I thought the above was the root of my problems, but it seems that is not the case.
Common list actions seem to be ignored in both imperative and associative codes.
![2015-04-04_08-59-50](https://cloud.githubusercontent.com/assets/7148394/6990906/41b9d2d4-daab-11e4-8efb-00c4b4309074.png)
Am I doing anything wrong in the above image?

[2015-04-04 01:22] #4165 closed

[2015-04-04 03:10] monikaprabhu commented on #4168
@andydandy74 ,@dimven -  Definitely it would be easy if there were automatic line breaks - What would be your criteria for setting creating  line breaks?

[2015-04-04 05:41] andydandy74 commented on #4168
- Define which characters can constitute a line break (typically " ", "-", "/" & "\" so long URLs and file paths can be split as well
- Define the maximum amount of characters per line (typically about 80)

There must have been some algorithm for this in the CBN editor previously - why not just recycle that one?

[2015-04-05 09:58] andydandy74 opened #4169 "Wish: Shortcut to enable/disable background preview"
It would be nice to have a shortcut to toggle between background preview enabled and disabled. It's nice to be able to toggle between geometry and nodes, but it would helpa lot to be able to turn geometry on and off, too.

[2015-04-05 12:36] kronz commented on #4167
tracking internally with http://adsk-oss.myjetbrains.com/youtrack/issue/MAGN-6897

[2015-04-06 02:31] Benglin commented on #4133
Hi guys, this is now fixed with the following pull request:

https://github.com/DynamoDS/Dynamo/pull/4172

[2015-04-06 02:34] Benglin commented on #332
Oh boy, did not know about this defect until #4133 was created last week. This is now fixed with #4172.

[2015-04-06 05:00] andydandy74 commented on #332
Great. This was quite the nuisance.

[2015-04-06 05:00] #332 closed

[2015-04-06 13:31] kronz commented on #4121
Hi all,
Thanks for the feedback on run automatic, it’s clear that we need to make some adjustments.  The Dynamo team has wanted to make this switch for a very long time and I’d like to say a little about why.
-Dynamo is an exploratory Language. For many operations, it is important for users to get immediate feedback on the work that they do.  This is recognized in many education and computer scien

[2015-04-06 16:05] monikaprabhu commented on #4116
@andydandy74 , You can fix it by filtering the Empty List from the input or if you don't mind flattening the list , flatten removes Empty list automatically

[2015-04-06 17:55] jnealb commented on #4169
@andydandy74 How do you see this playing out with Run Automatically and/or Periodic?

[2015-04-06 19:35] jnealb commented on #4155
@dimven Can you please send me your dyn file? neal.burnham@autodesk.com

[2015-04-06 21:37] RodRecker commented on #4114
Thank you for the feedback on the 0.8.0 RC. I have just posted a new RC here:
http://dyn-builds-data.s3-us-west-2.amazonaws.com/DynamoReleaseCandidate2Install0.8.0.exe

The main addition was some autocomplete improvements #4060 that we left out of the release by mistake.

[2015-04-06 21:44] RodRecker commented on #3423
@jnealb Can you take a look at this?
@kronz Let's figure out when we need to look at this.

[2015-04-06 21:45] RodRecker commented on #4117
@riteshchandawar Let us know if this is logged. Thank you!

[2015-04-06 22:28] kronz commented on #3423
OK, I see the issue.  Looks like we lost this bug somewhere along the way.  Double curve surfaces parameterize just fine, but single and planar not so much.
![2015-04-06_1813](https://cloud.githubusercontent.com/assets/3456818/7013605/edaef626-dc88-11e4-9197-5d8a9d86823c.png)

Looks like the workaround is to use the real world measurements to define the domain of the panels
![2015-04-06_1826](http

[2015-04-06 22:44] tatlin commented on #3423
Peter had added code to handle this case before

-matt

[2015-04-07 03:04] andydandy74 commented on #4169
@jnealb - I barely ever need (and therefore use) either of the two modes. But I guess it would work the same way it's working now - minus the part where I have to fumble through the ```View``` menu with my mouse every time, right? ;-)

[2015-04-07 03:28] riteshchandawar commented on #4117
Hello @andydandy74,

I have logged issue for internal tracking MAGN-6909

Will let you know once it is fixed.

Thanks,
Ritesh

[2015-04-07 04:22] andydandy74 commented on #4121
@kronz - *All* the user feedback you got here was to please *not* default to auto run. Which apparently is something you're not prepared to do for, lets say, philosophical reasons. Fine - after all it's your product. But why not make the default run mode something that can be saved as a setting? New users will likely not touch that setting and can use Dynamo in automatic mode as an "exploratory" l

[2015-04-07 04:37] andydandy74 commented on #4116
@monikaprabhu - If my input is a single empty list, there is no way of filtering that out - it'll stay an empty list. Scenario / use case is the same as described in #4115, btw.

[2015-04-07 10:46] epeter- opened #4189 "0.81xx daily builds nothing visible"
workspace does not display geomtries(solids....)
076xxx working

[2015-04-07 12:45] kronz commented on #4121
@andydandy74 , yes, we are working on having both project level and application level settings available as a general "prerences" functionality, and this is a behavior that would be excellent to put in that area.

Some questions,
- when you are making your workflows, if you do leave on run automatically, how deep into a brand new file do you get before automatic execution creates lag?
- Are you im

[2015-04-07 12:59] andydandy74 commented on #4121
Preferences - that sounds very good.
As to your questions:
1) I hardly ever use Automatic when developing workflows. Basically I only use it in the class room - for which it is awesome btw.
2) No, usually I start with either a) computing stuff or b) retrieving element collections from a Revit model.
3) I work from new files perhaps 80% of the time.
4) Definitely - this is usually the case.
5) No.

[2015-04-07 15:12] ksobon commented on #4121
1. I Disable AutoRun the minute I start Dynamo. That's what this whole fuss is all about. I think Dynamo has an Identity crisis and its trying too hard to be like that "other" visual programming software made by that "other" company. :-)
2. Sometimes I might. I know what you are getting at, and the issue is not how long it takes for me to crash Dynamo, but its more about that if I had unfortunatel

[2015-04-07 22:58] BrianFraumeni opened #4192 "Select Divided Surface Families ignoring triangle patterns elements"
Select Divided Surface Families node, when selecting a triangular pattenered surface, ignores every other curtain panel. This results in a checkerboard selection.

Other selection methods which utilize a sorting logic (by Element.BoundingBox > MinPoint > Point.Z, Y, X, ...) has difficulty sorting the Point.Y , depending on the orientation of the triangle vertically. This work around is not suffici

[2015-04-08 06:56] andydandy74 opened #4194 "Wish: Keep Dynamo icons in the ribbon in one group"
Other addins can get in between the version selector and the dynamo icon. Yes, we can change this manually by moving stuff around in the ribbon but this still may be confusing for new users. Why not keep both icons in one group?
![dynamoribbon](https://cloud.githubusercontent.com/assets/3014437/7040238/2c0cf482-ddcd-11e4-80de-c4ae6ee94a6a.PNG)

[2015-04-08 07:15] andydandy74 opened #4195 "CurtainPanel.ByElement again - Issues with non-quadrilateral panels"
Use case: A curtain wall that contains non-quadrilateral panels.
![complexpanelshapesexample](https://cloud.githubusercontent.com/assets/3014437/7040384/005c3df0-ddcf-11e4-9019-5f0e1e4bfa5e.PNG)
CurtainPanel.ByElement will return as many panels as the product of U and V subdivisions of that curtain wall, regardless of how some cells may have been merged. Ths only becomes obvious when applying Curt

[2015-04-08 20:44] ksobon opened #4202 "Dynamo crashes when creating custom nodes"
I am not sure what the cause is, but its been crashing on me whenever i try to make a custom node. Consistently, on multiple occasions.

![image](https://cloud.githubusercontent.com/assets/529781/7055027/8e5363ba-de0e-11e4-9c0e-30ff96a9206c.png)

[2015-04-09 01:59] kronz commented on #4202
Hi Konrad,
What build are you using?
Thanks
Z

[2015-04-09 02:01] kronz commented on #4189
sounds like your stuff @ikeough

[2015-04-09 02:04] ksobon commented on #4202
I was on a daily from maybe a week ago.

[2015-04-09 04:10] ksobon opened #4204 "only single (1) file at a time can be added to Package via Package Manager"
It's extremely inefficient to be able to add only one file to a package at a time. I literally had to click "Add File" 6 times to add a few more files to my package. Not to mention that it kept going back to default location so not only did I had to add them separately, but also had to navigate to a folder where my files where 6 times. :-1:

[2015-04-09 06:17] ikeough commented on #4189
@epeter- Can you attach a screen shot? The new visualization work that we've been doing uses DirectX for hardware accelerated 3D. Are you using Dynamo over remote desktop or with virtualization like VMWare?

[2015-04-09 07:18] epeter- commented on #4189
screenshot were an empty screen, so nothing to show.
am running dynamo in regular enviroment win 8.1

Am 09.04.2015 um 08:17 schrieb Ian Keough:

---
Diese E-Mail wurde von Avast Antivirus-Software auf Viren geprüft.
http://www.avast.com

[2015-04-09 08:00] andydandy74 commented on #4195
sample files here:
https://github.com/CAAD-RWTH/ClockworkForDynamo/tree/master/issues/4195_CurtainPanel.ByElements%20issues%20with%20non-quads

[2015-04-09 09:20] ondejcik opened #4209 "passing data - Python creates extra list"
Hi i would like to create a container node that only passes unchanged data in dynamo, but when i create it in python it adds extra list layer. thanks

![image](https://cloud.githubusercontent.com/assets/4834544/7063837/529a3f28-deaa-11e4-81bc-2eb974828b8a.png)

[2015-04-09 13:17] MartinHenriksen opened #4211 "Unable to find sharpdx file when loading"
when loading the DynamoSandbox.exe (v.0.8.1.974) a messagebox says it could not find "sharpdx_direct3d11_1_effects_x64.dll" - what it should be looking for is "sharpdx_direct3d11_effects_x64.dll".
Compiling the .dll from the helixToolkit source gives the same file (without the extra '_1').
Workaround was to simply change the file name.

[2015-04-09 13:29] monikaprabhu commented on #4192
@BrianFraumeni  interesting pattern. Can we have your file to try it out ?

[2015-04-09 14:04] pboyer commented on #4204
It should be possible to select multiple files from this dialog and it should reset to the last location.  I have create an internal task to fix this regression.

[2015-04-09 14:07] #4204 closed

[2015-04-09 14:17] ikeough commented on #4189
@epeter- Can you send us the log for a dynamo session? (<users>/AppData/Roaming/Dynamo/0.8/logs. This has a few log items at the beginning that state the graphics functionality for your system. The behavior you describe happens if hardware acceleration is not available on your system. Assuming that you are using a system built in the last few years, this should not be the case. That's why I ask ab

[2015-04-09 14:20] ksobon commented on #4204
Yeah, I agree it definitely was possible before. Thanks for looking at it.

[2015-04-09 14:21] ikeough commented on #4211
@MartinHenriksen Thanks for the feedback. And I'm glad you took the time to investigate a workaround. This sounds suspiciously like, although the file is there, it's not finding it because of some sort of path resolution issue.
- Can you verify that after install there are not duplicate versions of that file in your Dynamo folder.
- Did you build Dynamo from source or use the installer.
- Can you

[2015-04-09 14:30] andydandy74 commented on #4128
In case anyone else runs into this problem while this bug is still active: I needed this urgently so I went ahead and made this as a custom node.
Available as Element.Panels in package Clockwork.

[2015-04-09 14:56] MartinHenriksen commented on #4211
@ikeough Yes I built it from source v.0.8.1.974
I do have a version from installer as well in .../Program Files/Dynamo 0.8/ - but there are no sharpdx files in this folder.
In the  .../bin/AnyCPU/Debug/  where I am running DynamoSandbox.exe from I have:
sharpdx_direct3d11_effects_x64.dll
sharpdx_direct3d11_effects_x86.dll
and now also:
sharpdx_direct3d11_1_effects_x64.dll (my confusion is why it i

[2015-04-09 15:28] ikeough commented on #4211
The "stable" release of Dynamo (0.8), doesn't yet have the new visualization work. So, it's no surprise that the sharpdx files aren't in that install. Daily builds, like [this one](http://dyn-builds-data.s3-us-west-2.amazonaws.com/DynamoInstall0.8.1.20150406T1239.exe) would have the sharpdx stuff in them. I would be interested to know if installing the daily build cures the problem. If it does, th

[2015-04-09 15:34] ikeough commented on #4194
That's a good point @andydandy74. The version selector and Dynamo are two separate external applications. It might not be possible to combine them into one "panel". At the very least we should change the name of the Dynamo panel from "Visual Programming" to "Dynamo" so it shows up next to the other one.

@sharadkjaiswal, you've been working on the version selector as of late. What are your thought

[2015-04-09 15:42] MartinHenriksen commented on #4211
just installed the daily that you liked to in the default .../program files location. I removed the sharpdx_direct3d11_1_effects_x64.dll from the .../Debug folder and ran the DynamoSandbox.exe from same .../Debug folder and it did NOT complain!
...color me confused - but hey, it works

[2015-04-09 16:20] ikeough commented on #4211
And now I am confused too :(

You're saying that you ran your debug version after installing the daily build and it worked?

I'm going to close this, but please reopen if you can consistently recreate the problem.

[2015-04-09 18:54] dbaldacchino commented on #4189
Dynamo 0.8.0 (stable release) does not work for me in sandbox/standalone mode in Windows 8.1. @epeter- : are you seeing the same thing? The previous stable build worked for me in sandbox/standalone mode.

[2015-04-09 23:30] LukeyJohnson commented on #885
Definitely needed if we are to make Dynamo 'deployable'. I think the ideal feature would be:
Open DYN file
Dynamo detects missing packages and offers to install them from web
This way, you could use a big master Dyn or something as a deployment tool

[2015-04-10 02:25] dimven commented on #4209
That's the expected behavior. Notice the "+" and "-" signs on the node. The Python script takes in exactly one list and spits out exactly one list as well. However the two can have numerous sub-lists. You can define each sub-list as a new separate variable with the help of indexing.

If you want to reduce the rank of your list, you should specify the specific input like so:
OUT = IN[0]

[2015-04-10 05:13] dimven opened #4217 "Periodic refresh + Web Request Node = insta crash ?"
Periodic refresh is a great idea but it seems to default to 100ms every time it is turned on and not remember the last setting.
Combine that with the Web Request node and it seems that, at least for me, it is crashing every time I turn on Periodic run.

[2015-04-10 05:34] dimven commented on #4217
The crash seems to be limited to R14. It's not crashing things in R15 so far. However the run periodically doesn't seem to be doing anything?
I am querying the following url: https://www.random.org/integers/?num=1&min=1&max=100&col=1&base=10&format=plain&rnd=new
I specifically chose this website because it does not use any fancy javascript. It will generate an integer every time you refresh. Howev

[2015-04-10 05:38] andydandy74 opened #4218 "Dynamopackages.com listed as Malware"
Running a Cisco VPN client, I get the following message when trying to access dynamopackages.com:
![malware](https://cloud.githubusercontent.com/assets/3014437/7082430/50cc8e12-df54-11e4-9397-950d61e5ebd6.PNG)
Some more info on this:
http://www.cisco.com/c/en/us/support/docs/security/web-security-appliance/117851-technote-wsa-00.html
It's not a big deal for me as I can just turn the client off, bu

[2015-04-10 06:27] dimven commented on #4061
Hi guys,
 I had a look in the API documentation for 2015 the other day and the two new methods for "TessellatedShapeBuilder" and "DirectShape" that were introduced for IFC imports management peaked my interest. Would any of the two methods be useful for the above problem?

[2015-04-10 07:05] epeter- commented on #4189
@dave: i am not running dynamo in sandbox mode.
sry

Am 09.04.2015 um 20:54 schrieb Dave Baldacchino:

---
Diese E-Mail wurde von Avast Antivirus-Software auf Viren geprüft.
http://www.avast.com

[2015-04-10 10:25] dimven commented on #4121
Just now I **forgot**  _(Friday afternoon here and in a hurry to wrap things up and go home)_  to turn off AutoRun for a simple new graph that reads and writes some data to excel and got stuck into an infinite loop. No Revit loaded, just Dynamo 0.8 in  Sandbox mode.  :(

1) I don't. Usually it's on only when I forget to turn it off. However I do use it a lot when presenting a graphical workflow to

[2015-04-10 16:20] RodRecker commented on #4189
The logs will help us get to the bottom of it.

[2015-04-10 16:57] RodRecker commented on #4204
Logged internally as http://adsk-oss.myjetbrains.com/youtrack/issue/MAGN-6975

[2015-04-10 17:49] dbaldacchino commented on #4189
No logs are being produced when I try and launch sandbox.

@epeter- , could you try launching it out of curiosity to see if it works for you in Windows 8.1? Thanks.

[2015-04-10 19:27] ksobon opened #4226 "Arc.ByCenterStartPointEndPoint error"
I am not sure what is causing this error, but it seems like I can't get the Arc method to work. This is in the 0.8.0 stable build.
![untitled-1](https://cloud.githubusercontent.com/assets/529781/7095165/06f14020-df96-11e4-8f6d-4262752eab55.png)
Were there any changes to this method?

Thank you,

[2015-04-10 21:38] ksobon opened #4227 "Package Manager"
Also, one more thing that I have noticed about the Package Manager earlier today. When uploaded nodes or published a version of a package from let's say Dynamo 0.8.1 and then because of instability reverted to Dynamo 0.8.0, if you try to upload a new version of that package from the now earlier version of Dynamo it will show a warning. You can ignore the warning, but the problem is that a new warn

[2015-04-11 20:02] dronovdmitry commented on #1704
Hi andy.
Sorry, but where i can find this custom node?

[2015-04-12 02:29] andydandy74 commented on #1704
@dronovdmitry - This code is being used in thre custom nodes in package Clockwork: RevitFaceReference.FromDynamoSurface, RevitFace.FromDynamoSurface & Element.FromDynamoSurface.
Apparently there are some element types that seem incompatible with this code, though: #3821

[2015-04-12 05:16] sharadkjaiswal commented on #4194
sure, I'll take a look.

[2015-04-12 06:48] andydandy74 commented on #4194
@ikeough - I don't think addins are ordered alphabetically in the ribbon, it's probably the order in which they were installed...

[2015-04-12 07:03] formula1210204 commented on #350
may I ask the name of this node, or where can i get it?
I need this function for daily use, thanks a lot.

[2015-04-12 07:23] monikaprabhu commented on #4226
@ksobon ,Without seeing the script its difficult to debug the error.  Looking at your error it looks like some objects passed to arc may be null. Its working at my end on DynamoReleaseCandidate2Install0.8.0.exe
![untitled](https://cloud.githubusercontent.com/assets/5218721/7104730/ce9b930e-e127-11e4-9853-893e856e03af.png)

[2015-04-12 07:31] andydandy74 commented on #350
Use Geometry.Intersect

[2015-04-12 07:34] skhan1124 commented on #2362
Hi, I am having a similar problem doing this exercise, my vasari or revit totally crashes when ever I click the list button on the "ReferencePoint.ByPoint".

[2015-04-12 07:35] monikaprabhu commented on #4218
@andydandy74 , is there an option to add it to secure sites ?Can you please check it

[2015-04-12 07:40] monikaprabhu commented on #4209
@dimven is absolutely right!Im closing this issue.

[2015-04-12 07:40] #4209 closed

[2015-04-12 07:44] monikaprabhu commented on #4202
@ksobon , is this still an issue ? I cant see the full stack in your image . Can you copy paste the text ?

[2015-04-12 16:25] archinate opened #4228 "UI/UX Wish / Feedback: More Straightforward Tree View of Nodes (0.8+)"
Hello all,
Here is some feedback from recent workshops and my own personal exploration of Dynamo 0.8...  the introduction of icons is pretty cool, but the UI for navigating the library has become much more complex and confusing.  The user must now use three 'styles' of navigation to reach their nodes.  I found the previous (0.7 and earlier) tree view is far more navigation friendly.  Why not just

[2015-04-12 16:41] pboyer commented on #4228
@elayabharath @lillismith

[2015-04-12 22:23] dronovdmitry commented on #1704
Ok. But how i can convert dynamo geom to revit geom now?
If this roole https://github.com/DynamoDS/Dynamo/wiki/Python-0.6.3-to-0.7.x-Migration
not work http://joxi.ru/KAxVNV7fQKygm8?d=1
Script: http://joxi.ru/brRLGLpI1OKe21?d=1

[2015-04-12 22:33] archinate opened #4229 "Slider Breaking/Lagging in "Automatic" mode in 0.8.1"
Hello all,
I am using a slider in "Automatic" mode in the latest 0.8 official release.  My geometry will initially update with the slider.  However, after a few iterations the slider will either fail to update any geometry OR there will be a significant delay.

I tried this on something as simple as controlling a point position.

Note the image below.... "Automatic" mode is active, the X coordinat

[2015-04-13 05:28] andydandy74 commented on #1092
Online Package Search is now scrollable by mouse wheel - Installed Packages still isn't.

[2015-04-13 09:06] andydandy74 commented on #3444
Actually not.

[2015-04-13 09:07] dronovdmitry commented on #1704
Ok. I understand. But i try to set Paint method to geometry in dynamo and i cant do this..... Because dynamo node "Select face" break away geometry face from element and all his parameter.... such as Id... How can i take element ID from surface? http://joxi.ru/KAxVNV7fQVqYm8?d=1
Thanks

[2015-04-13 10:19] elayabharath commented on #4217
Able to reproduce. Tracking internally MAGN-7059

[2015-04-13 13:53] ksobon commented on #4226
I will have another look, and get back to you. It might be that my Dynamo build at work is corrupted since I was having trouble with a lot of things on that machine.

[2015-04-13 13:55] ksobon commented on #4218
So I had exact the same issue and my IT folks called your web hosting service to take care of that, but I have no idea what happened beyond that. I agree its annoying and quite not a good business for Dynamo since my Package Manager doesn't work and I have been using a guest WIFI to update my packages.

[2015-04-13 14:22] formula1210204 commented on #350
thanks for your help

[2015-04-13 18:57] williamwong commented on #4228
@archinate there's one more additional layer too...the separation of Action and Query nodes, which from a UI standpoint are similar to tabs, but have a different visual look than the actual tabs. I completely agree that there are too many visual metaphors that make it difficult to navigate to find nodes.

These problems are compounded by the fact that the alternative to navigating the tree to find

[2015-04-13 19:32] archinate commented on #4228
@williamwong I completely agree with this.  In fact, when I was first using the new interface, I didn't realize "Action" and "Query" were buttons.  I thought they were headings or labels.

I also agree that autocomplete is very erratic.  For me, the bigger issue with search has always been that it is sluggish overall.  It will "hang" after typing in the first few characters.  This has continued wi

[2015-04-13 19:44] rudderdon commented on #4229
Slowest animation ever

[2015-04-13 19:47] archinate commented on #4228
Also...

Is there a reason why the Geometry tab is always expanded when first opening or starting a new file?  It's a super minor complaint.... but it's kind of annoying to have to always minimize it when starting up a new definition.

![image](https://cloud.githubusercontent.com/assets/1890663/7123981/7acf1fec-e1eb-11e4-840f-a529c95c00e0.png)

[2015-04-13 20:52] jnealb commented on #4229
@archinate @rudderdon What are your slider Max and Step values? If mine are 10 and 1 or 0.5 etc then with 0.8.0.950 there is no issue as I drag the slider with Run Automatically: the point tracks in real-time. Perhaps we could set up a session to debug this?

[2015-04-13 21:26] archinate commented on #4229
Hey @jnealb .  I should have been more clear.  I am using the 0.8.1 official release (0.8.1.955).

All of my slider values are default in the above scenario (0-100, Step 0.1)  The slider will begin updating smoothly, but after moving the slider enough, the definition will start to delay and eventually stop working.

[2015-04-13 22:41] tatlin commented on #4229
I saw the lack of red point updating on some machines today in a workshop in London. 0.8 only, older versions worked fine

-matt

[2015-04-13 23:06] jnealb commented on #4229
@archinate @rudderdon @tatlin @ikeough I did reproduce the delay with 8.1 0.8.1.1025, also the preview bubble on Point.ByCoordinates is not updating its X coordinate. When the slow down occurs, which is not easily reproduced for me, I find that waiting a bit then clears the condition.

[2015-04-13 23:57] ikeough commented on #4229
Andy noticed this when he was working on Firefly. It has to do with our task compaction mechanism. Currently, whenever the slider ticks, an execution is fired. These execution "tasks" are then scheduled to run and they are processed in the order they are received. Execution tasks, unlike rendering tasks, do not get compacted by the scheduler. That is, if sliding a slider quickly submits tasks A...

[2015-04-14 09:33] monikaprabhu commented on #4227
@ksobon, easy workaround is to open .dyf files in text editor and change "Workspace Version="0.8.1.000" to 0.8.0.00 or whichever version you want to open it in. Please remember the new nodes that were not in 0.8.0.00 will not be available for use.

[2015-04-14 10:06] elayabharath commented on #4228
Hi @archinate and @williamwong,

Excellent points both of you, thanks for bring this up. My thoughts..

1. Library navigation: The new library UI was designed to aid exploration - is particularly against burying items way too deep in the tree. So this design works well for up to 3 levels. Example Geometry > Point > ByCoordinates

As a consequence, any library that is too bloated with items buried

[2015-04-14 14:22] MartinHenriksen commented on #4211
didn't notice your last reply... sorry about that.
But yes that is right: installing the daily build made the debug version work (or at least no give the missing .dll error - did not test further) and in completely different locations

[2015-04-14 14:30] jnealb commented on #4229
This is tracked with MAGN-7078

[2015-04-15 06:15] jbenoit44 opened #4244 "0.8 stable: auto run crashes dynamo on opening if errors in graph"
I have notice this behavior: when run auto is on, the graph executes when when loading the definition, and if something is wrong (new file, no element selected as input,etc...), dynamo is very slow to load definition when not crashing.
is there a way to set the autorun on after the dyn file is open?

[2015-04-15 06:41] monikaprabhu commented on #4244
@jbenoit44
1. Open .dyn file and you can change the RunType="Manual". When you open this file next time it will open with default option as manual .
2. We found a similar crash on custom nodes tracked at-MAGN-7073. A fix is on the way. I want to know if the one you seeing is the same.Are you using Dynamo in Stand alone mode? Also could you please post one of the files so I can be sure the fix we a

[2015-04-15 08:26] tetsuyahishida opened #4247 "getSpaceAtPoint"
Hello

I'm now trying to rationalize the workflow for MEP engineer, and the first step is to know which space the element is placed.
I focused on 2 means,
GetSpaceAtPoint , and element.space
But Both seem to be not working.
I'd rather say that my coding is wrong, but can someone kindly point out what's wrong?

BestRegards

![image](https://cloud.githubusercontent.com/assets/780947/7154643/26c04576

[2015-04-16 03:31] dimven opened #4251 "Wish/Bug for AxonometricView.ByEyePointTargetAndElement/BoundingBox."
As discussed in the following thread:
http://dynamobim.com/forums/topic/crop-box/#post-14708

First of all, the "AxonometricView.ByEyePointTargetAndElement" does not provide an option to offset/scale/grow the crop box. Would it be possible to add such an option?

Secondly, the AxonometricView.ByEyePointTargetAndBoundingBox is not performing as expected. Is anybody else experiencing the same?

[2015-04-16 03:55] dimven opened #4252 "Bug: Sheet.ByNameNumberTitleBlockAndView(s) failing to work with "EnginneringPlan" view types"
Hello,

As stated above the two nodes fail specifically and only with structural plans. They work as expected with floor plans, sections, elevations, etc.
![2015-04-16_11-32-58](https://cloud.githubusercontent.com/assets/7148394/7173642/767682e8-e42d-11e4-86ac-b356f28c07bf.png)

![2015-04-16_11-36-47](https://cloud.githubusercontent.com/assets/7148394/7173644/7fd462c4-e42d-11e4-83b5-781fc2957eeb.p

[2015-04-16 05:21] andydandy74 commented on #4252
That last part is a duplicate of #3345 (which is a **really** annoying bug on large projects BTW)

[2015-04-16 06:25] jbenoit44 commented on #4244
no it is used with Revit. runtype manual fixed it. but the problem remains: I use a definition on file A, runtype=auto. I work after on file B, and want to reuse defintion, and if selection or content is not there, as runtype=auto, it will crash.
Maybe user should get a warning when opening a definition set as auto, asking if the setting should be applied on re openning.

[2015-04-16 06:30] jbenoit44 commented on #3176
please fix this. this is upsetting me all day long...

[2015-04-16 06:31] #2366 closed

[2015-04-16 07:03] #2332 closed

[2015-04-16 07:04] #1217 closed

[2015-04-16 07:10] jbenoit44 opened #4255 "0.8 stable: Element.Geometry crashes revit"
when a large amount of elements is selected, this nodes makes dynamo+revit crash.
I test this on a project on Parts, around 4000. Works fine in 0.7.6, crashes a few seconds after Run with stable 0.8.
This is not the first time I have issue collecting geometry or solids with dynamo. is this a dynamo failure or a Revit API failure?

[2015-04-16 07:28] jbenoit44 opened #4256 "latest daily build won't start"
![image](https://cloud.githubusercontent.com/assets/4572196/7176024/ec7b6af2-e41a-11e4-9013-c5bb26cb997e.png)

this is the message I get when trying to open dynamo 0.8.1.

[2015-04-16 09:34] eproca opened #4257 "Wishlist: added functionality in groups"
It is great to see the groups in the 0.8.1 builds. It helps a lot in large and complex graphics.

It would be interesting to add new nodes to an existing group (for example when moving the node "inside" the group, you get asked if you want to incorporate the node to the group). And in a similar way, to put nodes out of the group (for example when you select a node in a group and right click, you w

[2015-04-16 10:50] maharr commented on #4218
I've had exactly the same issue with fortiguard web filtering software, I've also managed to get the IT guys to add an exception the the firewall

[2015-04-16 15:10] jnealb commented on #4257
@ramramps @lillismith FYI

[2015-04-16 17:20] jnealb commented on #4256
@jbenoit44 We can reproduce a crash in French Windows as well; tracked as MAGN-7125.

[2015-04-17 05:20] monikaprabhu commented on #4244
@jbenoit44 , are you using selection node within custom node? which selection node are you using ?

Auto Run behaviour is discussed in this thread - https://github.com/DynamoDS/Dynamo/issues/4121

[2015-04-17 06:54] jbenoit44 commented on #4244
select model element(s).

[2015-04-17 07:03] jbenoit44 commented on #4121
when you are making your workflows, if you do leave on run automatically, how deep into a brand new file do you get before automatic execution creates lag?
1-never run auto until all is fine; because it freeze at each error
Are you immediately placing nodes that create or modify Revit elements? (Say, the first 5 nodes?)
2-no, first 5 usually collect data.
How often are you starting a new file vers

[2015-04-17 10:18] epeter- opened #4261 "daily build 20150416T2058"
graphics invisible.
created geometries (solids) are not displayed.
actually nothing is displayed but grid and coordinatesystem

[2015-04-17 10:21] epeter- opened #4262 "solids in daily builds"
having a definition creating apx 400 solids. working fine with 0.76xxx
runs in endless loop with 0.810416T20xx
had to end task

[2015-04-17 12:45] jnealb commented on #4261
@epeter-  This may be MAGN-7125, we are investigating. Are you running Win7 or Win8?

[2015-04-17 14:56] ralvarez76 opened #4264 "Crash when starting 0.8.1.20150416T2058 in sandbox and Revit addin modes"
Here is the Revit error:

Object reference not set to an instance of an object.

   at Dynamo.UI.Views.LibrarySearchView.OnTopResultTargetUpdated(Object sender, DataTransferEventArgs e)
   at System.Windows.RoutedEventArgs.InvokeHandler(Delegate handler, Object target)
   at System.Windows.EventRoute.InvokeHandlersImpl(Object source, RoutedEventArgs args, Boolean reRaised)
   at System.Windows.UIE

[2015-04-17 16:08] monikaprabhu commented on #4262
@epeter-  can you share the definition. Which method are you using ? I tried 400 cuboids and works fine. DynamoInstall0.8.1.20150416T2058.exe

![cuboid](https://cloud.githubusercontent.com/assets/5218721/7205827/989c8ffc-e55e-11e4-98a1-252630c8b333.png)

[2015-04-17 16:26] holyjewsus commented on #4262
@epeter-  are you running on revit? or standalone when you encounter this?

[2015-04-17 16:27] monikaprabhu commented on #4264
@ralvarez76 this build starts ok at my end.Anybody else seeing this error ?

[2015-04-17 16:40] ikeough commented on #4264
Hey @ralvarez76. This is a bug with the new visualization stuff. I'm guessing you got a dialogue that said that you were missing a dll. I believe this was already reported [here](https://github.com/DynamoDS/Dynamo/issues/4211). If it's something different, let me know.

[2015-04-17 19:33] josols opened #4266 "ModelCurve.ByCurve crashes Revit and Dynamo in latest stable"
the title says it all really. I'm trying to "export" some curves as modelcurves in latest stable and it freezes both Revit and Dynamo. Only a few curves as well (15)
I've also tries different dynamo curves as input.

[2015-04-17 21:31] pboyer commented on #4266
@ikeough?

On Fri, Apr 17, 2015, 3:33 PM josols <notifications@github.com> wrote:

[2015-04-17 22:25] ikeough commented on #4266
@josols I just tried this on the daily build, and it seems to work. It could be something only in the stable build. Can you send me a .dyn?

![image](https://cloud.githubusercontent.com/assets/1139788/7211988/f4ee160c-e515-11e4-81c3-b4e2711a803b.png)

[2015-04-18 08:59] monikaprabhu commented on #4251
@dimven  thanks for reporting it - Im tracking this at MAGN-7161-AxonometricView.ByEyePointTargetAndBoundingBox - option Isolate Element fails  and does not update bounding box

[2015-04-18 09:04] epeter- commented on #4262
i used a definition that up to now worked fine.
iam running dynamo in revit 2015 on windows 8.1 on a laptop with nvidia
graphics
regards peter

Am 17.04.2015 um 18:08 schrieb monikaprabhu:

---
Diese E-Mail wurde von Avast Antivirus-Software auf Viren geprüft.
http://www.avast.com

<Workspace Version="0.8.1.1060" X="-1636.64074241268" Y="-1826.52399149609" zoom="1.55615040087104" Name="Home" RunTy

[2015-04-18 09:05] epeter- commented on #4261
win 8.1

Am 17.04.2015 um 14:45 schrieb Neal Burnham:

---
Diese E-Mail wurde von Avast Antivirus-Software auf Viren geprüft.
http://www.avast.com

[2015-04-18 09:34] monikaprabhu commented on #4262
@epeter- can you please share the definition?

[2015-04-18 10:43] sjspikings opened #4267 "Different centroid results in 0.8.0 vs 0.7.5"
I am getting different result from the Solid.Centroid node in 0.8.0 vs 0.7.5. I believe that the 0.7.5 result is correct as it is the same as the results from the MassProp command in AutoCAD.

I am running the node in the family editor of Revit 2015 UR 7. Sorry, not sure how to share the node and the family with you on GitHub but can send separately if required. The family is an 'L' shape extrusio

[2015-04-18 13:13] monikaprabhu commented on #4267
@sjspikings you can email me the files at monika.prabhu@autodesk.com

[2015-04-18 13:24] josols commented on #4266
![model curve test](https://cloud.githubusercontent.com/assets/7080648/7215565/0bb0e13e-e5df-11e4-9c99-0349a7347e41.png)

[2015-04-18 13:26] josols commented on #4266
not entirely sure how to send it but changed it to a .png

[2015-04-18 14:09] monikaprabhu commented on #4266
@josols - Thanks for sending the file- its hanging on latest daily build. You can run it in Manual mode which is working fine. The issue is reported at MAGN-7162.

[2015-04-18 15:07] epeter- commented on #4262
already uploaded

Am 18.04.2015 um 11:34 schrieb monikaprabhu:

---
Diese E-Mail wurde von Avast Antivirus-Software auf Viren geprüft.
http://www.avast.com

[2015-04-18 15:09] monikaprabhu commented on #4218
Thanks for reporting the issue - I'm tracking this at MAGN-7163.If we want more information will get back.

[2015-04-19 04:36] mjkkirschner opened #4272 "User Report : ImportInstance crashes only with Run Auto"
@ikeough
http://dynamobim.com/forums/topic/dynamo-keeps-crashing/

[2015-04-19 07:47] eproca opened #4275 "Rotate view control is working in a weird way."
In the very last build (DynamoInstall0.8.1.20150418T1253.exe) the rotate view control (of the background 3D preview) seems almost impossible to use.

It looks like that the view keeps rotating a bit after you finish your mouse gesture.

By the way, the new graphics engine in the 3d preview looks truly fantastic compared with the old one

[2015-04-20 12:39] MartinHenriksen commented on #4264
@ralvarez76 have you tried renaming the .dll to "sharpdx_direct3d11_1_effects_x64.dll" as in the issue  @ikeough has linked above? If that is a usable workaround for you it might confirm that it is indeed the same issue. The issue persists on my end but renaming works for me.

[2015-04-20 13:23] andydandy74 opened #4284 "Wish: Highlight node by geometry"
For complex graphs it would be great to be able to click on an object in the geometry preview and have Dynamo highlight the corresponding node(s) - basically the same functionality we already have when selecting geometry nodes, only vice-versa.

[2015-04-20 13:25] andydandy74 opened #4285 "Wish: Highlight geometry by line for CBNs"
It would be nice if selecting a line of code in a CBN would highlight the corresponding elements in geometry preview.

[2015-04-20 13:32] monikaprabhu commented on #4262
@epeter, Do you mean DynamoPackages (I don't see any link above)?Can you share the name of the package?

[2015-04-20 13:34] monikaprabhu commented on #4255
@jbenoit44 ,Will be difficult to answer that question without seeing the error. is there an exception thrown in Dynamo. Can you share the file?

[2015-04-20 14:24] ralvarez76 commented on #4264
Yes renaming fixes the problem. Although I actually made a copy of the dll and left both in there.

Regards,

Rafael Alvarez

Sent from my mobile device.

[2015-04-20 14:41] cirela20 opened #4286 ""Non-Pointer" error when creating Point.ByCoordinates"
![dynamo point_error](https://cloud.githubusercontent.com/assets/12034959/7232306/e7b218d2-e748-11e4-9a64-5adc8a899488.png)

Latest stable build release: (0.8.0.95) returns error when trying to produce a Point.ByCoordinates through design script via code block.

Error reads: Warning, internal error please report. Dereferencing a non-pointer. (3f47aacd).

[2015-04-20 14:55] RodRecker commented on #4211
@jnealb @ikeough Do we have a defect ID for this?

[2015-04-20 16:07] jnealb commented on #4211
@MartinHenriksen @ikeough @RodRecker This is tracked with MAGN-7125.

[2015-04-20 17:01] ralvarez76 commented on #4264
I spoke too soon. This fixes the problem of crashing when launching the application, but one it runs I cant get any 3d canvas previews. Zoom to fit shows nothing,

[2015-04-20 17:02] jnealb commented on #4264
@ralvarez76 This is being tracked with MAGN-7125

[2015-04-20 17:03] ralvarez76 commented on #4264
Thanks jnealb. I noticed that when I run Dynamo on home with a Geforce card I don't have this problem with 0.8.1. I will try to update my display drivers to see if it helps with the issue.

[2015-04-20 17:44] jnealb commented on #4286
@cirela20 @kronz This is coming from a collision with the Mantis Point function. If you Run Manual with 8.0 you will see the appropriate message, it is only when running Auto that you get the incorrect 'deref' message. We are tracking the issue as MAGN-7170.

[2015-04-21 01:24] ikeough commented on #4264
I believe this bug has to do with the version of DirectX that the version of SharpDX used by Helix3D uses. This is described [here](https://github.com/sharpdx/SharpDX/issues/327).

[2015-04-21 03:06] LukeyJohnson opened #4289 "Crash when using File.ReadText"
Trying to read a 308kb rvt file using ReadText node. Error details copied below:

Index was outside the bounds of the array.

   at ProtoCore.Utils.EncodingUtils.ConvertInt64ToCharacter(Int64 data)
   at ProtoCore.DSASM.Mirror.ExecutionMirror.GetStringTrace(StackValue strptr, Heap heap)
   at ProtoCore.DSASM.Mirror.ExecutionMirror.GetStringValue(StackValue val, Heap heap, Int32 langblock, Int32 ma

[2015-04-21 03:07] LukeyJohnson commented on #4289
![node](https://cloud.githubusercontent.com/assets/5659896/7244982/288c7c3c-e823-11e4-9fff-354ae0d0a9ad.png)

[2015-04-21 03:29] junmendoza commented on #4138
@sharadkjaiswal @monikaprabhu We do have an exisiting bug related to using statments where the left variable is used at the right hand side: a = a + 1

Monika, do you still have the ID for that bug? otherwise lets just create a new one

[2015-04-21 05:14] duzo opened #4290 "ImportInstance sends bad geometry"
Hi,

I created a Solid geometry using Dynamo 0.8 that gets distorted when sent to Revit using ImportInstance.

I tried to use both
    - a top to bottom loft with 4 guide curves,
    - a loft using top, middle and bottom cross sections but I get the same result.

If it's exported as a SAT file and imported in Revit, the geometry is fine.

![image](https://cloud.githubusercontent.com/assets/1204362

[2015-04-21 08:50] dimven commented on #4155
I'm not sure if the problem is in my system but the last few daily versions after 0.8 have completely lost the ability to display any geometry larger than a few hundred units.
![2015-04-21_16-46-25](https://cloud.githubusercontent.com/assets/7148394/7248603/841eb5d8-e846-11e4-883f-2355b94a5733.png)

[2015-04-22 00:35] RodRecker commented on #4211
Hi all - I had this problem earlier today using a Windows 8.1 machine. However, Microsoft released a number of updates to Windows 7 and 8.1 today and I no longer have this problem. Give that a try and let us know if that helps.

[2015-04-22 00:37] RodRecker commented on #4261
@epeter- try doing Windows update. Microsoft released a number of updates to Windows 7 and 8.1 today. Give that a try and let us know if that helps.

[2015-04-22 03:14] Benglin commented on #1092
This should now be fixed by [the pull request mentioned above](https://github.com/DynamoDS/Dynamo/pull/4298) and will soon be available on the daily master. Thanks for reporting anyway, @andydandy74! Enjoy the comfort.

[2015-04-22 06:34] dimven commented on #4285
+1

[2015-04-22 06:36] dimven commented on #4275
I'm having a similar problem as described in here:

https://github.com/DynamoDS/Dynamo/issues/4155

Also it's not limited to the background preview. Watch 3D nodes are affected as well.

[2015-04-22 06:47] dimven commented on #4167
Any progress on this issue? A lot of work flows written mostly in DS created before 0.8 will need to be thoroughly edited otherwise.

[2015-04-22 07:03] dimven opened #4305 "Bug: Solid creation methods in design script fail on the last few daily builds"
![2015-04-22_14-56-20](https://cloud.githubusercontent.com/assets/7148394/7268888/7eccbe6c-e900-11e4-8b05-2788ff97da22.png)

Notice how "Solid" becomes an input.

[2015-04-22 07:40] tetsuyahishida commented on #4247
Hi I noticed that this was all about unit conversion.
Really difficult to understand...

[2015-04-22 08:57] andydandy74 commented on #4247
@tetsuyahishida - some pointers:
1. UnwrapElement will unwrap an entire list of elements, hence your code could be reduced like so:
[code]
(this will also take care of the issue that you were using the variable ```i``` twice in your nested loops...)
2. There is no need for unit conversion when you use the ```ToXyz()``` method for converting Dynamo points to Revit XYZs:
```xyz = i.Location.ToXyz()`

[2015-04-22 12:25] RodRecker commented on #4167
@dimven We haven't been able to focus on this one yet. We will know more in a week after completing scheduling for our next round of work.

[2015-04-22 14:30] monikaprabhu commented on #4289
@LukeyJohnson - which version of Dynamo are you running with?Are you running Dynamo Standalone or within Revit ? Revit file created from which version of revit(I tried files from 2014,2015 and 2016)? I tried on 8.0 and both daily build (1396 kb file)with Standalone and Revit. It executes without crash, though Dynamo starts becoming slow after that. Can you share the file also.

[2015-04-22 14:41] monikaprabhu commented on #4305
Do you have Mantis Shrimp or Rhynamo installed ? Possible duplicate of https://github.com/DynamoDS/Dynamo/issues/4109

[2015-04-22 14:42] monikaprabhu commented on #4285
@elayabharath  when are we having implementing this ?

[2015-04-22 14:43] monikaprabhu commented on #4284
@ikeough , ready for this request?

[2015-04-22 15:19] dimven commented on #4305
I've got neither Rhynamo, nor Mantis Shrimp installed.

[2015-04-22 19:11] ekatzenstein opened #4306 "Zoom to Fit Disables Preview"
Zoom to fit seems to be overzealous.  When I use zoom to fit in Dynamo preview, the geometry disappears, as does the grid.  I think its zooming out too far.

DynamoInstall0.8.1.20150421T1658.exe

[2015-04-22 19:24] JamesEMooreAIA opened #4308 "element.GetParameterValueByName error with Area elements"
![2015-04-22_dynamo0 8_element_getparametervaluebyname](https://cloud.githubusercontent.com/assets/12073368/7283148/2484277a-e8fa-11e4-8412-0596032a4d40.png)

Routine worked in Dynamo 7.5.  Pulls areas of all objects of "Areas" category in Revit.  Same set of nodes works without error when pulling objects categorized as "Rooms".

[2015-04-22 19:31] nreifenstein opened #4309 "Wish: Control of Python Print destination"
It would be nice to be able to monitor the python node through intermittent "print" statements - for diagnostics and debugging  - keeping them separate from OUT. Essentially this is redirecting "stdout" to somewhere, perhaps the dynamo console, the node's message banner, or a separate "outie".

[2015-04-22 19:43] mostaphaRoudsari commented on #4309
:+1:

[2015-04-22 20:46] ekatzenstein commented on #4306
Alright, I tested a few other things and it looks like a clipping plane issue.  How can we fix the clipping plane to relate to the zoom extents radius?

[2015-04-22 20:52] anagpuyol commented on #4256
I have a similar problem:

![image](https://cloud.githubusercontent.com/assets/2687679/7285054/d70722f2-e90f-11e4-9eea-3f297d8c78e7.png)

and then:

![image](https://cloud.githubusercontent.com/assets/2687679/7285065/e33f487e-e90f-11e4-901e-a96fb79263f3.png)

Then Dynamo crashes and closes Revit  too.

[2015-04-22 21:36] dbaldacchino opened #4310 "Element.GetParameterValueByName - inconsistent results"
Please see this simple graph (running 0.8.0.950). I am getting inconsistent results for the level names. Notice how some report just the name and others report more information, including the element id of the level. If I make a change to a level, the list changes and the output will shuffle again. This doesn't seem right. I tried it with rooms too, same result. Thanks.
![getparam](https://cloud.g

[2015-04-22 22:19] dbaldacchino commented on #4310
On a related note, I noticed that you cannot retrieve the value of a key associated with an object. For example if I have a key schedule associated with rooms, I cannot retrieve the key value, even though it appears as a parameter in the Revit model. I suppose those is expected since a key is technically not  parameter, but was wondering if there was a way to retrieve this in some way. Thanks.

[2015-04-22 22:58] LukeyJohnson commented on #4289
I am running 7.5.3566. My initial experience with 0.8.0.0 was not good, so I uninstalled it. I guess I should try again.

[2015-04-23 00:26] dbaldacchino opened #4311 "Excel.WriteToFile"
I am using this node to write room and area object data. I formatted a range in the .xlsx to be a table so I can do some pivot tables elsewhere in the file that update dynamically as data is refreshed by Dynamo. The table expands dynamically, but is not contracting consistently when data is deleted from the Revit model. Some old data is staying behind, which is a problem. I had to manually size th

[2015-04-23 03:02] LukeyJohnson opened #4313 "Wish: Select Connected Nodes"
It would be useful to select one node, and right-click or go to Edit menu and "Select All Connected Nodes". You could then save as new package or switch to another dyn and Paste. This would help with interpreting and breaking down massive definition files.

[2015-04-23 05:58] monikaprabhu commented on #4311
@dbaldacchino , yes , we are aware of it and its tracked at  MAGN-6750. We will try to fix it soon.
Thanks for reporting it.

[2015-04-23 06:08] monikaprabhu commented on #4226
If you can reproduce this - please reopen

[2015-04-23 06:08] #4226 closed

[2015-04-23 06:55] monikaprabhu commented on #4309
@nreifenstein - I'm adding your wish to our system at -MAGN-7218. What details are desirable here? variable name and the value , Line number of print statement ?

[2015-04-23 09:54] monikaprabhu commented on #4289
Yes this is crashing with 0.7.5 - Please try in 0.8.0 - the issues is gone. Im closing this .
if you can reproduce with latest daily build please reopen again.

[2015-04-23 09:54] #4289 closed

[2015-04-23 11:04] monikaprabhu commented on #4305
@dimven I'm not able to reproduce this at my end. I tried both inside Revit and Standalone. Can you please give us more details- are you trying on standalone and or Revit? Also please list if you have any other package installed.Any csharp .dlls loaded? What about other geometry methods are they working?
![solid](https://cloud.githubusercontent.com/assets/5218721/7295687/2c487ac8-e9eb-11e4-8919-91

[2015-04-23 12:43] dimven commented on #4305
Thank you for looking into this.
It doesn't work for me in both Revit and Standalone modes. I'll add a full list of packages tomorrow but the few that pop into mind are: Ampersand, archi-lab.net, Clockwork, Steam nodes, Lunchbox. I believe the only one that adds any c# libraries from the list of installed packages is the latest version of Lunchbox. I'll also try to do a clean install and see if th

[2015-04-23 13:18] ekatzenstein commented on #4037
I'm having this problem with the current version: DynamoInstall0.8.1.20150421T1658.exe

Posted here: https://github.com/DynamoDS/Dynamo/issues/4306

[2015-04-23 14:35] ikeough commented on #4037
@ekatzenstein if you're using the daily build, we changed out the visualization component and the far clip plane is being adjusted to accomodate models up to 2km in size. Hold tight, [it's not in quite yet](https://github.com/DynamoDS/Dynamo/pull/4291).

[2015-04-23 15:32] dbaldacchino commented on #4311
Thanks, looking forward to it as I'm working on a workflow that depends on it to make it seamless :)

[2015-04-24 00:07] LukeyJohnson opened #4327 "Wish: Replace Selected Nodes with Other Node"
After selecting a group of nodes, you could right-click "Replace with..." and then choose another node type. Dynamo can attempt to map in ports and out ports 1:1 where possible, if it can't it can just disconnect and then user can clean up after.

[2015-04-24 00:46] LukeyJohnson opened #4328 "Crash from Custom Node creation and Cleanup Node Layout"
Edit a definition (1)
Edit a custom node (2) in that definition
Create a Node from selection
Save the nested node (3) and close it
Switch back to (2)
Attempt to Cleanup Node Layout

Because wires floating around etc (in v0.8.0.706), I assume Dynamo has problem / crashes:
Object reference not set to an instance of an object.

   at GraphLayout.Edge..ctor(Guid startId, Guid endId, Double startY, Dou

[2015-04-24 05:42] dimven commented on #4305
Hi @monikaprabhu , I did a clean install(uninstalled and deleted all folders) of the latest daily and it seems like everything seems to be  back to normal again. I guess the problem was somewhere on my end?
![2015-04-24_13-38-09](https://cloud.githubusercontent.com/assets/7148394/7313020/c021008e-ea87-11e4-9f3c-c452487c4e0e.png)

[2015-04-24 05:43] dimven commented on #4305
Hi @monikaprabhu , I did a clean install(uninstalled and deleted all folders) of the latest daily and it seems like everything seems to be  back to normal again. I guess the problem was somewhere on my end?
![2015-04-24_13-38-09](https://cloud.githubusercontent.com/assets/7148394/7313020/c021008e-ea87-11e4-9f3c-c452487c4e0e.png)

[2015-04-24 05:43] #4305 closed

[2015-04-24 08:31] andydandy74 commented on #4128
Another small addition:
When we use wall elements as curtain panels, Revit actually seems to store two elements: a curtain panel placeholder and the actual wall element that appears in the panel schedule. When we collect curtain panels in Dynamo by category we will, however, receive the placeholder element – which means we do not get those elements that will actually appear in a panel schedule.
Th

[2015-04-24 15:56] nreifenstein commented on #4309
I think there are several possible solutions. The simplest would be to set print statements (and write()) to the dynamo console; there is already a steady stream of information for the user, why not add "print" functionality? More complex would be adding a second outie (like the Grasshopper Python component) for messages, separate from the data outie OUT. As for more information like line numbers,

[2015-04-25 02:23] monikaprabhu commented on #4327
+1
This would be an interesting addition to dynamo - Im trackign this at MAGN-3557

[2015-04-25 02:45] monikaprabhu commented on #4313
@LukeyJohnson - I agree that would be useful. we are tracking this at MAGN-7243

[2015-04-27 14:07] monikaprabhu commented on #4284
@andydandy74 - thanks for request. I'm tracking this at - MAGN-7219

[2015-04-27 16:53] ikeough commented on #4155
Hey all. Yes, the far clip plane in the new viewer is really small. There is an [outstanding PR](https://github.com/DynamoDS/Dynamo/pull/4291) that fixes this, increasing the far clip plane to 2000000 units (2km in mm). There are just a couple more things to fix in that PR before it comes in. Hold tight.

[2015-04-27 16:55] ikeough commented on #4189
@dbaldacchino We've just added an additional component to the installer which adds further DirectX support for Dynamo. Can you try a daily build and let us know if things are improved?

[2015-04-27 16:56] dbaldacchino commented on #4189
Sure, will do. Thanks Ian!

[2015-04-27 16:57] ikeough commented on #4211
@MartinHenriksen Can you try an updated daily build? We've added a step to the Dynamo installer to install the neccesssary DirectX components for the new visualization.

[2015-04-27 17:01] dbaldacchino commented on #4308
Hi James, I'm seeing some related issues as well (see #4310 ). I just started a new graphy in 0.8 so I'm not sure this worked properly before.

[2015-04-27 17:02] ikeough commented on #4306
@ekatzenstein See my response in https://github.com/DynamoDS/Dynamo/issues/4155.

[2015-04-27 17:27] dbaldacchino commented on #4189
No dice Ian, still not launching in Sandbox mode. Tried as administrator and also set compatibility mode to Windows 7 just in case. Also no logs are being written when launching Sandbox 0.8.1. Note that 0.7.5 still launches with no issues on Windows 8.1.

[2015-04-27 18:09] dbaldacchino commented on #3988
Hi Andy, not exactly but similar. This came up agian for me recently and Zac helped out here:

http://dynamobim.com/forums/topic/building-lists-of-lists-from-other-lists-of-lists/

Topic: List and Item Matching. So it's doable, just not in one node. Still learning how to use nodes as functions! I'll close this out.

[2015-04-27 18:09] #3988 closed

[2015-04-27 18:16] dbaldacchino commented on #4189
This build is actually crashing; not running at all.

![dynamoerror](https://cloud.githubusercontent.com/assets/4656191/7354185/02a9ed36-ecdf-11e4-89d9-aa102fa3e9e5.png)

Object reference not set to an instance of an object.

   at Dynamo.UI.Views.LibrarySearchView.OnTopResultTargetUpdated(Object sender, DataTransferEventArgs e)
   at System.Windows.RoutedEventArgs.InvokeHandler(Delegate handler,

[2015-04-27 19:31] dbaldacchino commented on #4310
Just checked the same graph in 0.7.5 and it does the same (similar) thing. The exception as compared to the above, is that it doesn't throw a warning since instead of "null", the list would just have a blank. The other difference is that the list was sometimes writing element ids as string values it seems and not as clickable IDs highlighted in green as shown above. The inconsistency with reportin

[2015-04-27 21:22] jbenoit44 commented on #4256
![image](https://cloud.githubusercontent.com/assets/4572196/7358192/2d4a1a8e-ed34-11e4-8d46-6a3f627eb6a9.png)
latest daily available

[2015-04-27 21:22] jbenoit44 commented on #4256
FYI Sandbox doesn't run either.

[2015-04-27 21:51] dbaldacchino opened #4351 "Element.Parameters - jumbled reporting"
This issue exists in 0.7.5 and in 0.8 as well. Basically when you retrieve the parameters of an object category (ex: rooms), the listed items are listed at random. This makes it impossible to pull particular items from the list consistently through List.GetItemAtIndex for example, since the parameters are not reported at the same index consistently. I'm also noticing that some parameters are not r

[2015-04-27 22:39] RodRecker commented on #4189
@dbaldacchino If it is not too much hassle, can you try uninstalling Dynamo 0.7.5 and reinstalling 0.8.1 and see if that runs? We have noticed that some users have had trouble getting these two to co-exist.

[2015-04-28 06:27] riteshchandawar commented on #1643
Hello @marcellosgamb
This issue has been fixed in latst build.
Please let me know if you are still seeing this issue.

Thanks,
Ritesh

[2015-04-28 06:27] #1643 closed

[2015-04-28 06:35] jbenoit44 commented on #4255
no exception, just vanishing... will try to redo this with a file I can share. email adress??

[2015-04-28 09:33] MartinHenriksen commented on #4211
@ikeough ok, so I updated to the latest daily build, compiled, ran the 'DXSETUP.EXE' and I did not get the missing .dll error!... But I did get the 'error registring effects' which is still a dx issue i think. The error report said:
<Object reference not set to an instance of an object.

   at HelixToolkit.Wpf.SharpDX.Viewport3DX.HelixToolkit.Wpf.SharpDX.IRenderer.Render(RenderContext context)

[2015-04-28 12:34] monikaprabhu commented on #4256
@anagpuyol , The error registering about sharpdx_direct3d11_effects_x64.dll is discussed seperately in this thread. This has been fixed by development.Please try the latest daily build. its dsicussed in thread-https://github.com/DynamoDS/Dynamo/issues/4211#issuecomment-96989014.

@jbenoit44 - which Windows version are you using- I tried this on Win7 and Win8.1 with non english locale and could not

[2015-04-28 14:03] monikaprabhu commented on #4256
@jbenoit44 , Need some more info to narrow down the issue. Can you also share the value in the env variable PATH. You can also send it on my email monika.prabhu@autodesk.com

[2015-04-28 14:33] dbaldacchino commented on #4189
Hi Rod, uninstalled all versions, then installed today's build. Still the same problem described above. DynamoSandbox.exe doesn't work either. I used Process Monitor when launching Sandbox.exe so if you need the captured logs to help troubleshoot, please get in touch and I can send them to you. The event shown for DynamoSandbox.exe is the following:

Event Class:	File System
Operation:	CloseFile
R

[2015-04-28 14:38] jnealb commented on #4189
@dbaldacchino Hi dave, can you please try this:

1. Navigate to C:\Users\Dave's Account\AppData\Roaming\Analytics
2. Make a backup of the file in the folder
3. Delete it from the folder
4. Load Dynamo 8.1

Thanks, Neal

[2015-04-28 14:54] dbaldacchino commented on #4189
Hi Neal,

Same exact crash and dialog as before.

Object reference not set to an instance of an object.

   at Dynamo.UI.Views.LibrarySearchView.OnTopResultTargetUpdated(Object sender, DataTransferEventArgs e)
   at System.Windows.RoutedEventArgs.InvokeHandler(Delegate handler, Object target)
   at System.Windows.EventRoute.InvokeHandlersImpl(Object source, RoutedEventArgs args, Boolean reRaised)

[2015-04-28 20:48] jbenoit44 commented on #4256
this is French OS, win 7 64b. I have dynamo 0.7.6 and 0.8 official. will share PATH tomorrow.

[2015-04-28 21:17] RodRecker commented on #4256
I would recommend uninstalling 0.7.6 since that was never released as a stable build. It is basically a daily build prior to 0.8.0.

[2015-04-29 03:10] ikeough commented on #4189
http://sharpdx.org/forum/5-api-usage/1359-direct2d-effects-class-for-win7

[2015-04-29 03:28] monikaprabhu commented on #4115
@andydandy74 - This bug is fixed, Im closing this

[2015-04-29 03:28] #4115 closed

[2015-04-29 04:06] ikeough commented on #4211
@MartinHenriksen Turns out that the dll you originally referenced is not included and not referenced anywhere in the Helix component, but IS part of SharpDX. I've added the missing dll. Should show up in the daily build by tomorrow morning. Can you remove all Dynamos and try with the latest?

[2015-04-29 04:10] ikeough commented on #4189
@dbaldacchino @epeter- See my upate here: https://github.com/DynamoDS/Dynamo/issues/4211

[2015-04-29 05:47] andydandy74 commented on #2460
Could somebody **please** alter ToDSType in such a way that it either converts an object to the corresponding Design Script type or - if that fails - just returns the original object without throwing an exception? Seems I am not the only one that is affected by this: http://dynamobim.com/forums/topic/id-string-to-elements

[2015-04-29 05:54] jbenoit44 commented on #4256
no change after uninstall.
![image](https://cloud.githubusercontent.com/assets/4572196/7385363/01362d54-ee45-11e4-8b82-e027a5f8c6a1.png)

[2015-04-29 05:57] jbenoit44 commented on #4256
Microsoft Windows [version 6.1.7601]
Copyright (c) 2009 Microsoft Corporation. Tous droits réservés.

C:\Users\julien.benoit>set path
Path=C:\ProgramData\Oracle\Java\javapath;C:\Program Files\Common Files\Microsoft
 Shared\Windows Live;C:\Program Files (x86)\Common Files\Microsoft Shared\Window
s Live;C:\Program Files (x86)\Intel\iCLS Client\;C:\Program Files\Intel\iCLS Cli
ent\;C:\Program Files\D

[2015-04-29 06:01] dbaldacchino commented on #4189
Thanks Ian. Renaming the dll worked. It appears the search has improved on Windows 8.1, although the first few letters still lag by quite a bit and then it gets faster. Sandbox still doesn't launch. I'll test again with tomorrow's build, thanks.

[2015-04-29 06:20] LukeyJohnson opened #4363 "Library does not show all packages"
But after opening up one of the dyfs from the package folder, the package amazingly appears in the library. Something is broken...

[2015-04-29 06:21] ke-yu commented on #4256
@jbenoit44 sorry, it is a bug. Will fix it soon.

[2015-04-29 07:21] monikaprabhu commented on #4256
@jbenoit44 - You can try removing Firefox_Extension{442718d9-475e-452a-b3e1-fb1ee16b8e9f} and try launch Dynamo- Can you please confirm if that fixes the issue.

[2015-04-29 08:50] redinkinc commented on #3807
seems to work in the current build. Thanks a lot, but notifying and closing the issue would be nice.
Fabian

[2015-04-29 08:50] #3807 closed

[2015-04-29 11:53] jbenoit44 commented on #4256
New PATH:

Microsoft Windows [version 6.1.7601]
Copyright (c) 2009 Microsoft Corporation. Tous droits réservés.

C:\Users\julien.benoit>set path
Path=C:\ProgramData\Oracle\Java\javapath;C:\Program Files\Common Files\Microsoft
 Shared\Windows Live;C:\Program Files (x86)\Common Files\Microsoft Shared\Window
s Live;C:\Program Files (x86)\Intel\iCLS Client\;C:\Program Files\Intel\iCLS Cli
ent\;C:\Prog

[2015-04-29 12:22] RodRecker commented on #4256
It appears to be a defect on our side when encountering a path with a '{' character. Sorry for the hassle and we will work to get this fixed soon.

[2015-04-29 12:30] ikeough commented on #4363
Can you tell us which package so we can try to replicate internally?

[2015-04-29 13:05] ikeough commented on #4256
@jbenoit44 A fix has been supplied (see link to PR above), and is now under review.

[2015-04-29 13:06] Steell commented on #2460
For now, you can use this function in your own python scripts:

[code]

[2015-04-29 13:39] LukeyJohnson commented on #4363
It affects more than one package, but I demonstrate the issue on Get Revit Selection here:
https://screencast.autodesk.com/main/details/85ff5b5f-2a31-4328-9401-a3ae03e9d2a4

[2015-04-29 14:03] RodRecker commented on #3807
@redinkinc Thanks for reporting that it works. Sometimes things appear fixed even though we didn't actively work to address it. We haven't closed the defect in our internal tracking system yet which would explain why it wasn't reported back here as fixed.

[2015-04-29 14:05] RodRecker commented on #3361
seems related to #3807 which is now closed.
@vmoyseenko Can you check if this works for you now?

[2015-04-29 14:21] MartinHenriksen opened #4367 "D3DCOMPILE_44.dll is missing"
DynamoSandbox fails to load saying D3DCOMPILE_44.dll is missing - strangely I can find D3DCOMPILE_41, _43, _46 and _47.
This is on version 0.8.1.1046
also still having issues with #4211
![dynamonotresponding](https://cloud.githubusercontent.com/assets/11832090/7393026/ca7f670c-ee8b-11e4-9305-0b0dc24ed039.PNG)

[2015-04-29 14:30] MartinHenriksen commented on #4211
@ikeough Tried your suggestion and I do see the files in the Debug-folder - But Dynamo still won't run.
The first error message is the missing D3DCOMPILE.dll (I created a new issue for that #4367 )
and the sharpDX dlls are still not loaded giving the error that the files are not in the path (I think this is similar to #4256) I tried adding the Debug-folder path to the path env. variable but they a

[2015-04-29 15:07] ksobon commented on #4226
It's still not working for me. I have sets of valid points:
![image](https://cloud.githubusercontent.com/assets/529781/7394079/64f1b9a2-ee5f-11e4-9dda-78f03c731397.png)
yet when I try creating an Arc from them they throw the same error:
![untitled-1](https://cloud.githubusercontent.com/assets/529781/7394119/a5466b6a-ee5f-11e4-86dc-19a6a9724914.png)

[2015-04-29 15:52] ikeough commented on #4367
Ok, and earlier issue reported not being able to find D3DCOMPILER_43.dll, so I included that in the directX components install. Looks like this will change from setup to setup. I'll include it in the DX component install.

[2015-04-29 16:08] ikeough commented on #1169
@wassimj I noticed that this has been open for a while. I'm closing it because the units behavior is completely changed in 0.8.0. Units in Dynamo now adhere to the unit setting you have set in Revit. If this does not solve the issue above, then let us know.

[2015-04-29 16:08] #1169 closed

[2015-04-29 16:14] wassimj commented on #1169
Yes of course. This one is stale

Best Regards,

Dr. Wassim Jabi, Senior Lecturer
Welsh School of Architecture

[2015-04-29 16:36] dbaldacchino commented on #4189
Hi Ian, just installed DynamoInstall0.8.1.20150429T0438.exe but it still has the same problems as described above. Thanks.

[2015-04-29 16:52] redinkinc opened #4370 "How to access a list in a list in new node?"
Hi,
I have another problem in my current version of [utilities](https://github.com/redinkinc/DynamoUtilities). In the dropdown node I can now access list of lists, but only return the index but not the list itself. I'm having similar to this:

                  foreach (var data in listMirror.GetData().GetElements())
                                {
                                    var dataStr

[2015-04-30 05:56] andydandy74 commented on #2460
Thanks, but I have a three digit number of Python scripts. Somehow it felt easier just getting rid of it entirely and hoping that the auto-marshaling will take care of it. Yes, you may call me lazy now. ;-)

[2015-04-30 09:41] redinkinc opened #4377 "check file at filepath isUpdated?"
Hi, I have a script where I read in a file. Now if I change something in the file I cannot run dynamo again because I have nothing changed in the script itself. Is there a possibility to have a File.IsUpdated? node in Dynamo?
Thanks, Fabian

[2015-04-30 10:08] andydandy74 commented on #4377
@redinkinc - The File.FromPath node watches changes to an external file.

[2015-04-30 12:15] redinkinc commented on #4377
@andydandy74 - ok, thanks. I hoped so but faced some issues with that. Will give it a try.

[2015-04-30 12:15] #4377 closed

[2015-05-01 10:12] jbenoit44 opened #4380 "0.8 sandbox (official release) not even starting"
0.7 is working correctly, but nothing pops up with 0.8.

[2015-05-01 12:41] ikeough commented on #4380
@jbenoit44 Do you have 3D Studio Max on your machine? We noticed recently that users with 3D Studio Max installed with Dynamo, including @mccrone, could not start Dynamo. This was due to Dynamo attempting to use 3DS max's geometry libraries instead of Revit's. A fix has been submitted in https://github.com/DynamoDS/Dynamo/pull/4373, but unfortunately will not be available in a "stable" release unt

[2015-05-01 12:42] ikeough commented on #4363
@pboyer Any ideas here?

[2015-05-01 12:44] ikeough commented on #4313
@LukeyJohnson When a node is selected, try pressing Tab. This will expand your selection by one connection. Pressing Tab again, by two. Etc...

Does this work for you or do you want a "one click selects everything connected to anything connected to this node" sort of thing?

[2015-05-01 12:48] ikeough commented on #4367
@MartinHenriksen Can you send me the output from dxdiag.exe on your machine? This is a DirectX diagnostic tool that has a button where you can save a data dump to a txt file.

Run -> dxdiag.exe -> Save All Information

[2015-05-01 13:24] andydandy74 commented on #4313
@ikeough - How cool is that? What a great hidden faeture. It's a shame it's not documented. How about implementing Shift + Tab to reduce the selection again?

[2015-05-01 13:48] ikeough commented on #4313
Strangely enough, that's one of the first things we put in after we built selection. Yes, it needs documentation.

[2015-05-01 15:20] redinkinc opened #4382 "Trying to use Revit.View.SunSettings.Current crashes Dynamo 0.8.1.1106"
Tried to use Sunsettings in Dynamo 0.8.1.1106 on German Windows 8.1 64bit and Revit 2016 64bit resulting in following error message:

Invalid call to Revit API! Revit is currently not within an API context.

   bei Autodesk.Revit.UI.UIApplication.add_ViewActivated(EventHandler`1 handler)
   bei DSRevitNodesUI.SunSettings..ctor()
   bei lambda_method(Closure )
   bei Dynamo.Search.SearchElements.No

[2015-05-01 15:42] dbaldacchino commented on #4189
Haven't been able to verify as there were no new builds since the one above. Thanks.

[2015-05-01 15:46] dbaldacchino commented on #4380
No 3D Studio Max here, still no 0.8 Sandbox on Windows 8.1. 0.7.5 Sandbox works.

[2015-05-01 19:00] aogata opened #4383 "various code block issues"
I have been having a pretty tough time understanding code blocks.
I assumed that the functions would return values of 3 and 5 respectively.
How come I am getting "null" values in the to functions at the top?
How come I get lists on the functions at the bottom?
Also, if you copy the function definition an rename it (Panelize2 from Panelize) it appears to cause problems
Finally, I am not sure I unde

[2015-05-01 19:05] RodRecker commented on #4383
@aogata The Panelize function's 2nd line may need "returnSyntax" instead of "return".
Let us know if that doesn't work.

[2015-05-01 19:09] jbenoit44 commented on #4380
no 3ds.

[2015-05-01 19:14] aogata commented on #4383
Thanks RodRecker... tried it... but no change.
My question regarding the "return syntax" was whether the use of a native term (return) made a difference in assigning a variable (=[Imperative]),

Nevertheless, I thought that the output to the function nodes would be either 3 or 5. Instead I get 2 'null' and 2 lists.

https://cloud.githubusercontent.com/assets/4739811/7435563/24517cdc-f00a-11e4-99b8

[2015-05-01 19:15] RodRecker commented on #4383
Which version of Dynamo are you using?

[2015-05-01 19:15] aogata commented on #4383
0.8.0.950 and revit 2015

[2015-05-01 19:20] holyjewsus commented on #4383
Hi @aogata you wrote a function taking two inputs, you need to supply both input parameters:

![screen shot 2015-05-01 at 3 19 36 pm](https://cloud.githubusercontent.com/assets/508936/7435846/8d13181a-f015-11e4-98e9-3a8b9234ac45.png)

[2015-05-01 19:33] holyjewsus commented on #4383
Hi @aogata I'll investigate this more, thanks for submitting the issue, let us know if fulfilling the parameters worked. Something doesn't seem to be right.

[2015-05-01 19:42] aogata commented on #4383
That was helpful.
There still is appears to be an issue regarding the input/output formatting. (see integer input vs list input)
![image](https://cloud.githubusercontent.com/assets/4739811/7436152/2486367e-f010-11e4-837f-c9744b80752f.png)

However, it answered my question regarding "return" vs "return syntax".  Seems like now you HAVE to use "return" and variable names are no longer allowed.

[2015-05-01 20:50] holyjewsus commented on #4383
The issue of passing lists into functions and not replicating over their contents is a question for @lukechurch

[2015-05-01 21:23] mccrone commented on #4380
There is a good chance that #4373 will solve this problem more generally once it's in Master.  It would be great if you could try again with the daily builds in the middle of next week, @jbenoit44 @dbaldacchino.

[2015-05-01 21:57] dbaldacchino commented on #4380
Will do, thanks Colin.

[2015-05-02 07:59] josols commented on #4061
Hi all,
I've also read about the 2016 API, and direct shape. It also mentions a new class called WireframBuilder which can create geometry by curves and points. For a layman like myself that sounds very promising. Or am I just being naive? :)

[2015-05-02 11:46] monikaprabhu commented on #4383
@aogata ,
There are language example available in this guide.
http://dynamobim.org/wp-content/uploads/forum-assets/colin-mccroneautodesk-com/07/10/Dynamo_language_guide_version_1.pdf

Imperative Language is not for replication: To use lists in Imperative Blocks you need to use "for "
![untitled2](https://cloud.githubusercontent.com/assets/5218721/7440951/e6ff280c-f103-11e4-9619-150f4a648d83.png)

[2015-05-02 12:27] monikaprabhu commented on #4382
I can reproduce this on English Windows as well- MAGN-7298 .This is working ok with Revit 2015 can you use that?

[2015-05-03 09:23] redinkinc commented on #4382
I can use Revit 2015 but then have to recreate my Revit project. Would prefer working in 2016 but having 2015 as a fallback.

[2015-05-03 09:53] redinkinc opened #4384 "Wish: Package Manager functionalities"
I like to add some additional suggestions to issue #3920 which may be closed since most things seem to work in the current builds?!
- Update packages: The context menu in package manager should have an update functionality. This would be much easier then uninstalling the package and search for them to install them again.
- the search should have an option to show/hide deprecated packages (this is

[2015-05-03 10:40] monikaprabhu commented on #4382
@redinkinc - Sorry for inconvenience - will try to get it fixed soon.

[2015-05-03 11:03] monikaprabhu commented on #4384
@redinkinc , Aboslutely very good requirements- I'm internally tracking them at
MAGN-7300 - As a user i want to update my packages using Update packages:
MAGN-7301 - As a user search should have an option to show/hide deprecated packages
MAGN-7302 - Do not reinstall the package if depending package is already installed
MAGN-7303 - As a User I want option to load packages/Custom node from local com

[2015-05-03 14:32] monikaprabhu commented on #4194
This is tracked at MAGN-7250.

[2015-05-03 14:37] monikaprabhu commented on #4202
@ksobon - Is this fixed? if not please reopen.

[2015-05-03 14:37] #4202 closed

[2015-05-03 14:41] monikaprabhu commented on #4227
@pboyer - what do you think?

[2015-05-03 14:53] monikaprabhu commented on #4255
monika.prabhu@autodesk.com

[2015-05-03 14:57] monikaprabhu commented on #4261
@epeter- what is the status on this

[2015-05-03 14:59] monikaprabhu commented on #4262
@epeter-  or you can email me the same- monika.prabhu@autodesk.com

[2015-05-03 19:27] jnealb commented on #4169
@andydandy74 This request is tracked with MAGN-7088.

[2015-05-03 21:54] ramramps commented on #4257
This is tracked under MAGN-7085.

[2015-05-03 23:39] LukeyJohnson commented on #4313
Nice! I agree with Andy, would be nice to be able to reduce selection again. But to be honest, I think the best extensions to this feature would be:
One-click to select all upstream (ie. nodes feeding this node)
One-click to select all downstream (ie. nodes output from this node)
One-click to select all connected, downstream and upstream.

[2015-05-04 03:11] andydandy74 commented on #4313
:+1:

[2015-05-04 07:13] elayabharath commented on #4384
@redinkinc Would you have some time to take a look at the ideas we have in mind for Package manager? It has all your wishes and more https://docs.google.com/document/d/1GXidznhcULkh0P1h-OrWwQGhpXTvxsx5o1CZNt5Fr9M/edit?usp=sharing

Would be awesome to have your thoughts :)

[2015-05-04 07:27] ansonman opened #4390 "Element.GetParameterValueByName - Warning"
I creating excel summary with big project data. When run designed standard node on my Dynamo.  the "Element.GetParameterValueByName" showed warning, the warning as below:

Warning: Internal error, please report: Dereferencing a non-pointer. (3f47aacd)

This is bug or not ?

[2015-05-04 08:44] MartinHenriksen commented on #4367
@ikeough here is the dxDiag output:

------------------
System Information
------------------
Time of this report: 5/4/2015, 10:32:09
       Machine name: CPH-S4M05501
   Operating System: Windows 7 Enterprise 64-bit (6.1, Build 7601) Service Pack 1 (7601.win7sp1_ldr.150316-1651)
           Language: English (Regional Setting: English)
System Manufacturer: LENOVO
       System Model: 30AHS00205

[2015-05-04 08:59] dimven opened #4392 "Design Script method "__Apply" does not work for multiple arguments?"
![2015-05-04_16-52-40](https://cloud.githubusercontent.com/assets/7148394/7451064/aca25054-f27e-11e4-8ab8-bbc18b9d19fc.png)

"Apply "works just fine with a single argument. However, as the image shows, it fails when used with multiple arguments.
Is it possible for the "Apply" method to accept multiple arguments, just like its Dynamo node equivalent?

[2015-05-04 11:41] jbenoit44 commented on #4255
seems to be project related. did a try with new file and 4000 parts from families. works fine.

[2015-05-04 11:41] #4255 closed

[2015-05-04 12:47] monikaprabhu commented on #4392
@ke-yu - Looks like bug to me - Can you take a look at this ?

[2015-05-04 12:57] monikaprabhu commented on #4255
Thanks for the update- if its crashing again - Please get back to us

[2015-05-04 13:27] aogata commented on #4383
So @monikaprabhu @lukechurch @holyjewsus is that right?
The output of an imperative block with a list input will always be a list with the same qty of indices as the input?

Then, what kind of syntax would you use in a code block if you wanted to use a loop to go through a list and output either a single solution (say... highest number) or a list of a different size (say... same list until the sum

[2015-05-04 17:09] redinkinc commented on #4384
Had a look on that document. Think it looks great.
Perhaps you should also adress  #3433 in that file.
Fabian

[2015-05-04 18:58] dbaldacchino opened #4397 "Problem with Package Manager UI (Scrolling)"
There's a problem with the UI of the Package Manager, specifically when scrolling after expanding the version list of a particular package. The scroll mouse button doesn't work. Also if you try to scroll using the little scroll control on the right of the window, it jumps to the next package rather than through the list of versions. This actually highlights another problem: version history should

[2015-05-05 01:00] ke-yu commented on #4392
Hi @dimven , yes, `__Apply()` is dumb :-(, it only works with a single argument. To get the final result, you may apply `__Apply()` multiple times. For example:

![untitled](https://cloud.githubusercontent.com/assets/2600379/7465537/5dc9e510-f304-11e4-9c35-8dfbad9bac08.png)

But as you know about `__Apply()`, try `__ApplyList()` :-)

![untitled](https://cloud.githubusercontent.com/assets/2600379/7

[2015-05-05 01:58] dimven commented on #4392
@ke-yu, Thanks a lot for the info. That works great! :+1:

[2015-05-05 01:58] #4392 closed

[2015-05-05 02:08] holyjewsus commented on #4383
hi @aogata, I found out today you can do what you'd like this way by typing the input parameter to your function:

![screen shot 2015-05-04 at 10 07 40 pm](https://cloud.githubusercontent.com/assets/508936/7466033/1f148500-f2aa-11e4-977e-e9541ef7e047.png)

note the :var[] type

[2015-05-05 02:36] monikaprabhu commented on #4397
@dbaldacchino  , yes I see that the scroll bar is jumping to next package and  its quite inconvenient. This is already reported at our end is tracked at MAGN-5576. @pboyer what are the chances of this getting fixed in the recent future?

[2015-05-05 03:08] pboyer commented on #4397
Although I'm happy to fix this, but this can be fixed by anyone on the
team.  Well need to fit it into our priorities like everything else. :p

On Mon, May 4, 2015, 10:36 PM monikaprabhu <notifications@github.com> wrote:

[2015-05-05 03:17] monikaprabhu commented on #4390
@ansonman - can you post more details? Which version of Dynamo are you using - Also please post the graph. "Element.GetParameterValueByName".Also which version of Revit are you using ?Latest build works ok with Revit 2014,Revit 2015 and Revit 2016.
![param](https://cloud.githubusercontent.com/assets/5218721/7466382/606b83d6-f314-11e4-8328-2489dfba8559.png)

[2015-05-05 03:37] monikaprabhu commented on #4383
@aogata - In the above example I was trying to explain how to iterate throw the list.
As holyjewsus pointed out, if you want to process a list you can pass  a list as argument and return after the processing. here is another example to show how to extract only a part of the list and return it. All the list processing methods should be working ok within Imperative loop and the return value is based

[2015-05-05 05:36] monikaprabhu commented on #4370
@keyu- Can you please take a look at this?

[2015-05-05 05:50] ke-yu commented on #4370
Hi @redinkinc, `AstFactory.BuildPrimitiveNodeFromObject()` is pretty weak...it only works for few primitive types: int, double, string and boolean, otherwise it returns `NullNode()`. If item is an array, you may check its type firstly (e.g., it is `IEnumerable` or not), and use `AstFactory.BuildExprList()` to get an array.

For example, you would write a helper function to create associative node

[2015-05-05 06:50] monikaprabhu commented on #4328
@LukeyJohnson - are you still able to reproduce this? I could not reproduce this on latest daily build or 0.8.0 - is it specific to some nodes.If you can still see this crash please share the nodes. You can email me at monika.prabhu@autodesk.com

[2015-05-05 14:56] archinate commented on #4367
Hey @ikeough @MartinHenriksen,
I just wanted to chime in.  I'm getting the same error re:  missing D3DCOMPILE_44.dll.  I'm using a NVIDIA Quadro K1100M

-Nate

[2015-05-05 16:11] aogata commented on #4383
Thank you all... This was most helpful

On Mon, May 4, 2015 at 10:37 PM, monikaprabhu <notifications@github.com>
wrote:

--

Alejandro Ogata, AIA, LEED AP
Adjunct Professor of Architecture
University of Kansas, School of Design
Marvin Hall, 1465 Jayhawk Boulevard
Lawrence, KS 66045
m: 816.694.1747

Sr Project Designer
HNTB Corporation
715 Kirk Drive
Kansas City, MO 64105
o: 816.527.2190

[2015-05-05 16:31] dbaldacchino commented on #4390
@monikaprabhu there are related issues #4308 and #4310 (no response/aknowledgement yet).

[2015-05-06 00:36] LukeyJohnson commented on #4328
Still occurs for me on 0.8.0.706, video here: https://screencast.autodesk.com/main/details/c152e228-75af-4a39-8060-10881f23bb15

Object reference not set to an instance of an object.

   at GraphLayout.Edge..ctor(Guid startId, Guid endId, Double startY, Double endY, Graph ownerGraph)
   at GraphLayout.Graph.AddEdge(Guid startId, Guid endId, Double startY, Double endY)
   at Dynamo.ViewModels.Works

[2015-05-06 05:53] marcellosgamb opened #4412 "Element.GetParameterValueByName not working but Sheet.SheetNumber is working v.80"
Element.GetParameterValueByName not working but Sheet.SheetNumber is working v.80
![image](https://cloud.githubusercontent.com/assets/6132497/7488093/7b59def8-f379-11e4-8e92-3413ee1713ce.png)

[2015-05-06 06:22] #4275 closed

[2015-05-06 06:25] eproca commented on #4257
It is great that the functionality requested is already in the daily builds. Thanks

[2015-05-06 06:25] #4257 closed

[2015-05-06 06:41] eproca opened #4413 "Show geometry in Revit 2016"
The functionality of showing a preview of the Dynamo geometry in Revit 2015 it is fantastic. In same cases is really critical.

Sadly it seems not available in Revit 2016. Can we expect that this will change soon?.

[2015-05-06 08:22] ondejcik opened #4415 "Reading numbers from excel"
Hi,

i have problem with component that reads excel data, it autoaticaly converts numbers to float without chceking if they are intergers, and adds a lot of zeros.

it looks weird when i write values to to revit components that go out on sheets

would it be possible to have component that consideres all data from excel as string ? so the values look exact as in excel? there already is component st

[2015-05-06 14:23] ekatzenstein opened #4418 "Renaming Groups and Position"
After renaming a group, if I click on another battery or group in the definition, the entire renamed group is moved to that position.

Daily Build: DynamoInstall0.8.1.20150505T0438.exe

[2015-05-06 15:39] monikaprabhu commented on #4418
@ekatzenstein - yes I see that - I've filed a bug to track this MAGN-7321.

[2015-05-06 15:52] monikaprabhu commented on #4415
@aparajit-pratap ,Why are we converting the int into float? how can  we keep the value same as entered in excel

[2015-05-06 21:16] #4383 closed

[2015-05-07 03:34] HyunuKim commented on #4155
Agreed. It's really annoying. How can I review it without view? There should be some options to control the size of those elements.

[2015-05-07 04:41] aparajit-pratap commented on #4415
Let me check this. Thanks for pointing it out.

[2015-05-07 09:57] ThorHow commented on #4310
I have had a similar issue for weeks and coded my own little Python to get correct values - seems to be an issue with numbers....
My Dynamo stays at 0.8.1.1106 on 2015, since I'm currently demo:ing Dynamo for customers, but I tried a newer build a few days ago with the same issue.

![2015-05-07 11-53-14](https://cloud.githubusercontent.com/assets/12293403/7512802/c5362798-f4af-11e4-9296-b599df295a

[2015-05-07 10:13] ThorHow commented on #4412
Sheet.Name is working? Oh my - that's a relief! Thanks!
Struggling with the same in [https://github.com/DynamoDS/Dynamo/issues/4310], should have commented here instead of course.

[2015-05-07 12:24] eproca opened #4427 "RemoveNulls not visible in library"
the built in function "RemoveNulls" is not visible in the library and not available as node

It is extremely useful. But right now it is only possible to use in CBN (and if you know that it does exist)

[2015-05-07 12:41] monikaprabhu commented on #4427
@eproca - While RemoveNulls is not exposed in UI, you can try Package Lunchbox.  It contains "RemoveNulls".

[2015-05-07 12:51] eproca commented on #4427
Thanks for the answer.

I am using it directly in CBN. For me is fine. I am asking for other users that maybe would like to know that it does exist, even if it is only possible in CBN.

[2015-05-07 14:38] dbaldacchino commented on #4189
No improvement in DynamoInstall0.8.1.20150507T0035.exe.

[2015-05-07 14:43] dbaldacchino commented on #4256
Tried again today with DynamoInstall0.8.1.20150507T0035.exe, no improvement yet. Has this fix been baked into the daily build yet?

[2015-05-07 15:03] RodRecker commented on #4256
Sorry - its not yet in the build. I'll see if I can move it along.

[2015-05-07 15:47] FrenchQuarters opened #4430 "Can't start Dynamo, crashes on startup"
This started happening when I installed - 0.8.1.20150505T0438
It say a dll is missing. I have confirmed that that dll is indeed NOT missing.
I have uninstalled and reinstalled several times. went a version back, and a version forward. still get the same error. I am getting the following errors:
![dynamostartuperror01](https://cloud.githubusercontent.com/assets/5280440/7519530/730644a2-f4a6-11e4-93

[2015-05-07 23:13] holyjewsus commented on #4430
@ikeough is there a current workaround for this?

[2015-05-07 23:53] ralvarez76 opened #4435 "Incorrect Save Location"
Dynamo is saving the definition (DYN) file to the backup folder under the user profile. It is not saving the DYN file on the location it was opened from.

[2015-05-08 00:20] jnealb commented on #4435
@ralvarez76 Yes, we are investigating.

[2015-05-08 18:01] cgrammens commented on #4310
@ThorHow I am trying to use you python work around and I have been getting an error in line 11

![image](https://cloud.githubusercontent.com/assets/4682090/7542367/0585812e-f571-11e4-981e-cd3fbcf74307.png)

SyntaxError: expected an indented block.
I am new to python so I am not entirely sure what I am missing.

[2015-05-08 18:06] ThorHow commented on #4310
Python wants it's loops indented, that is, tabbed. So just tab the "elementlist.append..." once and it should work.

But do consider using the normal Sheet.Sheet.Name node instead - it works.

[2015-05-08 18:06] dbaldacchino commented on #4310
Simple fix...at the start of line 11, hit tab. That line needs to be indented as it is part of the For loop in line 10.

[2015-05-08 18:07] cgrammens commented on #4412
also getting  this this message when trying to set parameters by name on a filtered list.  it works on a the entire sheet list but not once filtered.

Warning: Internal error, please report: Dereferencing a non-pointer. (3f47aacd)

![image](https://cloud.githubusercontent.com/assets/4682090/7542536/6c3ec9c4-f572-11e4-8015-0a0c9b9e26e9.png)

[2015-05-08 18:25] dbaldacchino commented on #4310
@ThorHow I tried the Python script you posted but it doesn't retrieve most parameters. First of all it doesn't like parameter names with a space (errors out). I was looking at the parameters reported through Element.Parameters and using some of those to see if it returned those values but I was only successful getting room names and numbers in my example. Level returns null (and so did Perimeter,

[2015-05-08 18:31] ThorHow commented on #4310
Well, it's a dirty hack ;-)

I do ".AsString" - and that one will only work if the parameter's storage type is actually string - a level is stored as an ElementId and will require another bit of magic.
Usually you have a bit check of the storagetype of the parameter and then alter your code to match - so sorry! My little code an incomplete little hack which only fix my issue (which was to hide the

[2015-05-08 18:53] afandianzo opened #4441 "SunSitting.current"
always dynamo crash when use SunSitting.current

[2015-05-08 19:18] tatlin commented on #4441
This is tracked internally here http://adsk-oss.myjetbrains.com/youtrack/issue/MAGN-7298 and has a fix waiting to be reviewed and then submitted @rodrecker @ikeough

-matt

[2015-05-08 20:50] dbaldacchino commented on #4310
Ahhh gotcha :) Thanks for the info. I'm still in the novice stages, so this will take me some time to figure out!

[2015-05-08 21:22] ThorHow commented on #4310
You a novice? That's a good one ;-)

There must already be a Python snipped around which does the proper job, it's not that hard to do (it's in the sample SDKs and in the very basic C# coding examples at like Tammik's place) but it'd be much nicer if the Dynamo node gets corrected since it's a pretty critical node.....

[2015-05-08 22:20] dbaldacchino commented on #4310
When it comes to the Revit API and Python, the description "Noob" is too generous :)
I'll keep searching and will find something for sure. In the meantime I'm exploring other ways to get the same data, which is flexing my weak Dynamo muscles, especially when it comes to list management, processing and using more than basic functions.

[2015-05-09 05:27] ThorHow commented on #4310
Yes, yes - of course - the famous man whose name can neither be spelled nor pronounced is a noob - sure...

The level of a room is in the API defined from the element - so I actually think the parameter lookup would fail anyway. I use the Clockwork node element.level.

[2015-05-09 05:36] monikaprabhu commented on #4435
@jnealb - Is there a bug to track this ?

[2015-05-10 09:40] monikaprabhu commented on #4427
@eproca - That is great epoca. We are working on a node in Lists Management which will take care of this - Aparajit (@aparajit-pratap )is working on this. Just around the corner to make the submission.

[2015-05-11 01:03] LukeyJohnson opened #4443 "Create Node from Selection causes Dynamo to Crash"
Object reference not set to an instance of an object.

   at Dynamo.ViewModels.ConnectorViewModel..ctor(WorkspaceViewModel workspace, ConnectorModel model)
   at Dynamo.ViewModels.WorkspaceViewModel.Connectors_ConnectorAdded(ConnectorModel c)
   at Dynamo.Models.NodeModel.PortConnected(PortModel port, ConnectorModel connector)
   at Dynamo.Models.PortModel.Connect(ConnectorModel connector)
   at D

[2015-05-11 07:41] monikaprabhu commented on #4413
@eproca - here is the id to track this wish. MAGN-7358

[2015-05-11 07:53] aparajit-pratap commented on #4415
@ondejcik all numbers in Excel files are read as floats by Excel by default. It is not worth CPU time to check if a number is meant to be an `int`, then returning it as an `int` and if it is meant to be a `float`, returning it as a `float`. This can make reading Excel files even slower than Excel interop already is. There is however a workaround you can use. If you expect all values in the file to

[2015-05-11 12:42] ondejcik commented on #4415
ok but is it not possible to read from excel all text and numbers as string ? it would solve my problem, i have both floats and integers in excel and i need to pass the to revit as string anyway.

[2015-05-11 15:25] jnealb commented on #4435
@ralvarez76 @monikaprabhu I am unable to repro this with the 0.8.1.1304 build - I did however see it with earlier 8.1 builds. @ralvarez76, are you still experiencing this with the daily builds?

[2015-05-12 00:38] ralvarez76 commented on #4435
It seems to be fixed. I am opening a DYN from a network mapped drive and it saves the file to the location I open it from.

[2015-05-12 03:22] dimven commented on #4061
@josols
As I mentioned above, Revit 2015 already exposes Direct Shape objects and I was able to create some from Dynamo solids with a method similar to the one shown above. I can see solids and surfaces being useful but how exactly can points and lines benefit you exactly? Keep in mind that you can already import any curve with "ModelCurve.ByCurve"

[2015-05-12 06:00] monikaprabhu commented on #4415
@ondejcik , Which Revit node are you using to write into sheet?

[2015-05-12 06:04] aparajit-pratap commented on #4415
@ondejcik yes it is possible to read from excel as strings. That way you will get the data exactly as you see it in the excel file however in Dynamo the `ReadFromFile` node is meant  to read strings as strings and numbers as numbers so that users can use those numbers and perform further computation with them. We will evaluate whether it would be useful to add a new `Read` node to Excel to read al

[2015-05-12 07:08] monikaprabhu commented on #4443
@LukeyJohnson - which version are you using? I'm able to convert to custom node on latest daily build. If its specific nodes please share more details on the same.

[2015-05-12 07:49] ondejcik commented on #4415
Hi,

my definition looks like this: (in short; i read excel, pick some cells i need and write them to parameterslots in families in revit, (tree data, 200+ parameters) then all data goes directly to sheets and that is why i need them to look same as in excel, all parameters in revit are generated automaticaly and contain string data)

![image](https://cloud.githubusercontent.com/assets/4834544/758

[2015-05-12 09:01] josols commented on #4061
@dimven
If you've proceeded to import solids directly to, for instance, a mass in Revit, and also that the solid is able to be handled like any other Revit created solid afterwards, then that is the kind of functionality I was looking for. Is this functionality exposed by Directshape? The reason for mentioning curves/points was only because I thought it may provide a solution for creating a Wirefr

[2015-05-12 09:55] dimven commented on #4061
I'm not sure if things have improved in Revit 2016 but from my experience in R15, DirectShape elements are pretty limited and bare-bone. They are not  editable. They cannot be used for references and thus cannot be cut or cut other elements. They do have some benefits over sat imports tho. They can be assigned to a category and thus you can apply parameters and graphical overrides to them.

![2015

[2015-05-12 13:39] jnealb commented on #4435
@ralvarez76 @monikaprabhu Closing.

[2015-05-12 13:39] #4435 closed

[2015-05-12 17:41] ralvarez76 commented on #4435
Sorry this just happened again. It looks like as soon as I make a change to the graph is starts saving to the backup folder under the Appdata\Roaming folder.

Not only that, but I noticed that when creating a new custom node it created it under a weird name like "new_mane_8tg7gr994485r949545.DYN" and not the name I gave it. This custom node was also saved in the backup folder. I had to do a saveas

[2015-05-12 18:13] buddyd16 opened #4457 "Floor.ByOutlineTypeAndLevel(outlineCurves,floorType,level) - does not appear to function when called in a code block"
The Floor.ByOutlineTypeAndLevel(outlineCurves,floorType,level) node works fine on its own however when attempting to call it in a code block the floors are not created and "null" elements are returned.

I am pretty sure this one is user error on my end but I am not the only one that can't get it to work either.

the forum has an example:
http://dynamobim.com/forums/topic/using-a-code-block-functio

[2015-05-12 21:46] dbaldacchino commented on #4310
Here's my current workaround (just forcing myself to write definitions from scratch rather than using cutom nodes, just to learn and stretch my brian muscles! Not to mention ease of re-use without having to install packages). I'm simply altering the output of the node:

![level solution](https://cloud.githubusercontent.com/assets/4656191/7599300/6b160ccc-f8c6-11e4-8ad2-399d30ca4911.png)

[2015-05-12 22:01] jnealb commented on #4435
@ralvarez76 Issue #2 is tracked with MAGN-7388. Do you have exact steps to reproduce issue #1? Thanks.

[2015-05-12 22:50] ralvarez76 commented on #4435
Here it is:

1. Start a new definition and save it.
2. Create point at 0,0,0 and at 1,1,1. Create line from one point to the other. Change run state to manual.
3. Create point at 2,2,2. Place Arc.ByThreePoints and try to feed it the previous three points. It will fail.
4. Change third point to 1,2,1 and rerun definition. It will succeed.
5. Any saves after the graph fails will start saving to the

[2015-05-13 03:09] monikaprabhu commented on #4427
A method has been added " List.Clean" -here is the PR for this. Once its merged, the next build that is up on DynamoDaily will have this functionality. https://github.com/DynamoDS/Dynamo/pull/4438

[2015-05-13 12:28] jnealb commented on #4435
@ralvarez76 Thank you - this is tracked with MAGN-7393

[2015-05-13 14:36] monikaprabhu commented on #4457
@buddyd16 - Works for me in latest daily build - Try this, if it still fails please get back to us with more details ![floor](https://cloud.githubusercontent.com/assets/5218721/7612953/79900ee2-f9c0-11e4-8e8f-ddfb453d19be.png)

[2015-05-13 14:42] buddyd16 commented on #4457
Here is what I have now the floor call is in an imperative section which loops over multiple levels, floor types, and groups of closed curves.

![capture](https://cloud.githubusercontent.com/assets/12416202/7613094/9ba6304c-f95c-11e4-9300-442c5b5360cb.png)

[2015-05-13 16:27] dbaldacchino commented on #4380
Just installed DynamoInstall0.8.1.20150513T0845.exe. This time it tries to launch, but I get a bunch of errors and crashes. It still fails to run within Revit with another 2 or 3 errors. Here are the Sanbox errors:

![2015-05-13_11-18-48](https://cloud.githubusercontent.com/assets/4656191/7615397/14b540a8-f963-11e4-8fd5-773855c2e5a1.png)
![2015-05-13_11-17-22](https://cloud.githubusercontent.com/a

[2015-05-13 20:45] Hyun-Tak opened #4471 "dynamo 0.8.1 installed, but I got this error message of dynamo crash."
Hi, I installed DynamoInstall 0.8.1 20150416T0453.exe.
But, sandbox version and dynamo on Revit 2014/2015 all crashed. I got this message as following;

Object reference not set to an instance of an object.

   at Dynamo.UI.Views.LibrarySearchView.OnTopResultTargetUpdated(Object sender, DataTransferEventArgs e)
   at System.Windows.RoutedEventArgs.InvokeHandler(Delegate handler, Object target)

[2015-05-13 21:19] buddyd16 commented on #4457
I simplified the variables a bit and here is something odd in the main code block inside the imperative Count(c[0][]) produces a value of 1 but in a standalone code block Count(c[0][]) produce the expected value of 5.

![capture_2](https://cloud.githubusercontent.com/assets/12416202/7621356/34b388b6-f994-11e4-8c1e-565f22d04c11.JPG)

[2015-05-13 21:26] jnealb commented on #4471
@Hyun-Tak Do you have DirectX installed? If so, what version? You can run the Windows Dxdiag utility to find out. What version of Windows, and what language? Thanks.

[2015-05-13 22:00] buddyd16 commented on #4457
I am getting closer my list of curves "c" needed to be declared as a three tier list => c:var[][][]
Doing that the floor call produce floors in revit for the initial run of the while loops only. How do I get it to do the other two runs in this case?

![capture_2](https://cloud.githubusercontent.com/assets/12416202/7622070/e874c496-f999-11e4-809c-7d7b947c0fda.JPG)

[2015-05-13 22:09] buddyd16 commented on #4457
I got it I needed to reset indd = 0 prior to second while loop.

Is there somewhere that notes how to declare the variables coming into the code block? me figuring out that c:var[] needed to be c:var[][][] was complete luck by trial and error.

[2015-05-13 22:15] #4457 closed

[2015-05-13 22:25] Hyun-Tak commented on #4471
Hi, I have Windows 7 Enterprise 64 -bit, English, DirectX 11 installed in my Lenovo laptop.

[2015-05-13 23:26] dbaldacchino opened #4474 "WISH: Make it easy to find missing custom nodes"
This might already be in the system, but couldn't find it.

If a custom node from a package is used in a definition and that package isn't installed, the node turns red and alerts you (nice). But that's where it stops! We need to know which package it came from so we can download and install it. This data needs to be written "outside" of the node itself so it can be referenced when the package is

[2015-05-13 23:46] ParametricMonkey opened #4475 "Level.Plane node bug"
Got this error when using the Level.Plane node (from Clockwork?)

//////////////
Object reference not set to an instance of an object.

   at ProtoScript.Runners.LiveRunner.GetBuildWarnings()
   at Dynamo.Core.Threading.UpdateGraphAsyncTask.HandleTaskCompletionCore()
   at Dynamo.Core.Threading.DynamoScheduler.ProcessTaskInternal(AsyncTask asyncTask)
   at Dynamo.Core.Threading.DynamoScheduler.Pro

[2015-05-14 00:52] monikaprabhu commented on #4474
@dbaldacchino- Yes I understand the difficulty and agree with the request- I've logged it into MAGN-7396 to explore a solution.

[2015-05-14 02:45] monikaprabhu commented on #4256
@jbenoit44 - The issue related to curly braces in PATH is fixed (MAGN-7268)- please try the latest build(DynamoInstall0.8.1.20150513T0845.exe) with your configuration.

[2015-05-14 02:47] monikaprabhu commented on #4418
@ekatzenstein - this issue is fixed - please try the latest build -DynamoInstall0.8.1.20150513T0845

[2015-05-14 02:47] #4418 closed

[2015-05-14 02:53] monikaprabhu commented on #4475
@ParametricMonkey, This works fine at my end on latest daily build -

![level plane](https://cloud.githubusercontent.com/assets/5218721/7625191/dff2383e-fa26-11e4-8884-d97000689d59.png)

[2015-05-14 10:05] LukeyJohnson commented on #4443
I'm using official build 0.8. I wonder if its somehow system related.

Kind regards

Luke Johnson

* Author of **What Revit Wants* <http://whatrevitwants.blogspot.com/>

On Tue, May 12, 2015 at 4:38 PM, monikaprabhu <notifications@github.com>
wrote:

[2015-05-14 13:20] jnealb commented on #4471
@Hyun-Tak We note you are using an older daily build - can you try with the latest?

[2015-05-14 13:32] jnealb commented on #4189
@dbaldacchino @epeter- Can you please try with DynamoInstall0.8.1.20150513T0845? We think we may have fixed the issue.

[2015-05-14 13:51] dbaldacchino commented on #4189
@jnealb Nope sorry :( Please see #4380

[2015-05-14 13:54] jnealb commented on #4189
@dbaldacchino Are you getting the error msg or does the app never load?

[2015-05-14 14:43] dbaldacchino commented on #4189
Here's the sequence on first run after install (cleaned out folders manually, analytics, etc.):

![1a](https://cloud.githubusercontent.com/assets/4656191/7633913/1d28e09a-fa1d-11e4-8684-280ce94ff332.png)

![1b](https://cloud.githubusercontent.com/assets/4656191/7633939/5208dbe4-fa1d-11e4-8296-5bc7e02480fe.png)

![1c](https://cloud.githubusercontent.com/assets/4656191/7633948/5cf97ad6-fa1d-11e4-84a

[2015-05-14 14:51] jnealb commented on #4189
@dbaldacchino @ikeough Thanks Dave, the ball never made it across the net!

[2015-05-14 15:13] dbaldacchino commented on #4189
Yeah, but at least it's moved much further than previous builds! Sandbox wouldn't even try launching before. Now here's what I get when launching the add-in inside of Revit 2015:

![4a](https://cloud.githubusercontent.com/assets/4656191/7634607/b5e492bc-fa21-11e4-8701-e51b6e192ff9.png)

![4b](https://cloud.githubusercontent.com/assets/4656191/7634606/b5debc98-fa21-11e4-824d-d055a0ac8f77.png)

![4c

[2015-05-14 15:21] jnealb commented on #4189
@dbaldacchino Can you provide the Details?

[2015-05-14 15:27] dbaldacchino commented on #4189
Object reference not set to an instance of an object.

   at Dynamo.UI.Views.LibrarySearchView.OnTopResultTargetUpdated(Object sender, DataTransferEventArgs e)
   at System.Windows.RoutedEventArgs.InvokeHandler(Delegate handler, Object target)
   at System.Windows.EventRoute.InvokeHandlersImpl(Object source, RoutedEventArgs args, Boolean reRaised)
   at System.Windows.UIElement.RaiseEventImpl(Depe

[2015-05-14 15:39] Hyun-Tak commented on #4471
@jnealb  Thanks for your answer. But I installed the latest one which also is not working.  DynamoInstall0.8.1.20150513T0845.exe
I got this error message ;

Object reference not set to an instance of an object.

   at Dynamo.UI.Views.LibrarySearchView.OnTopResultTargetUpdated(Object sender, DataTransferEventArgs e)
   at System.Windows.RoutedEventArgs.InvokeHandler(Delegate handler, Object target)

[2015-05-14 15:49] dbaldacchino commented on #4380
Won't run in Windows 7 either.

[2015-05-14 15:50] dbaldacchino commented on #4189
Not running in Windows 7 either (both sandbox and add-in).

[2015-05-14 16:00] RodRecker commented on #4380
@jbenoit44 - are you able to run the most recent daily build?

[2015-05-14 16:01] RodRecker commented on #4380
@dbaldacchino Thanks for your patience while we try to figure this out. We're actively working to resolve these initialization issues.

[2015-05-14 16:08] dbaldacchino commented on #4380
No worries, let me know if you need any logs etc. :)

[2015-05-14 16:08] RodRecker commented on #4380
@jbenoit44 @dbaldacchino - one thing to try to help us diagnose why 0.8.0 is not working. Can you find your DynamoSettings.xml file and edit it?

It is usually in this folder: C:\Users\<user>\AppData\Roaming\Dynamo\

Exit Dynamo and then change this line in DynamoSettings.xml to be false instead of true:
<UseHardwareAcceleration>true</UseHardwareAcceleration>

becomes:
<UseHardwareAcceleration>fal

[2015-05-14 16:38] dbaldacchino commented on #4380
Hi Rod, which line? There are several true/false:

<?xml version="1.0"?>
<PreferenceSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <IsFirstRun>false</IsFirstRun>
  <IsUsageReportingApproved>true</IsUsageReportingApproved>
  <IsAnalyticsReportingApproved>true</IsAnalyticsReportingApproved>
  <LibraryWidth>304</LibraryWidth>
  <ConsoleH

[2015-05-14 16:48] RodRecker commented on #4380
I see that the github site didn't paste everything since I copied it in as XML format.

The one near the bottom - "UseHardwareAcceleraction"
I'll see if I can edit my prior post.

[2015-05-14 16:55] dbaldacchino commented on #4380
Nope, still crashed, no change :(

Just to be clear:

a) DynamoInstall0.8.1.20150513T0845.exe doesn't work in Windows 8.1 or Windows 7 (Sandbox AND Revit add-in);
b) DynamoInstall0.8.0.exe works in Windows 7 (both Sandbox and Add-in), and in Windows 8.1 the Add-in works but not the Sandbox.

[2015-05-14 23:15] Arek3dim opened #4488 "Wish: Background 3D preview grid customization"
It would be great to be able to customize the size of the grid and the grid lines in the background 3d preview and the "watch 3d" component.

[2015-05-14 23:19] Arek3dim opened #4489 "Wish: Search in workspace"
Grasshopper has this feature that you can double click inside the workspace and start searching for a node, it's a great powerful tool that speeds up the workflow, can we get something similar to that please? Thank you so much!

[2015-05-14 23:20] #4489 closed

[2015-05-15 00:00] Arek3dim opened #4490 "Wish: Search in workspace"
Grasshopper has this feature that you can double click inside the workspace and start searching for a node, it's a great powerful tool that speeds up the workflow, can we get something similar to that please? I know we can type anytime but backspacing all the time is just not cutting it, maybe we can fix that in a way? Thank you so much!