[2016-03-02 18:20] brianringley commented on #228
I know this functionality exists now - what's the syntax?

[2016-03-02 18:26] mjkkirschner commented on #6128
@tetsuyahishida if you need Numpy, you could start a regular python process and have it run your code and pipe the result back into Dynamo. I have never implemented this but should be possible.

[2016-03-02 18:30] brianringley opened #6199 "Cannot enter text into Input or Code Block node in 0.9.1"
## Dynamo version

0.9.1.4062
## Operating system

Windows 7
## What did you do?

Launch Revit 2016
Launch Dynamo 0.9.1
New > Custom Block
Added Input and Code Block node to graph
Attempted to add text - no text is added
## What did you expect to see?

Some text
## What did you see instead?

No text

[2016-03-02 19:23] brianringley commented on #6199
Uninstalled all previous versions of Dynamo - did not help.

Issue occurs in both Revit 2015 and Revit 2016.

Issue does not occur in standalone Dynamo.

[2016-03-02 19:38] brianringley commented on #6199
Tried uninstalling all versions of Dynamo, then reinstalling Dynamo 0.9.1 stable (0.9.1.4062) - did not help

[2016-03-02 19:41] jnealb commented on #6199
@brianringley Can you please provide more detail on your exact steps? I am able to add Code Block Nodes to a Custom Node and populate the CBN with text, but I am not sure if that is your workflow.

[2016-03-02 19:50] brianringley commented on #6199
@jnealb
Launch Revit 2016
Launch Dynamo 0.9.1
New > Custom Block
Added Input and Code Block node to graph
Attempted to add text - no text is added

[2016-03-02 19:54] jnealb commented on #6199
@brianringley "Attempted to add text - no text is added" can you please be specific: did you edit the CBN? Did you edit the Input node?

[2016-03-02 19:57] brianringley commented on #6199
@jnealb I click in the text fields of either node and nothing happens

Normal behavior would be that a cursor would appear and I can start typing

If I double-click the canvas to initiate the code block I can type into it

This of course doesn't solve the input node issue within custom blocks

I've stripped out all my packages to no avail

I'm going to speak internally with IT here to reset my use

[2016-03-02 19:59] brianringley commented on #6199
If I copy in an existing input or code block node with text into my current custom node document I can edit it.

I cannot edit a fresh input or code block node.

[2016-03-02 20:23] jnealb commented on #6199
@brianringley I can not reproduce this

[2016-03-02 20:24] mostaphaRoudsari commented on #228
@brianringley in case you're talking about inputs and outputs check [this RP]( https://github.com/DynamoDS/Dynamo/pull/5676#issue-115838264). Here is an example:

![image](https://cloud.githubusercontent.com/assets/2915573/13474180/d827d3f2-e08a-11e5-800a-f968f91272b9.png)

For the node itself you can edit node properties:
![image](https://cloud.githubusercontent.com/assets/2915573/13474153/bcb5ad

[2016-03-02 22:49] LukeyJohnson commented on #6083
This is still there on latest 1.0.0 daily:
<img width="303" alt="daily" src="https://cloud.githubusercontent.com/assets/5659896/13478444/ff5eb6ac-e120-11e5-8d7d-2da806d329fe.png">

[2016-03-02 23:40] ralvarez76 commented on #4636
I ended up changing my strategy and doing more in Rhino. The modeling commands were just not robust / stable enough. When I was last looking at this it seemed to not like vey small edges when doing the patch.

On another attempt I brought in the surfaces via SAT (originally modeled in CATIA) and extracted their perimeter edges and their U / V parameter lines. I then used the Revit "form" nodes to

[2016-03-03 08:35] jhubers commented on #1120
Why is there not a solution without scripting to place doors and windows in a wall? Seems to me that this is one of the first things a novice with Dynamo would like to do... In fact one of my students wanted to make a terrace wall with many holes. Dynamo seemed the right tool. But finally had to use the array tool of Revit and do the arithmetic by hand. A missed chance to introduce some students t

[2016-03-03 11:01] #6175 closed

[2016-03-03 20:44] dbaldacchino commented on #2612
I used this node successfully under 0.8.0 back last year or so, but now under 0.9.1 it's not working correctly (maybe it was already broken under 0.9.0, not sure). Here's the problem:

![vector anglebetween](https://cloud.githubusercontent.com/assets/4656191/13508782/11714a4e-e14e-11e5-95be-01cd25e19576.png)

Notice how if a lisst is supplied, the output doesn't make much sense (after experimentin

[2016-03-03 20:56] dbaldacchino commented on #2612
Another thing I'm noticing with respect to the results is the precision. The inputs are derived from Revit geometry (a wall and a duct in this case) but they are both snapped and aligned properly to the X and Y axes respectively - there are no "slightly off axis" warnings either. Thanks.

![vector anglebetween2](https://cloud.githubusercontent.com/assets/4656191/13509259/26be0674-e150-11e5-9bc4-be

[2016-03-04 05:32] ghost opened #6209 "Slider whose value, min, and max are defined by ports"
How can I make a custom slider whose current, min, and max values can be defined by input ports as well as by user interactions.

When disconnected, its values are defined by the user. When a port is connected, its value gets overriden as the graph updates. That said, the user can still set the value while connected. Basically the min, max, sbd current values can get updated by two sources of inpu

[2016-03-04 14:41] KirillLukyanenko commented on #6179
I only know that it happens when we open node preview, but sometimes.

[2016-03-07 07:39] dimven opened #6218 "try-catch blocks in DesignScript"
## Dynamo version

0.91 stable (0.9.1.4062)

## Operating system

Windows 7

## What did you do?
@ke-yu

Is it possible to create try-catch imperative blocks inside DesignScript? The "try" and "catch" keywords are reserved so this makes me think that it should be possible. Am I using the syntax incorrectly or is this a feature that did not pass over from DesignScript Studio?

![2016-03-07_15-33-44

[2016-03-07 08:05] ke-yu commented on #6218
@dimven wow wow! `try` and `catch` was supported long time back as an experimental feature, but when associative language was supported, we didn't come up a design to make it work with associative language (associative update/replication and so on), so we dropped it. I don't have a plan to support it in the near term :-(

[2016-03-07 08:18] dimven commented on #6218
Ok thanks for letting me know. In most cases we can come up with an alternative approach and circumvent the use of a try-catch block. So this is definitely not a priority feature just something nice to have around.

[2016-03-07 08:18] #6218 closed

[2016-03-07 08:45] riteshchandawar commented on #4117
@andydandy74 : Can you pick up the latest daily build and check at your side. We have fixed the issue for unnecessary warnings.

Thanks,
Ritesh

[2016-03-07 10:31] redinkinc opened #6220 "ProtoCore.BuiltHaltException thrown at importing own package"
Hello,
I experience a problem with my [DynamoPlus](https://github.com/redinkinc/DynamoPlus) package. On my own computer, everything runs fine, but when I add my package to a .zip file or download the file from github (uploaded using github within VisualStudio 2015), importing the package throws an ProtoCore.BuildHaltexception. Anyone ever experienced this as well? Any ideas how to solve this?
Than

[2016-03-07 16:16] mjkkirschner commented on #6220
@redinkinc theres a few things you can do:

unlock the the dll by right clicking on it and unblock

you can set Dynamo to import remote sources:
http://through-the-interface.typepad.com/through_the_interface/2011/07/loading-blocked-and-network-hosted-assemblies-with-net-4.html

the problem is that after zipping a dll the dll is now blocked by windows. You can also create a trustedSite, for instanc

[2016-03-07 16:19] mjkkirschner commented on #6209
You should look at these samples first thing:
https://github.com/DynamoDS/DynamoSamples/tree/master/src/SampleLibraryUI

This might be a tricky node to write - you'll probably need to use `Engine.GetMirror()` to access live values in the graph, so error checking will be key, also look here:
https://github.com/DynamoDS/Dynamo/wiki/How-To-Create-Your-Own-Nodes

and look at the bit about the color ra

[2016-03-07 21:42] jnealb commented on #2612
@dbaldacchino Thank you Dave, you are correct. This is tracked with MAGN-9648.

[2016-03-07 22:10] dago2015 opened #6222 "freeze with list.flatten"
## Dynamo version

0.9.1

## Operating system

Windows 7

## What did you do?

![dynamo freeze](https://cloud.githubusercontent.com/assets/16885846/13585032/3c0ae1c0-e46e-11e5-82a1-e209cff2434b.PNG)

trying to pull out numbers from a list

## What did you expect to see?

(Fill in here)

## What did you see instead?

(Fill in here)

[2016-03-07 22:16] jnealb commented on #6222
@dago2015 If possible, can you please send us your complete dyn? neal.burnham@autodesk.com

[2016-03-07 22:29] dago2015 commented on #6222
I just sent the file over. Thanks,

[2016-03-08 03:36] ksobon opened #6226 "Crash report"
## Dynamo version

0.9.1.4062

## Operating system

Windows 10

## What did you do?

It crashes consistently when using list.Create in automatic mode. I would unplug the input to list.create to either move it to another port or simply disconnect it, but it crashes every time.

## What did you expect to see?

i expected list.create to give me a warning that i have unplugged one of the inputs.

## W

[2016-03-08 04:03] jnealb commented on #6226
@ksobon Thanks, we will investigate asap.

[2016-03-08 04:26] beardface00 opened #6228 "Crash Report"
## Dynamo version

0.9.1.4062
## Operating system

Windows 7, Revit 2016
## What did you do?

Was looking at the dropdown list of results from a Custom Node
## What did you expect to see?

The dropdown with list of results
## What did you see instead?

A crash report, which was:

Value cannot be null.
Parameter name: element

   at System.Windows.Media.VisualTreeHelper.GetParent(DependencyObject r

[2016-03-08 16:39] jhubers opened #6231 "Keep custom xaml control on top of Dynamo"
## Dynamo version 0.9.1.4062

## Operating system Windows 8.1

## What did you do?

Trying to keep a xaml window with CSV display on top of Dynamo. I thought maybe the Python script editor window code would give a clue. But in fact that one also disappears behind the Dynamo window when you come from another application. Also would be nice to keep MessageBox.Show() on top of Dynamo.

[2016-03-09 01:55] #4117 closed

[2016-03-09 07:32] andydandy74 commented on #4117
@riteshchandawar - I'll try to check asap, but I still need to get a fresh VM installed for testing the dailies.

[2016-03-09 11:57] jhubers commented on #6231
The answer to this question might be interesting for future amateur developers like me. The trick is that you make the `DynamoView` the owner of the xaml window control. You can do this in the `NodeViewCustomization` class of your custom UI node like in the Dynamo Samples. E.g. imagine that you make a custom UI node called `YourNode`. And with that node you create an instance of a xaml window call

[2016-03-09 11:59] jhubers commented on #4776
Solved the problem of leaving controls behind in separate issue:[https://github.com/DynamoDS/Dynamo/issues/6231](url)

[2016-03-09 13:35] sefkani commented on #6228
i had same crash report.

[2016-03-09 16:46] wynged commented on #2401
Thank you all so much for this thread, especially ikeough  for the script solution.
When I run the script the line actually need to read:

`builtIn = System.Enum.ToObject(BuiltInCategory, cat.Id)`

I thought I was going crazy.

[2016-03-09 20:14] jnealb commented on #5905
@othiele @epsilonite Please check out the Dynamo Forum or the Read Me on Github, we think we understand why some Win10 configurations (those with graphics cards that work with Win7 or 8) have this issue. Here is a clarifying thread:

https://github.com/helix-toolkit/helix-toolkit/issues/257#issuecomment-194145932

We are working towards a solution.

[2016-03-10 00:51] ke-yu commented on #6231
@jhubers thanks! We should include it in the sample. @riteshchandawar , what do you think?

[2016-03-10 01:04] ralvarez76 commented on #5905
This was an issue on my Windows 10 machine running two GEFORCE cards. I had set these up without SLI because it causes performance degradation on some 3d applications. I found that if I installed the SLI bridge and enabled it, the 3d preview works in Dynamo.

[2016-03-10 01:13] mjkkirschner commented on #6231
@ke-yu @ramramps theres also the question of the WPF utility method that @jhubers used - should things like this be in the API?

[2016-03-10 09:38] jhubers commented on #6231
@ke-yu, @mjkkirschner, @riteshchandawar, @ramramps Maybe good to realise: The problem of leaving controls behind when closing Dynamo, is then also automatically solved.

[2016-03-10 11:36] vykrum opened #6241 "Crash Report - 20160310"
## Dynamo version

1.0.0.613

## Operating system

 Windows10

## What did you do?

Fed a list of strings to Point.ByCoordinates

## What did you expect to see?

An error

## What did you see instead?

A crash

Object reference not set to an instance of an object.

   at Dynamo.UI.Controls.PreviewControl.<>c__DisplayClassc.<RefreshExpandedDisplay>b__b(AsyncTask m)
   at System.Windows.Threading.Ex

[2016-03-10 14:14] jnealb commented on #5905
Thanks for the update

[2016-03-10 14:14] #5905 closed

[2016-03-10 15:47] jnealb commented on #6226
We are tracking this with MAGN-9568 and a fix will be available soon.

[2016-03-11 07:20] monikaprabhu commented on #6190
@Palroe - I tried with Dynamo 0.9.0 and 0.9.1 and 1.0 could not reproduce the issue either with revit 2015 and 2016. Can you please share details on which Revit element are you selecting also the Revit version?

[2016-03-11 07:26] monikaprabhu commented on #6209
@kronz ,@racel - This looks like an interesting request - Can we add this in our backlog to enhance the slider to take inputs ?

[2016-03-11 07:41] Palroe commented on #6190
Okey, thanks for the help so far.

The Revit element I'm selecting is a .dwg imported geometry from AutoCad.
It is imported as a generic model. The Revit version I am using:
Revit 2016
Build: 16.0.1092.0
20151209_0715(x64)
Update1 for R2

Pål

On Fri, Mar 11, 2016 at 8:20 AM, monikaprabhu <notifications@github.com>
wrote:

[2016-03-11 07:48] andydandy74 commented on #6209
Actually, this has been requested before: #963
(And I wholeheartedly second that request...)
CC @dbaldacchino

[2016-03-11 21:32] jnealb commented on #6241
@vykrum Can you please try the latest daily build from 03/11? We think this is fixed.

[2016-03-11 21:35] jnealb commented on #6226
@ksobon If you are able to, can you please try the latest daily 1.0 build from 03/11? We think this is fixed.

[2016-03-11 21:38] jnealb commented on #6135
@vykrum This has been fixed.

[2016-03-11 21:38] #6135 closed

[2016-03-11 21:42] jnealb commented on #6108
@vykrum @dimven @sm6srw This was tracked with MAGN-7419 and has been fixed with 1.0. Can you please try the latest daily build?

[2016-03-11 21:42] jnealb commented on #6132
@Racel fyi

[2016-03-11 21:47] jnealb commented on #6222
@dago2015 Can you please try the latest daily build from 03/11? We think this is fixed.

[2016-03-11 22:20] jnealb commented on #6005
@TJSimoneau Are you still having this issue?

[2016-03-11 22:22] jnealb commented on #5957
@josols Are you still experiencing this?

[2016-03-12 02:04] ke-yu commented on #6241
@vykrum I've submitted a fix in https://github.com/DynamoDS/Dynamo/pull/6240, please try the latest daily build.

[2016-03-12 08:05] redinkinc commented on #6220
Seems to work. thanks

[2016-03-12 08:05] #6220 closed

[2016-03-12 08:19] josols commented on #5957
in 0.9.1 I experience no problems. I haven't got dailies at the moment.

[2016-03-12 14:51] himanshuruhilla opened #6251 "Can not see the workplane"
## Dynamo version

0.9.1.0

## Operating system

Windows 7

![image](https://cloud.githubusercontent.com/assets/17799532/13723601/e7b7c7ac-e88f-11e5-8062-21c341994593.png)

[2016-03-14 13:53] josols opened #6257 "List.Chop doesn't accept 0 as chop length"
## Dynamo version

0.9.1
## Operating system

Win7
## What did you do?

Used a List.Chop node
## What did you expect to see?

For example: List {1,2,3,4,5,6,7} matched with lengths {2,0,3,0,2} would result in {{1,2},empty list,{3,4,5},empty list, {6,7}}
## What did you see instead?

List {1,2,3,4,5,6,7} matched with lengths {2,0,3,0,2} results in {{1,2},{3},{4,5,6},{7}}

![image](https://cloud.git

[2016-03-14 13:54] josols commented on #6257
the List.ChopByLengths is from the Clockwork package

[2016-03-14 15:57] petrkralik opened #6258 "BASICS FAILS: "IF" statement crops list."
## Dynamo version

0.9.1.4054
## Operating system

Win8.1
## What did you do?

When you try to pass a list through "IF" statement it's trimmed to length of the shorten one.
In this example case is expected the "IF" passes whole list "A" with 4 rows. Only 2 rows were given instead because the "B" list has two rows (Has tried also with none and different number of rows).
![bug](https://cloud.githubu

[2016-03-14 17:18] andydandy74 commented on #6258
Yes, definitely very annoying.
As a workaround, you can use a code block like so:
[code]

[2016-03-14 17:19] mjkkirschner commented on #6258
@Racel we have this tracked correct?
@kronz

[2016-03-14 17:23] andydandy74 commented on #6258
See discussion here: #4464

[2016-03-14 17:25] mjkkirschner commented on #6258
@andydandy74 it's all coming back to me now...

[2016-03-14 17:26] Racel commented on #6258
@mjkkirschner - We were tracking this, but after discussion with the team, this is not a bug but the intended behavior of the node. The "IF" node functions more of an "if iterator" than a true imperative if statement. For the behavior that @andydandy74 and @petrkralik are looking for, they should use "ScopeIf" or an imperative code block.

This is very confusing from the user perspective. I think

[2016-03-14 17:27] Racel commented on #6258
The behavior was changed after 0.8.0, so the node functions differently in 0.8.0 and newer versions...

[2016-03-14 17:28] kronz commented on #6258
it is my understanding that it replicates on all nodes AS THOUGH SET TO SHORTEST.  So this makea a little more sense with these attached examples, especially when looking at what the results are when LONGEST is applied to a formula node and the "short" branch of the conditional is passes through.  These changes were also made to allow predictable behavior when using single boolean inputs or a list

[2016-03-14 17:37] jhubers opened #6259 "Serialization every 15 seconds"
## Dynamo version

0.9.1.4062
## Operating system

Windows 8.1
## What did you do?

Noticed while debugging that `protected override void SerializeCore(XmlElement element, SaveContext context)` runs every 15 seconds. Is that normal?
## What did you expect to see?

I expect that Serialization only runs when you save the *.dyn file

[2016-03-14 17:59] Racel commented on #6258
@petrkralik @andydandy74 - Using "ScopeIf" with the first example:

![image](https://cloud.githubusercontent.com/assets/2551261/13754321/ed300e52-e9ec-11e5-8eae-6664957f439b.png)

[2016-03-15 07:42] petrkralik commented on #6258
Thank all of you for releveant'n quick responses and clear examples . Petr

[2016-03-15 13:43] kudilovich commented on #6047
I converted all my nodes to 0.9.1 hoping that the problem disappear. Unfortunately it is still there. Here's a video:
https://youtu.be/V4TYvuniAb8

[2016-03-15 15:34] ondejcik opened #6261 "Groups inside Custom node are crashing dynamo"
## Dynamo version

0.9.1 , 0.9.2 , 1.0.1 build 20160415T0446

## Operating system

W7 64bit

## What did you do?

Groups inside custom node editor are crashing Dynamo when Custom node editor is closed.

Error report:

Input string was not in a correct format.

   at System.Number.ParseDouble(String value, NumberStyles options, NumberFormatInfo numfmt)
   at System.Double.Parse(String s, NumberStyl

[2016-03-15 23:37] dago2015 commented on #6222
Dear Neal,

I have been working with the newest release for two days and so far I have
not had the program crash on me. Thanks. Also, I have notice that the node
align command has stopped working.

I would like to request that there be a way that I can copy or export a
group of nodes from one Dynamo workspace to another, or maybe import a
workspace to another workspace.

Thanks,

Dago

On 11 March

[2016-03-16 05:39] ke-yu commented on #6047
hi @kudilovich I pulled your code and built in on the top of the latest Dyanmo, loaded wosad.dll, but I can't find node `Bolt diameter selection` that you mentioned in the video. Which library should I load? Could you provide sample file so that I can do more investigation?

[2016-03-16 05:45] ke-yu commented on #6259
It should be related to auto backup. @Randy-Ma would have more idea about this part.

[2016-03-16 05:50] Randy-Ma commented on #6259
The auto backup runs every 60s by default. This can be changed to a different value and you can refer to the Dynamo FAQ in the wiki.

[2016-03-16 05:52] ke-yu commented on #6261
hi @ondejcik , any steps to reproduce the crash?

[2016-03-16 05:53] ke-yu commented on #6259
@jhubers FYI, you can find the backup frequency setting in the last question in [Dynamo FAQ](https://github.com/DynamoDS/Dynamo/wiki/Dynamo-FAQ)

[2016-03-16 06:15] truevis commented on #6047
There are much simpler examples. I'll have to note it next time I have to struggle with the problem (like I did today).

My workaround is to just save and reopen the DYN.

[2016-03-16 07:17] redinkinc opened #6262 "Wish: Update Wiki "API Changes" to 1.0.0"
Hi there,
are there any changes in the API from 0.9.1 to 1.0.0? Would it be possible to update the Wiki "API Changes accordingly? I'm thinking about updating my libraries (still in 0.9.0) and just like to know, if I will have to change it again soon.
Thanks, Fabian

[2016-03-16 09:51] jhubers commented on #6259
@ke-yu Well, In fact `DynamoSettings.xm`l is here: `C:\Users\jhubers\AppData\Roaming\Dynamo\0.9` and changing `<BackupInterval>60000</BackupInterval>` has strange effects. If I set it to 120000 then Serialization runs sometimes every minute, sometimes after 15 seconds, sometimes after 40 sec etc. If I set it to 10000 there is no difference in this behaviour. If I set it to 6 then it runs all the t

[2016-03-16 11:08] ondejcik commented on #6261
Hi,

Open dynamo,
place code block - [a]
select and create custom node from selection
select code block and creaet group (crtl+g)
save cusom node
close custom node workspace (with x at the tab of workspace)  ===> crash

[2016-03-16 15:57] ke-yu commented on #6259
@Randy-Ma @monikaprabhu @riteshchandawar FYI. We need to take a look.

[2016-03-16 16:04] ke-yu commented on #6261
Could you please try on daily build? I can't reproduce it on master branch.

[2016-03-17 03:17] kudilovich commented on #6047
Hi @ke-yu . Thanks for looking into this. The node you mention is here:
![image](https://cloud.githubusercontent.com/assets/10949355/13835258/9135d35c-ebcc-11e5-8a81-ee2739ce1dc9.png)
Also the file sample in the video is here:
https://drive.google.com/file/d/0B6ZGFrZdDP_wUnVzLXVzck5XS00/view?usp=sharing

[2016-03-17 04:37] ke-yu commented on #6047
@kudilovich , I still cannot find this node. I imported both wosad.dll and wosad.Dynamo.UI.dll, this is what I got:

![untitled](https://cloud.githubusercontent.com/assets/2600379/13836482/eea608e8-ec3c-11e5-9694-61cb73971525.png)

Downloaded your sample files, and nodes are unresolved. Probably it is because I'm on the latest build.

[2016-03-17 05:39] kudilovich commented on #6047
@ke-yu  Those are the correct DLLs. And you are looking at the correct node, but the UI node is not displayed like it is on my machine (0.9.1 build)

So here's what I do:
1) I import only wosad.dll, since wosad.Dynamo.UI is picked up automatically from the /nodes folder
2) It looks like your build exposes the properties from UI node as query objects. In my build they are hidden, I don't think this

[2016-03-17 05:46] kudilovich commented on #6047
Also,
Here's the node definition:
https://github.com/Wosad/Wosad.Dynamo/blob/master/Wosad.Dynamo.UI/Nodes/Steel/AISC_10/General/BoltDiameterSelection.cs

And here's the User control:
https://github.com/Wosad/Wosad.Dynamo/blob/master/Wosad.Dynamo.UI/Views/Steel/AISC_10/Connection/BoltDiameterSelectionView.xaml

[2016-03-17 06:07] ke-yu commented on #6047
No luck. If only load wosad.dll, I even couldn't find BoltDiameterSelection node:

![untitled](https://cloud.githubusercontent.com/assets/2600379/13837762/6550bbee-ec49-11e5-9dfd-227952bdd505.png)

Checked Wosad\bin and Wosad.Dynamo.UI\bin, I couldn't find wosad.customization.dll, Wosad.masonry.dll and Wosad.wood.dll (though they are not related).

Probably some settings on my machine is different

[2016-03-17 06:28] truevis commented on #6047
**Simpler example:** Here is a DYN that shows geometry of Curtain Panels either green or red depending on Height.

I run it once, it's fine.
![2016-03-17 02_16_48-dynamo](https://cloud.githubusercontent.com/assets/3574046/13837998/c2661684-ebe6-11e5-8bd3-463c49547570.png)
I change something in Revit and run it again, it doesn't work right.
![2016-03-17 02_17_20-dynamo](https://cloud.githubusercont

[2016-03-17 06:50] truevis commented on #6047
The DYN in my sample:
[Panels geometry test.zip](https://github.com/DynamoDS/Dynamo/files/177367/Panels.geometry.test.zip)
In Revit make some curtain walls with heights more and less than 12 feet to test it.

[2016-03-17 12:05] mjkkirschner commented on #6047
I believe you need to put those ui node dlls in the nodes folder

[2016-03-17 15:55] gmeierbachtol opened #6272 "Element.Geometry from MEP Spaces causing crash"
## Dynamo version

0.91
## Operating system

Windows 7
## What did you do?

Dynamo crashing when using Element.Geometry to display 3D geometry of MEP Spaces
## What did you expect to see?

The 3D geometry of the MEP spaces in the canvas
## What did you see instead?

A crash message with the following details:
The input argument "materialId" of function `anonymous-namespace'::TessellatedFace_constr

[2016-03-17 19:17] gtalarico opened #6276 "File ran and saved, and now it doesn't open"
## Dynamo version
0.82 or 9.1.4062

## Operating system
Window 7 64bit

## What did you do?
Worked on file, ran,saved.

## What did you expect to see?
Open file to continue working, or an error that file was corrupt.

## What did you see instead?
Opens a blank definition instead. No error messages
File has 8mb, so I know it's not empty

[MakeWalls.zip](https://github.com/DynamoDS/Dynamo/files/1785

[2016-03-17 19:33] jnealb commented on #6276
@gtalarico @QilongTang Can you please tell us if the application console shows an exception? To do this use View, Show Console.

[2016-03-17 19:49] gtalarico commented on #6276
[code]

PS: I have posted a report on the flux community in case it's related to their plugin.
[Post](https://community.flux.io/questions/1758/flux-related-errors-in-console.html)

[2016-03-17 23:34] LukeyJohnson opened #6277 "Custom Node Properties dialog box has white text on white background in Category dropdown"
## Dynamo version

0.9.1
## Operating system

Windows 10
## What did you do?

Create Node from Selection... Custom Node Properties dialog box
## What did you expect to see?

Category list (select group dropdown) to be be white text on black background
## What did you see instead?

Category drop down list was white text on white background, almost impossible to interpret
![cnp](https://cloud.github

[2016-03-18 10:37] andydandy74 commented on #6258
This may not be the case in later versions, but in Dynamo 0.9.0 ```ScopeIf``` does not play well in larger graphs causing most of the nodes to return ```null```, hence my workaround. I never investigated this in-depth, but I stumbled across it today again.

[2016-03-18 12:00] Racel commented on #6258
hi @andydandy74 - You are right that ScopeIf acts strangely, and it still does this in the 0.9.1 stable release.

@ke-yu has been looking into this and has found the following:

The result is the null values you are seeing. The safest bet is to not connect any upstream node to both branches and to not connect it to any other node that is not the upstream node of ScopeIF node.

We are actively look

[2016-03-18 14:37] dbaldacchino commented on #6209
Thanks @andydandy74 :)

[2016-03-21 01:03] ke-yu commented on #6047
@truevis Seems it works fine on daily build. Could you please test on daily build?

[2016-03-21 02:08] QilongTang commented on #6276
System.InvalidOperationException:
There already exists an AlsoKnownAs mapping for FluxPipe.Dynamo.NodeModels.

This exception is fishy, rather than this I did not see any other exception which could cause file open to fail.

[2016-03-22 11:39] andydandy74 opened #6289 "Wish: Ability to disable Package Manager"
## Dynamo version

0.9.0
## Operating system

Windows 7
## What did you do?

For rolling out Dynamo in our office we are using a curated list of packages that we want our users to use. What we do **not** want is for them to install other packages that have not been vetted by us. Therefore, it would be great to be able to disable the package manager in DynamoSettings.xml for certain user groups.
##

[2016-03-22 18:37] thall26 opened #6292 "Watch Node Freezes Dynamo: Forces Quit and Unsaved work Lost!"
## Dynamo version

0.9.1.4062

## Operating system

Windows 7

## What did you do?

Scrolling down the watch node. While scrolling, Dynamo **freezes **up and forces me to kill Revit and Dynamo losing all work unsaved to that point. This happens both in the Watch 2D node AND the dynamic watch node that automatically opens up below the node when hovering.

## What did you expect to see?

My list man

[2016-03-22 18:48] jnealb commented on #6292
@thall26 Thanks - we think this is fixed 9.2 which will be released soon.

[2016-03-23 22:57] gtalarico opened #6298 "Crash after Copy + Paste Node"
## Dynamo version

0.9.1
## Operating system

Win 7 x64
## What did you do?

Copied and Pasted "Flux Select Key Component"
## What did you expect to see?

A working copy of the node
## What did you see instead?

Sad Node, Dynamo has crashed!

[code]

[2016-03-24 14:12] mostaphaRoudsari commented on #6298
The same behavior with a different error message by copy/pasting a custom Python node:

[code]

[2016-03-24 14:31] andydandy74 opened #6302 "Wish: Remove A360 login for local package publishing"
## Dynamo version

0.9.0

## Operating system

Windows 7

## What did you do?

Selected a custom node and chose "Publish selected node" in the context menu

## What did you expect to see?

The Publish Package dialogue

## What did you see instead?

The A360 login prompt. For publishing a package locally this does not seem necessary. Maybe it would make more sense to show the prompt only if the "Pu

[2016-03-24 23:07] ghost opened #6308 "Crash on adding a point."
## Dynamo version

0.9.1.4062

Could not load file or assembly 'file:///C:\Program Files\Dynamo 0.9\LibG.ProtoInterface.dll' or one of its dependencies. The system cannot find the file specified.

   at Autodesk.DesignScript.Geometry.HostFactory.get_Factory()
   at Autodesk.DesignScript.Geometry.Vector.XAxis()
   at Dynamo.Manipulation.MousePointManipulator.AssignInputNodes()
   at Dynamo.Manipula

[2016-03-24 23:09] dspeckhard opened #6309 "Dynamo Crash Opening a Custom Node in Ladybug package"
## Dynamo version

0.9.1

## Operating system

Windows 7

## What did you do?

Double Clicked on Ladybug Custom Node "Filter Sky Matrix"

## What did you expect to see?

The definition for the custom node

## What did you see instead?

The definition editor opened, but also a pop up that said "Uh Oh, something went wrong, and Dynamo Crashed". Under Details, it listed:

Object reference not set to

[2016-03-25 00:08] jnealb commented on #6309
This is fixed with 9.2

[2016-03-25 13:43] DavePlumb opened #6311 "Crash from Element.GetParameterValueByName"
## Dynamo version

0.9.1
## Operating system

Windows 7-64 SP1
## What did you do?

My graph selects all Doors in a project, then gets the nearby Rooms
Next it compares the Door Number to both Room Numbers and sets a flag if the Door matches one of the Rooms or false if it matches neither.
## What did you expect to see?

This has worked on small projects, but on a large project with
I got an error

[2016-03-25 13:54] DavePlumb commented on #6311
Forgot to mention:
By "large project", I meant there are about 1600 Doors.
Is there perhaps a limit on List length?

[2016-03-25 17:31] brianringley opened #6312 "Dynamo auto-assigning"
## Dynamo version

0.9.2.4472

## Operating system

Windows 7 Enterprise Service Pack 1

## What did you do?

Opened a Project and associated Dynamo graph.

The graph had empty Family Type drop-down lists connected to an authoring node (FamilyInstance.ByPointAndLevel).

When I then opened a Revit Family (with the intention to load it into the the Revit project linked to the Dynamo graph), all of m

[2016-03-25 18:19] lukechurch opened #6313 "Sub-optimal z-ordering of nodes and previews"
## Dynamo version

0.9.2.4472

## Operating system

Windows 7 via Parallels

This z-ordering where the node is on top of the preview, but everything else is below, doesn't feel right.

![image](https://cloud.githubusercontent.com/assets/2978182/14050791/1d05f8d6-f2b6-11e5-8cd7-bcc8a34d3afd.png)

Repro is to run, select the lower node and then hover over the upper node

[2016-03-25 19:10] jnealb commented on #6313
@lukechurch @Racel Thanks Luke - are you wedded to 9.2? If not, you will find 1.0 improved in this regard (just an fyi: the 1.0 installers are in transition at the moment, but do work, except with Revit 2017 and the Samples in Standalone).

[2016-03-25 19:22] ramramps commented on #6313
Oh. this was not cherry picked to 0.9.2?

[2016-03-25 19:27] jnealb commented on #6313
No

[2016-03-25 21:14] lukechurch commented on #6313
Hey @jnealb @Racel, nah no big deal. I just needed some screenshots for some writing I was doing and ran into this. Sounds like you've already got it well under control :)

[2016-03-25 21:14] #6313 closed

[2016-03-26 18:15] mostaphaRoudsari opened #6315 "Warning: Method '__func_3bb214f859b84ce8969be42d4d05414e()' not found"
## Dynamo version

0.9.1.3872
## Operating system

Windows 8
## What did you do?

Tried to re-run the definition
## What did you expect to see?

I expected the definition to work fine but...
## What did you see instead?

A number of custom nodes started to show the same error as:

[code]

[2016-03-26 19:04] mostaphaRoudsari opened #6316 "PointAnalysisDisplay.ByViewPointsAndValues gives inputs match error"
## Dynamo version
0.9.1.3872

## Operating system
Windows 8

## What did you do?

![image](https://cloud.githubusercontent.com/assets/2915573/14061857/129bca9a-f362-11e5-855d-055796f765ba.png)

I tested different views but it still gives me the same error. It might be my lack of knowledge in setting up the node but also might be a bug.

## What did you see instead?
Warning: One or more of the inpu

[2016-03-26 19:28] mjkkirschner commented on #6316
UnitType I think is an actual type, not a string.

[2016-03-26 19:33] mostaphaRoudsari commented on #6316
Of course! Thanks @mjkkirschner.
![image](https://cloud.githubusercontent.com/assets/2915573/14062049/0877cd42-f368-11e5-90ea-544df86b786d.png)

[2016-03-26 19:33] #6316 closed

[2016-03-28 05:47] riteshchandawar commented on #6312
Hello @brianringley, So as per my understanding you are saying when you opened a Revit Family file, Dynamo Graph picked up the first family from the list, OR when you load the Family into Project then Dynamo picked up the first family?

- Ritesh

[2016-03-28 14:43] ke-yu commented on #6315
@mostaphaRoudsari , do you have step to reproduce or any sample .dyf file?

[2016-03-28 14:45] ke-yu commented on #6311
No limit on list length. I'll do some test with your graph.

[2016-03-28 15:10] DavePlumb commented on #6311
I've been narrowing it down this morning, and I think I understand what's going on.
The error message is generated when the Element.GetParameterValueByName node is passed a nul value for the "element" input.
So that makes sense.
Now I have to figure a way around that condition in my graph.

[2016-03-28 17:15] thall26 commented on #6292
@jnealb Wonderful! Thanks Neal!

[2016-03-28 17:17] #6292 closed

[2016-03-28 21:45] brianringley commented on #6312
Hi @riteshchandawar. It was upon opening a Revit Family file. Thank you.

[2016-03-29 02:40] aparajit-pratap commented on #2243
This is tracked in http://adsk-oss.myjetbrains.com/youtrack/issue/MAGN-7718

[2016-03-29 06:03] riteshchandawar commented on #6312
That's strange, Is it possible for you to share the Revit and DYN files with me. (ritesh.chandawar@autodesk.com)

- Ritesh

[2016-03-30 03:20] ksobon commented on #3345
this has been fixed. Can we close this issue?

[2016-03-30 03:45] aparajit-pratap commented on #6308
@melkhaldi It looks like you're not able to load the required geometry modules into Dynamo. As for the crash, it has been fixed in https://github.com/DynamoDS/Dynamo/pull/6317. You should see it in the daily build however I think you'll still have trouble creating geometry. Let us know if the crash still persist.

[2016-03-30 03:46] #3345 closed

[2016-03-30 14:19] kudilovich commented on #6047
@ke-yu  Unfortunately I did not have a chance to test my nodes on the the daily build that you mentioned, but I am still experiencing the issue with 0.9.2 update.

[2016-03-31 11:50] vykrum opened #6349 "Issue with Export Workspace as Image"
## Dynamo version

1.0.0.670

## Operating system

Windows 10

## What did you do?

Export Workspace as Image (by clicking the icon at the top right)

## What did you expect to see?

![20160331-2b](https://cloud.githubusercontent.com/assets/5621624/14174816/9c7e8eea-f764-11e5-96ce-153401600226.png)

## What did you see instead?

![20160331-2](https://cloud.githubusercontent.com/assets/5621624/1417

[2016-03-31 17:34] Crashnorun commented on #5905
Hi All.
I'm running into the same issue. Dynamo (standalone) doesn't have a graphic preview in the background nor in the 3d watch panel. But when I run dynamo through revit 2016, it works fine. I'm running dynamo 0.9.2.4472 (latest version to date).
I'm running a dell xps, win 10
[DxDiag.txt](https://github.com/DynamoDS/Dynamo/files/198238/DxDiag.txt)

[2016-03-31 17:42] Crashnorun commented on #5905
Fixed the issue. See Andrew Heumann's comment about the NVIDIA control panel.

[2016-04-01 07:32] andydandy74 commented on #6067
@RodRecker - just tested this in 1.0.0.910: same weird behaviour.

[2016-04-01 07:35] sharadkjaiswal commented on #6067
@ke-yu, does this issue ring a bell? I think I have seen something similar before.

[2016-04-03 16:56] ksobon commented on #2671
@mostaphaRoudsari I am not sure if that's what you are looking for, but I think that kind of solution is already present in Dynamo Zero Touch. Have a look:

[code]

This results in something like this when user provides an element id reference to non existing element:

![untitled-1](https://cloud.githubusercontent.com/assets/529781/14233610/65be4d44-f99b-11e5-9733-6d548350d920.jpg)

Is that what y

[2016-04-03 17:48] ksobon opened #6360 "define custom input name for zero touch node"
## Dynamo version

9.2
## Operating system

windows 10

This is more of a feature request, than a bug. Tell me if this is possible, but it would be nice if the input names define in the XML markup for zero touch nodes would allow to define a custom name for inputs instead of only allowing to use name of the input variable. I usually tend to name my variables with abbreviations of actual words but

[2016-04-03 18:05] ksobon commented on #6226
@jnealb I tried this on the 9.2 update that came out recently and it works fine. Thanks!

[2016-04-03 18:05] #6226 closed

[2016-04-03 18:06] ksobon commented on #5707
I got it figured out. Cheers!

[2016-04-03 18:06] #5707 closed

[2016-04-03 18:12] ksobon commented on #4870
I haven't had issues with this in a while so maybe its fixed.

[2016-04-03 18:12] #4870 closed

[2016-04-03 18:13] ksobon commented on #3309
I think this is now possible with commenting inside of input node. Thanks!

[2016-04-03 18:13] #3309 closed

[2016-04-03 18:13] ksobon commented on #2075
I guess this is not relevant any more. Cheers!

[2016-04-03 18:13] #2075 closed

[2016-04-03 18:16] ksobon commented on #3353
@lukechurch sorry to bother, but is there something available in Design Script to do that? Enumerate all members of an object? I guess what I wanted this for back in the days was that it is relatively hard to "just remember" all of the available methods for a given object and since there is no intelisense for python nodes, i was hoping to use something like a dir() to look them up.

[2016-04-03 18:17] #5688 closed

[2016-04-04 17:26] kronz commented on #6047
@truevis I think the issue that you might be seeing is a different one.  All your nodes are showing their geometric output, that is, you have lots of different geometries that are overlapping in an uncontrolled way.  If you wan tto be seeing just the Display geometry, turn off the preview state for all your other geometry creating nodes.  I'm finding that your definition works just fine for this,

[2016-04-04 23:00] gtalarico opened #6366 "Crash when hitting run"
## Dynamo version

0.9.1.4062
## Operating system

Win 7 x64
## What did you do?

Clicked Run
## What did you expect to see?

A running definition
## What did you see instead?

crash
##

Must disconnect specified child from current parent Visual before attaching to new parent Visual.

   at System.Windows.Media.Visual.AddVisualChild(Visual child)
   at System.Windows.FrameworkElement.set_TemplateC

[2016-04-04 23:21] jnealb commented on #6366
Can you please try again with 9.2, this is the current stable release.

[2016-04-05 00:59] aesdaile opened #6369 "Crash when running 'CoreStrings.dyn' sample file"
## Dynamo version

0.9.2.4472

## Operating system

Win 7 Pro x64

## What did you do?

Opened sample file 'CoreStrings.dyn', read some of the text about how it worked, hit RUN

## What did you expect to see?

the results of the examples

## What did you see instead?

Object reference not set to an instance of an object.

   at Dynamo.Controls.NodeView.OnNodeViewMouseMove(Object sender, MouseEvent

[2016-04-05 02:10] kronz commented on #6369
@aesdaile This doesn't reproduce for me . . . does this happen any time you run the sample?  Is this running inside of Revit?  Which version?

[2016-04-05 04:16] aesdaile commented on #6369
Revit Build: 16.0.490.0
20150714_1515(x64)
Service Pack 2

it seems to happen intermittently, after I have opened and closed other files in Dynamo.

[2016-04-05 12:50] kronz commented on #6369
FYI @riteshchandawar @jnealb @monikaprabhu

[2016-04-05 13:30] jnealb commented on #6369
@aesdaile Unable to reproduce with a few unit tests; will continue to investigate.

[2016-04-05 13:52] mynovmbr opened #6377 "Data Structure — Dynamo tends to wipe out the first empty list/null value?"
Dynamo 0.9.1.4062  Windows 7

Hi, I was trying to get intersection between several items by using List.Map, for example: I have 2 horizontal surface and 3 vertical surface, the data structure I’m expecting would be {[(0,0)(0,1)(0,2)][(1,0)(1,1)(1,2)]}.

However, if the first surface failed to intersect with other 3 surfaces, I’m only getting {[(1,0)(1,1)(1,2)]}, and if the second one failed to int

[2016-04-05 15:00] dbaldacchino commented on #5756
Here's a video example of when the background preview fails to refresh when the list that generates polysurfaces becomes empty. Hope it's of some use.

http://autode.sk/1XeNnND

[2016-04-05 15:04] jnealb commented on #5756
@dbaldacchino Thank you for that

[2016-04-05 22:11] kronz commented on #6377
@ke-yu can you comment on how we do and don't return empty list data in this case?

[2016-04-06 03:47] vykrum opened #6380 "Red Node"
## Dynamo version

1.0.0.943

## Operating system

Windows 10

## What did you do?

Placed a node on the blank canvas in a new file

## What did you expect to see?

![20160406-2a](https://cloud.githubusercontent.com/assets/5621624/14305269/39774d0a-fbd8-11e5-9dbf-abf9a62a94d3.png)

## What did you see instead?

![20160406-2](https://cloud.githubusercontent.com/assets/5621624/14305271/3f6593f2-fbd8

[2016-04-06 06:06] ke-yu commented on #6377
@mynovmbr @kronz it is a bug in `List.Map()`.

More details: `List.Map()` internally use `Count()`, the pseudo code looks like
[code]
If the first item in result happens to be an empty list, `Count()` returns 0, so the following result will overwrite it (`result[0]`).

@riteshchandawar @monikaprabhu please log a defect for it.

@kronz @riteshchandawar @monikaprabhu , just to clarify - `Count({{},

[2016-04-06 15:03] ke-yu commented on #6369
I've sent a PR https://github.com/DynamoDS/Dynamo/pull/6381 to fix the crash.

[2016-04-06 15:05] ke-yu commented on #6380
@rk-lakshmanan @Benglin FYI

[2016-04-07 01:22] maxhobos opened #6387 "Dynamo Crash"
## Dynamo version

Dynamo version 0.9.1

## Operating system

Windows 7

## What did you do?

Tried to run the script, but crashed

## What did you expect to see?

Values extracted from the Revit Document

## What did you see instead?

Index was outside the bounds of the array.

   at ProtoCore.Lang.ArrayUtilsForBuiltIns.Transpose(StackValue sv, Interpreter runtime)
   at ProtoCore.Lang.BuiltInFun

[2016-04-07 10:09] cezlip opened #6390 "My package search manager doesn’t work - no search results"
## Dynamo 0.8.2
## Operating system

Windows 7
## What did you do?

Searching for packages
## What did you expect to see?

Any results
## What did you see instead?

Search returned no results!

[2016-04-07 12:23] jnealb commented on #6390
@cezlip Can you please update your version of Dynamo to the latest stable release, 9.2? We think this is fixed.

[2016-04-07 13:29] rk-lakshmanan commented on #6312
Hello @brianringley
Whenever a new Revit file opens, Dynamo will populate the combo box and reset all of the drop-down selection to the first drop-down item in the list. I have made a fix by removing the portion of the code that causes the reset.
The PR link for your reference: https://github.com/DynamoDS/DynamoRevit/pull/928
Thank you.

[2016-04-07 13:54] cezlip commented on #6390
I have updated Dynamo to  9.2 version. Unfortunately nothing has changed. Is it possible that  the company proxy server is blocking all communication with Dynamo?

[2016-04-07 14:54] ke-yu commented on #6387
@maxhobos , could you share the script or provide more information about this crash?

[2016-04-07 15:01] jnealb commented on #6390
@cezlip Yes, with the Package Manager site. What happens if you browse to https://www.dynamopackages.com with your favorite browser?

[2016-04-07 17:42] vykrum opened #6393 "Crash Report - 20160407"
## Dynamo version

1.0.0.692
## Operating system

Windows 10
## What did you do?

Was trying to understand ScopeIf nodes and put two of them on a blank canvas and then added two code blocks to generate number ranges.
## What did you expect to see?

Didn't know what to expect.
## What did you see instead?

First got a cyclic dependency error and on deleting the ScopeIf nodes ... a crash

Object ref

[2016-04-07 18:40] kronz commented on #6393
Thanks @vykrum .
You are adventurous.  The ScopeIf node is really best suited for doing some very specialized work inside of Custom nodes.  Check our my Fractal Tree node on the package manager.  We are going to make some adjustments to this in Dynamo 1.1, both in terms of functionality and documentation.
fyi @ke-yu

[2016-04-07 18:41] kronz commented on #6393
http://adsk-oss.myjetbrains.com/youtrack/issue/MAGN-9639

[2016-04-07 19:47] jnealb commented on #6393
@kronz @ke-yu Could not reproduce - note that this stack is the well-known PB crash one, perhaps this is an edge case that still remains (MAGN-9750 etc)?

[2016-04-07 21:13] rbosborne opened #6394 "Element.Geometry inconsistency"
Using 0.9.2.  I have lately noticed many elements that are not working with Element.Geometry.  Attached is a file containing 3 elements.  Only one of the 3 (the rectangular beam) will work with element.geometry in Dynamo.  If the rectangular beam is connected and joined to the elliptical column, it will not work with element.geometry.

I have looked at all 3 elements using RevitLookup.  For the Re

[2016-04-08 00:40] maxhobos commented on #6387
Thanks for your reply, Yu Ke. I realized its caused by the code shown in the picture below.

When an empty list is fed into the input 'h', an error occurs, stating that 'List.UniqueItems cannot receive an empty list'. Somehow, the crash occurs because of this. Deleting this code block seems to resolve this crash.

I'm really new to Dynamo. I copied this code from somewhere on the web, but I don't

[2016-04-08 01:06] ke-yu commented on #6387
@maxhobos thanks! I can reproduce the crash, it is a defect.

However there is an error in code block node:
[code]
Firstly `Tranpose()` function is outdated, so please use `List.Transpose()`, and `Tranpose()` is expected to accept only 1 parameter.

@riteshchandawar @monikaprabhu @jnealb  FYI

[2016-04-08 02:17] kronz commented on #6394
thanks @rbosborne , looks like this has been the behavior at least since 0.8.2,

@aparajit-pratap It looks like Dynamo doesn't like to deal with 2 different situations.  One is elliptical extrusions and I think the other issue is conical elements, or maybe a sweep to a point?

[2016-04-08 02:29] ricardo7cordas opened #6395 "why python module random is not installed?"
## Dynamo version

0.9.2.4472

## Operating system

Windows 10

## What did you do?

i'm tried to import basic **random ** module in python, but it not work

## What did you expect to see?

the module working

## What did you see instead?

ImportError: No module named random

![image](https://cloud.githubusercontent.com/assets/14896455/14372607/8926d910-fd18-11e5-853a-8ff0adc909f9.png)

[2016-04-08 07:18] mostaphaRoudsari commented on #6395
@ricardo7cordas it's installed under IronPython folder. You need to add that to ```sys.path``` in order to import the library. I agree that the path should be added by default in Dynamo but meanwhile you can use the code below:

[code]

[2016-04-08 10:47] rbosborne commented on #6394
A bit more testing on my end.  I agree that it appears that the ellipse and the swept conical blend are the problem pieces in this case.  I deleted the swept conical blend out of the family and reloaded it.  See image for result - Element.Geometry did successfully generate something - just not the correct thing.
![elementgeometry](https://cloud.githubusercontent.com/assets/12659052/14381645/cfc35a

[2016-04-08 13:38] adecler opened #6399 "Crash when double click on the canvas"
## Dynamo version

0.9.0
## Operating system

Windows 7
## What did you do?

Double-clicked on the canvas
## What did you expect to see?

a code block component
## What did you see instead?

a window saying that dynamo has crashed

Dynamo was working perfectly fine. I modified a library that was already used as an additional package for Dynamo and this is where the bug appeared. I uninstalled Dyna

[2016-04-08 20:14] mjkkirschner commented on #6394
KroNz did you try this on 1.x after We made changes to the cone face converter ?

Sent from my iPhone

[2016-04-09 14:29] ricardo7cordas commented on #6395
Works like you said @mostaphaRoudsari. Thank you very much. I saved a lot of code with it

[2016-04-09 14:46] #6395 closed

[2016-04-09 14:47] mostaphaRoudsari commented on #6395
it does!

[2016-04-11 02:30] dimven commented on #6394
@rbosborne

It looks like you are using revolved edges. There was an earlier issue with REs described here:
https://github.com/DynamoDS/Dynamo/issues/3679

I don't believe that was ever resolved.

[2016-04-11 03:50] jbak1972 opened #6403 "e=Dynamo engine : Array dimensions exceeded supported range"
## Dynamo version

0.9.2.4472
(Which version of Dynamo are you using? Go to Help > About if you're not sure.)
## Operating system

Windblows 10.
(e.g. Windows 7, Windows 8.1, etc)
## What did you do?

Created a beautiful infinite loop with "Automatic" turned on.
(Fill in here)
## What did you expect to see?

"Dynamo Not Respoding"
(Fill in here)
## What did you see instead?

Unhandled exception in

[2016-04-11 10:20] ke-yu commented on #6403
Thanks @jbak1972 , I'll take a look.

FYI: @monikaprabhu @riteshchandawar @jnealb

[2016-04-12 14:44] ondejcik commented on #6261
it is present now for few versions of dynamo, maybe i can send you my file?

[2016-04-13 05:38] aparajit-pratap commented on #3477
@ksobon there have been recent changes in Nurbs curves in Dynamo. The current behaviour is such that if the resultant Nurbs curve is non-rational, it will return default weights of unity otherwise it will return non-zero but valid values. You should be able to see this in the daily builds as well as 1.0. Let us know if we can close this issue once you've tested the new behaviour

[2016-04-13 11:17] cezlip commented on #6390
neither of my browser open this website

[2016-04-13 14:19] jnealb commented on #6390
@cezlip What error do you get? 404, 403?

[2016-04-13 14:49] cezlip commented on #6390
@jnealb I tried again and eventually was able to access website from Chrome. My IE shows :
Webpage error details

User Agent: Mozilla/4.0 (compatible; MSIE 7.0; Windows NT 6.1; WOW64; Trident/6.0; SLCC2; .NET CLR 2.0.50727; .NET CLR 3.5.30729; .NET CLR 3.0.30729; .NET4.0C; .NET4.0E)
Timestamp: Wed, 13 Apr 2016 14:38:32 UTC

Message: Object doesn't support this action
Line: 7
Char: 3
Code: 0
URI: h

[2016-04-13 14:56] jnealb commented on #6390
@cezlip Can you reach the Package Manager from Dynamo if you make Chrome your default browser?

[2016-04-13 14:58] cezlip commented on #6390
@jnealb no I can't

[2016-04-13 15:16] jnealb commented on #6390
@cezlip What version of IE are you running?

[2016-04-13 15:18] cezlip commented on #6390
@jnealb  IE10

[2016-04-13 15:26] jnealb commented on #6390
@cezlip Suggest you upgrade to 11

[2016-04-13 15:29] cezlip commented on #6390
@jnealb  I know. I suggested the same to our IT support but do you think it will help?

[2016-04-13 15:33] jnealb commented on #6390
@cezlip Not sure

[2016-04-13 21:56] dbaldacchino commented on #3420
@ikeough units still seem to be an issue when python nodes are used to retrieve data from Revit. For example when extracting geometry from rooms to build filled regions as explained in the post below, a  (incorrect) conversion happens when units in the Revit project are set to metric.

http://dynamobim.org/forums/topic/filled-region-by-room-boundary/#post-43662

Any plans to fix this? Thanks.

[2016-04-13 22:00] dbaldacchino commented on #3420
Actually I need to make a correction: the incorrect conversion issue exists if units are set to anything BUT feet. If units are set to inches for example, then an incorrect conversion is still being made (x12).

[2016-04-13 22:03] jnealb commented on #3420
@dbaldacchino We provide an explicit Convert Between Units node; does that help?

[2016-04-13 22:22] mjkkirschner commented on #3420
I think this is just how the RevitAPI works, and we're not doing any type of conversion. @ikeough can correct that if I'm wrong. I think what you want to do, if you are using our wrappers and revit services libraries in python is to call InHostUnits() on the geometry which will scale the geometry based on the host unit of revit's project.

[2016-04-13 23:03] dbaldacchino commented on #3420
Thanks all. Well, I thought that Dynamo now works seamlessly with the units specified in Revit. The example on the forum is something I was working with and I know I'll be running into this exact issue as the graph I'm coming up with will be used on both Imperial and Metric (take slab boundaries and create filled regions using those same boundaries). So unless I'm misunderstanding, I was expecting

[2016-04-13 23:06] dbaldacchino commented on #3420
Thanks Michael @mjkkirschner , I'm really not very well versed in Python and the Revit API so it will take me a while to reverse engineer an example from somwhere to test that. Now if only there was a native node that created filled regions from boundaries :)

[2016-04-13 23:14] dbaldacchino commented on #3420
Ok so I just found another Python example by user Organon that behaves exactly as I expected, with no scaling issues when units are changed:

http://dynamobim.org/forums/topic/filled-region-from-room-boundary/

Might need to steal some code from this and adapt, although I still don't understand how to get it to update the filled regions instead of creating new ones each time, but that's taking thi

[2016-04-14 09:13] Lexiko opened #6425 "Surface analysis data node missing"
## Dynamo version

0.9.2

## Operating system

Win 7

## What did you do?
Trying to use "FaceAnalysisDisplay.ByViewAndFaceAnalysisData" but can't find a node to create data for input
## What did you expect to see?

Surface data node where surface, associated uv's and associated values are combined

## What did you see instead?

nothing

[2016-04-14 11:36] andydandy74 opened #6426 "ToXyz does not convert vectors to Revit's display unit"
## Dynamo version

1.0.0.910

## Operating system

Windows 7

## What did you do?

Use the ```ToXyz()``` method in Python that is supplied by Dynamo via ```Revit.GeometryConversion```.

## What did you expect to see?

Same results for vectors and points

## What did you see instead?

Different results for vectors and points - vectors do not get converted to Revit's display unit.

![toxyzconversion

[2016-04-14 12:34] ikeough commented on #6360
@ksobon There are a number of ways we could do this. I hesitate to overload the `param name=` functionality in the xml, as this format for comments is document in MSDN. We could add an attribute to a method like:
[code]
In this scenario, you'd call your parameter "someBar" in code, and it would show up as "inputBar" on the Node.

[2016-04-14 12:41] ikeough opened #6427 "Error in API Changes Documentation"
The API Changes documentation states that the `DropDownBase.PopulateItems` method has been changed to `DropDownBase.PopulateItemsCore`. This is not true. The original method still exists (and should exist). The new method has been added but is not part of the public API.

@rk-lakshmanan

[2016-04-14 12:48] ikeough commented on #3420
@dbaldacchino As @mjkkirschner mentioned, `InHostUnits(...)` needs to be used when you are using python to get geometry out of Revit. The reason for this is that we cannot know that you are in python to make the conversion for you automatically, like we do when you are using the Revit Nodes. As such, we don't have plans to "fix" this. Without conversion, all of your geometry will come back from th

[2016-04-14 12:53] mjkkirschner commented on #6426
for some reason
[code]

vector is set to false for convert units, I think this is not a mistake, not sure though, but you can also call toXYZ with true set so that it converts units.

[2016-04-14 13:02] paoloemilioserra opened #6428 "Geometry missing/broken in the preview after transform"
## Dynamo version

Dynamo Studio 0.9.2.4461
## Operating system

Windows 7
## What did you do?

I created a graph to transform a PolySurface on a Curved surface using Geometry.Transform

[PatternDesign2.zip](https://github.com/DynamoDS/Dynamo/files/219157/PatternDesign2.zip)
## What did you expect to see?

The CoordinateSystems are all there but the resulting geometry is only half and even broken

[2016-04-14 13:05] paoloemilioserra commented on #6428
![image](https://cloud.githubusercontent.com/assets/14221455/14528926/53ed23a0-0252-11e6-95b7-0adf7a0e9b59.png)

[2016-04-14 13:19] paoloemilioserra commented on #6428
On Dynamo Add-in in Revit seems to work fine though

[2016-04-14 13:35] mjkkirschner commented on #6428
@paoloemilioserra interesting :)

so I can reproduce this locally but I see even less geometry. We're definitely hitting some kind of tri or memory limitation. If you lower the rendering settings to LOW I see all surfaces fine.

it's interesting that use on Revit corrects it, I have yet to verify that locally.

@ikeough @marimano any thoughts?

[2016-04-14 17:22] svxnsvxn opened #6429 ""delete", ctrl+C, ctrl+V happen in Revit when i press these commands in Dynamo."
## Dynamo version

1.0.0.670
## Operating system

Windows 7, revit 2016 and 2015
## What did you do?

Press "delete" to delete an node in dynamo but it send the "delete" to Revit and wants to delete something in Revit, not in Dynamo. The same for "ctrl+C" and "ctrl+V", "backspace" etc...
It happens with REvit 2015 and 2016 since I install Dynamo 0.9 and 1.0.
## What did you expect to see?

(Fill i

[2016-04-14 20:22] kronz commented on #6428
Interesting, I can see all the geometry, using a MacBook Pro (with 2880x1800 resolution).  It's a little slow, but there.  This is an excellent little stress test, cc @jnealb

[2016-04-14 20:26] paoloemilioserra commented on #6428
eventually it worked also in Dynamo Studio but I had to relaunch a few times to get rid of "ghost" geometry from previews run
![image](https://cloud.githubusercontent.com/assets/14221455/14542573/e2a5b6c4-028f-11e6-851d-d9ce29532c48.png)

[2016-04-14 20:37] kronz commented on #6428
That is so cool!  So, I wonder if this is also affected by a couple of changes we did in 1.0.  @paoloemilioserra can you tell us about the graphics specs for your system?

[2016-04-14 20:49] paoloemilioserra commented on #6428
Dell Precision M6800, resolution 1980x1080

![image](https://cloud.githubusercontent.com/assets/14221455/14543179/2b58c48a-0293-11e6-95da-567b7a9c8de0.png)

[2016-04-14 20:59] mjkkirschner commented on #6428
This actually crashes my vm if I do not lower the resolution of the tessellation - I guess it's possible were running out of gpu memory

Sent from my iPhone

[2016-04-14 21:17] jnealb commented on #6428
Indeed @kronz! However, it runs fine with Studio 1.0.0.1032 with my Nvidia K2100M set for High Performance (renders in < 10 secs). @paoloemilioserra, is it possible for you to try with Studio 1.0?

[2016-04-14 21:25] ksobon commented on #6360
yeah that would do the trick too

[2016-04-14 21:27] paoloemilioserra commented on #6428
I need to try a VM for that

[2016-04-15 02:48] Benglin commented on #6427
Good point, @ikeough. The documentation now says the following, what do you think of it?

- Changes made to `CoreNodeModels.DynamoDropDownItem`
   - `CoreNodeModels.DynamoDropDowBase.PopulateItems` is no longer a `virtual` method, custom population logic should now be implemented in `CoreNodeModels.DynamoDropDownBase.PopulateItemsCore` method instead.

[2016-04-15 05:43] vykrum opened #6434 "Installation and access problems"
## Dynamo version

1.0.1.1050
## Operating system

Windows 10
## What did you do?

Searched for Dynamo on the windows search bar
## What did you expect to see?

Dynamo 1.0 listed in the search results
## What did you see instead?

Nothing
Dynamo isn't listed under All Apps in the Windows Start Menu

The sequence of events......
Initially was able to run Dynamo standalone, but not from Revit

So, u

[2016-04-16 01:33] kronz commented on #6434
FYI @sharadkjaiswal

[2016-04-16 06:24] vykrum opened #6442 "Crash Report - 20160416"
## Dynamo version

1.0.1.1052

## Operating system

Windows 10

## What did you do?

Copied and pasted a few lines of code from one code block to another with the intention of altering

![20160416-1](https://cloud.githubusercontent.com/assets/5621624/14579499/be31dd3c-03c9-11e6-8ae7-a7906ee36d60.png)

## What did you expect to see?

Nothing until I Run, as it was in Manual run mode

## What did yo

[2016-04-17 19:18] kronz commented on #6442
FYI @ke-yu  @sharadkjaiswal

[2016-04-18 01:43] Lexiko opened #6448 "Crash report"
## Dynamo version

0.9.2
## Operating system

Win 7
## What did you do?

Run portion of the graph, extracting faces from Revit
## What did you expect to see?

Geometry
## What did you see instead?

Unable to transform the body! : ACIS_EXCEPTION_ACCESS_VIOLATION -- Access violation

   at Autodesk.LibG.Geometry.scale(Double scale_factor)
   at Autodesk.LibG.GeometryHost.Scale(Double amount)
   at A

[2016-04-18 07:08] StevenRowland opened #6451 "reproduceable crash on loading packages"
## Dynamo version

0.9.2

## Operating system

Windows 7

## What did you do?

setting package path

## What did you expect to see?

explorer

## What did you see instead?

Det går inte att hitta filen. (Exception from HRESULT: 0x80070002)

   at Dynamo.UI.DynamoFolderBrowserDialog.ShowDialog()
   at Dynamo.Wpf.Views.PackageManager.PackagePathView.OnRequestShowFileDialog(Object sender, EventArgs e

[2016-04-18 09:01] ondejcik commented on #6261
ok i run sume more tests today and problem seems to be present on all versions.

i tested 0.9.2, and 1.0.1 daily build,

i also removed all packages and other links,

as soon as i create group in custom node editor and close (with or without saving) dynamo creashes.

I talked to some other people in the office, thay have same problem:

crashe report from todays daily build:

Input string was not i

[2016-04-18 10:22] #5783 closed

[2016-04-18 10:32] Lexiko opened #6454 "FaceAnalysisDisplay.ByViewFacePointsAndValues node only works on single surface"
## Dynamo version

0.9.2

## Operating system

Windows 7

## What did you do?

Run FaceAnalysisDisplay.ByViewFacePointsAndValues and FaceAnalysisDisplay.ByViewSurfaceData

## What did you expect to see?

Coloured surfaces in Revit relating to analysis results

## What did you see instead?

Node outputs more than one Revit.Display and only one surface gets colorized in Revit
I've also started a thr

[2016-04-18 12:38] VenkatPR commented on #3765
Hi Ian,
I would like to know that the unit conversion setting changes already been updated or not.
Right now i am using Dynamo 0.9.
when i was trying to find out the Foundation pad Coordinates the dynamo output x,y,z value is different than the Revit coordinates value.
Kindly help me.
Thanks in advance
Venkat

[2016-04-19 07:29] ke-yu commented on #6451
@StevenRowland , which package you try to load?

[2016-04-19 07:36] ke-yu commented on #6261
@ondejcik are you on a localized version of Dynamo?

[2016-04-19 07:45] ondejcik commented on #6261
Hi,

no we use standard, dynamo, latest stable build in english, downloaded from main danamo page and other builds i tried as well.
all dynamo is run on top of revit

[2016-04-19 07:48] ondejcik commented on #6261
no i tested it on standalone dynamo with same result,
as soon as group is greate in custom node editor, and i close it dynamo crash,
if i switch back to home workspace, and then close custom node workspace (without being active) i wont crash most of the times

[2016-04-19 07:53] ke-yu commented on #6261
@monikaprabhu @riteshchandawar @jnealb can you reproduce it?

[2016-04-19 07:58] StevenRowland commented on #6451
I was correcting the path to our custom node library. An admin had moved the folder and the path was no longer existing, so i clicked the ... to update to the new network location. Crash.

[2016-04-19 08:30] ondejcik commented on #6261
Hi,
thanks for help,
for clarity, here i have made a 50 seconds video how to reproduce crash,

https://knowledge.autodesk.com/community/screencast/06725bf9-a6e3-4efb-8d84-18255cc5f2d8

[2016-04-19 12:59] ramramps commented on #6261
This is fixed in 1.0 (I guess). I tried in 1.0 and I did not see this error.
@jnealb can confirm this as well.

[2016-04-19 15:04] ondejcik commented on #6261
i ahve tested this daily biuld, but it was still present
1.0.1 build 20160415T0446

[2016-04-19 17:07] dbaldacchino commented on #2243
Still broken in 0.9.2. There are actually two nodes with the exact same name but different graphic thumbnail. If this isn't getting fixed any time soon, why not pull them please? It's very frustrating for us to try learn how to use a node on our own and then figure out this has been broken for years. Could have saved us valuable time to work on other approaches instead. Thanks.

![csbbindynamo](ht

[2016-04-19 18:40] jnealb commented on #6261
@ramramps @ke-yu Not able to reproduce this with 1.0 in a French Windows VM running English Revit and Dynamo following the video steps. @ondejcik What is your Window Location and Format as shown in the Control Panel's "Region and Language"? If those are not English, is it possible for you to temporarily change them to English and re-try this test?

[2016-04-19 22:59] kronz commented on #2243
@dbaldacchino sorry for the frustration.  Believe it or not, this is in the pipeline for right after 1.0 release.  Didn't quite make the cut this time.

[2016-04-19 23:26] ikeough commented on #28
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:26] #28 closed

[2016-04-19 23:26] ikeough commented on #196
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:26] #196 closed

[2016-04-19 23:26] ikeough commented on #204
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:26] #204 closed

[2016-04-19 23:27] ikeough commented on #306
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:27] #306 closed

[2016-04-19 23:27] ikeough commented on #310
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:27] #310 closed

[2016-04-19 23:28] ikeough commented on #359
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:28] #359 closed

[2016-04-19 23:29] ikeough commented on #584
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:29] #584 closed

[2016-04-19 23:29] ikeough commented on #777
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:29] #777 closed

[2016-04-19 23:30] ikeough commented on #931
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:30] #931 closed

[2016-04-19 23:31] ikeough commented on #974
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:31] #974 closed

[2016-04-19 23:32] ikeough commented on #981
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:32] #981 closed

[2016-04-19 23:33] #989 closed

[2016-04-19 23:33] ikeough commented on #444
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:33] #444 closed

[2016-04-19 23:33] ikeough commented on #1005
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:33] #1005 closed

[2016-04-19 23:33] ikeough commented on #982
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:33] #982 closed

[2016-04-19 23:34] ikeough commented on #1003
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:34] #1003 closed

[2016-04-19 23:34] ikeough commented on #1006
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:34] #1006 closed

[2016-04-19 23:34] ikeough commented on #1012
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:34] #1012 closed

[2016-04-19 23:36] ikeough commented on #1022
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:36] #1022 closed

[2016-04-19 23:36] ikeough commented on #945
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:36] #945 closed

[2016-04-19 23:37] #566 closed

[2016-04-19 23:37] ikeough commented on #806
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:37] #806 closed

[2016-04-19 23:38] ikeough commented on #441
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:38] #441 closed

[2016-04-19 23:38] ikeough commented on #275
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:38] #275 closed

[2016-04-19 23:40] ikeough commented on #1073
DWG import is now available in Dynamo Studio.

I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Tha

[2016-04-19 23:40] #1073 closed

[2016-04-19 23:40] ikeough commented on #1078
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:40] #1078 closed

[2016-04-19 23:40] ikeough commented on #1107
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:40] #1107 closed

[2016-04-19 23:41] ikeough commented on #1038
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:41] #1038 closed

[2016-04-19 23:42] ikeough commented on #1034
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:42] #1034 closed

[2016-04-19 23:42] ikeough commented on #1101
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:42] #1101 closed

[2016-04-19 23:42] ikeough commented on #1110
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:42] #1110 closed

[2016-04-19 23:43] ikeough commented on #1151
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:43] #1151 closed

[2016-04-19 23:43] ikeough commented on #1221
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:43] #1221 closed

[2016-04-19 23:43] ikeough commented on #1296
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:43] #1296 closed

[2016-04-19 23:44] ikeough commented on #1348
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:44] #1348 closed

[2016-04-19 23:44] ikeough commented on #1393
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:44] #1393 closed

[2016-04-19 23:44] ikeough commented on #1437
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:44] #1437 closed

[2016-04-19 23:45] ikeough commented on #1479
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:45] #1479 closed

[2016-04-19 23:45] ikeough commented on #1492
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:45] #1492 closed

[2016-04-19 23:46] ikeough commented on #1711
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:46] #1711 closed

[2016-04-19 23:46] ikeough commented on #1678
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:46] #1678 closed

[2016-04-19 23:46] ikeough commented on #1731
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:46] #1731 closed

[2016-04-19 23:47] ikeough commented on #1730
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:47] #1730 closed

[2016-04-19 23:47] ikeough commented on #1754
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:47] #1754 closed

[2016-04-19 23:48] ikeough commented on #1900
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:48] #1900 closed

[2016-04-19 23:48] ikeough commented on #1800
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:48] #1800 closed

[2016-04-19 23:49] ikeough commented on #1720
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:49] #1720 closed

[2016-04-19 23:49] ikeough commented on #1849
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:49] #1849 closed

[2016-04-19 23:50] ikeough commented on #1904
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:50] #1904 closed

[2016-04-19 23:50] dbaldacchino commented on #2243
Awesome, thanks @kronz ! Sorry for sounding harsh, but I think issues such as this would help accelerate learning. Thanks for listening :)

[2016-04-19 23:51] ikeough commented on #1890
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:51] #1890 closed

[2016-04-19 23:58] ikeough commented on #2107
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:58] #2107 closed

[2016-04-19 23:58] ikeough commented on #2163
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-19 23:58] #2163 closed

[2016-04-20 01:58] ke-yu commented on #986
@andydandy74 , this has been fixed. :-)

[2016-04-20 01:58] #986 closed

[2016-04-20 01:59] ke-yu commented on #988
Verified that python node remains its name. Close.

[2016-04-20 01:59] #988 closed

[2016-04-20 08:02] ondejcik commented on #6261
format, location and language is swedish (svenska), i ll try to change it

[2016-04-20 16:11] epeter- opened #6474 "GUID constructor"
## Dynamo version

1.0
## Operating system

(windows 10 64-bit)

## What did you do?

(python script)

## What did you expect to see?

(GUID)

## What did you see instead?

(TypeError: expected Guid, got Object_1$1)

the code:
.......
	opt = ExternalDefinitionCreationOptions(_paramName[k],_paramType[k])
	opt.GUID = uuid.UUID(_guid[k])
........

[2016-04-20 17:48] jonathanroy8676 opened #6475 "Installation of Bakery package asing to uninstall Clockwork and Lunchbox???"
## Dynamo version

0.9.2.4472

## Operating system

Windows 7 Pro  SP1

## What did you do?
Install Bakery package
Packages > Search for a package > Bakery > Install

## What did you expect to see?

downloaded and installed with a new package in my library named Bakery

## What did you see instead?
![image](https://cloud.githubusercontent.com/assets/16231080/14684527/5b406094-06fe-11e6-968f-851f96

[2016-04-20 17:52] ikeough commented on #274
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-20 17:52] #274 closed

[2016-04-20 17:52] ikeough commented on #333
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-20 17:52] #333 closed

[2016-04-20 17:53] ikeough commented on #371
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-20 17:53] #371 closed

[2016-04-20 17:54] ikeough commented on #573
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-20 17:54] #573 closed

[2016-04-20 17:54] ikeough commented on #788
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-20 17:54] #788 closed

[2016-04-20 17:55] ikeough commented on #1027
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-20 17:55] #1027 closed

[2016-04-20 17:55] andydandy74 commented on #986
Great!

[2016-04-20 17:57] ikeough commented on #1852
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-20 17:57] #1852 closed

[2016-04-20 17:58] ikeough commented on #1803
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-20 17:58] #1803 closed

[2016-04-20 17:59] ikeough commented on #1996
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-20 17:59] #1996 closed

[2016-04-20 17:59] ikeough commented on #2116
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-20 17:59] #2116 closed

[2016-04-20 18:00] ikeough commented on #2117
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-20 18:00] #2117 closed

[2016-04-20 18:03] ikeough commented on #2210
@aparajit-pratap Do you know if we ever implemented this?

[2016-04-20 18:04] ikeough commented on #2521
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-20 18:04] #2521 closed

[2016-04-20 18:05] ikeough commented on #2567
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-20 18:05] #2567 closed

[2016-04-20 18:06] ikeough commented on #2810
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-20 18:06] #2810 closed

[2016-04-20 18:07] ikeough commented on #3016
I’m closing this issue because it has been inactive for a while. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version.

Thank you!

[2016-04-20 18:07] #3016 closed

[2016-04-20 18:27] kronz commented on #6475
@jonathanroy8676 I think that Luke's package re-distributes pieces of Clockwork and Lunchbox, and so needs to replace them.  You will need to contact him to discuss his strategy for distributing pieces of existing packages.

[2016-04-20 18:27] #6475 closed

[2016-04-20 18:58] jnealb commented on #6261
@ondejcik @sm6srw We are able to reproduce this and are tracking it as MAGN-9966 and will have a fix soon. Thank you for your help.

[2016-04-20 19:21] jonathanroy8676 commented on #6475
@kronz Just found this information on the [Dynamo Nodes - Bakery](https://dynamonodes.com/2016/01/22/what-is-bakery/).
"If you don’t want to deal with other packages wanting to uninstall and reinstall when installing Bakery, just download it from the Package Manager website as a ZIP, then unzip to this directory:

%APPDATA%\Dynamo\0.8\packages\Bakery"

Sorry, just found the Dynamonodes website.

[2016-04-20 19:21] #6474 closed

[2016-04-20 19:39] kronz commented on #6475
No worries, its confusing

[2016-04-20 19:44] andydandy74 commented on #6475
@kronz - This is actually exactly the kind of thing I described in #3433. It is indeed very confusing and I hope it gets improved in the next version of the package manager.

[2016-04-20 20:04] jonathanroy8676 commented on #6475
I downloaded the latest package 2016.4.15 and unzipped it in 0.9 and 0.8 (just in case) folders and it still doesn't show up when I open my Revit 2016/Dynamo0.9. I researched his name and Bakery with succes. Other than tweeting Luke I don't know I should get in touch with him or other authors. i just tried his github for Bakery, I'm afraid I'm screwing things up... lol

[2016-04-20 20:12] kronz commented on #6475
@jonathanroy8676 I think the way to go is this:  You can go ahead and install Bakery, then just download and install Clockwork and and Lunchbox again.  A hassle, but will just work without having to mess with folder structures

[2016-04-20 20:13] kronz commented on #2243
@dbaldacchino not at all, it's silly we hav not gotten this right or, as you say, removed it until such time.  I think we've been hopeful for a long time that the fix is right around the corner.

[2016-04-20 20:36] jonathanroy8676 commented on #6475
@kronz After understanding that I had to close Revit, and not just Dynamo, to uninstall the packages that were taged "Pending Uninstall". I installed the Bakery package which in turn reinstalled Clockwork, Blackbox and Lunchbox... :) I'm not sure what happen but things appear back to "normal". I do have to agree with @andydandy74 about this process not being very user friendly.

Thanks for the hel

[2016-04-20 20:44] jonathanroy8676 commented on #3433
So if I understand correctly, I'm new to Package Dependencies, by installing Package A, package B might be overridden and not work any more in my other script in which package B was used because it might be modified by a newer version of package B? (my post #6475)

[2016-04-20 20:48] ksobon commented on #6426
could it be because you guys made an assumption that vectors would be unitized between 0-1 and hence would not require unit conversion?

[2016-04-20 20:52] andydandy74 commented on #3433
@jonathanroy8676  - No, basically you might end up with an older version of package B than the one you had installed previously.

[2016-04-20 20:53] andydandy74 commented on #3433
In your case, the current version of Bakeyr uses the current version of Clockwork, so no worries.

[2016-04-20 22:59] LukeyJohnson commented on #6475
I know that Bakery isn't ideal because of its dependencies. If you get into real trouble, you can just "Cut" all of the content out of your Packages folder, install Bakery (which will install Clockwork etc), then bring back any other packages you had already installed.

I also find that deleting DynamoSettings.xml sometimes helps, it gets recreated on next run.

[2016-04-21 02:14] aparajit-pratap commented on #2210
Will need to do some investigation to see if we can come up with a solution: http://adsk-oss.myjetbrains.com/youtrack/issue/MAGN-9967

[2016-04-21 12:25] vykrum opened #6484 "Crash Report - 20160421"
## Dynamo version

1.0.1.1052

## Operating system

Windows 10

## What did you do?

Clicked on undo a few times after defining a function in a code block
Then clicked on redo a few times

## What did you expect to see?

The graph in the same state as before (the undos)

## What did you see instead?

Unhandled model type: Dynamo.Graph.Connectors.ConnectorModel

   at Dynamo.Graph.Workspaces.Worksp

[2016-04-21 13:06] vykrum opened #6487 "Warning on installation"
## Dynamo version

1.0.1.1112

## Operating system

Windows 10

## What did you do?

Install

## What did you expect to see?

The usual installation windows

## What did you see instead?

![20160421-5](https://cloud.githubusercontent.com/assets/5621624/14709700/b4e26b46-07ef-11e6-8fd4-8720cbbd4f56.png)

[2016-04-21 16:21] ikeough commented on #6349
@vykrum I fidddled about making several image captures and couldn't reproduce. I opened the console and captured. I resized the view and captured, and I toggled the library closed and captured. Nothing seemed to reproduce this.

[2016-04-21 16:25] ikeough commented on #6387
@maxhobos Closing this issue as it is being tracked internally now. @ke-yu will provide an update when the issue is fixed.

[2016-04-21 16:25] #6387 closed

[2016-04-21 16:27] ikeough commented on #6369
@ke-yu Please remember to close the issue when the PR is merged. Thanks for the fix!

[2016-04-21 16:27] #6369 closed

[2016-04-21 16:31] ikeough commented on #6394
@dimven Thanks for the tips and the issue link. @rbosborne I'm closing this issue as the one that @dimven linked covers it. @mjkkirschner can you please confirm this is the same issue?

[2016-04-21 16:31] #6394 closed

[2016-04-21 16:41] ikeough commented on #6425
@Lexiko Sorry for the confusion. In newer releases of Dynamo, the `FaceAnalysisDisplay.ByViewAndFaceAnalysisData` node has been replaced by the `FaceAnalysisDisplay.ByViewFacePointsAndValues` node as seen here:
![image](https://cloud.githubusercontent.com/assets/1139788/14717199/101f8ce6-07a5-11e6-85cd-89aa83d1068f.png)
The `FaceAnalysisData` node is no longer required. You can simply pass in a su

[2016-04-21 16:41] #6425 closed

[2016-04-21 16:43] ikeough commented on #6487
This is because the daily installer is not signed (I think). @sharadkjaiswal can give a little more background here.

[2016-04-21 16:45] #6487 closed

[2016-04-21 17:04] ikeough commented on #6454
@Lexiko Sorry for the delay in reply. I think this might be a limitation of the Revit API which Dynamo is doing of good job of un-masking :( I have to check the API documentation, but I believe only one analysis display object is allowed in the view at one time, and Dynamo is creating an analysis display object for each surface. I need to investigate.

[2016-04-21 17:29] jnealb commented on #6366
@gtalarico Can you tell us if this is still happening for you?

[2016-04-21 17:49] jnealb commented on #6487
@ikeough @sharadkjaiswal In my experience a "First time in" thing that goes away, but not clear what the rules are for that yet.

[2016-04-21 20:59] ikeough commented on #6311
@DavePlumb You shouldn't have to "get around" this. We should safely handle nulls input to that node.

[2016-04-21 21:03] ikeough commented on #6289
@andydandy74 I believe you can instruct Dynamo not to load the package manager at startup by removing the `<dynamo install>\extensions\PackageManagerExtension_ExtensionDefinition.xml` file. This would have to be part of your deployment protocol.

[2016-04-21 21:08] ikeough commented on #6262
Hey @redinkinc. There are now several 1.0 sections in the [API Changes](https://github.com/DynamoDS/Dynamo/wiki/API-Changes) documentation corresponding to the parts of the application that have changes. Please review the doc, and re-open this issue if you're still not seeing what you need.

[2016-04-21 21:08] #6262 closed

[2016-04-21 21:10] ikeough commented on #6209
@kronz This is similar to what I was working on at Smart Geometry this year. Let's talk.

[2016-04-21 21:11] ikeough commented on #6209
And because @andydandy74 linked the original, I'm closing this one.

[2016-04-21 21:11] #6209 closed

[2016-04-21 21:15] ThomasMahon opened #6490 "one line if statement doesnt work inside imperative code"
## Dynamo version

0.9.2 Dynamo version
## Operating system

Win 10
## What did you do?

one line if statement doesn't work inside DesignScript imperative code
## What did you expect to see?

It working in the same way as associative code
## What did you see instead?

Null value
![one-line-if in imperative code](https://cloud.githubusercontent.com/assets/18601851/14724504/83cd4d72-080e-11e6-810f-1

[2016-04-21 21:16] ikeough commented on #6231
@jhubers This is very good to know. Thanks! @riteshchandawar, I'm closing this issue, but feel free to open a back-log item for including notes about this in the Dynamo Samples code.

[2016-04-21 21:16] #6231 closed

[2016-04-21 21:18] ikeough commented on #6199
@jnealb Can we follow up with @brianringley? If we definitely can't reproduce, then let's close this.

[2016-04-21 21:19] ThomasMahon opened #6491 "One line if statement cant return a singleton and an array within the same statement"
![one-line-if cant return singletons and arrays](https://cloud.githubusercontent.com/assets/18601851/14724638/5e3798f0-080f-11e6-8c53-2e74139ae356.png)
## Dynamo version

0.9.2 Dynamo version
## Operating system

Win 10
## What did you do?

one line if statement cant return a singleton and an array within the same statement. So if true = singleton and false = array it will always return a list
##

[2016-04-21 21:20] ikeough commented on #6198
@claudioarchi I'd like to get the flux guy's input on this.

[2016-04-21 21:23] ikeough commented on #6251
Please see the first issue in the [FAQ](https://github.com/DynamoDS/Dynamo/wiki/Dynamo-FAQ). If none of those solutions help, please re-open.

[2016-04-21 21:23] #6251 closed

[2016-04-21 21:25] jnealb commented on #6311
@ikeough @DavePlumb @ke-yu This, and another "user not friendly" issue are tracked: please see MAGN-9976, 9915.

[2016-04-21 21:25] ThomasMahon opened #6492 "Set Type Parameter of Family not possible"
## Dynamo version

0.9.2
## Operating system

Win 10
## What did you do?

SetParameterByName on a Type parameter in a Family
## What did you expect to see?

The Type parameter to update
## What did you see instead?

Fails to update and an exception is thrown that the parameter does not exist. The method only works on instance parameters.

[2016-04-21 21:27] jnealb commented on #6199
@brianringley Are you still seeing this? Thanks for an update.

[2016-04-21 21:28] ikeough commented on #6309
@jnealb Closing, because it's fixed :)

[2016-04-21 21:28] #6309 closed

[2016-04-21 21:29] ikeough commented on #6222
@dago2015 Glad to hear your crash is fixed. If you'd like to open a separate improvement request, please do so and add the Improvement tag.

[2016-04-21 21:30] #6222 closed

[2016-04-21 21:32] ikeough commented on #6276
This looks like an error with the migrations in the Flux package.

[2016-04-21 21:34] ThomasMahon opened #6493 "SetParameterByName fails on Families (adaptive components) structured in a list of rank 3"
## Dynamo version

0.9.2
## Operating system

Win 10
## What did you do?

I have an Adaptive Component cladding system organised in a 3D list/rank 3 (List of list of lists). I iterate through the list to update each components instance parameters within an imperative DesignScript block but it fails to update the parameters.
## What did you expect to see?

The instance parameters update with the in

[2016-04-21 21:37] ikeough commented on #6159
@mostaphaRoudsari Is there already a feature request for the python port renaming? If not, please create one.

@Arwilliams83 I'm closing this as it seems that the Notes feature helped. Please re-open if you're looking for more in the way of notes.

[2016-04-21 21:37] #6159 closed

[2016-04-21 21:38] ikeough commented on #6152
@monikaprabhu I'm closing this issue because it's fixed :) @paoloemilioserra Please re-open if you're still having issues.

[2016-04-21 21:38] #6152 closed

[2016-04-21 21:40] ikeough commented on #6151
@aparajit-pratap Sounds like some interesting geometry stuff.

[2016-04-21 21:42] ikeough commented on #6312
@rk-lakshmanan I'm closing this issue because it's fixed (according to the PR :) ). @brianringley Please re-open if this is still causing issues.

[2016-04-21 21:44] ikeough commented on #6493
@ke-yu Sounds like an imperative block issue.

[2016-04-21 21:46] ikeough commented on #6484
@vykrum Can you provide a .dyn and exact steps to reproduce?

[2016-04-21 21:47] #6108 closed

[2016-04-21 21:47] #6312 closed

[2016-04-21 21:48] #5194 closed

[2016-04-21 21:48] #4992 closed

[2016-04-21 21:50] ikeough commented on #5818
Please see the first question of the [FAQ](https://github.com/DynamoDS/Dynamo/wiki/Dynamo-FAQ)

[2016-04-21 21:51] ikeough commented on #5711
@mjkkirschner Ever find that tracking number? :)

[2016-04-21 21:52] ikeough commented on #5414
Closing this for now. Please re-open if the suggested fixes didn't work.

[2016-04-21 21:52] #5414 closed

[2016-04-21 21:53] ThomasMahon opened #6494 "Dot product returning erronous scalars?"
## Dynamo version

0.9.2

## Operating system

Win 10

## What did you do?

Get the dot product of two vectors. Evaluating against world Z Vector.

## What did you expect to see?
Dot product returned as a scalar between -1 to +1.

## What did you see instead?

Due to the way I've created the vector for evaluation (flowing a PointByParameter on a circle with its centre point as its start point. The

[2016-04-21 21:55] ikeough commented on #4894
Closing this because a fix is linked. @revitj0hnp, please re-open if you're still having issues.

[2016-04-21 21:55] #4894 closed

[2016-04-21 21:58] ikeough commented on #6241
@ke-yu Closing because it's fixed :) @vykrum Please re-open if the problem persists.

[2016-04-21 21:58] #6241 closed

[2016-04-21 22:00] ikeough commented on #4618
@lillismith Closing this because it's fixed :) @epeter- Please re-open if you're still seeing the issue.

[2016-04-21 22:00] #4618 closed

[2016-04-21 22:00] #4114 closed

[2016-04-21 22:01] ikeough commented on #3798
@jnealb Closing :)

[2016-04-21 22:01] #3798 closed

[2016-04-21 22:02] ThomasMahon commented on #6493
Just some further information to clarify the above; I did achieve SetParameterByName within DesignScript imperative block, but only by extracting the sublist to a new list, operating on that list inside a secondary for loop, then returning back into a primary list to retain my required data structure (i.e. 3D list)

[2016-04-21 22:02] ikeough commented on #3080
@jnealb @vasshaug I'm closing this one because its pretty old. Feel free to re-open if this discussion should still be active.

[2016-04-21 22:02] #3080 closed

[2016-04-21 22:03] ikeough commented on #4397
@kronz Wondering if this ever got fixed.

[2016-04-21 22:04] mynovmbr commented on #5711
@ikeough @mjkkirschner Interesting, I'm also trying to find some server solution today, looking forward to the answer too! If you guys have time, please also take a look at my post on forum: http://dynamobim.org/forums/topic/dynamo-packagecustom-nodes-deployment/#post-44417 Thanks!

[2016-04-21 22:05] #3324 closed

[2016-04-21 22:05] #2475 closed

[2016-04-21 22:06] ikeough commented on #2475
@AaronGeman Closing this issue as @ptierney claims it is fixed. Please let us know if the problem still occurs.

[2016-04-21 22:07] #2132 closed

[2016-04-21 22:08] ikeough commented on #3948
@aparajit-pratap Was this ever resolved?

[2016-04-21 22:09] ikeough commented on #2559
@riteshchandawar Was this ever fixed?

[2016-04-21 22:09] ikeough commented on #1944
@riteshchandawar Was this ever fixed?

[2016-04-21 22:10] ikeough commented on #3545
@monikaprabhu Was this ever fixed?

[2016-04-21 22:12] ikeough commented on #3194
@andyopayne It's been a while since I checked this issue. Sorry. Now that we have published Firefly, and added the ability to define DS expressions as default arguments, did we get you where you need to be? I'm closing for now because I think we did, but please re-open if I'm mistaken.

[2016-04-21 22:12] #3194 closed

[2016-04-21 22:14] ikeough commented on #2314
@mostaphaRoudsari @aparajit-pratap Closing this as it sounds like a fix has been provided. Please re-open if I'm mistaken.

[2016-04-21 22:14] #2314 closed

[2016-04-21 22:14] oderby commented on #6198
@ikeough yep, we're on it. We'll post updates here once we understand what's happening.

@claudioarchi you should receive an email from us shortly.

[2016-04-21 22:16] ikeough commented on #3991
@ParametricMonkey Closing this issue as a fix has been linked for #1 and a duplicate exists for #2. Please re-open and provide comments if this is unique.

[2016-04-21 22:16] #3991 closed

[2016-04-21 22:30] ThomasMahon opened #6495 "List SortByKey fails when sorting Revit objects (floors)"
## Dynamo version
0.9.2

## Operating system

Win 10

## What did you do?

Selected some floors in a Revit project. Got their elevation heights. Sorted the list using SortIndexByValue method. Used the index list to sort the floors using SortByKey (to guarantee they were ordered by height sequentially and prevent problems caused by the order in which they were selected).

## What did you expect to

[2016-04-21 23:20] Lexiko commented on #6454
Yeah, that’s what my gut is telling me too. @ksobon has a node in archi-lab which creates a colored surface view(it seems to work with two surfaces: http://archi-lab.net/colored-surface-analysis-display-with-mantis-shrimp-and-ladybug-continued/). He uses it with mantis shrimp to bring in surfaces from grasshopper but I presume it should work the same with geometry out of revit. I tried to use it i

[2016-04-21 23:28] ikeough commented on #6198
@oderby Thanks!

[2016-04-21 23:30] ikeough opened #6496 "Update Dynamo NuGet packages to Copy Local = False"
When the Dynamo NuGet packages are used by third party developers, they should not copy their assemblies locally. The NuGet packages should be updated to include the proper install script so that this doesn't happen. Like we've done [here](https://github.com/ikeough/GRegClientNET/blob/frac-272/src/GregClient/NuGet/tools/Install.ps1)

[2016-04-21 23:52] tatlin commented on #3194
@ikeough @andyopayne did go in and expose some more in firefly for Dynamo recently, not sure if he finished that part yet or not but perhaps could look at this again too

-matt

[2016-04-22 00:34] mostaphaRoudsari opened #6498 "Wish: Renaming Python node ports"
Following up from [here](https://github.com/DynamoDS/Dynamo/issues/6159#issuecomment-213123063):

Currently Python node name inputs and IN[0]..IN[n] based on the number of inputs. It would be great to be able to schange the name for input ports. Currently the best workaround is to wrap the python node inside a custom node.

[2016-04-22 01:23] ikeough commented on #6427
@Benglin Great! Thanks for the fix.

[2016-04-22 01:23] #6427 closed

[2016-04-22 01:24] #6380 closed

[2016-04-22 01:32] #5897 closed

[2016-04-22 02:04] vykrum commented on #6484
Sorry, didn't save the file, had just begun with a fresh file and about 4 code blocks (each with about 3 lines of script).

[2016-04-22 02:15] vykrum commented on #6349
@ikeough The problem was with the build mentioned above. Haven't faced this issue in the more recent builds (or earlier builds).

[2016-04-22 02:29] ksobon opened #6500 "Variable Input Node Implementation"
@mjkkirschner @ikeough

Hey guys, I was playing around with the Variable Input Nodes and it crashes me out. I am not doing anything with it yet, other than just trying to implement the VariableInputNode.

Here's the code:

[code]

and here's the customization class:

[code]

It crashes with the following message when I place the node on canvas. It looks like the node itself gets created all right

[2016-04-22 02:35] mjkkirschner commented on #6500
I knew this looked familiar:
https://github.com/DynamoDS/Dynamo/issues/5120

is this all your code, I want to debug this and see whats going on.

its the same stack trace, looks like somehow there is a "+" in the xml when the node's creation gets recorded for undo. May not be anything you are doing wrong, will need to look further.

[2016-04-22 02:37] dimven commented on #6495
@ThomasMahon  "List.SortByKey" works as expected:
![2016-04-22_10-15-51](https://cloud.githubusercontent.com/assets/7148394/14729713/f81ba52a-0872-11e6-84ad-0833856bdc26.png)

The problem is that "SortIndexByValue" is giving you a wrong value keys:
![2016-04-22_10-38-44](https://cloud.githubusercontent.com/assets/7148394/14730090/1d8df094-0876-11e6-96a1-fe86256b1ca0.png)

[2016-04-22 02:43] ksobon commented on #6500
yes! but it looks like I didn't exactly solve the issue. Agrrr. I must have gotten lucky last time, but this happening again kind of makes me want to investigate deeper this time around.

Yes, I am literally trying to create a node that has variable inputs and will combine them into a list. Of course once I have all of the inputs as a list I wrap them up into a <code>new RowContainer(inputList)</c

[2016-04-22 03:18] ke-yu commented on #6077
hi @Pemhughes , notice you are using 0.9.0, please let me know if the problem is still there or not.

[2016-04-22 03:23] dimven commented on #6454
Had a quick look at @ksobon 's implementation. The SpatialFieldManager allows for multiple surface references:
![2016-04-22_11-23-40](https://cloud.githubusercontent.com/assets/7148394/14730805/6f5328ee-087c-11e6-8f92-925d62119071.png)

![2016-04-22_11-14-15](https://cloud.githubusercontent.com/assets/7148394/14730806/71c47d80-087c-11e6-8f36-baa10c9b746e.png)

However Dynamo's implementation clear

[2016-04-22 03:27] ke-yu commented on #1944
MAGN-3913 has been fixed. We could close it now.

[2016-04-22 03:41] ksobon commented on #6454
@dimven I can't believe you actually got my nodes to work. I thought they were just old and broken but at the same time I haven't used that particular node in a while. One issue I always had with these nodes was remapping of the UVs from Rhino UVs to Revit UVs as imported Rhino surfaces would get randomly flipped. Also, flat surfaces are a bit of a pickle for Revit when it comes to mapping UVs. Fo

[2016-04-22 05:24] aparajit-pratap commented on #3477
@ksobon I'm closing this issue for now until I hear from you otherwise. Please reopen if you still encounter issues. Thanks.

[2016-04-22 05:24] #3477 closed

[2016-04-22 05:32] aparajit-pratap commented on #6308
Tracked in http://adsk-oss.myjetbrains.com/youtrack/issue/MAGN-9588

[2016-04-22 05:40] aparajit-pratap commented on #5973
I believe this has been fixed. Closing for now. @deartotoro feel free to reopen if still reproducible in the latest builds.

[2016-04-22 05:40] #5973 closed

[2016-04-22 06:36] aparajit-pratap commented on #6448
@Lexiko could you give details of the steps you followed to encounter this crash. A DYN file would be really helpful.

[2016-04-22 06:39] aparajit-pratap commented on #6069
@monikaprabhu you recently tested Lunchbox. Could you take a look at this?

[2016-04-22 06:41] aparajit-pratap commented on #6156
Tracked in: http://adsk-oss.myjetbrains.com/youtrack/issue/MAGN-9498

[2016-04-22 06:51] aparajit-pratap commented on #5812
@Arek3dim sorry for the late response but do you still have the DYN file with you for us to reproduce this?

[2016-04-22 08:16] jankahre opened #6503 "dynamo crashes as soon as i hit run..."
## Dynamo version

(Which version of Dynamo are you using? Go to Help > About if you're not sure.)

## Operating system

(e.g. Windows 7, Windows 8.1, etc)

## What did you do?

(Fill in here)

## What did you expect to see?

(Fill in here)

## What did you see instead?

(Fill in here)

[2016-04-22 08:19] jankahre commented on #6503
#
[Floor.zip](https://github.com/DynamoDS/Dynamo/files/231392/Floor.zip)

[2016-04-22 08:26] brianringley commented on #6199
@ikeough @jnealb yes this is still an issue with Input and Code Block nodes in 0.9.2.

To use custom block Input nodes I either have to generate the custom block from a Dynamo graph (rather than file > custom block) or I have to copy and past an existing Input node pre-filled with text from an older file.

Code Block nodes seem to be behaving a bit differently - I can enter text into them if I beg

[2016-04-22 08:34] aparajit-pratap commented on #3948
Resolved.

[2016-04-22 08:34] #3948 closed

[2016-04-22 09:31] andydandy74 commented on #6289
@ikeough - while this would have been nice, unfortunately it doesn't work. I tried this in 0.9.0 stable and the latest daily (1.0.0.910). DynamoSandbox (0.9.0) won't start at all, neither will the Revit addin. The screenshot below shows the error message I get when I try to launch the Revit addin.
![disablepkgmanager](https://cloud.githubusercontent.com/assets/3014437/14737698/bf6fbbe8-087d-11e6-9

[2016-04-22 09:32] andydandy74 opened #6504 "Sandbox missing - Bug or feature?"
## Dynamo version

1.0.0.910

## Operating system

Windows 7

## What did you do?

Look for DynamoSandbox.exe

## What did you expect to see?

DynamoSandbox.exe

## What did you see instead?

Nada

[2016-04-22 11:50] TomasTar opened #6505 "Excel Data Import / Export Failure"
## Dynamo version

0.7.1.9124; 0.7.3.3034; 0.9.4472.
## Operating system

Windows 7 Enterprise, System type: 64-bit.
## What did you do?

I have tested export import sample files: _ImportExportData to Excel_ and
_ImportExportExcel to Dynamo_ both files failed on my and colleague's destop on other colleague's destop works fine same as on few laptops, all PCs have same specifications same windows ed

[2016-04-22 11:55] jnealb commented on #6505
@TomasTar Is Excel installed on these machines?

[2016-04-22 12:07] TomasTar commented on #6505
Hi Jnealb, Excel version 2007 on all machines. I had 2007, recently replaced by 2010. I have tested on both Excel versions on my machine.

[2016-04-22 13:00] ikeough commented on #6289
Ah. I see why this would be. We converted the package manager to an extension, but kept the package manager UI bits as part of the core application. Not very smart. The package manager UI should be a _view extension_ so you could disable both the extensions and disable the PM. Thanks for trying.

[2016-04-22 13:04] #1944 closed

[2016-04-22 13:08] #6349 closed

[2016-04-22 13:09] brianringley commented on #6199
@ikeough @jnealb  [https://twitter.com/brianringley/status/723498665927688192](https://twitter.com/brianringley/status/723498665927688192)

[2016-04-22 13:24] dimven commented on #6504
Already asked about this one. Zach confirmed that it's coming back. It seems that now it's in transit between DynamoCore and DynamoRevit. One of the dailies had the executable inside the DynamoRevit folder, try checking in there.

[2016-04-22 13:58] ThomasMahon commented on #6505
Hi Tomas / Jneal

This is a registry issue with Microsoft Office 2007. If you install a newer version and then roll back to an older one (in this case 2010 back to 2007), the registry key for 2010 remains which is incompatible with 2007. That, at least, was the issue I had. To resolve you need to delete the registry key for 2010 or newer if you want to continue using 2007.

[2016-04-22 14:01] ThomasMahon commented on #6495
Thanks Dimitar....my hangover from my days of GC!

[2016-04-22 14:54] AndrewHeumann commented on #6199
I have had this issue intermittently as well. It does not occur in the standalone 0.92, but does in revit 2014 and 2015 (have not checked 2016). See screen capture:
https://www.dropbox.com/s/b1l1yfh761fsuc7/dynamo%20code%20block%20bug.mp4?dl=0

[2016-04-22 14:55] mjkkirschner commented on #6199
hmm, are you guys on high dpi screens?

[2016-04-22 15:06] AndrewHeumann commented on #6199
Nope - just normal res 1920x1200 dell monitors

[2016-04-22 16:09] ikeough commented on #6199
@brianringley @AndrewHeumann Do both of you have any kind of mouse presentation capture software installed? Like the kind that makes your mouse clicks flash or highlight when you screen capture?

[2016-04-22 17:18] brianringley commented on #6199
Yes camtasia
On Fri, Apr 22, 2016 at 5:09 PM Ian Keough <notifications@github.com> wrote:

[2016-04-22 18:33] AndrewHeumann commented on #6199
although I only had it running to record the issue - issue occurs even when camtasia is not running at all.

[2016-04-22 22:48] ksobon commented on #6500
so it looks like i got this to work. I think that I made a mistake of sticking this whole thing into another class and that was causing some issues. anyways, i am no longer getting an error about the "+". Great!

Now, next step would be to be able to take all of the inputs, combine them into a List<object> and then instantiate a class object called RowContainer(List<object>) and return that as out

[2016-04-22 22:55] mjkkirschner commented on #6500
@ksobon so the next trick is that the function you call needs to be defined in a separate .dll (project usually) from the place where you define the `BuildOutputAST` method that calls it. So add your RowContainer type to a different project, I think you'll still need to import the other .dll though so that the VM knows about your type.

[2016-04-22 22:58] mjkkirschner commented on #6500
if you look at this sample https://github.com/DynamoDS/DynamoSamples/blob/a99f7f9b4340d883a11714d5a8bc5a6530a3bbf6/src/SampleLibraryUI/Examples/CustomNodeModel.cs#L185

which I am sure you have seen already, note that the method called here in BuilOutputAST is defined in another project (the zero touch sample project)

[2016-04-23 14:23] #6495 closed

[2016-04-23 17:04] kronz commented on #6503
@jankahre this does not reproduce just with the file you have supplied.  Can you add teh Revit file or template you are running against?

[2016-04-23 19:02] ThomasMahon opened #6508 "PointAtParameter on selected Revit Mass Face ignores Brep extents"
## Dynamo version

0.9.2
## Operating system

Win10
## What did you do?

Created an array of points using cross product lacing on a selected face from a Revit mass. The mass is orthogonally extruded. However, when the edge is lifted such that the face is sheared, there there is a bug as described below and shown in the attached images.
## What did you expect to see?

That the points are generated

[2016-04-23 22:15] mjkkirschner commented on #6508
I believe these are the same issue: https://github.com/DynamoDS/Dynamo/issues/2210

[2016-04-24 02:52] ksobon opened #6509 "Override Zero Touch node name with [NodeName()]"
This would go along the lines of my previous request that it would be nice to add a method attribute to override input names on zero touch nodes. This time I want to override a node name by using something similar that UI nodes use with a class attribute. This is also what @ikeough suggested we could do to solve the input override idea.

I would want to be able to do this:

[code]

This would resu

[2016-04-24 09:41] ThomasMahon commented on #6508
Thanks, seems like the same issue. Will just have to rebuild for now.

[2016-04-24 09:43] ThomasMahon opened #6510 "Improvement: Make all nodes callable"
## Dynamo version

0.9.2

## Operating system

Win 10

##Improvement Suggestion
Make nodes callable (i.e force users to give each node placed on the graph a unique name)

[2016-04-24 09:52] ThomasMahon opened #6511 "Improvement: Show Labels includes node name and shows in Revit project"
## Dynamo version

0.9.2
## Operating system

Win 10
## Improvement Suggestion

I would like to see Show Labels display the node name AND both node name and index markers in Revit too. Another issue is creating or placing Revit elements. If I place a load of adaptive components, they only show in the Revit project which means I cant view the labels. Ideally, I would want to see their Labels. I am

[2016-04-24 09:57] ThomasMahon opened #6512 "Improvement: Debugger. Debugger. Debugger"
## Dynamo version

0.9.2

## Operating system

Win 10
## *MASSIVE* Improvement Suggestion

This is - as you can tell from the title - a biggie! Can we please have a debugger. This is critical for developing highly complex parametric models. No debugger is crippling and there's no way Dynamo can be used on complex architectural or engineering schemes without one. I am a big fan of Dynamo and I'm a

[2016-04-24 10:08] ThomasMahon opened #6513 "Improvement: Dockable Text Editor and Find/Replace"
## Dynamo version

0.9.2
## Operating system

Win 10
## Improvement Suggestion

I'm finding coding using DeisgnScript quite tedious when I have written lots of code (see image for an example). The code block cant be resized, and when I zoom in to see my code, the scroll bar is out of view...so I have to zoom out, move it, zoom back in. Its very disruptive when coding and problem solving. I end up

[2016-04-24 11:00] kronz commented on #6504
@andydandy74 @dimven Yes, sandbox.exe is still there, in the Dynamo Revit folder.

[2016-04-24 11:00] #6504 closed

[2016-04-25 05:05] ksobon commented on #6510
nodes in Dynamo are already callable by virtue of the methods running behind them being available via Design Script in Code Blocks. Now, not all of them are exposed yet in Design Script but that's a work in Progress. On the other hand your suggestion to make users enter unique name for all new nodes, is just slightly far fetched and almost impossible to orchestrate. It would also be a massive hit

[2016-04-25 06:40] IFChaos opened #6515 "Problem generating sheets"
## Dynamo version

9.2
## Operating system

Windows 7
## What did you do?

I'm generating sheets by level and then placing views in these sheets.
## What did you expect to see?

Each time i change the level the name of the sheet changes and new sheets should be created.
## What did you see instead?

It destroys my previous sheets. No matter if you restart Revit, the computer, or whatever you try,

[2016-04-25 06:51] ThomasMahon commented on #6510
Hi Konrad

I mean calling nodes already on the graph which is why each would need a unique name. If I place a slider for example, I want to call it elsewhere in my script without having to redefine it. Sure, I can use an input and wire it up, but what if I've used a number of nodes to generate a result and want whichever node has created that result to be the one I call. I don't want to recreate a

[2016-04-25 08:29] josols commented on #6510
I agree with Konrad. I know this is not the forum, and although it is a little workaroundish, you could achieve less wiring by making callable definitions for your variables.
![image](https://cloud.githubusercontent.com/assets/7080648/14777889/397008f4-0ad0-11e6-869d-2368c26e0335.png)

[2016-04-25 09:49] TomasTar commented on #6505
Hi Thomas / Neal

I have deleted Microsoft Office registry key for 2007, but still have the same issue. I didn’t roll back to an older version and I have Microsoft Office 2010 version only, so I’m in slightly different situation. Why did you roll back to 2007 version, if is anything to do with the Dynamo?

[2016-04-25 11:11] svxnsvxn commented on #6429
Hello,
I installed Revit 2017 and Dynamo 0.9.2, the problem has gone for every version of revit and dynamo.
It's ok for me now but the reason is still unknown.
Thanks anyway.

by SVXNSVXN

[2016-04-25 13:01] ikeough commented on #6513
@racel A great image which demonstrates the need for a better code editing environment.

[2016-04-25 13:03] ramramps commented on #6513
@Racel - We should consider this for the webui.

[2016-04-25 13:06] ThomasMahon commented on #6510
Absolutely. However the underlying wish is to be able to call nodes by name once placed on the graph. Using definitions gets no closer to this, especially when scrutinised against the list of benefits I mentioned - find replace being probably the most significant gain.

[2016-04-25 13:07] ikeough commented on #6509
@ksobon Thinking about this a bit more...One problem is that this starts to introduce a lot of Dynamo-specific code into your zt libraries. In a perfect world, you're zt libraries shouldn't have to know anything about Dynamo. This is one of their key benefits. There is another mechanism that we already offer for customizing placement of your nodes in the library, the `customization.xml` file. It i

[2016-04-25 13:08] ikeough commented on #6509
Adding a reference to https://github.com/DynamoDS/DynamoRevit/issues/975.

[2016-04-25 13:38] Finearcltd opened #6517 "bug report, Excel.ReadFromFile node"
## Dynamo version 9.2.4472

## Operating system

Windows 7 Pro
## What did you do?

tried to use the Excel.ReadFromFile node as part of the Dynamo video tutorials. The node that appears
in the tutorial does not exist in Dyanmo any more. The new one seem to fail to do it's jog.

## What did you expect to see?
the node working as in the tutorial, reading the data from the Excel strings.

## What did

[2016-04-25 14:02] ksobon commented on #6509
I can live with a customization file, but let me just say this.

How often/probable is that users who write Zero Touch nodes will not combine them with UI based nodes? It just seems like having custom dropdowns, selection lists etc almost always goes hand in hand with Zero Touch. Right now the process and capabilities of customization for both are quite different. I am not saying it's bad, but rat

[2016-04-25 16:18] ikeough commented on #6509
@ksobon This definitely _should_ be a github discussion if only for posterity. Your desire to want to reconcile the customization of zt and NodeModel customizations is well-founded. It's my opinion that we just shouldn't expose developers to NodeModel at all, and instead allow them to use zero touch base classes for things like drop-downs and other types of widely-repeated UIs.

[2016-04-25 20:19] jnealb commented on #6505
@TomasTar @ThomasMahon We have validated the Excel nodes with Office 2010, certainly we may not be providing the appropriate message for unsupported versions of Excel. Is it possible for you to clean out all remnants of 2007, install 2010 fresh and try again?

[2016-04-25 22:42] kronz commented on #6515
@IFChaos can you upload as simple an example as you have?
Thanks
Zach

[2016-04-25 23:02] vasudha-dixit opened #6519 "Dynamo Crashed"
## Dynamo version
0.9.2
(Which version of Dynamo are you using? Go to Help > About if you're not sure.)

## Operating system
Windows 7
(e.g. Windows 7, Windows 8.1, etc)

## What did you do?
Tried to delete a node
(Fill in here)

## What did you expect to see?

(Fill in here)

## What did you see instead?
Crash
(Fill in here)

[2016-04-25 23:55] ikeough commented on #6519
Can you provide exact steps to reproduce?

[2016-04-26 06:35] dimven commented on #6513
This covers my suggestion from earlier:
https://github.com/DynamoDS/Dynamo/issues/4976
Could we also add identical text highlighting to the list?

[2016-04-26 06:35] #4976 closed

[2016-04-26 07:00] sharadkjaiswal commented on #6491
I think the conditional statements are defined as a function
`def conditional(condition : bool, iftrue : var, iffalse : var)`
So when one of the parameters is passed as collection, this function replicates and hence returns a collection in both the scenarios. @ke-yu any thought how we can handle it differently?

[2016-04-26 07:06] dimven commented on #6517
This is not really a bug per se. You need the "File.FromPath" node between the file string and the read node.

[2016-04-26 07:20] sharadkjaiswal commented on #4121
I think we have made considerable improvements in the stability and also add few new features to address some of the issues caused by Run Automatic, such  as automatic backup, open in manual mode etc. So at this point this may not be a real issue and I am going to close this issue.

If you all still feel that this needs to be addressed please feel free to re-open this with your comments and argume

[2016-04-26 07:20] #4121 closed

[2016-04-26 07:30] sharadkjaiswal commented on #4228
Hi @archinate the library UI is now back in the tree view form. If you have any more comment/feedback on the library UI, please feel free to write to us. For now I am closing this as resolved.

[2016-04-26 07:30] #4228 closed

[2016-04-26 08:46] ThomasMahon commented on #6517
Just to add to Dimitar's comments, Finearcltd you also need to be mindful of datatypes: readAsStrings input takes a bool not a string. Use the bool node.

[2016-04-26 09:09] sharadkjaiswal commented on #122
@michaelbergin, @dbaldacchino, I think we have addressed this issue by providing Code block node implementation, where users can quickly write design script code for any node. We also have default values on the nodes and in-canvas search allows you to create nodes at the specified location with default values. For now I am closing this issue, please feel free to provide your additional input and f

[2016-04-26 09:09] #122 closed

[2016-04-26 09:12] sharadkjaiswal commented on #143
We already have List.Filter node to accomplish the filter functionality, I think we can close this issue. Please feel free to leave your comments and feedback if any.

[2016-04-26 09:12] #143 closed

[2016-04-26 09:15] moethu opened #6525 "Document.ActiveView doesn't update"
## Dynamo version

0.9.2.4472
## Operating system

Windows 7
## What did you do?

Document.ActiveView keeps the active view from when it has been placed. Changing the active view and placing another Node will contain the new active view (see Image). Don't know if this has been fixed in future versions and if this behavior is expected?
![2016-04-26_10h11_05](https://cloud.githubusercontent.com/asse

[2016-04-26 09:23] sharadkjaiswal commented on #148
If the workspace element of the custom node file has an attribute `IsVisibleInDynamoLibrary="false"` then the custom node is not visible in library UI. So you can edit your DYF file in text editor to add this attribute to hide your custom node from library UI.
`<Workspace Category="Migration" Name="XyzGrid" IsVisibleInDynamoLibrary="false" ID="9215492a-4cb9-4ec1-a111-c18d7f6fd5b3">`

[2016-04-26 09:23] #148 closed

[2016-04-26 09:59] TomasTar commented on #6505
Hi Neal /Thomas
IT technician done what you wrote: He cleaned out all remnants of 2007, and repaired 2010, then I had tested, as still the same issue he uninstalled Microsoft office 2010 32 bit and installed Microsoft office 2010 64 bit, still makes no difference. Do you have any other suggestions?

[2016-04-26 13:08] kronz commented on #5711
Internally tracking as MAGN-10004

[2016-04-26 15:33] vasudha-dixit commented on #6519
Hi there,

I was trying to build a cube in Dynamo and deleted the Range node which was connected to list nodes for input when Dynamo crashed. Hope this helps.

Regards,
Vasudha

From: Ian Keough [mailto:notifications@github.com]
Sent: Monday, April 25, 2016 4:56 PM
To: DynamoDS/Dynamo <Dynamo@noreply.github.com>
Cc: Vasudha Dixit <vasudha.dixit@ideateinc.com>; Author <author@noreply.github.com>
Su

[2016-04-26 15:49] jnealb commented on #6519
@vasudha-dixit @ikeough We believe this is fixed with the 1.0 release, which is coming very soon. If you can use the daily builds in the meantime, please let us know if the error recurs.

[2016-04-26 15:52] vasudha-dixit commented on #6519
Sounds good. Thanks!

[2016-04-26 15:52] #6519 closed

[2016-04-26 16:01] ThomasMahon opened #6528 "Point.ByCoordinates (X,Y,Z) inconsistent behaviour using cross product lacing"
## Dynamo version

0.9.2
## Operating system

Win 10
## What did you do?

Used a range with cross-product lacing to create an rectangular array of points in XY using the Point.ByCoordinates (X,Y,Z) node. No input for Z, so the nodes default Z value of 0 is used. This correctly returns a 2D list.

However, when I input a Z value (singleton), it returns a 3D list?
## What did you expect to see?

I e

[2016-04-26 16:34] ThomasMahon opened #6529 "List.AllIndiciesOf inconsistent behaviour with number node and output from Vector.Dot list"
## Dynamo version

0.9.2
## Operating system

Win 10
## What did you do?

Output the dot product of two vectors (results are in a list). I want to identify all the co-linear and opposing test vector results (i.e. scalars of +1 or -1) and used the Number node and List.AllIndicesOf node to return all the indexes in the list that have a value (a dot) of 1.0 or -1.0.
## What did you expect to see?

I

[2016-04-26 21:58] LucianoSOliveira opened #6531 "Erro"
HRESULT: [0x8876086A], Module: [SharpDX.Direct3D9], ApiCode: [D3DERR_NOTAVAILABLE/NotAvailable], Message: Unknown

   em SharpDX.Result.CheckError()
   em SharpDX.Direct3D9.Direct3DEx.CreateDeviceEx(Int32 adapter, DeviceType deviceType, IntPtr hFocusWindow, Int32 behaviorFlags, PresentParameters[] presentationParametersRef, DisplayModeEx[] fullscreenDisplayModeRef, DeviceEx returnedDeviceInterface

[2016-04-27 04:27] aparajit-pratap commented on #2559
This is fixed. @eproca please let us know if you continue to see bugs. Closing this for now.

[2016-04-27 04:27] #2559 closed

[2016-04-27 04:37] #1037 closed

[2016-04-27 04:38] ikeough commented on #1037
Closing as out of date. If this is still an error in more recent builds, please re-open.

[2016-04-27 04:38] ikeough commented on #1048
Closing as out of date. If this is still an error in more recent builds, please re-open.

[2016-04-27 04:38] #1048 closed

[2016-04-27 04:39] ikeough commented on #1051
Closing as out of date. If this is still an error in more recent builds, please re-open.

[2016-04-27 04:39] #1051 closed

[2016-04-27 04:39] ikeough commented on #1061
Closing as out of date. If this is still an error in more recent builds, please re-open.

[2016-04-27 04:39] #1061 closed

[2016-04-27 04:40] ikeough commented on #944
Closing as out of date. If this is still an error in more recent builds, please re-open.

[2016-04-27 04:40] #944 closed

[2016-04-27 04:41] ikeough commented on #1119
Closing as out of date. If this is still an error in more recent builds, please re-open.

[2016-04-27 04:41] #1119 closed

[2016-04-27 04:44] ikeough commented on #1270
Please try `Rectangle.ByWidthLength` with a `CoordinateSystem` for the first input.

Closing as out of date. If this is still an error in more recent builds, please re-open.

[2016-04-27 04:44] #1270 closed

[2016-04-27 04:45] ikeough commented on #1398
Units have been obsoleted.

Closing as out of date. If this is still an error in more recent builds, please re-open.

[2016-04-27 04:45] #1398 closed

[2016-04-27 04:49] ikeough commented on #1152
Closing as out of date. If this is still an error in more recent builds, please re-open.

[2016-04-27 04:49] #1152 closed

[2016-04-27 04:49] ikeough commented on #1202
Closing as out of date. If this is still an error in more recent builds, please re-open.

[2016-04-27 04:49] #1202 closed

[2016-04-27 04:49] ikeough commented on #1438
Closing as out of date. If this is still an error in more recent builds, please re-open.

[2016-04-27 04:49] #1438 closed

[2016-04-27 04:52] ikeough commented on #1453
Closing as out of date. If this is still an error in more recent builds, please re-open.

[2016-04-27 04:52] #1453 closed

[2016-04-27 04:53] aparajit-pratap commented on #6133
http://adsk-oss.myjetbrains.com/youtrack/issue/MAGN-10014

[2016-04-27 04:53] ikeough commented on #1529
@TimWaldock The internal issue was closed as unable to reproduce. I apologize for the delayed response.

Closing as out of date. If this is still an error in more recent builds, please re-open.

[2016-04-27 04:53] #1529 closed

[2016-04-27 04:54] ikeough commented on #1586
@jbenoit44 Groups now exists. Do these do what you were thinking? Please re-open if you're imagining something more.

[2016-04-27 04:54] #1586 closed

[2016-04-27 04:55] ikeough commented on #1592
Select Faces node now exists. Closing for now. Please re-open if you're still waiting for more :)

[2016-04-27 04:55] #1592 closed

[2016-04-27 04:57] ikeough commented on #1765
Default values are now available in `Input` nodes in custom nodes. Closing.

[2016-04-27 04:57] #1765 closed

[2016-04-27 04:58] aparajit-pratap commented on #2333
@kronz can we close this one?

[2016-04-27 04:58] ikeough commented on #1767
Closing as out of date. If this is still an error in more recent builds, please re-open.

[2016-04-27 04:58] #1767 closed

[2016-04-27 04:59] ikeough commented on #1840
Units have been obsoleted.

Closing as out of date. If this is still an error in more recent builds, please re-open.

[2016-04-27 04:59] #1840 closed

[2016-04-27 04:59] aparajit-pratap commented on #2210
This maybe related to: https://github.com/DynamoDS/Dynamo/issues/5475

[2016-04-27 05:00] ikeough commented on #1918
It's gone for good.

[2016-04-27 05:00] #1918 closed

[2016-04-27 05:02] ikeough commented on #1769
Closing as out of date. If this is still an error in more recent builds, please re-open.

[2016-04-27 05:02] #1769 closed

[2016-04-27 05:03] ikeough commented on #1810
Closing as out of date. If this is still an error in more recent builds, please re-open.

[2016-04-27 05:03] #1810 closed

[2016-04-27 05:04] ikeough commented on #1881
Closing as out of date. If this is still an error in more recent builds, please re-open.

[2016-04-27 05:04] #1881 closed

[2016-04-27 05:04] ikeough commented on #1805
Closing as a duplicate.

[2016-04-27 05:04] #1805 closed

[2016-04-27 05:05] aparajit-pratap commented on #6508
... and #5475

[2016-04-27 05:07] ikeough commented on #1983
Closing as out of date. If this is still an error in more recent builds, please re-open.

[2016-04-27 05:07] #1983 closed

[2016-04-27 05:09] ikeough commented on #1968
Closing as out of date. If this is still an error in more recent builds, please re-open.

[2016-04-27 05:09] #1968 closed

[2016-04-27 05:11] ikeough commented on #1602
Closing as out of date. If this is still an error in more recent builds, please re-open.

[2016-04-27 05:11] #1602 closed

[2016-04-27 05:12] sharadkjaiswal commented on #1001
This issue has been addressed, hence I am closing it. You can set additional path through settings menu.

[2016-04-27 05:12] #1001 closed

[2016-04-27 05:13] ikeough commented on #2083
Closing as out of date. If this is still an error in more recent builds, please re-open.

[2016-04-27 05:13] #2083 closed

[2016-04-27 05:14] sharadkjaiswal commented on #1036
You can publish a package locally to create package structure which you can share.

[2016-04-27 05:14] #1036 closed

[2016-04-27 05:14] ikeough commented on #2115
Closing as out of date. If this is still an error in more recent builds, please re-open.

[2016-04-27 05:14] #2115 closed

[2016-04-27 05:18] ikeough commented on #2255
Defaults are now supported as Design Script expressions. See https://github.com/DynamoDS/DynamoSamples/blob/master/src/SampleLibraryZeroTouch/Examples/BasicExample.cs#L122 for an example.

[2016-04-27 05:18] #2255 closed

[2016-04-27 05:19] ikeough commented on #2105
Closing as out of date. If the problem persists in recent versions of Dynamo, please re-open.

[2016-04-27 05:19] #2105 closed

[2016-04-27 05:19] ikeough commented on #2096
Closing as out of date. If the problem persists in recent versions of Dynamo, please re-open.

[2016-04-27 05:19] #2096 closed

[2016-04-27 05:21] sharadkjaiswal commented on #267
Latest Dynamo already provides a way to annotate default values for the custom node.

[2016-04-27 05:21] #267 closed

[2016-04-27 05:21] ikeough commented on #2495
Closing as out of date. If the problem persists in recent versions of Dynamo, please re-open.

[2016-04-27 05:21] #2495 closed

[2016-04-27 05:22] ikeough commented on #2325
Closing as out of date. If the problem persists in recent versions of Dynamo, please re-open.

[2016-04-27 05:22] #2325 closed

[2016-04-27 05:23] sharadkjaiswal commented on #209
We have in-canvas search option available on right click. Double-click is reserved for creation of code-block.

[2016-04-27 05:23] #209 closed

[2016-04-27 07:09] ondejcik opened #6535 "Wish swappable mouse button functions"
I would only guess that I am not the only one who on daily basis works both in Grasshopper and Dynamo.  I would be happy to have override mouse button functions in Dynamo preferences; more precisely "search" on double-clicking left mouse button instead code block as this create large distrubance in mine workflow. I would ask same question on the grasshopper side, but I haven’t seen new release for

[2016-04-27 08:51] dimven commented on #6529
It's probably got something to do that in one case your search item is an integer and in the other a double:
![2016-04-27_16-50-22](https://cloud.githubusercontent.com/assets/7148394/14846788/229c72c4-0c98-11e6-8c76-0926df34a701.png)

[2016-04-27 09:02] Hundread opened #6536 "Core If function error"
## Dynamo version 0.9.2.4472

## Operating system Windows 7

## What did you do?
used the core If function to put a list of items into false, a blank list into true and a List.IsEmpty into test.

## What did you expect to see?

When the condition (is list empty) returns false, the result from If should be the input from false.

## What did you see instead?

empty list

Image attached shows the iss

[2016-04-27 10:15] ThomasMahon commented on #6529
I thought the same thing initially (in the real example which was evaluating a list of dot products). I thought maybe the dot outputs inconsistently, i.e. int's and double's. However, when I used the code block with 1DP (i.e doubles) the AllIndicesOf node worked as expected which is what makes this issue so difficult to pin down.

Your image throws up even more questions, for example, why is the n

[2016-04-27 13:19] IFChaos commented on #6515
Yes, here is an example.

![horror case](https://cloud.githubusercontent.com/assets/12625508/14853354/78c72994-0c8b-11e6-81b3-b2983fd9527d.jpg)

[2016-04-27 13:28] ThomasMahon commented on #6536
Use the scopeIf node and it should work. If you want to return a singleton with one condition and a list with the other, the scopeIF is the only way. The If node on the other hand always replicates and returns a list regardless (try using null as the true input and you'll see it happen).

[2016-04-28 11:15] Finearcltd commented on #6517
Thank you guys! that helped. do you happen to know which node replaces the ExcelToPoint one?

[2016-04-28 11:16] #6517 closed

[2016-04-28 11:19] Finearcltd opened #6539 "Which node replaces the ExcelToPoint old one?"
## Dynamo version

9.2.4472
## Operating system

Windows 7 Pro

## What did you do?

trying to read strings to points from Excel file

## What did you expect to see?

separate X,Y,X values

## What did you see instead?

couldn't find the substiute node for ExcelToPoint

[2016-04-28 12:29] josols commented on #6510
As per Twitter, I would like to see something the like of the ProruBIM package, though it only accepts the standard inputs available in Dynamo. Something the like of below image:
![image](https://cloud.githubusercontent.com/assets/7080648/14885756/8839ef84-0d4d-11e6-8144-8ae7769d0b24.png)

[2016-04-28 12:32] Finearcltd opened #6540 "getting items from list of lists to x,y,z point coordinates"
Trying to withdraw X,Y,Z values from list of lists by index. Which node should I use? I am basically trying to read an Excel file containing point X,Y,Z values and managed to get as far as having a list of each point separately but I don't know how to extract these values to points.

[2016-04-28 13:36] #6539 closed

[2016-04-28 13:37] #6540 closed

[2016-04-28 14:03] Finearcltd opened #6541 "Flattening a color list"
How do I flatten a color list, extracted from an image, into a list that keeps the order that matches the adaptive components' list. When I flatten the list the x,y coordinates of the pixels do not match the image I loaded for some reason.

[2016-04-28 15:09] vykrum opened #6542 "Element.Geometry failure"
## Dynamo version

1.0.1.1164

## Operating system

Windows10

## What did you do?

Attempted to extract the geometry of a floor slab with an ***elliptical* opening**

## What did you expect to see?

Geometry

## What did you see instead?

![20160428-1](https://cloud.githubusercontent.com/assets/5621624/14890608/03bdd124-0d81-11e6-838e-a2ee8a99082e.jpg)

[2016-04-28 15:13] ThomasMahon opened #6543 "Improvement (and possible bug): Number node and Integer node"
## Dynamo version

0.9.2
## Operating system

Win 10
## What did you do?

Number node object type registering as an int not a double. This causes equality errors when evaluating, for example, a list of doubles against the number node.

See #6529 for further details and an example
## What did you expect to see?

I expect a double from the number node. It's object classification is int32
## What did

[2016-04-28 15:25] ThomasMahon commented on #6510
This would definitely be a step in the right direction. In a professional team-based environment (i.e. architectural practices) where there are multiple authors working on large definitions, enforcing naming conventions is the only sensible way to manage the process and collaborate - I'm a big advocate as a result, and therefore see unique names - which encourage good naming standards - as a great

[2016-04-28 15:40] #6541 closed

[2016-04-29 00:46] ke-yu commented on #6510
@ThomasMahon , I think the callable node here is code block node, right? We've considered the possibility of compiling a code block node to an function, probably anonymous so that if a code block node hasn't get all inputs, it could be used as partially applied function and be connected to high order function like `List.Map`. If giving it a name, then it is callable.

But the major issue is usabil

[2016-04-29 00:50] ke-yu commented on #6529
@ThomasMahon I think it is a bug. Interestingly, "1" from `Number Slider` node is a double.

@monikaprabhu @riteshchandawar @jnealb  FYI

[2016-04-29 00:53] ke-yu commented on #6536
If node is confusing. We should change it to the other name. @Racel ?

[2016-04-29 01:19] mjkkirschner commented on #6125
http://stackoverflow.com/questions/1271939/tune-script-environment-of-ironpython-to-use-itertools/1273516#1273516

[2016-04-29 01:20] mjkkirschner commented on #6125
reopening - as I did not notice the last question was about the python autocomplete.

[2016-04-29 01:53] mjkkirschner commented on #5599
issue was solved with this PR I believe:
https://github.com/DynamoDS/Dynamo/pull/5877

[2016-04-29 01:53] #5599 closed

[2016-04-29 02:01] mjkkirschner commented on #2370
This issue was resolved by the referenced PR in the linked issue.

[2016-04-29 02:01] #2370 closed

[2016-04-29 02:02] mjkkirschner commented on #6542
@vykrum can you upload a sample rvt?

[2016-04-29 02:10] kronz commented on #6542
@vykrum @mjkkirschner Easy to repro.  Fails with Ellipse, succeeds with Rectangle
![2016-04-28_2208](https://cloud.githubusercontent.com/assets/3456818/14906800/c968d390-0d8d-11e6-878e-dfd9b00bc016.png)
![2016-04-28_2209](https://cloud.githubusercontent.com/assets/3456818/14906822/009a82e6-0d8e-11e6-9270-83939edc263b.png)

[2016-04-29 07:56] Hundread commented on #6536
Sadly no change using Scopeif. I've managed to resolve the issue but only by uninstalling all versions of Dynamo and Iron Python, cleaning out the route directory and reinstalling.

[2016-04-29 07:57] #6536 closed

[2016-04-29 12:26] ThomasMahon opened #6546 "Improvement: Add *switch* statement to DesignScript"
## Dynamo version

0.9.2

## Operating system

Win 10

## Improvement Suggestion
DesignScript would be significantly improved if it had a switch statement (more concise than cascading if statements). Would love to see it implemented. Less important which I would also like to see is a 'do' statement.

[2016-04-29 12:30] ThomasMahon opened #6547 "Improvement: Scalable controller handles and symbol for vectors"
## Dynamo version

0.9.2
## Operating system

Win 10
## Improvement Suggestion

Would be great to have control of the symbol size of the handles that points and other manipulatable geometry have in the geometry window. When working in Revit, the differences in unit size make these symbols, including symbols for planes and coordinates systems effectively invisible as they are so small.

Would also

[2016-04-29 13:44] Finearcltd opened #6549 "Bug report - Revit regen"
## Dynamo version

9.2.4472
## Operating system

Windows 7 pro
## What did you do?

delete nodes containing image sampling
## What did you expect to see?

retrun of previous condition in Revit
## What did you see instead?

No change at all! only the Dynamo screen updated. To get the Revit screen to update I need to relaod the new node status in Dynamo and hit Run anew.

[2016-04-29 15:41] paoloemilioserra opened #6551 "Crash and no result from Revit.Element.Geometry"
## Dynamo version

1.0.0
## Operating system

W7
## What did you do?

I selected a bunch of structural columns from a Revit model in German an extracted the geometry
## What did you expect to see?

the solids of the family instances in the background preview
## What did you see instead?

Dynamo crashed and no geometry in the background, here is he detail of the crash:

The input argument "material

[2016-04-29 15:43] mjkkirschner commented on #6551
@paoloemilioserra hmm, as a workaround you should be able to turn off the background preview for revit.

can you please tell us what version of Revit you are on?

@Randy-Ma

[2016-04-29 15:45] paoloemilioserra commented on #6551
Revit 2016, it works fine on an english template

[2016-04-29 18:02] dannysbentley opened #6552 "#Can't open file"
## Dynamo version
1.0.0

## Operating system
7.6 Windows

## What did you do?
Opened a file I've been working on in version 0.9.2

## What did you expect to see?
file open in version 1.0.0

## What did you see instead?
Error message:

Unknown error opening file:
W:\S\BIM\z-Dynamo\FRAMINGBYPOINTS_INTERMEDIATE.dyn

[2016-04-29 18:11] paoloemilioserra opened #6553 "Geometry error"
## Dynamo version

1.0.0
## Operating system

W7
## What did you do?

Create a solid by loft of set of cross sections
## What did you expect to see?

A well formed solid
## What did you see instead?

![image](https://cloud.githubusercontent.com/assets/14221455/14925151/4022e7ba-0e46-11e6-8fb5-501e6450761d.png)

[2016-04-29 18:42] QilongTang commented on #6552
@dannysbentley Could you send us the file for us to investigate somehow? My email address is aaron.tang@autodesk.com

[2016-04-29 23:14] dannysbentley commented on #6552
Hi Qilong,

Here is my files.  It seems some of my packages have been removed after installing 1.0.0.  I installed them again, however, clockwork isn’t working in 9.2 after re-installing.

Thank you for your help.

From: Qilong [mailto:notifications@github.com]
Sent: Friday, April 29, 2016 11:42 AM
To: DynamoDS/Dynamo
Cc: Danny Bentley; Mention
Subject: Re: [DynamoDS/Dynamo] #Can't open file (#655

[2016-04-30 03:35] #4155 closed

[2016-04-30 03:36] dimven commented on #6547
This is sort of a dupe of the below issue, so I'll close my version:
https://github.com/DynamoDS/Dynamo/issues/4155

[2016-04-30 19:05] jluebker opened #6555 "Dynamo 1.0.0 will not install dynamo core"
Dynamo 1.0.0
windows 8.1

Tried installing the latest stable build (1.0.0) and received the error that "Dynamo Core will not be installed as there is already a newer version installed."

![capture](https://cloud.githubusercontent.com/assets/4041748/14937980/442eff80-0ecb-11e6-9ecd-8789c224d078.PNG)

I've tried removing all previous version of dynamo (0.9.2, and a daily build of 1.0.1), removing al

[2016-04-30 21:59] mjkkirschner commented on #6555
@Racel @kronz similar to what you guys experienced? What was the fix again?

[2016-04-30 22:12] jluebker commented on #6555
Currently none. I've moved on to manually purging any mention of dynamo from the registry. But still getting the error....

[2016-04-30 22:14] mjkkirschner commented on #6555
@kronz and @Racel may know more, but I *think* https://support.microsoft.com/en-us/mats/program_install_and_uninstall this helped them.

use with caution.

[2016-04-30 23:20] jluebker commented on #6555
did it work for you? dynamo was not in the list of programs did you find the program key there "not in list" option?

[2016-05-01 05:42] archinate opened #6556 "File Path node Causes Dynamo 1.0 to Crash in Revit 2015/16"
## Dynamo version

Dynamo -- Build 1.0.0.1180 on Revit 2016 and 2015

## Operating system

Windows 10

## What did you do?

Placed File Path node on canvas > clicked browse > selected file

## What did you expect to see?

File to be selected in Dynamo node as usual.

## What did you see instead?

Dynamo crashes.

Object reference not set to an instance of an object.

   at DSCore.File.FilenameNode

[2016-05-01 05:55] archinate commented on #6556
The issue with the File Path node is happening in both 2015 and 2016.  2017 seems to work without issue.  DynamoSandbox.exe also works.

[2016-05-01 08:31] Finearcltd opened #6558 "selecting topography surface and subregion"
Anybody knows how can I select a Revit topography surface and subregion and turn it into Revit floor through Dynamo?

[2016-05-01 09:15] Finearcltd opened #6559 "Dynamo Mesh into surface"
Anybody knows how to turn Dynamo Mesh into Surface?

[2016-05-01 11:24] ThomasMahon commented on #6510
Yes absolutely, your suggestion sounds interesting. However, I was also thinking beyond this - along the lines of having every node uniquely named to enable the implementation of find/replace functionality which would be very useful, particularly on large graphs. Also, from a DesignScript standpoint, if the node is uniquely named I can call it explicitly within the body of the code rather than wri

[2016-05-01 11:49] ParametricMonkey commented on #6552
I'm having the same problem. Running 1.0.0 on windows 10 on bootcamp. Opens fine in v0.9.2

![dynamo error](https://cloud.githubusercontent.com/assets/10913639/14941644/5ebef0be-0fe6-11e6-802b-16836fc6f7b7.JPG)

[Example 2_Part 2 simple.zip](https://github.com/DynamoDS/Dynamo/files/244088/Example.2_Part.2.simple.zip)

[2016-05-01 12:01] ParametricMonkey commented on #6156
has this been fixed in version 1.0.0?

[2016-05-01 12:32] ThomasMahon opened #6560 "Improvement: Inconsistent input names for List methods"
## Dynamo version

1.0.1
## Operating system

Win 10
## Improvement Suggestion

There is a minor improvement I would like to suggest for the naming of the inputs for some of the List methods. You will see in the image that the `List.Create`node and `List.Join` node expects 'List0', 'List1', etc. As list indexing always starts from 0, this nomenclature goes without saying. However, for the other no

[2016-05-01 12:42] ThomasMahon opened #6561 "Improvement: Separable Dynamo Graph view and Geometry view"
## Dynamo version

1.0.1
## Operating system

Win 10
## Improvement Suggestion

It would be very useful to be able to open two Dynamo views, 1. showing the graph, 2. showing the geometry view. Seeing both simultaneously would speed up workflow and be more intuitive, particularly to designers!

Also, is it possible to enable the geometry view to 'grey out' like what happens to the graph view when s

[2016-05-01 14:09] kronz commented on #6556
@jnealb looks like the thing we were having a hard time reproducing.
@archinate anything special about the situation or is it generic for anything using filepath in 2015 and 2016 Revit?

[2016-05-01 14:16] archinate commented on #6556
Hey @kronz and @jnealb
Nothing special about the setup. I even tested it with a new file with only the File Path component in both Revit 2015 and 2016. It also appears that the Directory tool has the same issue.

-Nate

[2016-05-01 15:22] sharadkjaiswal commented on #6555
Dynamo For Revit 1.0 onwards installs two components, DynamoCore and DynamoRevit. Since you were using the daily build 1.0.1 which is higher than DynamoCore 1.0.0, it didn't install DynamoCore. However if you want to uninstall the existing DynamoCore, then you can uninstall it from Add and Remove Program of Control Panel.

[2016-05-01 15:24] jluebker commented on #6555
I did uninstall the daily build. Infact I scrubbed it from my registry and removed all traces of "dynamo" from both the registry and the file system. The problem still persists...

[2016-05-01 15:29] ikeough commented on #6559
@Finearcltd You can try posting this question on the Dynamo [forums](http://dynamobim.org/forums/forum/dyn/). Please post as accurate a description of what you are trying to do and your desired outcome. I'm closing this issue here as it does not relate directly to Dynamo development.

[2016-05-01 15:29] #6559 closed

[2016-05-01 15:29] ikeough commented on #6558
@Finearcltd See the response I posted to #6559.

[2016-05-01 15:29] #6558 closed

[2016-05-01 15:30] jluebker commented on #6555
I went ahead and installed the latest daily build for the time being.

[2016-05-01 15:31] ikeough commented on #6553
@paoloemilioserra How are the cross sections formed that you are lofting together?

[2016-05-01 15:35] ikeough commented on #6549
@Finearcltd Can you provide more information such as a file to reproduce the issue or a screen shot?

[2016-05-01 15:36] ikeough commented on #6535
+1

[2016-05-01 15:49] ikeough commented on #4934
@aparajit-pratap Any idea what the plans are here for being able to create a CS from a matrix?

[2016-05-01 15:50] ikeough commented on #5072
@andydandy74 This is because the input node now accepts design script expressions. I would assume we disallow these characters for that reason. @ke-yu Can you comment here, and close if this is by design?

[2016-05-01 15:58] ikeough commented on #6172
@frod083 Can you post some screen shots here?

[2016-05-01 16:02] ikeough commented on #6128
Closing issue as out of date. @tetsuyahishida, please re-open if this is still an issue.

[2016-05-01 16:02] #6128 closed

[2016-05-01 16:07] ikeough commented on #2045
@vykrum I'm closing this issue as out of date. I apologize for the delay in responding. If you're still experiencing this issue in a newer build, please re-open.

[2016-05-01 16:07] #2045 closed

[2016-05-01 16:08] ikeough commented on #2048
I'm closing this issue as out of date. I apologize for the delay in responding. If you're still experiencing this issue in a newer build, please re-open.

[2016-05-01 16:08] #2048 closed

[2016-05-01 16:08] ikeough commented on #2060
@vykrum I'm closing this issue as out of date. I apologize for the delay in responding. If you're still experiencing this issue in a newer build, please re-open.

[2016-05-01 16:08] #2060 closed

[2016-05-01 16:10] ikeough commented on #1701
@riteshchandawar The internal issue is still open. What is the status?

[2016-05-01 16:11] ikeough commented on #2084
@Benglin Can we close?

[2016-05-01 16:13] ikeough commented on #2296
@Benglin @riteshchandawar Can we close this?

[2016-05-01 16:14] ikeough commented on #2302
The internal issue is marked as closed.

[2016-05-01 16:14] #2302 closed

[2016-05-01 16:14] ikeough commented on #2307
@riteshchandawar Can this be closed?

[2016-05-01 16:16] ikeough commented on #2211
@Racel I know this is being covered in the updates to preview bubbles. Can we link an internal task here?

[2016-05-01 16:17] ikeough commented on #2162
Internal task is marked as closed. @vykrum, please re-open if this is still an issue.

[2016-05-01 16:17] #2162 closed

[2016-05-01 16:18] ikeough commented on #2130
I'm closing this issue as out of date. I apologize for the delay in responding. If you're still experiencing this issue in a newer build, please re-open.

[2016-05-01 16:18] #2130 closed

[2016-05-01 16:20] ikeough commented on #2313
This is, in fact, a duplicate. Closing.

[2016-05-01 16:20] #2313 closed

[2016-05-01 16:20] ikeough commented on #2970
Duplicated by #2313

[2016-05-01 16:21] ikeough commented on #2335
I'm closing this issue as out of date. I apologize for the delay in responding. If you're still experiencing this issue in a newer build, please re-open.

[2016-05-01 16:21] #2335 closed

[2016-05-01 16:22] ikeough commented on #2339
I'm closing this issue as out of date. I apologize for the delay in responding. If you're still experiencing this issue in a newer build, please re-open.

[2016-05-01 16:22] #2339 closed

[2016-05-01 16:22] ikeough commented on #2346
I'm closing this issue as out of date. I apologize for the delay in responding. If you're still experiencing this issue in a newer build, please re-open.

[2016-05-01 16:22] #2346 closed

[2016-05-01 16:23] ikeough commented on #2362
I'm closing this issue as out of date. I apologize for the delay in responding. If you're still experiencing this issue in a newer build, please re-open.

[2016-05-01 16:23] #2362 closed

[2016-05-01 16:24] ikeough commented on #2396
@monikaprabhu @aparajit-pratap Was this ever logged? Is it still a bug?

[2016-05-01 16:25] ikeough commented on #2136
I'm closing this issue as out of date. I apologize for the delay in responding. If you're still experiencing this issue in a newer build, please re-open.

[2016-05-01 16:25] #2136 closed

[2016-05-01 16:27] ikeough commented on #2580
@epeter- A screen shot perhaps?

[2016-05-01 16:28] ikeough commented on #2670
The internal issue has been closed.

I'm closing this issue as out of date. I apologize for the delay in responding. If you're still experiencing this issue in a newer build, please re-open.

[2016-05-01 16:28] #2670 closed

[2016-05-01 16:29] ikeough commented on #2633
I'm closing this issue as out of date. I apologize for the delay in responding. If you're still experiencing this issue in a newer build, please re-open.

[2016-05-01 16:29] #2633 closed

[2016-05-01 16:29] ikeough commented on #2448
I'm closing this issue as out of date. I apologize for the delay in responding. If you're still experiencing this issue in a newer build, please re-open.

[2016-05-01 16:29] #2448 closed

[2016-05-01 16:31] ikeough commented on #2776
I'm closing this issue as out of date. I apologize for the delay in responding. If you're still experiencing this issue in a newer build, please re-open.

[2016-05-01 16:31] #2776 closed

[2016-05-01 16:32] ikeough commented on #2671
@mostaphaRoudsari I'm closing, because @ksobon's solution is what we'd expect developers to do. Please let me know if you were looking for something more.

[2016-05-01 16:32] #2671 closed

[2016-05-01 16:34] #2831 closed

[2016-05-01 16:36] ikeough commented on #2926
@MariaVallentin I'm closing this issue as out of date. I apologize for the delay in responding. If you're still experiencing this issue in a newer build, please re-open.

You can also try posting a question on the dynamo [forum](http://dynamobim.org/forums/forum/dyn/)

[2016-05-01 16:36] #2926 closed

[2016-05-01 16:37] ikeough commented on #2893
The internal issue is closed.

[2016-05-01 16:37] #2893 closed

[2016-05-01 16:38] ikeough commented on #2937
@riteshchandawar I believe someone is tackling something like this in the recharge.

[2016-05-01 16:39] ikeough commented on #2768
@mjkkirschner Is this still an open issue?

[2016-05-01 19:40] ikeough commented on #1945
@archinate Closing this, because I'm pretty sure you've figured this out by now ;)

[2016-05-01 19:40] #1945 closed

[2016-05-01 19:42] ikeough commented on #2546
@epeter- I believe this issue has been resolved by now. Please re-open if the issue persists with a newer build of Dynamo.

[2016-05-01 19:42] #2546 closed

[2016-05-01 19:44] ikeough commented on #2677
@mjkkirschner Still an issue?

[2016-05-01 19:45] ikeough commented on #2649
The internal issue is resolved.

[2016-05-01 19:45] #2649 closed

[2016-05-01 19:45] ikeough commented on #2678
@mjkkirschner Still an issue?

[2016-05-01 19:47] ikeough commented on #2957
Closing this issue as I believe it has been resolved in newer versions. Please reopen if it's still an issue.

[2016-05-01 19:47] #2957 closed

[2016-05-01 19:49] #2994 closed

[2016-05-01 19:53] ikeough commented on #3100
@mjkkirschner still an issue?

[2016-05-01 19:54] #3104 closed

[2016-05-01 19:54] ikeough commented on #3070
Units have been deprecated. All units are now interpreted as being in the unit system set in Revit.

[2016-05-01 19:54] #3070 closed

[2016-05-01 19:56] #3195 closed

[2016-05-01 19:59] ikeough commented on #3212
@epeter- Please re-open if this is still an issue on newer builds.

[2016-05-01 19:59] #3212 closed

[2016-05-01 20:00] ikeough commented on #3218
The internal issue is closed. Please re-open if this issue persists.

[2016-05-01 20:00] #3218 closed

[2016-05-01 20:00] #3188 closed

[2016-05-01 20:01] ikeough commented on #3188
Colors on geometry is now available through `Display.ByGeometryColor`. Please request a new improvement if this does not suffice.

[2016-05-01 20:02] ikeough commented on #3207
@tothom I'm closing this because the internal task has been resolved and we never checked back here. Please reopen if this is still and issue.

[2016-05-01 20:02] #3207 closed

[2016-05-01 20:03] ikeough commented on #3226
@mjkkirschner Still an issue?

[2016-05-01 20:04] mjkkirschner commented on #3226
think this was a garbage collection bug that was fixed.

[2016-05-01 20:04] #3226 closed

[2016-05-01 20:04] andydandy74 commented on #6558
https://landarchbim.com/2015/10/21/make-hardscape-follow-topo/

[2016-05-01 20:05] #3106 closed

[2016-05-01 20:07] ikeough commented on #3227
@epeter- Can you tell us if this is still an issue with newer builds?

[2016-05-01 20:08] ikeough commented on #4155
@kronz Bumping to critical because you mentioned "next release" ;)

[2016-05-01 20:11] #3228 closed

[2016-05-01 20:12] #3269 closed

[2016-05-01 20:15] ikeough commented on #3256
Internal task is closed.

[2016-05-01 20:15] #3256 closed

[2016-05-01 21:13] josols opened #6562 "Unit Types node not working"
## Dynamo version

1.0.0 stable, Revit 2016
## Operating system

Win 7 Entreprise
## What did you do?

Placed a Unit Types node and hit run
## What did you expect to see?

A node being not red and return a Unit Type.
## What did you see instead?

The Unit Types node does not work. It reports:

 _"Warning: Whilst preparing to run, this node encountered a problem. Please talk to the creators of the

[2016-05-01 23:39] mostaphaRoudsari commented on #2612
This is fixed in version 1 based on release notes.

[2016-05-01 23:39] #2612 closed

[2016-05-02 00:18] ikeough commented on #3388
I'm closing this as we cannot fix this until the Revit team exposes this in the API.

[2016-05-02 00:18] #3388 closed

[2016-05-02 00:21] ikeough commented on #6561
@kronz @Racel To consider given our conversations about multiple workspaces.

[2016-05-02 00:22] ikeough commented on #6442
@kronz FYI. I'm automatically tagging all issues which crash Dynamo as blockers.

[2016-05-02 00:31] ikeough commented on #6097
@Racel Was this ever fixed?

[2016-05-02 01:00] ksobon opened #6564 "Pass null as default argument for Zero Touch nodes"
I am not sure this is possible but I would like to be able to pass a null value as a default argument for Zero Touch node input. The reason I want to do that, is because I want to give users ability not to specify certain inputs and still receive output from the node that is not a _SingleFunction node. Ideas?

Tried this, doesn't work:

[code]

cc: @ikeough @mjkkirschner

[2016-05-02 01:17] ksobon commented on #6564
ahh this did the trick:

[code]
I just set up a small utility method like that:

[code]
Also, making sure that int input types are actually declared with "int?" to make sure that they are nullable. Now I can do this:

![image](https://cloud.githubusercontent.com/assets/529781/14945571/0d429cb2-0fe2-11e6-8b7f-3fcc4c52746e.png)

Idk, maybe its a little hacky and there is a better way. Just let me kn

[2016-05-02 01:18] kronz commented on #6097
Still happens in 1.0

[2016-05-02 01:28] kronz commented on #6556
@jnealb can you try this out in Win 10?  I can't reproduce in Revit 2016 with Win 8.

[2016-05-02 01:50] archinate opened #6565 "Unable to Publish Version of Package with Dynamo 1.0, Revit 2015/16"
## Dynamo version

Dynamo -- Build 1.0.0.1180 with Revit 2015 and Revit 2016

## Operating system

Windows 10

## What did you do?

Updated my packages and attempted to "Publish Version..." through Revit 2015 and 2016.  I verified that I am using the correct A360 account etc.

![image](https://cloud.githubusercontent.com/assets/1890663/14945820/36cf2acc-0fde-11e6-97b2-577d99d6db80.png)

## What di

[2016-05-02 03:31] ksobon commented on #6565
@archinate are you trying to publish from a Dynamo Sandbox? I have noticed that this feature is disabled in Sandbox and even if your package is not dependant on Revit you can only publish a package by launching Dynamo from Revit.

[2016-05-02 03:44] ikeough commented on #6565
@kronz FYI

[2016-05-02 03:46] ikeough commented on #5606
@mjkkirschner Closing because the internal defect is marked as closed.

[2016-05-02 03:46] #5606 closed

[2016-05-02 03:48] ikeough commented on #5352
Internal issue has been closed.

[2016-05-02 03:48] #5352 closed

[2016-05-02 03:48] ikeough commented on #4699
Internal issue has been closed.

[2016-05-02 03:48] #4699 closed

[2016-05-02 03:49] ikeough commented on #5501
Internal issue has been closed.

[2016-05-02 03:49] #5501 closed

[2016-05-02 03:50] ikeough commented on #5280
Internal issue has been closed.

[2016-05-02 03:50] #5280 closed

[2016-05-02 03:51] ikeough commented on #5768
Internal issue has been closed.

[2016-05-02 03:51] #5768 closed

[2016-05-02 03:54] ikeough commented on #4500
Internal issue has been closed.

[2016-05-02 03:54] #4500 closed

[2016-05-02 03:56] ikeough commented on #4134
Internal issue has been closed.

[2016-05-02 03:56] #4134 closed

[2016-05-02 04:00] ikeough commented on #4645
@sharadkjaiswal This issue was closed internal as a user story, but no resolution was marked here. I believe it is linked to multiple home workspaces which is not completed. Update?

[2016-05-02 04:01] ikeough commented on #3961
Internal issue has been closed.

[2016-05-02 04:01] #3961 closed

[2016-05-02 04:01] #4474 closed

[2016-05-02 04:02] ikeough commented on #5994
Internal issue has been closed.

[2016-05-02 04:02] #5994 closed

[2016-05-02 04:04] ikeough commented on #1173
Internal issue has been closed.

[2016-05-02 04:04] #1173 closed

[2016-05-02 04:05] ikeough commented on #5756
Internal issue has been closed.

[2016-05-02 04:05] #5756 closed

[2016-05-02 04:06] ikeough commented on #6008
Internal issue has been closed.

[2016-05-02 04:06] #6008 closed

[2016-05-02 04:07] ikeough commented on #4536
Internal issue has been closed.

[2016-05-02 04:07] #4536 closed

[2016-05-02 04:07] ikeough commented on #3513
Internal issue has been closed.

[2016-05-02 04:07] #3513 closed

[2016-05-02 04:09] ikeough commented on #4109
Internal issue has been closed.

[2016-05-02 04:09] #4109 closed

[2016-05-02 04:11] ikeough commented on #5988
Internal issue has been closed.

[2016-05-02 04:11] #5988 closed

[2016-05-02 04:12] ikeough commented on #5395
Internal issue has been closed.

[2016-05-02 04:12] #5395 closed

[2016-05-02 04:13] ikeough commented on #3559
Internal issue has been closed.

[2016-05-02 04:13] #3559 closed

[2016-05-02 04:14] ikeough commented on #3570
@zora-wang Any update here?

[2016-05-02 04:17] ikeough commented on #1931
Internal issue has been closed.

[2016-05-02 04:17] #1931 closed

[2016-05-02 04:19] ikeough commented on #3423
@kronz Unclear from the internal issue what the status is here. Please advise.

[2016-05-02 04:19] ikeough commented on #4657
Internal issue has been closed.

[2016-05-02 04:19] #4657 closed

[2016-05-02 04:23] ikeough commented on #1808
@sharadkjaiswal @mjkkirschner Still an issue?

[2016-05-02 04:25] ikeough commented on #5429
Internal issue has been closed.

[2016-05-02 04:25] #5429 closed

[2016-05-02 04:28] ikeough commented on #4244
Internal issue has been closed.

[2016-05-02 04:28] #4244 closed

[2016-05-02 04:30] ikeough commented on #4946
Internal issue has been closed.

[2016-05-02 04:30] #4946 closed

[2016-05-02 04:33] #3455 closed

[2016-05-02 04:34] ikeough commented on #5238
Internal issue has been closed.

[2016-05-02 04:34] ikeough commented on #4116
@monikaprabhu Is this ready to be closed?

[2016-05-02 04:36] ikeough commented on #4266
Internal issue has been closed.

[2016-05-02 04:36] #4266 closed

[2016-05-02 04:37] ikeough commented on #4218
@kronz Can you provide an update?

[2016-05-02 04:39] ikeough commented on #5285
Internal issue has been closed.

[2016-05-02 04:39] #5285 closed

[2016-05-02 04:39] ikeough commented on #4872
@dbaldacchino Any update?

[2016-05-02 04:40] ikeough commented on #5734
Internal issue has been closed.

[2016-05-02 04:40] #5734 closed

[2016-05-02 04:41] ikeough commented on #5219
This is no longer reproduce-able in newer versions.

[2016-05-02 04:41] #5219 closed

[2016-05-02 04:44] ikeough commented on #4598
@Dewb Closing this as it seems we are unable to reproduce with newer builds. Please re-open if it's still an issue.

[2016-05-02 04:44] #4598 closed

[2016-05-02 04:57] QilongTang commented on #6555
@sharadkjaiswal @mjkkirschner @jluebker  I had a similar issue, uninstalled everything then the first install of 1.0 from our website failed, then I used Fixit, even though the dynamo was not in the list, it did the magic for me. The second install succeeded.

[2016-05-02 05:46] paoloemilioserra commented on #6553
I'm reading the points of the subassemlies in Civil3D (the "sketchy-ish" representation is because the model is far away from the origin). for each subassembly I create a surface from perimeter points, retrieve the perimeter curves, join them in a Polycurve and loft them all toghether, not in pairs, what you see here is also the result of multiple lofts. In previous versions I had funky geometries

[2016-05-02 07:13] aparajit-pratap commented on #4934
http://adsk-oss.myjetbrains.com/youtrack/issue/MAGN-10061

[2016-05-02 11:00] ThomasMahon opened #6566 "Improvement: New method suggestions"
## Dynamo version

1.0.1

## Operating system

Win 10

## Improvement Suggestion
I thought I would share some ideas on some additional methods that would be particularly useful. I know this is a risky subject as it has the potential to open the floodgates to all kinds of suggestions in the thread which either already exist or are pointless, but if anyone would like to add some sensible ideas, do s

[2016-05-02 12:31] Racel commented on #6555
@jluebker - I had a similar problem, but in order for everything to work, I had to uninstall everything (including any folders associated with Dynamo) and run Microsoft fix-it (download from @mjkkirschner's link above).

I had to uninstall all the folders found in the following:
-> Program Files\ Dynamo (everything in here needs to go)
-> Autodesk\Dynamo Studio 201x (if you have this)
-> ProgramDa

[2016-05-02 12:39] Racel commented on #6097
Here are 2 YTs related to this issue:
http://adsk-oss.myjetbrains.com/youtrack/issue/MAGN-10042
http://adsk-oss.myjetbrains.com/youtrack/issue/MAGN-7417

[2016-05-02 12:42] Racel commented on #2211
@ikeough - We do not have any tasks around this particular task yet.

@marcellosgamb - Can you tell us why you would like to rename the individual lists? Is it for documentation purposes so that you/others reading your graph later can easily understand it? Or, do you eventually want to be able to call different lists or list items with particular names?

[2016-05-02 12:47] jnealb commented on #6556
@kronz Investigating

[2016-05-02 12:49] archinate commented on #6565
@ksobon No, I am trying to publish a version out of Revit 2015 or 2016

[2016-05-02 13:11] archinate commented on #6565
@ikeough @kronz  Just to add to this one... It appears publishing is working as expected from Revit 2017.  Just not 2016 or 2015.

[2016-05-02 13:40] archinate commented on #6556
@jnealb and @kronz I did a little more testing on a fresh machine that has similar configurations. Dynamo 1.0 ran as expected after a fresh install of Revit 2015/16.

On the machine that was giving me trouble, I cleared out my addins folder and Dynamo 1.0 is now running!  I'm going to track down what addin might be giving Dynamo 1.0 some trouble. This also seems to related to #6565 since that is w

[2016-05-02 13:44] jnealb commented on #6556
@archinate Thanks for the debugging.

[2016-05-02 13:56] dbaldacchino commented on #4872
Sorry @ikeough ; will get back with an answer ASAP.

[2016-05-02 15:22] archinate commented on #6556
@jnealb @kronz I think I found the addin that is causing the issue  It's a custom app that involves a Revit dockable interface and involves some web requests.It has no dependencies on Dynamo so it is strange that it causing an issue.  To my knowledge the addin did not conflict with Dynamo until this more recent version.

Can I send along private link to you so you can see if you can reproduce?

-N

[2016-05-02 16:03] kronz commented on #6556
@archinate yes please.  Thanks!

[2016-05-02 16:29] kronz commented on #6552
@ParametricMonkey @dannysbentley I think the issue lies with either/both Flux or Lunchbox nodes.  @archinate is updating Lunchbox to 1.0, not sure about the Flux components.  As Flux uses it's own installer, they may need to create a new installation method now that we have reorganized our Dynamo Core installation process.
![2016-05-02_1228](https://cloud.githubusercontent.com/assets/3456818/14960

[2016-05-02 16:33] QilongTang commented on #6552
@dannysbentley Could you attach your file again? It is not listed on this page somehow.
@ParametricMonkey Your file opens up fine on my machine and our QA's, but looks like Flux only 100% works with dynamo9.2 and dynamo Studio 2016.
![image](https://cloud.githubusercontent.com/assets/3942418/14960307/10ff2890-1062-11e6-8d0f-d7888b41a3fa.png)

[2016-05-02 16:34] jnealb commented on #6556
neal.burnham@autodesk.com

[2016-05-02 17:03] archinate commented on #6556
@kronz @jnealb sent!

[2016-05-02 17:13] archinate commented on #6552
@dannysbentley I am working on a 1.0 release for LB.  What is the red error on the LunchBox node? What version of Revit are you testing with?

Best,
-Nate

[2016-05-02 17:27] kronz commented on #6552
I'm looking at this with Revit 2016 and latest Lunchox.  I can't open the custom node to look any deeper in it.
![2016-05-02_1326](https://cloud.githubusercontent.com/assets/3456818/14961778/74a4d14a-1069-11e6-97a6-f01e3832d3ed.png)

[2016-05-02 17:42] kronz commented on #6556
thanks @archinate I installed your addin, but a) I don't see it showing up in the r2016 interface (should it just be a tool in the addin tab?) and b) no change to my filepath behavior.  Seems like maybe the installer didn't take?

[2016-05-02 18:00] kronz commented on #6555
@sharadkjaiswal Can you share any information here about what is happening?
Just so everyone on the thread is clear, the INTENDED behavior is that, even with pre-release builds, the uninstall process needs to be clean and get ride of Core when it is uninstalled, allowing fo ra clean re-install. Anything else is a bug.

[2016-05-02 18:02] kronz commented on #6556
Some recent changes to how file path node works can be seen here:
https://github.com/DynamoDS/Dynamo/commit/fe2747501285c11f010767285ccfedd3724087fd
@sharadkjaiswal can offer any opinions on what @archinate is seeing?

[2016-05-02 18:24] jluebker commented on #6555
@Racel Yep checked all of those... ill double check again though...
@kronz the uninstall is NOT cleaning out everything. I had uninstalled the daily build and dynamo studio and it still left TONS of stuff which is what i think is causing the problems...

[2016-05-02 19:00] kronz commented on #6565
@archinate . Without having Dynamo in the mix, If I have Revit 2016 and Revit 2017 open, and I sign into a360, I immediately get signed back out!  If I close r2017 and try again in r2016, the sign in sticks.  You?

[2016-05-02 19:08] dannysbentley commented on #6552
@archinate, Nate, I think it got fixed the Floor.SlabShapeByPoints wasn't updating the point.  I tried it this morning and it work perfectly.
@kronz @QilongTang,  Thank you for looking into this.  The files that wont open are using Flux.  I will reach out to them and see when they will be read to update the install.

[2016-05-02 19:09] jnealb commented on #6556
@archinate @kronz We can reproduce this in-house: occurs with the Dynamo 1.0 Addin for Revit 2016 but not Revit 2017, and is unrelated to the aforementioned Trello Addin.

[2016-05-02 19:38] kronz commented on #6565
@archinate ok, taking the weird Revit 2016 and Revit 2017 open at the same time issue out of the equation, I can reproduce something like what you are describing.  However, what I'm seeing is that I can't publish from "publish this custom node" if I'm adding a new version, but I can for a fresh package.  Also, I CAN publish from the "Publish Version . . ." dialoge, and the behavior is the same for

[2016-05-02 19:43] kronz commented on #6556
@archinate @jnealb However, this is not 100% reproducable. It doesn' happen at all on my machine (win 8, r2016 and r2017 installed, Dynamo 0.8.2, 0.9.2, and 1.0 installed)

[2016-05-02 21:29] ikeough commented on #4934
@aparajit-pratap Thanks!

[2016-05-02 22:59] kronz commented on #4218
There is a larger project underway to modernize the Package manager web interface, one that will be more integrated with the application itself.  We have no plans to fix DynamoPackages.com, rather to replace that particular type of web presense.

[2016-05-02 22:59] #4218 closed

[2016-05-03 00:58] ksobon commented on #2671
I actually believe that @mostaphaRoudsari wants to have ability to set the node to yellow/warning state based on input from user. Let's consider a situation where user asks you to perform an action by providing an incorrect input, but developer has anticipated that and has a default value ready to substitute for the input. You want to set the node to warning state to let the user know he provided

[2016-05-03 01:56] kronz commented on #6494
@aparajit-pratap is there a youtrack task on this as well?

[2016-05-03 02:00] kronz commented on #4397
@dbaldacchino @ikeough Yes, this is fixed now.

[2016-05-03 02:00] kronz commented on #6503
Can't reproduce

[2016-05-03 02:00] #6503 closed

[2016-05-03 02:01] #4397 closed

[2016-05-03 02:09] kronz commented on #6528
@ke-yu any reason for this behavior?
cc @Racel

[2016-05-03 02:14] archinate commented on #6556
@kronz hmm... did the installer throw any errors? It copies files to C:\Proving Ground\Trello and %appdata%\Autodesk\Revit\Addins\2016 for users

[2016-05-03 02:19] archinate commented on #6556
@kronz and @jnealb regardless, for me it appears that removing this particular addin  causes the file path node to work AND it fixes the issue I was having with Publishing Versions (issue #6565)... but I have no idea why since everything lived in harmony before.

[2016-05-03 02:29] archinate commented on #6565
@kronz Still not sure why, but removing my custom Trello add-in (like in issue #6556)  fixes this issue and I can Publish Version as usual.  Installing the addin again prevents me from publishing.

With add-in installed this is what happens every time...
- Manage Packages > Publish Version > Dynamo Prompts me to accept Package Manager Terms (strange?) > Publish dialog fails to open

Without the ad

[2016-05-03 02:36] archinate commented on #6552
@kronz the only thing in the node is a Python script and you can't click into it?

That node is working for me in Revit 2016 w/ Dynamo 1.0

![image](https://cloud.githubusercontent.com/assets/1890663/14973481/e8896514-10ad-11e6-9e5d-33658b357221.png)

[2016-05-03 02:38] riteshchandawar commented on #2671
@ksobon @mostaphaRoudsari  This was the PR which was merged https://github.com/DynamoDS/Dynamo/pull/3950 to fix this issue. Can you please try the approach which is mentioned in the above PR.

- Ritesh

[2016-05-03 03:24] sharadkjaiswal commented on #6556
I am not able to reproduce this on my Windows 10 setup. @jnealb, which are the addins, installed on the system? Can you please test the scenario by removing all the addin files from %appdata%\Autodesk\Revit\Addoms\2016?

[2016-05-03 04:39] ikeough commented on #5720
Internal issue has been closed. https://github.com/DynamoDS/Dynamo/pull/5833

[2016-05-03 04:39] #5720 closed

[2016-05-03 04:40] ikeough commented on #5004
Internal bug is marked as can't reproduce. Please re-open if this is still an issue with the latest version of Dynamo.

[2016-05-03 04:40] #5004 closed

[2016-05-03 04:41] ikeough commented on #4412
Internal issue has been closed. https://github.com/DynamoDS/DynamoRevit/pull/534

[2016-05-03 04:41] #4412 closed

[2016-05-03 04:43] #4001 closed

[2016-05-03 04:44] ikeough commented on #4631
Internal issue is closed in https://github.com/DynamoDS/Dynamo/pull/4707. Please re-open this issue if you are still experiencing the problem on a newer build of Dynamo.

[2016-05-03 04:45] #4631 closed

[2016-05-03 04:46] ikeough commented on #5228
I'm closing this per @aparajit-pratap's suggestion that this is as expected. Please re-open if there is new information.

[2016-05-03 04:46] #5228 closed

[2016-05-03 04:49] marcellosgamb commented on #4412
Fixed in 1.1v?

Sent from my iPhone

On May 2, 2016, at 9:41 PM, Ian Keough <notifications@github.com<mailto:notifications@github.com>> wrote:

Internal issue has been closed. DynamoDS/DynamoRevit#534<https://github.com/DynamoDS/DynamoRevit/pull/534>

—
You are receiving this because you authored the thread.
Reply to this email directly or view it on GitHub<https://github.com/DynamoDS/Dynamo/issue

[2016-05-03 04:49] ikeough commented on #5118
Internal issue has been closed as can't reproduce. Please re-open if you are still experiencing this with newer versions of Dynamo.

[2016-05-03 04:49] #5118 closed

[2016-05-03 04:51] ikeough commented on #4229
Internal task is closed in https://github.com/DynamoDS/Dynamo/pull/4276. Please re-open if you're still seeing this on newer versions of Dynamo.

[2016-05-03 04:51] #4229 closed

[2016-05-03 04:52] ikeough commented on #3729
The internal task has been closed. Please re-open if you're still seeing this issue.

[2016-05-03 04:52] #3729 closed

[2016-05-03 04:54] ikeough commented on #3989
Internal task is closed in https://github.com/DynamoDS/Dynamo/pull/4025. Please re-open if you're still seeing this in newer builds.

[2016-05-03 04:54] #3989 closed

[2016-05-03 04:56] ikeough commented on #5270
@jnealb Did we ever get any resolution here?

[2016-05-03 04:59] ikeough commented on #3618
Internal issue is closed in
https://github.com/DynamoDS/Dynamo/pull/3624. Please re-open if you're still seeing this in newer versions of Dynamo.

[2016-05-03 04:59] #3618 closed

[2016-05-03 05:02] ikeough commented on #5218
Internal issue has been marked as can't reproduce. Please re-open if you're still seeing this in newer builds.

[2016-05-03 05:02] #5218 closed

[2016-05-03 05:53] riteshchandawar commented on #168
With recent changes to Curve Divide and Points at Parameter, this problem may not exist.

I am closing this issue, please report back if the newly added node (in latest 1.0 release) doesn't solve your problem.

Ritesh

[2016-05-03 05:53] #168 closed

[2016-05-03 07:36] sh4nnongoh commented on #6555
Hi @jluebker.

When components do not get uninstalled during the uninstall process, it means that a previous installed product was not uninstalled properly. This is because whenever an application gets installed, each component in the application will be given a unique GUID and this GUID will be written to registry. During the uninstallation process, if there are components still being referenced