[2016-05-03 08:38] ParametricMonkey commented on #6552
@kronz  @QilongTang  so if it has Flux nodes in it, the file won't open at all? Qilong you said you can open the file but Danny says it doesn't open. I'm confused.

I've emailed Anthony from Flux, he has sent me a preview of Flux for Dynamo1.0.0. However....

I uninstalled my Dynamo WIP and reinstalled 1.0.0. But as you can see from the image below, it says 1.0.0 in the Revit menu, but 1.0.1.1115

[2016-05-03 09:01] ParametricMonkey commented on #6552
OK whats even stranger is in my add/remove programs it says 1.0.0.1180. Something is not right...

![dynamo version2](https://cloud.githubusercontent.com/assets/10913639/14978748/67dea302-1161-11e6-941c-0dc63e8c7866.JPG)

[2016-05-03 09:06] sharadkjaiswal commented on #6552
@ParametricMonkey, Dynamo 1.0.1.1115 has installed Dynamo Core 1.0.1.1115 and Dynamo Revit 1.0.1.1115, what you have uninstalled is Dynamo Revit 1.0.1.1115 whereas DynamoCore still exists on your system. Right now the version info in Dynamo->Help->About is shown from Dynamo Core hence you see the version of Dynamo as 1.0.1.1115 even if you have installed Dynamo Revit 1.0.0.1180

[2016-05-03 09:12] sharadkjaiswal commented on #6552
Flux for Dynamo 1.0 should work with Dynamo 1.0.1

[2016-05-03 10:51] riteshchandawar commented on #181
Workflow mentioned in this issue worked with Revit.
Vasari is already discontinued.

Closing this issue.

Thanks,
Ritesh

[2016-05-03 10:51] #181 closed

[2016-05-03 12:11] jnealb commented on #6556
@sharadkjaiswal You are correct - (my testing is on Win7) the ProvingGround.TrelloRevit.2016 Addin is implicated (I misspoke earlier): if I remove it from the Addin folder there is no issue. Uninstalling it from the Control Panel had not removed it from the Addin folder. When it is present in the Addin folder the crash occurs, as reported by Nathan. The Addin can be found at: http://provingground-

[2016-05-03 12:52] ondejcik opened #6569 "Dynamo crashing when using manage custom paths to folder without write permisson"
## Dynamo version
1.0.0 , 0.9.2

## Operating system
W7 64bit

## What did you do?
We have a library of node and packages linked between several users to one place, where some users have only read permission (thay cannot write files). This was crashing dynamo on load totally. Problem was fixed when files was moved to location where user has read and write permission.

How ever i would like to have

[2016-05-03 12:58] jnealb commented on #6569
@ondejcik We are aware of this and are working towards a solution. Thanks.

[2016-05-03 13:02] mostaphaRoudsari commented on #2671
Thanks @ksobon! @riteshchandawar that's exactly what I was looking for. Thanks!

[2016-05-03 13:04] archinate commented on #6556
@jnealb Hey Neal, can you remove the add-in link? I shared it privately over e-mail because I didn't intend to have the installer/tool made available on a public forum since it is still a very early alpha. You may share internally among the Dynamo team if it helps with finding what may be causing the issue.

Thanks, -Nate

[2016-05-03 13:15] StevenRowland commented on #6569
Dynamo does not completely crash during this event, rather the process never resolves itself. Would be good if there could be an eventual timeout or validation exception thrown by an inaccessible or write protected path.

[2016-05-03 13:29] kidasse opened #6570 "Middle mouse scrolling on node preview box freeze, and finally crash Dynamo."
## Dynamo version

Dynamo 1.0.0.1180
## Operating system

Windows 7
## What did you do?
1. Position the mouse pointer over the preview box below a node who contain one.
2. Scrolling only two notch on the whell in the up direction (a few more in the down)
   with the middle mouse button.
   (see attached image.)

![dynamo interface bug](https://cloud.githubusercontent.com/assets/19168660/14984560/9

[2016-05-03 14:50] RonFS-PG opened #6571 "Dynamo 1.0 Crashes when accessing file path (in auto run or manual)"
## Dynamo version
1.0.0.1180

## Operating system
Windows 10 Pro

## What did you do?
1)Bring "File Path" node to canvas
2)Select file to access and open
3)Dynamo crashes

## What did you expect to see?
Successful file access

## What did you see instead?
ERROR REPORT:

Object reference not set to an instance of an object.

   at DSCore.File.FilenameNodeViewCustomization.readFileButton_Click(Objec

[2016-05-03 15:50] jluebker commented on #6555
ok so the keys are not working. i keep getting an error "please enter a valid 38 character key". but i tried reinstalling each version of the daily builds i've installed in reverse order and using fixit to uninstall them. however by the time i got to one from earlier last month, even though it was installed fixit couldn't find it. And interestingly enough, when i've reinstalled 9.2 fixit is not se

[2016-05-03 15:53] jluebker commented on #6555
@sh4nnongoh, thanks for the great tips. this is actually the first time i've had to resort to manually purging dynamo from y computer. i've uninstalled each version before installing the next one using windows uninstaller. so im baffled...

[2016-05-03 16:48] kronz commented on #6571
@RonFS-PG Can you give us a list of other addins that you have installed?  I think we have the same issue with https://github.com/DynamoDS/Dynamo/issues/6556

[2016-05-03 16:52] QilongTang commented on #6552
@ParametricMonkey  What I meat was that I was able to open the file you attached with purely DynamoStudio1.0 installed, without the flux plugin for Dynamo0.9.2. I noticed no exception thrown in the  file open process which indicates that the problem lies on other 3rd party components.

Did you encounter the same problem with preview of flux for Dynamo 1.0?

[2016-05-03 16:53] RonFS-PG commented on #6571
@kronz Yes, this is the same issue. I will follow #6556 and we can close this one if you like.

Thanks!

[2016-05-03 16:55] kronz commented on #6569
Duplicate of
https://github.com/DynamoDS/Dynamo/issues/5711
Pursuing internally MAGN-10004

[2016-05-03 16:55] #6569 closed

[2016-05-03 17:29] Racel commented on #6528
@kronz @ke-yu @ThomasMahon @mjkkirschner - This is not a regression. I believe the default value behavior seen in the first image is the incorrect behavior, and we should consider fixing it as a bug. The second image with the 3D list is the correct result of cross-product lacing that is applied by default to node inputs. To represent this with replication guides, the Point.ByCoordinates node autom

[2016-05-03 17:29] ikeough commented on #6565
@archinate The Package Manager Terms of Use is being presented every time because it's never able to cache the fact that you accepted the TOU previously. This value is saved on your `User` in the package manager database. There is some error in communicating with the PM server. Can we get a version of your Trello add-in to test?

[2016-05-03 18:08] #2333 closed

[2016-05-03 18:14] kronz commented on #6515
@Randy-Ma Is there modification API for Sheets?  Or do they need to be destroyed and recreated?  Seems like there is no element binding going on here.

[2016-05-03 18:24] archinate commented on #6565
@ikeough I sent it along to @zach and @jnealb... I will forward over to you via e-mail.

[2016-05-03 18:34] ikeough commented on #6570
@kidasse Can you please provide the contents of the message box that this shown when Dynamo crashes?

[2016-05-03 18:36] ikeough commented on #6571
@RonFS-PG Closing this as a duplicate. Please stay tuned to #6556.

[2016-05-03 18:36] #6571 closed

[2016-05-03 18:45] ikeough commented on #6565
@archinate I believe this is a clash in the version of an assembly. `RestSharp`, which we use to communicate with the package manager, is also used by your addin. I'm guessing that this problem is solved because we're trying to load two different versions of `RestSharp` in to the `AppDomain`. When this happens, types cannot be resolved correctly. We are probably just failing silently to create a r

[2016-05-03 21:08] jnealb commented on #6555
@jluebker @sh4nnongoh Classic consequence of switching installers. Going forward it should no longer happen.

[2016-05-03 21:21] ThomasMahon commented on #6528
@Racel @ke-yu @kronz @ikeough @mjkkirschner why cant the be the default replication behaviour be @Racel example of the 'Desired result' - it makes way more sense and is infinitely more logical? i.e. index 0 of list 1 gets matched with index 0 of list 2 and so on. If list 1 is 1D and if list two is 2D then all member of its sublist gets matched with the corresponding member from list 1. If the thir

[2016-05-03 21:55] Racel commented on #6133
@dimven - Regarding your first question about the list of geometries and paths not matching up with shortest lacing, can you please try using a List.Chop and placing each geometry in a nested list and then performing the ExporttoSAT? This worked for me. Also, I tried to download your files and when I try to open in Dynamo 1.0, I am getting an error about the file being corrupt. Are you experiencin

[2016-05-03 22:34] ksobon commented on #6566
You can use Bumblebee package for the two Excel requests. It supports reading from/to custom ranges of data as well as writing to custom ranges.

[2016-05-04 00:01] marcellosgamb commented on #4412
Looks like its working now. I checked with the dailies (5-3-2016)

________________________________
From: Ian Keough <notifications@github.com>
Sent: Tuesday, May 03, 2016 7:34 AM
To: DynamoDS/Dynamo
Cc: marcellosgamb; Mention
Subject: Re: [DynamoDS/Dynamo] Element.GetParameterValueByName not working but Sheet.SheetNumber is working v.80 (#4412)

@marcellosgamb<https://github.com/marcellosgamb> Th

[2016-05-04 00:04] ParametricMonkey commented on #6552
@sharadkjaiswal How can I uninstall DynamoCore? I can't find it anywhere. I am unable to install Flux 1.0.0 because of this.

[2016-05-04 00:08] jnealb commented on #6552
@ParametricMonkey Control Panel, Change, Remove?

[2016-05-04 00:18] ParametricMonkey commented on #6552
@jnealb It is not under Add or Remove Programs

[2016-05-04 02:06] ParametricMonkey commented on #6552
@kronz @QilongTang Uninstalling Dynamo 1.0.0 anjd tried reinstalling it and am getting this error so it won't open.

![dynamo error](https://cloud.githubusercontent.com/assets/10913639/15003588/9cf26b66-11f0-11e6-8719-06d5a83d81c6.JPG)

[2016-05-04 02:20] sharadkjaiswal commented on #6556
@archinate there seems to be a version mismatch of RestSharp.dll. Dynamo uses version 105.2.3.0 whereas the trello plugin is using 104.4.0.0, this could be the reason of failure. Still investigating.

[2016-05-04 02:42] aparajit-pratap commented on #6531
@LucianoSOliveira could you describe the steps you took to reproduce this error. This information will be useful to us in debugging this problem.

[2016-05-04 02:43] mjkkirschner commented on #6565
@ikeough http://adndevblog.typepad.com/aec/2012/06/loading-multiple-versions-of-the-same-dll-used-in-revit-plug-ins.html

apparently this can be done to an existing dll as well, or we could build restsharp from source...

[2016-05-04 02:44] aparajit-pratap commented on #6156
Unfortunately not, we were unable to find a workable solution to address this in time for 1.0. It is currently prioritized for 1.1.

[2016-05-04 02:57] sharadkjaiswal commented on #6552
@ParametricMonkey, It seems that previous version of Dynamo 1.0.0 was not properly uninstalled. Which version of windows are you using? Can you please use https://support.microsoft.com/en-us/mats/program_install_and_uninstall to resolve the uninstallation issue?

[2016-05-04 02:58] ParametricMonkey opened #6574 "Custom node not working but works if 'expanded'"
## Dynamo version

0.9.2
## Operating system

Windows 7
## What did you do?

Using a custom node from the BVN package
## What did you expect to see?

Doors should update based on room name
## What did you see instead?

Doesn't work. Custom node works if copyed and pasted into a new file (not a custom node). However when packaged up into a custom node it fails.

[Door.RenumberByRoom.zip](https://gi

[2016-05-04 03:05] ikeough commented on #6565
Strong-naming RestSharp breaks our ability to reference it using NuGet.

[2016-05-04 03:06] #3387 closed

[2016-05-04 03:08] ikeough commented on #3469
Hey @262231123. Sorry for the delay in this response. Dynamo has been localized into a number of languages. I believe Chinese is one of them. If newer builds of Dynamo Studio or Dynamo for Revit don't do what you want, please let us know. Closing for now!

[2016-05-04 03:08] #3469 closed

[2016-05-04 03:10] ikeough commented on #3484
@vykrum Please try with newer builds of Dynamo and let us know if the issue persists.

[2016-05-04 03:10] #3484 closed

[2016-05-04 03:16] ikeough commented on #3445
@andydandy74 The internal issue has been closed. I know we did a round of fixing on some of this. We have not overhauled everything, but have made targeted fixes in core.

[2016-05-04 03:16] #3445 closed

[2016-05-04 03:17] ikeough commented on #3487
@ptierney Do you know what the tracking number is?

[2016-05-04 03:18] ikeough commented on #3434
@mpdiker Closing as the List.Join node now has a variable number of inputs. I think we got what you want :)

[2016-05-04 03:18] #3434 closed

[2016-05-04 03:20] ikeough commented on #3457
@vykrum Can you please try on newer releases of Dynamo and let us know if you're still having issues?

[2016-05-04 03:20] #3457 closed

[2016-05-04 03:23] ikeough commented on #3379
The syntax is as expected. We don't support lists of indices inside array indexers. @ke-yu can correct me if I'm wrong.

[2016-05-04 03:23] #3379 closed

[2016-05-04 03:24] ikeough commented on #3365
@daaldimo It's been a while :) Can you please try with a newer version of Dynamo. I'm sure you'll have better results.

[2016-05-04 03:24] #3365 closed

[2016-05-04 03:26] ikeough commented on #3354
This shows up in newer builds. Can you please take a look and let us know if you're still seeing this issue?

[2016-05-04 03:26] #3354 closed

[2016-05-04 03:39] ikeough commented on #3353
@ksobon We do not have anything equivalent. @ke-yu, please correct me if I'm wrong.

[2016-05-04 03:39] #3353 closed

[2016-05-04 03:40] ikeough commented on #3338
@benzhang01 Is this still an issue on newer builds of Dynamo for Revit?

[2016-05-04 03:41] ikeough commented on #3332
@jamiefarrell Is there any update here. Do you have a file which reproduces this issue? Have you tried with more recent builds of Dynamo?

[2016-05-04 03:42] #3290 closed

[2016-05-04 03:43] ikeough commented on #3275
A fix for the internal task is in https://github.com/DynamoDS/Dynamo/pull/3929. Please let us know if you're still seeing this issue in newer builds of Dynamo.

[2016-05-04 03:43] #3275 closed

[2016-05-04 03:46] ikeough commented on #2431
@ihnilkim Can you please try with a newer build of Dynamo and let us know if you're still seeing this issue. I'm pretty sure we've got this fixed :)

[2016-05-04 03:46] #2431 closed

[2016-05-04 04:19] daaldimo commented on #3365
yeah man, no problem, thanks :)

2016-05-03 22:25 GMT-05:00 Ian Keough <notifications@github.com>:

[2016-05-04 04:22] sharadkjaiswal commented on #6574
@ke-yu any idea, what must be going on?

[2016-05-04 04:58] sharadkjaiswal commented on #6552
@ParametricMonkey the error above is due to missing DynamoCore installation on the system. Can you please try to install the latest Dynamo installer from dynamobim.com and see if this error goes away?

[2016-05-04 05:16] aparajit-pratap commented on #6494
http://adsk-oss.myjetbrains.com/youtrack/issue/MAGN-10001

[2016-05-04 05:20] ikeough commented on #2082
@garyedwards If your experiments revealed a way of getting code completion working with pydev, please let us know and we can include a doc on the wiki.

[2016-05-04 05:20] #2082 closed

[2016-05-04 05:20] ParametricMonkey commented on #6552
@sharadkjaiswal do you mean the latest WIP or latest stable (1.0.0). I've installed 1.0.0 several times and it hasn't fixed the issue. I'm on windows 7

[2016-05-04 05:20] ikeough commented on #2127
@riteshchandawar @Randy-Ma Was this ever tracked. What's the status?

[2016-05-04 05:28] ikeough commented on #1197
@wassimj I apologize for the delayed response. Can you please retry this with a newer version of Dynamo and re-open if the issue persists?

[2016-05-04 05:28] #1197 closed

[2016-05-04 05:29] ikeough commented on #1049
@mjkkirschner Still a bug? :)

[2016-05-04 05:29] #1049 closed

[2016-05-04 05:36] #800 closed

[2016-05-04 05:36] ikeough commented on #800
XYZArrayOnCurve no longer exists. Closing :)

[2016-05-04 05:38] riteshchandawar commented on #2127
@ikeough I don't think I have logged any internal tracking issue for this.

[2016-05-04 05:38] #705 closed

[2016-05-04 05:43] #436 closed

[2016-05-04 05:47] #349 closed

[2016-05-04 06:10] dimven commented on #6133
Hi @Racel

As I mentioned above, setting the lacing to longest mediates that issue. However, that shouldn't occur at all in the first place because the geometry input is defined as a singleton (i.e. a "var" instead of a "var:[]")
![2016-05-04_14-02-54](https://cloud.githubusercontent.com/assets/7148394/15006266/8258256e-1201-11e6-80b2-90582e2a01f7.png)

I've observed the same issue in 1.0.0 with a

[2016-05-04 06:36] sharadkjaiswal commented on #6552
If you are not able to install 1.0.0, then I'll suggest you to use FixIt tool from  https://support.microsoft.com/en-us/mats/program_install_and_uninstall to fix the registry issue. Do you have DynamoStudio installed on your system? Which version of studio it is?

If you install the latest WIP(1.0.1) build then what is the issue you are facing?

[2016-05-04 09:26] andydandy74 commented on #3445
Agreed - I see this as fixed, too, since there is now th epossibility of calling methods with static and instance syntax.

[2016-05-04 09:32] andydandy74 opened #6575 "Wish: Make copying of contents of packages & definitons folders optional during installation of new version"
## Dynamo version

1.0.0

## Operating system

Any

## What did you do?

Install Dynamo 1.0.0

## What did you expect to see?

An option to copy packages and local CN definitions to the new version's directory

## What did you see instead?

Dynamo automatically copies those files.

It would be nice to have a checkbox for this in the installer. I, for one, prefer to start with a clean install of a

[2016-05-04 13:09] Racel commented on #6133
Thanks, @dimven - I was able to take a look at your file after downloading the raw data. I didn't realize github did that to files.

Regarding the ExportToSAT and BoundingBox nodes that take Autodesk.DesignScript.Geometry.Geometry as an input, I believe it is look for a collection of geometry. If you place each one of the geometries into a nested list using List.Chop, you can get the results that

[2016-05-04 13:26] Racel commented on #6528
@ThomasMahon - I agree, replication guides are a minefield, but are super powerful. I also think that your idea does make sense. Here are a few concerns that I have, but would like to hear what @ke-yu and others on the team think about implementing your proposal:
- If we change the replication behavior, this could affect old graphs where users applied cross-product lacing. This could potentially b

[2016-05-04 15:07] vykrum opened #6576 "Input port name misleading - CoordinateSystem.Rotate"
## Dynamo version

1.0.1.1180

## Operating system

Windows 10

## What did you do?

Connected a point to the origin port

## What did you expect to see?

No error

## What did you see instead?

An error as the port actually expects a plane

![20160504-6a](https://cloud.githubusercontent.com/assets/5621624/15018599/e2c7a79a-1237-11e6-9216-d6cf98d782f7.png)

![20160504-6](https://cloud.githubuserco

[2016-05-04 17:05] ikeough commented on #6556
This is related to #6565. Nate's Trello plugin is getting loaded first, with an older version of RestSharp, then Dynamo tries to use that same version and you get a missing method exception. We will probably have to use the solution found by @mjkkirschner to strong name versions of RestSharp. Yuck.

[2016-05-04 17:11] ikeough commented on #6426
@ksobon is correct about our assumption.

[2016-05-04 17:11] #6426 closed

[2016-05-04 17:11] kidasse commented on #6570
The content of the message box is:

La valeur ne peut pas être null.
Nom du paramètre : element

   à System.Windows.Media.VisualTreeHelper.GetParent(DependencyObject reference)
   à System.Windows.Controls.VirtualizingStackPanel.FindScrollOffset(Visual v)
   à System.Windows.Controls.VirtualizingStackPanel.OnAnchorOperation(Boolean isAnchorOperationPending)
   à System.Windows.Controls.Virtualizi

[2016-05-04 17:17] ikeough commented on #5268
@andydandy74 Is this still an issue in newer builds?

[2016-05-04 17:18] ksobon commented on #6426
@ikeough I am glad I guessed this right. Just so its clear the answer here is: call this method using a CodeBlock and set the boolean to True instead of relying on a node which is by default set to false. Is that right?

[2016-05-04 17:25] ksobon commented on #6566
There is a Slingshot package for Dynamo if I remember correctly by Nate Miller that allows for connections to a Database. I haven't used it myself so I am not sure if/how it works.

[2016-05-04 17:26] jnealb commented on #6570
@kidasse @ikeough This does not crash here with a FR VM running Win10 - can you also provide details for your mouse and mouse driver? Also, if possible, can you temporarily set your Locale to United States in the Control Panel and see it still occurs? And finally, which version of Revit are you running on?

[2016-05-04 17:26] ikeough commented on #5244
@andydandy74 Is this still an issue?

[2016-05-04 17:28] ikeough commented on #3821
@andydandy74 Is this still an issue?

[2016-05-04 17:50] ThomasMahon commented on #6566
To clarify, when I mentioned 'plugins' above mean 'packages'.

The packages you mention - yours included - are great, but really this highlights my point entirely: such functionality should already be available out-of-the-box.

Main reasons being:
1. Greater integration with DesignScript and Python (plus all the benefits intellisense)
2. Possibility to report bugs and get vendor support on live pr

[2016-05-04 18:26] ksobon commented on #6566
I am not sure that interoperability with 3rd party software like Excel is really considered as core functionality. The only thing that it does is add dependency to the core of Dynamo. That's just my opinion, so we can disagree about that. I don't have anything against the first few requests.

[2016-05-04 19:02] ikeough commented on #6566
@ThomasMahon Thanks for the suggestions. They are all very valid.

Here's what I think should happen with regards to packages. There should be more stuff moved out of of our core distribution and distributed as packages, _including_ our Excel functionality. The problem is that packages have been treated for some time as second class citizens. Packages should be the primary mechanism by which we de

[2016-05-04 19:03] ikeough commented on #6426
@ksobon As far as I understand the issue, your method seems correct.

[2016-05-04 19:11] ikeough commented on #5977
Please post this question to the [Dynamo forums](http://dynamobim.org/forums/forum/dyn/)

[2016-05-04 19:11] #5977 closed

[2016-05-04 19:20] jnealb commented on #6566
@ikeough @ThomasMahon @kronz Suggestion: "fully resolved Package names" so that searching for "LunchBox\LunchBox Attractor.dyf" or more complex paths with Packages that depend on other Packages are resolved, and the container(s) are identified etc.

[2016-05-04 19:27] ikeough commented on #5865
We're closing this issue as it cannot be reproduced on more recent builds of Dynamo. Please re-open if you're still experiencing this problem.

[2016-05-04 19:28] ikeough commented on #5873
We're closing this issue as it cannot be reproduced on more recent builds of Dynamo. Please re-open if you're still experiencing this problem.

[2016-05-04 19:28] #5873 closed

[2016-05-04 19:29] ikeough commented on #5962
I'm closing this issue as the requested functionality is now available in recent builds as frozen nodes.

[2016-05-04 19:29] #5962 closed

[2016-05-04 19:31] #5971 closed

[2016-05-04 19:31] ikeough commented on #5957
We're closing this issue as it cannot be reproduced on more recent builds of Dynamo. Please re-open if you're still experiencing this problem.

[2016-05-04 19:31] #5957 closed

[2016-05-04 19:32] #5953 closed

[2016-05-04 19:32] ikeough commented on #5944
Please post this question to the [Dynamo forums](http://dynamobim.org/forums/forum/dyn/)

[2016-05-04 19:32] #5944 closed

[2016-05-04 19:34] ikeough commented on #5899
Please post this question to the [Dynamo forums](http://dynamobim.org/forums/forum/dyn/)

[2016-05-04 19:34] #5899 closed

[2016-05-04 19:34] ikeough commented on #5930
Please post this question to the [Dynamo forums](http://dynamobim.org/forums/forum/dyn/)

[2016-05-04 19:34] #5930 closed

[2016-05-04 19:35] ikeough commented on #5947
PR merged!

[2016-05-04 19:35] #5947 closed

[2016-05-04 19:38] ikeough commented on #5927
We really appreciate this conversation, but we're trying to move conversations to the forum. Please post this question to the [Dynamo forums](http://dynamobim.org/forums/forum/dyn/)

[2016-05-04 19:38] #5927 closed

[2016-05-04 19:40] ikeough commented on #5683
We're closing this issue as it cannot be reproduced on more recent builds of Dynamo. Please re-open if you're still experiencing this problem.

[2016-05-04 19:40] #5683 closed

[2016-05-04 19:42] ikeough commented on #5607
We really appreciate this conversation, but we're trying to move conversations to the forum. Please post this question to the [Dynamo forums](http://dynamobim.org/forums/forum/dyn/).

[2016-05-04 19:42] #5607 closed

[2016-05-04 19:43] ikeough commented on #5601
We're closing this issue as it cannot be reproduced on more recent builds of Dynamo. Please re-open if you're still experiencing this problem.

[2016-05-04 19:43] #5601 closed

[2016-05-04 19:44] #5551 closed

[2016-05-04 19:46] ikeough commented on #5745
We're closing this issue as it cannot be reproduced on more recent builds of Dynamo. Please re-open if you're still experiencing this problem.

[2016-05-04 19:46] #5745 closed

[2016-05-04 19:52] ikeough commented on #5666
We really appreciate this conversation, but we're trying to move conversations to the forum, and reserve the issues site for bugs and improvement requests. Please post this question to the [Dynamo forums](http://dynamobim.org/forums/forum/dyn/).

[2016-05-04 19:52] #5666 closed

[2016-05-04 19:59] ikeough commented on #5639
I believe there is an ability to reset graphics in view to their defaults available in Revit.

You might want to post this question to the [Dynamo forums](http://dynamobim.org/forums/forum/dyn/).

[2016-05-04 19:59] #5639 closed

[2016-05-04 20:00] ikeough commented on #5638
Can you be more specific?

[2016-05-04 20:01] ikeough commented on #5637
Can you explain a bit more of your desired workflow?

[2016-05-04 20:03] ThomasMahon commented on #6566
@ikeough interesting perspective - I certainly understand and appreciate the benefits of packages (I do use them for the record) and find your insight enlightening. Ultimately I would like to see a few tweaks to Dynamo out-of-the box - its brilliant and I'm thoroughly enjoying using it. DesignScript is great (I'm a harsh critic though and it does need to mature a bit before it gets my total endors

[2016-05-04 20:04] ikeough commented on #5577
We're closing this issue as it cannot be reproduced on more recent builds of Dynamo. Please re-open if you're still experiencing this problem.

[2016-05-04 20:04] #5577 closed

[2016-05-04 20:05] ikeough commented on #5569
We really appreciate this conversation, but we're trying to move conversations to the forum, and reserve the issues site for bugs and improvement requests. Please post this question to the [Dynamo forums](http://dynamobim.org/forums/forum/dyn/).

[2016-05-04 20:05] #5569 closed

[2016-05-04 20:13] ikeough commented on #5486
We really appreciate this conversation, but we're trying to move how-to questions and conversations to the forum, and reserve the issues site for bugs and improvement requests. Please post this question to the [Dynamo forums](http://dynamobim.org/forums/forum/dyn/).

[2016-05-04 20:13] #5486 closed

[2016-05-04 20:20] jnealb commented on #6505
@TomasTar Can you provide a view of the application console (under View) when this occurs? We may have more detail there.

[2016-05-04 20:30] ikeough commented on #5454
I'm closing this issue as the requested functionality is now available in recent builds as frozen nodes.

[2016-05-04 20:30] #5454 closed

[2016-05-04 20:37] ikeough commented on #5224
We're closing this issue as it cannot be reproduced on more recent builds of Dynamo. Please re-open if you're still experiencing this problem, or have an example which reproduces the problem.

[2016-05-04 20:37] #5224 closed

[2016-05-04 20:38] #5197 closed

[2016-05-04 20:39] jnealb commented on #5454
@ikeough With one caveat: we get the request to provide an equivalency to the GH "bake" command on a regular basis, and our Freeze is not quite the same.

[2016-05-04 20:39] ikeough commented on #5232
We really appreciate this conversation, but we're trying to move how-to questions and conversations to the forum, and reserve the issues site for bugs and improvement requests. Please post this question to the [Dynamo forums](http://dynamobim.org/forums/forum/dyn/).

[2016-05-04 20:39] #5232 closed

[2016-05-04 20:41] ikeough commented on #5349
@ralvarez76 Did we ever get a reproduce-able case for this?

[2016-05-04 20:42] #5478 closed

[2016-05-04 20:45] ikeough commented on #5162
@vykrum Please open separate issues for the ones embedded here, if they are still issues. @mjkkirschner can you attach some tracking numbers? I'm closing this container issue.

[2016-05-04 20:45] #5162 closed

[2016-05-04 20:47] ikeough commented on #5131
@safawi Any updates here?

We're closing this issue as it cannot be reproduced on more recent builds of Dynamo. Please re-open if you're still experiencing this problem, or have an example which reproduces the problem.

[2016-05-04 20:47] #5131 closed

[2016-05-04 20:49] ikeough commented on #4982
@mjkkirschner Was this ever tracked?

[2016-05-04 20:52] ikeough commented on #5215
We're closing this issue as it cannot be reproduced on more recent builds of Dynamo. Please re-open if you're still experiencing this problem, or have an example which reproduces the problem.

[2016-05-04 20:52] #5215 closed

[2016-05-04 21:00] ikeough commented on #5484
We're closing this issue because the internal issue tracking it has been closed. Please try again with a more recent build of Dynamo, and re-open this if the issue persists.

[2016-05-04 21:00] #5484 closed

[2016-05-04 21:26] ikeough commented on #5454
@jnealb As I understand it, this issue was about the ability to shunt parts of the graph to affect performance.

Agreed that bake is a different issue, but bake also has a different meaning in dynamo with regards to Revit.

[2016-05-04 21:40] ikeough commented on #5472
We really appreciate this conversation, but we're trying to move how-to questions and conversations to the forum, and reserve the issues site for bugs and improvement requests. Please post this question to the [Dynamo forums](http://dynamobim.org/forums/forum/dyn/).

[2016-05-04 21:40] #5472 closed

[2016-05-04 21:42] ikeough commented on #5282
We're closing this issue as it cannot be reproduced on more recent builds of Dynamo. Please re-open if you're still experiencing this problem, or have an example which reproduces the problem.

[2016-05-04 21:42] #5282 closed

[2016-05-04 21:44] ikeough commented on #5209
@philipbussey Do you have a case that reproduces that you could provide?

[2016-05-04 21:45] ikeough commented on #5198
We're closing this issue as it cannot be reproduced on more recent builds of Dynamo. Please re-open if you're still experiencing this problem, or have an example which reproduces the problem.

[2016-05-04 21:45] #5198 closed

[2016-05-04 21:50] ikeough commented on #4856
Fixed in #6578.

[2016-05-04 21:50] #4856 closed

[2016-05-04 21:55] ikeough commented on #4893
@ksobon Is this still an issue after the fix mentioned above?

[2016-05-04 21:58] #5196 closed

[2016-05-04 22:00] ikeough commented on #4689
@jnealb Did you ever receive a case for this?

[2016-05-04 22:01] ikeough commented on #5097
@jbenoit44 Any update?

[2016-05-04 22:03] ikeough commented on #4620
@jnealb Do we have document talking about localization? What languages are available, and what to do if you want to run Dynamo in a different language?

[2016-05-04 22:03] ikeough commented on #4620
Also...We really appreciate this conversation, but we're trying to move how-to questions and conversations to the forum, and reserve the issues site for bugs and improvement requests. Please post this question to the [Dynamo forums](http://dynamobim.org/forums/forum/dyn/).

[2016-05-04 22:03] #4620 closed

[2016-05-04 22:04] #4630 closed

[2016-05-04 22:05] ikeough commented on #4527
@astoupine Any update here?

[2016-05-04 22:10] #4837 closed

[2016-05-04 22:18] #4380 closed

[2016-05-04 22:18] #4370 closed

[2016-05-04 22:25] ikeough commented on #4267
@sjspikings Any update here?

[2016-05-04 22:26] ikeough commented on #4247
We really appreciate this conversation, but we're trying to move how-to questions and conversations to the forum, and reserve the issues site for bugs and improvement requests. Please post this question to the [Dynamo forums](http://dynamobim.org/forums/forum/dyn/).

[2016-05-04 22:26] #4247 closed

[2016-05-04 22:32] #4764 closed

[2016-05-04 22:33] ikeough commented on #4475
We're closing this issue as it cannot be reproduced on more recent builds of Dynamo. Please re-open if you're still experiencing this problem, or have an example which reproduces the problem.

[2016-05-04 22:33] #4475 closed

[2016-05-04 22:37] ikeough commented on #4106
@urosjovanovic Any update here. Do you have a reproduction case that we can test?

[2016-05-04 22:37] ikeough commented on #4138
@monikaprabhu Do we have an internal bug for this?

[2016-05-04 22:39] ikeough commented on #4490
I'm closing this issue as the requested functionality is now available in recent builds as right click to search in canvas.

[2016-05-04 22:39] #4490 closed

[2016-05-04 22:43] ikeough commented on #4046
We're closing this issue as it cannot be reproduced on more recent builds of Dynamo. Please re-open if you're still experiencing this problem, or have an example which reproduces the problem.

[2016-05-04 22:43] #4046 closed

[2016-05-04 22:47] ikeough commented on #4084
I'm closing this issue as the requested functionality is now available in recent builds as customizable library location. Please re-open if the new functionality doesn't meet your needs.

[2016-05-04 22:47] #4084 closed

[2016-05-04 22:49] ikeough commented on #3831
I'm closing this issue as we do not have enough detail to test it. Please re-open if you're still experiencing this problem and have an example which reproduces the problem.

[2016-05-04 22:49] #3831 closed

[2016-05-04 22:50] ikeough commented on #3787
We really appreciate this conversation, but we're trying to move how-to questions and conversations to the forum, and reserve the issues site for bugs and improvement requests. Please post this question to the [Dynamo forums](http://dynamobim.org/forums/forum/dyn/).

[2016-05-04 22:50] #3787 closed

[2016-05-04 22:51] ikeough commented on #3873
We're closing this issue as it cannot be reproduced on more recent builds of Dynamo. Please re-open if you're still experiencing this problem, or have an example which reproduces the problem.

[2016-05-04 22:51] #3873 closed

[2016-05-04 22:51] ksobon commented on #4893
I haven't noticed. Feel free to close.

[2016-05-04 22:51] #4893 closed

[2016-05-04 22:52] ikeough commented on #4800
@lillismith  Is this still an issue?

[2016-05-04 22:54] jnealb commented on #4620
@ian @pradhu @zack Monika, you have such a document, no? Or do we need to write one?

[2016-05-04 22:55] tayday01 commented on #6228
I have the same report, everytime i try to scroll down in a watch list everything locks up, including revit.

Value cannot be null.
Parameter name: element

   at System.Windows.Media.VisualTreeHelper.GetParent(DependencyObject reference)
   at System.Windows.Controls.VirtualizingStackPanel.FindScrollOffset(Visual v)
   at System.Windows.Controls.VirtualizingStackPanel.OnAnchorOperation(Boolean is

[2016-05-04 22:58] tayday01 commented on #6570
This is also happening to me. scrolling in a watch box.

Value cannot be null.
Parameter name: element

   at System.Windows.Media.VisualTreeHelper.GetParent(DependencyObject reference)
   at System.Windows.Controls.VirtualizingStackPanel.FindScrollOffset(Visual v)
   at System.Windows.Controls.VirtualizingStackPanel.OnAnchorOperation(Boolean isAnchorOperationPending)
   at System.Windows.Controls

[2016-05-04 22:59] mjkkirschner commented on #6570
@tayday01 are you using revit in another language from english?

[2016-05-04 22:59] tayday01 commented on #6570
No just english

[2016-05-04 23:04] tayday01 commented on #6570
Crashes revit 2014 2015 and 2016  running dynamo:

2016-04-29T03:18:16.000Z        82793685       DynamoInstall1.0.0.exe

[2016-05-04 23:18] ralvarez76 commented on #5349
Looks like this is fixed on the build I'm currently running: 1.0.1.1115
This works on reference lines created from Dynamo with manual Form created in Revit. In the project environment, a wall and roof by face created on a Dynamo ImportInstance surface created in Dynamo inside of a family updated properly,

[2016-05-04 23:23] ralvarez76 commented on #4084
Sorry to reopen this, but the customizable library location is about being able to share downloaded and custom nodes.

My original request was about separating the custom node libraries from the core Dynamo nodes in the UI. This is so the core functionality is always found at the top and easier for new users to find, and for us "teachers" to point to consistently. Downloaded and custom nodes would

[2016-05-04 23:36] ikeough commented on #4272
We're closing this issue as it cannot be reproduced on more recent builds of Dynamo. Please re-open if you're still experiencing this problem, or have an example which reproduces the problem.

[2016-05-04 23:36] #4272 closed

[2016-05-04 23:38] ikeough commented on #4262
@monikaprabhu Was this ever tracked?

[2016-05-04 23:39] ikeough commented on #4091
@monikaprabhu Did you ever receive a file?

[2016-05-04 23:40] ikeough commented on #4150
#4168

[2016-05-04 23:40] #4150 closed

[2016-05-04 23:41] ikeough commented on #4086
@fairy420 Any files you can provide us to reproduce this issue?

[2016-05-04 23:43] ikeough commented on #3763
We really appreciate this conversation, but we're trying to move how-to questions and conversations to the forum, and reserve the issues site for bugs and improvement requests. Please post this question to the [Dynamo forums](http://dynamobim.org/forums/forum/dyn/).

[2016-05-04 23:43] #3763 closed

[2016-05-04 23:47] ikeough commented on #3685
I'm closing this request for improvement because, although it's a great idea, it isn't on our road-map to implement. Please feel free to make a contribution to the Dynamo project which adds this feature.

[2016-05-04 23:47] #3685 closed

[2016-05-04 23:47] #3654 closed

[2016-05-04 23:48] ikeough commented on #3654
@madeforworship Please see the "Releases" section on the [front page of this repo](https://github.com/DynamoDS/Dynamo) for information about what's new and what's updated in recent releases.

[2016-05-04 23:49] ikeough commented on #3604
We're closing this issue because the internal issue tracking it has been closed. Please try again with a more recent build of Dynamo, and re-open this if the issue persists.

[2016-05-04 23:49] #3604 closed

[2016-05-04 23:53] ikeough commented on #3486
#4150

[2016-05-04 23:53] #3486 closed

[2016-05-04 23:53] ikeough commented on #3491
I'm closing this issue as we do not have enough detail to test it. Please re-open if you're still experiencing this problem and have an example which reproduces the problem.

[2016-05-04 23:53] #3491 closed

[2016-05-04 23:53] ikeough commented on #3499
We really appreciate this conversation, but we're trying to move how-to questions and conversations to the forum, and reserve the issues site for bugs and improvement requests. Please post this question to the [Dynamo forums](http://dynamobim.org/forums/forum/dyn/).

[2016-05-04 23:53] #3499 closed

[2016-05-04 23:54] ikeough commented on #3520
@ksobon Is the provided example enough to go on?

[2016-05-04 23:56] #3563 closed

[2016-05-04 23:56] ikeough commented on #3791
We really appreciate this conversation, but we're trying to move how-to questions and conversations to the forum, and reserve the issues site for bugs and improvement requests. Please post this question to the [Dynamo forums](http://dynamobim.org/forums/forum/dyn/).

[2016-05-04 23:56] #3791 closed

[2016-05-04 23:57] #3741 closed

[2016-05-04 23:57] ikeough commented on #3781
We really appreciate this conversation, but we're trying to move how-to questions and conversations to the forum, and reserve the issues site for bugs and improvement requests. Please post this question to the [Dynamo forums](http://dynamobim.org/forums/forum/dyn/).

[2016-05-04 23:57] #3781 closed

[2016-05-04 23:58] #3507 closed

[2016-05-04 23:59] ikeough commented on #3504
I'm closing this issue as we do not have enough detail to test it. Please re-open if you're still experiencing this problem and have an example which reproduces the problem.

[2016-05-04 23:59] #3504 closed

[2016-05-04 23:59] ikeough commented on #3503
I'm closing this issue as we do not have enough detail to test it. Please re-open if you're still experiencing this problem and have an example which reproduces the problem.

[2016-05-04 23:59] #3503 closed

[2016-05-05 00:00] ikeough commented on #4192
@BrianFraumeni Any files we can have to test this?

[2016-05-05 00:09] ksobon commented on #3520
Yeah i am fine. Thanks!

[2016-05-05 00:11] tayday01 commented on #6570
also my list isn't null it has a long list of things, and it can be a list of anything.
![crash](https://cloud.githubusercontent.com/assets/19196457/15032982/40cd0a46-121b-11e6-9fc2-573be8235328.jpg)

[2016-05-05 00:15] tayday01 commented on #6570
even this crashed it, just from scrolling

![crash2](https://cloud.githubusercontent.com/assets/19196457/15033034/ad2769a2-121b-11e6-8ffc-f05ecfe34e34.JPG)

[2016-05-05 01:02] lillismith commented on #4800
Don't think we were ever able to reproduce it.

[2016-05-05 01:02] #4800 closed

[2016-05-05 01:36] kronz commented on #2127
I can't reproduce this issue in 1.0

[2016-05-05 01:36] #2127 closed

[2016-05-05 01:39] #4872 closed

[2016-05-05 02:10] aparajit-pratap commented on #6133
@Racel i'm afraid I would have to disagree with you. I don't think the user should be expected to jump through hoops by massaging inputs using list manipulation nodes (like List.Chop) before passing them into a node in order to see the expected result. The node should just work as it is advertised to do. As @dimven rightly pointed out the same issue exists with the `BoundingBox.ByGeometry` node an

[2016-05-05 02:35] ke-yu commented on #6133
This issue has been there for a long time. It is because of function overload with same amount of parameters. Though putting a node on canvas is a static behavior, function dispatch is purely dynamic, depending on the data that connect to the node, so @Racel 's suggestion of putting a boolean input won't fix the problem.

There are two ways to fix it. One way is to fix in the language to make the

[2016-05-05 02:48] ke-yu commented on #6528
@ThomasMahon @Racel @ikeough @mjkkirschner it is a bug that replication guide is not applied to default parameter.

Replication guide is used to do explicit iteration, even if no replication will happen. So once an argument has replication guide appended, say `x<1>`, function is guaranteed to replicate on `x`. If `x` is a single value, it will be promoted to a list so that it could be iterated. Th

[2016-05-05 06:24] ikeough commented on #459
I'm closing this issue as it cannot be reproduced on more recent builds of Dynamo. Please re-open if you're still experiencing this problem, or have an example which reproduces the problem.

[2016-05-05 06:24] #459 closed

[2016-05-05 07:26] TomasTar commented on #6505
Hi Neal,
Please see Import / Export views below.
![import export excel to dynamo](https://cloud.githubusercontent.com/assets/18613917/15038341/ee1a9efa-129a-11e6-8723-c37feafd9620.JPG)
![import export data to excel](https://cloud.githubusercontent.com/assets/18613917/15038347/f4dc85a0-129a-11e6-81c5-32d7fde4582b.JPG)

[2016-05-05 08:08] andydandy74 commented on #6575
Another thing I noticed today was that the package paths from DynamoSettings.xml also get copied to the DynamoSettings.xml of the newly installed version. This should be optional, too. (We have version-specific package paths at our office and I'm sure we're not the only ones...)

[2016-05-05 08:10] andydandy74 commented on #6575
@ikeough - not sure why this is tagged as ```package manager```. Isn't it an installer isuue?

[2016-05-05 08:18] andydandy74 commented on #1968
@ikeough - This is not an error per se. This is simply a request to set the above mentioned package as deprecated in the PM database on your end since it cannot be done via the UI (possibly because the package name contains a slash).
I don't think this something that needs fixing in the package manager code since slashes are no longer allowed in package names.

[2016-05-05 09:03] andydandy74 commented on #5268
@ikeough - No, i think this wasn't even in 0.9 any more. Closing.

[2016-05-05 09:03] #5268 closed

[2016-05-05 09:33] andydandy74 commented on #364
This is still present in 1.0 - exporting small graphs works, exporting large graphs fails spectacularly.

[2016-05-05 14:43] jnealb commented on #4689
@ondejcik @ikeough No.

[2016-05-05 14:49] jnealb commented on #4084
@ralvarez76 @Racel @ikeough We are in the process of improving the Library ui and its search and thank you for your valuable feedback.

[2016-05-05 15:10] jnealb commented on #6575
@andydandy74 @ikeough It is, and we are working towards better migration of user settings across upgrades.

[2016-05-05 17:00] ikeough commented on #4689
I'm closing this issue as we do not have enough detail to test it. Please re-open if you're still experiencing this problem and have an example which reproduces the problem.

[2016-05-05 17:00] #4689 closed

[2016-05-05 17:02] #3520 closed

[2016-05-05 17:03] ikeough commented on #5349
@ralvarez76 Thanks for the update!

[2016-05-05 17:03] #5349 closed

[2016-05-05 20:10] josols opened #6580 "Improvement: Dynamo Studio vs Dynamo Core vs Dynamo Studio"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](http://dynamobim.org/forums/forum/dyn/), and start a thread there to discuss your issue.

## Dynamo version

Dynamo 1.0.0 (Dynamo for Revit, Dynamo Studio)

[2016-05-05 20:33] sjspikings commented on #4267
Hi,
I repeated the test with Dynamo 1.0 and get the same result. I think the problem is that the volume of the void is being added to that of the host rather than subtracted which would explain where the CoG is being located. Let me know if you would like me to forward the original files.

[2016-05-05 20:42] mccrone opened #6581 "Curve.SplitByPoints discards segements of polycurves past the split point"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](http://dynamobim.org/forums/forum/dyn/), and start a thread there to discuss your issue.
## Dynamo version

1.0
## Operating system

Windows 7
## What did

[2016-05-05 21:21] mccrone opened #6582 "Curve.SegmentLengthBetweenParameters not implemented for PolyCurves"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](http://dynamobim.org/forums/forum/dyn/), and start a thread there to discuss your issue.
## Dynamo version

1.0
## Operating system

Windows 7
## What did

[2016-05-05 21:38] ikeough commented on #6582
@mccrone Were you expecting to see a list of lengths corresponding to the distance between those parameters on each sub-curve of the polycurve?

[2016-05-05 22:18] kronz commented on #6565
@ikeough is there anything for us to do here?  With the restart of the the server, we aren't having the earlier identified issues associated with systems that don't have the RestSharp conflict.  Also seems like the original bug isn't accurate, should we cloase this and open a more specific description?

[2016-05-05 23:36] ikeough commented on #4267
@sjspikings Yes, you can attach a .dyn file here by renaming it with a .jpg extension and dropping it into the conversation.

[2016-05-06 02:44] ikeough commented on #6565
@kronz A server restart was required? If that did anything, it wasn't related to this issue. Can you give me more details?

Strong naming an assembly is going to add a painful step to our process. We're trying to get rid of binaries in our repo, _not_ add them back in, and strong naming would require that we keep a copy of RestSharp in our repo, and that whenever we wanted to update that dlls, we'

[2016-05-06 02:53] dimven opened #6584 "Disabling "Revit Background Preview" disables Dynamo's background preview for the next session."
(not sure if I should classify this issue under Revit or under Core)

## Dynamo version

1.0.0.1180 (also happens in 0.91/0.92)

## Operating system

Windows 7

## What did you do?

Turned off the Revit background preview. Everything worked as expected. However once Dynamo was restarted, the Dynamo background preview was also turned off.

## What did you expect to see?

Dynamo's BGP should have re

[2016-05-06 03:15] kronz commented on #6565
@ikeough there were issues around changing version versus new uploads where (with machines having no Trello plug in) they seemed to be irregularly failing silently.  @mjkkirschner and @QilongTang suspected it had to do with responsiveness of the server, and it seems that those issues have disappeared over since the server was restarted.

[2016-05-06 06:13] sjspikings commented on #4267
@ikeough Copy of Dynamo script and test family attached.
![cog test - home dyn](https://cloud.githubusercontent.com/assets/12006145/15065676/f49d8c14-1359-11e6-885e-602658ab1262.jpg)
![hcd-380_cog test rfa](https://cloud.githubusercontent.com/assets/12006145/15065679/f9d64324-1359-11e6-893d-3b11e48c2b8a.jpg)

[2016-05-06 06:42] mjkkirschner commented on #6565
Something we discussed today was checking all currently loaded assemblies and comparing these to a list of our usual required assemblies on start of dynamoRevit addin, if an older version is found we can alert the user that an incompatible addin is installed.

[2016-05-06 10:20] andydandy74 commented on #5540
This is still an issue in 1.0 - I find this very disruptive to the overall workflow...
![suckysearch](https://cloud.githubusercontent.com/assets/3014437/15070483/d3053216-1384-11e6-9180-38669ba1bf2c.PNG)

[2016-05-06 12:43] ThomasMahon opened #6585 "Improvement: Offset methods controlled using a direction point"
## Dynamo version

1.0.0

## Operating system

Win 10

## Improvement Suggestion
I would like to suggest a significant improvement to the Curve.Offset, PolyCurve.Offset and Surface.Offset nodes. Currently there is no means to control the offset direction.

This is highly problematic if the offset direction is important. For example, I had to offset an ellipse inwards. The primary ellipses radii ar

[2016-05-06 13:05] ThomasMahon commented on #6528
@Racel @ikeough @mjkkirschner @ke-yu I thought I would share some ideas on the data matching techniques.

Ultimately, it follows one simple rule: index [0] gets matched with index [0] starting with rank 1, then moves inwards. In the example I posted, this would result in the Z not replicating.

It seems to me that Dynamo default data matching logics does the reverse, working from the deepest rank,

[2016-05-06 13:19] jnealb commented on #5540
@andydandy74 @pboyer @Racel Agreed; work in progress.

[2016-05-06 14:03] archinate commented on #6565
@ikeough and @kronz  I'll check out what it means to use the newest version of RestSharp.  It is actually dependency that is part of another library I am using so I don't know what affect it might have on that library. Happy to look into this as a near term solution.

It just seems a bit odd that Dynamo functionality would have a conflict with an unrelated addin in Revit, no? The addin I am develo

[2016-05-06 15:01] jnealb commented on #6505
@TomasTar @ikeough @ThomasMahon Thank you, we are tracking this with MAGN-10079.

[2016-05-06 15:40] jnealb commented on #6570
@kidasse Can you please run the Dxdiag utility and send me its output as a file? neal.burnham@autodesk.com. Thanks.

[2016-05-06 16:02] ikeough commented on #6570
@jnealb The stack track points to an exception in WPF. Specifically, the virtualizing panel used in the watch node. Google says:
http://connect.microsoft.com/VisualStudio/feedbackdetail/view/973860/argumentnullexception-in-virtualizingstackpanel

[2016-05-06 16:14] ikeough commented on #6565
@archinate This is not a problem specific to Dynamo. Revit loads all addins into the Revit [AppDomain](https://msdn.microsoft.com/en-us/library/2bh4z9hs(v=vs.110).aspx) (or one app domain for all addins - we should check). If any two addins try to load different versions of an assembly, and those versions are different in a way that could cause one of the addins to fail, with a `MissingMethodExcep

[2016-05-06 16:48] ksobon commented on #6584
Yup, I noticed that too.

[2016-05-06 16:53] ksobon commented on #6582
I think he wanted to see 170 as that would be a (0.2-0.1)*1700 (assuming that curve domain was unitized between 0-1)

[2016-05-06 16:56] ksobon commented on #6585
This would be great to have! CC: @aparajit-pratap

[2016-05-06 17:18] jnealb commented on #6570
@ikeough Thanks @kidasse One more question: what was your upgrade\installation process to Dynamo 1.0, specifically what prior versions did you have installed, if any?

[2016-05-06 18:06] jnealb commented on #6584
@dimven @ksobon @kronz This is tracked as MAGN-9757.

[2016-05-06 21:34] mccrone opened #6586 "Geometry.Split breaks up polysurfaces into constituent surfaces making the results unusable"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](http://dynamobim.org/forums/forum/dyn/), and start a thread there to discuss your issue.
## Dynamo version

1.0
## Operating system

Windows 7
## What did

[2016-05-06 21:42] mccrone commented on #6582
![expectedanswer](https://cloud.githubusercontent.com/assets/6430819/15086858/efcfb466-13b1-11e6-98f9-364d4ae7a249.png)

@ikeough

[2016-05-06 21:56] mccrone commented on #6586
Attached is the dyn as a .txt.

[SplitSurface.txt](https://github.com/DynamoDS/Dynamo/files/253079/SplitSurface.txt)

[2016-05-07 01:38] dimven commented on #6585
It'd great to see these implemented natively. However keep in mind that the geometry engine that Dynamo uses is not part of Dynamo itself and is under a separate team. Thus any changes to it will will take a while to propagate to Dynamo.

We already have all of  the basic tools to implement custom node solutions for all of the above tasks. Check out spring nodes' "ClosedCurve.Offset+" and "Curve.O

[2016-05-07 02:15] ke-yu commented on #6586
cc @aparajit-pratap @Randy-Ma

[2016-05-07 02:48] ke-yu commented on #6528
@ThomasMahon Replication (not replication guide, if no lacing is applied) processing always start from the outermost list, not from the innermost element. For example,

[code]
As the dimension of input is larger than the dimension of parameter that `foo()` expects, replication will happen here. But if it works as you said from the innermost element, replication will looks like
[code]
So this proce

[2016-05-07 09:27] jhubers commented on #4776
In the left menu of Dynamo 1.0.0 I have several undesirable entries (CSharpAnalytics, Cyotek, DynamoCoreWpf, FontAwesome, GraphLayout, LibG, MyDataCollector, ProtoScript, RestSharp). Probably has something to do with missing `[IsVisibleInDynamoLibrary(false)]` attributes. But where should they be put?
![image](https://cloud.githubusercontent.com/assets/1529297/15091332/ba0d288c-1446-11e6-93e0-c320

[2016-05-07 10:04] ThomasMahon opened #6589 "Improvement: Geometry 'interfaces' to extend Dynamo functionality"
## Dynamo version

1.0.0

## Operating system

Win 10

## Improvement Suggestion
Would it be possible to extend Dynamos functionality to include the concept of 'Interfaces'.

It would help to make parametric models far more efficient (from a processing time standpoint) and ultimately improve Dynamo's capacity to deliver large-scale projects. It would also improve graph legibility (less nodes) by r

[2016-05-07 10:33] ThomasMahon opened #6590 "Improvement: Excel.ReadFromFile and Excel.WriteToFile inconsistent file input datatypes"
## Dynamo version

1.0.0

## Operating system

Win 10

## Improvement Suggestion
I notice that the Excel.ReadFromFile and Excel.WriteToFile use different datatypes as the file path input.

The Excel.WriteToFile uses a string input whereas the Excel.ReadFromFile doesn't and requires an additional File.FromPath node? I think the path input datatype should be consistent.

*Also, very minor, but simpl

[2016-05-07 10:39] andydandy74 commented on #6590
No, this is by design. The File.FromPath node tracks will dirty once the monitored file has changed (which makes sense when reading but not when writing a file).

[2016-05-07 11:10] jhubers commented on #4776
`InportData` is obsolete and several attributes should be used. But how can I add inputs dynamically then and serialize and deserialize them?

[2016-05-07 11:33] ThomasMahon commented on #6590
@andydandy74 That does make sense - thanks for pointing it out.

[2016-05-07 11:33] #6590 closed

[2016-05-07 12:20] sharadkjaiswal commented on #6589
@ThomasMahon I think we need a feature in language which makes use of conversion constructor. i.e. If Plane has a constructor which takes arc, then when arc is passed to a node expecting plane, the DesignScript language compiler will automatically insert a statement to call the corresponding constructor to convert the arc into a plane. @ke-yu, thoughts?

[2016-05-07 15:54] ke-yu commented on #4776
@jhubers `InportData` is still used internally. Let's check with related developer to confirm whether this obsolete attribute is still appropriate or not.

[2016-05-07 16:02] ke-yu commented on #6589
@sharadkjaiswal then now you get a different object. We either make DesignScript be more static, or make function be more dynamic, i.e., not specifying parameter type.

[2016-05-07 18:35] ThomasMahon commented on #6589
@ke-yu @sharadkjaiswal is it not possible to simply report the default type as the input but have the Interfaces as a higher-level concept for more advanced users 'in the know'? I guess, similar in complexity and therefore understanding as replication methods and guides?

[2016-05-07 18:48] ke-yu commented on #6589
@ThomasMahon , as under the hood nodes are converted to DesingScript code, and DesignScript itself is a dynamic language, we need to think about if adding interface to DesignScript makes sense or not.

Or, the type of parameter is just an annotation, instead of enforcing type conversion.

[2016-05-08 07:06] vykrum opened #6591 "Nested functions in CBN require restart to update"
## Dynamo version

1.0.1.1250
## Operating system

Windows 10
## What did you do?

Updated a function definition that was a nested within another function in a code block
## What did you expect to see?

The function to update, just as if now does when not nested
## What did you see instead?

The nested function doesn't update. But, if called directly, it does
Works fine on reopening the file.

In

[2016-05-08 09:08] jhubers commented on #4776
@ke-yu Hi, please do check the use of attributes instead off the `InportData` property (`ObservableCollection<PortData>`) in the case of a node with variable number of inputs. Like e.g. the `CreateList` node. I don't understand how that could work. Here ([https://github.com/DynamoDS/Dynamo/pull/5340](url)) I found a discussion concerning this issue, but I don't fully understand it. When I check th

[2016-05-08 10:07] dimven commented on #6510
Each node placed on the canvas already has a unique id. That's how the graph tells identical nodes apart... It'd be much better to expose the GUID through some back-end referencing mechanism than to trouble the user of adding a unique name on placement.

[2016-05-08 10:35] dimven commented on #6589
I have one big reservation with this - the more dynamic and overloaded you make the inputs, the more pre-processing and evaluation you'll need to figure out the right end result. This added overhead can build up and drag performance down. As long as the overhead for this is minimal, I'm ok with the idea, but  I'd personally prefer if the focus could be shifted on improving performance and stabilit

[2016-05-08 17:30] ThomasMahon commented on #6589
The main benefits of interfaces are graph legibility and most importantly, greater efficiency handed to the user, particularly in terms of problem solving. On complex design problems this is essential - and lets not forget what Dynamo is there to do. There may be some compromise to the software in the back end, but really you highlight a dilemma faced by every software application on the planet, n

[2016-05-08 17:41] ThomasMahon commented on #6589
@ke-yu The latter is my suggestion - I appreciate that this may ultimately 'weigh down' the software, but since the object types I've categorised above would (I assume) already have to implement the 'parent' feature to instantiate, maybe the overheads might not be too great. It would be great to see - coordinate systems at the very least - they are after all 'point-like'!

Naturally though my sugg

[2016-05-08 17:56] ThomasMahon commented on #6510
That would certainly be good practice and custom nodes help, however when confronted by a large graph, for arguments sake with say multiple List.Map nodes (I have a graph that does incidentally), without renaming them to something more meaningful like: ptPrimaryStructuralOrigins, ptLandingOrigins, etc the graph quickly becomes almost meaningless and unusable, so renaming nodes is not only best-pra

[2016-05-09 00:01] dimven commented on #6510
To further clarify what i meant in my comment above : _"...might impede of the readability of the graph..."_ - what I meant to say was that it might affect the overall comprehension, or flow,  of the graph. I.e. what's a good way to visually identify where the wireless connections are enforced? Do you also need to differentiate multiple outbound connectors? If I have multiple wireless connectors g

[2016-05-09 02:15] ke-yu commented on #4776
@ramramps , couple of input port and output port related properties and methods are marked as obsolete, e.g., `NodeModel.RegisterOutputPorts()`, `NodeModel.InPortData` and so on. What are replacements for these methods and properties?

[2016-05-09 02:42] vykrum opened #6593 "Unwarranted warning"
## Dynamo version

1.0.1.1250
## Operating system

Windows 10
## What did you do?

Opened a fresh Dynamo session of an error free definition.
## What did you expect to see?

All nodes having the same color, with no indication of any errors.
## What did you see instead?

A yellow code block with a warning informing that a method hasn't been found even though the method/function is available in anot

[2016-05-09 07:40] vykrum opened #6595 "Surface.PointAtParameter"
## Dynamo version

1.0.1.1250

## Operating system

Windows 10

## What did you do?

Surface.PointAtParameter

## What did you expect to see?

Points confined to within the surface like on this other lofted surface..

![20160509-1a](https://cloud.githubusercontent.com/assets/5621624/15106407/c55db3e0-15e6-11e6-8b22-4933bad11c9a.png)

## What did you see instead?

![20160509-1](https://cloud.github

[2016-05-09 08:19] andydandy74 commented on #6595
Sometimes this is actually useful. But there should be an easy way of eliminating points that are not loacted within a trimmed surface, perhaps a boolean toogle in the ```Surface.PointAtParameter``` node.

[2016-05-09 09:02] ThomasMahon commented on #6510
I did understand you and you're absolutely right - could be easy to fix: click the receiving node and a 'ghost' wire displays showing the dependency back to the source. Grasshopper is a good precedent for this behaviour when hiding wires for example.

Wireless nodes are side issue though - I want to remain on topic: 1. callable nodes (that are present on the graph) would be highly beneficial for a

[2016-05-09 11:36] vykrum commented on #6595
@andydandy74 Agree it could be useful in some cases as a sort of *bounding grid*
But in this case, the points beyond the surface are placed at elevations corresponding to part of some geometry that has been split and removed. Not sure if such phantom points that retain memory of discarded geometry are desirable.
In any case, the behavior of the node needs to be consistent, considering both the ima

[2016-05-09 12:21] kronz commented on #6591
@keyu

[2016-05-09 12:33] ke-yu commented on #6591
@vykrum that is expected. Whether to trigger update or not is *undecidable*. For example,
[code]
Here calling `bar()` or not in `foo()` is undecidable, this kind of update is not supported.

[2016-05-09 12:44] vykrum commented on #6591
@ke-yu As this used to be the behavior with even non nested functions earlier, I assumed this is something that could be resolved.
Ignorant of the technicalities and cost/possibility of doing so, but certainly would be good for nested functions to behave the same as non nested ones. Reopening the file to set right the issue doesn't seem right.

[2016-05-09 13:04] kronz commented on #6586
We've had some discussion about this a long time ago.  The summary from Patrick was that "The geometry library offers no guarantee that geometry objects on both sides of a split are kept together, the array can return any number of items, and it is assumed the user will sort though them to find the correct pieces to stick together.  This would add a substantial amount of complexity to the geometry

[2016-05-09 13:32] mccrone commented on #6586
I can definitely understand that that will be difficult since the geometry library doesn't give this for free.

My reason: I ran into the need for this feature while working on a paneling problem.  The surface can only accurately be modeled as a polysurface, which makes it impossible to use simpler tools (like Paneling Tools for Rhino) that work with surface parameters.  Rhino, and therefore Grass

[2016-05-09 13:52] mccrone commented on #6595
@vykrum if you want to discard the points that are past the surface, use the test: Geometry.DoesIntersect with the surface, then discard the points that return a false result with FilterByBoolMask.

[2016-05-09 15:25] vykrum commented on #6595
@mccrone Earlier, had to use Point.Project in a similar way as a work around while using *Surface.PointAtParameter*. As of mid last month thought that wouldn't be necessary anymore. But seems like in some cases might still need to resort to that approach while in some other cases it won't be necessary as it works well.

[2016-05-09 16:29] brencass commented on #6505
I thought i will bring some information on this, as i am currently having this issue as well.

Current System setup:
OS:Windows 8.1 - fully up to date
Dynamo versions: 0.8.2, 0.9.2 and 1.0
Excel Version: Office 2010 64bit professional -  full install and all updates installed
Note: it did work previously prior to a reformat of the system i did 6 months ago.

It seems as if it is not able to instig

[2016-05-10 03:10] kronz commented on #6595
@aparajit-pratap

[2016-05-10 06:10] ParametricMonkey opened #6598 "Hints in custom node not showing in 1.0.0"
## Dynamo version

1.0.1

## Operating system

Windows 7

## What did you do?

Updating BVN Dynamo package to version 1.0.0

## What did you expect to see?

Custom nodes should be copied across unchanged

## What did you see instead?

The custom nodes in 1.0.0 have lost all the comments and hints from the inputs

[2016-05-10 06:33] dimven commented on #6586
Hi @mccrone
Is it possible to change the split order? First you do the vertical single split and then you do horizontal multi split for each resulting surface.

Alternatively, if you could do a 2d analysis of the resulting faces and the splitting tool, you should be able to stitch them back together:

![2016-05-10_14-31-42](https://cloud.githubusercontent.com/assets/7148394/15137378/0bedea16-16bc-

[2016-05-10 09:54] dimven commented on #6581
How about the following temporary workaround:

![2016-05-10_17-54-35](https://cloud.githubusercontent.com/assets/7148394/15142548/20268508-16d8-11e6-937e-c1df9ef84de1.png)

[2016-05-10 13:09] mccrone commented on #6581
@dimven nice!  My workaround was a little less elegant: I reversed the curve, split that, and took the first result

[2016-05-10 13:30] ThomasMahon opened #6600 "Vector 'Show Labels' not working"
## Dynamo version

1.0.0

## Operating system

Win 10.0

## What did you do?

Clicked on 'Show Labels' for the vector node

## What did you expect to see?

The index labels of the vector array

## What did you see instead?

Nothing! This setting doesn't appear to work with any vector regardless of which node has been used to create it

[2016-05-10 13:35] ThomasMahon opened #6601 "Improvement: Create new note placement a nuisance"
## Dynamo version

1.0.0

## Operating system

Win 10

## Improvement suggestion
Admittedly this is minor, but an annoyance nonetheless: whenever a new note is added to the graph, it centres...which (well for me anyway) almost always means its 'buried' underneath a node giving the impression no new note has been added to the graph. I then have to shift nodes around to find it!

Any chance it can b

[2016-05-10 14:32] andydandy74 commented on #6601
Agreed. I'd like to see the ```New Note``` command as a right-click option on canvas which should place the node where I clicked.

[2016-05-10 19:31] kronz commented on #6600
@ThomasMahon Vectors, like bounding boxes and topology, are abstract geometry and not graphically visualized. This isn't a bug, but I'll set this as an improvement.

[2016-05-10 20:31] ThomasMahon commented on #6600
@kronz thanks - would be a highly welcome improvement

[2016-05-10 20:35] ThomasMahon opened #6603 "Improvement: Groups within groups"
## Dynamo version

1.0.0
## Operating system
Win 10

## Improvement Suggestion:
Groups within groups - would really help to keep graphs better organised and demystify data flow or important 'sub-groups' of nodes. This request was also made by a recent user group I was training.

[2016-05-10 20:43] ThomasMahon opened #6604 "Impovement: Edit Node Name dialog behaviour improvements"
## Dynamo version
1.0.0

## Operating system

Win 10

## Improvement Suggestion
When renaming nodes, I find it odd that pressing the Enter key creates a new line...and more text can be added to the node name? I would expect the Enter key to simply accept my input and exit out of the Edit Node Name dialog. Any chance this behaviour can be changed?

Renamed node:
![rename node](https://cloud.githubu

[2016-05-10 21:01] ThomasMahon opened #6605 "Curve.PointsAtEqualSegmentLength returning incorrect number of points"
## Dynamo version

1.0.0
## Operating system

Win 10
## What did you do?

Used the Curve.PointsAtEqualSegmentLength to create an array of points on a closed curved (the problem affects any type of curve).
## What did you expect to see?

I expected an array of points that count the same as the number of divisions I input.
## What did you see instead?

One point less than my divisions input. Inciden

[2016-05-10 21:03] andydandy74 commented on #6604
Strange behavior indeed, especially since Node titles on canvas are constrained to a single line in any case. ;-)

[2016-05-10 21:15] ThomasMahon opened #6606 "Improvement: 'helper' inputs for closed curves using Curve.PointsAtEqualChordLength or Curve.PointsAtEqualSegmentLength"
## Dynamo version

1.0.0
## Operating system

Win 10
## Improvement Suggestion

The Curve.PointsAtEqualChordLength or Curve.PointsAtEqualSegmentLength nodes need a big improvement to deal with closed curves.

I expect to see points arrayed equally between the curves parameter (t) space. Instead, both nodes place points one division before the end of the curve, leaving a big gaping gap in an otherw

[2016-05-10 23:04] mccrone commented on #6586
@kronz apparently not _so very_ expensive :P

Now available in Ampersand.  PolySurface.Split.

![image](https://cloud.githubusercontent.com/assets/6430819/15164895/dde7b290-16df-11e6-951c-188508d256f5.png)

Answer is to explode the polysurface into individual surfaces, perform a split operation on every single one, throw it all together in a soup of surfaces, and use graph search algorithm to sort

[2016-05-11 05:50] riteshchandawar commented on #6565
@archinate @ikeough @jnealb Internal issue has been closed with verified status.

@archinate Can you please confirm it at your end?

Thanks,
Ritesh

[2016-05-11 12:20] vykrum opened #6612 "Point At Parameter on Projected curve"
## Dynamo version

1.0.1.1311

## Operating system

Windows 10

## What did you do?

Curve.PointAtParameter on a projected curve

## What did you expect to see?

Specified multiple parameters and expected multiple points (as it did on the original curve)

## What did you see instead?

Just one point

![20160511-2](https://cloud.githubusercontent.com/assets/5621624/15180696/c942bfe4-17a0-11e6-9840-

[2016-05-11 12:46] kronz commented on #6612
Hi @vykrum.  I hate to say it, but everything here is behaving as designed.  First, Curve.Project, and really all of our intersection event operations, will return a list.  Imagine you are projecting a curve on a "c" shaped geometry, you will get 2 or more curves as a result.  These kinds of operations are set up to give consistent structures.  Second, lists are things, if you are passing a list o

[2016-05-11 12:46] #6612 closed

[2016-05-11 13:21] vykrum commented on #6612
@kronz Realized that lacing solves the problem, but it didn't feel right. No way to reduce single items to non lists? (Apologies in advance for my ignorance)
Also the points are not evenly spaced on the projected curve. But I suppose that is a separate issue.

[2016-05-11 14:46] ikeough commented on #6565
@archinate See @sm6srw's comments on https://github.com/DynamoDS/DynamoRevit/pull/988#issuecomment-218251554

[2016-05-11 15:22] kronz commented on #6586
@aparajit-pratap what do you think?  Seem like a transferable and robust approach?

[2016-05-11 16:12] archinate commented on #6565
@ikeough Understood.  I am in touch with a few app developers that are having similar issues with their tools and dependent libraries conflicting with Dynamo and we may have a few solutions to try. There are more folks than just me using RestSharp, etc in their tools so it goes beyond "Nate's crazy alpha Trello tool"! :)

In looking at what ships with Dynamo, there are many common libs in there th

[2016-05-11 17:23] kronz commented on #6612
All good questions.  If you know that you are always going to only get a single item, List.FirstItem is a good method. The points are evenly spaced for the parameter space of the curve.  If you want equal segment or chord length, use Curve.PointsAtEqualSegmentLength, Curve.PointsAtEqualChordLength
![2016-05-11_1323](https://cloud.githubusercontent.com/assets/3456818/15189966/881da8e6-177b-11e6-8ea

[2016-05-11 21:52] kronz commented on #6606
@aparajit-pratap this seems like an oversight, especially as our other similar tools include start and end points.  Any particular reason for the current implementation? Thanks

[2016-05-12 04:05] dimven opened #6617 "Curve.PointAtChordLength problems"
## Dynamo version

1.0.0.1180
## Operating system

Windows 7
## What did you do?

Used the "Curve.PointAtChordLength" to place points evenly on a curve.
1) It worked for an open curve.
2) It placed the points incorrectly on a closed curve
3) It outright fails for a Polycurve & Rectangle input types
## What did you expect to see?

![2016-05-12_11-52-22](https://cloud.githubusercontent.com/assets/71

[2016-05-12 05:16] riteshchandawar commented on #6617
@aparajit-pratap Can you please take a look at this?

Thanks,
Ritesh

[2016-05-12 05:45] riteshchandawar commented on #6605
@aparajit-pratap Please take a look at it.

Thanks,
Ritesh

[2016-05-12 05:49] riteshchandawar commented on #6606
Here is the issue for tracking internally. http://adsk-oss.myjetbrains.com/youtrack/issue/MAGN-10099

[2016-05-12 05:59] riteshchandawar commented on #6604
@rk-lakshmanan Can you take a look at this and fix this behavior.

[2016-05-12 06:02] riteshchandawar commented on #6598
@ke-yu Can you please take a look at this.

Thanks,
Ritesh

[2016-05-12 06:05] riteshchandawar commented on #6595
Here is the issue for internal tracking. http://adsk-oss.myjetbrains.com/youtrack/issue/MAGN-9320
Although the issue not similar to the above but while fixing that issue we can to consider this scenario as well.

Thanks,
Ritesh

[2016-05-12 06:08] riteshchandawar commented on #6582
@aparajit-pratap Can you please take a look at it?

Thanks,
Ritesh

[2016-05-12 06:37] jhubers commented on #4776
@ke-yu Hi, I tried several things, but couldn't get it to work. When I use the `InPorts` with a UI node that  can add inputs, the first Run the `InPorts` are fine, based on the attributes. But when I try to add a `PortModel`,  `InPorts` is empty. Solved that by storing the `InPorts` in a property as follows:
[code]
That works, and I can add `PortModel` to `myInports`. But when I try then to fill t

[2016-05-12 06:49] aparajit-pratap commented on #6595
@riteshchandawar 9320 is an unrelated issue. That is related to the ASM scaling issue. Marking this as an improvement.

[2016-05-12 08:28] rk-lakshmanan commented on #6604
@riteshchandawar  Created PR for the issue:https://github.com/DynamoDS/Dynamo/pull/6618

[2016-05-12 09:45] ke-yu commented on #4776
hi @jhubers , I think you might try `InPortData` instead of `InPorts`. E.g.,
[code]

[2016-05-12 13:43] jnealb commented on #6570
@kidasse Can you please disconnect your PS2 mouse and hook up a USB one and see if the issue persists? Thanks.

[2016-05-12 20:45] ThomasMahon opened #6620 "Static methods fail in Imperative DesignScript code"
## Dynamo version

1.0.0
## Operating system

Win 10
## What did you do?

Used a static method Curve.PointAtParameter() to put a point on a list of curves in an imperative DesignScript def. I used a for loop to iterate a collection of closed curves.
## What did you expect to see?

A point at the specified parameter on each of the curves iterated by the loop
## What did you see instead?

nulls.

Us

[2016-05-12 21:03] ThomasMahon opened #6621 "Improvement: String.Format method needed!"
## Dynamo version

1.0.0

## Operating system

Win 10

## Improvement Suggestion
I was looking for a String.Format (same as c# method) node and discovered there isn't one!

Any chance one can be added to the library, or DesignScript at the very least?

[2016-05-13 01:50] sharadkjaiswal commented on #6580
@josols, In this release we have consolidated the package manager downloads, and if a user has downloaded a package for Studio, that package is automatically available for Revit. So you don't need to install your package twice. However if the package was downloaded by Dynamo for Revit, then those packages will not be available on Studio, because some of those packages may not work on Dynamo Studio

[2016-05-13 02:27] kronz commented on #6621
@ThomasMahon please try "String from Object".  If this doesn't do what you need, please re-open and describle the desired behavior

[2016-05-13 02:27] #6621 closed

[2016-05-13 09:21] ThomasMahon opened #6623 "Improvement: String.Format method needed!"
## Dynamo version

1.0.0

## Operating system

Win 10

## Improvement Suggestion
I was looking for a String.Format (same as c# method) node and discovered there isn't one!

Any chance one can be added to the library, or DesignScript at the very least?

What I need is the equivalent to c# `String.Format` method: an input string with the ability to define insert indexed locations (in c# its defined

[2016-05-13 10:49] jhubers commented on #4776
@ke-yu `InPortData` is obsolete. That is what I try to stop using...

[2016-05-13 10:54] kidasse commented on #6570
Hi,
One of the computers on which I tested has a usb mouse and the problem was
the same.

2016-05-12 15:43 GMT+02:00 Neal Burnham <notifications@github.com>:

[2016-05-13 11:29] josols commented on #6580
I'm not sure you understood me correctly. Features such as the dwg handling capabilities of dynamo studio. How will this be available to me as a dynamo for Revit user?

[2016-05-13 13:25] jnealb commented on #6570
@kidasse Is it possible for us to remote into your machine?

[2016-05-13 13:35] kronz commented on #6623
This isn't using your indexing, but the DesignScript below seems to address the need.  How does the indexing help?
temp = 30;
location = "London";
"The temperature is "+ temp + "°C in " + location + ".";
![2016-05-13_0935](https://cloud.githubusercontent.com/assets/3456818/15249536/08d2541e-18ee-11e6-9572-17843ffa50a5.png)

[2016-05-13 15:33] jnealb commented on #6623
ye olde sprintf?

[2016-05-13 19:55] sm6srw commented on #5702
This was fixed in 0.9.2 for Revit 2015, 2016 and 2017.

[2016-05-13 19:55] #5702 closed

[2016-05-14 15:42] ThomasMahon commented on #6623
@kronz concatenation is an option, however I primarily use String.Format when working with naming conventions as its more concise and easier to use, especially when complex naming conventions are involved (say UK BS1192-1).

Here's a recent example: I have to place any one of the following 12 adaptive components based on the configuration of a prefab building. As the building parameters change, th

[2016-05-16 04:13] vykrum opened #6626 "Crash Report 20160515"
## Dynamo version

1.0.1.1334

## Operating system

Windows 10

## What did you do?

Changed the value in the second line of the code block on the right from d[0][1] to d[1][1]
![20160516-5](https://cloud.githubusercontent.com/assets/5621624/15280141/91b007d2-1b4a-11e6-8cd4-9572555975cd.png)

## What did you expect to see?

Nothing. Intended to alter the code block further

## What did you see ins

[2016-05-16 12:35] kronz commented on #6626
@marimano can you take a look at this?
FYI @ramramps

[2016-05-16 12:37] ramramps commented on #6626
@kronz - My guess is this will be fixed in the latest version on preview bubble.
@jnealb - Please test this when you get the new preview bubble for testing.

[2016-05-16 13:18] vykrum opened #6629 "Crash Report 20160516"
## Dynamo version

1.0.1.1334

## Operating system

Windows 10

## What did you do?

Working on code in a code block. Routine actions nothing unusual.
Might have been altering Replication guides. Not sure though.

## What did you expect to see?

Nothing in particular

## What did you see instead?

Object reference not set to an instance of an object.

   at ProtoCore.DSASM.StackValueComparer.GetHa

[2016-05-16 14:59] AndrewHeumann opened #6630 "component search is unusably slow"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](http://dynamobim.org/forums/forum/dyn/), and start a thread there to discuss your issue.
## Dynamo version

1.0
## Operating system

Windows 7
## What did

[2016-05-16 15:04] AndrewHeumann opened #6631 "run mode menu coloration is misleading"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](http://dynamobim.org/forums/forum/dyn/), and start a thread there to discuss your issue.
## Dynamo version

1.0
## Operating system

windows 7
## What did

[2016-05-16 16:05] ikeough commented on #6630
This is related to #5270 and possibly #6132.

[2016-05-16 16:06] scappochin opened #6632 "Error message Dynamo 1.0 and Revit 2015-2017"
When I start Dynamo there is this errore message:

HRESULT: [0x8876086A], Module: [SharpDX.Direct3D9], ApiCode: [D3DERR_NOTAVAILABLE/NotAvailable], Message: Unknown

   at SharpDX.Result.CheckError()
   at SharpDX.Direct3D9.Direct3DEx.CreateDeviceEx(Int32 adapter, DeviceType deviceType, IntPtr hFocusWindow, Int32 behaviorFlags, PresentParameters[] presentationParametersRef, DisplayModeEx[] fullscr

[2016-05-16 16:06] ikeough commented on #6630
@jnealb Have we ever diagnosed this issue?

[2016-05-16 16:09] ikeough commented on #6631
![image](https://cloud.githubusercontent.com/assets/1139788/15295528/c0165496-1b45-11e6-8234-8f49607d0fa5.png)

@AndrewHeumann This is and image of the standard style for Dynamo. Perhaps the style is not being correctly applied on your machine.

[2016-05-16 16:11] ikeough commented on #6631
<img width="232" alt="capture" src="https://cloud.githubusercontent.com/assets/1139788/15295576/f5ac2f72-1b45-11e6-9042-27c5871d63fe.png">

@AndrewHeumann This is a capture from my machine which shows the correct application of the standard style for the run settings control. Perhaps this style is not being applied correctly on your machine. Is anyone else in your firm having this issue? Do you ha

[2016-05-16 16:14] ikeough commented on #6632
See the first question in the [FAQ](https://github.com/DynamoDS/Dynamo/wiki/Dynamo-FAQ). If this does not resolve your issues, please let us know.

[2016-05-16 16:16] jnealb commented on #6630
@ikeough Not conclusively, no. However some of the "slow search" reports did clear up after Windows Updates, and in one telling investigation Rod could repro it on his Surface, but when we installed Visual Studio on his machine to debug it, the issue cleared up! I will look back at our records on this; this is just a curbside.

[2016-05-16 16:35] ikeough commented on #6630
#5270 Points to packages that, when loaded, cause this issue. Were we able to reproduce by doing an install of the same packages?

[2016-05-16 17:49] AndrewHeumann commented on #6631
my "Theme" is a typical aero theme (not "Basic"). I think I have seen others with the same problem but I am not 100% sure.

[2016-05-16 18:48] AndrewHeumann commented on #6630
the other thing that seems to clear it up (although I seem to have to do it over and over again!) is uninstall and reinstall of dynamo (with "run as administrator" on the installer)

[2016-05-16 18:59] AndrewHeumann commented on #6623
it also enables more custom formatting of the values internally - like %, currency, or specifying commas / decimal places. I've actually got it in among some junk in HumanForDynamo...
How would you do these sorts of things natively:
String.Format("{0:0,0.0} SF",5353532.4233); => "5,353,532.4 SF"
String.Format("File_{0:0000}.png",45); => "File_0045.png"
String.Format("{0:c} / SF", 345.34); => $345.

[2016-05-16 19:01] AndrewHeumann commented on #6630
Incidentally, I was having this behavior with NO 3rd party packages installed. so not sure that's necessarily the culprit.

[2016-05-16 19:01] mjkkirschner commented on #6630
@AndrewHeumann were you running on Revit?

[2016-05-16 19:06] AndrewHeumann opened #6633 "Improvement: Need a mechanism to create custom nodes that DOESN'T save them to the library"
Because of the nature of list management in Dynamo, it is frequently functionally necessary to take some group of nodes and turn them into a custom node for the purposes of list.mapping or otherwise. However, creating a custom node ALWAYS means saving that node to the user library. As such I have an overflowing list of one-off junk in a "throwaway" category in my node library - stuff I could never

[2016-05-16 19:14] AndrewHeumann opened #6634 "Improvement: Custom nodes should be embedded in DYN file"
I can't tell you how many times I've received a .dyn file from a collaborator only to have half the custom nodes in the file missing, and therefore the workflow doesn't execute. The options for my collaborator are
1. to publish a package (this means everything is public, and many of these things may be highly specific workflows that have no re-use value for any other user)
2. dig up all the associ

[2016-05-16 19:19] AndrewHeumann opened #6635 "Improvement: Warn user before overwriting custom node from package"
I often "customize" nodes I've downloaded from packages like Clockwork - adjusting a python script, or switching something to operate on lists rather than items, etc. I was surprised when I saved one of these edits and it overwrote the original definition of that custom node - meaning I had to re-install the package in order to get the original behavior back. There should be some kind of a warning

[2016-05-16 19:22] AndrewHeumann opened #6636 "Improvement: Multiple DYN files open at once"
For complex workflows, it is often necessary to switch back and forth between a number of dynamo workflows. I may also copy-paste groups of nodes from one file to another. Being able to have more than one DYN open at a time would make this process significantly easier.

[2016-05-16 19:23] AndrewHeumann commented on #6630
Yes, running on revit

[2016-05-16 19:34] AndrewHeumann commented on #6630
I did have the same issue previously with 0.92 standalone though if I'm not mistaken

[2016-05-16 20:19] ThomasMahon commented on #6491
@ke-yu @sharadkjaiswal further to the above issue, I've also found that even if arrays are used, the one line if cant return arrays that differ in length. The example below shows an example where only the first 2 items are returned:

![cant return arrays of differering lengths](https://cloud.githubusercontent.com/assets/18601851/15302603/b090c8ba-1bab-11e6-96da-1c7015d44780.JPG)

[2016-05-17 02:27] dimven commented on #6634
If any *.dyf files are in the same folder as the *.dyn file you just opened, they will load automatically. That's because the graph path is temporarily added as a CN resource location.

It would be great if there's a "Save & Export" option that also automatically pulls and saves all of the *.dyfs placed on canvas to the same folder.

This would mostly solve the issue, but if I understand @AndrewHe

[2016-05-17 02:34] dimven commented on #6633
See https://github.com/DynamoDS/Dynamo/issues/6634

Consider saving that one-off CN in the same folder as the graph file. (instead of the user's library) That way it will show in the library only when you open that specific file.

If a mechanism is created to prevent a CN from appearing in the library, you'd need to invent an alternative method for placing new instances of that CN on canvas.

[2016-05-17 07:58] vykrum opened #6638 "Improvement: Inaccurate Menu Sub Grouping"
## Dynamo version

1.0.1.1364
## Operating system

Windows 10
## What did you do?

Tried to visually interpret the action of a node according to it's grouping (_Create, Action_ or _Query_)
## What did you expect to see?

Nodes that extract and provide information to be grouped under _Query_
## What did you see instead?

In many cases nodes are grouped under Create, even though they don't create an

[2016-05-17 10:48] andydandy74 commented on #6638
Also see #5613

[2016-05-17 11:05] andydandy74 commented on #6491
@ThomasMahon  - please also see the discussion here: #3106
While you can use ```ScopeIf``` in cases like these (which at least until recently did not work stably in larger graphs), I have come to rely mostly on the following workaround:
[code]

[2016-05-17 11:28] kidasse commented on #6570
Hi,
I'm sorry @jnealb , but it's not possible because it's the office machine and external access  is unauthorized.

[2016-05-17 13:15] AndrewHeumann commented on #6634
a means to "package" a dynamo graph along with all the necessary .dyfs would be a big improvement, for sure, and might obviate the need for my initial request.

[2016-05-17 13:15] ThomasMahon opened #6640 "Improvement: Node 'Show Label' settings UI improvements"
## Dynamo version

1.0.0
## Operating system

Win 10
## Improvement Suggestion

The Show Labels setting is pretty useful to visualise data structure - I'm finding with new users its invaluable. However, there are also some improvements that would aid usability:
1. On even average sized graphs it becomes difficult to decipher which node the displaying labels are emanating from. This is a big proble

[2016-05-17 13:17] AndrewHeumann commented on #6633
but @dimven I can't even create a CN WITHOUT it asking where to add it in the library. it shows up in my library as soon as it is created. Even if I do not save the .dyf file it spawns, or save it as something else, it is already created and added to my library.

and I don't think an "alternative method for placing new instances" is necessary - the whole point is that these nodes are not really re

[2016-05-17 13:20] AndrewHeumann commented on #6631
more info - this only occurs inside dynamo for revit, not standalone.

[2016-05-17 13:21] brianringley commented on #6631
I am experiencing the same issue in Dynamo 0.9 for Revit 2015 on Windows 7

[2016-05-17 13:38] jnealb commented on #6631
@AndrewHeumann @brianringley Curious, I can not repro this on WIn7 running Dynamo 1.0 ontop of Revit2016 with the WIn7 Aero theme.

[2016-05-17 19:04] AndrewHeumann opened #6642 "Node rendering draws text at all scales on paste"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](http://dynamobim.org/forums/forum/dyn/), and start a thread there to discuss your issue.
## Dynamo version

1.0.0
## Operating system

Windows 7
## What di

[2016-05-17 19:11] AndrewHeumann opened #6643 "Improvement: Shift- and Ctrl- window select to add/remove nodes from selection"
Currently (as of 1.0.1.1157), Dynamo supports adding one node at a time to the current selection while shift is held down. However, it is impossible to modify your selection otherwise - you cannot use ctrl (or shift or alt or anything) to _remove_ an item from the selection, and you definitely cannot add multiple items to a selection by holding down shift and performing multiple window selects. Th

[2016-05-17 22:32] kronz commented on #6631
@brianringley @AndrewHeumann do you see this in Revit 2016 or 2017?

[2016-05-17 23:42] ThomasMahon opened #6644 "Arc.ByStartPointEndPointStartTangent fails using a normalised vector"
## Dynamo version

1.0.0

## Operating system

Win 10

## What did you do?

Created an arc using the Arc.ByStartPointEndPointStartTangent. The tangent start vector was derived from an adjoining arc with the intention to create a tangency.

## What did you expect to see?
The new arc tangent to the arc from which the start vector was derived.

## What did you see instead?
The node failed and display

[2016-05-18 00:46] jnealb commented on #6570
Hey @kidasse we do not quit that easily! Re-open.

[2016-05-18 01:04] kronz commented on #6644
FYI @aparajit-pratap

[2016-05-18 02:15] aparajit-pratap commented on #6644
Tracked here: http://adsk-oss.myjetbrains.com/youtrack/issue/MAGN-10114

[2016-05-18 06:07] dimven commented on #6634
Coming back to this. The above idea might work for custom nodes that are based on what's available out of the box and python scripts but how would one bind something based on a c# library? You can't strip only specific methods from a namespace, right? Maybe you could attach the entire dll? That might create different types of problems.

[2016-05-18 06:13] dimven commented on #6633
I see what you mean. So basically you're looking for a truly one-off node that lives only in the canvas (isn't stored anywhere else and is tied to the *dyn file), does not appear in the library and does not need to be placed multiple times, a.k.a. a model-in-place node ?

[2016-05-18 10:00] AndrewHeumann commented on #6633
Yeah exactly. For example, a large but specific code block function that i want to "list.map" - I cannot do so unless I "custom node" it.

[2016-05-18 10:02] AndrewHeumann commented on #6634
As i said, I wouldn't expect this to work for dll library dependencies necessarily. ("I understand this may not always be possible in the case of .dll dependencies, but I would expect that this is possible for anything composed of native nodes + python scripts.") - with that said, an initial warning on graph load if there are required public packages that the user is missing - which might even off

[2016-05-18 12:58] mjkkirschner commented on #6633
You can map it using some funky syntax to build a function object from a function pointer - will post example later but I see what you want, something like an anonymous function. I'd like it as well.😜

[2016-05-19 07:07] andydandy74 commented on #6634
Also see #187 - I would prefer an InDesign-style workflow packaging mechanism to including the dyf-defintions in the dyn.

[2016-05-19 07:11] andydandy74 commented on #6634
Also: I think this makes only sense for custom nodes that are **not** publicly available through the PM. In the case of already publicly packaged nodes, I would prefer Dynamo knowing which packages may be missing (see #1171 ).

[2016-05-19 07:16] andydandy74 commented on #6633
@AndrewHeumann - have you tried working with ```Function.Compose``` and ```Function.Apply```? Maybe worth a try.

[2016-05-19 08:41] AndrewHeumann commented on #6633
Thanks Andreas, didn't know about those - but doesn't change the need for my initial request. In grasshopper I use clusters (the equivalent of custom nodes) all the time (even for purely organizational purposes) without the desire to save them for future re-use in other graphs.

[2016-05-19 10:16] Jezzzza commented on #3338
This just happened to me , script has been working fine all day then suddenly this happened.

![capture1](https://cloud.githubusercontent.com/assets/12743950/15390281/b577d014-1ded-11e6-9959-89ef125cb323.PNG)
![capture2](https://cloud.githubusercontent.com/assets/12743950/15390282/b66887e8-1ded-11e6-8a5a-5ec366e9c3cb.PNG)

[2016-05-19 10:20] Jezzzza commented on #3338
and yes revit is installed at "C:\Program Files\Autodesk\Revit 2016"

[2016-05-19 20:42] josols opened #6650 "Package manager not showing recently updated packages"
## Dynamo version

1.0.0.1180
## Operating system

Win 7
## What did you do?

Opened package manager and sorted by most recently updated
## What did you expect to see?

To see packages sorted by most recently updated.
## What did you see instead?

Packages do not appear sorted by most recently updated.

Example is sorted view as pr 19. May. Searching for Bakery and Spring nodes clearly shows that

[2016-05-20 02:54] aparajit-pratap commented on #6604
@ThomasMahon this should be fixed in the next daily. Please let us know otherwise.

[2016-05-20 02:54] #6604 closed

[2016-05-20 06:36] vykrum opened #6653 "Crash Report 20160520"
## Dynamo version

1.0.1.1393

## Operating system

Windows 10

## What did you do?

Cntrl dragged a node to duplicate

## What did you expect to see?

A copy of the dragged node

## What did you see instead?

Operation is not valid due to the current state of the object.

   at Dynamo.UI.Controls.PreviewControl.BeginExpandTransition()
   at Dynamo.UI.Controls.PreviewControl.BeginNextTransition()

[2016-05-20 08:34] vykrum commented on #6653
Happened again - similar reason, different node.

Operation is not valid due to the current state of the object.

   at Dynamo.UI.Controls.PreviewControl.BeginExpandTransition()
   at Dynamo.UI.Controls.PreviewControl.BeginNextTransition()
   at Dynamo.Controls.NodeView.TryShowPreviewBubbles()
   at System.Windows.Threading.ExceptionWrapper.InternalRealCall(Delegate callback, Object args, Int32 nu

[2016-05-20 08:38] jhubers opened #6654 "Hide referenced dll"
## Dynamo version: 1.0.0.1180
## Operating system Windows 8.1
## What did you do?

Developing own UI nodes(see #4776). Needed a static class for BuildOutputAst with Func. Made it in a separate namespace (don't remember if this is necessary). I put `[IsVisibleInDynamoLibrary(false)]` just above the static class declaration. Needed to reference this dll in the dll of the UI node of course and also n

[2016-05-20 11:05] kronz commented on #6653
@ramramps @jnealb  Is this build before or after recent changes to preview bubble improvements?

[2016-05-20 12:30] ramramps commented on #6653
@kronz - This is after the changes. I was able to reproduce this. I will update the task.
http://adsk-oss.myjetbrains.com/youtrack/issue/MAGN-9591

[2016-05-20 17:59] kidasse commented on #6570
Hi @jnealb,
I'm still here, but during my last post I clicked accidentally on the button "Close and comment".
Is that issue always open, and if not, how can i re-open it?
Anyway i don't know how to help you more than that.
what do you suggest to go further in solving the problem?

[2016-05-20 20:55] jnealb commented on #6626
This crash is fixed with 1.0.1.1404.

[2016-05-21 12:39] #6626 closed

[2016-05-24 03:32] dimven opened #6663 "Crash Report for 1.0 stable build"
## Dynamo version

1.0.0.1180 running in sandbox mode, Automatic execution

## Operating system

Windows 7

## What did you do?

Copied, deleted and pasted a bunch of nodes

## What did you expect to see?

Nothing out of the ordinary.

## What did you see instead?
Multiple warning windows constantly propping up. Had to forcefully end the Dynamo instance.
![2016-05-24_11-29-06](https://cloud.github

[2016-05-24 13:05] ThomasMahon opened #6664 "Excel.WriteToFile node corrupts formulae in referencing worksheets"
## Dynamo version

1.0.0
## Operating system

Win 10
## What did you do?

Write data from Dynamo to an Excel (v2007) workbook. The Excel is a template which has two sheets: a data dump from Dynamo and sheet which processes the incoming data using ordinary Excel formulas.
## What did you expect to see?

Any new data being copied to the Excel from Dynamo to be processed by the formulas set up in the

[2016-05-24 20:07] jnealb commented on #5711
@mynovmbr @rbosborne We believe this is fixed with the latest daily build, can you please check?

[2016-05-24 20:08] jnealb commented on #6569
@ondejcik @StevenRowland We believe this is fixed with the latest daily build, can you please check?

[2016-05-24 20:10] jnealb commented on #6570
@kidasse Can you send me a complete listing of your Programs and Features from the Control Panel?

[2016-05-25 02:13] aparajit-pratap commented on #6664
Thanks @ThomasMahon for reporting this.

[2016-05-26 14:07] vykrum opened #6669 ""boolean" to "bool" error in Code Block"
## Dynamo version

1.0.1.1404

## Operating system

Windows 10

## What did you do?

In a Code Block Node, typed _boolean_ and then altered it to _bool_

## What did you expect to see?

An object type or a variable

## What did you see instead?

![20160526-2](https://cloud.githubusercontent.com/assets/5621624/15577223/3a2562be-2379-11e6-8341-e5fd2c25730f.png)

[2016-05-26 22:38] ellipsebd commented on #5865
Hi ikeough,

recent builds are also not working...here is a sum up report of all builds that  i have tried...also reopened several times...i could be very happy f somehow i could be able to run a stable dynamo...would you pls suggest some builds or that you are using working well?

![capture](https://cloud.githubusercontent.com/assets/13789181/15592202/697a95a8-2391-11e6-9790-da7fa9e8ada9.PNG)
Ple

[2016-05-27 03:02] aparajit-pratap commented on #6669
@vykrum did you mean to declare a variable of type `bool` as in `a : bool;`? This is a valid statement in DesignScript. Just typing `bool;` will throw a syntax error.

[2016-05-27 11:05] monikaprabhu commented on #6663
@dimven - thanks for reporting this issue. Please look at the following workaround.
@sharadkjaiswal thanks for help me workaround.
![listoperation](https://cloud.githubusercontent.com/assets/5218721/15606286/de49c64a-243d-11e6-822c-77812f2efb48.png)

[2016-05-27 11:29] monikaprabhu commented on #6663
MAGN-10162 is field to track this issue. @ke-yu  - please take look at this next sprint.

[2016-05-27 11:32] dimven commented on #6663
Hi @monikaprabhu,
No need for a workaround. The nodes are working fine. This seems more like a canvas composition issue.

[2016-05-27 11:38] monikaprabhu commented on #6663
@dimven - if I remove watch node from your  graph, I cannot reproduce the crash. Can you please try at your end and let me know.

[2016-05-27 14:55] AndrewHeumann commented on #6631
yes it still happens in 2016

[2016-05-27 15:12] vykrum commented on #6669
Isn't the fact that the input port label reads _boolean_ wrong?

[2016-05-27 16:43] AndrewHeumann commented on #6669
"bool" is a reserved term, so it doesn't get interpreted as a variable name - the inputs are determined by all the variables the code block recognizes.

[2016-05-27 17:15] vykrum commented on #6669
Got that, but thought that _boolean_ appearing as a label in spite of there being no such mention in the code block is odd.
Even if the warning was to appear, I would have expected the input node to disappear once the variable name was changed to a reserved term.

[2016-05-27 18:32] ksobon opened #6672 "Get Parameter Name node"
I was doing some updates for the Dynamo 1.0 and this kills me. All of my DropDowns worked just fine when I added implementation for the SelectionState but this one. Can someone tell me if I am missing something obvious.

[code]

There is also implementation for the view customization:

[code]

and of course the DropDownNodeViewCustomization that @mjkkirschner mentioned to me before.

[code]

It lo

[2016-05-27 20:03] AndrewHeumann commented on #6669
I think it only updates the labels when the block compiles. if it got rid of all your inputs on a compilation error that would be really annoying - it would disconnect everything you had previously plugged in before you could fix the mistake.

[2016-05-28 04:42] dimven commented on #6663
Thanks for your help but watch nodes don't seem to make a difference. I get the same thing. I also tried it on a different computer. Here's a screen capture of the result:

https://youtu.be/66sB7Vxzg6k

https://youtu.be/duSYHY-gwu0

[2016-05-28 10:24] vykrum commented on #6669
@AndrewHeumann When a code block turn red, as in this case, all previously connected wires from the output node actually do disappear. And yes, it already is really annoying :-)

[2016-05-28 10:32] AndrewHeumann commented on #6669
it does not disconnect all wires on a syntax error:
![invalidcodeblock](https://cloud.githubusercontent.com/assets/2157902/15626849/dd093314-249d-11e6-9808-89c5c00b6d41.gif)

[2016-05-28 10:36] AndrewHeumann commented on #6669
it makes some sense that output wires disappear - but I agree that this behavior should probably follow that of the input nodes and be preserved-until-fixed.

[2016-05-29 21:49] jordanbillingsley opened #6674 "GroupByKey Not Found"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.
## Dynamo version

1.0.1.1462
## Operating system

Windows 10
## What did yo

[2016-05-30 03:30] dimven commented on #6674
This is probably because the node hasn't been updated after version 0.9. The old "GroupByKey" node was renamed to "GroupByFunction" and a new method was added that was called "List.GroupByKey".

If the custom node uses a CBN( code block node) script, then it can not be migrated automatically.
cc @kronz

[2016-05-30 03:59] vykrum opened #6676 "Improvement: Pin and scroll bar overlap in Preview bubble"
## Dynamo version

1.0.1.1462

## Operating system

Windows 10

## What did you do?

Tried to use the vertical scroll bar

## What did you expect to see?

To be able to drag the scroll bar down

## What did you see instead?

Unable to do so as the pin appears above the scroll bar on moving the cursor to the top right.

![20160530-1](https://cloud.githubusercontent.com/assets/5621624/15639415/dc3f4

[2016-05-30 04:14] aparajit-pratap commented on #6674
@dimven unfortunately at present we don't have a mechanism to automatically migrate method names used in CBN's. We can only do this for nodes at the moment.

[2016-05-30 04:21] aparajit-pratap commented on #6644
This should be fixed in the next daily. Thanks @rk-lakshmanan!

[2016-05-30 04:21] #6644 closed

[2016-05-30 06:50] monikaprabhu commented on #6663
@dimven -  I'm able reproduce the crash in https://youtu.be/duSYHY-gwu0- The issue is still with reorder node. Reorder node crashes with index - 1, which is why the first crash happens, once the crash has happened other operations may fail based on this crash. If I remove reorder node , the pated graph is correct
![crash1](https://cloud.githubusercontent.com/assets/5218721/15641747/652dff30-2675-1

[2016-05-30 07:10] dimven commented on #6663
@monikaprabhu I think you nailed it - Reorder seems to be the root cause for these warnings :)
It should be easy to test for a -1 input inside the Reorder method and prevent this happening in the future.

But the bigger issue here is that just a single node failure can make the whole graph permanently unstable, until you restart the Dynamo instance. It would be great if the team could study this i

[2016-05-30 07:46] monikaprabhu commented on #6663
@dimven - Thanks for reporting it. I agree that one node should not cause so much of damage to user workflow. Sorry for the inconvenience. We will try to find the root cause of wrong execution and try to fix it. @ke-yu JFYI...

[2016-05-30 08:32] aparajit-pratap commented on #6494
Should be fixed in the next build. Thanks @rk-lakshmanan .

[2016-05-30 08:32] #6494 closed

[2016-05-30 13:14] ThomasMahon opened #6677 "Improvement: right-click 'Quick' Search should show location of node in the Library"
## Dynamo version

1.0.0

## Operating system

Win 10

## Improvement Suggestion
It would be very useful when using the right-click search menu to show either information of where the required node is located in the Library or for new functionality to be added which will automatically expand and highlight the required node in the library. (To clarify what is meant by 'the required node' it is whic

[2016-05-30 16:46] ThomasMahon opened #6678 "Polygon.RegularPolygon has the wrong description"
## Dynamo version

1.0.0

## Operating system

Win 10
## What did you do?

Used the Polygon.RegularPolygon node

## What did you expect to see?

A description explaining that a circle is used to construct the polygon along with the count of verticies

## What did you see instead?

The same description as the Polygon.ByPoints method

![wrong description for polygon regularpolygon](https://cloud.git

[2016-05-30 20:43] ksobon commented on #6672
FYI the version of your node Get Family Parameter locks up Revit/Dynamo as well so its not exactly my implementation here that is an issue, it looks like this whole thing was not resolved before getting published to Dynamo 1.0. Can someone check this out? Thanks!

[2016-05-31 01:55] kronz commented on #5711
https://github.com/DynamoDS/Dynamo/pull/6661

[2016-05-31 01:55] #5711 closed

[2016-05-31 01:56] kronz commented on #6569
https://github.com/DynamoDS/Dynamo/pull/6661

[2016-05-31 01:58] QilongTang commented on #5711
https://github.com/DynamoDS/Dynamo/pull/6657

[2016-05-31 01:58] QilongTang commented on #6569
https://github.com/DynamoDS/Dynamo/pull/6657
https://github.com/DynamoDS/Dynamo/pull/6661

[2016-05-31 02:01] kronz commented on #6669
fyi @ke-yu

[2016-05-31 02:03] kronz commented on #6676
FYI @Racel

[2016-05-31 02:06] kronz commented on #6674
@aparajit-pratap seems like we ought to be able to detect these names though . . . currently I know of a few users who are doing search and replace on dyn files in text editors.  Did we look at any kind of detection on upgrade?

[2016-05-31 02:14] kronz commented on #6677
Hi @ThomasMahon
One of the design decsions that we made in creating the in-canvas search was to emphasize simplicity and compactness.  This is a bit of a counterpoint to the way that search works within the library browser, which has filters, compact and detailed views, as well as linked tex to do just what you are saying, allowing users to follow specific nodes back into the browser to find simil

[2016-05-31 02:16] #6677 closed

[2016-05-31 02:21] kronz commented on #6678
@ThomasMahon nice catch, thanks.
@riteshchandawar can you assing to change this to read:  "Construct an inscribed Polygon Curve within a circle"

[2016-05-31 02:37] aparajit-pratap commented on #6674
@kronz created a story to track this and currently assigned to you for prioritization: http://adsk-oss.myjetbrains.com/youtrack/issue/MAGN-10164

[2016-05-31 03:21] riteshchandawar commented on #6678
@rk-lakshmanan please take a look and submit the fix.

Thanks,
Ritesh

[2016-06-01 01:39] ksobon commented on #6654
@jhubers i have had this issue before as well. for some reason it is not enough to just mark the class as <code>[IsVisibleInDynamoLibrary(false)]</code> but also I had to actually publish my package (locally), and then when you go to Manage Packages menu you can right click on the DLL and uncheck "IsNodeLibrary". Only then, would my classes not get loaded into the library.

[2016-06-01 02:21] #6678 closed

[2016-06-01 02:47] riteshchandawar commented on #6678
@ThomasMahon Fix is available in daily build.

Thanks for reporting.

- Ritesh

[2016-06-01 08:08] jhubers commented on #6654
@ksobon thanks for the tip. Appears to work only from Revit/Dynamo and indeed by right clicking the file in the publish dialogue.

[2016-06-01 09:32] epeter- opened #6681 "search in library still!!!"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.
## Dynamo version

since 0.9 to dailies
## Operating system

10
## What did

[2016-06-01 12:57] Racel commented on #6676
On it. [http://adsk-oss.myjetbrains.com/youtrack/issue/MAGN-10171](Filed under MAGN-10171)

[2016-06-01 13:50] QilongTang commented on #6681
@kronz This could be another highlight showing it might be worth enabling pining nodes before investigating on improving search to cover all the edge cases.

[2016-06-01 16:54] mostaphaRoudsari opened #6683 "Stop Dynamo IronPython to warp objects in IronPython.Runtime.Types.PythonType"
## Dynamo version

1.0.0.1180
## Operating system

Windows 8
## What did you do?

I created a new type that inherits from `datetime` type.
## What did you expect to see?

I expect to be able to use `__lt__` or `__gt__` methods with no issues. For instance 2015-01-01 is smaller than 2015-12-31. I tested the code in Python and IronPython (but not in Dynamo) and it works fine.
## What did you see ins

[2016-06-01 17:04] mjkkirschner commented on #6683
@mostaphaRoudsari I'm having a hard time understanding your issue. This is the base object of all Python types in iron python.

Can you provide the code in your other python script?

[2016-06-01 17:28] mostaphaRoudsari commented on #6683
Hi @mjkkirschner! Thank you for the quick reply. Here is code sample. Download this [zipped file which I had to rename to .txt!](https://github.com/DynamoDS/Dynamo/files/293967/dynamotest.txt) and try to run the code below.

[code]

It should print out 8760.
![image](https://cloud.githubusercontent.com/assets/2915573/15718980/e6a44eb6-27fb-11e6-8198-8d8bb16069d5.png)

Now the same code in Dynamo w

[2016-06-01 19:22] ksobon commented on #6654
Oh yeah, there is that thing too "works only from Revit/Dynamo", I can't publish packages from Sandbox for some reason too. :-1:

[2016-06-02 02:11] kronz commented on #6681
@epeter- , not sure what is wrong in your search.  We have a "fuzzy search" algorithm that allows for "near matches" to account for typos and plurals (search for "points" still finds "point", "cordinate" finds "coordinate"), and your Python search has found a node (Revit ID)  that has been Categorized as Python

[2016-06-02 04:12] samykbs opened #6684 "If i take a look to a list in any function Revit and Dynamo stop working"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.
## Dynamo version 1.0

(Which version of Dynamo are you using? Go to Help >

[2016-06-02 05:09] epeter- commented on #6681
zach, the fuzziness seems to be way to fuzzy.

with alll respect to fuzzy algorithms i expect that incorrect results
are sorted out.

for me that is especially important when searching the library for
categories, types..

there you have significant letters like "i" or "y" to find the two
relevant results in the query.

meaning when i search for categor*y *i am definitely for *all elements
of categ

[2016-06-02 13:12] vykrum opened #6685 "Watch 3D not working"
## Dynamo version

1.0.1.1523

## Operating system

Windows 10

## What did you do?

Connected a wire to the Watch 3D node

## What did you expect to see?

The same graphics as in the background 3D

## What did you see instead?

Nothing

![20160602-1](https://cloud.githubusercontent.com/assets/5621624/15745891/c510d700-28f1-11e6-9532-53bfcaefa01f.png)

[2016-06-04 18:23] josols commented on #6681
I agree with @epeter- . Fuzzy or not it's not very logical.

[2016-06-05 19:15] ThomasMahon opened #6691 "Improvement: Show node label name"
## Dynamo version

1.0.0
## Operating system

Win 10
## Improvement Suggestion

It would be extremely helpful if the nodes can show their method names separate to the name of the node itself. On large graphs, its borderline insane not to rename nodes to something more meaningful (loosely related to #6510), and therein lies the problem. Once the node is renamed, its pretty frustrating to have to ho

[2016-06-05 19:36] ThomasMahon commented on #6677
@kronz seems reasonable. Thanks

[2016-06-05 20:51] ThomasMahon opened #6692 "Curve.ToNurbsCurve fails. Warning message: To BSplineCurve not implemented"
## Dynamo version

1.0.1.1421
## Operating system

Win 10
## What did you do?

I created a curve using a number of nurbs curves and lines which are joined to form one continuous path using the PolyCurve.ByJoinedCurves method. I then attempted to convert the joined curve back to a new continuous nurbs curve
## What did you expect to see?

A new nurbs curve built from the joined PolyCurve
## What di

[2016-06-05 21:11] ThomasMahon commented on #6692
More problems. I'm not going to open a new thread as this may be related to the input curve as described above rather than another problem with the node, but if I extrude the joined PolyCurve to surfaces and attempt to extract the boundary curves using Surface.PerimeterCurves then I get the following error message:

![error with surface extract boundaries](https://cloud.githubusercontent.com/asset

[2016-06-05 21:23] ThomasMahon opened #6694 "Improvement: All sweep methods using a profile and path are limited and need an 'up' direction input"
## Dynamo version

1.0.1.1421
## Operating system

Win 10
## Improvement Suggestion

I am finding the BySweep methods that use a path and profile, whether from the Curve, Surface or Solid category, very limited and really needing an additional 'up' direction to improve their functionality.

For example, I am sweeping an ellipse profile along a path curve to create a handrail, but the profile rotat

[2016-06-06 02:07] dimven commented on #6694
Sounds like a good addition. How about this work-around in the mean time:
![2016-06-06_10-06-59](https://cloud.githubusercontent.com/assets/7148394/15810145/5b2fe2e2-2bce-11e6-9553-e4674bcb79c6.png)

[2016-06-06 08:43] ThomasMahon commented on #6694
@dimven good suggestion but its not a solution as it doesn't honour the normals of the curve which in turn screws up the sweep. (Blue/highlighted curve is correct, the black are using planes derived from Curve.HorizontalFrameAtParameter):

![capture2](https://cloud.githubusercontent.com/assets/18601851/15816538/1d82b79c-2bcb-11e6-99c5-1af86ec6b616.JPG)

[2016-06-06 10:46] dimven commented on #6694
Whoops. An alternative to the alternative then? :)

- generate a generic CS/plane
- get its "up" direction
- calculate an angle between that and the global Z axis
- rotate the CS/plane
- use that for the ellipse

[2016-06-06 19:09] ThomasMahon commented on #6694
@dimven Yep, that's the easy bit...but two profiles means using Solid.ByLoft to generate the handrail...and it always fails even when the planes are corrected. See #6692
Dynamo needs a serious upgrade to its geometry engine. This is effortless in Generative Components. I'm shocked it cant handle it! Appreciate your input nonetheless

[2016-06-07 00:09] ParametricMonkey commented on #6598
@ke-yu can you please take a look at this. its been quite a while since submitted

[2016-06-07 04:56] ParametricMonkey commented on #6598
resloved. updated to new Dynamo WIP

[2016-06-07 04:56] #6598 closed

[2016-06-07 10:47] josols opened #6700 "Improvement: Graphical representation of execution"
I guess this is far fetched and difficult to achieve, but could it be possible to, in a graphical way, show the user which nodes are under execution and which ones that have been executed during a run. I think this would be highly beneficial when searching for optimal workflows in Dynamo. A visual representation of the graph turning lightly grey during execution and each node returning to normal c

[2016-06-07 12:09] ThomasMahon commented on #6700
I think you're indirectly asking for a debugger, which would require behaviours along the lines of your request, to enable debugging or 'stepping through' nodes present only in the visual environment. Its been requested here: #6512

[2016-06-07 21:48] Omeba720 opened #6702 "Improvement Request_Have SaveAs dialog when downloading Packages"
Hi,

I was wondering whether there could be an option where we could choose which location to save the packages if more than one package path exists? Since we have a network location as the primary package location and C drive as secondary when downloading a package, some users may want packages but we don't want the network package location getting cluttered and prefer this to go to their local.

[2016-06-08 02:39] kronz commented on #6565
There are a couple of issues in this thread.  I think the last is covered by https://github.com/DynamoDS/DynamoRevit/pull/988

[2016-06-08 02:39] #6565 closed

[2016-06-08 02:41] kronz commented on #6556
Fix is in with DynamoDS/DynamoRevit#988

[2016-06-08 02:41] #6556 closed

[2016-06-08 05:24] vykrum opened #6704 "Surface.Thicken issue"
## Dynamo version

1.0.1.1586

## Operating system

Windows 10

## What did you do?

Used the *Surface.Thicken* node without *both_sides* boolean option

## What did you expect to see?

The surface to be thickened on both sides, by default, as indicated in the node description
Expected similar result as when using the other *Surface.Thicken* node with *both_sides* set to *true*

## What did you se

[2016-06-08 06:17] aparajit-pratap commented on #6664
Tracked as: http://adsk-oss.myjetbrains.com/youtrack/issue/MAGN-10215

[2016-06-08 06:21] aparajit-pratap commented on #6576
Tracked: http://adsk-oss.myjetbrains.com/youtrack/issue/MAGN-10216

[2016-06-08 06:23] aparajit-pratap commented on #6582
Tracked - http://adsk-oss.myjetbrains.com/youtrack/issue/MAGN-10102

[2016-06-08 06:26] aparajit-pratap commented on #6542
Tracked - http://adsk-oss.myjetbrains.com/youtrack/issue/MAGN-10217

[2016-06-08 06:30] aparajit-pratap commented on #6151
@paoloemilioserra we're having difficulty reproducing the crash. Could you share the Revit file and Dynamo graph you used so that we can reproduce and fix the crash. Thanks!

[2016-06-08 06:33] aparajit-pratap commented on #2974
Not reproducible. Closing for now. Please reopen if there are still issues with details. Thanks!

[2016-06-08 06:33] #2974 closed

[2016-06-08 07:02] aparajit-pratap commented on #6508
Tracked here: MAGN-9350, 9967

[2016-06-08 07:23] dimven commented on #6700
It would be nice to expand on the "Show Run Preview"  option.

Orange = to be executed:
![2016-06-08_15-18-53](https://cloud.githubusercontent.com/assets/7148394/15885910/af15e5a4-2d8c-11e6-9bb6-86f51e7046ef.png)

[2016-06-08 08:37] aparajit-pratap commented on #3679
http://adsk-oss.myjetbrains.com/youtrack/issue/MAGN-10222

[2016-06-08 09:12] aparajit-pratap commented on #6704
@vykrum we're having difficulty reproducing the issue. Could you share the Dynamo graph you used so that we can investigate this.

[2016-06-08 09:19] vykrum commented on #6704
https://dl.dropboxusercontent.com/u/40183413/SurfaceEdgeExtend1.dyn

[2016-06-08 12:40] ramramps commented on #6653
This is fixed in the latest 1.0.1 build.

[2016-06-08 12:40] #6653 closed

[2016-06-08 13:44] epeter- opened #6707 "Comments (Ctrl-W) no multiline input available"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version
1.0.1.1586
(Which version of Dynamo are you using? Go to

[2016-06-08 15:32] tayday01 commented on #6570
Any luck with this? it is still plaguing me

[2016-06-08 15:35] jnealb commented on #6570
@kidasse No, can you please send us your list of Programs and Features from the Control Panel?

[2016-06-08 20:49] garciadelcastillo opened #6709 "Code Block error"
## Dynamo version

1.0.0.1126

## Operating system

Windows 7

## What did you do?

In a code block, I want to create a grid of points with random heights. When the Z property of the point List is associated to a list of doubles (with the same structure), Dynamo crashes.

## What did you expect to see?

The Z values associated to the list of double values generated. If this wasn't possible, I woul

[2016-06-08 20:54] mjkkirschner commented on #6709
you cannot modify the z property of the point, this is a getter, not a setter.

Of course a crash should not occur, what is the stack trace?

[2016-06-08 21:03] garciadelcastillo commented on #6709
I believe it was this:

Exception of type 'ProtoCore.Exceptions.CompilerInternalException' was thrown.

   at ProtoCore.Utils.NodeUtils.Clone(AssociativeNode rhsNode)
   at Dynamo.Graph.Nodes.CodeBlockNodeModel.GetAstIdentifierForOutputIndexInternal(Int32 portIndex, Boolean forRawName)
   at CoreNodeModelsWpf.Nodes.WatchNodeViewCustomization.OnPortConnected(PortModel port, ConnectorModel connector

[2016-06-08 22:24] ralvarez76 opened #6710 "Lack of Extend Method for Surfaces"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

1.0.1.1421

(Which version of Dynamo are you using? Go to Help > About if y

[2016-06-09 03:24] YanmengLi commented on #6704
![screenshot](https://cloud.githubusercontent.com/assets/8663553/15917918/c16c60d2-2e33-11e6-9c8b-a3df5aac7b5f.png)

Hi @vykrum I try to run your file on build 1.0.1.1586 in Windows 10 and could not reproduce this issue. Surface.Thicken seems to work properly.

[2016-06-09 03:51] vykrum opened #6712 "Improvement: Search options dropdown refinement"
## Dynamo version

1.0.1.1586

## Operating system

Windows 10

## What did you do?

Searched for the node *All Elements of Type*

## What did you expect to see?

In the search box I type *All Element* and the node appears in the drop down list.
When I get more specific and type *All Element***s**, I'd have expected the drop down list to have further filtered fewer and more relevant options.

## W

[2016-06-09 06:12] josols commented on #6712
In the same category as this: #6681

[2016-06-09 06:33] oderby opened #6715 "Mesh with large face renders offset from construction points"
## Dynamo version

1.0.0.1180
## Operating system

Windows 7
## What did you do?

Open the attached dynamo file. [dynamo_mesh_bug_1.zip](https://github.com/DynamoDS/Dynamo/files/306250/dynamo_mesh_bug_1.zip)
## What did you expect to see?

Meshes rendered aligned with the construction vertices.
## What did you see instead?

Meshes offset by an arbitrary amount in the z direction.
![image](https://

[2016-06-09 09:01] vykrum commented on #6704
@YanmengLi In your image above you have actually reproduced the issue.
Observe that on the left thickness is distributed on both sides of the surface while on the right the thickness is on one side.
The problem is that both should actually be identical

[2016-06-09 09:23] dimven commented on #6710
There's a discussion in the forum on the same topic:
https://forum.dynamobim.com/t/trim-extend-surface/4281/12

I'd like to see this implemented as well but it's not quite clear to me how you'd programatically control these extensions. Maybe you could share some example workflows and describe in greater detail how you'd control the individual extensions? I'm sure the dev team would like to hear yo

[2016-06-09 10:24] YanmengLi commented on #6704
![surface_thicken2](https://cloud.githubusercontent.com/assets/8663553/15926545/2a9d2a7e-2e6f-11e6-9aa5-10f55a057a45.png)
It will be identical when you set the boolean value to false, not true. When you set it to false, it will thicken the surface on one side, works exactly as the another node.

[2016-06-09 10:37] vykrum commented on #6704
@YanmengLi The problem is with the other node, the node with the true/false option behaves correctly

The node without that option does not behave as indicated in the node description. (It should work like the other node set to *true*)

There IS a problem.

[2016-06-09 10:45] vykrum commented on #6704
Either the description or behavior of this node needs to change

![20160609-5](https://cloud.githubusercontent.com/assets/5621624/15927143/63924fa6-2e5d-11e6-9b3c-9ef57d741440.png)

[2016-06-09 11:12] ondejcik commented on #6569
Hi, i have let it checked, and i got report back now, that it seems to be working just fine for my colleagues without persmission to drive, thanks!

[2016-06-09 12:07] ThomasMahon commented on #6715
I think you've answered your own question: if objects are a considerable distance from file centre then the behaviour you describe arises due to floating point tolerance issues. Its therefore a limitation of modern-day computer architecture rather than a problem exclusive to Revit and/or Dynamo.
The solution, therefore, is to simply build your model closer to file centre/origin. If you need to use

[2016-06-09 16:26] oderby commented on #6715
I don't think that's the problem here. the points are nowhere near far enough away to have rounding issues due to floating point tolerance, and the offsets of the meshes are also not a tolerance/rounding issue. You can move the points closer together and still see the offset - in fact, the offset appears to be proportional to the area of the mesh face.

Further, reproducing this in Grasshopper or

[2016-06-09 16:30] mjkkirschner commented on #6715
hey @oderby does this also occur when creating surfaces by points? or only meshes?

[2016-06-09 16:46] marcellosgamb opened #6719 "Error when using Node to Code on a custom ZT Node"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.
## Dynamo version

Daily 6-9-2016
## Operating system

w 10
## What did you

[2016-06-09 16:51] marcellosgamb opened #6720 "Output Ports not displaying correct name from ZT custom nodes"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

daily 6-9-2016

(Which version of Dynamo are you using? Go to Help > About

[2016-06-09 16:56] ralvarez76 commented on #6710
I would see it as you feed the method a surface and a list of edges, with a list of offsets. A positive offset would extend the edge out, and a negative offset would trim the edge in. The direction is defined form the center of the surface and the extension would follow the surface's domain.

This would work for both planar and curved surfaces. Rhino has this capability, so I would want Dynamo to

[2016-06-09 17:33] oderby commented on #6715
No, this does not occur if creating surfaces from the same points
![image](https://cloud.githubusercontent.com/assets/1351158/15939664/9f33d294-2e2d-11e6-91cc-289739bb1205.png)

[2016-06-09 20:26] m-Souza commented on #5577
Hi everyone. I have the exact same issue while running revit 2016SP2 and Dynamo 1.0.0.1180 on Windows 10.
I have noticed that this is related to room boundaries at points where 2 different wall type join (at least this is what I found while trying to isolate the issue with Room Separation Lines).
The thing is this may be causing the program to crash when I try to "model" a large list of rooms (600

[2016-06-09 20:41] jnealb commented on #5577
@m-Souza Is it possible for you to try this with the latest daily build from Dynamobuilds.com? We would like to know if you see a difference, as we have fixed several issues that may be relevant.

[2016-06-09 20:48] m-Souza commented on #5577
@jnealb Thanks for your reply. I've tested it with the DynamoInstall1.0.1.20160609T0440.exe version and the issue is still present.

[2016-06-09 23:02] mjkkirschner commented on #6720
two things:

1) don't use a mutlireturn attribute if you are not returning multiple outputs. (_there was a bug here, I don't know if it has been fixed_), but it's just a bit of strange practice anyhow.

2) you can use <return> attribute to name the output. like this:
https://github.com/DynamoDS/Dynamo/wiki/Zero-Touch-Plugin-Development#documentation-tooltips-and-search

[2016-06-10 02:42] ke-yu commented on #6709
I fixed the crash in #6718. There is a run-time warning when calling `ptsOnSrf.Z = randHeights`, somehow this warning is not bubbled up, I'll fix it later on.

[2016-06-10 02:42] #6709 closed

[2016-06-10 03:22] YanmengLi commented on #6704
Yes you are right. We will investigate this. Thanks for pointing this out. @vykrum

[2016-06-10 10:16] mdengusiak commented on #5465
Do we know if there is any update on this?
I think it is logged under item CF-3558 ...

[2016-06-10 13:46] jnealb commented on #6712
Yes, we are working on this.

[2016-06-10 17:17] ikeough commented on #5865
@ellipsebd We recently had reports of crashes at startup due to a reference conflict with the RestSharp.dll used in several other Revit addins. We added a reference conflict message which should pop up when starting Dynamo for Revit if this is what you are experiencing. Can you let us know if a recent build is showing this warning message, and if so, what additional addins you have installed on yo

[2016-06-11 12:53] vykrum opened #6723 "Unable to deactivate labels"
## Dynamo version

1.0.1.1610
## Operating system

Windows 10
## What did you do?

Selected a line in the preview bubble and saw labels in the background display.
Then clicked outside in an empty area.
## What did you expect to see?

Expected the action to unselect the line in the preview bubble and turn off label display
## What did you see instead?

Unable to unselect

![20160611-3](https://clou

[2016-06-13 12:08] vykrum opened #6727 "Ghost Function"
## Dynamo version

1.0.1.1610
## Operating system

Windows 10
## What did you do?

typed _a_ in code block
## What did you expect to see?

an input port to appear
## What did you see instead?

![20160613-1](https://cloud.githubusercontent.com/assets/5621624/16006980/84cf23c8-318d-11e6-8b69-06180d2f703a.png)

[2016-06-13 12:29] vykrum commented on #6727
Observed that the above issue is actually not about _**a**_
I happened to have defined a function **_a_** (and deleted it too) in **another file** and that function seems to affect all subsequent files opened in the same Dynamo session.

The problem is resolved on closing Dynamo and reopening. Just reopening a file in the same Dynamo session doesn't solve the problem.

As this pertains to a functi

[2016-06-13 16:16] jnealb commented on #6261
@ondejcik Could you check this with the latest daily builds from Dynamobuilds.com? We believe this is fixed.

[2016-06-13 20:48] ThomasMahon commented on #6727
I've experienced the same thing although I couldn't pin it down...memory leak? I notice that if you write definitions and copy paste them into another code block Dynamo becomes unstable and the problem you describe arises.

[2016-06-14 02:49] vykrum opened #6729 "Crash Report 20160614"
## Dynamo version

1.0.1.1610
1.0.1.1650

## Operating system

Windows 10

## What did you do?

Routine code in code block

## What did you expect to see?

Nothing spectacular

## What did you see instead?

Object reference not set to an instance of an object.

   at ProtoCore.DSASM.StackValueComparer.GetHashCode(StackValue value)
   at System.Collections.Generic.Dictionary`2.Insert(TKey key, TVal

[2016-06-14 03:15] vykrum commented on #6729
Typing in following line seems to trigger the crash...
List.GetItemAtIndex(mdfil21["in"],mdlen21);

[2016-06-15 07:06] ke-yu commented on #6727
Bug :-(

[2016-06-15 07:12] ke-yu commented on #6729
@vykrum more steps to reproduce?

[2016-06-15 12:09] vykrum commented on #6729
Able to replicate it in ver1.0.1.1650

Connect the output of a code block containing

`List.FilterByBoolMask({1..3,3..5},{{true,true,false},{false,true,true}});`

to

a code block containing the above statement

`List.GetItemAtIndex(lst["in"],10..1);`

On connecting this is the error......

Specified cast is not valid.

   at ProtoCore.DSASM.Heap.ToHeapObject[T](StackValue heapObject)
   at ProtoC

[2016-06-15 17:24] incentive734 opened #6739 "BUG"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

(Which version of Dynamo are you using? Go to Help > Abo

[2016-06-15 19:37] dago2015 opened #6740 "crash"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.0

## Operating system

(e.g. Windows 7)

## What did

[2016-06-16 03:09] ke-yu commented on #6729
Fixed in #6743. Close.

[2016-06-16 03:09] #6729 closed

[2016-06-16 03:10] ke-yu commented on #6740
Hi @dago2015 , any more details?

[2016-06-16 03:10] #6663 closed

[2016-06-16 03:13] ke-yu commented on #6629
Hi @vykrum I fixed a crash (#6729) reported by you and that crash seems to have a similar call stack, so I close it this one and please reopen it if you encounter same crash again.

[2016-06-16 03:13] #6629 closed

[2016-06-16 03:15] ke-yu commented on #6442
Suspect it is related to #6729 which I fixed in #6743. Close it.

[2016-06-16 03:15] #6442 closed

[2016-06-16 03:23] ke-yu commented on #4909
Seems like recursive function doesn't work properly. @vykrum I close it now and if you encounter same crash then please reopen it.

[2016-06-16 03:23] #4909 closed

[2016-06-16 03:27] ke-yu commented on #4838
@vykrum I'm not able to reproduce it.

[2016-06-16 04:30] aparajit-pratap commented on #6739
@incentive734 this is an empty bug report??

[2016-06-16 08:20] vykrum commented on #4838
@ke-yu Too late for me to recollect or try to reproduce this :-)

[2016-06-16 14:38] KirilLukyanenko opened #6745 "Can't get coordinate system from Rectangle"
## Dynamo version

1.0.0.1663

## Operating system

Windows 10

## What did you do?

Create Rectangle.ByWidthLength and get CoordinateSystem from it

## What did you expect to see?

CoordinateSystem before creating rectangle and after should be equals

## What did you see instead?

Coordinate systems are different
![coordinatesystem](https://cloud.githubusercontent.com/assets/19977109/16120667/009

[2016-06-16 21:02] ThomasMahon opened #6746 "Improvement: Inconsistent names for Plane.XZ vs CoordinateSystem.ZXPlane"
## Dynamo version

1.0.1.1421

Win 10

(e.g. Windows 7, Windows 8.1, etc)
## Improvement Suggestion

This is minor but an annoyance nonetheless: the CoordinateSystem.ZXPlane method is named inconsistently compared to Plane.XZ not to mention general standards for axes notation (X axis should always take precedent). Is this an oversight?

![cs zx](https://cloud.githubusercontent.com/assets/18601851/

[2016-06-16 21:06] gregmarr commented on #6746
This is the proper mathematical name for the coordinate system. Z cross X gives Y.  X cross Z gives -Y, and a left handed coordinate system.

[2016-06-16 21:35] ThomasMahon commented on #6746
XZ is widely used within mathematics, and more specifically in many CAD applications (minus a few like Catia). Regardless of which method is used, I would expect it to be consistent, and I do have a bias I suppose, due to other application I frequently use that do adopt XZ notation.

[2016-06-16 21:56] gregmarr commented on #6746
I assume it's more important for a coordinate system to have the proper name than a plane, since it only matters for a plane if you care which direction is up.  I don't know what the impact would be of either of these changes.  I'm just a part-time user of Dynamo.

[2016-06-17 03:21] ke-yu commented on #6745
hi @KirilLukyanenko, `Equals` node compares if two objects are the same object or not (equality), but doesn't check for equivalence.

Use `CoordinateSystem.IsEqualTo` node for equivalence testing.

![untitled](https://cloud.githubusercontent.com/assets/2600379/16139782/8640695e-347d-11e6-95b0-e3f605c61ed2.png)

[2016-06-17 03:23] ke-yu commented on #6739
Hi @incentive734 , it would be very helpful if you could provide more details about the crash, for example the crash call stack, the step to reproduce, etc. Please reopen it if you have more details.

[2016-06-17 03:23] #6739 closed

[2016-06-17 03:25] ke-yu commented on #6707
hi @epeter-, is the problem in code block node? What does the code look like? Multline comments? /**/ or // ?

[2016-06-17 03:30] ke-yu commented on #6691
@Racel do you have any thoughts?

[2016-06-17 06:46] epeter- commented on #6707
no it is the comments (Ctrl +W) option

Am 17.06.2016 um 05:25 schrieb Yu Ke:

---
Diese E-Mail wurde von Avast Antivirus-Software auf Viren geprüft.
https://www.avast.com/antivirus

[2016-06-17 06:50] ke-yu commented on #6707
Oh Ctrl-W is for creating notes.

[2016-06-17 06:52] epeter- commented on #6707
exactly. but shouldnt notes be formatable too?

Am 17.06.2016 um 08:50 schrieb Yu Ke:

---
Diese E-Mail wurde von Avast Antivirus-Software auf Viren geprüft.
https://www.avast.com/antivirus

[2016-06-17 06:54] ke-yu commented on #6707
It should be. Will fix it once we get some bandwidth.

[2016-06-17 07:03] epeter- commented on #6707
ok ;-)

Am 17.06.2016 um 08:54 schrieb Yu Ke:

---
Diese E-Mail wurde von Avast Antivirus-Software auf Viren geprüft.
https://www.avast.com/antivirus

[2016-06-17 09:10] KirilLukyanenko commented on #6745
The same result
I have another AXis and YAxis after creating rectangle
![coordinatesystem](https://cloud.githubusercontent.com/assets/19977109/16145944/1e589a8a-3484-11e6-9c1e-0ff2b1a5d209.png)

[2016-06-17 16:20] dago2015 opened #6749 "We need a kill script button"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

All versions

## Operating system

Windows 7

## What di

[2016-06-17 23:24] pflaumingo commented on #6564
@ksobon is this the method you've found most useful still? It's not a bad solution, but thought I'd check if there is something a little more direct. I've got a similar scenario with objects that have a couple required parameters and several optional inputs. Dynamo doesn't seem to accept null as a default value for strings, support nullable data types or set default object references to null.

[2016-06-17 23:59] ksobon commented on #6564
Yeah thats the only way that i found to make it take a null as a default value, null a string, int etc input. Sorry mate.

[2016-06-19 14:51] vykrum opened #6751 "Point Geometry in Imperative Block"
## Dynamo version
1.0.1.1683

## Operating system
Windows 10

## What did you do?
Tried using _PointGeometry_ in an Imperative block

## What did you expect to see?
Results similar to those obtained using other approaches

## What did you see instead?
![20160619-2](https://cloud.githubusercontent.com/assets/5621624/16178010/08f0ff6a-365b-11e6-8b39-3be274aff791.png)

[2016-06-19 15:00] vykrum opened #6752 "Crash Report - 20160619"
## Dynamo version
1.0.1.1683

## Operating system
Windows 10

## What did you do?
While in Automatic Run mode, deleted all nodes (about 5 or 6) on canvas

## What did you expect to see?
A clean canvas

## What did you see instead?
At least two Error Windows (might have closed some thinking they were the same)...
1.
Object reference not set to an instance of an object.

   at ProtoScript.Runners.Ch

[2016-06-19 17:09] vykrum opened #6753 "Improvement: Preview override for Code Block output ports"
In long code blocks that generate lots of geometry, for clarity, _Preview_ is usually switched off for the block as a whole and to make selected geometry in the background visible, the relevant ports need to be connected to a dummy code block or _Object.Identity_

It would be good if there is an option to override the preview setting for output ports

![20160619-3](https://cloud.githubusercontent.

[2016-06-20 00:45] ParametricMonkey commented on #2970
@ikeough  Still an issue in 1.0.1 on Revit 2016 r2. Can we get this solved. It looks like its been around for a while now.

![dynmo_views](https://cloud.githubusercontent.com/assets/10913639/16180839/e687ea96-36d3-11e6-923f-a36c5559e9f6.jpg)

[2016-06-20 04:21] ellipsebd commented on #5865
@Ian Keough Probably not, the crashing detail is following. In revit
2016/17 i only used dynamo addin...there is no other. But it was a very
enchantng to me that, i was recently able to run dynamo 1.0.0(most stable)
on a new installation of windows 10 and NVidia Geforce210 graphics card but
somedays after the story remains same! Now my windows start and cortana not
working as well the graphics car

[2016-06-20 04:23] ke-yu commented on #6745
@riteshchandawar @aparajit-pratap is it an issue in `Geometry.ContextCoordinateSystem`?

[2016-06-20 08:54] vasshaug commented on #5454
Bake as a way of telling Dynamo what to do to Revit and when, is completely different than Freeze. When needing to populate or manipulate a Revit document, we should push to Revit rather than constantly synchronize, which slows down everything. My workaround today is 1. populate Revit, 2. select in Revit, 3. Ctrl+X, 4. Freeze node, 5. Run graph, 6. Paste to same place. Freeze is merely a simpler w

[2016-06-20 11:02] birdland007s opened #6759 "request the feature of setting; Force re-calculation mode"
## Dynamo version

Dynamo 1.0.0.1180
## Operating system

Windows 10 and 7

Dynamo node seems saves it's calculated result as a cache. And it prevents from re-running from same input.
But dynamo can't see an update of related application such as Revit so this cache mechanism sometimes acts on the dangerous side for system.
It would be better that there is a setting to run whole node every time.

T

[2016-06-20 17:04] ikeough commented on #6442
:+1:

[2016-06-21 01:59] ke-yu commented on #6759
hi @birdland007s , actually there is an option to do that, though it doesn't execute all nodes *every time*. If the run mode is switched to Manual, you can force Dynamo to run all nodes through this menu item:

![untitled](https://cloud.githubusercontent.com/assets/2600379/16215650/9d828356-3796-11e6-8c83-5123d829519e.png)

[2016-06-21 02:00] mjkkirschner commented on #6759
but you'll have to build from source and use sandbox to use this option I think?

[2016-06-21 02:08] mjkkirschner commented on #6745
I think this could be a bug in with curves, if you create a cuboid in a similar manner with the CS input, the context coordinate system seems to be returned correctly.

[2016-06-21 02:29] dimven commented on #6751
That's probably because v is a list and to get the point from each vertex, you have to iterate through the list. Lacing and replication guides still don't work in imperative mode:

![2016-06-21_10-29-34](https://cloud.githubusercontent.com/assets/7148394/16216145/f339dd68-379a-11e6-9807-bcd247bb812a.png)

[2016-06-21 02:43] ikeough commented on #6759
This is by design. We enable third parties to create libraries which force re-execution. But it is not the preferred mode for execution. @birdland007s, can you give an example where you need to force a reexecution of a node?

[2016-06-21 02:56] vykrum commented on #6751
@dimven Makes sense
No issue here then :-)

[2016-06-21 02:56] #6751 closed

[2016-06-21 03:05] riteshchandawar commented on #6745
@ke-yu @mjkkirschner @KirilLukyanenko : Issues logged for internal tracking. http://adsk-oss.myjetbrains.com/youtrack/issue/MAGN-10263

We will inform you once the fix available in daily build.

- Ritesh

[2016-06-21 03:16] mjkkirschner commented on #6759
@ikeough I've got some 😜

* interacting with an API that provides no events on document or element modification.
* when you have gotten into a strange state with an API that does provide events and do not wish to close and re-open Dynamo, but you want to be sure of the state that you are in.
* When your graph is dependent on a root node that is a random number but which will never re-execute becau

[2016-06-21 05:34] Benglin commented on #6707
It appears to be working with the RC build of *Dynamo Studio*, I have yet to check on *Dynamo for Revit* (waiting for a class to start)... hopefully it works there too :-)

![multi-line-notes](https://cloud.githubusercontent.com/assets/5086849/16218931/b5701ed8-37b4-11e6-900e-1a6d25a82a9a.png)

[2016-06-21 05:53] ke-yu commented on #6707
@monikaprabhu @riteshchandawar some difference between Dynamo Studio and Dynamo Sandbox?!

[2016-06-21 05:56] ke-yu commented on #6719
hi @marcellosgamb, what's the original function looks like? Is it a multi output node?

[2016-06-21 07:28] riteshchandawar commented on #6707
@ke-yu @epeter- : This is the latest regression caused while fixing the behavior for Node Name change. Now while changing the Node name user can simply click enter to accept the changes, but for Notes we should allow entering the second line.

[2016-06-21 10:13] ke-yu commented on #6707
This https://github.com/DynamoDS/Dynamo/pull/6762 is to fix the issue.

[2016-06-21 10:14] rk-lakshmanan commented on #6707
@epeter-  I have created a PR to fix the issue mentioned above: https://github.com/DynamoDS/Dynamo/pull/6762

[2016-06-21 17:30] chriswmackey commented on #715
The ability to open multiple tabs of dyn files would be incredibly helpful.  I find myself having to close and then rerun dyn files every time I switch between two of them.  This rerunning is fine for quick scripts but the lack of tab-switching is currently limiting how computationally intensive I am willing to build dynamo scripts right now.

[2016-06-22 02:22] JEballar opened #6764 "Revit 2017- Dynamo1.0__node_"select model element" does not select.__thanks."
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

(Which version of Dynamo are you using? Go to Help > Abo

[2016-06-22 06:02] monikaprabhu commented on #6685
@vykrum - thanks for reporting this .We have the same issue logged  at MAGN-10161 by the team.

[2016-06-22 06:54] monikaprabhu commented on #6764
@JEballar - can you please provide build number and which element are you using. I could not reproduce this with latest daily build on DynamoBIM.
![select](https://cloud.githubusercontent.com/assets/5218721/16257170/3d1e5ae6-3889-11e6-8f0a-ad7a94b73e10.png)

[2016-06-23 05:31] ke-yu commented on #6643
Fixed in #6643. Pressing shift, you could either adding a node to the selection by clicking a node, or do window selection.

[2016-06-23 05:31] #6643 closed

[2016-06-23 05:34] ke-yu commented on #6643
FYI @Racel

[2016-06-23 05:40] ke-yu commented on #320
It works! :-)

[2016-06-23 05:40] #320 closed

[2016-06-23 05:46] ke-yu commented on #591
Fixed in #6643, shift-selection.

[2016-06-23 05:46] #591 closed

[2016-06-23 05:55] ke-yu commented on #3473
Close it as it is not reproducible now.

[2016-06-23 05:55] #3473 closed

[2016-06-23 05:58] #4133 closed

[2016-06-23 11:12] birdland007s commented on #6759
Thanks all and sorry for this late replay.
@ikeough, the node, which I want to re-execute eveytime, is Python Script.
The script reads Revit objects and gets their attributes.
The attributes is cooked after that following nodes.

I can understand this is by design, that is, it is difficult to always re-execute in the situation which Dynamo works together with unspecified apps. But I also think it

[2016-06-23 14:13] andydandy74 commented on #6759
Also see #3273 & #4603

[2016-06-23 15:18] ikeough commented on #6759
@mjkkirschner I believe we can add this through a method attribute. Something like [AlwaysReexecute]

[2016-06-23 15:21] mjkkirschner commented on #6759
exactly what I was thinking!

[2016-06-23 15:31] Racel commented on #6643
Nice work, @ke-yu. We might considering re-opening this, because we did no address the "removing" of an item yet. Users should be able to remove an single item by clicking or use a window to remove multiple items. I suggest that we use "Shift" for add/removal toggle. Let me know if this makes sense or if you have any other thoughts.

[2016-06-23 16:01] vykrum opened #6778 "Math.Abs error"
## Dynamo version
1.0.1.1733

## Operating system
Windows 10

## What did you do?
Incorrectly changed some variable names in a code block, which created a cyclic dependency. An error regarding the same comes up.

## What did you expect to see?
On rectifying the issue, I'd expected the error message to disappear. Instead, another message appears.
However on reopening the file, this error doesn't ap

[2016-06-23 16:11] ikeough commented on #6759
@birdland007s We will need to do some design to provide a way for the python node to continually re-execute. I do not want to add continuous re-execution to the python node, by default because the python node gives you the power to write a script to do anything including long-running operations that you don't want to execute every time if you can avoid it.

The end result would be similar to some

[2016-06-23 16:12] AndrewHeumann commented on #6643
Can I suggest that we not use shift for removal? it is more common to use Shift to add and Ctrl to remove from selection - and using the same key for both is confusing, and "toggle" behavior makes it hard to grow a selection that's complex (If I go over the same components twice, it will deselect the ones I already selected).

[2016-06-23 16:22] gregmarr commented on #6643
I think more common is Shift for add and Ctrl for toggle.

[2016-06-23 16:58] birdland007s commented on #6759
Agree with you and the list of #3378.
Thanks a lot.

[2016-06-23 17:07] Racel commented on #6643
Thanks, @AndrewHeumann and @gregmarr.

@ke-yu - Let's use Shift for add and Ctrl for toggle when we implement "remove from selection"

[2016-06-23 19:59] mostaphaRoudsari commented on #6759
@ikeough @mjkkirschner is it possible to hash the code inside the Python node and execute it if only there has been changes from the last run? Having it to always re-run is not going to be efficient.

[2016-06-24 02:58] ke-yu commented on #6685
Fixed in #6776

[2016-06-24 02:58] #6685 closed

[2016-06-24 03:14] ke-yu commented on #6643
@Racel , @samuelcwl 's PR supports Shift to remove a selected node from selection as well.

Can we use one key, either Shift or Ctrl for both add/removal? Otherwise we have to switch between keys.

[2016-06-24 03:44] ke-yu commented on #6778
hi @vykrum , what are values for `a` and `b`?

[2016-06-24 04:26] ke-yu commented on #715
Supporting multiple workspaces definitely is in our radar :-)

[2016-06-24 04:32] vykrum commented on #6778
@ke-yu
a= {4100,4100,4100,100,-1600};
b={0,4500};

However, I think the error is triggered when a variable name is repeated.

[2016-06-24 06:08] ke-yu commented on #6778
cannot reproduce with this input :-(

[2016-06-24 06:34] vykrum commented on #6778
Don't seem to be able to do so myself, either.
Will post steps, if and when I manage to.

[2016-06-24 14:07] zhadiqi commented on #715
notifications@github.com

[2016-06-24 14:08] zhadiqi commented on #715
We waited four years, don't fail us now.

[2016-06-24 18:27] JEballar commented on #6764
Dear Dynamo Support, Aloha! Thank you for the quick reply.  Apparently it is now corrected, I went back & redo the "Select Model Element ( & Elements)" .  At that time the Dynamo built is/was __1.0.1.1593. Sorry for the delayed response.   Thanks for taking the time.  Mahalo nui loa. Kind regards, Jess
=======================
---------- Original Message ----------
Return-Path: <noreply@github.com>

[2016-06-24 19:45] mdengusiak commented on #5465
Hi Do we have any update on this?

[2016-06-24 19:54] Racel commented on #6643
@ke-yu - As @AndrewHeumann mentions, with one key, it is often difficult to expand/contract selections with a "toggle" mechanism.

How about we do this:
- Shift for add/remove toggle (this will likely be the most discoverable, so I think it would be good to make this the toggle)
- Shift+Ctrl for add only
- Ctrl for removal only

I looked through a bunch of other programs (graphics editing, 3d mode

[2016-06-24 20:27] utahhammer commented on #5517
Similar Issue, different build.

Revit 2016 Update5 for R2, Dynamo 1.0.1.20160623T0050 (newest daily build as of today), Windows 7.

With regards to this I found another bug where computer running on virtual machines (in my cas a citrux system) with have issue accessing Graphics card information and thus not display the 3D space behind the workspace.

Any info would be amazing

Object reference no

[2016-06-24 20:43] jnealb commented on #5517
@MMazen @utahhammer @sm6srw Does your VM support "DirectX Version: 10, 11 or 12"? You can check by running DxDiag from the Windows Start button. If not, one solution is to configure your VM to support "VMware SVGA 3D" emulating the "NVIDIA GRID K1".

[2016-06-24 23:40] mjkkirschner opened #6783 "using enum as default value throws exception on library import"
- will file internally when I can.
## Dynamo version

1.x
## Operating system

windows 7
## What did you do?

use a public enum also imported into the VM using ZT as a default value for a parameter to a static method
## What did you expect to see?

can import the library
## What did you see instead?

instead the library importer throws exception because it can't build an AST input node using the e

[2016-06-25 02:33] JEballar opened #6785 "Revit 2017- Dynamo1.0.1.1593__node_"select faces" does not select.__thanks."
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

(Which version of Dynamo are you using? Go to Help > Abo

[2016-06-25 02:38] JEballar commented on #6785
This is   identical to the issue I sent earlier__"Select Model Element ( & Elements)" now is fixed.  .  Dynamo built is/was __1.0.1.1593.

[2016-06-25 02:40] JEballar commented on #6785
Sorry I clicked too soon._thanks.

[2016-06-25 02:40] #6785 closed

[2016-06-25 04:18] vykrum commented on #5054
This has been resolved and hasn't been an issue for a while now

[2016-06-25 04:18] #5054 closed

[2016-06-28 02:34] dimven opened #6797 "[Daily build] Samples missing from Dynamo Sandbox"
## Dynamo version

1.0.1.1757 (daily)

## Operating system

Windows 7

## What did you do?

Opened Dynamo Sandbox and went to the Help > Samples menu

## What did you expect to see?

A menu list of samples

## What did you see instead?

No menu list.
![2016-06-28_10-34-48](https://cloud.githubusercontent.com/assets/7148394/16402006/a4316020-3d1b-11e6-854e-a97f8972a0f2.png)

This is only happening

[2016-06-28 03:30] riteshchandawar commented on #364
Good news @andydandy74, we have fixed the long pending issue of screen capture and the fix is available in daily build.

Here is the Pull Request for the same, if you want to know more about it.  https://github.com/DynamoDS/Dynamo/pull/6786
Do let us know if that doesn't solve your problem.

Thanks a lot to @Benglin for fixing this issue.

Ritesh

[2016-06-28 13:54] jnealb commented on #364
Nice going

[2016-06-28 14:57] Izzo3k opened #6803 "Freezing of Dynamo after long exploring of the watch node data"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.
## Dynamo version

1.0.0.1180
## Operating system

Windows 7
## What did you

[2016-06-28 15:49] QilongTang commented on #6552
@ParametricMonkey It's been a while since we update the status, did updating to Flux 1.0 plugin fixed this issue? Could you share with me the progress?

[2016-06-28 17:52] ksobon opened #6804 "Error while opening a DYN file"
## Dynamo version

1.0

## Operating system

Win7

## What did you do?

open file

## What did you expect to see?

file opened

## What did you see instead?

error

It might be FLUX related.
[Master_CanopyWalk_02.zip](https://github.com/DynamoDS/Dynamo/files/337675/Master_CanopyWalk_02.zip)

[2016-06-28 18:12] oderby commented on #6804
Hmm, it opens fine for me.
![image](https://cloud.githubusercontent.com/assets/1351158/16427184/0b83c6fa-3d21-11e6-8186-5131475c99ce.png)
Does opening in manual mode make a difference?
Do you have the full text of the error and/or the full Dynamo console logs from the error?

[2016-06-28 18:13] ksobon commented on #6804
well I am on the same Dynamo version, Revit 2016 on Windows 7....idk. It crashes out for no obvious reason.

[2016-06-28 18:19] oderby commented on #6804
Hmm, I'm using Revit 2015, though I fail to see how that'd explain the different behaviors. Hopefully someone from the dynamo team can provide some help digging in further.

Although it's hard to tell, if the file won't even open, it seems like an issue with Dynamo. If, after further investigation, you think it's a Flux plugin issue, please file the issue on https://community.flux.io/ and we'd be

[2016-06-28 18:21] ksobon commented on #6804
@oderby I have no clue if its Flux related, but Mark had the same error and also had Flux components in his def so I was guessing that if it happened twice, it could be related. I will let Dynamo team, dig through this. Thanks for looking.

[2016-06-28 18:28] jnealb commented on #6804
@ksobon I need the FamilyInstance.SetType custom node as well please. Are there any package dependencies?

[2016-06-28 18:34] ksobon commented on #6804
@jnealb well...now that we are at this topic. It looks like that was already requested by @andydandy74 a while back. https://github.com/DynamoDS/Dynamo/issues/1171

Anyways, the answer is that I don't remember from top of my head. I made that definition a few months back and the issue is that I can't open it, so I don't think I will be able to help here much. I usually steer away from custom packa

[2016-06-28 19:10] jnealb commented on #6804
@ksobon We can not reproduce with Flux and the dyn you provided: the file opens in 1.0, with unresolved nodes. See also  https://github.com/DynamoDS/Dynamo/issues/6552.

[2016-06-28 19:31] ksobon commented on #6804
yes, indeed that was the issue as described in #6552 installing new Flux solved it. I didn't even realize that I didn't have new flux. My bad.

[2016-06-28 19:31] #6804 closed

[2016-06-29 00:10] ParametricMonkey commented on #6552
@QilongTang I updated Flux and I believe it worked. But I think Dynamo still needs to be addressed. One would expect that you could open the file but that just the Flux nodes didn't work. Rendering the whole script un-openable is not great.

[2016-06-29 03:41] aparajit-pratap commented on #6704
Fixed: https://git.autodesk.com/Dynamo/LibG/pull/348

[2016-06-29 03:41] #6704 closed

[2016-06-29 04:17] ke-yu commented on #6803
Hi @Izzo3k , are you able to reproduce it?

[2016-06-29 09:52] ke-yu commented on #3446
Fixed in #6791

[2016-06-29 09:52] #3446 closed

[2016-06-29 09:54] ke-yu commented on #6068
Fixed in #6798

[2016-06-29 09:54] #6068 closed

[2016-06-29 09:59] ke-yu commented on #5465
@sharadkjaiswal @Randy-Ma

[2016-06-29 13:38] ksobon commented on #5465
@mdengusiak as far as I am aware this was not exposed in Revit 2017 API...maybe in 2018 version?

[2016-06-29 14:08] mdengusiak commented on #5465
thanks Konrad...this is very sad news... however I will keep trying...we see how many years take to get access to color scheme...I really hope this can be done faster..I already know there is not any implication on another part of software so it is matter of allowing someone  time to fix it...

[2016-06-29 16:45] ikeough commented on #6778
Closing for now. Please re-open if you get a reproducible example.

[2016-06-29 16:45] #6778 closed

[2016-06-29 17:12] vykrum opened #6810 "Menu on top"
## Dynamo version

1.0.1.1757
## Operating system

Windows 10
## What did you do?

Right clicked on the Dynamo canvas, the menu appeared
I then clicked some other window (outside Dynamo)
## What did you expect to see?

The new window replacing Dynamo on screen
## What did you see instead?

The Dynamo menu persists in the foreground
Need to get back to Dynamo to dismiss it.

![20160629-7](https://c

[2016-06-30 01:39] JeremyGraham opened #6814 "BuildOutputAST update"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.0

## Operating system

Windows 7

## What did you do?

[2016-06-30 07:06] KirilLukyanenko opened #6823 "Some UI nodes don't have input/output description"
## Dynamo version

1.0.0.1807

![input_output](https://cloud.githubusercontent.com/assets/19977109/16479633/44c3a090-3eaa-11e6-9b57-ce75e1218fbd.png)

[2016-06-30 08:03] monikaprabhu commented on #6797
@dimven - we have this tracked in MAGN-9994. I'll add your request there.Thanks for bring it up

[2016-06-30 08:23] ke-yu commented on #6814
@JeremyGraham  so seems `BuildOutputAST` not called?

[2016-06-30 08:31] JeremyGraham commented on #6814
I have the BuildOutputAst method override in my custom node model as shown attached.

I am trying to get this to update every time the "test" list is updated which is a public list. As new strings are added to the list, the output is not updated. Strings are added by the user pressing a trigger on the node UI.

![capture22](https://cloud.githubusercontent.com/assets/19681852/16481830/c40da76c-3edf

[2016-06-30 08:31] JeremyGraham commented on #6814
![capture22](https://cloud.githubusercontent.com/assets/19681852/16481902/16ba4da8-3ee0-11e6-9447-096839cce887.PNG)

[2016-06-30 08:35] ke-yu commented on #6814
@JeremyGraham when a string is added, you may try to call `MarkNodeAsModified()` so that Dynamo will know this node is modified and need to re-generate ASTs.

[2016-06-30 08:43] ke-yu commented on #6823
@Racel these nodes are UI nodes. We have INPUT and OUTPUT for functions from zero touch libraries, but not for UI nodes.

[2016-06-30 08:44] JeremyGraham commented on #6814
That doesn't seem to work.

To be more specific, I have checkboxes on the UI, when a user clicks one, a checked event occurs which adds a string to the "test" list. I have mucked around with OnNodeModified which shows the event is working, even though it adds null to the output, but of course this clears the UI which isn't ideal...If I can provide anything else which may help, please let me know.

[2016-06-30 08:49] ke-yu commented on #6814
If `OnNodeModified()` is triggered, I'd expect `BuildOutputAst()` will be called. No?

[2016-06-30 08:51] JeremyGraham commented on #6814
Yes, OnNodeModified works to trigger BuildOutputAst but it also wipes the UI clean. I'm guessing that's because the input list is reset also?

[2016-06-30 09:05] ke-yu commented on #6814
@JeremyGraham what is `test` in `BuildOutputAst`? If `test` is a list of *string*, then probably you have to do this:
[code]
I guess the problem here is `AstFactory.BuildExprList()`. If you pass a list of string to it, internally it treats each string as a *variable* from other node, instead of a string. So here we have to build a list of `StringNode` firstly and pass it to `AstFactory.BulidExprLi

[2016-06-30 11:14] vykrum opened #6824 "Issue with points"
## Dynamo version
1.0.1.1757

## Operating system
 Windows 10

## What did you do?
Similar lists obtained in different ways give different results

## What did you expect to see?

Points to behave the same irrespective of the method of creation

## What did you see instead?
![20160630-1](https://cloud.githubusercontent.com/assets/5621624/16486356/cff87ac8-3ee1-11e6-873c-460ca5176019.png)

[2016-06-30 11:48] Racel commented on #6823
@ke-yu - Some UI nodes are missing input/output descriptions, but I thought that a while back we made an effort to add them to a few UI nodes. See the Color Range node below. A few questions:
- do we have a list of all the UI nodes?
- what would it take to add the missing descriptions?
- should we consider taking this on as part of any library re-categorization effort we plan on doing?

![image](h

[2016-06-30 12:18] JeremyGraham commented on #6814
@ke-yu test is a public list which I am using to append strings to as a checkbox is ticked on the UI. It is as coded as shown below.

![ctwp](https://cloud.githubusercontent.com/assets/19681852/16487711/175342f0-3eff-11e6-8ce3-d9764e3c438b.JPG)

I tried your suggesting with the list of strings but am having the odd error:

"cannot convert from 'System.Collections.Generic.List<ProtoCore.AST.Associa

[2016-06-30 13:20] JeremyGraham commented on #6814
Sorry i got the error wrong, it is-

![capture222](https://cloud.githubusercontent.com/assets/19681852/16489483/5f50e19e-3f08-11e6-8cbe-9fba23198dc9.JPG)

[2016-06-30 13:54] ke-yu commented on #6814
@JeremyGraham
[code]

[2016-06-30 14:03] ke-yu commented on #6823
hi @Racel , I don't have a list of UI node.

It is quite simple to add input/output description by adding some attributes to the node. For example,
[code]

Adding description could be done independently, so I think it is not necessary to be part of library re-categorization task.

[2016-06-30 14:07] JeremyGraham commented on #6814
@ke-yu first off, thanks a heap for your help mate, I really appreciate it as I've been struggling with this for a week now.

Unfortunately, when I try to cast , the "cast<AssociativeNode>" produces the new error:

![casterror](https://cloud.githubusercontent.com/assets/19681852/16491046/db596d28-3f0e-11e6-8483-614af1e34ca6.JPG)

[2016-06-30 14:23] jnealb commented on #6823
I recall this being done for Color Range only by UKR

[2016-06-30 14:29] KirilLukyanenko commented on #6823
@ke-yu , but we have no descriptions input and output in Help dialog of Color Range
How can I add it?

[2016-07-01 00:36] ke-yu commented on #6814
@JeremyGraham I'm so sorry, I didn't have an editor to verify the syntax when I typed it, a `()` is missing after `Cast<AssociativeNode>`

Try
[code]

[2016-07-01 00:47] ke-yu commented on #6823
It is weird. I assume these strings come from attributes `InPortDescriptions` and `OutPortDescriptions`. Need to dig in.

[2016-07-01 00:51] JeremyGraham commented on #6814
No worries at all mate! Thanks that has done the trick to sort the string list!

However, unfortunately I still have the problem of the BuildOutpuAST not updating.

To give you an example, shown below, it works if I use OnNodeMofied() once a checkbox is checked... however, This resets the node UI so the checked box is no longer checked. The example below shows how I have ticked the checkboxes for

[2016-07-01 02:03] dimven commented on #6824
This might have to do with the fact that even tho you're using integers, the point automatically casts those to doubles and thus makes them susceptible to FP inaccuracies.

![2016-07-01_10-04-37](https://cloud.githubusercontent.com/assets/7148394/16509796/12bb6d20-3f73-11e6-9b5e-720aaff78be1.png)

[2016-07-01 02:21] ke-yu commented on #6814
Does 1,2,3,4 in Custom Node Model come from `{1, 2, 3, 4}` in Code block? I dont think OnNodeModified will reset the input/UI, but to update the output, the only is to call `MarkNodeAsModified()/OnNodeModified()`

[2016-07-01 02:29] JeremyGraham commented on #6814
Yes that is correct.
The Grid on the UI is updated using the input, i.e. a ObservableCollection is created and displayed based on the input data. In this collection, each checkbox has a checked event which calls OnNodeModified which seems to wipe the UI of any changes. MarkNodeAsModified has no effect on the node.

[2016-07-01 02:49] ke-yu commented on #6814
Oh I see. So seems like `OnNodeModified` triggers graph execution, but as its upstream node, which is code block node, has been executed and will not be executed in this run, this node won't get new data, so it wipes out the old one. Does it need to cached data?

I'm still not quite sure how you get data from code block node, is it from upstream node's `NodeModel.CachedValue`?

[2016-07-01 03:03] JeremyGraham commented on #6814
It doesn't really require the code block to be rerun. Once the node is run initially, it stores the data from the code block in a collection. The user can then check/uncheck checkboxes to update this collection which is ideally then output. Cached data as in , is the input data stored? Apologies if misunderstood.

In the CustomNodeModelNodeViewCustomization class, i'm using the follow code to get

[2016-07-01 03:10] ke-yu commented on #6814
wow, really impressive to see Scheduler and Mirror are used! :-)

@Benglin

[2016-07-01 03:12] JeremyGraham commented on #6814
@key hah, i'm learning as I go mate so I hope it's a good thing ;)

[2016-07-01 05:38] vykrum commented on #6824
@dimven I think the problem lies elsewhere.
![20160701-1](https://cloud.githubusercontent.com/assets/5621624/16512707/02c5c92a-3f7c-11e6-8640-4ea3a712729a.PNG)

Wondering whether the recent spurt in Point related issues on the forum is related to this.

[2016-07-01 05:44] dimven commented on #6824
Are you getting the same result with "Geometry.IsAlmostEqualTo" ? It adds a small margin of error that eliminates the issue of floating point variance:
![2016-07-01_13-45-28](https://cloud.githubusercontent.com/assets/7148394/16512810/e6db13f8-3f91-11e6-8546-97d337b196ae.png)

[2016-07-01 05:48] vykrum commented on #6824
Works fine with _Geometry.AlmostEqual To_ and _Equals_ (ObjectA,ObjectB)

[2016-07-01 06:32] vykrum opened #6831 "Point.Project fails"
## Dynamo version

1.0.1.1757
## Operating system

Windows 10
## What did you do?

Attempted to use _Point.Project_
## What did you expect to see?

Results similar to those obtained using _Surface.ProjectOnto_
## What did you see instead?

![20160701-2a](https://cloud.githubusercontent.com/assets/5621624/16513594/8e84eca0-3f83-11e6-97cd-152b6c7d27ac.PNG)

[2016-07-01 09:46] ke-yu commented on #6824
If element is an object, `Contains` do reference comparison, that is, if two items are the same object, similar to "==" node.

[2016-07-01 12:36] vykrum commented on #6824
@ke-yu Ok, but isn't this something that needs to be rectified?

![20160701-1](https://cloud.githubusercontent.com/assets/5621624/16521721/624a41ac-3fb6-11e6-9861-56cba716f820.png)

[2016-07-01 12:46] vykrum opened #6834 "Cropped Workspace Image"
## Dynamo version

1.0.1.1823
## Operating system

 Windows 10
## What did you do?

Took a screenshot using _Export Workspace As Image_
## What did you expect to see?

![20160701-1a](https://cloud.githubusercontent.com/assets/5621624/16521883/a6a96778-3fb7-11e6-9ad9-9dc7633a3380.png)
## What did you see instead?

Note that cropped preview bubbles on the left
![20160701-1](https://cloud.githubuserc

[2016-07-01 13:00] vykrum commented on #6824
[This query](https://forum.dynamobim.com/t/point-x-gives-different-result-ver-1/4797/2) on the forum might be related

[2016-07-03 15:36] eibre opened #6841 "Surface.Thicken does not work with negative thickness"
## Dynamo version

1.1.1.1841

## Operating system

Windows 10

## What did you do?

Used Surface.Thicken with negative value of thickness

## What did you expect to see?

The surface to be thickened in the opposite direction of its normal.

## What did you see instead?

The surface was thickened in the direction of its normal.

![image](https://cloud.githubusercontent.com/assets/5968613/16546236/

[2016-07-03 23:51] ParametricMonkey commented on #6650
@ikeough @kronz This is still happening. When searching for lunchbox which has just been updated it is not at the top of the list.
![packagemanager1](https://cloud.githubusercontent.com/assets/10913639/16548273/cc04c140-41cc-11e6-8519-00777653f8b3.JPG)
![packagemanager2](https://cloud.githubusercontent.com/assets/10913639/16548274/ce57add6-41cc-11e6-988a-32dcc1dbb986.JPG)

[2016-07-04 00:17] ParametricMonkey commented on #2970
@ikeough @kronz Can someone have a look at this please

[2016-07-04 05:00] ParametricMonkey opened #6844 "Unit Types not working"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.0.1.1576

## Operating system

Windows 7

## What did

[2016-07-04 05:55] ParametricMonkey commented on #6454
@ksobon This is a parallel topic. Any ideas of why this is failing and any suggestions on better workflows?
https://github.com/ladybug-analysis-tools/ladybug-dynamo/issues/18#8 #

[2016-07-04 07:35] vykrum commented on #6841
You should use the other Surface.Thicken node. This one extrudes on both sides of the normal, by default.
![20160704-2](https://cloud.githubusercontent.com/assets/5621624/16553730/e894c9ca-41e7-11e6-9721-54aeeac84b9f.png)

[2016-07-04 07:49] eibre commented on #6841
Thank you Vikram! This is changed behavior since 1.0.0, but I see now that it was supposed to work as you describes:
![image](https://cloud.githubusercontent.com/assets/5968613/16554017/793ed43c-41cc-11e6-9168-5a367b6bb307.png)

[2016-07-04 07:49] #6841 closed

[2016-07-04 10:40] ondejcik commented on #6261
It seems to work fine now, Thanks

[2016-07-04 11:54] jnealb commented on #6261
Thanks

[2016-07-04 11:54] #6261 closed

[2016-07-04 12:07] kronz commented on #2970
We'll get his for 1.2.  Sorry, this one fell between the cracks.

[2016-07-04 14:54] Curty102 opened #6845 "Geometry.Scale - performed on Lines, returns Nurbs Curves, not Lines"
## Dynamo version

1.0.0.276
## Operating system

Windows 7 Enterprise
## What did you do?

Geometry.Scale  (Uses Geometry, Plane, X, Y, Z as inputs) --  when performing
 on lines (not curves or nurbs curves) this returns nurbs curves, not lines.

![nurbs_not_lines](https://cloud.githubusercontent.com/assets/13457861/16564440/14defbd8-41cd-11e6-99e8-0391e21ac79f.PNG)
## What did you expect to see?

[2016-07-04 15:33] Curty102 opened #6846 "Dynamo Null Handling - Custom Nodes comparable to GH's Sift and Recombine Workflow"
## Dynamo version

1.0.0.276
## Operating system

Windows 7 Enterprise
## What did you do?

I have attempted to create a workflow similar to GH's Sift and Recombine.  I've created a pair of custom nodes call List.Pull and List.Put that extract items from a list using an input mask.  List.Pull inserts nulls to maintain original indexing.  I am running into problems since many Dynamo nodes don't see

[2016-07-04 21:34] josols commented on #6844
Same as here: #6562
Revit error?

[2016-07-05 03:00] dimven commented on #6846
This sounds very similar what I had highlighted earlier:
https://github.com/DynamoDS/Dynamo/issues/5238

Usually a node would fail to execute only if the first item in the list is null or an empty sub-list

[2016-07-05 08:27] ejnaren commented on #5076
I would like to support this idea.
I have the exact same issues and both ideas would make a world of difference.

[2016-07-05 13:52] Curty102 commented on #6846
Thanks for the reply Dimitar,  I'm pretty new to the GitHub realm.  You do really great (and much) work and have taught me a lot.  I'm attempting to reply via email here.  So how does this work if this issue is similar to the yours?  Does it get added to your thread or does it get it's own (or is this determined by a moderator)?  I tried scouring the forums for this issue, but I guess  I wasn't su

[2016-07-06 02:32] ke-yu commented on #6834
@Benglin need to include preview bubble...

[2016-07-06 02:34] ke-yu commented on #6844
@rk-lakshmanan any idea?

[2016-07-06 15:08] vykrum opened #6849 "Contains listed twice"
## Dynamo version
1.1.1.1841

## Operating system
Windows 10

## What did you do?
Searched for _Contains_ on the canvas

## What did you expect to see?
One node that matches

## What did you see instead?
Two nodes with the same name and almost identical descriptions

![con1](https://cloud.githubusercontent.com/assets/5621624/16622842/3639315c-43b9-11e6-956d-8deb51f0b6e9.png)
![con2](https://cloud.

[2016-07-07 04:07] JeremyGraham commented on #6814
Hey @ke-yu , so should I not be using the Scheduler and Mirror for this? Is this why the BuildOutputAST is not updating? If there is no other solution than just OnModified(), I can close this issue as unresolved?

[2016-07-07 08:20] dimven commented on #6846
Thanks. Let's keep things as it is. The other issue is already closed. I only mentioned it here so that the work done on that issue can be reviewed and extended or reused, if possible.

[2016-07-07 09:10] hansbalerude opened #6851 "Tutorial won't start"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.
## Dynamo version

1.0.0.1180
## Operating system

Win.7
## What did you do?

[2016-07-10 23:34] secretlyagoblin opened #6857 "BoundingBox.ToPolySurface returns surfaces with 50% of surfaces facing inwards"
## Dynamo version

1.0.0.1180
## Operating system

Windows 10
## What did you do?

BoundingBox.ByCorners > BoundingBox.ToPolySurface > PolySurfaces.Surfaces > Surface.NormalAtParameter (0.5, 0.5)
## What did you expect to see?

All normals pointing outward
## What did you see instead?

3 Surfaces facing outward, 3 surfaces facing inwards

<img width="591" alt="screen shot 2016-07-11 at 11 27 03 am

[2016-07-11 01:32] ke-yu commented on #6814
@JeremyGraham sorry for the late reply! If querying data through scheduler, as task is async, it is not guaranteed that you'll get the latest data. Sorry again that I don't fully understand the problem. If possible, could you upload some sample code so that I can do some debugging?

[2016-07-11 01:40] JeremyGraham commented on #6814
@ke-yu no worries mate, I'm sure you are very busy as it is!

I would be happy to, do you mind if I send a link to the complete code to your email?

[2016-07-11 01:51] ke-yu commented on #6824
@vykrum so `Contains` behavior is incorrect. It shouldn't do reference equality testing (`==`).

`==` tests for reference equality; `Equals` node, if inputs are from zero touch library, it will further call `Equals` on the corresponding C# class. In this case, it will finally call `Point.Equals()` and return `true`.

[2016-07-11 01:51] ke-yu commented on #6824
@monikaprabhu FYI

[2016-07-11 01:52] ke-yu commented on #6814
@JeremyGraham , please :-)

[2016-07-11 02:05] JeremyGraham commented on #6814
@ke-yu Thanks mate, sent to your gmail.

Cheers!

[2016-07-11 03:00] ke-yu commented on #6814
@JeremyGraham , I quickly went through your code. Seems the input was wiped out because `CustomNodeModelNodeViewCustomization` tries to reset input when selection changed:

[code]

Instead of re-generating inputs, when selection changed, `CustomNodeModel` should generate new **outputs**. So could you please try

    CheckListBox.SelectionChanged += delegate
    {
        customNode.OnNodeModified(

[2016-07-11 03:17] JeremyGraham commented on #6814
Hey @ke-yu ,

Thanks for looking at my code.

Unfortunately, this doesn't seem to be the issue... I tried what you suggested and I tried taking out the event all together, still the same problem as shown below.

![animation](https://cloud.githubusercontent.com/assets/19681852/16719074/e78948d2-4758-11e6-9a12-2e9bf3b94e22.gif)

Do you think I should try a different approach? maybe the Scheduler isn

[2016-07-11 03:22] rk-lakshmanan commented on #6844
@josols  @ke-yu  I have created a PR to the issue mentioned above https://github.com/DynamoDS/Dynamo/issues/6844.

[2016-07-11 03:40] ke-yu commented on #6814
@JeremyGraham , forgot to mention, also remove `OnUpdateInputList()` from `CustomNodeModel.OnPropertyChanged()`. Property `CachedValue` is changed when the node *is executed*, that is, after `BuildOutuptAST()` is called and new output is generated. So calling `OnUpdateInputList()` will reset inputs.

[2016-07-11 03:42] #6844 closed

[2016-07-11 03:45] JeremyGraham commented on #6814
@ke-yu you legend, you've done it!

Thanks a milllion mate, this has been driving me crazy for far too long now!!! You have been extremely helpful!

[2016-07-11 03:58] ke-yu commented on #6814
@JeremyGraham  my pleasure. :-)

[2016-07-11 03:59] #6814 closed

[2016-07-11 04:03] ke-yu commented on #6824
#6860 is to fix `Contains` behavior.

[2016-07-11 04:39] ke-yu commented on #6849
Fixed in #6861.

@riteshchandawar @monikaprabhu  FYI

[2016-07-11 04:39] #6849 closed

[2016-07-11 05:55] ke-yu commented on #6745
Sorry, `Equals` node should do real equality test. I think it is an issue in `CoordinateSystem`.

[2016-07-11 09:37] aparajit-pratap commented on #6156
This should be fixed in 1.1. Closing.

[2016-07-12 02:10] #6764 closed

[2016-07-12 09:30] ke-yu commented on #6601
Fixed in #6777

[2016-07-12 09:30] #6601 closed

[2016-07-12 09:32] ke-yu commented on #6810
@vykrum could you please let me know if it is still reproducible?

[2016-07-12 09:34] ke-yu commented on #6702
@riteshchandawar any thought?

[2016-07-12 09:36] ke-yu commented on #6684
@samykbs please let me know if this is still reproducible or not. If the crash is still there, could you provide more details about what operations you did?

[2016-07-12 09:38] sharadkjaiswal commented on #6702
we do have option to install the package at a specific location. Refer: #5186

[2016-07-12 10:04] ke-yu commented on #6683
Hi @mostaphaRoudsari , sorry for the late reply. Looks the second case doesn't marshal data through Dynamo, the evaluation is done only in IronPython, right?

For the first case, looks something goes wrong when marshalling IronPython.Runtime.Types.PythonType back to your type which inherits from `datetime`. Does it help if import analysisperiod into python node that does comparison?

[2016-07-12 11:01] vykrum commented on #6810
@ke-yu Seems to have been resolved. Thanks

[2016-07-12 14:04] ke-yu commented on #2183
It has been fixed in https://github.com/DynamoDS/Dynamo/pull/2435. Please reopen it if come across same crash again.

[2016-07-12 14:04] #2183 closed

[2016-07-12 14:13] ke-yu commented on #2580
@epeter- Close this issue as it is not reproducible on 1.1. If you have reproducible steps, please re-open this issue.

[2016-07-12 14:13] #2580 closed

[2016-07-12 14:25] ke-yu commented on #2581
@epeter- Close it now. If you have reproducible steps, please re-open the issue.

[2016-07-12 14:25] #2581 closed

[2016-07-12 14:30] ke-yu commented on #2307
Close it. Verified on 1.1. Input and output node copied and pasted as code block node.

[2016-07-12 14:30] #2307 closed

[2016-07-12 14:31] ke-yu commented on #3338
Close it now. Please reopen the issue if it is still reproducible on the latest build.

[2016-07-12 14:31] #3338 closed

[2016-07-12 14:35] ke-yu commented on #3580
'+' and '-' buttons are available on build 1.1.

![untitled](https://cloud.githubusercontent.com/assets/2600379/16770835/ea4d842e-4880-11e6-9a57-affaff946184.png)

[2016-07-12 14:35] #3580 closed

[2016-07-12 14:40] ke-yu commented on #3764
@ekatzenstein I think this has been fixed by @aparajit-pratap

![untitled](https://cloud.githubusercontent.com/assets/2600379/16771003/9c1e8acc-4881-11e6-953c-976f87fa4615.png)

Close it. Please reopen it if my understanding is wrong. :-)

[2016-07-12 14:40] #3764 closed

[2016-07-12 14:43] #5581 closed

[2016-07-12 14:43] riteshchandawar commented on #6702
@Omeba720 : You can use @sharadkjaiswal's solution (by choosing smallarrow button)  or you can also set the default path for package download from Setting>Manage Node and Package Path. Once you set the path you can use normal install button to install the package, it will get saved to your network path.

I hope this will solve your problem.

Thanks,
Ritesh

[2016-07-13 00:10] ke-yu commented on #6851
@hansbalerude any more information? Did Dynamo crash?

[2016-07-13 00:17] ke-yu commented on #364
Fixed in #6786 by @Benglin

[2016-07-13 00:17] #364 closed

[2016-07-13 00:21] ke-yu commented on #636
There is an option in help | Hide preview bubble.

[2016-07-13 00:21] #636 closed

[2016-07-13 02:42] aparajit-pratap commented on #6831
Tracked in: http://adsk-oss.myjetbrains.com/youtrack/issue/MAGN-7732

[2016-07-13 03:12] ke-yu commented on #6824
We keep the reference equality testing behavior for `==` node for the time being. `Contains` now has same behavior as `Equals` node.

[2016-07-13 03:12] #6824 closed

[2016-07-13 03:24] aparajit-pratap commented on #6831
http://adsk-oss.myjetbrains.com/youtrack/issue/MAGN-10348

[2016-07-13 03:34] ke-yu commented on #6676
@vykrum, this has been fixed in #6799.

[2016-07-13 03:34] #6676 closed

[2016-07-13 03:47] ke-yu commented on #5894
@mkweaver, we can't reproduce the crash now. Please re-open this issue if you encounter same crash.

[2016-07-13 03:47] #5894 closed

[2016-07-13 05:54] ke-yu commented on #6740
Hi @dago2015 do you have step to reproduce this crash?

[2016-07-13 06:08] ke-yu commented on #6484
@vykrum close it as no enough information to reproduce it. :-( Please reopen the issue if it is reproducible.

[2016-07-13 06:08] #6484 closed

[2016-07-13 06:09] ke-yu commented on #6740
Looks duplicate issue #6570 : same call stack, crash on `VirtualizingStackPanel`

[2016-07-13 06:09] #6740 closed

[2016-07-13 06:28] ke-yu commented on #5750
@brianringley are you able to reproduce this crash?

[2016-07-13 06:30] #3210 closed

[2016-07-13 06:31] #3012 closed

[2016-07-13 06:32] ke-yu commented on #1007
@mjkkirschner I'm cleaning up github issues. Is this crash still there?

[2016-07-13 06:35] ke-yu commented on #2216
Looks it has same cause as #2001 , same crash call stack.

[2016-07-13 06:35] #2216 closed

[2016-07-13 06:38] ke-yu commented on #3332
@jamiefarrell Close as "Cannot reproduce". Please reopen this issue if you're able to reproduce.

[2016-07-13 06:38] #3332 closed

[2016-07-13 06:42] ke-yu commented on #4091
@TravisMWilliams Close it as we can't get enough information to do investigation. Please reopen it if you can reproduce it.

[2016-07-13 06:42] #4091 closed

[2016-07-13 06:49] ke-yu commented on #4838
Close it as we dont have enough information to do investigation. Please reopen it if you encounter same crash again.

[2016-07-13 06:49] #4838 closed

[2016-07-13 06:54] #5343 closed

[2016-07-13 06:55] #5342 closed

[2016-07-13 06:56] ke-yu commented on #5360
@deleeuwj are you able to reproduce the crash on the latest build?

[2016-07-13 06:57] ke-yu commented on #5355
@bdmackey are you able to reproduce the crash?

[2016-07-13 06:59] ke-yu commented on #5209
@philipbussey close it as we don't have enough information to do further investigation. Please reopen the issue if you encounter the same crash again.

[2016-07-13 06:59] #5209 closed

[2016-07-13 07:27] vykrum commented on #6810
Reproduceable in 1.1.0.1930

[2016-07-15 01:12] #289 closed

[2016-07-15 01:37] ke-yu commented on #6672
@rk-lakshmanan is it related to your change about initial selection state?

[2016-07-15 01:39] ke-yu commented on #6712
Tracked in #6681.

[2016-07-15 01:39] #6712 closed

[2016-07-15 01:40] ke-yu commented on #6584
Seems has been fixed in https://github.com/DynamoDS/Dynamo/pull/6649.

[2016-07-15 01:40] #6584 closed

[2016-07-15 09:46] aparajit-pratap commented on #6745
This should be fixed in the next daily.

[2016-07-15 09:46] #6745 closed

[2016-07-15 12:14] Benglin commented on #6834
Hi @vykrum, thanks so much for reporting this issue, I have [proposed a fix](https://github.com/DynamoDS/Dynamo/pull/6893).

[2016-07-15 14:48] mostaphaRoudsari opened #6894 "Wish: Access Dynamo's Package Paths from Python"
Following up from [this discussion](https://forum.dynamobim.com/t/access-dynamos-package-paths-from-python/4575?u=mostapha) on the forum.

I'm looking for a call from inside python node to access package path(s)? It will save me an other developers who are loading the libraries from package folder a lot of duplicated code and also ensures that we can have access to the libraries even if the user i

[2016-07-15 21:15] marqmau opened #6896 "Cant find Curve.DivideEqually command!"
When I was doing an exercise I need  the command "Curve.DivideEqually, but  I wrote it to search it but never appears that command, I have the Dynamo for revit 1.0.
Please, tell me what I need to do.

[2016-07-16 10:46] aparajit-pratap commented on #2160
@vykrum do you have the file, any more details on how to reproduce this?

[2016-07-16 11:27] aparajit-pratap commented on #6896
@marqmau `Curve.DivideEqually` has been deprecated. Use `Curve.PointsAtEqualSegmentLength` to create points at equal lengths along the curve and then use those points to split the curve using `Curve.SplitByPoints` to get functionality equivalent to the older `DivideEqually` node. See https://github.com/DynamoDS/Dynamo/wiki/Dynamo-Node-Changes for all the node name changes in recent releases.

[2016-07-16 11:27] #6896 closed

[2016-07-16 11:37] #6702 closed

[2016-07-16 11:59] aparajit-pratap commented on #3653
This has been addressed here: https://github.com/DynamoDS/Dynamo/pull/4060

[2016-07-16 11:59] #3653 closed

[2016-07-17 03:23] j12kemp opened #6898 "Running EnergyPlus from a ZeroTouch node throughs an error"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.
## Dynamo version

1.0
## Operating system

Windows 7, Windows 10
## What di

[2016-07-18 07:24] andydandy74 commented on #6894
@mostaphaRoudsari - Great idea. In the meantime, have a look at how this was solved for BumbleBee package: https://github.com/ksobon/Bumblebee/issues/15

[2016-07-18 08:37] silverglow opened #6902 "Dynamo causes blanck quickbar"
## Dynamo version
Dynamo 1.0.0

## Operating system
Windows 10

## What did you do?
As soon I launch Dynamo, Revit 2016 R2 quickbar becomes blank and all the icons seems invisible.
I have uninstalled Dynamo and since that everything is correct: quickbar returns always visible.
I have checked my graphic card settings (NVIDIA settings),and my drivers are all updated.
I've tried 100% as DPI scale too