[2015-08-12 07:35] andydandy74 commented on #5071
Great, that did it! How could I have missed that? :-) Thanks @aosyatnik !
One last question: What's the correct size for the icons? I seem to be running into antialiasing issues with the 256x256 pixel grid I have chosen.

[2015-08-12 07:40] andydandy74 opened #5088 "Wish: Show custom node icon in tooltip, too"
I am super excited that we can now specify custom icons for our own packages, but it would be even greater if those icons were also displayed in the tooltips. CC @aosyatnik
![unbenannt](https://cloud.githubusercontent.com/assets/3014437/9218793/ed6693a2-40d5-11e5-974f-08cc28c61bdf.png)

[2015-08-12 07:48] aosyatnik commented on #5071
@andydandy74 , large icons for tooltip considered as 96x96. Small icons - 32x32. But you can use any size of icon, Dynamo will turn it in 32, and 96.

[2015-08-12 08:17] aosyatnik commented on #5088
@andydandy74 , you can show this icon in tooltip as well. Add icon for tooltip and call it - DefaultCustomNode.Large

[2015-08-12 08:35] andydandy74 commented on #5088
Great, thanks!

[2015-08-12 08:35] #5088 closed

[2015-08-12 08:39] andydandy74 commented on #5071
Thanks, I'll try again with the correct icon sizes.

[2015-08-12 08:39] #5071 closed

[2015-08-12 09:39] andydandy74 opened #5094 "Custom icons for custom categories?"
Another question for @aosyatnik
Is it also possible to create custom icons for custom node categories? If so, is there also an option for a default icon for all custom categories within a given package?

[2015-08-12 09:54] aosyatnik commented on #5094
There is no way to create custom icon for category. You can create either default icon for the whole package, or icon for each node.

[2015-08-12 10:15] andydandy74 opened #5095 "Single input custom nodes with default input value should execute"
Scenario: I have a custom node with a single input. I edit its input label and include a data type as well as a default value. I leave the input unconnected and execute the graph. The node returns `_SingleFunctionObject`.
Expected behaviour: If there's a default value set, let the node execute with that default value if no other input value is specified. It works like that for built-in nodes as we

[2015-08-12 13:18] jnealb commented on #5087
@vykrum Interesting - we have installed Windows 10 and loaded Dynamo 8.2, but have yet to get this warning. Thanks for the heads up.

[2015-08-12 14:03] jbenoit44 opened #5097 "0.8.2 daily: issue with List created by Code Block in python"
I've experimented a weird behavior of CB list: even if output preview is a list, it seems to not being properly recognized as input by custom nodes using python. Will comment later on if I got any details.

[2015-08-12 14:23] jbenoit44 opened #5098 "0.8.2 daily: Dynamo crashes when saving Custom Node"
Le format de la chaîne d'entrée est incorrect.

   à System.Number.ParseDouble(String value, NumberStyles options, NumberFormatInfo numfmt)
   à System.Double.Parse(String s, NumberStyles style, IFormatProvider provider)
   à Dynamo.Controls.GroupFontSizeToEditorEnabledConverter.Convert(Object[] values, Type targetType, Object parameter, CultureInfo culture)
   à System.Windows.Data.MultiBindingEx

[2015-08-12 15:16] ksobon commented on #2643
I cannot get the G1 discontinuity error so its seems like its fixed. I am having other geometry issues in its stead, so i will just open a new issue when I know more. Thank you,

[2015-08-12 15:16] #2643 closed

[2015-08-12 16:33] jnealb commented on #5098
@jbenoit44 We are unable to reproduce - can you give more details: dyn used, exact steps, OS? Thanks.

[2015-08-12 18:08] jbenoit44 commented on #5098
Open CN, modify, close. Bug window pops up. each time.  windows 7 French, revit 2015, latest daily available.

[2015-08-12 18:18] Kelcyo commented on #5033
These guidelines do not solve the problem.
First Windows 10 does not do the downgrade, saying that already have the latest version installed (DirectX 11.1).
According to believe than DirectX problem as the Build (0.8.1.20150406T1239) when installed works perfectly in these OS. The most likely is the question of compilation.

[2015-08-13 03:06] vykrum commented on #5087
@jnealb  More info on clicking More info ..
![20150813-1](https://cloud.githubusercontent.com/assets/5621624/9241840/33d50286-4196-11e5-8e6d-94961559ac05.jpg)

[2015-08-13 10:02] basboer opened #5102 "Dynamo crashes when using Structural Analysis Package"
Retrieving the COM class factory for component with CLSID {F7870790-CDE5-11D1-8FF1-00A02447BAAE} failed due to the following error: 80040154 Class not registered (Exception from HRESULT: 0x80040154 (REGDB_E_CLASSNOTREG)).

   at DynamoSimulation.RSA.RSACore.InitRSAApplication()
   at DynamoSimulation.RSA.RSACore.InitRSACore()
   at DynamoSimulation.RSA.RSACore.EnsureRSA()
   at DynamoSimulation.RS

[2015-08-13 12:25] kronz commented on #4929
@Randy-Ma @ikeough Some more information on how "Project Internal" coordinate work versus "Project Base Point" . http://thebuildingcoder.typepad.com/blog/2015/08/internal-vs-base-point-and-link-to-host-coordinates.html#3

[2015-08-13 12:55] vykrum opened #5103 "Website down"
This is probably not the appropriate place to report this, but the website (dynamobim.org) seems to be experiencing a lengthy downtime.

The error on Chrome is: Error establishing a database connection

I'm sure you'll are already aware, but reporting nevertheless.

[2015-08-13 15:49] vykrum commented on #5103
Seems to be alright now.

[2015-08-13 15:49] #5103 closed

[2015-08-13 17:49] RodRecker commented on #5103
Thank you for letting us know. We have setup s better monitoring now.

[2015-08-13 18:42] josols commented on #4793
sorry for extremely late reply, but i tried downloading and it's working in 0.8.2 dailies. Now do you have a dynamo mesh to mesh toolkit converter? :)

[2015-08-14 07:23] andydandy74 commented on #4793
@josols - see #3749 for a way to convert your mesh...

[2015-08-14 15:24] ellipsebd opened #5118 "Dynamo crashes when opening another dynamo file listed in recent files."
![crashes while opening another file](https://cloud.githubusercontent.com/assets/13789181/9276932/c5d259d0-42c8-11e5-9d79-439fb7794ca1.jpg)
saved a file which i was working on within revit conceptual mass family  and tried to open another dynamo file (related with other revit conceptual mass) within the same revit-dynamo workspace and it crashed. Is it because
2 different conceptual family cross-a

[2015-08-14 15:56] jnealb commented on #5118
@ellipsebd Can you reproduce the crash and if so can you please expand the Details so we can see the stack dump?

[2015-08-15 00:09] ellipsebd commented on #5118
Thanks Neal,
I will try to reproduce but not sure...but if i can i will send you the
details and if somehow don't forget to do this.
Thanks again.

On Fri, Aug 14, 2015 at 3:57 PM, Neal Burnham <notifications@github.com>
wrote:

[2015-08-16 23:49] ksobon opened #5120 "The '+' Character, , hexadecimal value 0x2B, cannot be included in a name."
I was building some small UI Nodes and this comes up. Any ideas?

The '+' character, hexadecimal value 0x2B, cannot be included in a name.

   at System.Xml.XmlDocument.CheckName(String name)
   at System.Xml.XmlDocument.CreateElement(String prefix, String localName, String namespaceURI)
   at Dynamo.Models.ModelBase.CreateElement(XmlDocument xmlDocument, SaveContext context)
   at Dynamo.Core.Und

[2015-08-17 01:12] ksobon commented on #5120
This seems like an issue for @ikeough as it smells to me like a Dynamo compiling error...unless i asked it to do something weird. I am a noob, so apologies for breaking it. :-)

[2015-08-17 03:18] holyjewsus commented on #5120
hmmm, the stack trace looks like it was actually when trying to record the creation of this node for undo that the xml representation had some invalid xml... apparently a + in the name... is there  "+" in the path to the UI dll?

[2015-08-17 03:24] ksobon commented on #5120
not likely. a + is not a character that i would use when creating a directory. both dlls were uploaded to a package so live in userData....Dynamo/packages/ location. Is that the path that you are referring to?

[2015-08-17 03:36] archinate opened #5121 "Zero Touch Library with Icons... possible?"
Hello all,
I'm not sure if this is a case of it not being possible, or maybe I'm just missing the documentation somewhere...  Is it possible to have icons with Zero Touch libraries?  I have already found the documentation for custom nodes, etc... but nothing that speaks directly to zero touch nodes.

I'm looking to make the LunchBox package "pretty" and most of those nodes come through a Zero Touc

[2015-08-17 10:54] ksobon commented on #5121
Try this: https://github.com/DynamoDS/Dynamo/wiki/Create-An-Icon-for-A-Node

[2015-08-17 13:14] archinate commented on #5121
Yeah, I found that one.... but that looks to be for icons in the Dynamo core platform.  Nothing about adding an icon to a zero touch node or tips on distributing zero touch packages with icons.

[2015-08-17 14:24] ksobon commented on #5120
I also checked paths to all of my references in VS and none have a + sign in them. Would it be possible to obtain an example of a dropdown node that uses the Enum object from Revit. There is a ton of them in Revit: PrintRange, BuiltInParameter, etc.

[2015-08-17 15:32] safawi opened #5131 "The virtual machine that powers Dynamo is experiencing some unexpected errors internally"
Hi
I'm getting this error. I'm using version 0.8.1
Probable I/O race condition detected while copying memory. The I/O package is not thread safe by default. In multithreaded applications, a stream must be accessed in a thread-safe way, such as a thread-safe wrapper returned by TextReader's or TextWriter's Synchronized methods. This also applies to classes like StreamWriter and StreamReader.

   at

[2015-08-17 15:40] jnealb commented on #5118
@ellipsebd Any update on this?

[2015-08-18 06:09] monikaprabhu commented on #5022
@vykrum - could you please try this on latest build and check if its reproducible ?I could not reproduce this with latest daily build -  We have fixed an issue that has similar steps as above, but was generating some warnings. So it would be great if you can retest and let us know. Thanks.

[2015-08-18 08:15] monikaprabhu commented on #5064
Revit 2016 stair explodes stair into surfaces - which Revit version are you using ?

![stair](https://cloud.githubusercontent.com/assets/5218721/9325313/f798c47e-45c3-11e5-898a-6308b3fb1cd7.png)

[2015-08-18 08:18] monikaprabhu commented on #5068
@ke-yu - feature request for you take a look? Are there any plans to change this in future?

[2015-08-18 09:01] vykrum commented on #5022
@monikaprabhu Tried with 0.8.3.2250 on Windows 10. Seems to work fine.
However, I don't have any background graphics (in general), as reported earlier.

[2015-08-18 10:49] monikaprabhu commented on #5035
I've filed two issues below to track the user request.
MAGN-8162 - Revisit the language design for  using List operation with replication in imperative. MAGN-8161 - Appropriate error message while using wrong syntax in imperative.

[2015-08-18 18:10] ghost opened #5137 "Python Script Editor Window Titles"
It would be great to use the user-define name of Python Script Nodes as the titles for the Python Script Editor Windows--this is instead of the current generic title: "Edit Python Script...".

When editing and jumping between many Python Script Nodes, one sometimes forgets which script they're currently editing. A useful hint/title would be great.

Thanks

[2015-08-18 18:17] ksobon commented on #5120
It works now, although I have no idea what the issue was. I used a different method for extracting an Enum value and now its all good. Thanks for help though.

[2015-08-18 18:17] #5120 closed

[2015-08-18 19:43] Dewb opened #5138 "Mono solution does not build on Ubuntu"
Looks like the Mono solution has not kept up with recent changes; it fails to build on Ubuntu. Is Dynamo.Mono.2013.sln still the recommended entry point for Linux builds?

[2015-08-18 20:23] phrmsilva commented on #5138
Example of the output of building with xbuild on a Ubuntu machine:

XBuild Engine Version 12.0
Mono, Version 3.2.8.0
Copyright (C) 2005-2013 Various Mono authors

Build started 8/18/2015 7:49:55 PM.
__________________________________________________
/home/vagrant/code/dynamo/src/Libraries/DynamoConversions/DynamoConversions.csproj:  warning : Could not find project file //Config/CS.props, to impor

[2015-08-18 20:37] holyjewsus commented on #5138
hi guys, yes the mono build and 2013 build need the samples project removed from the .slns I think there is a PR out for this.

[2015-08-18 21:24] pboyer commented on #5138
Somehow Travis is not reporting a failure...

On Tue, Aug 18, 2015, 4:37 PM Michael Kirschner <notifications@github.com>
wrote:

[2015-08-18 22:04] ksobon commented on #5121
@ikeough @pboyer you guys have any ideas about this one? I am looking to get the same thing going. Thanks!

[2015-08-19 02:01] ke-yu commented on #5131
@monikaprabhu , we could log a defect to trace this issue.

[2015-08-19 02:08] ke-yu commented on #5121
You know that ProtoGeometry is a zero-touch library? :-)

Check out this post: https://github.com/DynamoDS/Dynamo/wiki/HowTo:Create-customization-dll

[2015-08-19 02:10] holyjewsus commented on #5098
@jbenoit44 are you creating large numbers in this custom node?

[2015-08-19 02:16] holyjewsus commented on #5098
@ramramps potentially has to do with: https://github.com/DynamoDS/Dynamo/commit/1172fba5c55f1dc40434b7ef6b62c79ed5b01488

[2015-08-19 02:33] archinate commented on #5121
@ke-yu That looks like it'll do the trick.  I'll give it a shot.

This may warrant some better documentation in the near term since that article didn't come up in any of my wiki searches.  Seems like it'd be helpful to fold that into other articles on Zero Touch nodes.

Cheers,
-Nate

[2015-08-19 06:19] monikaprabhu commented on #5073
@andydandy74 - I agree it must be consistent and it should return EmptyList in the above case. Tracking at MAGN-8191

[2015-08-19 06:33] monikaprabhu commented on #5074
I agree it must be consistent and it should return EmptyList in the above case. Tracking at MAGN-8191

[2015-08-19 07:07] jbenoit44 opened #5141 "Icons for packages: some are missing"
![image](https://cloud.githubusercontent.com/assets/4572196/9350476/6e7869b8-4651-11e5-95ff-782dc586a737.png)

tried with DefaultCustomNode.Small, and some packages have icon, some not.

[2015-08-19 07:09] jbenoit44 commented on #5098
it is with any CN. I tried with latest 0.8.3 and get this when saving as:

Input string was not in a correct format.

   at System.Number.ParseDouble(String value, NumberStyles options, NumberFormatInfo numfmt)
   at System.String.System.IConvertible.ToDouble(IFormatProvider provider)
   at Dynamo.Controls.GroupFontSizeToEditorEnabledConverter.Convert(Object[] values, Type targetType, Object param

[2015-08-19 12:15] jbenoit44 commented on #5098
FYI this is not happening with revit 2016.

[2015-08-19 12:49] jbenoit44 opened #5144 "Enhancement: ability to set default text size when creating groups"
always too small font in my opinion.default is 14, I use 30 most of the time.

[2015-08-19 13:17] Kelcyo commented on #5033
Lords some temporary solution to this problem, or only when you exit the final build.

[2015-08-19 13:17] Kelcyo commented on #5033
Lords some temporary solution to this problem, or only when you exit the final build

[2015-08-19 18:57] pboyer commented on #5138
Please reopen if you continue to have issues.

[2015-08-19 18:57] #5138 closed

[2015-08-20 03:14] andydandy74 commented on #5121
Agreed - I think the wiki landing page needs an overhaul...

[2015-08-20 13:27] archinate commented on #5121
@ke-yu I dug a little deeper into the info on that page....  The documentations seems incomplete with some missing steps.  Some of the links to other documentation also seem to be broken or linked to pages that don't exist.

I still wasn't able to get icons to attach to a zero touch lib after trying it out.  I'll dig deeper this weekend and let you know if I have any luck.  Insight from @ikeough o

[2015-08-20 17:43] RodRecker commented on #5121
@archinate sorry that the docs were not complete here. Please help us update the docs as you find the missing info. @ksobon has done this for us successfully. The wiki should be open for edits with no pull request required.

[2015-08-20 17:56] archinate commented on #5121
Hey @RodRecker, always happy to help out... but the the answer to the issue I am inquiring about is still not yet answered and I am still looking for guidance outside of an incomplete wiki link. I am happy to help out by improving the documentation... if I knew what to document.

This issue in question seems to be important as it would help folks (like me, @andydandy74, and @ksobon ) to make our p

[2015-08-21 00:06] ksobon commented on #5121
@archinate @RodRecker @ke-yu I made some changes to the Wiki Page that was referenced here. I agree with Nate, it was hastily created with links on it not working and a lot of steps omitted. I added bunch of missing stuff and things to look out for using Bumblebee as an example. Nate, hope this helps! https://github.com/DynamoDS/Dynamo/wiki/HowTo:Create-customization-dll

[2015-08-21 00:07] holyjewsus commented on #5121
@ksobon thanks for doing this!

[2015-08-21 00:26] ksobon commented on #5121
@holyjewsus no problem, please correct me if I have said something that is not true. I have only been using Visual Studio and C# for 2 weeks now.

[2015-08-21 00:54] RodRecker commented on #5121
Thank you guys! This is starting a good internal discussion about how best to handle the documentation going forward.

[2015-08-21 05:36] andydandy74 commented on #5121
For anyone else that stumbles across thris thread: Looks like @archinate moved the article that @ksobon linked to above to a new location: https://github.com/DynamoDS/Dynamo/wiki/HowTo:-Add-Icons-to-a-Zero-Touch-Node-Library-DLL
(It's a pity the GitHub wiki doesn't remember URL changes...)

[2015-08-21 05:43] andydandy74 commented on #5121
Here's a thought for the Dynamo team: Maybe all of the documentation on the wiki pertaining to custom and zero touch nodes could eventually be incorporated into the Dynamo Primer in a separate section on making and maintaining packages. That would give these topics better version control and (probably) better exposure, too. Keep the GitHub wiki documentation strictly for topics revolving around co

[2015-08-21 08:47] Appio81 opened #5160 "getting some istances parameters and got this error"
Object reference not set to an instance of an object.

   at ProtoCore.DSASM.Heap.GCMarkAndSweep(List`1 rootPointers, Executive exe)
   at ProtoCore.DSASM.Executive.GC()
   at ProtoCore.DSASM.Executive.DEP_Handler(Instruction instruction)
   at ProtoCore.DSASM.Executive.Execute(Int32 exeblock, Int32 entry, Language language)
   at ProtoCore.DSASM.Executive.BounceUsingExecutive(Executive executive,

[2015-08-21 12:02] RodRecker opened #5162 "0.8.2 Release Candidate is available for Testing"
The release candidate for 0.8.2 is available for testing. Please take a look and report back any issues you see.
http://dyn-builds-data.s3-us-west-2.amazonaws.com/DynamoReleaseCandidateInstall0.8.2.exe

[2015-08-21 13:34] jnealb commented on #5121
APPENDIX A

1 of ...

[2015-08-21 16:20] melkhaldi opened #5167 "Adding other python packages"
How can I add other python-language packages (non-dynamo specific)?

[2015-08-21 16:25] holyjewsus commented on #5167
hi @melkhaldi do you mean how to you import python modules or libraries to use in the python nodes?

[2015-08-21 16:29] holyjewsus commented on #5167
if so please checkout this question:

http://stackoverflow.com/questions/1200182/how-to-use-a-c-sharp-dll-in-ironpython

[2015-08-21 16:49] ksobon opened #5168 "unloading a previously loaded DLL"
I have been trying to unload a previously imported DLL. I use the Add>ImportLibrary... method to load a dll into Dynamo but now I want to unload it.

[2015-08-21 17:16] holyjewsus commented on #5168
this is a .net issue and is not really possible as far as I know.
@pboyer

[2015-08-21 17:20] ksobon commented on #5168
ouch, I even tried re-installing Dynamo and it still persists which makes me quite sad. :-(

[2015-08-21 17:21] holyjewsus commented on #5168
@ksobon now I'm confused, are you opening a file that uses this dll?

[2015-08-21 17:29] melkhaldi commented on #5167
Thanks!
On Aug 21, 2015 9:29 AM, "Michael Kirschner" <notifications@github.com>
wrote:

[2015-08-21 17:31] ksobon commented on #5168
yes, i understand that. Problem is that I am not using any of the Dlls that are persisting. I did load them in once and they keep coming back.

[2015-08-21 17:32] holyjewsus commented on #5168
@ksobon ok, on the same page now:
1) are they in your packages folder?
2) have you checked out the new setting that lets you set extra custom paths for loading packages, are there dlls in there?

[2015-08-21 17:36] ksobon commented on #5168
![image](https://cloud.githubusercontent.com/assets/529781/9414821/4fc51b60-4809-11e5-9a9c-961d41d91443.png)

Actually my bad. You are right. Those are the two Dlls that are part of my package. I have a Dll that builds a UIDropDown node and then it calls a function that lives in those two suckers. One for each package. So, yes they are being used by my packages but should not be visible in the men

[2015-08-21 17:37] ksobon commented on #5168
So that's the suckers from their respective packages:

![image](https://cloud.githubusercontent.com/assets/529781/9414888/ba9d3bc0-4809-11e5-994d-71ac26172243.png)

![image](https://cloud.githubusercontent.com/assets/529781/9414896/c9f434e8-4809-11e5-9f28-bf69b0748594.png)

[2015-08-21 17:38] holyjewsus commented on #5168
you can set use the attribute  [IsVisibleInDynamoLibrary(false)] on the methods and classes(i think).

[2015-08-21 17:57] ksobon commented on #5168
tried this:

![image](https://cloud.githubusercontent.com/assets/529781/9415322/6dbedda6-480c-11e5-9591-9e761a67609b.png)

Still there when I reopen Dynamo. Other ideas?

[2015-08-21 18:04] holyjewsus commented on #5168
@ksobon
1) are you sure you updated the dll in your package when you rebuilt?
2) does that method you put the tag on show up in the library? or just the category?

[2015-08-21 18:12] ksobon commented on #5168
Yes, I am sure i updated the dll after i rebuilt it.
It looks like its not the Class or Method that shows up but rather an enum. Am i correct?
![image](https://cloud.githubusercontent.com/assets/529781/9415577/56c94d78-480e-11e5-8e0a-2a040a5ccdea.png)
![image](https://cloud.githubusercontent.com/assets/529781/9415584/655a789e-480e-11e5-8bfd-6e4b2235a271.png)

[2015-08-21 18:33] holyjewsus commented on #5168
@ksobon it appears now part of this library is being loaded and part is hidden...
according to @pboyer the package .json in the package folder specifies which libraries are to be loaded as node libraries, (check this out and make sure only your top level library is specified here)

BUT other libraries that define and expose some public types into the top level library are loaded as well...  so you

[2015-08-21 18:55] ksobon commented on #5168
yes, json has them both listed:
![image](https://cloud.githubusercontent.com/assets/529781/9416296/d06eb128-4812-11e5-9148-3896b15c4217.png)
however, if i delete my "archilab" library from here, it doesn't get loaded into Dynamo and then this happens:
![image](https://cloud.githubusercontent.com/assets/529781/9416384/59e993be-4813-11e5-8424-95dd1b77f106.png)

This is the archilabUI dll that builds

[2015-08-23 05:23] FlintSable commented on #4942
I wish there was a Mr.Sprinkle for Dynamo to align all the nodes.

[2015-08-23 21:26] jbenoit44 commented on #3433
This is annoying. if it's not fixed soon, better say dependency is not allowed between packages. Users telling you your package is messing everything on their computer is a real pain in the a**.

[2015-08-24 01:15] ksobon commented on #3433
I would throw my hat into the fray here as well. Mostly because Julien's package has archi-lab dependency so its messing up my package. :-) I would consider this critical.

[2015-08-24 11:45] vykrum commented on #5162
Spotted an instance of a wrong description of what the node does in the 0.8.2 Release Candidate

![20150824-1](https://cloud.githubusercontent.com/assets/5621624/9439339/a40a045c-4a83-11e5-825a-ce74084d2a79.jpg)

[2015-08-24 13:29] jhubers commented on #4776
Hi @ke-yu Back from holidays, picking it up again. Noticed that my pCOLLECT script gives an error when using automatic run in Dynamo. Anyway it didn't have the right method for getting the inputs. But I was wondering if there is a solution to have dynamic inputs. I mean that you can add or delete inputs like with the List.Create node, using + or -? But how can we then use the BuildFunctionCall, wh

[2015-08-24 13:50] vykrum commented on #5162
Another related to adjacent edges and faces

![20150824-2](https://cloud.githubusercontent.com/assets/5621624/9441629/db6e4140-4a94-11e5-86d3-d652382ee1c8.jpg)

[2015-08-24 17:11] Legantmar commented on #5162
0.8.2
<img src="https://leto18g.storage.yandex.net/rdisk/01ed0a2cd88d020289718ff1ce4ccbdd68c9fb8cf0097efc8e3d17083350ab0d/inf/Vlp6SRiHSb6P7vNieL-KcOGfnLSRrgvk9UOdn8ln2sQg6Se5whemURyuBIEldBxy4nlfocv4LV99a7UMv5DE9Q==?uid=0&filename=2015-08-09%2021-07-06%20%D0%A1%D0%BA%D1%80%D0%B8%D0%BD%D1%88%D0%BE%D1%82%20%D1%8D%D0%BA%D1%80%D0%B0%D0%BD%D0%B0.png&disposition=inline&hash=&limit=0&content_type=image%2F

[2015-08-25 03:12] monikaprabhu commented on #5162
@Legantmar - thanks for highlighting the issue - we are tracking it at - MAGN-8222 -Element.GetParameterValueByName

[2015-08-25 05:23] monikaprabhu commented on #5160
@Appio81 - Can you please post more information here - Which nodes are you using for querying parameters,  any specific type of family instance or all of them. Which build of Dynamo are you using - Please post your data set if consistently reproducible.

[2015-08-25 05:44] monikaprabhu commented on #5144
@jbenoit44 -the request is tracked at   MAGN-8231. @ramramps

[2015-08-25 06:12] monikaprabhu commented on #5137
@melkhaldi - you can rename the node and change the node name - To make it more user friendly may the Edit Python Script can also display the node name ? will that be sufficient ?

![python](https://cloud.githubusercontent.com/assets/5218721/9459889/4835419a-4b33-11e5-9906-5fea149d4dc1.png) .

[2015-08-25 06:20] melkhaldi commented on #5137
Hi, thank you for your feedback. I am aware of the node name change
functionality. But I think the python script editor window title should
also reflect the name of the node it represents.
On Aug 24, 2015 11:13 PM, "monikaprabhu" <notifications@github.com> wrote:

[2015-08-25 07:34] monikaprabhu commented on #5102
@basboer - which version of Robot Strcutural Are you using ?

[2015-08-25 09:23] Appio81 commented on #5160
The original file with the error was deleted, I've done a new one with many copy\paste. Next time I will send you the file too.

[2015-08-25 12:59] ksobon commented on #5121
@ikeough made an effort to re-do/make the Wiki Page clearer. The new page can be found here: https://github.com/DynamoDS/Dynamo/wiki/Add-Icons-for-a-Zero-Touch-Assembly

@archinate can we close this issue? It looks like we have resolved it. Thanks!

[2015-08-25 13:52] archinate commented on #5121
Looks good to me!  cheers!  Thanks, all!

[2015-08-25 13:53] ksobon commented on #5168
@pboyer can you let me know if/when you have any ideas about this? It seems to me that my archilabUI.dll and how I am making a DropDown in there is causing all this fuss. Can you see anything wrong? Thanks!

[2015-08-25 15:56] moethu opened #5182 "[Revit] Select Edge(s) implementation"
Hi there,

is there any reason why there is no "Select Edges" Node similar to "Select Faces" (https://github.com/DynamoDS/DynamoRevit/blob/b4aa8433316eb2706a73201cb1abdf27c6b59d5e/src/Libraries/RevitNodesUI/Selection.cs#L723-L733) in the Revit Library?

I used ReferenceSelection as a base class and implemented this:
[code]
But after compiling & loading, the node doesn't show up. I added it to a li

[2015-08-25 19:08] Kelcyo commented on #5162
This build has not solved the problem reported in post #5054 and #5033.

[2015-08-25 19:33] jnealb commented on #5162
@Kelcyo We are tracking with MAGN-8082 - Windows 10 testing - and MAGN-7641 - software fallback - and will provide you with updates promptly as progress is made.

[2015-08-26 02:39] vykrum commented on #5162
Input and Output ports disappeared in code block

![20150826-1](https://cloud.githubusercontent.com/assets/5621624/9484405/41904c40-4bc9-11e5-8955-08c02027110b.jpg)

Also the behavior of Curves seems to be inconsistent. The same Curves when exploded behave much better as Lines.

[2015-08-26 02:59] vykrum commented on #5162
Am I wrong to expect similar results from both Code Block 1 and Code Block 2 (below)?
From what I understand, the code in the two blocks is identical, but the structure of the results differs.

![20150826-2](https://cloud.githubusercontent.com/assets/5621624/9484582/f6583a5a-4bcb-11e5-9d71-43b096f38995.jpg)

[2015-08-26 03:41] riteshchandawar commented on #5162
@vykrum Is there any reaosn behind putting <1><2>? Because if you want to check all points from first collection intersecting with Lines or not then you can directly put "a<1>.DoesIntersect(l<2>);", you dont have to specify <1><2>.

But as far as your concern the results are still different. We need to log that defect and get it tracked.

[2015-08-26 03:54] vykrum commented on #5162
@riteshchandawar  only by using the replication guides that way I got the desired result in a more elaborate code block. Just tried to replicate that code with a simple example here.

[2015-08-26 03:58] marcellosgamb opened #5184 "Mirrored Surfaces using the Geometry.Mirror Method in c# Zero Touch Nodes show Reverse Surfaces on Graphical Preview"
Mirrored Surfaces using the Geometry.Mirror Method in c# Zero Touch Nodes show Reverse Surfaces on Graphical Preview
Was it intended this way? It does not perform this way by using OOTB Dynamo Nodes
![11894533_10153621486651388_7026921345530295530_o](https://cloud.githubusercontent.com/assets/6132497/9485273/f1ffd1da-4b6b-11e5-9b1f-035bed7a819b.jpg)
https://dl.dropboxusercontent.com/u/207897/Marce

[2015-08-26 05:42] monikaprabhu commented on #4991
@Randy-Ma - can you please take and  look at this. @moethu - can you please give us more information what situation you are seeing the issue- is this with Revit 2015 or 2016 ? Project environment or Conceptual mass etc.

[2015-08-26 06:17] josols commented on #4871
I don't know if this is under the same issue, but for us that use mm in our Revit models it's near impossible to use the Dynamo preview if elements are a little off from origin. it's like dynamo culls the objects as well as near impossible to rotate and zoom in.

[2015-08-26 06:27] monikaprabhu commented on #5095
@andydandy74 - which nodes are you using inside custom node - can you share the image of the graph inside custom node. I could not reproduce this on 0.8.1 or 0.8.2 release candidate

[2015-08-26 06:46] monikaprabhu commented on #5097
@jbenoit44 - eager to know what's the status here.

[2015-08-26 06:53] monikaprabhu commented on #5131
@safawi - can you please share your file with us, Im having trouble reading the image to see what nodes are being used ? From the image capture it looks like its in Revit environment

[2015-08-26 06:57] monikaprabhu commented on #5141
@jbenoit44 - are you saying while trying to upload package with icons all are not getting uploaded?

[2015-08-26 07:01] monikaprabhu commented on #5160
@Appio81 - Do you mean the file was not saved and after crash the file was lost ?We generally save a backup file every one min - could you please check in folder -C:\Users\... \AppData\Roaming\Dynamo\backup and see it could be recovered ?

[2015-08-26 07:07] jbenoit44 commented on #5141
No, some packages have no icon displayed. But they are here.
J BENOIT
Le 26 août 2015 08:57, monikaprabhu <notifications@github.com> a écrit :@jbenoit44 - are you saying while trying to upload package with icons all are not getting uploaded?

—Reply to this email directly or view it on GitHub.

[2015-08-26 08:31] moethu commented on #4991
I'm experiencing it after something went wrong in my definition. Once one of the Nodes threw an error, the select Face Node needs to be replaced if you want to change the selection. I'm using 2016 (SP1), Project Environment.

[2015-08-26 12:08] monikaprabhu commented on #5162
@vykrum  - we have a bug -MAGN-8046 which track the output port issue previously reported by YOu - We plan to look at it soon after RC - I think submitting a last min fix for this can destabilize the build - Could you please use it as variable referencing -

b=l.Explode();
a=Flatten(b).Area;
I can see the output port in this case.

[2015-08-26 12:42] vykrum commented on #5162
@monikaprabhu  I'm not completely sure, but in the previous instances either the input ports or the output ports used to disappear. In this case, both seem to disappear.
I am avoiding chained statements for now. Thanks.

[2015-08-26 12:44] SethWaldman opened #5189 "Other Add-Ins failure when running Dynamo"
I have been using Dynamo for a little while now and yesterday was the first time I encountered my issue. For some reason while I was in the process of making my script, I would receive pop-up notices that other add-ins I have installed would stop working.

![script](https://cloud.githubusercontent.com/assets/13981070/9493523/3d644d42-4bce-11e5-9362-a68bbada1421.jpg)

![failure 1](https://cloud.git

[2015-08-26 14:09] RodRecker opened #5190 "Update: Dynamo 0.8.2 Release Candidate 2 is available"
The next, and probably final, RC for 0.8.2 is available here:
http://dyn-builds-data.s3-us-west-2.amazonaws.com/DynamoReleaseCandidate2Install0.8.2.exe

Let us know if you find any significant issues. Thank you for your help testing it.

[2015-08-26 14:54] jnealb commented on #5189
@SethWaldman Can you tell us which version of Revit and Dynamo you are seeing this with?

[2015-08-26 14:57] SethWaldman commented on #5189
I'm in Revit 2014 and Dynamo version 0.8.3.2256

[2015-08-26 15:11] jnealb commented on #5189
@SethWaldman Thank you. In order to debug, is it possible for you to temporarily remove the other add-ins except for Dynamo and then see if loading Dynamo still gives the error? This can be done by temporarily removing/renaming the addin files under C:\ProgramData\Autodesk\Revit\AddIns\2014. If Dynamo does load, then can you try re-adding your add-ins one at a time to isolate a potential conflict?

[2015-08-26 15:17] RodRecker commented on #5189
@SethWaldman Would you mind checking if this problem exists in the 0.8.2 release candidate #2 ?

http://dyn-builds-data.s3-us-west-2.amazonaws.com/DynamoReleaseCandidate2Install0.8.2.exe

[2015-08-26 16:06] jnealb commented on #5098
@jbenoit44 Is this still happening?

[2015-08-27 03:54] #5121 closed

[2015-08-27 07:30] Randy-Ma commented on #4992
@Siulum
This has now been fixed. Thanks a lot for your feedback!

[2015-08-27 08:12] moethu commented on #5182
Nevermind, just realized it won't work as a zero touch node but as an UI node placed into the Dynamo UI Folder. Works now.
![2015-08-27_09h12_09](https://cloud.githubusercontent.com/assets/8201465/9515800/b67f4c18-4c9b-11e5-8b78-9d1079b785d9.png)

[2015-08-27 08:12] #5182 closed

[2015-08-27 09:39] basboer commented on #5102
Problem is already solved... by upgrading. Thanks for your reaction.

Bas

[2015-08-27 15:34] melkhaldi commented on #5137
to clarify.. these two should read the same:

![image](https://cloud.githubusercontent.com/assets/5727365/9524915/58d1fe3a-4c96-11e5-82fe-f058e3f3edda.png)

[2015-08-27 18:01] RodRecker opened #5193 "Forum is Open Again"
The community forum is open again with some new spam filters applied:
http://dynamobim.com/forums/forum/dyn/

[2015-08-27 19:44] SethWaldman commented on #5189
I disabled the other add-ins and I don't get the pop-up anymore which makes sense. However, what is still another issue that I forgot to mention at first, if I run my script even with the other add-ins disabled, when I close my Dynamo file and try to open any Dynamo file after, nothing loads. So I close Dynamo and try to relaunch it and I get the third error message I posted. Ultimately I have to

[2015-08-27 20:23] RodRecker commented on #5189
@SethWaldman one thing to be aware of - 0.8.2 is the last stable release that will include support for Revit 2014. Dynamo 0.8.3 will remove support for Revit 2014 and add support for the next version of Revit along with Revit 2015 and 2016.

[2015-08-27 20:51] SethWaldman commented on #5189
Good to know. I'm going to try running this process with Revit 2015 in the next few days when I get time. Thanks!

[2015-08-27 21:12] mdengusiak commented on #4390
Hi I have the same warning,
Dynamo 0.8.3.2256, Revit 2015  Build 20150704_0715(x64 Update Release 9)

I am trying write into Spaces - parameter - some values

![2015-08-27 23_10_25-dynamo](https://cloud.githubusercontent.com/assets/14005893/9533229/e2dcdd64-4d10-11e5-842f-f14fdae62f27.png)

[2015-08-27 21:46] ekatzenstein opened #5194 "Convex Hull"
This node is not working.  Is there a scheduled update?

[2015-08-27 22:14] ikeough commented on #5194
The functionality is working in the daily builds:

![image](https://cloud.githubusercontent.com/assets/1139788/9534431/34a3de3e-4ccd-11e5-94d2-4e2f9725f702.png)

It's possible that a regression introduced before the release of 0.8.2 is causing this behavior. We've since [fixed that regression](https://github.com/DynamoDS/Dynamo/pull/5057), but the fix won't make it in until 0.8.3.

[2015-08-27 22:14] #5193 closed

[2015-08-27 22:14] #5190 closed

[2015-08-27 22:16] #5102 closed

[2015-08-27 22:19] ekatzenstein commented on #5194
I think the issue is that the convex hull is defaulting to be a 3D convex hull, even with planar points.  How about an overload? Planar points calculate 2D convex hull:

![2015-08-27_18-18-26](https://cloud.githubusercontent.com/assets/6820526/9534668/2bb6314e-4ce8-11e5-8ae7-ae753b94d380.png)

[2015-08-27 22:39] mjkkirschner commented on #4390
@mdengusiak it's hard to tell from your graph but the element inputs do not seem to be Revit elements?

[2015-08-27 22:52] mdengusiak commented on #4390
you are right I took values and not elements IDs... I corrected now this and everything works fine here,

However not sure if this is related but somehow all my text in Revit just disappeard. So my space Tags are blank

![2015-08-28 00_42_45-autodesk revit 2015 - floor plan_ level 13 spaces heat loss - simplifiedtest2_m](https://cloud.githubusercontent.com/assets/14005893/9535189/e676099c-4d1e-11e

[2015-08-27 23:24] RhysProbyn opened #5196 "Document.ActiveView does not work with structural plan views"
This is an old issue, seen in this thread: http://dynamobim.com/forums/topic/error-with-doc-activeview-and-structural-plans/

Document.ActiveView throws an error when used with a "structural plan" in Revit, however "floor plans" work fine.

Error log:

Warning: Document.get_ActiveView operation failed.
Unable to cast object of type 'Revit.Elements.UnknownElement' to type 'Revit.Elements.Views.View

[2015-08-28 02:25] ksobon opened #5197 "excel icons mix up"
it looks like the excel icons in Dynamo are mixed up:

![untitled-1](https://cloud.githubusercontent.com/assets/529781/9537765/934a22ee-4d0a-11e5-8af3-dd39983fe0dd.jpg)

[2015-08-28 02:32] ksobon commented on #5197
also this is missing:

![untitled-1](https://cloud.githubusercontent.com/assets/529781/9537819/70d1f61e-4d0b-11e5-87e8-a49750275162.jpg)

[2015-08-28 02:41] ksobon commented on #5197
This seems awfully redundant. We can expect users to be able to find List.Transpose and not have to create an extra node that does the same thing.

![untitled-1](https://cloud.githubusercontent.com/assets/529781/9537922/af725412-4d0c-11e5-812b-ac63d37689c8.jpg)

[2015-08-28 02:44] ksobon commented on #5197
This particular node should cover both use cases (flat list and nested list inputs) instead of having two nodes:

![untitled-2](https://cloud.githubusercontent.com/assets/529781/9537955/382fa80e-4d0d-11e5-98fa-6df9090ba336.jpg)

[2015-08-28 02:50] ksobon commented on #5197
This seems weird. Two different icons for an function that seems to be accepting exactly the same inputs and have the same outputs. What is the difference?

![untitled-1](https://cloud.githubusercontent.com/assets/529781/9538028/f3fdbc42-4d0d-11e5-8d53-7ae03d782d19.jpg)

[2015-08-28 02:53] ksobon commented on #5197
both of the newton nodes are missing large icon image and description

![untitled-1](https://cloud.githubusercontent.com/assets/529781/9538071/5c3a66de-4d0e-11e5-93c5-14ca94b33276.jpg)

[2015-08-28 02:55] ksobon commented on #5197
people should be able to use list.reverse to toggle between ascending and descending. i don't think that needs a separate node like this:

![untitled-1](https://cloud.githubusercontent.com/assets/529781/9538104/bf1a5e26-4d0e-11e5-8352-4723956ce13f.jpg)

[2015-08-28 03:14] ksobon commented on #5197
This can probably be done with a single node:

![untitled-1](https://cloud.githubusercontent.com/assets/529781/9538355/69bbf4dc-4d11-11e5-82cc-5d44011d98cc.jpg)

[2015-08-28 03:22] ksobon commented on #5197
sorry if i got a little carried away here....:-)

[2015-08-28 04:08] tatlin commented on #5196
There is a pull request to fix this I believe

-matt

[2015-08-28 06:53] rverweij opened #5198 "Sliders won't update when switching from automatic to manual mode"
When switching from automatic mode to manual mode, both the integer and number slider don’t seem to update to the value they had when leaving automatic mode, they will update to any other value except that one.
For instance I have a number slider min=0, max=3, step=1, in automatic mode I set the value to “2” I then switch to manual mode, change the value to something else (no problem) change back

[2015-08-28 10:43] wongbruno opened #5201 "Dynamo crash inserting SunSettings.Current"
Hi all, I'm new in Dynamo and I'm learning it with the Autodesk tutorials.
Trying to make the tutorial with the revit sunsystem, Dynamo crash displaying this error:
Invalid call to Revit API! Revit is currently not within an API context.

   at Autodesk.Revit.UI.UIApplication.add_ViewActivated(EventHandler`1 handler)
   at DSRevitNodesUI.SunSettings..ctor()
   at lambda_method(Closure )
   at Dyna

[2015-08-28 11:19] mdengusiak opened #5202 "Delay Node - needed"
Dynamo 0.8.3.2256, Revit 2015 Build 20150704_0715(x64 Update Release 9)

Hi I have this issue with Dynamo script running to fast... and need Delay None
I am trying to solve this issue with unnecessary zeros values in space parameters and the only solution is to remove project parameter and add it again then all zeros are cleaned and I can import only values to spaces I am interested in, Problem is

[2015-08-28 11:34] tatlin commented on #5201
What version are you using?

-matt

[2015-08-28 13:38] wongbruno commented on #5201
Revit 2016 Dynamo 0.8.0.1233

[2015-08-29 06:42] andydandy74 commented on #5194
Fwiw there's a 2D convex hull node in pkg Clockwork...

[2015-08-29 11:27] vykrum commented on #5162
ver: 0.8.2 RC2

BoundingBox.ByGeometryCoordinateSystem doesn't seem to be working

Doesn't seem to consider the altered coordinate system and gives the same output as BoundingBox.ByGeometry

![20150829-1](https://cloud.githubusercontent.com/assets/5621624/9561716/e9a37d06-4e6e-11e5-887e-304b27f72e88.jpg)

[2015-08-29 12:34] mjkkirschner commented on #5162
@vykrum thanks - this one is tracked as well.

[2015-08-31 02:53] mjkkirschner commented on #5167
please reopen if that did not solve the issue

[2015-08-31 02:53] #5167 closed

[2015-08-31 07:09] ke-yu commented on #4776
@jhubers , to do that, you need a c# function which accepts any input, e.g.,
[code]
And create a variable input UI node, which could derive from `VariableInputNode`

[2015-08-31 09:26] vykrum opened #5206 "Doesn't Zoom to Fit"
ver: 0.8.3.2392
OS: Win7

Zoom to Zit in background 3D doesn't seem to work when the geometry is far away from the origin.
Zooming out further after using *Zoom to fit* reveals the created geometry

The below example should help replicate the issue
![20150831-1](https://cloud.githubusercontent.com/assets/5621624/9575850/6d85c426-4ff0-11e5-8c49-49d225ee414b.jpg)

[2015-08-31 11:00] jhubers commented on #4776
Hi @ke-yu. Thanks. The difficulty for me is that I have this example code to create the output of my nodes:
[code]
I don't know how to replace the new Func<…> by a c# function which accepts any input. I guess BuildFunctionCall is expecting a functionName as first parameter then. But what should this static function return? If I return a string, Dynamo displays an error:
![image](https://cloud.gith

[2015-08-31 12:59] epeter- opened #5207 "Windows 10 no input in codeblock possible"
today i got upgraded to windows 10.
since now i cannot input anything from keyboard.
tested with codeblocks.
input failed.
in menue (screen menu left side) input is fine.
working on german locale.

just found out it sometimes works, the other time not.

[2015-08-31 17:54] rsingaby commented on #5006
Ian, Has this issue been addressed/ resolved in the latest stable release 0.82?

[2015-08-31 18:20] ikeough commented on #5006
This has not been resolved in 0.8.2. We are targeting 0.8.3 as the fix release.

[2015-08-31 18:23] RodRecker commented on #5006
@ikeough which issue is being used to track this? MAGN-8245?

[2015-08-31 20:35] philipbussey opened #5209 "Crashes wen clicking inside the 'string' node"
I'm using 0.8.1.1942 - when I go to edit the string node (really just click within it) - Dynamo will crash.

![image](https://cloud.githubusercontent.com/assets/8347324/9589719/cf28c5de-4ff5-11e5-8a71-492625a85952.png)

[2015-09-01 09:27] ke-yu commented on #4776
@jhubers , you don't need to use `Func<...>` stuff, it just helps to automatically figure out its class name and function name (`AstFactory.BuildFunctionCall()` has a bunch of overloaded version, the basic two are `AssociativeNode BuildFunctionCall(string className, string functionName, List<AssociativeNode> arguments, Core core = null)` and `AssociativeNode BuildFunctionCall(string functionName,

[2015-09-01 09:27] ke-yu commented on #4776
`className` is fully qualified name.

[2015-09-01 11:45] eproca opened #5214 "AdaptiveComponents.ByPoints broken in last 8.3 build?"
![01](https://cloud.githubusercontent.com/assets/6596042/9603177/44661a04-50af-11e5-96f3-78da09b4b5bb.jpg)
Until now It worked always fine, as far I can remember. (tested in Revit 2015)

[2015-09-01 13:30] mjkkirschner commented on #5214
@eproca this is tracked - it likely has to do with the a preview bubble being open somewhere in your graph

[2015-09-01 13:31] mjkkirschner commented on #5214
@Randy-Ma

[2015-09-01 14:14] tothom commented on #5118
Hi. I have the same issue. Dynamo crashes when I open a file after closing another. The second file I open always crashes. I can open a file from 'Recent Files', but only only first time after I launch Dynamo. After closing a Dynamo file, Dynamo crashes when I open another.

Here are the details from the crash:

Object reference not set to an instance of an object.

   at Dynamo.Views.WorkspaceVie

[2015-09-01 16:28] ghost opened #5215 "Python script editor and (False?) Indents Error"
I am not sure if others run into this. But I often have to reformat all of my code's indents if I added a new line of code that is not to the end of the script. I use PyCharm to reformat the code and make it is all indented correctly (as a double check), but Dynamo still does not accept this. Is this an issue with how the editor parses ASCII characters? What can I be possibly doing wrong?

[2015-09-01 21:28] #5202 closed

[2015-09-02 00:36] Kelcyo commented on #5033
We're a month without solving this bug. The reporting me, any progress or users with graphics cards in notebook old were unable to use the tool with latest builds?

[2015-09-02 02:47] sharadkjaiswal commented on #5201
Please try it with the latest stable build of Dynamo, this issue(MAGN-7298) has been fixed in 0.8.1.1441.

[2015-09-02 02:47] #5201 closed

[2015-09-02 06:55] Siulum commented on #4992
@Randy-Ma
I received an email by you that the bug has now been fixed. I just installed the latest Dynamo-Version 0.8.2. When I run my skript the behavior still seems to occur as you can see in my screenshot.

Kind Regards,
Michael

![bug01_03](https://cloud.githubusercontent.com/assets/13483733/9624769/2de75f80-5150-11e5-8eb0-6ebe312bc148.PNG)
![bug01_04](https://cloud.githubusercontent.com/assets

[2015-09-02 07:12] Randy-Ma commented on #4992
@Siulum
Thanks for your feedback! Last time when the issue is fixed, I have added a message here but I think it is better to add the message when it is tested and so I have removed the message later.

The fix is not included in 0.8.2.

[2015-09-02 07:23] monikaprabhu commented on #5215
@melkhaldi What kind of error does it throw ? could you please post a .dyn file with the indented code. I don't think any indentation must be a problem unless there is some syntax error with it. So please post the code and error snippet. @ke-yu could you please look at this ?

[2015-09-02 07:52] tothom commented on #5118
I tried the latest pre-release "DynamoInstall0.8.3.20150901T1250.exe" and the problem is gone.

[2015-09-02 08:16] jhubers commented on #4776
Hi @ke-yu That is what I did. The function returned a string ("P;V;I;C;O;A;"). Which are the nick names of the inputs. That is a mistake of mine, but why do I get an error stating: "Warning: Method 'P;V;I;C;O;A;()' not found"? This was the code:
[code]
And the function:
[code]

[2015-09-02 08:37] andydandy74 opened #5217 "Wish: Isolate elements in 3D preview"
It would be great to be able to right-click on a node (or several nodes) and isolate the resulting geometry in the 3D preview (and of course some way to reset the 3D preview, too).

[2015-09-02 08:56] tothom commented on #5118
Hi, sorry for spamming the forum, but the problem is back. It started from the moment I copied some nodes with ctrl + c, closed a graph and then tried to open a new graph. I crashed upon opening the second graph. After that it crashes consistently on opening a second graph (after closing a first one) or closing a edit custom node tab.

[2015-09-02 09:37] ke-yu commented on #4776
hi @jhubers , try
[code]

[2015-09-02 09:38] ke-yu commented on #4776
Or
[code]

[2015-09-02 09:51] jhubers commented on #4776
Nope, still errors:
[code]
or
[code]

[2015-09-02 10:26] sharadkjaiswal commented on #5073
It's strange, if List.Empty is first element in the collection then it gives correct result.
![image](https://cloud.githubusercontent.com/assets/1754137/9628741/0327d392-51a0-11e5-8402-2e815129bf7f.png)

can it be related to how DesignScript infers the type of a collection?

[2015-09-02 10:27] brencass commented on #5087
I had a this issue but with windows 8.1

[2015-09-02 10:37] sharadkjaiswal commented on #5087
I think it's related to digital signature, DynamoInstaller is probably not digitally signed.

[2015-09-02 10:38] tothom opened #5218 "Dynamo crashes - open definition or saving/exit edit custom node"
Hi

Dynamo crashes when exiting the edit custom node window if I edit the custom node from within a definition. If I open the custom node without opening a definition first it also crashes if I have done changes to the custom node.

Dynamo also crashes if I close a definition and open second one. Upon opening the second it crashes.

It only applies to some custom nodes and definitions. I have a de

[2015-09-02 10:58] dimven commented on #5217
+1
The addition of global preview switches were really nice and has greatly improved the background 3d preview's functionality. But this would go one step further.

[2015-09-02 11:59] Siulum opened #5219 "Element.SetParameterByName - Strange behavior in Version 0.8.2"
Hello Guys,

since I am using the latest stable Dynamo Version 0.8.2 the Element.SetParameterByName node behaves weird. In the 1st image you see the 1st index is null although the StructuralFraming.BeamByCurve node has an input! In the warning it says "The parameter is read only", which can't be as you can see in the third image I am using this node more often and it works fine
I replaced the Elem

[2015-09-02 14:00] mjkkirschner commented on #4776
@jhubers the dataCollector class is defined in another project / assembly and referenced by this project?

[2015-09-02 14:11] jhubers commented on #4776
@mjkkirschner Yes it is: using MyDataCollector; is at the top of the code. Other functions in it work ok.

[2015-09-02 15:07] melkhaldi commented on #5215
i'll post code next time it comes up.
On Sep 2, 2015 12:23 AM, "monikaprabhu" <notifications@github.com> wrote:

[2015-09-02 15:42] mjkkirschner commented on #4776
hmm, I'm not sure, but it seems like you should not be passing the the inputASTnodes and the your input string to the function where the buildFunctionCall method is expecting a function name, not a function with the arguments set...

I think using another overload where an action is specified is the correct way, but I'm not sure which one.

[2015-09-02 21:18] RonFS opened #5224 "Element Binding/Dynamo not properly deleting elements after closing and Re-Opening Revit "Project File" and Re-running DYN File"
I have been trying to troubleshoot this issue, and have narrowed it down to one specific situation. Any help/insight into this would be greatly appreciated.

Let's say I have, for example, opened a new Revit Project File and I have a DYN file that is reading point data from excel and breaking this data up to apply to an AdaptivePoints Component. If I:

1) Run the Script
          -Element ID's are

[2015-09-02 21:43] RonFS commented on #5224
I tried the same procedure on a very simple script, and it resulted in the same thing. When saving, closing and re-opening the component was not replaced. It was instantiated on the old one and the element ID was changed.
![element id not binding](https://cloud.githubusercontent.com/assets/8183746/9645526/6573146a-5189-11e5-8314-2634b856674f.jpg)

[2015-09-03 00:38] ke-yu commented on #5073
@sharadkjaiswal you mean `Object.IsNull` should replicate on empty list? It is weird to me, it should return boolean value.

[2015-09-03 07:44] tothom commented on #5218
Hi
I'm tried on Dynamo 8.1, 8.2 and 0.8.3.20150901T1250 on Revit 2015 UR8. It crashes the same way all the time.
I think it is related to groups.
When ungrouping all groups and then run the definition once, the crashes are gone, and I can open and close the files as normal.
Thomas

[2015-09-03 12:48] jhubers commented on #4776
@mjkkirschner  Well the definition of the BuildFunctionCall is:
[code]
So I guess you have to pass the function name as string, the arguments as List<AssociativeNode>. But the Core core = null part I don't understand. But if I add null as parameter, nothing changes.

[2015-09-03 13:14] jhubers commented on #4776
Hi @ke-yu, Any other things I can try?

[2015-09-03 14:39] k-u-s opened #5226 "New events in DynamoService and graph reevaluation bug"
Source branch: RC0.8.1_master
From what I experienced during cleaning work space graph can be evaluated several times when run type is automatic. This could be reproduced following this path:
1) create a work space with some nodes
2) click  create new from Menu - File->new-> home workspace

Also it would be usefull to have events OnWorkspaceClearing and OnWorkspaceCleared exposed in DynamoService

[2015-09-03 15:14] jnealb commented on #5218
@tothom Are you running in a localized version of Windows and Revit (not English)?

[2015-09-03 18:12] plh139 opened #5228 "0.82 Code Block Issue 11.Autocompletes to InwOpState11."
Not so much a bug as an annoyance with the autocomplete in code blocks.  I'm only typing numbers into the code blocks and my current project has a module dimension of 11.25.  When typing 11. into the code block, the autocomplete adds InwOpState.  Is this a namespace issue with a package I have installed?

![11 point code block](https://cloud.githubusercontent.com/assets/9588649/9666686/8563ea58-52

[2015-09-03 18:54] jefferyharwood commented on #5217
**+**:one:

[2015-09-03 22:02] ekatzenstein commented on #3749
Can we leave this issue open? There still isn't a straightforward way to move from MeshToolkit meshes to Dynamo meshes.

[2015-09-04 00:46] RodRecker commented on #3749
Logged as MAGN-8326.

[2015-09-04 00:57] ke-yu commented on #4776
hi @jhubers , let's try again...load the library that contains pCollect firstly to see if Dynamo could find this class or not.

[2015-09-04 02:49] andydandy74 commented on #3749
Reopened

[2015-09-04 03:33] vykrum opened #5232 "Direct Shape material"
ver:0.8.3.2447

Direct Shape is a neat development.
Thank you.

While using the Direct Shape node there is a default material applied.
I have a question related to this...
Is it possible to create other such materials in Dynamo, to allow not having to ensure that the material name already exists in the Revit project?

[2015-09-04 03:37] mjkkirschner commented on #5232
Currently, not really.

This default material is setup by taking a standard material and copying it and modifying the color. Theres no node to do this, but it could be done through the Revit API, but it still depends on some standard material being loaded into the project.

[2015-09-04 03:41] sharadkjaiswal commented on #5073
Object.IsNull does replicate on empty list, but it behaves differently when it's part of a collection and is not the first element of the collection.

[2015-09-04 03:58] monikaprabhu commented on #5228
@plh139 - Its an annoying bug we need to fix - I've filed a bug MAGN-8329 - Autocomplete should not complete the value when typing a "." after entering a text or number unless its the next expected character in the string. A weird , not so helpful workaround I found for this is Undo two times and you will get your old string back. And you can continue typing without autocomplete interfering here.

[2015-09-04 04:07] monikaprabhu commented on #5226
@k-u-s - we may need more information regarding the issue - What happens after clicking on new file to clear the workspace ? are you saying that when you create a new file , the Run operation is still ON ? @ikeough, @ke-yu - Could you please analyse this based on the information at hand ?

[2015-09-04 04:33] vykrum commented on #5232
@mjkkirschner Thanks for explaining

In any case this is a huge improvement on *ImportInstance.ByGeometry*
Would I be right in assuming that this node will eventually be further developed to create objects in Revit with editable properties/materials?

[2015-09-04 05:17] dimven commented on #5232
I think that one of the limitations of DirectShape and TesselatedShape objects was that the material could be applied only during the creation of the object. That means that the only way to change the material afterwards is to re-create the object. Is that still the case?

[2015-09-04 05:32] ke-yu commented on #5226
@k-u-s , this issue probably already fixed in PR #5158, please verify with 0.8.2.

[2015-09-04 05:37] ke-yu commented on #5209
hi @philipbussey , could you click "Details" button and copy paste all contents? That would help us to do identify the problem.

[2015-09-04 05:40] ke-yu commented on #5198
hi @rverweij , which version of Dynamo you are using? I'm not able to reproduce it with the latest build.

[2015-09-04 05:42] monikaprabhu commented on #5218
@tothom - if its specific nodes then you can upload somewhere and send us the link - may be upload in the package manager ?

[2015-09-04 05:46] aparajit-pratap commented on #5228
Please refer to the discussion in https://github.com/DynamoDS/Dynamo/issues/4972.
This behaviour is expected. Even in visual studio if you type in a '.' it will autocomplete the string and insert the '.' after it. It is typical to how autocomplete works in IDE's generally.
You can get rid of the autocomplete menu by hitting the `Esc` key before you press the "." to prevent it from autocompleting w

[2015-09-04 06:12] dimven opened #5233 "Failure to intersect and project geometry when working in millimeters"
Hello,
I've been meaning to report this earlier. Ever since version 0.8 Dynamo seems to dislike intersecting and projecting objects, when working with large unit sizes(like for example when your project is set up in millimeters).
Here are some examples of this:
![2015-09-04_14-10-22](https://cloud.githubusercontent.com/assets/7148394/9677600/9f5f4ee2-530e-11e5-8e6b-e65780b189c2.png)

I thought it

[2015-09-04 06:24] jhubers commented on #4776
Hi @ke-yu. Dynamo can find the pCOLLECT class. How else could it display the node? I am using a tool that attaches the process to Dynamo. So I can debug the behavior. I can see that Dynamo goes through the code and even makes an AssociateNode... But then displays the error that it can not find the function. This function is in an other assembly. That assembly loads too, because it is used in the p

[2015-09-04 06:31] ke-yu commented on #4776
So if it could be loaded, then you are able to use in code block node, right? Currently I have no clue why function couldn't be found. :-(

[2015-09-04 06:39] monikaprabhu commented on #5217
I agree it will be definitely useful if we can filter the display based on selection.  Alternatively  I'm wondering if it would be more useful if we club it with the groups? So we can group the item to be displayed and show only a particular group ? Feel free to send your comments and thoughts. @lillismith

[2015-09-04 06:41] monikaprabhu commented on #5215
@melkhaldi - that will be great! looking forward to it

[2015-09-04 07:40] tothom commented on #5218
@jnealb Both Revit and Windows are in the english language, but the system locale is no;Norwegain.

[2015-09-04 07:48] tothom commented on #5218
Hi
I don't think it's related to custom nodes. I think it is related to groups.
Crash report:
Object reference not set to an instance of an object.

   at Dynamo.Views.WorkspaceView.OnMouseMove(Object sender, MouseEventArgs e)
   at System.Windows.RoutedEventArgs.InvokeHandler(Delegate handler, Object target)
   at System.Windows.EventRoute.InvokeHandlersImpl(Object source, RoutedEventArgs args, B

[2015-09-04 07:57] tothom commented on #5218
Hi
This recreates the crash on my computer:
1. New definition
2. Place a node in the definition
3. Group the node
4. Save definition
5. Close definition
6. Open definition again... crash...

It does not matter which node I create. If I don't group the node there is no crash. If I group the node and then ungroup Dynamo still crashes upon reopening the definition.

Thomas

[2015-09-04 08:46] josols commented on #5233
I would say using large coordinates is a general problem in Dynamo (as it has been in Revit for many years) Not only with projecting/intersecting, but with graphics as well.

[2015-09-04 08:52] monikaprabhu commented on #5219
@Siulum - I tried this workflow couple of times and I've been able to reproduce the readonly error only once. Let me work on this to reproduce it consistently.  I've filed a bug to myself for reproducing this consistently and is tracked at MAGN-8331.

[2015-09-04 09:44] k-u-s commented on #5226
Steps:
1) create a work space with some nodes
3) set build type to automatic
3) click create new from Menu - File->new-> home workspace
4) now if have registered pre or post graph execution event it will be triggered a few times

On branch RC0.8.2_master I couldnt reproduce it.
But i still would like to have clearing events exposed in DynamoService.

[2015-09-04 11:22] rverweij commented on #5198
Just after reporting this here, I switched to Dynamo 0.8.2.2392, I use it in Revit 2015. I think it was the one of the last versions of 0.7 when I noticed this. The problem however still excist in the 0.8.2.2392 version, although now I do get an error message:

Exception of type 'ProtoCore.Exceptions.CompilerInternalException' was thrown.

   at ProtoCore.Utils.Validity.Assert(Boolean cond)
   at

[2015-09-04 11:51] jhubers commented on #4776
@ke-yu. I am not sure what you mean with "use this function in code block node"? If I double click on the canvas and type p it doesn't show pCOLAD in the list of possible commands. But in the menu at the left there is a pCOLAD entry. If I type pCOLAD.pCOLLECT in the code block and hit enter it displays the warning:
`Warning: Internal error, please report: Dereferencing a non-pointer. (3f47aacd)`

[2015-09-04 12:02] dimven commented on #5233
The above example is roughly about 200m x100m x 120m.

[2015-09-04 12:23] jhubers commented on #4776
@ke-yu. When I type MyCollectorDataClass.pCOLLECToutputs, then I have next result
![image](https://cloud.githubusercontent.com/assets/1529297/9683405/2cad1468-5310-11e5-8521-24d7bd88f52b.png)

[2015-09-04 12:52] mjkkirschner commented on #5232
@dimven yes, as far as I am aware.

 in the case of the DirectShape nodes in Dynamo, if the material input changes, the geometry is recreated with the new material applied, but the elementId of the directShape will not change unless we cannot rebind for some reason.

[2015-09-05 08:15] vykrum opened #5237 "Error, but no error"
ver:0.8.3.2464
OS: Win7

I might have reported something on these lines earlier (related to defined functions) , but it's getting to be a regular bother lately.
A definition (with no defined functions) when rerun after making a change in the associated Revit file, does not execute and shows error warnings

![20150905-1](https://cloud.githubusercontent.com/assets/5621624/9698444/3321e188-53d4-11e5-

[2015-09-05 16:05] ke-yu commented on #5198
@rverweij I'm still not able to reproduce. :-( but your crash report would be helpful to identify the problem.
@monikaprabhu could you verify if it is reproducible?

[2015-09-06 02:49] dimven opened #5238 "Bug, Dynamo 0.82: Revit nodes fail if the first item in the input list is a null or an empty list."
I would classify this as a major annoyance. I first noticed it happening in 0.81. So far the following nodes are affected:

Element.GetParameterValueByName
Element.SetParameterByName
Element.Name

there might be more.

There is no problem if the null value or empty list is not at head of the list:
![2015-09-06_10-34-49](https://cloud.githubusercontent.com/assets/7148394/9702145/2dbe7120-5483-11e5-

[2015-09-07 03:08] monikaprabhu commented on #5238
@dimven - what is the error /warning shown on these nodes ?

[2015-09-07 03:11] dimven commented on #5238
Hi @monikaprabhu , the error message is:
_Warning: Internal error, please report: Dereferencing a non-pointer. (3f47aacd)_

[2015-09-07 03:20] sharadkjaiswal commented on #5238
@ke-yu, can it be related to Type inferencing issue?

[2015-09-07 03:23] monikaprabhu commented on #5237
@vykrum - Thanks for reporting this - Can you also check the value passed to this node when its throwing this error ? is RM passed to this function returning a non- null value when its throwing this error ? Are you saying that when you modified the code shown above in the image and rerun it did not execute ?

[2015-09-07 03:44] vykrum commented on #5237
@monikaprabhu not changes to the code, changes to the associated Revit elements (in the example above, the code is referencing Rooms in Revit)

[2015-09-07 04:23] andydandy74 opened #5241 "Wish: Ability to create default values for custom node inputs by calling a DS method"
In some cases it would be great to be able to set a default value for a custom node input by calling a DS method.
Example: A custom node that creates a piece of geometry has an input to set the origin of the geometry. If I want to write ```origin : Autodesk.Point = Autodesk.Point.Origin()``` to set (0,0,0) as the default origin the input field does not accept parentheses.

[2015-09-07 05:11] ke-yu commented on #4776
hi @jhubers , can you try `MyDataCollector.MyDataCollectorClass.pCOLLECToutputs()` to see if it generates some result? If yes, then we should be able to compile a node to this one. Not quite sure where goes wrong. :-(

[2015-09-07 07:06] josols commented on #5196
https://github.com/DynamoDS/DynamoRevit/pull/550 Looks like Dimitar has solved it as well?

[2015-09-07 07:15] andydandy74 commented on #3749
In the meantime - I tested the solution provided above and it doesn't seem to be working for me. Instead I get one new mesh for every triangular face of the original mesh. Maybe I am not passing the arguments to the constructor as expected?
![meshconversion](https://cloud.githubusercontent.com/assets/3014437/9711056/c0731e72-5540-11e5-8ba8-f0a26da71edf.PNG)
Dynamo 0.8.2
MeshToolkit for Dynamo 0.8.

[2015-09-07 08:12] andydandy74 opened #5244 "Flatten is ignored in custom nodes with specified input data types"
The built-in `Flatten` command is ignored in custom nodes when a data type is specified for the custom node input.
Steps to reproduce:
1. Wire `Face.Vertices` into `Flatten`
2. Turn that into custom node
3. Run the graph - you'll receive a flattened list
4. Change input label to `face : Surface`
5. Re-run the graph - you'll receive a nested list
I have tested some other geometry-related cases with

[2015-09-07 08:17] jhubers commented on #4776
@ke-yu Now it gives: `Warning: One or more of the input types are not matching. Couldn't find a version of pCOLLECToutputs that takes arguments of type (var)`
![image](https://cloud.githubusercontent.com/assets/1529297/9712091/7b65e3ca-5548-11e5-9404-6ff856aff8a0.png)
I was using:
[code]
And in MyDataCollector.MyDataCollectorClass:
[code]

[2015-09-07 08:23] monikaprabhu commented on #5238
@dimven - we have an open issue related to this - which is tracked at - MAGN-6873.Im afraid its the same issue as -https://github.com/DynamoDS/Dynamo/issues/4116. I'll leave a messege to development team to see if we can increase the priority of fixing this. Thanks for reporting it.

[2015-09-07 08:28] monikaprabhu commented on #5238
@dimven - you can use List.Clean to remove the null/EmptyList from the input to Element.SetparameterName.
![list_clean](https://cloud.githubusercontent.com/assets/5218721/9712483/7e41b6e8-557d-11e5-9cac-c30691985060.png)

[2015-09-07 09:05] dimven commented on #5238
@monikaprabhu Thanks for the info.
 I'd personally prefer to keep the null value there, so that the structure of the list is preserved.

[2015-09-07 09:31] #3627 closed

[2015-09-07 09:37] ke-yu commented on #4776
@jhubers , is there a overloaded `pCOLLECToutputs()`? The warning says there are mutiple version of `pCOLLECToutputs()`.

[2015-09-07 09:51] jhubers commented on #4776
@ke-yu Not that I know. A search also shows only one not commented out `pCOLLECToutputs()`
[code]

[2015-09-07 10:04] jhubers commented on #4776
@ke-yu Can you check the `List.Reduce` node? I don't quite understand what it does, but I have the impression it is not functioning correctly either. So maybe something wrong with the `VariableInputNode`?

[2015-09-07 10:09] monikaprabhu commented on #5241
@andydandy74 Its a very valid request - and user can do lot of interesting things when geometry can be set as default argument - I'm tracking this at - MAGN-8345.

[2015-09-07 10:11] monikaprabhu commented on #5244
I think this is due to replication. When you have face:Surface[] or face:Surface[]..[] the custom nodes will execute on all the surfaces and return a list of vertices.  When you change the input to "face:Surface" the custom node is executed one at a time on the input list of faces and it will return the vertices for each face one at a time which then accumulated will be a nested list. If you are s

[2015-09-07 22:05] manuKrakow commented on #5226
@ikeough, @ke-yu - second part could be find here https://github.com/DynamoDS/Dynamo/pull/5235

[2015-09-08 04:30] andydandy74 opened #5247 "Placing the same node multiple times from in-canvas search"
When searching for a node in the browser we can hit the Return key multiple times to place the same node over and over again (I tend do this a lot e.g. with Watch nodes). When using the in-canvas search this, unfortunately, is not possible. Instead when hitting Return for the second time (and each subsequent time), the last search result from the _browser_ (if any) gets placed.

It would be great

[2015-09-08 07:11] tcacciuto commented on #5033
I have the same display issue Win 7, display card AMD FirePro and Intel on HP ZBook. I can see 3D preview only on Dynamo 8.0. No newer release works.

[2015-09-08 08:09] ke-yu commented on #4776
@jhubers , could you upload code to github so that I could debug it when I get some free time?

[2015-09-08 08:50] jhubers commented on #4776
@ke-yu. Thanks. You can find the repository here: https://github.com/jhubers/pCOLAD-for-Dynamo/tree/0.1

[2015-09-08 12:00] zakharv13 commented on #1946
Can you tell me how to check and make visible Revit.GeometryConversions.RevitToProtoCurve ??

[2015-09-08 13:39] vykrum opened #5252 "Crash Report 20150908"
Ver: 0.8.3.2491
OS: Win 7

Crashed on inserting replication guides to *List.Join* in a code block

Exception of type 'ProtoCore.Exceptions.CompilerInternalException' was thrown.

   at ProtoCore.Utils.Validity.Assert(Boolean cond)
   at ProtoCore.Lang.FFIFunctionEndPoint.Execute(Context c, List`1 formalParameters, StackFrame stackFrame, RuntimeCore runtimeCore)
   at ProtoCore.CallSite.ExecWithZer

[2015-09-08 13:45] plh139 commented on #5228
@aparajit-pratap - yes, I agree that autocomplete with a period is normal behavior.  My original post was to notify you that Code blocks should not autocomplete to a namespace when typing in a number with a decimal place.  When I type the number 11.25, the code block autocompletes to some namespace called InwOpState.  This, I believe, is not normal behavior if I just want to have numbers in a code

[2015-09-08 14:41] aparajit-pratap commented on #5228
@plh139 if this is a namespace, you're right it should not try and autocomplete the namespace. If you could guide us as to how to reproduce this issue, we should be able to take a look at it. Thanks.

[2015-09-08 14:52] eproca commented on #5214
Working fine now. Thanks

[2015-09-08 14:52] #5214 closed

[2015-09-08 15:02] plh139 commented on #5228
@aparajit-pratap - It appears to be a namespace with DynaWorks15 package.  When un-installed, the error can't be replicated.

[2015-09-08 15:21] ke-yu commented on #5252
hi @vykrum , could you let me know what code make code block node crash?

[2015-09-08 15:39] jnealb commented on #5033
@tcacciuto We are actively working on this; thanks for your patience.

[2015-09-08 15:50] vykrum commented on #5252
@ke-yu Try *List.Join(a<1>,l);* with *a* and *l* being lists

[2015-09-08 21:17] jnealb commented on #5207
@epeter- Are you still seeing this with the latest dailies?

[2015-09-09 01:43] ke-yu commented on #5252
@junmendoza , @monikaprabhu FYI.

[2015-09-09 02:15] andydandy74 commented on #5228
FYI @Gytaco

[2015-09-09 02:31] aparajit-pratap commented on #4972
Tracked in http://adsk-oss.myjetbrains.com/youtrack/issue/MAGN-7170

[2015-09-09 06:03] andydandy74 opened #5255 "Crash on creating custom node with already existing name and category"
[code]
Dynamo 0.8.2

Steps to reproduce:
- Create a custom node and save it
- Create a second custom node and give it the same name *and* category as the previous custom node

Using the same name seems okay but also setting the custom node to the same category will crash Dynamo.

Expected behaviour:
An error message that tells me I can't do that because a node with the same name already exist in t

[2015-09-09 06:34] andydandy74 opened #5256 "Wish: Shortcut to node directory"
I sometimes find myself in need of locating a certain node from the browser on my hard drive. It would be nice to have a "Jump to folder/location on disc" right-click option for custom nodes in the browser that would open a node's directory in Windows Explorer. Now that Dynamo supports multiple paths to nodes/packages this would definitely facilitate locating the actual file of a given custom node

[2015-09-09 06:35] epeter- commented on #5207
yes. i saw it in the release from 9th again
regards
Am 08.09.2015 um 23:17 schrieb Neal Burnham:

---
Diese E-Mail wurde von Avast Antivirus-Software auf Viren geprüft.
https://www.avast.com/antivirus

[2015-09-09 06:41] andydandy74 opened #5257 "Wish: Ability to define multiple default data types for custom node inputs"
I've had a couple of cases where I would have liked to specify more than one default data type in the label of a custom node's input, like so:
```face/plane : (Face  || Plane)```
Would be cool if that were possible.

[2015-09-09 07:03] andydandy74 commented on #5095
Here's an example:
![singleinputwithdefaultvalue](https://cloud.githubusercontent.com/assets/3014437/9755335/84643104-56d1-11e5-8aad-b1aa8183f144.PNG)
![singlefunctionobject](https://cloud.githubusercontent.com/assets/3014437/9755345/9d7e000c-56d1-11e5-8928-fc838cadf63f.PNG)

[2015-09-09 07:23] Siulum commented on #5219
Here is another behavior I can't find a proper workaround. It seems the node Element.SetParameterByName is not working how it should. Please give me some feedback!

![wrong](https://cloud.githubusercontent.com/assets/13483733/9755538/173c3048-56d3-11e5-8ec9-185ee78c3b2f.PNG)
![whyisitwrong](https://cloud.githubusercontent.com/assets/13483733/9755541/1ca45b1e-56d3-11e5-9da8-7687d8dce118.PNG)

In th

[2015-09-09 08:15] ke-yu commented on #4776
hi @jhubers , I can't find `pCOLLECToutputs()` function, where it is defined and used?

[2015-09-09 08:21] jhubers commented on #4776
Hi Yu Ke,

You can find it at the bottum of: https://github.com/jhubers/pCOLAD-for-Dynamo/blob/0.1/MyDataCollector/MyDataCollector.cs

Best regards,

Dr. Ir. J.C. (Hans) Hubers
Associate professor

TU Delft / Faculty of Architecture
Julianalaan 134 / 2628 BL, Delft
01+.West.030
PO Box 5043 / 2600 GA, Delft
The Netherlands

From: Yu Ke [mailto:notifications@github.com]
Sent: woensdag 9 september 20

[2015-09-09 08:36] jhubers commented on #4776
It is used in public override IEnumerable<AssociativeNode> BuildOutputAst(List<AssociativeNode> inputAstNodes) which you can find here:
https://github.com/jhubers/pCOLAD-for-Dynamo/blob/0.1/pCOLLECT2.cs

Best regards,

Dr. Ir. J.C. (Hans) Hubers
Associate professor

TU Delft / Faculty of Architecture
Julianalaan 134 / 2628 BL, Delft
01+.West.030
PO Box 5043 / 2600 GA, Delft
The Netherlands

From:

[2015-09-09 08:37] jhubers commented on #4776
Be aware that you must download the 0.1 branch on GitHub…

Best regards,

Dr. Ir. J.C. (Hans) Hubers
Associate professor

TU Delft / Faculty of Architecture
Julianalaan 134 / 2628 BL, Delft
01+.West.030
PO Box 5043 / 2600 GA, Delft
The Netherlands

From: Yu Ke [mailto:notifications@github.com]
Sent: woensdag 9 september 2015 10:15
To: DynamoDS/Dynamo
Cc: Hans Hubers - BK
Subject: Re: [Dynamo] how

[2015-09-09 16:44] ikeough commented on #5194
@ekatzenstein Yes, the 3D convex hull will not perform well with all planar points. You would need to have a 2D convex hull algorithm.

Can we close this issue?

[2015-09-09 17:08] ekatzenstein commented on #5194
@andydandy74 thanks for letting me know!  I'll take a look.
@ikeough regarding convex hull in general, the output should be a polysurface (or set of polygons), rather than a set of lines.  These are conceptual topics rather than technical ones, so I'm fine with closing the issue.

[2015-09-09 18:09] s-jamison opened #5265 "Bounding Box and Patch Surfaces"
The Bounding Box node creates a box that is larger than expected when the input contains a non-planar patch surface. Could be because the UV extents are larger than the patch geometry?
![image](https://cloud.githubusercontent.com/assets/13452181/9770083/fa6d2124-56fb-11e5-8c95-7f8aacb9292f.png)

[2015-09-09 20:33] jnealb commented on #5087
Yet I have Smartscreen set for "Get administrator approval before running..." and I do not get the message for Dynamo running as an admin user. Perhaps policies, or user group membership?

[2015-09-10 03:30] vykrum commented on #5087
I had noticed that this warning appears only when you **first** install a **new** version of dynamo. The warning doesn't appear on reinstalling the same version.
However, can't confirm if that's still the case since I've reverted to Windows 7, while I wait for you guys to sort out the background 3D issues in Windows 10.

[2015-09-10 03:38] andydandy74 opened #5267 "Node type labels in browser get cut off"
When a subcategory contains only a small amount of nodes (e.g. just a single node), the labels  "Actions", "Create" and "Query" get cut off. I see two possible solutions here:
- Remove the labels if there is not sufficient space
- Have the label force a larger spacing between lines in such a case so that the entire label can be shown

![trimmed_labels](https://cloud.githubusercontent.com/assets/30

[2015-09-10 04:16] andydandy74 opened #5268 "Using Save As in custom nodes replaces original custom node in graph"
**Steps to reproduce:**
1. Open a graph that contains custom nodes
2. Open one of the custom nodes
3. Use "Save As" to create a new custom node from the existing custom node

**Effects:**
1. On return to the graph the original custom node has been **replaced** by the new custom node
2. While the original custom node is still present in the project browser, placing an instance of the original node

[2015-09-10 09:02] andydandy74 opened #5270 "Extremely slow search performance in latest dailies"
Slow search seems to have made a comeback. :-(
I am experiencing this in Dynamo 0.8.3.2514 on top of Revit 2015 (running on Windows 7). Search performance in Dynamo Sandbox looks good, though.

[2015-09-10 12:21] andydandy74 opened #5274 "Dynamo forgets view settings ... again."
It seems like Dynamo doesn't store my view settings anymore - very annoying.
This was fixed once - now it's broken again... :-(
0.8.3.2514

[2015-09-10 13:34] jnealb commented on #5267
@Racel @andydandy74 Thanks - we agree, and are refining the design.

[2015-09-10 14:45] jnealb commented on #5087
Closing for now, follow up with MAGN-8082.

[2015-09-10 14:45] #5087 closed

[2015-09-10 15:05] andydandy74 commented on #5217
I'm not sure that's always practical. When dealing with geometry, I may actually group those nodes that actually create the geometry together. Therefore being able to isolate the geometry of a group wouldn't *always* help (but it would be an excellent piece of functionality nonetheless...).

[2015-09-10 15:46] jnealb commented on #5274
@andydandy74 Please help us understand your concern: in my testing I see that both node and background preview settings (pan, zoom etc) are saved to the dyn and reloaded correctly from it. Did your DynamoSettings.xml get over-written during an upgrade process?

[2015-09-10 16:27] andydandy74 commented on #5274
Every time I open Dynamo I have to turn off background preview again. Saving my graph before quitting seems to be of no consequence whatsoever for storing background preview status.

[2015-09-10 19:02] mjkkirschner commented on #5232
@vykrum that depends on the evolution of the DirectShape API, depending on the category you can set some properties, for instance I believe the structural framing category enables one to set a material property for the elements etc.

[2015-09-10 19:12] jnealb commented on #5274
@andydandy74 Thank you for finding this regression from 8.2 - we will fix with MAGN-8388.

[2015-09-10 20:04] jnealb commented on #5218
@tothom We have a working theory of what is going on and are tracking it with MAGN-8387.

[2015-09-10 20:11] jnealb commented on #5118
@tothom We have a working theory of what is going on and are tracking it with MAGN-8387.

[2015-09-10 21:09] jnealb commented on #5255
@andydandy74 Can not reproduce the issue with 8.2. Can you please give us more detail on the exact steps that you are performing: what are the contents of the CN, exactly how you create each one etc at the "click this, type that" level. Thanks.

[2015-09-10 21:24] jnealb commented on #5070
@macusan Are you still having this issue?

[2015-09-10 21:26] jnealb commented on #4921
@ekatzenstein This is fixed with 8.2, closing.

[2015-09-10 21:26] #4921 closed

[2015-09-10 21:28] jnealb commented on #4868
@seandburke Have you been able to test the new graph layout?

[2015-09-10 21:29] jnealb commented on #4835
@jechtma Is this still an issue?

[2015-09-10 21:36] jnealb commented on #5189
@SethWaldman Is this still an issue?

[2015-09-10 22:39] seandburke commented on #4868
Seems to function as expected now with the stable 0.8.2.

[2015-09-11 02:42] andydandy74 commented on #5255
Must have been a glitch then - I tried to reproduce this in the latest dailies and couldn't.

[2015-09-11 02:42] #5255 closed

[2015-09-11 03:13] andydandy74 opened #5276 "Non-alphabetical order of subcategories in browser"
In some cases the subsections in the node browser are not organized alphabetically, or rather they are organized alphabetically into two separate sections (depending on whether a subcategory contains actual nodes or just more subcategories). Is this intentional? I am not sure if i missed this when testing the initial prototype or if this was introduced later on. Anyway, I think the differentiation

[2015-09-11 03:14] andydandy74 commented on #4849
Looks fixed in 0.8.3.2514 - thanks!

[2015-09-11 03:14] #4849 closed

[2015-09-11 03:18] #4600 closed

[2015-09-11 03:32] andydandy74 commented on #1092
Great, thanks!

[2015-09-11 03:32] #1092 closed

[2015-09-11 03:34] andydandy74 commented on #3444
This looks fixed again - thanks.

[2015-09-11 03:34] #3444 closed

[2015-09-11 03:34] andydandy74 commented on #885
This was introduced in 0.8.2 - thanks!

[2015-09-11 03:34] #885 closed

[2015-09-11 04:28] #3701 closed

[2015-09-11 04:34] andydandy74 commented on #3083
Looks fixed in current builds.

[2015-09-11 04:34] #3083 closed

[2015-09-11 04:35] andydandy74 commented on #3055
Seems to work now, at least between Revit 2015 and Revit 2016

[2015-09-11 04:35] #3055 closed

[2015-09-11 04:38] andydandy74 commented on #1920
Thanks for fixing!

[2015-09-11 04:38] #1920 closed

[2015-09-11 04:39] andydandy74 commented on #2661
Looks like this is called Dynamo Studio now... ;-)

[2015-09-11 04:39] #2661 closed

[2015-09-11 04:42] #2304 closed

[2015-09-11 04:43] andydandy74 commented on #2506
Looks fixed in recent builds

[2015-09-11 04:43] #2506 closed

[2015-09-11 04:45] andydandy74 commented on #2319
This now returns a correct error message

[2015-09-11 04:45] #2319 closed

[2015-09-11 06:12] andydandy74 opened #5277 "Wish: Extend capabilities of Range node"
Recently, the ```Number Range``` node was turned into the ```Range``` node (#5234) that can now process alphabetical lists as well. Great!
I would like to suggest two improvements:
1. Set a default value of 1 for the ```step``` input as that is the value most typically used with this node.
2. Do not stop at 26 letters, e.g. a range of 28 would then yield the following sequence:
a, b, c, ..., x, y,

[2015-09-11 07:03] vykrum opened #5278 "Node Library trouble"
Ver: 0.8.3.2526
OS: Win 7
Node is not placed on the canvas after clicking on it in the node library (listed after searching).
This has happened a few times in the last few hours. It happens during the course of working on a file  but haven't yet noticed a pattern that would enable replication of the issue. Works properly when the file is opened.
This problem doesn't seem to apply to all nodes and

[2015-09-11 07:27] andydandy74 opened #5279 "Right-click to edit in node browser gone"
I am pretty sure there used to be a right-click option to open custom nodes directly from the node browser (also an option to edit node properties, I think). When did that disappear?
0.8.3.2514

[2015-09-11 08:04] vykrum opened #5280 "Polysurface Intersect"
ver: 0.8.3.2526
OS: Win 7

Solid *Intersect* Plane = Surface
Surface *Intersect* Plane =Line
Polysurface *Intersect* Plane = Surface? (should be lines, right?)

![20150911-1](https://cloud.githubusercontent.com/assets/5621624/9809887/be0b79ee-5889-11e5-9fb6-25aa3b8cea03.jpg)

[2015-09-11 10:46] vykrum commented on #5278
The problem seems to be related to where I click. If I click somewhere on the text, in the red zone (in the image below) it doesn't work. In the green zone (blank space besides the text), it works.
![20150911-2](https://cloud.githubusercontent.com/assets/5621624/9813114/6d7f900c-58a0-11e5-832f-4bf222e782b0.jpg)

[2015-09-11 11:50] mariusvanwyk2216 opened #5282 "Reading Data from Excel file workbook failed"
Using Dynamo 0.8.2.2392 and trying to read excel file to then at the end create sheets in Revit 2015. Got stuck at reading from excel file.

I am totally new to (never tried any form of programming before) a revit user trying to widen his horizons.....
![view of excel file and dynamo fail to read](https://cloud.githubusercontent.com/assets/14234026/9814137/f12c9be4-588b-11e5-8756-a7fac160e4b5.png)

[2015-09-11 11:50] Racel commented on #5276
Hi @andydandy74 - This is not intentional, but a bug that someone brought up in the initial round of testing. We are working on trying to fix these issues.  You can see the same differentiation in the 8.2 library UI with the icons, but it is slightly more pronounced with the new tree view. Thanks again and please let us know if you see any other issues with the new UI.

[2015-09-11 12:18] CKellner opened #5283 "Localization does not work for Revit 2016 Dynamo Addin"
I tried out the new Dynamo Version 0.8.2 for Revit 2016. I expected that this version runs with a German GUI but it was in English. Using Revit 2015 the localization works.

So is there a way to change the language of the dynamo Addin for Revit 2016, like I can do this for Revit?

I used the Dynamo Version 0.8.2.2392 with Revit 2016 SP2 on a Windows 7 OS

[2015-09-11 12:21] SethWaldman commented on #5189
I'm not sure. My office has decided to use version 0.8.2 since it's a stable release and we haven't re-encountered the issue yet.

[2015-09-11 12:45] RodRecker commented on #5278
@vykrum Thank you for taking the time to narrow this down. We will get this logged and fixed.

[2015-09-11 13:12] mjkkirschner commented on #5278
@vykrum I have just noticed this as well and tracked this. Do you have a high DPI screen like a mac retina screen?

[2015-09-11 13:23] jnealb commented on #4868
@seandburke Thank you for the prompt feedback.

[2015-09-11 13:23] #4868 closed

[2015-09-11 13:25] jnealb commented on #5255
@andydandy74 Thanks

[2015-09-11 13:33] jnealb commented on #5189
@SethWaldman Thanks - we will re-open this if it re-occurs.

[2015-09-11 13:33] #5189 closed

[2015-09-11 20:20] vykrum commented on #5278
@mjkkirschner No, using an eight year old monitor (so no chance of a high DPI) with a resolution of 1366x768

[2015-09-11 20:21] mjkkirschner commented on #5278
@vykrum this PR should fix the issue, should go in soon.
https://github.com/DynamoDS/Dynamo/pull/5281

[2015-09-11 21:06] JohanCantryn opened #5285 "Getparametervaluebyname"
Hi,

I use Revit.Selection.Select Model Element to select a Revit object.
When I use Revit.Element.Parameters I can see all the parameters, including the "Category" of the element.
With GetParameterValueByName I can get the value of any parameter except for this "Category" parameter. I get the error: "Could not obtain element from the current document. The ID may not be valid".

[2015-09-11 22:57] mjkkirschner commented on #5285
I believe category uses the builtin parameter category name, try:
"ELEM_CATEGORY_PARAM"

[2015-09-12 04:37] andydandy74 opened #5286 "Display server time zone on dynamobuilds.com"
Sometimes when waiting for recently merged features to make it into the daily builds it would be nice to know which time zone the dynamobuilds.com server is hosted in. It would help if that information were displayed on the landing page.

[2015-09-13 07:26] dimven commented on #5277
:+1:

[2015-09-13 13:28] vykrum opened #5287 "PolyCurve.ByThickeningCurve"
ver: 0.8.3.2535
OS: Win 7

_PolyCurve.ByThickeningCurve_ seems to only create a poly curve on the XY plane, disregarding the specified normal
![20150913-1](https://cloud.githubusercontent.com/assets/5621624/9836897/643b2470-5a49-11e5-9b16-d9f656a7095f.jpg)

[2015-09-14 05:10] andydandy74 opened #5292 "Issues when recategorizing custom nodes"
After editing (and saving) a custom node multiple times I noticed that several instances of it appeared in the node browser. They disappear after restarting Dynamo.
![multiple instances](https://cloud.githubusercontent.com/assets/3014437/9842523/5b7f0138-5aaf-11e5-83af-07cdb8473be9.PNG)
0.8.3.2553 Revit addin (haven't tried to reproduce in sandbox)

[2015-09-14 10:01] JohanCantryn commented on #5285
Hi mjkkirschner,

Tried "ELEM_CATEGORY_PARAM" as an input for GetParameterValueByName I get an empty value as an output.

[2015-09-14 14:15] ksobon commented on #5168
Thanks to folks at TT for dealing with this. I haven't tried this but I am going to guess it works like a charm. :-)

https://github.com/tt-acm/DynamoForRebar/blob/master/src/DynamoRebarUI/GenericClasses.cs

[2015-09-14 14:15] #5168 closed

[2015-09-14 14:18] safawi opened #5296 "Element.OverrideColorInView continuos crash"
Hi I'm not able to complete this task because every time dynamo crashes (virtual machine error).
I'm using dynamo 0.8.2 on revit 2016 and trying to override 7850 curtain panels by colour using their area as a parameter. It should be an easy task. What's wrong?

![dynamo error](https://cloud.githubusercontent.com/assets/9339366/9851970/a19955a8-5af3-11e5-8a97-adff436d8c8c.jpg)
![capture](https://cl

[2015-09-15 03:12] monikaprabhu commented on #5287
@vykrum - Thanks for reporting this - I think it considers only the plane of the curve as the direction.  tracked at MAGN-8406
![curves](https://cloud.githubusercontent.com/assets/5218721/9866867/a0019578-5b9a-11e5-9b3f-ee4717dfada8.png)

[2015-09-15 03:16] monikaprabhu commented on #5286
Are you trying to figure out how much time will be taken to get the build - While this is a completely valid request. We generally upload the builds after the internal automation tests are run and verifying nothing majorly broken. So time is generally not predictable. if you are looking for anything more please get back to us.

[2015-09-15 03:27] andydandy74 commented on #5095
It looks like this behaviour is limited to code block based custom nodes only. I don't see this happening in node based custom nodes.

[2015-09-15 03:51] andydandy74 commented on #5286
@monikaprabhu - I'd like to know how old the currrent daily build is. If I know the timezone of the server I can just do the maths.

[2015-09-15 04:28] andydandy74 commented on #2460
```Document``` objects also do not convert. It would really help if they did, e.g. when handling linked documents. In Dynamo, the data type is ```Revit.Application.Document``` while a when accessing the Revit API in a Python node it is ```Autodesk.Revit.DB.Document``` with no way to convert between the two.

[2015-09-15 04:48] andydandy74 commented on #5072
Workaround: Special characters can be copy/pasted into an input node...

[2015-09-15 06:00] monikaprabhu commented on #5282
@mariusvanwyk2216 - what is the warning on the excel node - please click on the node that is yellow (excel node) and copy paste the warning displayed and send it back to us. check if the excel and sheet name are correct.

[2015-09-15 06:38] Siulum commented on #5219
Anything new regarding the issue? If you need more information let me know.

Regards,
Michael

[2015-09-15 08:06] monikaprabhu commented on #5285
@JohanCantryn - I'm filing bug -MAGN-8407 - Currently I don't know the reason for this will discuss with Developer and try to get an answer. @Randy-Ma please take a look when you get time

[2015-09-15 08:39] monikaprabhu commented on #5280
@vykrum - Thanks vykrum. the result is weird - I'll log a defect for this - MAGN-8408

[2015-09-15 08:53] JohanCantryn commented on #5285
OK. Thanks fot the follow up.

[2015-09-15 09:06] andydandy74 commented on #5285
@JohanCantryn - In the meantime, you should probably be able to get the category by using ```Get Built In Parameter``` from package ```archi-lab.net``` with the parameter name that Mike suggested. It'll probably return the category ID (which you may be able to turn into a category object by using ```Id to Element``` from the same package).

[2015-09-15 09:42] monikaprabhu commented on #5283
@CKellner , I can get localization on Revit architecture 2016 sp1 - will retest with Revit 2016- vanilla and get back to you! meanwhile can you please tell me how are you launching Revit ? are you using English OS or German OS.

[2015-09-15 13:56] jnealb commented on #5283
@monikaprabhu @CKellner  Just an fyi: with Revit 2016 (build 16.0.493.0 20150807_1515(x64)) and Dynamo 0.8.2.2392 running French Windows 7 there is no issue: the Dynamo gui is French.

[2015-09-15 14:38] mariusvanwyk2216 commented on #5282
Hi,

I replaced the readfromfile with the read excel from bumblebee and it works.

[image: Inline images 1]

Marius Van Wyk
082-863-6651 [Mobile]

On 15 September 2015 at 08:00, monikaprabhu <notifications@github.com>
wrote:

[2015-09-15 17:24] CKellner commented on #5283
@monikaprabhu I use a German OS

[2015-09-15 20:43] tcacciuto commented on #4851
@jnealb jnealb - there is any update about this graphic issue? I have the same problem

[2015-09-15 20:56] jnealb commented on #4851
@tcacciuto @Curty102 @afandianzo @ikeough We anticipate providing you with a Helix updated Dynamo build in the next couple of weeks which should help with these graphics rendering issues.

[2015-09-16 01:38] onizuka14 opened #5301 "Where is the implementation of IFailuresPreprocessor ?"
Its seems dynamo doesnt implement IFailuresPreprocessor and i think i cant implement it on dynamo. Is this correct? This is needed as paramaters for some commits

[2015-09-16 02:32] monikaprabhu commented on #5283
@jnealb Thanks Neal for verifying this - @CKellner  - We may need some info from your end to understand this problem.  Did you install from the build on the DynamoBIM.com
Any other detail that can be of help.

 Do you have the localization related  folders
1.  C:\Program Files\Dynamo 0.8\ de-DE ( there are similar 12 folders that correspond to the localization )
2. C:\Program Files\Dynamo 0.8\libg

[2015-09-16 02:35] aparajit-pratap commented on #2460
@monikaprabhu could you review @andydandy74 's request above and create a tracking task for it?

[2015-09-16 02:36] aparajit-pratap commented on #5296
@Randy-Ma could you take a look at this? Thanks.

[2015-09-16 02:47] aparajit-pratap commented on #5282
@monikaprabhu could you create a bug for this? I'll take a look later.

[2015-09-16 04:01] andydandy74 commented on #2460
Since this has become quite a long thread I think a quick summary would help:
1. ```ToDSType()``` should return a Dynamo element type where possible and the original element type if there is no corresponding Dynamo element type.
2. ```ToDSType()``` should be able to process elements recursively like ```UnwrapElement()```
3. ```ToDSType()``` should be able to convert Revit ```Category``` and ```Doc

[2015-09-16 04:58] andydandy74 commented on #5292
Something similar happens when recategorizing a node. The node appears twice in the new category but also appears once at its own location:
![recategorization](https://cloud.githubusercontent.com/assets/3014437/9896682/fa779138-5c3f-11e5-9304-36ffcb10e4d5.PNG)
FYI @Racel

[2015-09-16 06:32] monikaprabhu commented on #5265
@s-jamison - Thanks for reporting the issue - I'm tracking this under MAGN-8413. While the bounding box for the above shape is not correct. I change a few coordinates -change CBN to  {0,30,30,0};{0,30,0,0};{20,0,0,0}; the bounding box is correct. we need to debug into code to find what is the issue- so please wait until the developer gets into fixing it.
![boundingbox](https://cloud.githubusercont

[2015-09-16 07:27] monikaprabhu commented on #5252
@vykrum -  I could not reproduce this when I'm adding rep guides. But I can reproduce this when I'm removing the connection to "a".  This is happening due to wrong function signature List.Join needs input as an array, try this  List.Join({a<1>,l}); This fixed the exception at my end. Please let me know if it works for you. I've filed bug MAGN-8414.

[2015-09-16 08:50] monikaprabhu commented on #5301
@Onizuka14 , it will be great if you could send more details - do you have you codebase somewhere or code snippet ? @ikeough - could you please take a look at this?

[2015-09-16 09:02] Randy-Ma commented on #5296
From the call stack, it looks like that there might be some race condition and it can not be caused by the OverrideColorInView node

[2015-09-16 11:14] onizuka14 commented on #5301
Its basic this:
 newStairsScope = StairsEditScope(document, "New Stairs")
"Lot of paramaters for creating the stairs"
newStairsRun = StairsRun.CreateSketchedRun(document, newStairsId, levelBottom.Elevation, bdryCurves, riserCurves, pathCurves)

newStairsScope.Commit(new StairsFailurePreprocessor()) -- Here instead of new StairsFailurePreprocessor() i should pass an IFailuresPreprocessor, StairsFai

[2015-09-16 12:15] Racel commented on #5292
Thanks, @andydandy74. Looks like a bug. We will look into it.

FYI @jnealb

[2015-09-16 15:59] afandianzo commented on #4851
I am happy to hear that. Thank you.

Sent from Yahoo Mail on Android

From:"Neal Burnham" <notifications@github.com>
Date:Tue, Sep 15, 2015 at 11:56 PM
Subject:Re: [Dynamo] Background model (#4851)

@tcacciuto @Curty102 @afandianzo @ikeough We anticipate providing you with a Helix updated Dynamo build in the next couple of weeks which should help with these graphics rendering issues.

—
Reply to t

[2015-09-16 16:39] RodRecker commented on #5217
@lillismith let's add this to the UX Love project.

[2015-09-16 16:46] RodRecker commented on #5270
@andydandy74 are you still seeing this in the dailies?

[2015-09-16 18:26] Curty102 commented on #4851
+1!

Nick

Sent from my HTC

----- Reply message -----
From: "afandianzo" <notifications@github.com>
To: "DynamoDS/Dynamo" <Dynamo@noreply.github.com>
Cc: "Curty102" <Curty102@hotmail.com>
Subject: [Dynamo] Background model (#4851)
Date: Wed, Sep 16, 2015 10:59 AM

I am happy to hear that. Thank you.

Sent from Yahoo Mail on Android

From:"Neal Burnham" <notifications@github.com>
Date:Tue, Sep 15,

[2015-09-16 19:04] jnealb commented on #5292
@andydandy74 Can not repro the cloned dyf syndrome with 0.8.3.2585 running on Revit. May need exact steps.

[2015-09-16 22:53] onizuka14 commented on #5301
Or a more simple examle of what i need is this implementation:

class StairsFailurePreprocessor : IFailuresPreprocessor
{
    public FailureProcessingResult PreprocessFailures(FailuresAccessor failuresAccessor)
    {
        // Use default failure processing
        return FailureProcessingResult.Continue;
    }
}

[2015-09-17 03:24] ke-yu commented on #5286
@mccrone ?

[2015-09-17 04:04] monikaprabhu commented on #5282
@mariusvanwyk2216 , @aparajit-pratap  I cannot reproduce this on 0.8.2. 2392 or the latest daily. Please provide more info and send me the warning on excel node - so we know what is the error thrown - which version of Microsoft office are you using ?

[2015-09-17 05:53] monikaprabhu commented on #5257
@andydandy74 , you can give the input as type var or var[]..[] if its an array. Which will allow you specify any type and then you need to filter your graph accordingly. If you can share more details on what you are trying to achieve by doing this , may be we can help more on this.

[2015-09-17 06:07] vykrum commented on #5252
@monikaprabhu - When in Automatic Run mode, List.Join doesn't seem to work in a code block
![20150917-2](https://cloud.githubusercontent.com/assets/5621624/9926102/2626c600-5d30-11e5-8a12-ff7873d4ec4f.jpg)

On adding a replication guide in an attempt to address the warning, the crash report appears.
![20150917-1](https://cloud.githubusercontent.com/assets/5621624/9926121/485fdba8-5d30-11e5-9a27-e8

[2015-09-17 06:23] monikaprabhu commented on #5252
@vykrum - here is the syntax for List.Join in a CBN - the warning is not due to lack of replcaition guides, rather you are passing two arrays and the function needs all the lists as a array of lists. Please try List.Join({a<1>,l}); or List.Join({a,l});

[2015-09-17 07:05] monikaprabhu commented on #5206
@vykrum , yup! we have some issues here with zoom it will be taken care of when we fix the MAGN-8417- THanks a lot for reporting the same.

[2015-09-17 07:32] jechtma commented on #4835
I reinstalled  windows system and the problem was solved.

2015-09-11 5:29 GMT+08:00 Neal Burnham <notifications@github.com>:

[2015-09-17 08:47] vykrum commented on #5252
@monikaprabhu - sorry didn't take note of the curly braces. Thanks

[2015-09-17 08:52] #4910 closed

[2015-09-17 09:26] andydandy74 commented on #5257
@monikaprabhu - That's the thing: I don't want to allow just *any* data type. In the use case I mentioned above my custom node would expect an input of either a face or a plane. Anything alse should trigger the standard warning "One or more of the input types are not matching. Couldn't find a version of ..... that takes arguments of type (....)".

[2015-09-17 09:40] andydandy74 commented on #5292
@jnealb - You're right, neither can I. Maybe a glitch. What I still see is weird behaviour of nodes in the browser when recategorizing:
- Recategorizing nodes that live in the definitions folder: The node apperas in the old category **and** the new category
- Recategorizing nodes that live in a package: The node does not move to the new category (only after restarting Dynamo) - I think this one's

[2015-09-17 09:54] andydandy74 commented on #5270
I am now on 0.8.3.2580 (one of yesterday's builds) and it's still as slow as molasses in January. On top of Revit 2016 the performance is great BTW.

[2015-09-17 11:50] redinkinc opened #5310 "Export as STL as node"
Hello,
is it possible to have the "save as STL" functionality also as a node? I need the points of a triangulated surface and Delauney always returns an empty list. The STL File contains the right surfaces, but I always need to switch between Dynamo Scripts because the geometry creation and the further use of the edges can't be implemented into one script.
Thanks

[2015-09-17 12:24] redinkinc opened #5311 "Face.SurfaceGeometry creates offset when used with Cuboid.ByCorners"
HI, when I create a cuboid and then get Surfaces using Topology.Faces and Face.SurfaceGeometry the surfaces are offseted. Only appears when cuboid is created ByCorners, all other cuboids work as intended...

![capture](https://cloud.githubusercontent.com/assets/3741716/9932897/b67860a8-5d47-11e5-9b9d-e61ea9e43734.png)

[2015-09-17 13:16] aparajit-pratap commented on #5311
Thanks @redinkinc, we are tracking it this defect.

[2015-09-17 13:21] jnealb commented on #4835
@jechtma Thanks.

[2015-09-17 13:21] #4835 closed

[2015-09-17 15:20] redinkinc commented on #5311
I have an addition to the issue. The other cuboids only work well if the origin stays 0,0,0. If it is moved the origin is in the center of the cuboid but one corner of the Surfaces cube.

[2015-09-17 15:34] andydandy74 commented on #5310
:+1:

[2015-09-17 15:35] jnealb commented on #5270
@andydandy74 Is there any difference in your licensing of Revit 2015 versus Revit 2016? We have reports of network licenses being correlated with the proverbial molasses (MAGN-8049).

[2015-09-17 15:43] andydandy74 commented on #5270
No difference - both are single seat EDU licenses.

[2015-09-17 15:46] jnealb commented on #5270
and you are loading the same or different rvt projects in each? btw: I feel like you know the story: https://en.wikipedia.org/wiki/Great_Molasses_Flood, yes?

[2015-09-17 15:56] andydandy74 commented on #5270
Yes, I do most of my testing on the basic architectural sample project that ships with Revit.
The only difference I see between my 2015 installation and my 2016 installation is that 2015 is bursting with addins. But that couldn't possibly affect the browser search performance, could it?
And no - I didn't know about this piece of Boston history. I think I heard it first when watching Gone With The

[2015-09-17 16:00] jnealb commented on #5270
Can you please list all the addins?

[2015-09-17 16:01] MBijsterbosch opened #5313 "Codeblock resultlist not correct when using codeblock def function"
Hi,

I was trying to put functions (def) in codeblocks to call them in other codeblocks, this works fine but the data preview? (tick the box in the lower right of the node) doesnt update unless you restart dynamo, disconnect/reconnect node or change a value no in the function (def test in my codeblock).

![dynamo_codeblock_preview_bug](https://cloud.githubusercontent.com/assets/10550107/9938268/d9

[2015-09-17 16:29] andydandy74 commented on #5270
- ArchiCAD Conncetion
- BIM 360
- BIM Collab (BCF)
- BIM Object *
- Boost Your BIM File Upgrader *
- COINS Section Box *
- CASE Apps (R.I.P.)
- DigiPara Elevator Architect *
- GSA Detail Filter *
- IFC Exporter
- Lumion *
- Navisworks Exporter
- Site Designer *
- Revit Extensions *
- Revit Lookup
- Roombook-Areabook-Buildingbook
- Schueco Parametric System
But I don't think this has anything to do

[2015-09-17 16:39] #3796 closed

[2015-09-17 16:46] MBijsterbosch commented on #3550
Hi @kronz

Sorry for the late reply, ive installed the latest version of dynamo 0.8.3.2585 and upgraded the project to revit 2016. Im not sure if the error still exists because i get a new error so i cant test it. The element.SetParameterByName node doesnt recognize the "Start Join Cutback" parameter as parameter any more(see image). I built a python node to verify that it is still possible to wri

[2015-09-17 16:51] jnealb commented on #5292
@andydandy74 We can reproduce the re-categorization issue. Will advise.

[2015-09-17 17:27] RodRecker commented on #5270
I'm seeing slow search with 0.8.3 and Windows 8.1 and Revit 2015. No add-ins for Revit.

[2015-09-17 17:54] jnealb commented on #5270
And I do not with Revit 2015 with 0.8.3.2585 and Windows 7 on my Dell i7 laptop. No add-ins for Revit. @RodRecker do you have any packages downloaded? Is this on your Surface? I can however repro with Revit 2016 (network license) on a VM running French Windows 7 with no addins: after I type a key at the library search it is not echoed back for many secs. Will look at Windows 8.1 next.

[2015-09-17 17:59] RodRecker commented on #5270
@jnealb yes, on my surface. This is what I'm seeing too:

[2015-09-17 18:16] jnealb commented on #5292
Tracked with MAGN-8421.

[2015-09-17 18:25] jnealb commented on #5270
@RodRecker What flavor of Revit are you running: Architecture, etc?

[2015-09-17 18:38] RodRecker commented on #5286
@andydandy74 the best way is to look at the name of the build - most recent is DynamoInstall0.8.3.20150917T0114.exe

150917T0114 encodes the build date and time:

150917 is the date (Sep 17, 2015) and 0114 is the time 1:14am Pacific time zone.

Using the file name is best because the time stamp on the left side of the builds page shows when the file was uploaded after passing tests which can vary

[2015-09-17 18:38] RodRecker commented on #5270
@jnealb yes - architecture.

[2015-09-17 19:37] jnealb commented on #5270
We are tracking this with MAGN-6892

[2015-09-17 21:41] mccrone commented on #5286
@ke-yu I don't have access to the server.

[2015-09-18 01:53] pboyer commented on #5286
This is mine.

On Thu, Sep 17, 2015 at 5:41 PM, Colin McCrone <notifications@github.com>
wrote:

[2015-09-18 03:01] andydandy74 commented on #5286
@RodRecker - Thanks - that's exactly the info I needed! Now that I know that it's PST I can do the maths myself. FWIW, I think that this may in some cases be interesting for other users, too, so perhaps it would make sense to include ```PST``` in the file name as a suffix.

[2015-09-18 03:05] sharadkjaiswal commented on #5313
@junmendoza PTAL

[2015-09-18 03:37] ke-yu commented on #4776
hi @jhubers , try

[code]

[2015-09-18 09:02] JohanCantryn commented on #5285
@andydandy74 - I will give this a try. Thanks for your feedback

[2015-09-18 16:31] Racel commented on #5267
@andydandy74 - we are working on this now.
@jnealb @ramramps - please review MAGN-8410 for design and acceptance criteria.

[2015-09-18 20:03] s-jamison commented on #5265
Currently using the curve geometry to make the bounding box as a workaround.

[2015-09-18 20:09] mjkkirschner commented on #5278
@vykrum please reopen if you continue to see this

[2015-09-18 20:09] #5278 closed

[2015-09-18 20:12] fattahimorteza opened #5321 "Dont Show 3d workspace"
i download and install dynamo 8.2 but 3d workspace dont show any thing.
also when i use watch 3d node, dont sho any geometry.

[2015-09-19 05:46] vykrum commented on #5313
This has been the case for a long time now.
Work around: Change the name of the function. (eg. Make it *test1*) and call it again using the new name OR reopen the file.

[2015-09-19 06:32] #5313 closed

[2015-09-20 04:01] andydandy74 opened #5323 "CSV.WriteToFile should not add whitespace in front of strings"
I have a workflow that will read and write the same CSV file multiple times. What I have observed is that the CSV.WriteToFile node seems to add a whitespace in front of every string. The effect is that Dynamo adds another whitespace each time the CSV file is written again, like so (whitespace replaced by underscores for readability):
Original: ```item1,item2,item3```
Iteration 1: ```item1,_item2,_

[2015-09-20 04:55] andydandy74 commented on #5323
Never mind -  I just created a pull request here: #5324

[2015-09-20 04:55] #5323 closed

[2015-09-21 02:43] sharadkjaiswal commented on #5321
@fattahimorteza are you using this over remote desktop or on any virtual machine? Currently, Dynamo graphics doesn't support virtualization; we are working on it.
If it's on your local system, then please share the graphics card details to troubleshoot the issue.

[2015-09-21 05:36] andydandy74 opened #5326 "FamilyType.Family returns null for empty lists."
Feeding an empty list into ```FamilyType.Family``` will result in the node returning ```null``` as well as the famous ```De-referencing a null pointer (3f47aacd)``` warning.
Expected behaviour: Return an empty list.
0.8.3.2580

[2015-09-21 05:55] CKellner commented on #5283
@monikaprabhu I installed Dynamo from DynamoBIM.com and the localization related folders exist.

[2015-09-21 07:42] fattahimorteza commented on #5321
Hi
Thankyou for your answer.
My laptop is hp 8740w with quadro fx 2800 graphic card.

[2015-09-21 07:45] sharadkjaiswal commented on #5321
So you are facing this issue while running Dynamo on your laptop and not on a remote desktop? If so can you please try to upgrade the driver to the latest version and give it a try.

@jnealb do we have any known issue registered with quadro fx 2800 graphics card?

[2015-09-21 08:16] fattahimorteza commented on #5321
I use last version of driver for graphic card.
No, don t register any issue about quadro fx 2800.

[2015-09-21 13:47] jnealb commented on #5321
@sharadkjaiswal @fattahimorteza We have not tested the FX2800 but we do have a known issue with the FX1800 so most likely we do the with the FX2800 variant/cousin card. The coming Helix update to Dynamo may address the issue.

[2015-09-21 14:41] fattahimorteza commented on #5321
i cant find any issue.

[2015-09-21 14:44] jnealb commented on #5321
MAGN-7502 and MAGN-8245

[2015-09-21 14:57] fattahimorteza commented on #5321
Thank you.

[2015-09-22 10:12] CKellner commented on #5283
@monikaprabhu FYI: It seems that I used an other addin that occurs this error. When I uninstall the other addin, Dynamo works fine.

[2015-09-22 10:12] #5283 closed

[2015-09-22 10:32] josols commented on #5277
+1

[2015-09-22 15:47] vykrum opened #5342 "Crash Report 20150922"
Ver: 0.8.3.2632
OS: Win 7

Seems like the *GetFamilyParameter* node is the culprit
The file, when opened is as below and on clicking *Run*, crashes

![20150922-5](https://cloud.githubusercontent.com/assets/5621624/10023343/44a4fa78-616f-11e5-83b4-3491929c14db.jpg)

Object reference not set to an instance of an object.

   at DSRevitNodesUI.FamilyInstanceParameters.GetInputElement()
   at DSRevitNo

[2015-09-22 17:19] jnealb commented on #5283
@CKellner What is this other addin?

[2015-09-22 17:57] jnealb commented on #5342
@vykrum Can not reproduce with your graph and our samples running Dynamo 0.8.3.2644. Can you possibly provide us with your Revit project?

[2015-09-22 18:03] vykrum commented on #5342
@jnealb - Haven't saved the Revit project.
In any case, it was a new project (created using a metric template) with a structural steel column, a wall and three different foundations (isolated, slab and wall).
It was a quickly put together file to test a solution (in response to a query on the Dynamo forum).

[2015-09-22 21:14] defosset opened #5343 "Crash open opening Dynamo 0.8.2"

[2015-09-23 03:25] lewshion commented on #5321
I meet the same problem,and my graphics card is AMD Radeon R5 M200 Series(2GB) and intel HD Graphics 5500

[2015-09-23 03:27] lewshion commented on #5321
it's normal when i use the 0.8.0 release of dynamo in revit2015

[2015-09-23 03:30] lewshion commented on #5321
@sharadkjaiswal

[2015-09-23 03:35] sharadkjaiswal commented on #5321
@lewshion, From 0.8.1 onwards we have started using hardware acceleration for graphics, hence now its dependent on your graphics card. Sometimes updating the display driver to the latest helps. You may consider updating your driver from http://www.dell.com/support/home/us/en/19/Drivers/DriversDetails?driverId=R283418

[2015-09-23 04:43] lewshion commented on #5321
@sharadkjaiswal Thank you for answering! I will update the driver and wish it helps.

[2015-09-23 05:27] archinate opened #5345 "Package Manager, not publishing new version online"
I recently published a new version of Rhynamo on Friday, September 18 [v.2015.9.18] and tried re-publishing a version today on [v. 2015.9.23].  While Dynamo appears to upload the files, these updates are not make their way to the online manager.

As it appears installed (after I chose to "Publish Online")
![image](https://cloud.githubusercontent.com/assets/1890663/10038287/6e1b1256-6189-11e5-8d5c-

[2015-09-23 06:11] andydandy74 commented on #5345
Interesting - it's definitely not the package manager server. It must be something local in Dynamo 0.8.x because I just published a new version using Dynamo 0.7.5 (don't laugh - still not finished with migration tests) and it shows up on the package manger.

[2015-09-23 10:48] jhubers commented on #4776
hi @ke-yu It gives next result
![image](https://cloud.githubusercontent.com/assets/1529297/10043185/32f289ee-61f1-11e5-8f9b-cd82b1c357be.png)
So pCOLLECT gives warning: Warning: Asked to convert non-convertible types
MyDataCollectorClass.pCOLLECToutputs operation failed. And the code block: Warning: One or more of the input types are not matching. Couldn't find a version of pCOLLECToutputs that ta

[2015-09-23 10:50] jhubers commented on #4776
@ke-yu Remember I was using:
[code]

[2015-09-23 13:34] archinate commented on #5345
So trying again this AM... There seemed to be something preventing the upload process even though the form indicated that everything was uploading.

It turned out I had been signed in from a different Autodesk 360 account (yay, user error!).

However, Dynamo was not giving me any indication that my version upload was failing.  Shouldn't there be a message of some kind saying "You are not authorize

[2015-09-23 13:46] ikeough commented on #5345
@archinate I ran into this exact same problem last week. We're tracking it. Thanks.

[2015-09-23 13:57] pboyer commented on #5345
@ikeough Let's talk about this today.

[2015-09-23 13:58] pboyer commented on #5345
Yes, there definitely should be an error message when package publish fails. Just to clarify, the issue here is primarily that Dynamo is not emitting an error when the package publish process fails?

[2015-09-23 17:52] CKellner commented on #5283
I wrote a test addin via c#. My own addin occurs the error. ; )

[2015-09-23 17:55] jnealb commented on #5283
but how can you possibly do that to Dynamo?...

[2015-09-23 18:14] ralvarez76 opened #5349 "Iterating Dynamo Definition with Revit Objects"
I am trying to drive a small test building geometry parametrically through Dynamo. This geometry will then be converted to Revit elements either in Dynamo or through the Revit interface. I am running into the following issues:

- If I create the geometry entirely in Dynamo, and use import instance into a mass family, I can create elements in the project “by face.” However when I update the geometr

[2015-09-23 21:37] jnealb commented on #5345
@archinate @andydandy74 This is tracked with MAGN-8473.

[2015-09-24 03:40] dimven commented on #5349
I can't offer much help on this, because it seems to be a major issue. I've been experiencing similar behavior with walls and beams generated through Revit.

However for the above example, you could try using the built in "Form.ByLoftCrossSections" node. That way the form will stay associated at least until you close down Revit. (you can even close down the Dynamo window and re-open it.)
![2015-09

[2015-09-24 04:31] riteshchandawar commented on #5224
This seems to be a valid issue, Which version of Dynamo you are using currently?

If you are using 0.8.2 then Can you please try this workflow on 0.8.1 if possible?

Meanwhile I will investigate it at my end as well.

Thanks,
Ritesh

[2015-09-24 06:18] CKellner commented on #5283
I don't know how this works exactly. I change the current culture for a test. Revit loads addins in a more or less random order. I think the Dynamo addin was loaded after my addin and that's it.

[2015-09-24 06:33] riteshchandawar commented on #5224
Hello @RonFS

I tried your scenario at my end using our own Adaptive Component Sample. (Help>Samples>Revit>Revit_Adaptive Component Placement)
I am able to reproduce this on 0.8.1 and 0.8.2 but **on 0.8.3 it is not reproducible**.

I tried below steps.

* Saved Revit file without AC.
* Saved DYN file without running.
* Opened saved Revit file and execute AC script to create few AC.
* Saved both DY

[2015-09-24 07:48] vykrum opened #5352 "Empty package"
Ver: 0.8.3
OS: Win 7

I recently published a package on the package manager.
The package was installed, but the node was not available to the obviously frustrated user (http://dynamobim.com/forums/topic/is-there-a-all-elements-of-family-name-node/)

But the culprit was not Dynamo, it was me (at least partly).
Seems like I hadn't included any files in the package. I had used the *Publish this custo

[2015-09-24 13:29] jnealb commented on #5283
Thanks

[2015-09-24 13:40] jnealb commented on #5352
Thanks - this is tracked with MAGN-8473

[2015-09-24 16:18] jnealb commented on #5342
@vykrum Still unable to repro with Revit 2016, please let us know if you can and send us the rvt+rfa project.

[2015-09-24 16:24] redinkinc opened #5354 "Access double in List of Lists"
Hi there,
I need to read in a List<List<double>> and tried the folloing:

[code]

The Node AST returns the right values, but the variable start always stays null. Any suggestions how to fix this?

![paco](https://cloud.githubusercontent.com/assets/3741716/10079264/4f0ea286-62e9-11e5-8167-e4339ad65259.PNG)

Thanks, redinkinc

[2015-09-24 18:52] bdmackey opened #5355 "Crash on Opening also crashes Revit"
Open Dynamo from latest build

Unable to load one or more of the requested types. Retrieve the LoaderExceptions property for more information.

   at System.Reflection.RuntimeModule.GetTypes(RuntimeModule module)
   at System.Reflection.RuntimeModule.GetTypes()
   at System.Reflection.Assembly.GetTypes()
   at Dynamo.Wpf.NodeViewCustomizationLoader.LoadCustomizations(Assembly assem)
   at Dynamo.W

[2015-09-24 21:31] RonFS commented on #5224
Hello @riteshchandawar,

Thank you for helping me to resolve this issue.

When running my test script described above I was using 0.8.2. I then updated to 0.8.3.503 and obtained the same results. I also took your recommendation to update to the latest daily build and also obtained the same results.

It took me a while to run the example file in the procedure you described, as every time I installe

[2015-09-25 08:53] deleeuwj opened #5360 "crash on opening new Dynamo (fresh install) on Revit 2016"
Revit 2016 + Dynamo 0.8.2 + Geforce Nvidia drivers =

Object reference not set to an instance of an object.

   at HelixToolkit.Wpf.SharpDX.EffectsManager.GetEffect(RenderTechnique technique)
   at HelixToolkit.Wpf.SharpDX.Element3D.Attach(IRenderHost host)
   at HelixToolkit.Wpf.SharpDX.Light3D.Attach(IRenderHost host)
   at HelixToolkit.Wpf.SharpDX.DirectionalLight3D.Attach(IRenderHost host)

[2015-09-25 14:25] kronz opened #5362 "Can't install to r2016 in 0.8.3 daily builds"
@jnealb @riteshchandawar DynamoInstall0.8.3.20150924T2050
![2015-09-25_1021](https://cloud.githubusercontent.com/assets/3456818/10102994/91037938-636f-11e5-89c5-efa13a46b660.png)

[2015-09-25 14:45] jnealb commented on #5362
@kronz Thanks Zack - we are aware of a similar failure on Parallels, what OS is this?

[2015-09-25 15:42] jnealb commented on #5270
@andydandy74 Can you please try upgrading to .net4.6? This has resolved the issue in some cases, and there is no down-side to it.

[2015-09-27 21:14] j12kemp opened #5365 "Persisting data in custom UI node"
If I build a custom UI node using NodeModel and INodeViewCustomization (as per SampleLibraryUI project) with a drop down list to select a specific return value for the node. Is it possible to store/save the selection in order to maintain the selection between Dynamo sessions?

[2015-09-28 05:24] monikaprabhu commented on #5365
@pboyer - can you please take a look at this?

[2015-09-28 05:49] monikaprabhu commented on #5362
@kronz ,@jnealb - I can reproduce this with win7 VM with Revit 2016 installed - I've attached the details to the bug -MAGN-8474.

[2015-09-28 07:45] dimven opened #5371 "Python node inside CN fails when opening a 0.83 file in 0.82"
This is extremely frustrating. Any idea why it is happening?
![2015-09-28_15-46-02](https://cloud.githubusercontent.com/assets/7148394/10130101/dea996ce-65f7-11e5-9b72-262ab2bc38c2.png)

[2015-09-28 14:05] mjkkirschner commented on #5365
@j12kemp you can override SerializeCore on your new node model, when the node is saved you store the index of selection. You also need to deserialize it when the node is loaded.

[2015-09-28 14:51] pboyer commented on #5365
@j12kem When you say "maintain the selection between Dynamo sessions" I assume you mean you'd like to persist this data with the actual dyn file.

The dyn file is an xml file and each node is represented. When Dynamo saves the dyn file, it allows a `NodeModel` implementor to save additional data for the node.

You should be able to find many examples of this inside of the code base. One good examp

[2015-09-28 14:51] #5365 closed

[2015-09-28 14:55] pboyer commented on #5371
This is a clear regression. I'm going to guess this has to do with @pbidenko's recent cleanup of the python code. We'll take a look at this ASAP.

[2015-09-28 15:02] j12kemp commented on #5365
Hi Peter,

Thank you for the prompt response. You have it right I would like to save the data in the dyn file. I will go through the DoubleSlider implementation and then play around with my own custom node to see if I can get it to work. If I get stuck I will re-open and ask more detailed questions.

Regards

Jaco Kemp

From: Peter Boyer [mailto:notifications@github.com]
Sent: Monday, 28 September

[2015-09-28 21:50] RodRecker commented on #5355
@bdmackey Is this still happening with newer builds? Which version of Revit and Dynamo are you using?

[2015-09-28 23:36] ralvarez76 commented on #5349
Incidentally, the update works when its just instantiating points. I worked around the issue by only using points and creating more of the model natively in the Revit UI.

[2015-09-29 00:23] sharadkjaiswal commented on #5362
I think Revit 2015 is not installed on this m/c and hence the issue. https://github.com/DynamoDS/Dynamo/pull/5379 fixes this.

[2015-09-29 07:40] dimven opened #5385 "Dynamo 0.82: "Floor.ByOutline" goes into an infinite loop in Automatic mode."
Both versions of "Floor.ByOutlineTypeAndLevel" (polycurve and curve[] ) start an infinite loop when used in Automatic mode. The exact same graph worked in 0.81, so this seems to be a regression.

Not sure if this is limited to floors, or if other Revit nodes are affected. Will need to do more testing.

[2015-09-29 08:32] andydandy74 commented on #5385
I've actually seen this happen in some fairly recent dailies with some custom nodes as well. Must be connected to how Dynamo and Revit interact because I recall that the only affected nodes were Revit related nodes (and I think only nodes that create Revit elements). I can provide samples if necessary.

[2015-09-29 13:36] bdmackey commented on #5355
Rod,

I was happening with the daily build, the day I submitted.  This was true of one of my clients as well.  It was with Revit 2015, didn’t even think to try to open 2015 and Dynamo.  I went back to an older version and it wasn’t crashing.  I haven’t tried any of the newest daily builds.

Brian Mackey

BD Mackey Consulting

 <http://bdmackeyconsulting.com/> bdmackeyconsulting.com

303.906.6619

[2015-09-29 13:48] RodRecker commented on #5355
@bdmackey thanks for the info. If you have a chance to try on a newer build, that will be helpful as we are about to start final testing and fixing for our next release, 0.9.0.

[2015-09-29 14:47] RonFS commented on #5224
@riteshchandawar

I am also willing to hold a quick goto meeting so we can be sure there is no miscommunication on the issue. It surprises me that you were able to not reproduce this issue in 0.8.3, yet I was.

[2015-09-29 14:59] riteshchandawar commented on #5224
Sure, let me know when you want to donit?

[2015-09-29 15:07] RonFS commented on #5224
Anytime before noon works for me. Just let me know and I will send you a zoom meeting link.

[2015-09-30 05:26] riteshchandawar commented on #5224
For me afternoons are prefarable. Can we do it tomorrow afternoon 3.00 Pm my time. (Singapore Time.)

Thanks,
Ritesh

[2015-09-30 07:01] dimven opened #5395 "Dynamo 0.82: Solid.Fillet/Chamfer not working on translated solids"
There's an identical error for Solid.Chamfer:
![2015-09-30_14-56-55](https://cloud.githubusercontent.com/assets/7148394/10186493/08e7066e-6784-11e5-8537-97f93b0f0e7c.png)

The error message is hinting that the problem is due to missing edges, but the edges are in fact there and in the correct place:
![2015-09-30_15-02-41](https://cloud.githubusercontent.com/assets/7148394/10186506/1f593764-6784-11

[2015-09-30 11:09] francois2nis opened #5398 "Python Script node not working in Dynamo 0.8.3.2256"
Hello,
Please find below my issue.
Thank you for your time. (I also posted something on the forum just in case someone already had this issue)

1.Which version of Dynamo are you using (check the About box)?
0.8.3.2256 (revit 2016)
2.Which operating system are you using?
Windows 10
3.What did you do?
Tried to run a script that was working 10 days ago (Dynamo script containing python script nodes).

[2015-09-30 12:20] mpdiker opened #5400 "Nodes's Data Reviews show null and Crashes"
I’ve made a clean install of DynamoInstall0.8.3.20150924T2050 and Data Preview of Nodes show null. And also Dynamo crashes regularly.
When I revert back to DynamoInstall0.8.2 everything works OK.

http://dynamobim.com/forums/topic/nodes-data-preview-not-working/

Here's a recent crash report:

The input argument "materialId" of function `anonymous-namespace'::TessellatedFace_constructor or one ite

[2015-09-30 13:07] pboyer commented on #5400
@ikeough what do you think?

On Wed, Sep 30, 2015, 8:20 AM mpdiker <notifications@github.com> wrote:

[2015-09-30 14:05] ikeough commented on #5400
Sounds like the Revit material that is used by the background preview does not exist.
@mpdiker, which language revit do you use?

[2015-09-30 14:18] mpdiker commented on #5400
US-English

[2015-09-30 14:41] RonFS commented on #5224
Ritesh,

I didn't think about the fact that you could actually be anywhere when I asked what time is convenient for you. I am in MST. 3pm Singapore time would be 1am my time. Can we try for 7-8am my time, or, 7-8am your time? I'm open to other suggestions, however, your afternoon is my early morning.

Thanks,

Ron

[2015-09-30 14:47] mjkkirschner commented on #5395
@dimven what version of dynamo are you working with?

[2015-09-30 15:30] dimven commented on #5395
Dynamo 0.82 stable release on top of revit 2015

[2015-09-30 21:31] josols commented on #5385
It also happens with your directshape node, Dimitar. So Andreas observation about the creating Revit nodes seem right. Revit 2015+0.8.2

[2015-09-30 23:07] dimven commented on #5385
Yes it seems to be a global problem with the element wrapper.

[2015-10-01 01:39] mjkkirschner commented on #5385
Hi @josols @dimven can you provide any small repro samples of this - (when you say your direct shape node) do you mean the one in .83 dailies or another one?

want to get to the bottom of this, these infinite loops are hard to test for, they generally occur with rebinding.

[2015-10-01 01:49] dimven commented on #5385
https://github.com/dimven/SpringNodes/blob/master/Samples/FloorOpening.ByCurves%20sample.dyn
https://github.com/dimven/SpringNodes/blob/master/Samples/FloorOpening.ByCurves%20Revit%202015.rvt

In the sample above, the file extracts some model curves from revit, splits them into floor and opening boundaries and creates the appropriate elements.
If you leave leave the two element creation nodes, or

[2015-10-01 05:56] dimven commented on #5385
The "StructuralFraming.BeamByCurve" node works wonderfully in automatic mode. I thought it would freeze as well because similarly, it creates elements by curves.So it seems like only certain nodes are affected?

![2015-10-01_13-56-06](https://cloud.githubusercontent.com/assets/7148394/10213791/2e4c066e-6844-11e5-8268-8a9d82faee89.png)

[2015-10-01 13:56] mjkkirschner commented on #5385
yes I'll need to look into this further, I'll repro and then track it asap.

Each Revit constructor may cause an infinite loop issue as they they cause node modified events when updating revit geometry, then this causes the node to fire again... and again... the fix is to check that no real work is being done (the inputs are the same) and not to modify the bound revit element

[2015-10-01 19:12] ghost opened #5414 "Render display issues."
Dynamo geometry (and XY plane representation) does not show up on the following system:

Dell, Windows 10 x64, NVIDIA NVS3100M.
Dynamo version: 2016, update 0.8.2.2431

![dynamo](https://cloud.githubusercontent.com/assets/5727365/10231059/86c48500-6835-11e5-87b6-17c2dd33e7a5.PNG)

[2015-10-01 21:09] jnealb commented on #5033
@Kelcyo @tcacciuto Can you please try this again with the latest daily build (10/1) as soon as our server (Dynamobim.org) is back up?

[2015-10-01 21:11] jnealb commented on #4851
@Curty102 @afandianzo Can you please try again with the latest daily build (10/1) when our website (Dynamobim.org) is back up?

[2015-10-01 21:12] RodRecker commented on #5033
@Kelcyo @tcacciuto You can get the build now from http://dynamobuilds.com/

[2015-10-01 21:21] jnealb commented on #4851
@Curty102 @afandianzo Update: you can get the build now from http://dynamobuilds.com

[2015-10-01 21:27] jnealb commented on #5321
@fattahimorteza @lewshion Can you please try again with the10/1 daily build from http://dynamobuilds.com? We think we may have solved the background preview rendering issue for your graphics cards.

[2015-10-01 23:24] Curty102 commented on #4851
Will be next week before I can try.  Office is moving!  Talk then, and thank you!

Nick

Sent from Windows Mail

From: Neal Burnham
Sent: ‎Thursday‎, ‎October‎ ‎1‎, ‎2015 ‎4‎:‎21‎ ‎PM
To: DynamoDS/Dynamo
Cc: Nick Curtis

@Curty102 @afandianzo Update: you can get the build now from http://dynamobuilds.com

—
Reply to this email directly or view it on GitHub.

[2015-10-01 23:35] fattahimorteza commented on #5321
hi jnealb
thank you very much
i download and install, it is work very well.

[2015-10-01 23:41] jnealb commented on #5321
@ikeough YAY! Nvidia FX1800 and 2800 are validated. @lewshion ?

[2015-10-01 23:45] fattahimorteza commented on #5321
Quadro fx 2800m validated.
thank you.

[2015-10-02 06:22] ParametricMonkey commented on #5233
Yes I've also noticed this. I have a script which checks the intersection between a model curve and rooms. It use to work but now it says there are no intersections. I thought it might be due to a rounding error caused by having the project base point at a weird level. However, it happens even if you model at level 0.0. By changing the Revit units to meters it fixes the problem. But if you change

[2015-10-02 06:32] ParametricMonkey commented on #5345
A while back I submitted a requested for multiple user admins to manage packages. Did this ever get implemented? This would help solve the issueif you are acciedently loggen in with a different account

[2015-10-02 12:46] redinkinc opened #5419 "public override string not visible in library"
Hi, I'm implementing a Class derived from an abstract class and override an abstract member function like this:

[code]

When I do this, the Function Write() is not visible in the Dynamo Library. Is there a way to have this in the Library again?
[IsVisibleInDynamoLibrary] set to true doesn't help.
Thanks, Fabian

[2015-10-02 13:44] mjkkirschner commented on #5419
@lukechurch

[2015-10-02 15:04] pboyer commented on #5371
This happens because the Python node is "from the future." The name of the underlying Python node changed in 0.8.3 from `DSIronPythonNode.PythonNode` to `PythonNodeModels.PythonNode`. If you'd like, you can open up your file and change this appropriately and it will open fine in 0.8.2.

[2015-10-02 15:04] #5371 closed

[2015-10-02 17:00] Racel commented on #5267
@andydandy74 - please take a look at the latest daily build. For localization purposes, we got rid of the Node Type label text and replaced it with colored icons (you can hover over them to see what they stand for). The line right next to the colored icon allows us to group nodes by type and is useful for grouping lengthy lists. Let me know if you have any specific feedback about this. Closing thi

[2015-10-02 17:00] #5267 closed

[2015-10-02 17:03] andydandy74 commented on #5267
@Racel  - looks great! Love the color coding!

[2015-10-02 17:17] josols opened #5420 "Error when opening script in 0.8.2 stable"
I get this message when opening a Dynamofile on my work-pc at home. The workspace is completely blank. I have borrowed a Revit license and I am not connecting through a virtual connection. (Junos pulse..)
That in mind I hope these stability issues we have seen lately aren't prioritized lower than getting new features? As the new browser tool.

Report:
Object reference not set to an instance of an

[2015-10-02 23:34] Kelcyo commented on #5033
@RodRecker @jnealb
#5054
Gentlemen,
fortunately the problem was resolved in this build (DynamoInstall0.9.0.20151001T1254).
Thanks for the commitment to solve this problem.

[2015-10-02 23:35] #5033 closed

[2015-10-03 04:46] RodRecker commented on #5033
@Kelcyo Excellent - thank you for testing for us!

[2015-10-03 21:08] afandianzo commented on #4851
still it is not working.

Sent from Yahoo Mail on Android

From:"Neal Burnham" <notifications@github.com>
Date:Fri, Oct 2, 2015 at 12:21 AM
Subject:Re: [Dynamo] Background model (#4851)

@Curty102 @afandianzo Update: you can get the build now from http://dynamobuilds.com

—
Reply to this email directly or view it on GitHub.￼

[2015-10-04 00:24] xconverge commented on #5197
Started looking at this and addressed the first issue on pull request #5426

[2015-10-04 05:55] andydandy74 opened #5427 "Need a node to export the geometry view"
It would be really useful to be able to export the current state of Dynamo's geometry view by means of a node. I am thinking of workflows that let the geometry iterate through a number of states, each time exporting an image. Lots of use cases for that, methinks.

[2015-10-04 05:58] andydandy74 opened #5428 "Wish: Extended functionality for presets"
@mjkkirschner - Truly amazing work on presets and the CLI!
I think a great UX improvement would be the ability to preview the settinsg stored in a particular preset (without restoring it to the graph) and - even better - the ability to edit your presets without having to delete and recreate them.

[2015-10-04 09:09] redinkinc opened #5429 "Cannot sign up for Customizer in Dynamo 0.9.0.2747 for Revit 2015, german"
Hello,
seems like  #3847 comes true with the Customizer. I downloaded the latest daily built and run it as revit add-in, but I can't sign up for the beta. Is this a limitation of the german version?
BTW: will it be possible to run the english version on german machines in the future?
Thanks, Fabian

[2015-10-04 16:01] pboyer commented on #5429
@redinkinc Can you specify what exactly is presenting you from signing up?

[2015-10-05 01:52] andydandy74 commented on #5428
It would also be nice to be able to export presets to a separate preset file for use with the DynamoCLI.
And being able to delete *all* presets from a graph with one click would also be a welcome addition.

[2015-10-05 02:04] mjkkirschner commented on #5428
@andydandy74 thanks for the kind words, there have been some designs for a states editor that would enable these functionalities.

I'll reference this issue there.

differencing the graph before and after preset application is an interesting UI/UX challenge. Deleting presets and exporting them should be small changes.

[2015-10-05 03:04] vykrum opened #5433 "Crash Report 20151005"
ver: 0.9.0.2744
OS: Win 7

1. Using the file path node select an image file to feed into *Read an Image file* node
2. Then, click on the browse button of the file path node and attempt to rename the loaded image file.
3. Dynamo crashes

Exception has been thrown by the target of an invocation.

   at System.RuntimeMethodHandle.InvokeMethod(Object target, Object[] arguments, Signature sig, Boolean

[2015-10-05 04:50] andydandy74 commented on #4576
This is being addressed here: #5406

[2015-10-05 04:50] #4576 closed

[2015-10-05 06:34] redinkinc commented on #5429
@pboyer: There is no entry "sign up for Cusomizer beta" in the file menu. The file menu just looks like in version 0.8.2.

[2015-10-05 09:44] NicklasOestergaard opened #5437 "Dynamo Command Line Interface"
I how just installed Dynamo. Then I try to run it from the commandline I get this error:

C:\Users\nvo>cd C:\Program Files\Dynamo 0.8

C:\Program Files\Dynamo 0.8>DynamoCLI.exe
Error: Class redefinition 'NavisworksAutomationAPI13.Document' (BE1C3285). (C:\U
sers\nvo\AppData\Roaming\Dynamo\0.8\packages\DynaWorks16\bin\Interop.NavisworksA
utomationAPI13.dll - line: -1, col: -1)
Error: Exception of t

[2015-10-05 12:21] tatlin commented on #5437
Looks like DynaWorks may not like running with the CLI. Does it run ok from Dynamo for Revit or sandbox mode? Try removing the DynamoWorks package from C:\Users\nvo\AppData\Roaming\Dynamo\0.8\packages\ and re-testing

[2015-10-05 13:00] NicklasOestergaard commented on #5437
C:\Program Files\Dynamo 0.8>DynamoCLI.exe -o "export_dwf.dyn"
Error: Can't import System.Collections.Generic.Dictionary`2+ValueCollection[[Sys
tem.String, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561
934e089],[System.Object, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyTo
ken=b77a5c561934e089]], ValueCollection is already imported as System.Collection
s.Generic.Dict

[2015-10-05 13:25] mjkkirschner commented on #5437
try providing the full path to your file, is your file actually located in the dynamo directory?

[2015-10-05 13:33] NicklasOestergaard commented on #5437
No it's in da folder named dynamo.
Microsoft Windows [Version 6.1.7601]
Copyright (c) 2009 Microsoft Corporation.  All rights reserved.

C:\Users\nvo>cd C:\Program Files\Dynamo 0.8

C:\Program Files\Dynamo 0.8>DynamoCLI.exe -o "C:\Users\nvo\Desktop\export_dwf.dy
n"
Error: Can't import System.Collections.Generic.Dictionary`2+ValueCollection[[Sys
tem.String, mscorlib, Version=4.0.0.0, Culture=neutra

[2015-10-05 13:56] mjkkirschner commented on #5437
you are also getting this error:
Could not find file 'C:\Users\nvo\Desktop\export_dwf.dyn'. is that the exact name?

can you remove all packages and definitions from your system temporarily?
what does the definition do? (some libraries are not loaded into the CLI) does it rely on some packages ?
can you email the dyn to me here: michael.kirschner@autodesk.com

[2015-10-05 14:44] jnealb commented on #5274
@andydandy74 Can you please check this in the latest dailies? We think it is fixed.

[2015-10-05 15:31] jnealb commented on #5429
@redinkinc @pboyer This is tracked with MAGN-8758.

[2015-10-05 17:59] jnealb commented on #5054
@vykrum Can you please try again on Windows 10 with the latest daily builds? We think we may have fixed the issue.

[2015-10-05 22:03] ksobon opened #5446 "Nothing is selected"
Is there anything that I am missing that causes this behavior?

![image](https://cloud.githubusercontent.com/assets/529781/10294915/27f86dd0-6b8b-11e5-8ae1-cf4a9c2f0de5.png)

The error message reads Warning: Nothing is selected.

These are my ZeroTouch UI DropDown nodes.

This behavior occurs when file is saved and then re-opened. My run mode is set to Manual. For some reason it seems to me that l

[2015-10-06 08:35] mpdiker commented on #5400
Is it possible to add that material to our template?

[2015-10-06 11:35] andydandy74 commented on #1229
This is being addressed here: #5438

[2015-10-06 11:35] #1229 closed

[2015-10-06 12:03] mostaphaRoudsari opened #5453 "api-ms-win-core-libraryloader -l1-2-0.dll is missing"
I just updated to Revit 2016 (This is the only version of Revit that I have installed) and installed latest daily built of Dynamo (DynamoInstall0.9.0.20151005T0037). When I open DynamoSandbox it gives me the error below.

![image](https://cloud.githubusercontent.com/assets/2915573/10307833/d5244fa0-6bff-11e5-82fe-510c5cbf9d30.png)

After pressing OK for multiple times this is what I get:
![image](

[2015-10-06 12:07] mostaphaRoudsari commented on #5453
PS: Dynamo works fine when I open it from inside REVIT

[2015-10-06 12:25] vasshaug opened #5454 "Bake"
Using Dynamo for modeling on large projects I totally need a way to user-select when Dynamo creates or updates Revit Elements. The Revit interaction is so slow that it completely breaks my workflow.

Also, this would solve the problem of deleting elements that I do not want to delete, just because the only way of not interacting with Revit was de-wiring Revit Interaction Nodes.

[2015-10-06 13:43] wanthony13 opened #5455 "Crash"
Dynamo crashes when I run it.  See screenshots.
![bug1](https://cloud.githubusercontent.com/assets/14987694/10310195/59d0e60e-6c06-11e5-9bbb-6ba43c28ce31.JPG)
![bug2](https://cloud.githubusercontent.com/assets/14987694/10310198/5ddd1c4a-6c06-11e5-98d8-1e195cec2d6d.JPG)

[2015-10-06 13:45] Racel commented on #5453
Hi @mostaphaRoudsari - Can you tell us which version of Windows you are running? And are you on Parallels?

[2015-10-06 13:47] mostaphaRoudsari commented on #5453
Hi @Racel. Windows 8 and I'm not sure what do you mean by being on Parallel but I assume the answer is no.

[2015-10-06 14:22] mjkkirschner commented on #5453
Hi @mostaphaRoudsari is windows 8 running on your local machine or on a VM is what Racel meant.

[2015-10-06 14:24] mostaphaRoudsari commented on #5453
Hi @mjkkirschner. Thanks. That's what I guessed. It's running local on my laptop.

[2015-10-06 14:25] ikeough commented on #5453
Thanks @mostaphaRoudsari. We're investigating this internally. Some of our machines are exhibiting this and some are not. We'll have a solution soon.

[2015-10-06 14:58] ikeough commented on #5453
@mostaphaRoudsari Can you tell us which version of Windows you are using (8 or 8.1). And can you send us the output from dxdiag.exe?

[2015-10-06 15:05] mostaphaRoudsari commented on #5453
@ikeough  Sure. It's Windows 8.

![image](https://cloud.githubusercontent.com/assets/2915573/10312508/8f17ea52-6c19-11e5-8fc8-e08b1c85a94f.png)

Here is the output from dxdiag: https://www.dropbox.com/s/fe0j7rimsobbuzz/DxDiag_msr.txt?dl=0

Thanks for looking into this.

[2015-10-06 15:20] Kelcyo opened #5456 "Dynamo will not start in the culture of correct language"
Dynamo have the latest build installed on Windows 10 with Revit 2016 in pt-BR language. But to start the Dynamo it takes the English culture. I know I can start it off by changing the culture attribute, but would like to report this bug to identify where it performs the search of the boot language.

[2015-10-06 15:58] ikeough commented on #5453
@mostaphaRoudsari I know this is a big ask, and you can completely shoot me down. But, can you try updating to windows 8.1 and let me know if the problem persists?

[2015-10-06 16:20] ikeough commented on #5456
I believe this is because the daily builds do not have localized content, so it is falling back to english. This should not be the case with "stable" releases. @jnealb might know more.

[2015-10-06 16:24] mostaphaRoudsari commented on #5453
@ikeough I was actually thinking to update to Windows 10 but since it can involve extra work to get my system ready after the update I'll do it later once I have enough time to deal with the side effects. I'll report back once I updated my system. For now I'll be using it form inside REVIT.

[2015-10-06 16:27] ikeough commented on #5453
There's another thing to try that doesn't involve updating windows.

- Install the DirectX End User Runtimes (http://www.microsoft.com/en-us/download/details.aspx?id=8109). Those should have been installed with Dynamo, but there's the possibility that they were not, or that it only installed the components required for windows 7 and windows 8.1.

[2015-10-06 16:47] mostaphaRoudsari commented on #5453
@ikeough Downloaded and installed. Didn't make a difference. One question for you. Why does it run fine when I execute it from inside Revit? Is the workflow totally different between the two?

[2015-10-06 16:52] mostaphaRoudsari commented on #5453
Also 1-1-* and 1-0-* are installed
![image](https://cloud.githubusercontent.com/assets/2915573/10315536/e9943ff8-6c28-11e5-8599-2aecebe7fd27.png)

[2015-10-06 16:56] ikeough commented on #5453
That's a good question. I believe it's picking up DirectX which is installed with Revit. it's hard to say.

[2015-10-06 17:51] jnealb commented on #5456
@Kelcyo Are you running Portugese Windows 10 or English with locale set to BR? Are you starting Dynamo as a Revit Addin or standalone? What happens if you setup a desktop icon for Dynamo standalone with the cmd line option /L "pt-BR" and launch it?

[2015-10-06 18:18] jnealb commented on #5429
@redinkinc @pboyer We may have a temporary workaround for you: update the Revit desktop icon from "/language DEU" to "/language ENG" and re-launch Revit and then the Dynamo Addin: the English locale will provide the functional customizer menu items.

[2015-10-06 18:56] jnealb commented on #5345
@ParametricMonkey @andydandy74 @archinate FYI: this is fixed with the latest daily builds (10/6), all Package Manager errors are now reported.

[2015-10-06 18:56] #5345 closed

[2015-10-06 19:49] Kelcyo commented on #5456
@jnealb I am running Windows 10 with Language, and Region configured for Portuguese - Brazil.
I also know I can start it with the attribute / L "pr-BR" via shortcut as informed earlier.
The problem in question is in the booting Revit Addin.
Revit also in Portuguese-Brazil.
![sem titulo](https://cloud.githubusercontent.com/assets/11540152/10320507/2a47c760-6c4a-11e5-83ae-60a06f4954aa.png)

[2015-10-06 20:15] jnealb commented on #5456
@Kelcyo Thank you - investigating.

[2015-10-06 20:18] #5446 closed

[2015-10-06 20:18] ksobon commented on #5446
figured it out...

[2015-10-06 20:46] ikeough commented on #5454
We have a task in our backlog to do this, but it requires a bit of design. It's a really good idea. It feels like you should have a way, on the node, of specifying that node "Generates Elements". But do we want it per node, or globally for the open workspace?

[2015-10-06 20:48] ikeough commented on #5453
@mostaphaRoudsari We just solved this locally. Can you try deleting the `d3d10warp.dll` from your Dynamo install folder, and running again?

[2015-10-06 21:25] mostaphaRoudsari commented on #5453
@ikeough perfect! works for me. You saved so much time by figuring this out. Thanks.

[2015-10-06 21:51] ikeough commented on #5453
Thanks for checking.

[2015-10-06 21:51] #5453 closed

[2015-10-06 22:43] TYLJ opened #5459 "Cannot open new tabs dynamo 0.8.2"
Hi,
I just join dynamo community and totally new to Dynamo, but i have trouble when opening new tabs when running the program. When i push ctrl+N they always close the current program then opening new tab(so totally there is only one tab that can be opened).

Best Regards,

TYLJ

[2015-10-06 22:45] mjkkirschner commented on #5459
hi @TYLJ this is currently working as expected, multiple home workspace tabs are in progress here:
https://github.com/DynamoDS/Dynamo/pull/5223

[2015-10-07 01:32] ikeough commented on #5453
@mostaphaRoudsari @Racel This should be fixed with https://github.com/DynamoDS/Dynamo/pull/5461

[2015-10-07 01:54] ksobon commented on #5427
me agrees

[2015-10-07 02:00] Curty102 opened #5462 "Code Block - Internal Components - Individual preview visibility control"
Revit 2015, Dynamo 0.8.3.2632

When I convert a number of nodes to a code block (or simply author a code block from scratch that has many components within it (ie. Coordinate Systems, lines, points...), the code block shows ALL of its internal components in the geometry preview.  I know a workaround is to turn preview off for the code block entirely, and then attach "preview" code blocks to the ou

[2015-10-07 02:12] ksobon commented on #3104
That's exactly what this does:

http://archi-lab.net/image-exporter-for-dynamo/

![capture](https://cloud.githubusercontent.com/assets/529781/10327614/4d351070-6c77-11e5-9f41-7b877798989d.PNG)

[2015-10-07 02:13] ksobon commented on #3104
@ikeough @vasshaug Can we close this issue? Thank you

[2015-10-07 02:37] ksobon commented on #3108
You can get Design Option element that any element belongs to by using BuiltInParameter called "DESIGN_OPTION_ID". You can also get the design option set and its subset name as a string using BuiltInParameter called "DESIGN_OPTION_PARAM". These can be obtained via archi-lab package like so:
![capture](https://cloud.githubusercontent.com/assets/529781/10327881/d94fdefc-6c7a-11e5-8b77-8bf2cad528a9.P

[2015-10-07 02:38] ksobon commented on #3108
I am showing regular Element.GetParameterValueByName for comparison. It returns the correct values but throws a warning because elements that do not have design option would return a null value.

@ikeough @vasshaug can we close this issue?

[2015-10-07 03:10] andydandy74 commented on #5454
@ikeough - Definitely per node. And let's have it for custom nodes, too, pretty please?

[2015-10-07 03:20] andydandy74 commented on #5462
seems related to #4285

[2015-10-07 03:24] andydandy74 commented on #5428
@mjkkirschner - I wasn't suggesting a preview in the graph itself, rather a separate dialogue similar to the family types dialogue in Revit - which would basically be what you dubbed the states editor.

[2015-10-07 03:30] andydandy74 commented on #5274
Thanks @jnealb , works perfectly in latest daily.

[2015-10-07 03:30] #5274 closed

[2015-10-07 03:37] andydandy74 commented on #5270
@jnealb - sorry, but that didn't improve performance at all.

[2015-10-07 03:43] ksobon commented on #3418
You can do that with archi-lab nodes like so:

![capture](https://cloud.githubusercontent.com/assets/529781/10328537/e141f2d6-6c83-11e5-8fbd-634141fbbd77.PNG)

Result:

![capture1](https://cloud.githubusercontent.com/assets/529781/10328538/e8d6cc24-6c83-11e5-8007-ba119c6edb06.PNG)

Just make sure that list length matches and there is a color and a view for each element. Fill pattern is just a sing

[2015-10-07 03:43] ksobon commented on #3418
@vasshaug @ikeough Can we close this issue?

[2015-10-07 04:02] ksobon commented on #2396
@andydandy74 you can use just a single quotation mark in this case to make it work. I think Code Block has gotten confused on syntax because normally when you place a \" it means that you want to indicate that " is a string so to print: konrad says "hello" you would do print("konrad says \"hello\""). It has something to do with string literals and escaping....anyways this works:
![capture](https:/

[2015-10-07 04:03] ksobon commented on #2396
Can we close this issue, or you still think that it should be addressed? It definitely messes up syntax highlighting but that might be another issue.

[2015-10-07 04:33] andydandy74 commented on #2396
@ksobon - This was the workaround I ended up with eventually (another alternative is feeding the backslash from a ```String``` node). But I'd like to keep this open as there are definitely some issues with backslashes - even when escaping them:
![escaping](https://cloud.githubusercontent.com/assets/3014437/10329122/fa9d5dea-6cbc-11e5-808e-62300aca5732.PNG)
Since backslashes are regularly being use

[2015-10-07 08:07] aparajit-pratap commented on #2396
@monikaprabhu could you log this. Thanks.

[2015-10-07 12:26] #5362 closed

[2015-10-07 12:27] ikeough commented on #5362
This has been resolved recently. Please try a daily installer.

[2015-10-07 12:29] ikeough commented on #5349
If element binding is somehow broken, then this is a BIG issue. We'll look into this straight away.

[2015-10-07 13:08] mdengusiak opened #5465 "Wish: Color Scheme"
Adding new ability to place color fill legend and control color
1. scheme category: Spaces, Rooms, HVAC Zones
2. Scheme Definition Titel - Colour by value or by range

![2015-10-07 15_07_55-autodesk revit 2015 - floor plan_ g_04 a_rc - 034291_zalm_sim2015_rs_mdengusi r](https://cloud.githubusercontent.com/assets/14005893/10338231/3e38c830-6d05-11e5-908c-5746f70c37d9.png)

![2015-10-07 15_06_47-edi

[2015-10-07 13:21] jnealb commented on #5270
@andydandy74 Thanks; we are working on it.

[2015-10-07 16:07] jnealb commented on #5414
@melkhaldi Can you please try again with the latest dailies? We think this is fixed.

[2015-10-07 16:13] jluebker commented on #478
when trying the ctrl+alt+arrowkey my display changes orientation rather than panning in dynamo, any ideas how to handle this?

[2015-10-07 17:22] kronz commented on #5395
Thanks @dimven , easy enough to reproduce. Will get on it.
![2015-10-07_1320](https://cloud.githubusercontent.com/assets/3456818/10345256/59be4152-6cf6-11e5-94a7-f68660d280ac.png)
Here I'm trying it in Dynamo Studio (0.8.2)

[2015-10-07 17:26] kronz commented on #5395
Filled http://adsk-oss.myjetbrains.com/youtrack/issue/MAGN-8767

[2015-10-07 18:29] #5459 closed

[2015-10-07 18:30] mjkkirschner commented on #5456
is this a dailybuild or a stable release install?

[2015-10-07 18:39] jnealb commented on #5456
@Kelcyo One last question: can you tell us what your Revit Desktop icon has for a command line, under Properties? Is there a /language option at the end of the command line?

[2015-10-07 21:26] jnealb commented on #5456
@Kelcyo @mjkkirschner  I can not reproduce your issue: on Windows 10 if my Revit Desktop icon has Properties of: "...\Revit.exe /language PTB" and I launch Dynamo as an Addin our app is loaded with Brazilian Portuguese menus etc. What is different with your scenario?

[2015-10-07 21:50] ksobon opened #5469 "EngineController is null"
I am looking to replicate the functionality that Get Family Parameters node allows for but in, but in a  little bit different context. Anyways, for some reason if i just straight up copy your code for that node into my own library of ZT nodes it doesnt work.
When Debugging it comes down to <code>Engine Controller</code> being null. I realized that you reference in Dynamo.Engine to obtain that part

[2015-10-07 21:57] ghost opened #5470 "Fit Plane Issue"
Hi,
I tried this with version 0.8, Dynamo Studio, and v0.9.

The Plane.ByBestFitThroughPoints function seems to generate inconsistent results.

I pass a list of 4-point groups-- all made in the same order (ie: p0,p1,p2,p3). One should expect all planes' normals to be consistent since the points are constructed consistently. However, the generated plane come with different up/down normals.

to repr

[2015-10-07 22:08] melkhaldi commented on #5414
Thanks, will try it on that machine and report back.

[2015-10-07 22:34] mjkkirschner commented on #5469
Hi @ksobon the engine controller is actually set in the node view customization, its not set anywhere in this file that you linked.

look here: https://github.com/DynamoDS/DynamoRevit/blob/Revit2015/src/Libraries/RevitNodesUI/FamilyInstanceParametersNodeViewCustomization.cs

did you also copy this customization?

[2015-10-08 03:26] ellensi commented on #4328
@LukeyJohnson

On the latest build, I could not reproduce the floating connectors from opening the custom node "Rotate Families Around Origin" from the package "Rotate Family Instances Arond Origin Axis by Angle" version 0.0.1.

Are you still able to reproduce this on your latest version of Dynamo? Could you please provide us more details on what step you had done before seeing the floating connec

[2015-10-08 03:28] LukeyJohnson commented on #4328
I have not seen this issue since update to 0.8.2, appears to be fixed.

[2015-10-08 03:31] #4328 closed

[2015-10-08 04:00] al-cox opened #5472 "Perimeter curves from surfaces"
I have been trying to generate curves by intersecting a solid with a series of planes. This should in theory be a simple way to generate floors via curves, with the planes being floor levels.

my approach is to create as solid from two poly curves, intersect with planes, and extract the perimeter curves from the resultant surfaces. Works fine on shapes with straight lines. However as soon as even

[2015-10-08 04:28] mdoghman commented on #5414
But i am using autodesk dynamo and not the one with Revit
when i download the latest daily it says revit required

[2015-10-08 04:45] ksobon commented on #5469
That was it! Thank you.

[2015-10-08 04:45] #5469 closed

[2015-10-08 05:22] melkhaldi commented on #5414
Aaahh install REVIT. You get students license for free.I'll show you
tomorrow inshaAllah
On Oct 7, 2015 9:28 PM, "mdoghman" <notifications@github.com> wrote:

[2015-10-08 07:28] monikaprabhu commented on #5343
@defosset -Are you still seeing this ? can you add the details to this issue- please provide the os details and Standalone/Revit details.  What is the exception on the crash ?

[2015-10-08 08:23] redinkinc opened #5473 "Cannot use customizer on IE11, Firefox"
Hi,
I published a Customizer and when I try to open it get the following errors:
in IE: signing in using my autodesk ID gets me back to the start page where it wants me to sign in (so I could not open anything).
in Firefox: I can sign in and manage my customizers. But when I try to open a Customizer it says:

[code]

and after some attempts:

[code]

As I wanted now to publish a very simple graph

[2015-10-08 08:24] redinkinc commented on #5429
@jnealb: Thanks, sign up in english version works. Now I ended up in #5473.

[2015-10-08 09:58] monikaprabhu commented on #5455
@wanthony13 - Thanks for sending the report- Which version is this ? What operation caused the crash?
Inorder to try this at our end we need more details.

[2015-10-08 10:13] monikaprabhu commented on #5433
@vykrum - I could not reproduce this on 0.9.0.2790. Are you still able to reproduce this?

[2015-10-08 11:43] vykrum commented on #5433
@monikaprabhu I'm able to replicate the crash on 0.9.0.2800. Automatic run mode.

[2015-10-08 13:45] dietervermeulen opened #5475 "Surface.Point.At.Parameter not aligning with XY object from Revit"
When a Face, coming from an Floor object in Revit, which is not aligned with the main WCS X-axis, is connected to the Surface.PointAtParameter node, then the points are generated according to the global Dynamo X-axis and on the XY boundary box of the face. When the same script is done on a Face selection of a wall, which is also not aligned with the X-axis, then the points are nicely generated wit

[2015-10-08 14:04] epeter- opened #5476 "windows 10 64 bit dynamo quits on screensaver"
dYnamo workspace quits after relogin.

[2015-10-08 14:18] lewshion commented on #5321
Sorry,I can even open dynamo with the 10/1daily build. But I have solved my problem by change the graphics cards from AMD to Intel. Will there be any other problems by doing that?

刘鑫

From: Neal Burnham
Date: 2015-10-02 05:27
To: DynamoDS/Dynamo
CC: lewshion
Subject: Re: [Dynamo] Dont Show 3d workspace (#5321)
@fattahimorteza @lewshion Can you please try again with the10/1 daily build from http:/

[2015-10-08 14:49] dietervermeulen opened #5477 "Polycurve.Offset not always in right direction"
In the next example, it seems that when offsetting polycurves, which are composed from the perimeter curves of equal generated surfaces. Generated in Dynamo 0.8.2
In the example below, some curves are offset inside the original closed curve, in other indexes it is performed outside.

The original surfaces are the result of intersections of surfaces coming from a face selection in Revit and the sol

[2015-10-08 14:51] mjkkirschner commented on #5473
@pboyer

[2015-10-08 14:59] jnealb commented on #5321
@lewshion No. We suggest you use the current dailies, 10/1 has known graphics issues.

[2015-10-08 14:59] #5321 closed

[2015-10-08 15:00] pboyer commented on #5473
@redinkinc Thanks for the feedback! There are a few bugs here:

This is fixed, but you'll need to get the latest build. This kind of defect shouldn't happen again, but it has to do with synchronization of the server and client (Dynamo).

We're working on this right now! Should have a fix in a few days. For now, can you use chrome?

Which version of IE are you using?

I just made a small fix and it

[2015-10-08 15:00] jnealb commented on #5476
@epeter- Do you mean re-launching Dynamo or logoff/login into Windows? What do you mean by "screensaver"?

[2015-10-08 15:10] epeter- commented on #5476
loging on and off
Am 08.10.2015 um 17:00 schrieb Neal Burnham:

---
Diese E-Mail wurde von Avast Antivirus-Software auf Viren geprüft.
https://www.avast.com/antivirus

[2015-10-08 15:26] redinkinc commented on #5473
@pboyer:
1. Publishing works again. Thanks!
2. Just installed chrome. Just works fine. Thanks!
3. IE is version 11. Just tried it again, problem stays the same.

[2015-10-08 15:28] pboyer commented on #5473
Which page are you trying to access?

[2015-10-08 15:30] jnealb commented on #5476
@epeter- Thanks, is the exact symptom that your background preview is blank? What graphics card are you using?

[2015-10-08 15:37] epeter- commented on #5476
no it is not blank.
dynamo asks me to save my worspace, i confirm and dynamo quits.
before quitting i was working in a python window.
the python window stays open when dynamo quits.

Am 08.10.2015 um 17:30 schrieb Neal Burnham:

---
Diese E-Mail wurde von Avast Antivirus-Software auf Viren geprüft.
https://www.avast.com/antivirus

[2015-10-08 16:23] redinkinc commented on #5473
No, I tried to access the project page. When I try to access the manager the page stays totally blank.

[2015-10-08 17:26] defosset commented on #5343
I have resolved the issue.  Some graphic cards don't support Dynamo 0.8.2.  I reverted to 0.8.0 for now and everything is working fine.

Thanks,

Chris

Sent from my iPad

[2015-10-08 17:34] mjkkirschner commented on #5343
you might want to try the latest daily builds as theres a bunch of work that has been done there on graphics compatibility. If you machine has both dedicated and integrated cards you may need to set dynamo to force the high performance card through your graphics control panel.

[2015-10-08 18:01] pboyer commented on #5473
Ah, I see this is IE11 - which does support WebGL. We'll keep working on
IE11 support.

On Thu, Oct 8, 2015 at 12:23 PM, Fabian Ritter <notifications@github.com>
wrote:

[2015-10-08 18:01] pboyer commented on #5473
With your permission, I'm going to change the name of this issue to more accurately reflect the issue.

[2015-10-08 21:50] JohanCantryn opened #5478 "ContainsKey"
I have a list with four indexes. When I use the "ContainsKey" with 1 as the key-value it returns "True".
But when I choose lacing Longest for the "ContainsKey" node, suddenly all results are False.

![containskey](https://cloud.githubusercontent.com/assets/13676901/10380930/518acbaa-6e17-11e5-88d9-9bbe4c769a16.PNG)

Johan

[2015-10-08 23:38] ksobon commented on #2530
@dannypolkinhorn if you download archi-lab_Grimshaw package you will find three nodes that extend this exact workflow. Here's an example:

![capture](https://cloud.githubusercontent.com/assets/529781/10382652/12c33150-6df4-11e5-916b-1b81ac91af22.PNG)

Please close this issue if this addresses your question.

Thank you,

[2015-10-08 23:41] ksobon commented on #1046
@andydandy74 archi-lab has that functionality now:

![capture](https://cloud.githubusercontent.com/assets/529781/10382671/5a1e28ac-6df4-11e5-8cc9-e0f9c459500a.PNG)

The dropdown doesn't exactly list all of the BuiltInParameters, but you can input an element instance or type to get a list of BuiltInParameters that given element supports.

Can we close this issue? Thank you,

[2015-10-08 23:54] ksobon commented on #5285
@JohanCantryn if this solves your issue please close it.

ps. I think that maybe this is a different issue. For me it would be great if the GetParameterValueByName node was able to use BuiltInParameter name to get the parameter value. I don't think it does that at the moment.

[2015-10-09 00:00] dannypolkinhorn commented on #2530
Hi Konrad, yes, I think this addresses one of the two parameter options, specifically getting the BuiltInParameter name.  I think the forum post mentioned above would need a shared parameter GUID to resolve the issue.  So, even though GUIDs aren't very user friendly, I would still like to see them added.

[2015-10-09 09:16] lewshion opened #5481 "Dynamo 0.8.2: Wall in plane view cant be seen in revit 2015"
The Wall built by dynamo can be seen in 3D view,but it cant be seen in any plane view.And I have already checked the visibility of wall in revit.
![qq 20151009171209](https://cloud.githubusercontent.com/assets/14797905/10390116/1dd284a0-6ea9-11e5-8b74-7d44e7c20461.png)
![qq 20151009171504](https://cloud.githubusercontent.com/assets/14797905/10390172/835a1eaa-6ea9-11e5-998f-1eb1aaa15c37.png)

[2015-10-09 09:45] monikaprabhu commented on #5478
@JohanCantryn,

[2015-10-09 14:07] ikeough commented on #5006
@dbaldacchino @rsingaby We've recently updated Dynamo to support background preview over remote desktop. Can you please try one of the recent daily builds and let us know if this is now working for you?

[2015-10-09 14:23] ikeough commented on #4872
@dbaldacchino @ksobon We worked on the issue with mesh visualization for meshes with large units a while back and I never checked back. Can you please confirm that large meshes (ex. meshes in mm in Revit) preview correctly in Dynamo?

[2015-10-09 14:26] ikeough commented on #5042
@mjkkirschner Do you have a file to test this?

[2015-10-09 14:37] mjkkirschner commented on #5042
@ikeough I'll generate one

[2015-10-09 15:00] tatlin commented on #5481
that looks like a section view in revit, not a plan view.

it also looks like a structural view type, check the properties of the view
and change it to architectural and see if the walls show up.

On Fri, Oct 9, 2015 at 5:16 AM, lewshion <notifications@github.com> wrote:

[2015-10-09 15:12] mpdiker opened #5484 "Right Click Search not showing Nodes"
![rightclicksearch](https://cloud.githubusercontent.com/assets/5814209/10397553/f8c4a26c-6eb0-11e5-8a11-4c60dba8e5ee.jpg)

Right Click Search not showing Nodes

DynamoInstall0.9.0.20151008T2051.exe
Windows 10 Pro
Bootcamp @ MacBook Pro mid 2014

[2015-10-09 15:13] jnealb commented on #5484
@mpdiker Yes, thank you, this is tracked with MAGN-8794.

[2015-10-09 18:59] melkhaldi commented on #5414
Yes . now working in the dynamo-revit.
When is this fix going to be added to the standalone version?

[2015-10-09 19:13] jnealb commented on #5414
The fix can be found with the daily builds on Dynamobuilds.com. Please let us know if it works for you.

[2015-10-09 19:28] melkhaldi commented on #5414
The daily builds are only for the Dynamo which requires REVIT to be
installed in the first place, is that correct? They do not affect The
AutoDesk Dynamo Studio.

I am TAing a class where students are working with Dynamo Studio (2016).
They tried to get releases 0.9, but so far it seems that to get the latest
release they should have REVIT installed first. They can't get the update
to work on Dyna

[2015-10-09 19:34] jnealb commented on #5414
@kronz Can you help with this?

[2015-10-09 20:16] jnealb commented on #5414
@melkhaldi @kronz Can you please run DxDiag from a command (DOS) session on your machine, save the results to file and send them to us?

[2015-10-09 20:54] kronz commented on #5414
@melkhaldi There are possibly a couple issues here.  The hardware acceleration tools in current versions of Dynamo Studio and Dynamo for Revit 0.8.2 have a few known issues for certain cards and for certain versions of Windows running in Parallels on Macs. Windows 10 in general is not well supported.  The next update release for Studio will have a lot of fixes.  For a workaround, students either n

[2015-10-10 00:54] lewshion commented on #5481
@tatlin Thank you very much! Now the walls show up by changing them to structural walls.

[2015-10-10 00:56] #5481 closed

[2015-10-10 01:11] melkhaldi commented on #5414
@kronz thanks! That is what I had them do. Install REVIT's educational version and install the latest release of Dynamo.  This worked fine.

@jnealb I will run the command on the student's/problem-machine when I see them next week and report back.

[2015-10-10 02:55] lewshion opened #5486 "Dynamo 0.8.2: Floor cant be create when the z coordinates of the lines are not the same"
I want to create a floor instance in rvt2015 by dynamo with the node"Floor.ByOutlineTypeAndLevel"，and the outline is assembled by four straight lines.But when the  z coordinates of the lines are not the same,there is a error said"Input normal vector is not perpendicular with the face constructed from input curves."Can I create a floor with slope by dynamo in rvt2015.

[2015-10-10 23:43] ksobon commented on #5465
Michal, I think I remember saying that this functionality doesn't exist in the Revit API. You should probably post this request to Revit API blog because Dynamo team, even though they can "walk over" to Revit API guys and ask them to expose that, will not be able to expose new Revit functionality in Revit API by themselves. Of course this is a valid request, but i doubt you will achieve anything b

[2015-10-10 23:48] ksobon opened #5487 "Package Manager dependencies"
Someone probably already mentioned this but i will just drop this off here to make sure that someone is looking after this:

![image](https://cloud.githubusercontent.com/assets/529781/10413839/aa83c0e2-6f87-11e5-9ca8-82b7966f9cc0.png)

Trying to install a package BVN that is apparently dependent on an older version of archi-lab will uninstall latest archi-lab. Why?

@pboyer  thanks...

[2015-10-11 00:39] ksobon commented on #143
damn this is old....anyways if anyone stumbles upon this, this example should do:

![image](https://cloud.githubusercontent.com/assets/529781/10414041/fb3a1cd2-6f8e-11e5-9a43-1f9c12f83446.png)

@kronz @Steell Can we close this?

[2015-10-11 03:54] andydandy74 commented on #5487
see #3433
Currently one of the most annoying Dynamo "features"...

[2015-10-11 04:02] andydandy74 commented on #1046
Cool!

[2015-10-11 04:02] #1046 closed

[2015-10-11 12:23] mdengusiak commented on #5465
thanks Konrad I will start now searching for right person that can deal with this on Revit API side,

[2015-10-11 15:43] tatlin commented on #5465
I have forwarded this to my colleagues in the Revit API group

-matt

[2015-10-12 03:34] ke-yu commented on #5478
@JohanCantryn ,

`Contains()` returns true if a list contains the specific value. E.g., `Contains({1,2,3,4}, 3)` return `true`.

A list could also be associative. That is, it could have key-value pairs. By default, its key is numeric value start from 0. So for the following list `xs`:
[code]
It has three keys: `0`, `1`, `2` so that you could use them to index into the list. But it could also have

[2015-10-12 15:08] dbaldacchino commented on #5006
Hi @ikeough, I tested with 0.9.0.2744 and the background preview is now working in a remote session. Thanks!

[2015-10-12 15:10] jnealb commented on #5006
@dbaldacchino @ikeough Thanks for your patience!

[2015-10-12 15:10] #5006 closed

[2015-10-12 15:39] jbenoit44 commented on #5487
+1

[2015-10-12 16:11] ksobon commented on #5487
Now i would also like to mention that Package Manager has been behaving in all sorts of weird manners. For example. I added a few custom nodes from my home machine last night. Uploaded to PM. I download latest version at work this morning and some of the nodes are not there.

![image](https://cloud.githubusercontent.com/assets/529781/10432613/4be6eda8-70da-11e5-9dcd-d6a39d54150b.png)

Slightly inc

[2015-10-12 16:13] mjkkirschner commented on #5487
@ksobon are you on the latest daily builds, we just fixed a bug with unsaved files not being uploaded as well.

[2015-10-12 16:17] ksobon commented on #5487
Come again, please. If my definition was not saved, then it wouldn't upload to Package Manager? Or is it that my custom nodes weren't saved.

In both cases I think that my file was saved when I was uploading and my nodes had to be saved on hard drive because that's currently the only way to add them to the pacakge ("add files feature").

Either way, I will try again. Also, I am not on latest daily

[2015-10-12 16:18] jnealb commented on #5456
@Kelcyo Closing, unless you disagree? @Racel fyi

[2015-10-12 16:18] #5456 closed

[2015-10-12 16:44] Kelcyo commented on #5456
I'm performing testing on the Windows 10 Insider Preview builds to see if it is any incompatibility OS.

[2015-10-12 18:28] ikeough commented on #5006
@dbaldacchino Awesome to hear. Thanks for the confirmation.

[2015-10-12 22:31] Curty102 commented on #4851
Neal,
FYI, the Dynamo Background still is not working.  I'm running Windows 7 Enterprise, Revit 2015, Dynamo 0.9.0.2772.  Per Ian Keough's suggestion to follow this link:...
http://knowledge.autodesk.com/support/autocad/troubleshooting/caas/sfdcarticles/sfdcarticles/Crash-on-systems-with-integrated-Intel-HD-and-discrete-GPUs-Nvidia-AMD.html
...I've had IT update all of my display drivers, and we'v

[2015-10-13 03:53] vykrum opened #5501 "In Canvas Search not working"
Ver: 0.9.1.2850
OS: Win 7

Search results not displayed

![20151013-1](https://cloud.githubusercontent.com/assets/5621624/10445107/0c63d120-718c-11e5-862c-3babb8da36e1.jpg)

[2015-10-13 13:34] jnealb commented on #5501
@vykrum This is tracked with MAGN-8794, thanks!

[2015-10-13 14:33] redinkinc commented on #5501
same issue on Windows 10

[2015-10-13 14:42] redinkinc opened #5508 "Adding Color Range to graph crashes geometry preview"
In version 0.9.1, when I add a Color Range to the graph, the geometry isn't updated anymore. when I save and restart the project, the geometry isn't drawn at all, but I can still see the Coordinate system. Seems like ColorRange crashes the geometry preview.

[2015-10-13 15:29] redinkinc commented on #5354
The full code is now available at https://github.com/redinkinc/Utilities.

[2015-10-14 02:13] ikeough commented on #5508
@redinkinc Thanks. We're tracking this as [MAGN-8848](http://adsk-oss.myjetbrains.com/youtrack/issue/MAGN-8848).

[2015-10-14 07:33] MMazen opened #5517 "Dynamo crashes after startup when I click on New File"
When I click the Dynamo in Revit Add-Ins, it opens normally. However, when I try to start a new file which is the normal necessary step, it crashes and I get the below error message.
Any help of what does that mean?
*Systems: Revit 2015, Dynamo 0.8.2.2392, Windows 8

Error Message:

Object reference not set to an instance of an object.

   at HelixToolkit.Wpf.SharpDX.EffectsManager.GetEffect(Rende

[2015-10-14 10:58] redinkinc commented on #4384
Hey guys, how is this new Package Manager going?
I have a few more comments from what I experienced in the last few weeks. I also added them to google docs, but I don't know if they are tracked there. So here we go:
1. It should be possible to delete package, not just only deprecate them. there are many experimental uploads that never will be used.
2. There should be a way of updating package with

[2015-10-14 11:45] ondejcik opened #5524 "Wish: All Elements of Category of active design option"
Hi,
i am working on a big project and i would like to filter/collect only objects that are in current/active model and primary design options. the objects from secondary desing options (for example, objects for  schedules) are often interfearining with main bim model objects.

i think i would be handy to have a node that collects "all elements of category of active model" (model + primary options)

[2015-10-14 13:46] zhadiqi opened #5525 "dynamo 0.9.1 for revit2016"
![1111](https://cloud.githubusercontent.com/assets/1333685/10485480/0223a776-72bd-11e5-89c2-d0ee1dc76965.png)
![Uploading 1111.png…]()

[2015-10-14 14:46] tcacciuto commented on #5033
@RodRecker, @jnealb,
sorry for my answer in late. I installed the last build 2015-10-14T14:29:41.000Z  and the result is still the same. I have no 3D preview in Dynamo. Win 7 64-bit, Revit 2015.
Let me know if you need any other details.

thank you

[2015-10-14 15:18] jnealb commented on #5033
@tcacciuto Please, yes: what is your graphics card? Are you running Dynamo as an Addin or standalone?

[2015-10-14 15:50] jnealb commented on #5517
@MMazen Can you please try again with the current dailies, available from Dynamobuilds.com? The current 0.9 builds incorporate fixes for known DirectX flaws.

[2015-10-14 16:48] pboyer commented on #5525
Are you implementing your own `NodeModel`?

[2015-10-15 06:04] tcacciuto commented on #5033
@jnealb
I run Dynamo as Addin and standalone, the result is the same in both cases.
Here you are the screen shoot showing my graphics cards:
![2015-10-15_0800](https://cloud.githubusercontent.com/assets/14175079/10505955/e596d050-7312-11e5-8ee1-41edb712554a.png)

here you can see AMD catalyst screen showing that dynamo is set to use high performance settings:
![2015-10-15_0803](https://cloud.githu

[2015-10-15 13:07] vykrum opened #5534 "Line Color in Background"
ver: 0.9.1
The black lines in the background graphics seemed like a nice change initially, but I'm beginning to find it bothersome as it doesn't distinguish itself well from the wires.
In my opinion it's making the graphs seem a little confusing and messy.

![20151015-7](https://cloud.githubusercontent.com/assets/5621624/10514454/6ac8fa7a-736b-11e5-9c65-f8f7079a0789.jpg)

[2015-10-15 13:08] mjkkirschner commented on #5033
when you change dynamo sandbox to high performance mode, make sure to select .9 version instead of .8 in the .9 folder..

[2015-10-15 13:12] zhadiqi commented on #5525
Click the DYNAMO icon to start with no interface. the Chinese version of revit.

[2015-10-15 19:34] RonFS commented on #5224
Hi @riteshchandawar ,

Sorry I have been busy lately. Has anything else come of our previous conversations? Would you still be willing to set up a quick conference call?

Thanks,

Ron

[2015-10-16 07:46] tcacciuto commented on #5033
to be sure I Select the right one I uninstalled .8

[2015-10-16 13:02] ondejcik opened #5540 "Search does Not work"
Hi,

i am testing new dynamo 0.9.1 (DynamoInstall0.9.1.20151015T0049)
and according to descriptopn it should have improoved search, but it does not work at all:

i am looking for node (id to element) from archilab package that is saved on disk - external path:

here it is in browser

![id](https://cloud.githubusercontent.com/assets/4834544/10542203/c7ffc970-7416-11e5-8411-62a1a4780762.PNG)

here i

[2015-10-16 13:30] ondejcik opened #5541 "Pyhton node depreciated"
Hi,
with new dynamo, my python nodes are depreciated and it is relatively complicated to replace them:
i have at least one python in each script, and i think many other have too, it would be nice if node can be updated automaticaly or to have  a paralel instalation as it was with dynamo 0.7 and 0.8.
or at least to be able to extract python code from the node

thanks.

Ps:I really like path managem

[2015-10-16 13:33] jnealb commented on #5033
@tcacciuto Thank you, we are investigating.

[2015-10-16 17:20] ColinDayOrg opened #5542 "No Browse Button on File Path Object"
If I place a File Path node from the input section into a Dynamo graph (0.8.2) I do not see a "Browse" button. I am assuming that I am just getting the wrong node, but I am getting the same node from the Input|FilePath section as from the standard File Path section.

If anyone could point me towards the proper node to use for browsing the file system for a file path it would be greatly appreciated

[2015-10-18 04:08] andydandy74 opened #5550 "Wish: Visually identify optional inputs"
It would be helpful if node input ports that have a default value assigned to them had a different color/grayscale. That way one could immediately see that it is not necessary to connect anything to them.

[2015-10-18 19:37] JohanCantryn opened #5551 "Map node in Builtin library"
I came across 2 nodes, MAP and MAPTO,  in the builtin library but I can’t guess what they do and why you should use them. (I'm not talking about the List.Map node). The only help I could find is from the node itself: “Maps a value into an input range”. Can somebody provide an example an some explanation about these nodes. Thanks in advance.

[2015-10-18 22:13] mjkkirschner commented on #5551
These nodes scale a range of numbers into another range... for example

1..10 can be ramped to 0..1

[2015-10-18 22:14] mjkkirschner commented on #5551
also checkout remap

[2015-10-19 00:41] LukeyJohnson opened #5552 "Ability to Hide Nodes in a Published Package"
In some cases, code creation results in some nodes that are not really useful by themselves but need to be nested or used in some other node.

It would be good to be able to set a 'hidden' property in the dyf xml, so that this node would not show in the Library or In Canvas search, but Dynamo would still know that it was there and would use it in calculation.

Is this addition to Package Manager /

[2015-10-19 04:50] andydandy74 commented on #5552
:+1:

[2015-10-19 05:34] monikaprabhu commented on #5433
@vykrum - I cannot reproduce the crash- when I change the filename Dynamo throws a warning at my end on both Standalone and with Revit.  (0.9.0.2842)
![image](https://cloud.githubusercontent.com/assets/5218721/10570327/0c1f9d88-7665-11e5-9a56-bb63211aad4b.png). could you please share the graph and the image type you are using

[2015-10-19 05:34] sharadkjaiswal commented on #5552
You can use IsVisibleInDynamoLibrary="false" attribute for your custom node workspace as done in #5058

[2015-10-19 06:54] andydandy74 commented on #5552
@sharadkjaiswal Great - this works perfectly!

[2015-10-19 08:09] JohanCantryn commented on #5551
Tnaks for your feedback. But I still do not understand the how these nodes are working compared to the remap node. In the following example I c
![map](https://cloud.githubusercontent.com/assets/13676901/10572516/7354375a-7649-11e5-9ff6-9cb7b61338bc.PNG)

[2015-10-19 08:25] sharadkjaiswal commented on #5552
@andydandy74 Great to hear that it works, closing this issue now.

[2015-10-19 08:25] #5552 closed

[2015-10-19 14:54] redinkinc commented on #5550
+1

[2015-10-19 22:20] ikeough commented on #5541
@ondejcik Looks like the migration for python nodes doesn't work for 0.9.0 for some reason. We'll look into it.

[2015-10-19 22:25] ikeough commented on #5541
Tracked internally with [MAGN-8885](http://adsk-oss.myjetbrains.com/youtrack/issue/MAGN-8885?query=8774)

[2015-10-19 22:40] kronz commented on #5541
@ondejcik , is this a node that was last used in 0.6?  or have you been using it in 0.7?

[2015-10-20 05:37] riteshchandawar commented on #5224
You can set up somthing for this Thursday or Friday 7-8 Am my time.

Thanks,
Ritesh

[2015-10-20 07:52] ondejcik commented on #5541
@kronz , no, node was created in: DynamoInstall0.8.3.20150814T1649

[2015-10-20 10:23] JohanCantryn opened #5566 "setdifference not working on lists with Revit elements"
It seems that setdifference is not working on Revit element selection lists. The output node is always reporting "Empty list".
In image below you see how I have two selection sets. In these sets some Revit objects are common, other are different. But still I get an "Empty List" result.
![setdifference](https://cloud.githubusercontent.com/assets/13676901/10604547/50bb503e-7725-11e5-97fd-eda12143070

[2015-10-20 10:50] JohanCantryn commented on #5566
sorry, I need to reverse the input order.

[2015-10-20 10:50] #5566 closed

[2015-10-20 12:22] FloEisbaer opened #5569 "starting a node from a c# code"
Hi,
we are trying to call one or more Dynamonodes from a c# code. We need that for an optimizer we want to write so that we cann run parts of the project in Dynamo again and again automatically to find the best solution. We need something that restarts the node like the function.apply node but can't find anything like that in the codestructure.
Does anybody know how to solve it?
Thank you and gree

[2015-10-20 12:40] kronz commented on #5541
@ondejcik hmm, very strange.  I think there is something unique about your file, as I can open all the files I'm looking at that were created in 0.8 era in 0.9.  If it was created in 0.8.3, this means it was made from a pre-release build, so there's probably some amount of inherent instability that comes from working directly from the development stream. Can you open other python nodes?

[2015-10-20 13:01] ondejcik commented on #5541
@kronz , it looks it is only those that was made in 0.8.3 are not working, i chcecked some older script that that was mostlikely were done before 0.8.3 and there it works ok.

[2015-10-20 13:22] kronz commented on #5541
@ondejcik The good news is that, in almost all cases, you will find that you can open dyn and dyf files made in newer versions back in older versions.  There are exceptions of course, nodes that didn't exist in older versions will be inoperable, and the pre-release versions are, buy definition, not 100% tested or validated.  So, in your case, yes, you might try opening your 0.8.3 nodes in 0.8.2 an

[2015-10-20 13:44] mjkkirschner commented on #5541
I wonder if there is a migration from .8 -> .9, but not from .83 -> .9

[2015-10-20 14:03] RonFS commented on #5224
Sounds good. I will send a meeting invite for 7:30 AM your time.

Thanks,

Ron

[2015-10-20 14:14] RodRecker commented on #5541
0.8.3 was never released and renamed to 0.9.0. Not sure if we implemented migrations for that.

[2015-10-20 14:14] mtsalheen opened #5570 "Dynamo 0.8.3 and upwards Revit compatibility"
When I try to install Dynamo starting from version 0.8.3 and upwards I receive this message "Dynamo requires an installation of Revit 2015 or Revit 2016 or Revit 2017 in order to proceed!"
We are using Revit 2014 and will likely remain using it for the next couple of years, Any Advice?

Thanks in advance.

[2015-10-20 14:17] RodRecker commented on #5570
@mtsalheen Dynamo 0.8.2 is the last version that supports Revit 2014.

[2015-10-20 14:23] mtsalheen commented on #5570
Oops, it looks like I'm stuck here ... is that because of 2014 functionality limitations?

[2015-10-20 14:33] RodRecker commented on #5570
To some extent yes. The more releases of Revit we support, the more time we spend integrating new features to match the API differences in each release. That means less time for new feature work.

[2015-10-20 14:34] RodRecker commented on #5570
@mtsalheen tell us more about how you're stuck and maybe we can figure out how to help.

[2015-10-20 14:37] ondejcik commented on #5541
@kronz , I know that it is possible to open for example 0,8,3 in stable 0,8,2, but even if i resave it from there, it ll still remebers version that it was originaly created  and next time i open it i get a warning again. I would like to get rid of that, especially if i want to pass it to someone else.

[2015-10-20 14:48] mtsalheen commented on #5570
@RodRecker appreciate that, so far no particular issue except some instability when I rerun a script it takes very long time more than the first run and some times returns error for nods that were fine while I didn't change anything related to it.
I kind of hoped that the new builds could eliminate that.
What I meant by stuck that I'll not receive any updates or fixes as long as I'm working in thi

[2015-10-20 15:16] kronz commented on #5541
We are going to go ahead and implement a migration from 0.8.3.
However, the idea that saving in 0.8.2 isn't getting written to the file doesn't sound right either.  Are you saving a .dyn file that has a .dyf in it, or the .dyf itself?

[2015-10-20 15:26] ondejcik commented on #5541
Yes, dyn file contains also custom nodes, ill try to open and resave those separately and see it it ll help

[2015-10-20 15:58] redinkinc opened #5571 "Dynamo Library"
A few questions depending on the Dynamo library:
- is it possible to have a switch to have the library look like in version 0.8? I loved the groups. Now it is horrible to browse, especially on smaller screens. Perhaps it will also be enough to have tabs for create/action/query again.
- is it possible to restore the library in the state (visible or hidden) as it was when closing dynamo on restart?

[2015-10-20 20:25] phrmsilva opened #5572 "String Node stores value twice"
Hey,
Looking at a simple string node in the .dyn file I noticed there are two different places the actual value shows up:

[code]

Any particular reason why this would be doubled?

[2015-10-21 01:54] andydandy74 opened #5573 "Need a node to set the active view in a Revit model"
I thought I could do this by myself using a Python node, but no such luck.
Dynamo tells me that setting the active view is currently disabled.
Looks like this can only be done via a proper built-in Dynamo node.
FWIW, here's my Python code:

[code]

[2015-10-21 02:26] andydandy74 commented on #5573
I just tried a few other things and it seems like any command that is tied to to the UIDoc object is being blocked.

[2015-10-21 04:29] LukeyJohnson opened #5577 "Element.Geometry fails with Value cannot be null, Parameter name: source"
In many cases, it will convert a Room object to a solid without any problem. However, in some cases this error appears. Is this a bug?
![element_geometry](https://cloud.githubusercontent.com/assets/5659896/10627703/4d4effe2-7804-11e5-9c4d-0741d668db34.png)

[2015-10-21 05:58] LukeyJohnson commented on #4793
I can't see any Mesh Toolkit packages in the package manager today.
![mesh](https://cloud.githubusercontent.com/assets/5659896/10628814/81030e58-7810-11e5-8cc2-a727a6272546.png)

[2015-10-21 07:34] sharadkjaiswal opened #5581 "0.9.0 Release Candidate available for review"
We’re getting ready to post the next approved stable build. We’ll be letting it “bake” for a week or so, looking for any late regressions or bugs in the new functionality. Please try it out, and let us know if you see anything gone wrong.

http://dyn-builds-data.s3-us-west-2.amazonaws.com/DynamoReleaseCandidateInstall0.9.0.exe

You can see the list of major new functionality in the What’s New on f

[2015-10-21 07:40] aparajit-pratap commented on #4793
@josols these are under (re) construction. Apologies for the inconvenience. You'll have to wait for a few hours ...

[2015-10-21 09:04] monikaprabhu opened #5582 "0.9.0 Release Candidate is available for Testing"
Hi All,

The release candidate for 0.9.0 is available for testing. Please take a look and report back any issues you see. Formal announcement is here - http://dynamobim.com/forums/topic/0-9-0-release-candidate-available-for-review/

Build can be downloaded from at -http://dyn-builds-data.s3-us-west-2.amazonaws.com/DynamoReleaseCandidateInstall0.9.0.exe

[2015-10-21 09:05] #5582 closed

[2015-10-21 09:06] monikaprabhu commented on #5582
Duplicate of https://github.com/DynamoDS/Dynamo/issues/5581

[2015-10-21 10:28] aparajit-pratap commented on #4793
MeshToolkit packages have been uploaded back for all Dynamo versions till date.
![image](https://cloud.githubusercontent.com/assets/5710686/10634031/795d5fc6-7821-11e5-9691-1c5ac06292c7.png)

[2015-10-21 13:31] jnealb commented on #5581
Please note that if your graphics adapter has a "control panel" which registers Dynamo for "High Performance graphics etc" you may need to update it manually for 0.9 for optimal performance.

[2015-10-21 18:06] ikeough commented on #5541
https://github.com/DynamoDS/Dynamo/pull/5585

[2015-10-22 02:36] mjkkirschner commented on #5551
@JohanCantryn the code for this node is here:
https://github.com/DynamoDS/Dynamo/blob/b4c034b01a541d308ac53738e15dc4aff64e3119/src/Engine/ProtoCore/Lang/BuiltInFunctionEndPoint.cs#L951

I was incorrect before on this builtin node specifically, what it does is to map some input between min and max, so lets say input = 1, min = 0, and max = 4. into the normalized range between them. so we will get .

[2015-10-22 02:39] mjkkirschner commented on #5542
@ColinDayOrg did you ever get this sorted out?

[2015-10-22 03:00] vykrum opened #5590 "Library Graphics"
ver: 0.9.1.2917
OS: Win 7

Some of the graphics in the library tree go beyond the left edge of the frame

![20151022-1](https://cloud.githubusercontent.com/assets/5621624/10655927/15fad316-7897-11e5-8775-446fe8e1f4d2.jpg)

[2015-10-22 07:22] JohanCantryn commented on #5551
@mjkkirschner thanks a lot, now I understand it.

[2015-10-22 13:12] ColinDayOrg commented on #5542
No, but I worked around it by simply returning a string from a Code node. Although... I just tried it before sending this response and it was functioning (properly) as expected, so I guess... yes, I did get it sorted out?

Thanks,

+ Colin

________________________________
From: Michael Kirschner <notifications@github.com>
Sent: Wednesday, October 21, 2015 10:39 PM
To: DynamoDS/Dynamo
Cc: Colin Da