[2018-05-14 20:02] #8852 closed

[2018-05-15 04:53] thp44 commented on #8847
Hi @mjkkirschner
Just had a minor holiday..
I just uninstalled pyrevit. it solved the problem :-)

[2018-05-15 13:46] SHKnudsen commented on #8757
@Racel tested the daily build, and everything seems to work now

[2018-05-16 11:44] mariamhosman commented on #6692
**Dynamo version**
2.0.0.4654

**Operating system**
Win 10

**What did you do?**
The same workflow discussed above

**What did you expect to see?**
A new nurbs curve built from the joined PolyCurve

**What did you see instead?**
failure to implement
![failure to implement](https://user-images.githubusercontent.com/5843355/40114896-7791cdee-5906-11e8-9bca-aa1897eca219.PNG)

[2018-05-16 17:05] jnealb commented on #6692
@ThomasMahon Thanks for the report; this is tracked with Jira task QNTM-4303 which is in the 2.1 backlog. @aparajit-pratap @smangarole @Racel fyi.

[2018-05-16 17:05] #6692 closed

[2018-05-17 01:54] alvpickmans commented on #8789
Same issue here. I tried `[SuppressImportIntoVM]` without any luck.
![image](https://user-images.githubusercontent.com/12413808/40151390-95c0ed88-5977-11e8-89ae-5552e1ac8bb9.png)

[2018-05-17 11:26] Racel commented on #8768
@ramramps Just following up on this. Any updates?

[2018-05-17 11:27] Racel commented on #8850
@bercherdbrc Can you please let us know if the suggestions from @mjkkirschner worked?

[2018-05-17 11:28] Racel commented on #8847
Closing this since it seems to be resolved.

[2018-05-17 11:28] #8847 closed

[2018-05-17 11:29] ramramps commented on #8768
@smangarole @jnealb did we get any luck in loading this plugin in our dev environment?

[2018-05-17 11:31] Racel commented on #8799
@Amoursol Closing this task now since your issue seems to be resolved.

[2018-05-17 11:31] #8799 closed

[2018-05-17 11:36] Racel commented on #8757
Thanks for checking @SHKnudsen! Closing this now. We should be releasing 2.0.1 soon.

[2018-05-17 11:36] #8757 closed

[2018-05-17 11:38] Racel commented on #8769
@josols Just following up on this. Have you been able to test the 2.0.1 daily build? Can we close this issue?

[2018-05-17 11:45] MichelBelien commented on #8768
When I did a de-install off the NBS plugin the Dynamo library appears.
So the issue sits in the NBS plugin

[2018-05-17 11:51] Racel commented on #8768
@MichelBelien @ramramps I know that uninstalling the plugin is not ideal, we are working towards resolving the CEFsharp issues with library. But, since we know that Dynamo will be fixed if you removed the plugin, can we close this issue?

[2018-05-17 12:14] MichelBelien commented on #8768
Yes you can close the issue

[2018-05-17 14:08] #8768 closed

[2018-05-17 15:41] aparajit-pratap commented on #8710
@jnealb could you check if there's a JIRA issue for this?

[2018-05-17 15:42] aparajit-pratap commented on #7075
Duplicate of https://github.com/DynamoDS/Dynamo/issues/8710

[2018-05-17 15:51] jnealb commented on #8710
@aparajit-pratap No, filing it

[2018-05-17 22:10] josols commented on #8769
Sorry for the late reply. The search now works similar to the incanvas search (as far as I can tell)  I'll close.

[2018-05-17 22:10] #8769 closed

[2018-05-18 15:03] jnealb commented on #8862
@rresende @smangarole @Racel We are unable to reproduce the crash with your data (thanks for sending it) and our latest daily build (running Core 2.0.1.5000) and Revit 2019. Can you please upgrade to this D4R build (available from our website) and let us know if you see the crash again?

[2018-05-18 15:03] #8862 closed

[2018-05-18 16:50] Racel commented on #8656
@awrhmd I can not reproduce this. Does this happen with with every Revit project?

[2018-05-18 17:58] vnozdrenkova commented on #8724
I tried it with installed Dynamo Studio but without any success. It started
to work after Revit installation

2018-04-18 17:08 GMT+03:00 Michael Kirschner <notifications@github.com>:

[2018-05-20 05:55] andydandy74 opened #8873 "Editing custom node properties sets node visibility to false"
## Dynamo version

2.0.1.5000

## Operating system

Windows 10

## What did you do?

Edited a custom node's property

## What did you expect to see?

Just the property changing, nothing else

## What did you see instead?

In the next Dynamo session the custom node was missing from the library because its ```IsVisibleInDynamoLibrary``` had been set to ```False```.
![grafik](https://user-images.gith

[2018-05-20 06:11] andydandy74 opened #8874 "Buttons in Custom Node Properties dialog cut off"
## Dynamo version

2.0.1.5000

## Operating system

Windows 10

## What did you do?

Edited a custom node's description that previously only had one line of text and changed it into multiple lines of text

## What did you expect to see?

The OK and Cancel buttons remaining visible in their entirety

## What did you see instead?

The buttons slowly vanishing from the bottom of the dialog window.
(T

[2018-05-20 12:26] kronz commented on #8873
@mjkkirschner @Racel, I can reproduce this pretty easily, thanks for the catch @andydandy74 .  So, just to clarify, I thinkcthat this is not happening with the 2.0.0 release, but seems to be introduced with the 2.0.1 pre-release build DynamoRevit2.0.1.20180519T0314.exe

[2018-05-20 13:54] jnealb commented on #8873
will take a look

[2018-05-20 16:06] mjkkirschner commented on #8873
@QilongTang  my guess is because the saved workspace view in your PR is a temp workspace view model it's not visible, so this goes false when saved - we can it manually to the value from the previous custom node workspace at save time from the functionNamePrompt handler and then write a test that asserts it does not change.

[2018-05-20 16:08] mjkkirschner commented on #8789
Hi @alvpickmans you can't suppress jObject as you're returning it directly, return an object or some other base class instead.

[2018-05-20 16:10] mjkkirschner commented on #8789
oh I see, you want to hide JsonOption - can you share your code where this in defined or where you reference it.

[2018-05-20 16:13] mjkkirschner commented on #8789
@alvpickmans - I see it now in your source, can you try making that class internal? You can cheat and give your other assemblies access to internal classes with:
https://msdn.microsoft.com/en-us/library/system.runtime.compilerservices.internalsvisibletoattribute(v=vs.110).aspx

inside the assembly info cs

[2018-05-20 16:16] mjkkirschner commented on #8873
https://github.com/DynamoDS/Dynamo/blob/70bcfb21eb584356c5a4320d060964a6b6a93276/src/DynamoCoreWpf/ViewModels/Core/WorkspaceViewModel.cs#L206

[2018-05-20 23:04] QilongTang commented on #8873
@mjkkirschner Sorry but I don't think that is the reason here, this bug is not reproducable on XML dyfs which means there is a bug in our Json Custom Node workspace deserialization code there not respecting the filed `IsVisibleInDynamoLibrary` in the file. I will submit a PR for that soon.

[2018-05-20 23:18] mjkkirschner commented on #8873
@QilongTang you might be right - this seems to be where it gets set:
https://github.com/DynamoDS/Dynamo/blob/b67417597caa3ae1918ce7061821a0be82702f93/src/DynamoCore/Models/DynamoModel.cs#L1497 on load, but

note above that @kronz says he cannot reproduce this on 2.0, only 2.0.1 which seems to indicate something else, please bear that in mind though.

[2018-05-21 12:46] jnealb commented on #8874
This is tracked with QNTM-4328. Thanks @andydandy74.

[2018-05-21 13:13] jnealb commented on #8873
This is tracked with QNTM-4329.

[2018-05-21 13:39] Racel commented on #8873
@QilongTang Agree. Let us get this into 2.0.1.

@andydandy74 thanks for catching this.

[2018-05-21 14:15] alvpickmans commented on #8789
Thanks @mjkkirschner for the tip, I will try it out and get back to you.

[2018-05-21 15:17] QilongTang commented on #8873
Closing as will-fix in 2.0.1

[2018-05-21 15:17] #8873 closed

[2018-05-21 20:16] andydandy74 opened #8881 "Wish: List members alphabetically in Dynamo API reference"
## Dynamo version

N/A

## Operating system

N/A

## What did you do?

Visited https://dynamods.github.io/DynamoAPI/

## What did you expect to see?

Class members listed alphabetically

## What did you see instead?

Class members *not* listed alphabetically
FYI @Racel As per our email correspondence I am filing this as an issue
![grafik](https://user-images.githubusercontent.com/3014437/40327782-

[2018-05-21 21:35] radumg opened #8882 "Cannot run unit tests when inheriting from Dynamo TestServices classes"
## Dynamo version
2.0
## Operating system
Win 10

## What did you do?

Followed instructions from here :
https://github.com/DynamoDS/Dynamo/wiki/Writing-Unit-Test-Libraries-for-Dynamo

wrote 2 tiny unit tests :

[code]

## What did you expect to see?

NUnit test explorer picks up tests and runs them.

## What did you see instead?

### With Inheritance
When the `TestClass` inherits from `GeometricT

[2018-05-21 21:37] mjkkirschner commented on #8882
@radumg first step, use nunit adapter version 2.x not 3.x as an extension in visual studio.
then do as you did before and make sure to reference 2.x only in your tests, not 3.

[2018-05-21 21:39] mjkkirschner commented on #8882
also please see:
https://github.com/DynamoDS/DynamoSamples/issues/24 I think you might encounter that next. I think @alfarok had plans to fix it soon.

[2018-05-21 21:39] radumg commented on #8882
prize for world's fastest reply goes to... @mjkkirschner ! 👏 🎉
Will try it out and report back.

[2018-05-21 21:46] alvpickmans commented on #8789
I've tried this and it compiles ok without errors, but once a node needs the internal class Dynamo simply fails to find the method.
It is not a big deal to be honest, I will just note this properly for the time being. Cheers!

[2018-05-21 22:05] radumg commented on #8882
Ok, switched to NUnit VS Adapter 2.1.1.0 & NuGet 2.6.3 and
- `TestServices.dll.config` is picked up correctly
- tests now run

However, i'm now getting a `NotImplemented` exception :
![image](https://user-images.githubusercontent.com/11439624/40332252-5e98cac4-5d4b-11e8-8a04-9032a4734cd8.png)

[2018-05-22 00:03] mjkkirschner commented on #8882
okay, so now to figure out why the host factory cannot find the correct geometry methods - do you actually have ASM on this machine as well, with version 223 - ie revit 2018?

What does your test config file look like?

[2018-05-22 00:42] jnealb commented on #8882
Good thing there is a record of this conversation :)

[2018-05-22 02:06] alfarok commented on #8882
Thanks @radumg for the additional details and updating the Wiki!  @mjkkirschner @jnealb We are already tracking the issue in the Dynamo Samples link above with [QNTM-4186](https://jira.autodesk.com/browse/QNTM-4186).  Looks like an easy fix and has already been groomed for next sprint.

[2018-05-22 08:56] radumg commented on #8882
`TestServices.dll.config` looks like this :
![image](https://user-images.githubusercontent.com/11439624/40352110-f539fcbe-5da5-11e8-80db-1001eff93367.png)

The folder it's pointing to is the build output of Dynamo 2.0 branch and has all the required LibG files in theory :
![image](https://user-images.githubusercontent.com/11439624/40352244-4002d45a-5da6-11e8-8885-10adfce8ef40.png)

If the config f

[2018-05-23 06:38] guenthm opened #8884 "Typo in the tooltip of Arc - ByFillet ("twp" instead of "two")"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

2.0.0.4354

## Operating system

Windows 7

## What did

[2018-05-23 14:33] mjkkirschner commented on #8882
@radumg any luck?

[2018-05-23 15:23] ThomasMahon opened #8885 "Dynamo 2.0 Dictionary watch window beneath ZT nodes doesn't display"
## Dynamo version

![image](https://user-images.githubusercontent.com/18601851/40433901-154c8e22-5ea5-11e8-874c-fdd7d0026c4c.png)

## Operating system
Win 10

## What did you do?

Dictionary watch window doesn't display beneath a node.

![recording 12](https://user-images.githubusercontent.com/18601851/40433936-299e13fa-5ea5-11e8-8586-ad9cce436d02.gif)

Seems to only be affecting either ZT nodes,

[2018-05-23 15:26] mjkkirschner commented on #8885
@aparajit-pratap was this fixed?
https://github.com/DynamoDS/Dynamo/pull/8734

[2018-05-23 15:27] mjkkirschner commented on #8885
@ThomasMahon is it possible to test on the latest daily build?

[2018-05-23 15:32] QilongTang commented on #8884
@aparajit-pratap For this kind of type, we need to fix in ASM/LibG code base I suppose?

[2018-05-23 15:45] mjkkirschner commented on #8885
also @ThomasMahon just curious if you see this with your own nodes only or other ZT nodes as well? I feel like Déjà vu.

[2018-05-23 15:45] ThomasMahon commented on #8885
@mjkkirschner no nested dictionaries, 2D list of curves, and 1D list of strings. Maybe its caused by using generic types in the dictionary declaration due to the mixed return types, given that the OOTB node shown above is working?

![image](https://user-images.githubusercontent.com/18601851/40435468-9abd6d9e-5ea8-11e8-94bc-ac5d936644e1.png)

[2018-05-23 15:58] mjkkirschner commented on #8885
@ThomasMahon tough to say without the source for the nodes - but can you try removing the generics so type your dictionary <string,object> and then also or in another experiment remove the `[]` from the key names.

[2018-05-23 17:40] radumg commented on #8882
Yay, it worked !
Thanks so much everyone for the help.
![image](https://user-images.githubusercontent.com/11439624/40441345-a82281f8-5eb8-11e8-9522-230038493811.png)

I've tried switching between x86 and x64 and it indeed fails on x86 but works on x64.

[2018-05-23 17:40] #8882 closed

[2018-05-23 18:15] gregmarr commented on #8884
That's correct, it's in LibG.

[2018-05-23 18:29] aparajit-pratap commented on #8885
@ThomasMahon I don't see there's a problem with `[]` in the port names either as long as they are written in the `MultiReturnAttribute` as well.

[2018-05-23 18:41] aparajit-pratap commented on #8885
Hmm, I tried it with a generic type too:
![image](https://user-images.githubusercontent.com/5710686/40444398-4dce7d9a-5e97-11e8-8a99-b4a896cb937e.png)
![image](https://user-images.githubusercontent.com/5710686/40444410-58e7ea68-5e97-11e8-871d-927e5f3527c4.png)

[2018-05-23 19:09] ThomasMahon commented on #8885
@aparajit-pratap So the only difference I can see is no type declaration when I instantiate the list of inputs for the MultiReturn attribute:

![image](https://user-images.githubusercontent.com/18601851/40445428-f21953e4-5ec3-11e8-8837-7fccd62c190b.png)

I went ahead and tested the node using `new string[]` instead and it still fails.

Here's the code:

[code]

[2018-05-23 19:11] ThomasMahon commented on #8885
...maybe its my XML tags?

[2018-05-23 19:34] ThomasMahon commented on #8885
Yeah, its the XML tags:
![image](https://user-images.githubusercontent.com/18601851/40446799-5e1b93fa-5ec8-11e8-98b7-78f1d985e2ec.png)

So in v2.0 the `MultiReturn` attribute list, the Dictionary keys AND the XML tags all have to match otherwise this problem occurs. Is this documented anywhere?

[2018-05-23 19:57] QilongTang commented on #8884
@gregmarr @aparajit-pratap Thanks for the info. Fixed in https://git.autodesk.com/Dynamo/LibG/pull/583
https://git.autodesk.com/Dynamo/LibG/pull/585 https://git.autodesk.com/Dynamo/LibG/pull/586

[2018-05-24 00:05] aparajit-pratap commented on #8885
@ThomasMahon could you also share how you rewrote your xml tags in order to get it to work?

@mjkkirschner this looks like a bug to me. It seems that the xml tags conflict with the multi-return attribute in terms of port naming and since the node preview for multi-return nodes depends on port names, the preview is messed up as well. I think it should be ok to expect the multi-return attribute to m

[2018-05-24 00:12] aparajit-pratap commented on #8884
Thanks @QilongTang your fixes should be in the next master build. I'm closing this issue. @guenthm thanks for reporting this.

[2018-05-24 00:12] #8884 closed

[2018-05-24 09:39] ThomasMahon commented on #8885
@aparajit-pratap sure:

[code]

I'll reopen this for the time being. If this change isn't a bug, its quite a punitive one.

[2018-05-24 09:48] paoloemilioserra commented on #8097
The problem still persists, further more when uninstalling the add-on IronPython 2.7 gets removed and this cripples Dynamo Core for other Dynamo instances (i.e. for Revit).

[2018-05-24 16:35] ThomasMahon opened #8889 "DesignScript is unusable and desperately needs a debugger and made more robust"
## Dynamo version

1.3.2

## Operating system

Win10

## What did you do?

Editing an old DS definiton

## What did you expect to see?

Doesn't work

## What did you see instead?

How about a DEBUGGER. Its agonizing; a script this basic which currently outputs null with no exceptions. It would normally take 5 seconds to fix a script this simple. Instead, I have to resort to cutting and pasting tin

[2018-05-24 21:13] ThomasMahon commented on #8889
@mjkkirschner the script had been bastardised by the time I posted it, it was to demonstrate how a really basic bit of code can waste so much of my time. I've dropped the use of DS completely - there are just too many problems with it to justify using it. I haven't seen any noticeable improvements since my last excruciating foray into using it for something worthwhile, and that was back at the sta

[2018-05-28 03:39] andydandy74 commented on #8803
@QilongTang @ramramps @jnealb @mjkkirschner
Did this fix not make it into the 2.0.1 release? Because I'm still seeing this in 2.0.1 stable (2.0.1.5055) when editing custom node properties in sandbox:
![grafik](https://user-images.githubusercontent.com/3014437/40596117-141e0fa2-6239-11e8-8fe0-243152c4bd6d.png)
![grafik](https://user-images.githubusercontent.com/3014437/40596136-365e0b9e-6239-11e8-8

[2018-05-28 03:55] andydandy74 opened #8894 "Editing custom node properties while inside custom node workspace doesn't dirty workspace"
## Dynamo version

2.0.1.5055

## Operating system

Windows 10

## What did you do?

Edit custom node properties while inside custom node workspace

## What did you expect to see?

The workspace to be dirtied (i.e. the asterisk appearing next to the file name in the tab & user being asked to save changes on exit).

## What did you see instead?

Nothing. Closing the custom node workspace will not p

[2018-05-28 15:53] QilongTang commented on #8803
@andydandy74 I think the fix is there but do you mind sharing the steps again this time?

[2018-05-28 16:27] mjkkirschner commented on #8803
Since the view is being rewritten it looks like the fix is applied, but a case was missed - will need exact steps I think.

[2018-05-28 16:48] andydandy74 commented on #8803
So what I'm doing (in Sandbox - haven't tried DynamoRevit) is the following:
1. New workspace
2. Place custom node from library
3. Right-click on node to edit properties
4. Edit properties and exit dialog with OK
5. Close Sandbox

Diffing the node file gives the result above.

If I double-click on the placed node to open it in a new tab (and close that tab again) between steps 2 & 3, the node coor

[2018-05-28 19:05] mjkkirschner commented on #8803
@smangarole I feel like we also tested this but maybe we missed it - we may have started down this path but not finished, seems like it could be when the node is lazy loaded and so there is no loaded customNodeWorkspace, but placing it should load that workspace....

[2018-05-29 09:29] erfajo opened #8897 "CreateSharedParameter -> character error"
the node CreateSharedParameter doesn't read special characters like colon
![image](https://user-images.githubusercontent.com/2844374/40650380-6dec8176-6333-11e8-806f-1b48d178beb2.png)

If I remove colon from "10:   CCS Common Instance" then it works!

## Dynamo version
1.3.3 and 2.0.0

[2018-05-29 13:22] Racel commented on #8803
@mjkkirschner @QilongTang can you make a jira task for this and place it in the backlog for 2.1?

[2018-05-29 13:55] jnealb commented on #8803
https://jira.autodesk.com/browse/QNTM-4368

[2018-05-29 14:02] jnealb commented on #8803
@andydandy74 Thank you!

[2018-05-29 14:02] #8803 closed

[2018-05-29 20:19] Dewb commented on #8562
Dynamo has a global console, and there are some other requests to have Python node `print()` statements go to that console; what are the advantages of having a separate console per Python window?

[2018-05-30 01:28] dimven commented on #8897
![image](https://user-images.githubusercontent.com/7148394/40693773-d5f57a6c-63eb-11e8-96c2-0629f89ece5f.png)

;)

[2018-05-30 06:21] erfajo commented on #8897
That is not entirely trough :-)

You can do whatever you want with shared Parameters, and inside Revit is it not a problem at all. I have maintained my SP file adding a number with a colon for the last decade or so. That gives a much better overview when you have extremely many shared parameters as I have.
I am maintaining the Danish Educational Content which is widely spread throughout Denmark in

[2018-05-30 07:32] AndersDeleuran commented on #8562
I'm not entirely sure how to answer that. From my initial post I would think that it should be obvious. If you've ever written (Python) code in a multi-editor environment (say Sublime Text or Grasshopper), having a console out for each editor is pretty integral to the whole development process (i.e. as opposed to all those print(), dir(), type(), help() etc statements landing in one shared feed).

[2018-05-30 20:41] Dewb commented on #8562
Thanks! Some more questions: are you interested in seeing the Python console output only while you have the code window open, or do you expect to be able to execute the graph, and then open the code window and inspect console output from the previous execution (or older?)

Would you *ever* want logging statements to go to the main Dynamo console (perhaps with a separate, Dynamo-specific logging me

[2018-05-31 01:04] dimven commented on #8897
Ah, I see shat you mean now - the colon's in the parameter group's name and not the parameter's name. Not sure why that would be problematic tho.

[2018-05-31 07:19] AndersDeleuran commented on #8562
Sticking with GHPython as precedence, I would expect to only see the console output while the editor is open. But with an output parameter that also acts as console (this is standard for all the scripting components in Grasshopper, the C# scripting editor for instance does not have a console, only the `out` parameter):

![2018-05-31 09_06_30-grasshopper - unnamed](https://user-images.githubusercon

[2018-05-31 14:17] teocomi opened #8902 "IsConnected on PortModel should be public"
I think the IsConnected property should be public:

https://github.com/DynamoDS/Dynamo/blob/master/src/DynamoCore/Graph/Nodes/PortModel.cs#L290

At least according to this document:

http://developer.dynamobim.org/03-Development-Options/upgrade-nodes-for-dynamo-20.html

Current workaround `InPorts[0].Connectors.Any()`

## Dynamo version

2.0.1.5055

[2018-05-31 14:37] mjkkirschner commented on #8902
yep, seems this should be public.

[2018-05-31 14:39] QilongTang commented on #8902
@mjkkirschner If this is only matters to developers, I think we can commit to the 2.0.1 branch and re upload the nugets or we can fix our documentation and include the fix in 2.1

[2018-05-31 14:50] mjkkirschner commented on #8902
I think in most cases additions of new apis should be 2.1 - in which case we should add to master only.
[code]

but it's all fuzzy anyway ;)

[2018-05-31 15:05] QilongTang commented on #8902
@mjkkirschner OK, let's do it in 2.1

[2018-06-01 15:08] aparajit-pratap commented on #8885
@jnealb could you log this as a bug? The basic issue is that the xml tags conflict with the multi-return attributes for port naming. I think we should ignore the presence of xml tags in determining port names for multi-return nodes as those are already determined by the attributes.

[2018-06-01 15:19] jnealb commented on #8885
@aparajit-pratap This is filed as QNTM-4403, please update with details if necessary.

[2018-06-01 15:19] #8885 closed

[2018-06-04 22:01] Dewb opened #8911 "Crash when entering three dots into a code block node inside a custom node workspace"
## Dynamo version

2.1.0.4395 (local build from Github head)

## Operating system

Windows 10

## What did you do?

1. Run DynamoSandbox
2. New Custom Node, enter any name/description/category, hit OK
3. Add Code Block node with contents `a = 1..10;`
4. Click back into CB node and change contents to `a = 1...10;` (adding a third dot)
5. Click out of the CB node
6. Node turns red and Dynamo crashes

[2018-06-04 22:03] teocomi opened #8912 "API: Dictionary.ByKeysValues operation failed"
I'm getting an unexpected error in 2.0.1, using the Dynamo API on a custom node. The same code was working fine in 1.3.
The error is:

The error is thrown when dynamically adding OutPorts to a node. I've create a simplified version of my node, you can use it to replicate the issue.
To replicate it, use the code below to create a custom node, I've tweaked the `+` sign that's used to add InPorts to

[2018-06-04 22:13] Dewb opened #8913 "Unsaved work crash recovery does not save Home workspace if crash happens while editing custom node"
## Dynamo version

2.1.0.4395 (local build from Github head)

## Operating system

Windows 10

## What did you do?

1. Run Dynamo Sandbox
2. New Workspace
3. Create a code block node with the contents `msg = "Important info I want to save";`
4. Create another code block node with the contents `str + " and other stuff";`
5. Connect the output of the first CBN to the input of the second CBN
6. Selec

[2018-06-05 13:47] jnealb commented on #8913
@Dewb Thank you for the detailed report: this is tracked with QNTM-4423 and is in the 2.1 backlog.

[2018-06-05 14:29] jnealb commented on #8911
@Dewb Thank you: this is tracked with QNTM-4425 and is in the 2.1 backlog.

[2018-06-05 14:40] jnealb commented on #8912
@aparajit-pratap Any thoughts?

[2018-06-06 20:19] aparajit-pratap commented on #8912
@teocomi I think the node is executing each time you add an output port in `AddInput` at the `OnNodeModified(true);` statement call. Try omitting this statement as `OnNodeModified` triggers a node execution/update immediately. If you look at the base class implementation of `AddInput`, you'll see that there is no call to `OnNodeModified`.

[2018-06-07 01:18] mjkkirschner opened #8917 "Travis and AppVeyor checks have stopped running."
@QilongTang @ramramps were these turned off intentionally?

[2018-06-07 01:30] ramramps commented on #8917
because both were using peter's account. I have to request a new account ID. It's on my list.

[2018-06-07 16:18] kraftwerk15 opened #8919 "Dropdown / NodeModel producing multiple outports"
## Dynamo version

Dynamo Core - 2.0.0.4654
Dynamo Revit - 2.0.0.4655

## Operating system

Windows 10

## What did you do?

Saved the file with dropdowns in the file.

## What did you expect to see?

Only one outPort per dropdown.

## What did you see instead?

After opening the file, there are additional outPorts to the node.

Image:
![image](https://user-images.githubusercontent.com/30668448/41

[2018-06-07 16:57] teocomi commented on #8912
Thanks @aparajit-pratap , no error shows up if I remove `OnNodeModified(true);` but I would actually like to execute the node immediately and return some values... Is that not possible at all?
In Dynamo 1.3 this behaved just fine.

[2018-06-07 17:19] mjkkirschner commented on #8919
Either the packages have not been updated - or a package is installed which contains json.net or some other dependency that is causing json.net deserialization failure.

[2018-06-07 19:23] smangarole commented on #8919
Closing this issue for now. Please re-open if further input is needed.

[2018-06-07 19:23] #8919 closed

[2018-06-07 19:41] smangarole commented on #8897
@erfajo I am on 2.0.1 and I don't see the colon being a problem. It would be helpful if you can send me your graph and the packages you installed.

[2018-06-07 19:44] smangarole commented on #8894
@andydandy74 Thanks for pointing it out. We have already logged this internally.

[2018-06-07 19:44] #8894 closed

[2018-06-07 22:13] kraftwerk15 commented on #8919
Sorry guys, just getting back to this from working. I continue to get this error with others packages as well. You will notice I **removed** my package from the managed packages location and removed archi-lab. This is Rhythm package producing the same error.

![image](https://user-images.githubusercontent.com/30668448/41128966-9e88562c-6a75-11e8-9351-1e77b3530308.png)

[2018-06-07 22:28] mjkkirschner commented on #8919
Rhythm is also not updated for 2.0- try removing all packages but your own. Also do you distribute Json.net with your package dlls? Hint : don’t 😉

[2018-06-08 13:46] kraftwerk15 commented on #8919
You're right. My process, please tell me what I'm doing wrong, was taking the Dropdown example here: https://github.com/DynamoDS/DynamoSamples/blob/master/src/SampleLibraryUI/Examples/DropDown.cs#L23

Adding newtonsoft.json via nuget. Then flagged this to Copy Local to false. Build Project that copies to the location.

The image below shows the example cs from above with the [JsonConstructor] per

[2018-06-08 14:06] mjkkirschner commented on #8919
@kraftwerk15 one thought - try referencing newtonsoft json.net version 8.03.
 you're also referencing a bunch of dynamo core dlls - are these version 2.0 dlls? Do you have them set to copy local false?

[2018-06-08 14:16] mjkkirschner commented on #8919
can you share an image of your package bin folder as well?
And please confirm you are attempting to only load your own package with all others removed to remove variables.

[2018-06-08 14:29] kraftwerk15 commented on #8919
@mjkkirschner
Dynamo 2.0 package location:

![image](https://user-images.githubusercontent.com/30668448/41162921-e9c90a50-6afc-11e8-836b-cb3a7ec7e2aa.png)

Specific Package Bin folder:
![image](https://user-images.githubusercontent.com/30668448/41162948-fa7b54a2-6afc-11e8-9246-4a530369997c.png)

I'm waiting on a run to complete in Dynamo, then I can back out all other packages and try again. I did

[2018-06-08 15:05] kraftwerk15 commented on #8919
@mjkkirschner It looks like rolling back to Newtonsoft.Json 8.0.3 fixed the problem. The below image shows two nodes from my package at the top that are behaving correctly. Below shows archi-lab and Rhythm that are broken.

Can we add on the Wiki (https://github.com/DynamoDS/Dynamo/wiki/Update-Packages-from-1.3-to-2.0) that only 8.0.3 can be used to avoid confusion for others?

![image](https://us

[2018-06-08 15:13] mjkkirschner commented on #8919
@alfarok did we ever update the dynamo core nugets to pull version 8.03 of newtonsoft.json.net?

[2018-06-08 15:17] kraftwerk15 commented on #8919
I did search on issues to see if there was an issue similar to mine and could not find anything. Looked through archi-lab's and he already commented on a similar issue here.

https://github.com/DynamoDS/DynamoRevit/issues/2039

Cross-reference to archi-lab package:
https://github.com/ksobon/archilab/issues/14

[2018-06-08 16:08] QilongTang commented on #8919
@mjkkirschner I did updated to include newtonsoft.json to be a dependency of DynamoCore nuget package

[2018-06-11 10:43] minhchau1510 commented on #5707
Hi ksobon,

So what was the problem and answer in the end then? Thanks!

[2018-06-11 16:25] teocomi commented on #8912
Hi @aparajit-pratap I've dug a bit more into this and can replicate the issue also *without expiring the node right after registering new ports*.

To reproduce the issue you can use the code below, the `+` button adds a new port, the `-` button expires the node. After the 3rd port is added, and then expired, the warning shows up.

Dynamo is throwing an exception at https://github.com/DynamoDS/Dyna

[2018-06-13 16:20] hauvovan opened #8927 "Dynamo 2.0 error watch node"
Dynamo 2.0 error watch node. When I use Watch Node to see  value. it is not display and notice crash.  Please review this matter

Method not found: 'System.Collections.ObjectModel.ObservableCollection`1<Dynamo.Graph.Nodes.PortData> Dynamo.Graph.Nodes.NodeModel.get_InPortData()'.

   at CoreNodeModels.Watch..ctor()
   at lambda_method(Closure )
   at Dynamo.Wpf.ViewModels.NodeSearchElementViewModel

[2018-06-13 16:22] jnealb commented on #8927
@hauvovan Can you please provide us with your script and some information on your environment: OS etc.

[2018-06-13 16:27] hauvovan commented on #8927
dear jnealb.

i only create new file empty and add watch. i can not add node "watch". it is not display

[2018-06-13 16:28] hauvovan commented on #8927
i add watch 3d it display but watch and watch image is not working

[2018-06-13 16:30] jnealb commented on #8927
you have to hook up the watch node to other nodes that are upstream (before) it for the watch node to display something. Please take a look at the tutorials on Dynamobim.org for more information.

[2018-06-13 16:34] hauvovan commented on #8927
Dear jnealb

I have more one years use dynamo. i understand your mind. but this is a mistake. Dynamo 2.0 can not use node watch because when i double click mouse then this node is not add. No action when you click this node.

[2018-06-13 16:37] hauvovan commented on #8927
![image](https://user-images.githubusercontent.com/40243424/41365087-ad3408a0-6f62-11e8-9fcc-6c6f99aaff83.png)

[2018-06-14 02:12] mjkkirschner commented on #8912
@teocomi do you have the full stack trace?
I think this might just be coming from the preview output for the node.

[2018-06-14 11:33] teocomi commented on #8912
@mjkkirschner I only get this:
[code]
The `key` in the dictionary is null, the `values` instead are there.

[2018-06-14 21:29] aparajit-pratap commented on #8912
@teocomi I ran your code and could reproduce the issue. What I think is happening is that each time a new output port is added to your node, new assignments are generated to the same output variable for the node:
[code]
What I cannot figure out why the last statement is executed again.

[2018-06-14 22:41] mjkkirschner commented on #8912
@aparajit-pratap if the extra execution is due to associative update would it have occurred in 1.3?
I guess @teocomi could also try placing the entire AST inside an imperative AST node.

Is it possible the final call is due to this use of dictionary for preview bubbles?
https://github.com/DynamoDS/Dynamo/blob/c4a3305559c04f04e6757a5db8a55bc98eae6c15/src/DynamoCore/Graph/Nodes/NodeModel.cs#L1302

[2018-06-15 13:30] Amoursol opened #8931 "[Bug] Python node: Specifically importing 'FilteredElementCollector' causes hang"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

Tested in both Dynamo versions 1.3.3 and 2.0.1

## Opera

[2018-06-15 13:31] Amoursol commented on #8931
Any thoughts @Dewb @mjkkirschner @aparajit-pratap ?

[2018-06-15 14:16] teocomi commented on #8912
@aparajit-pratap I'm now generating new AST identifiers, but I'm not sure how to map them to the OutPorts?
I've tried following code in the `CodeBlockNode`  but that's using `BinaryExpressionNode` and could not get `GetAstIdentifierForOutputIndexInternal()` to work on a `StringNode`...

@mjkkirschner wouldn't know where to start, any sample would be much appreciated 💯

Thanks both!

[2018-06-18 01:09] dimven commented on #8931
This is exactly the behavior that I reported and am trying to solve with https://github.com/DynamoDS/Dynamo/pull/8420

[2018-06-20 15:03] Racel commented on #8927
Just checked in 2.0.1 build. It is working as expected. Please view the logic in the image below and try to build similar logic. Please let us know what results, so we can determine if we can close this issue, put it in our backlog, or determine if it is an issue on your local build.

![image](https://user-images.githubusercontent.com/2551261/41666782-96fd3d06-74ab-11e8-835f-bd28a9d9e3a9.png)

[2018-06-20 19:50] alfarok commented on #8789
This regression is being tracked with [QNTM-4094](https://jira.autodesk.com/browse/QNTM-4094).  The issue came up in the Dynamo Samples and was also circumvented by suppressing the import into the VM but more investigation is required for a permanent solution.

[2018-06-21 00:47] mjkkirschner commented on #8912
small update.

@aparajit-pratap @teocomi I think I have tracked this down the preview bubble generation. All nodeModels have another AST which represents the code to build a dictionary or list which represents the previewBubble value.

When I replace the call to generate the dictionary output preview bubble value, with a simple string or don't return a preview bubble value, I cannot reproduce the

[2018-06-21 08:02] teocomi commented on #8912
Thanks @mjkkirschner !!

[2018-06-21 13:16] dimven opened #8939 "Migration to 2.0 - Inconsistent input rank for some ex-Builtin nodes"
## Dynamo version
1.3.3 - > 2.0.1

## Operating system
N/A

## What did you do?
Observed how nodes are migrated between versions.

## What did you expect to see?
Consistent input ranks between versions or an alternative solution (list@level on affected input ports, etc)

## What did you see instead?
Inconsistent input ranks, highlighted the changes with the blue notes below:

![dynamosandbox_2018-

[2018-06-21 13:55] EricM007 opened #8940 "3D view"
## Dynamo version

Dynamo core 2.0.0.4354

## Operating system

Windows 10 - 64 bits

## What did you do?

Activate the 3d background view

## What did you expect to see?

3d background view

## What did you see instead?

No access to the 3D background menu ( frozen menu )
![image](https://user-images.githubusercontent.com/40466120/41723431-526ef42a-756b-11e8-98bb-449a7e39e1ad.jpg)

[2018-06-21 16:30] aliasguru opened #8942 "ZeroTouchNode crashes when dragging a connected number slider"
## Dynamo version

Dynamo for **Alias**

## Operating system

Windows 10

## What did you do?

I'm developing Zero Touch Nodes for certain geometry operations. One of the Nodes takes input geometry, extracts a plane from that, and rotates the input around said plane. The code is:

        public static D.Geometry[] SourcePatternPlacement(D.Surface[] Pattern, double RotationAngle = 0.0, double Tran

[2018-06-21 19:13] smangarole commented on #8942
@mjkkirschner @ramramps Any ideas?

[2018-06-21 19:18] mjkkirschner commented on #8942
There are a bunch of intermediate surfaces in the for loops which are not disposed.

What is the stack trace.

[2018-06-21 19:19] mjkkirschner commented on #8942
Debugging is simple, start visual studio after dynamo and alias start, and Debug -> attachToProcess -> find Dynamo process.

[2018-06-21 19:52] smangarole commented on #8940
@EricM007 I cannot reproduce this on Win 10 and 2.0.0.4654. Can you please see if you can re-install? The stable builds are available on dynamobuilds.com

[2018-06-21 19:53] mjkkirschner commented on #8940
@EricM007 please read this:

https://github.com/DynamoDS/Dynamo/wiki/Dynamo-FAQ

[2018-06-22 02:29] dimven commented on #8939
Another post relevant to the above:
https://forum.dynamobim.com/t/copying-rebar-from-one-element-to-another-reload/23009

[2018-06-22 05:42] JosefRadi opened #8943 "SpringsUI.Refresh Node crashes Dynamo every time"
## Dynamo version

Dynamo Core 2.0.1.5055
Dynamo Revit 2.0.1.5065

## Operating system

Windows 10
Revit 2018

## What did you do?

I loaded the SpringsUI.Refresh Node and clicked on "Refresh"
![2018-06-22 07_51_25-dynamo](https://user-images.githubusercontent.com/40483463/41759897-627149c0-75e0-11e8-921b-ac592367a06d.png)

## What did you expect to see?

an update/refresh of my other nodes.

## W

[2018-06-22 06:39] MadsHolten opened #8944 "MeshToolkit export obj as string"
MeshToolkit allows exporting obj, dae, stl etc. which is great. However, what I need is basically an array of the file contents rather than writing to a file. This should be pretty straightforward to implement, right?

If it is too specific a demand, do you have any suggestions on how I achieve this in another way?

[2018-06-22 11:51] MadsHolten commented on #8944
I fixed it. If anyone else is interested, here is my code:

[code]

[2018-06-22 13:38] EricM007 commented on #8940
Thank you for your feedback.
@smangarole, I will try to re-install the soft with stable builds. I will post to give you the result.
@mjkkirschner, done and applied.

[2018-06-22 13:39] aparajit-pratap commented on #8942
@aliasguru can you try this:
[code]

[2018-06-22 15:52] heinrichboldt opened #8945 "Families.BatchUpdate"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

Dynamo 1.3.2

## Operating system

 Windows 7

## What d

[2018-06-22 16:21] smangarole commented on #8945
@heinrichboldt Can you provide me the following information:

- Revit version you are using
- the dyn file you were using

Thanks.

[2018-06-22 16:40] heinrichboldt commented on #8945
I use Revit 2016.

here is the file
[Familys_Update.zip](https://github.com/DynamoDS/Dynamo/files/2128453/Familys_Update.zip)

[2018-06-23 14:06] hauvovan commented on #8927
Hi you !
But when I click node " Watch", it do not display on screen windows. this is a big mistake

[2018-06-23 14:56] mjkkirschner commented on #8927
Hi @hauvovan something is loading an older version of dynamo core libraries. Please remove all packages. - perhaps VietBIMRebar.

I also see you have multiple notifications (green circle in menu) what do these say?

[2018-06-23 15:01] hauvovan commented on #8927
Hi Mjkkirschner.
I had tried remove all package in version 1.3. but I see error confict in notifications . now, I remove all version and reinstall. I hope it ok. wait me try

[2018-06-23 15:19] hauvovan commented on #8927
Hi all !
If I install dynamo 1.3.3 and dynamo 2.0 then dynamo 2.0 is conflict with 1.3 and multiple notifications (green circle in menu) . If I install only dynamo 2.0 without 1.3.3 then it worked ok.

Why dynamo 2.0 and 1.3 cant work together ? please help

[2018-06-23 15:54] hauvovan opened #8947 "I can not download dyno 0.7.1 . Please sent it to me if you have"
I can not download dyno 0.7.1 . Please sent it to me if you have it.

I create new account but I can download it. I don't know why I cant get link

if you had download it please sent me. My email haucpe@gmail.com

Please help me
thank you very much

[2018-06-23 16:04] mjkkirschner commented on #8927
@hauvovan we cannot help further without knowing what notifications are present.

[2018-06-23 16:06] mjkkirschner commented on #8947
please contact the author of dyno:
http://prorubim.com/en/tools/dyno/

or post on the dynamo forum
https://forum.dynamobim.com.

[2018-06-23 16:06] #8947 closed

[2018-06-23 16:08] mjkkirschner commented on #8947
if by chance you actually meant "dynamo .71" please try from here:
http://dynamobuilds.com

[2018-06-23 16:10] hauvovan commented on #8947
thank you very much. but I need dyno 0.7.1 plugin . however I cant download it

[2018-06-24 14:12] hauvovan opened #8949 "Dynamo 2.0 error when open custom node ?"
I just install dynamo 2.0 and i create new custom node. i save in D:// success. Later, i close and open this custom node and appear error, revit 2018 auto closed when i open a custom node.

I try make a very single custom node. However, when open a any custom node, revit auto shutdow.
i try uninstall dynamo and reinstall 3 times but this error not yet .
Please help resolve this problem.

thank you

[2018-06-25 05:53] JosefRadi commented on #8943
@ramramps This is what was under Details:

Field not found: 'Dynamo.Graph.Workspaces.HomeWorkspaceModel.RunSettings'.

   at SpringsUI.RefreshButton.Flip()
   at MS.Internal.Commands.CommandHelpers.CriticalExecuteCommandSource(ICommandSource commandSource, Boolean userInitiated)
   at System.Windows.Controls.Primitives.ButtonBase.OnClick()
   at System.Windows.Controls.Button.OnClick()
   at Syste

[2018-06-25 06:36] erfajo opened #8951 "Dynamo Sandbox doesn't read Custom Nodes"

[2018-06-25 11:40] ramramps commented on #8943
one thought @JosefRadi did you convert this package for 2.0 version?

[2018-06-25 11:49] JosefRadi commented on #8943
@ramramps I dont think so?
I just downloaded SpringsUI from the Packages?
Do I have to convert? How is this working?

[2018-06-25 11:49] ramramps commented on #8951
Is there any notifications? I mean, can you check if there is one by clicking the green "!" on the top?

[2018-06-25 15:09] erfajo commented on #8951
There is no notifications.

[2018-06-25 16:55] mjkkirschner commented on #8951
Hi @erfajo how is your package structured? Can you share an image of the package root directory? Are the custom nodes in a .dyf folder?

Do you have this issue with DynamoRevit?

Your package has both ZT and custom nodes?

[2018-06-25 17:32] erfajo commented on #8951
It is working perfect with DynamoRevit, and after open/close one random custom node does also the DynamoSandbox work without any problems.

The package has both ZT and CN nodes... some nodes do I need to keep as CN nodes until the .net version for FEM-design and Sigma Estimates have implemented .net fully.

![image](https://user-images.githubusercontent.com/2844374/41865653-04b28c7e-78ae-11e8-88d6

[2018-06-25 19:48] mjkkirschner commented on #8943
The author of this package may not have updated it for use with dynamo 2.0 yet.
I would post on the springNodes github:
https://github.com/dimven/SpringNodes

[2018-06-26 02:34] mjkkirschner commented on #8951
It might be worth mentioning that dynamoRevit and dynamoSandbox have different package paths. A first guess is that sandbox is pointed to your dll, but does not actually have your package installed.

Can you check the manage package paths / and manage packages menu items in sandbox so see if 1. you have installed your package in sandbox

2. you don't have an extra package path added that points to

[2018-06-26 14:32] smangarole commented on #8927
@mjkkirschner @QilongTang I have added this as a bug and is tracked internally by: https://jira.autodesk.com/browse/QNTM-4597

[2018-06-26 14:56] smangarole commented on #8949
@hauvovan can you try saving the custom nodes in a new folder by itself. If the folder location has other custom nodes and 1.3 files, it's highly likely that you will see a crash when you open it up in 2.0.

Also, please provide me the exact steps to reproduce so I can help you further.

[2018-06-26 20:53] erfajo commented on #8951
Well, the dll is the only thing it loads, it is the custom nodes it doesnt load!?
the paths is as it should be... and the same as it is in DynamoRevit, so no difference.
There is one path to the folder for all packages...

The strange thing is, that my internal sandbox version works perfectly and this has the exact same structure. All four project is a part of the same solution in Visual Studio, a

[2018-06-27 09:31] phil-sh opened #8955 "Insertin Archi lab node "Lines Styles" causes dynamo to crash"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version 1.3.2.2480

(Which version of Dynamo are you using? Go to

[2018-06-28 16:23] erfajo commented on #8951
I have figured why my "sandbox" version works for custom nodes... They are all placed in the "definition" folder and not in the package folder. So the problem it still the same. If DynamoSandbox reads any dll file it doesnt read dyf files...

[2018-06-28 16:49] erfajo opened #8958 "[DefaultArgument("false")] is not read in RevitSandbox 2.0.1+"
## Dynamo version
DynamoSandbox 2.1.0+

## Operating system
windows 10

## What did you do?
used the same node from my package (**Orchid**) in DynamoRevit and DynamoSandbox.

## What did you expect to see?
I expected that [DefaultArgument("false")] would be read!

## What did you see instead?
In dynamoSandbox is [DefaultArgument("false")] not being read!

DynamoSandbox
![image](https://user-images

[2018-06-28 17:14] mjkkirschner commented on #8958
@erfajo this seems very unlikely. DynamoCore contains the functions to load attributes- these functions are the same between dynamoSandbox and DynamoRevit.

This indicates to me that a few things could be going on:
1) You are loading different versions of your dlls into dynamo revit vs dynamo sandbox. Please check both your dynamo revit and dynamo sandbox package folders and make sure you have the

[2018-06-28 17:16] mjkkirschner commented on #8955
@phil-sh seems like you might be loading a version of this package for dynamo 2.0 and not 1.3 - what version of archilab are you installing?

[2018-06-28 17:18] mjkkirschner commented on #8951
@erfajo I would like to try reproducing your issue in sandbox. Can you please give me the most direct steps possible to install your package that should reproduce the issue on sandbox?

[2018-06-28 17:34] erfajo commented on #8958
hi @mjkkirschner
I have tested that I am not doing any rookie failures... and I do only write because I think it is something to be fixed…

Below is my JSON pkg file. As you can see, I load first the DLL file which works both in DynamoRevit and DynamoSandbox, and the latter works only in DynamoRevit. You need to load them as this and you need to have names in an alphabetic order since dynamo cant

[2018-06-28 17:40] erfajo commented on #8951
go here --> https://github.com/erfajo/OrchidForDynamo
I have also an executable file that takes care of the installation process for you if that is easiere.

[2018-06-28 17:42] mjkkirschner commented on #8958
@erfajo thanks for the explanation, definitely want to get to the bottom of it, but have to start with gathering the system's setup state to debug efficiently :).
I will try to replicate. Another thought - do you have any other packages installed in sandbox that you do not have in your dynamoRevit packge folder?

For example, Lunchbox bundles version 1.3 of dynamoSerivces.dll with their package -

[2018-06-28 19:39] alfarok commented on #8944
solved

[2018-06-28 19:39] #8944 closed

[2018-06-28 19:45] erfajo commented on #8958
Thanks @mjkkirschner, that was the exact problem, it is Lunchbox that gives the error... removing that package and everything works as expected...

[2018-06-28 19:59] #8958 closed

[2018-06-28 20:02] erfajo commented on #8951
Just to include a screendump from DynamoRevit and DynamoSandbox side-by-side. The custom nodes should be the same in that "subfolder"
![image](https://user-images.githubusercontent.com/2844374/42057869-f2b805c6-7b1e-11e8-80f8-76de0c0b1e7b.png)

[2018-06-29 08:19] alvpickmans opened #8959 "ViewExtension - Opening file from path issue"
## Dynamo version

2.0.1.5055

## Operating system

Windows 10

## What did you do?

Implementing a ViewExtensions that among other things, should open a dyn file from a selected path.

## What did you expect to see?

A dyn file opened correctly

## What did you see instead?

![openfileissue](https://user-images.githubusercontent.com/12413808/42080526-e55ce8e0-7b7a-11e8-8baa-e05a83900a70.gif)

1.

[2018-07-01 00:00] mjkkirschner commented on #8959
@alvpickmans I think two things are occurring here:

1. I think there is a race condition that results in the node view failing to load in some cases - this occurs more frequently when opening the file in automatic mode.
2. If you open the file using the dynamo model then only the model properties will be loaded - the node positions are view properties and will not be loaded. so:

try this:
https:

[2018-07-01 14:18] vykrum opened #8962 "Keep List Structure"
## Dynamo version
Dynamo Core 2.1.0.5357

## Operating system
Windows 10

## What did you do?
Checked _Keep List Structure_

## What did you expect to see?
List Input node to change color and the output to inherit the list structure of this input

## What did you see instead?
![keepliststructure](https://user-images.githubusercontent.com/5621624/42135337-46d0179e-7d67-11e8-85e0-49adbe208866.png)

[2018-07-01 23:01] githubtky opened #8964 "Dynamo 1.3 crashes when entering code block nodes"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.3.2.2480
Happens after installing Dynamo 2.0.1

## Ope

[2018-07-01 23:20] githubtky opened #8965 "Dynamo 2.0 crashes when entering code block nodes"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

2.0.1

## Operating system

Windows 7 pro

## What did y

[2018-07-01 23:40] mjkkirschner commented on #8965
please see other issues:
https://github.com/DynamoDS/Dynamo/issues?utf8=✓&q=is%3Aissue+Void+ICSharpCode.AvalonEdit.Editing.TextArea.ClearSelection%28%29%27

[2018-07-02 06:57] aliasguru commented on #8942
@aparajit-pratap I tried your suggestion and it worked! So far no more freezes when pulling the slider. So, for my understanding: It is mandatory to catch intermediate geometry and `dispose()` it as well? Because, I was of the opinion that if I don't assign a variable, Garbage Collection would take care of the items in any case.

@mjkkirschner Thanks for the Debugging tip, this works well. Huge im

[2018-07-02 07:29] alvpickmans commented on #8959
@mjkkirschner thanks, silly that I missed that!
I also notice that the `CurrentWorkSpaceChanged` event is not raised when the workspace is closed. Is that the desired behaviour?

I´ll close this for now.

[2018-07-02 07:29] #8959 closed

[2018-07-03 08:54] #8942 closed

[2018-07-03 14:31] vykrum opened #8971 "Code Block Input port issue"
## Dynamo version
Dynamo Core 2.1.0.5357

## Operating system
Windows 10

## What did you do?
Changed value in code block from -1 to -0.1

## What did you expect to see?
Nothing significant

## What did you see instead?
Input node for variable disappears
![inputportissue](https://user-images.githubusercontent.com/5621624/42226162-df5b437c-7efb-11e8-990b-feab3de2209e.png)

[2018-07-03 16:17] smangarole commented on #8971
@vykrum Thanks for logging this issue. I verified that the behavior is same in 1.3.2. Logging this internally.

[2018-07-03 17:40] smangarole commented on #8971
@aparajit-pratap Can you please add your inputs here?

[2018-07-04 01:10] HossZamani opened #8973 "none. please delete if poss."
sorry this issue created by mistake.

[2018-07-04 01:23] HossZamani opened #8974 "ProtoCore.Exceptions.CompilerInternalException on importing library"
## Dynamo version

1.3.2

## Operating system

Windows 10

## What did you do?

Tried creating zerotouch nodes. I'm debugging with this post build actions:

[code]

and setting DynamoSandbox for starting to debug. In the package folder these folders exist as well:

![image](https://user-images.githubusercontent.com/27878288/42251648-e6b2615c-7f7b-11e8-8eae-b0b760d0ae10.png)

My project contains re

[2018-07-04 01:31] #8973 closed

[2018-07-04 04:44] andydandy74 opened #8975 "Some menu items in Help menu not working"
## Dynamo version

2.0.1 stable

## Operating system

Windows 10

## What did you do?

Clicked on ```Help > Getting Started``` and ```Help > Samples```

## What did you expect to see?

Something happening

## What did you see instead?

Nothing happening
Not a regression, same behaviour in 1.3.2 as well.

[2018-07-04 05:16] andydandy74 opened #8976 "Unconnected custom nodes with multiple output ports throwing warnings"
## Dynamo version

2.0.1 stable

## Operating system

Windows 10

## What did you do?

Placed a custom node with multiple output ports on canvas

## What did you expect to see?

No warnings

## What did you see instead?

Warnings. Every input port will generate a ```List indices must be numeric``` warning.
This is a regression. Nodes like these don't throw warnings in 1.3.x
![grafik](https://user-

[2018-07-04 13:04] sunfield opened #8977 "Imperative block does not evaluate"
## Dynamo version

Dynamo 2.0.1

## Operating system

Windows 10

## What did you do?

I created a CBN containing an imperative block with nested while-loops to get the desired associations between two lists that I had trouble working out through lacing.

## What did you expect to see?
Initially I got the expected result: A list of the surfaces I was looking for, like this
![problem2](https://user

[2018-07-04 20:30] githubtky commented on #8964
The problem went away after uninstalling pyRevit ver 4.4

[2018-07-04 20:30] #8964 closed

[2018-07-04 20:31] githubtky commented on #8965
The problem went away after uninstalling pyRevit ver 4.4

[2018-07-04 20:31] #8965 closed

[2018-07-05 12:13] smangarole commented on #8977
@sunfield Thanks for logging this issue. Can you send us the DYN file?

[2018-07-05 12:15] smangarole commented on #8977
@aparajit-pratap @mjkkirschner Any inputs? I agree that it's not ideal to make changes every time you want a correct evaluation.

[2018-07-05 12:21] smangarole commented on #8977
Tracked internally: https://jira.autodesk.com/browse/QNTM-4682

[2018-07-05 12:35] smangarole commented on #8976
Hi @andydandy74 Verified that this is a regression. Thanks for logging this issue.
Note that the warning goes away when "a" is assigned a value.
![image](https://user-images.githubusercontent.com/992006/42323506-66d8c288-802e-11e8-834c-656f57c8fa9d.png)

[2018-07-05 12:43] smangarole commented on #8976
This is actually weird:
1. If you remove the CBN and custom node connection (shown in the screenshot above), the warning re-appears. Note that I do see the values in the custom node preview bubble
2. In 1.3.x the custom node output is a list and in 2.0.x, it's a dictionary

[2018-07-05 12:50] smangarole commented on #8976
@Racel @mjkkirschner Tracked internally: https://jira.autodesk.com/browse/QNTM-4683

[2018-07-05 13:01] smangarole commented on #8975
Tracked internally: https://jira.autodesk.com/browse/QNTM-4684

[2018-07-05 13:01] #8975 closed

[2018-07-05 13:05] sunfield commented on #8977
@smangarole Thank you for your response. It's not the original file due to confidentiality restrictions, but it contains the relevant CBN and associated parts, and reproduces the issue for me identically to the description above.
All that should be required for easy reproduction is a basic room centred around 0,0 in Revit (I'm using Revit 2017 but I have no reason to believe it should matter). Oth

[2018-07-05 13:56] mjkkirschner commented on #8976
@smangarole I think @aparajit-pratap just fixed this here:
https://github.com/DynamoDS/Dynamo/pull/8928

@aparajit-pratap is this the same issue?

[2018-07-05 15:22] aparajit-pratap commented on #8971
@smangarole this obviously is a bug. @vykrum thanks for pointing it out.

[2018-07-06 17:12] EmCru opened #8981 "Node to Code__Crashes Dynamo 2.0.1.555___"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

2.0.1

## Operating system
windows 10

## What did you d

[2018-07-06 18:22] archinate opened #8982 "Package Download fails with message "Bad read of entry..." (LunchBox)"
Hello,
I have recently received messages from my LunchBox users that they are unable to download the LunchBox package because of a "Bad read of entry..." error. This appears to pertain to one of its dependencies. I am unable to read the entire message so I have pasted it here.

The package rums correctly on my side. I have tried to re-publish LunchBox a few times and it appears to upload correctly

[2018-07-06 18:28] mjkkirschner commented on #8981
can you post the stack trace?

[2018-07-07 00:02] mjkkirschner commented on #8982
Hi @archinate this looks like a bug in the zip library the package manager client uses.
I think the size of the package might be related to the bug. Fixing it will require a new release of dynamo AFAIK, or potentially a new package manager extension dll.

Also related - Lunchbox bundles some dynamo 1.x dlls (dynamoServices.dll) that cause issues when the package is loaded into dynamo 2.0. We can f

[2018-07-07 04:16] kronz commented on #8982
@archinate @mjkkirschner How big is Lunchbox now?  It can't be anywhere close to Meshtoolkit at ~80mb, unless you are uploading a bunch of backup files accidentally or Revit files, no?

[2018-07-07 18:17] archinate commented on #8982
Hi @mjkkirschner and @kronz,
Here is a screenshot of the current bin folder for LunchBox. I don't see any indication that Dynamo libraries are shipping with any of the most recent versions that are giving "bad read of entry..." download error. The current package size is showing to be 25 mb on my side much of which is the Accord.NET libraries.

![image](https://user-images.githubusercontent.com/18

[2018-07-07 19:14] kronz commented on #8982
What I'm seeing is that v 2018.6.28, updated Jun 28 downloads fine, and the 2 versions 2018.7.* from July 6 both have the error shown above.  Between last week and now you added back in the Accord libraries that were available in 2017.10 . . . .anything special in how you are structured the Accord libs now as opposed to 2017.10?

[2018-07-07 19:18] kronz commented on #8982
Ah, wait.  @mjkkirschner , it looks like in Dynamo 1.3, @archinate had this set up with 2 high level categories for the Lunchbox tools, LunchBox and LunchBox ML
![2018-07-07_1516](https://user-images.githubusercontent.com/3456818/42413916-b4fc83a2-81f8-11e8-8893-2044ddc66f68.png)
v 2018.6.28 doesn't have the ML stuff at all, and the tools in it work great in Dynamo 2 (multi-output ports behave nic

[2018-07-07 20:55] mjkkirschner commented on #8982
These are two totally separate issues - the download bad read error is caused by the length of the file - not all large files will have this error - we will need to upgrade sharpziplib in dynamo. This is not a problem on package manager it’s in the client shipped with dynamo.

The bad multi out ports were caused by a previous version of lunchbox loaded into dynamo 2.0 while dynamo services was bun

[2018-07-07 22:53] archinate commented on #8982
hey @kronz,
I had published a small update on 6.28 and it wasn't until later that a user asked where the Accord/ML nodes were at so for some reason I had a partial publish there? I'm not quite sure.

It was on 2018.7 that I retried publishing and then users started getting that download error. The only difference from 2017.10 and 2018.7 was that I published with Dynamo 2.0 although I did try to re

[2018-07-07 23:15] mjkkirschner commented on #8982
Please see this thread:
https://github.com/haf/DotNetZip.Semverd/issues/74

The thread states the bug from the old ionic.zip.dll (which I am guessing we used) is fixed in the latest dotnetzip packages. Publishing from or downloading with 1.3 vs 2.0 won't make a difference as we have always AFAIK used this older ionic dll for package zipping. The difference is the changing size of the package and t

[2018-07-08 12:54] xinyuanlele commented on #8379
I have the same problem

[2018-07-09 06:01] T-Lueks commented on #8379
I Fixed it by upgrading my GPU

[2018-07-09 11:01] alvpickmans opened #8984 "ProtoGeometry Circle/Arc definition"
Raising this issue here after asking on the [forum](https://forum.dynamobim.com/t/protogeometry-circle-arc-definition/23386) but without any valid response. Following a [discussion here](https://github.com/speckleworks/SpeckleCore/issues/81#issuecomment-402199444), a question on how ProtoGeometry interprets circles and arcs was raised.

Comparing this with Rhino, it seems that even there is a circ

[2018-07-09 15:32] aparajit-pratap commented on #8976
Yes @mjkkirschner this should have been fixed in #8928. @smangarole could you test if this still reproduces in master (2.1.0)? Thanks.

[2018-07-09 18:05] kronz commented on #8982
@archinate
ok, so we need to update our zipping library as it seems you have hit on some un-magical combination of file size and number of files.  In the meantime, can you try adding some dummy bytes to your library, a .txt file?  Seems like there is some specific, but undefined, combination of package size and number of files. @mjkkirschner any guidance on increments?

[2018-07-09 19:45] mjkkirschner commented on #8982
It is pretty difficult to find solid information on this bug since it is quite old. I think you should avoid packaging dlls which are multiples of 128kb... the accord .net math.core dll is quite close to these values.

128kb *11 = 1.4 vs.  1,376,256 on my machine

I might try leaving that dll out of an upload as a test... I assume your library requires it? Could you try a different version of acco

[2018-07-09 20:10] archinate commented on #8982
hi @mjkkirschner yes the node package requires accord and also depends on this version of accord.

I should note that the 2017.10 release of LunchBox also included Accord libraries and didn't have this issue.

-Nate

[2018-07-09 20:37] mjkkirschner commented on #8982
the 2017.1x of lunchbox bundles 3.6.6031 of accord while the 2018 release bundles 3.8 as far as I can tell - this bug occurs with different sized files, I think it's possible the dlls have different sizes between the two releases.

[2018-07-09 20:46] mjkkirschner commented on #8982
some potential workarounds....

* @tecomi used https://github.com/Fody/Costura to embed some dlls as resources in the Speckle dynamo package. You might be able to embed all these dlls inside one resource file which would change the file size.
* You could ship an extension with your package which is capable of grabbing your dependencies when dynamo starts using github or nuget etc... - if they exis

[2018-07-10 14:46] aparajit-pratap commented on #8939
@dimven your observations are correct. This rationalization of the nodes was done in a deliberate manner so as to reduce the number of redundant nodes we had in the Dynamo library and to reduce user ambiguity between which nodes to use.

In general we have adopted a consistent approach of removing the overloads that had lower argument rank(s) in favor of the overload with the higher input rank(s).

[2018-07-10 15:34] jnealb commented on #8962
@aparajit-pratap @Racel Any thoughts?

[2018-07-10 22:32] archinate commented on #8982
@kronz and @mjkkirschner This sounds like a rather serious bug in package deployment. Having users of Dynamo also track file sizes in multiples of 128kb is reaching.

Any word on when a real fix to package management will be implemented?

[2018-07-11 10:55] sunfield commented on #8977
@smangarole
**I have found the cause and working solution:**
The problem is with List.Count(). It does not work correctly within an Imperative block so all the conditions in while- or for-statements need to be determined _before_ entering the imperative block. Since the sizes of the lists and sublists in my case need to be dynamic, I can't just count them inside the codeblock using List.Count() be

[2018-07-11 14:55] Racel commented on #8962
@jnealb I can reproduce this. This is definitely a bug that I am seeing in 2.0. Can we please file? And can we discuss how we can catch this next time during testing?

FYO @smangarole

[2018-07-11 17:30] jnealb commented on #8962
@vykrum Thank you - this is filed as QNTM-4759 and is in the 2.1 backlog.

[2018-07-11 17:30] #8962 closed

[2018-07-12 09:53] Amoursol opened #8989 "[Improvement Request] DesignScript: Get Item Range Shorthand"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

Dynamo 2.0.1

## Operating system

Windows 10

## What w

[2018-07-12 15:04] jnealb commented on #8971
@vykrum Thank for the report: this is filed as QNTM-4761 and is in the 2.1 backlog. @aparajit-pratap @smangarole fyi.

[2018-07-12 15:04] #8971 closed

[2018-07-12 16:20] Amoursol opened #8991 "[Missing Element] Categories node missing 'Structural Framing - Structural Opening Cut' category in dropdown"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

Dynamo 1.3.3

## Operating system

Windows 10

## What d

[2018-07-12 18:00] andydandy74 commented on #8991
Seems like this issue should be raised on the DynamoRevit repo, I think.
Possibly related to https://github.com/DynamoDS/DynamoRevit/issues/982

[2018-07-13 02:40] aparajit-pratap commented on #8977
@sunfield thanks for pointing out the issue. Yes, this is reproducible with a simple case like:
![image](https://user-images.githubusercontent.com/5710686/42669614-5ef1be7a-8624-11e8-8efc-28da0cf495fb.png)
Updating the input list does not cause the code block to update. We will look into this.

[2018-07-13 11:01] ThomasMahon commented on #8989
Create contradictory syntax expressions? That's a recipe for disaster. What if a user actually wants indexes 1, 0, -1 and innocently indexes their list using 1..-1, now they would get an unexpected result and have no control over the behaviour of range expressions. Whats wrong with `1..Count(x)-1`?

[2018-07-13 11:29] Amoursol commented on #8989
Given that **list[-1]** as a 'get item at index' returns the last item in a list there is already variance in language behaviour, but I fully understand your point. If, logically, **list[0]** returns the first item and **list[-1]** returns the last, then a syntax range of **list[0..-1]** feels appropriate.

Duly noted that existing behaviour would be lost and am putting this out there to engender

[2018-07-13 20:02] mjkkirschner commented on #8951
Hi @erfajo I can reproduce this and I think I know whats going on - I fear you will not like the reason 😄 .

It appears your package has a dependency on the revit API. When Dynamo attempts to load your dlls it cannot as it fails to find the required dependencies, this throws an exception, at this point the first dll is loaded, the revit one fails to load, but the custom nodes never load as a resul

[2018-07-13 20:15] mjkkirschner commented on #8977
@Racel @aparajit-pratap where can we document or release note this?

[2018-07-13 20:20] mjkkirschner commented on #8881
not really a response to this bug, but:
https://www.fuget.org/packages/DynamoVisualProgramming.Core

[2018-07-13 20:33] andydandy74 commented on #8881
Sweet! It even has diffing capability!

[2018-07-13 20:33] #8881 closed

[2018-07-13 23:29] catdotgif commented on #7350
In my testing, it's not updating on a manual run either-- I have to close Dynamo and open it again to get a new timestamp.   Which is fine if that's the intent, but I need a way to timestamp the run.

[2018-07-16 06:57] dimven commented on #8981
I experienced something similar a while back when translating the Document.Current node to DS and it seemed the issue was an older version of the Rhythm package. I think it had a Document class or similar that was creating a namespace conflict...

[2018-07-16 21:35] taurerm opened #8997 "Unecpected behaviour of Wall.ByCurveAndHeight"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.3.34615

## Operating system

Windows 10

## What did

[2018-07-17 01:09] mjkkirschner commented on #8997
I have not looked at the file yet.

* Does revit hang with memory usage that does not increase?
* are you using Dynamo's geometry methods in python or c# without disposing intermediate geometry?

[2018-07-17 06:56] taurerm commented on #8997
Hi Michael

- Revit hangs at constant memory use 1.7 Gb when the Wall.ByCurveAndHeight
node is touched. Occasionally the script succeeds and the walls are getting
created - that makes the issue so difficult.
- all out of the box nodes - I just needed the python at the beginning to
collect rooms and room boundsaries.

Thanks for looking into this
Martin

Martin Taurer
taurerm@gmail.com
+31 6 34489

[2018-07-17 09:29] #7743 closed

[2018-07-17 19:13] smangarole commented on #8981
@EmCru @mjkkirschner @dimven I cannot reproduce the crash on Sandbox and in D4R 2.0.1.5055

[2018-07-17 19:18] smangarole commented on #8977
@aparajit-pratap @mjkkirschner I have updated the bug with the files provided. Closing this issue. Tracked internally: https://jira.autodesk.com/browse/QNTM-4682

[2018-07-17 19:18] #8977 closed

[2018-07-17 20:03] smangarole commented on #8976
Fixed in the latest daily build. Closing @jnealb @mjkkirschner @aparajit-pratap @andydandy74

[2018-07-17 20:03] #8976 closed

[2018-07-18 14:37] smangarole commented on #8991
Closing this issue. Opened in D4R

[2018-07-18 14:37] #8991 closed

[2018-07-18 14:39] smangarole commented on #8981
Please re-open if it's reproducible. It would be great if you can provide:

- the .dyn file
- steps to reproduce

[2018-07-18 14:41] smangarole commented on #8974
@mjkkirschner @QilongTang @aparajit-pratap Any inputs?

[2018-07-18 14:49] mjkkirschner commented on #8974
not really :( - This error means there was some issue importing the dll. There are some features we don't support of c#.

Without seeing the code it's difficult to tell - I would make sure the com library is not marked as a node library in the package.json.

Are you using any features in your node library like generics?
Whats in your bin folder?
what does your package.json look like?

[2018-07-19 01:09] dimven commented on #8981
Steps to reproduce:
- Have a recent version of Rhythm installed
- Place a `Document.Current` and any other node that needs a document as input. I use `Document.FilePath` in the example below.
- Select them, right click on canvas, pick Node to Code
- You get the below stack trace and then Dynamo terminates

This is all simply happening because Rhythm has a `Document` class and the `CreateNodeFromSh

[2018-07-19 04:42] mjkkirschner commented on #8981
@dimven thanks for the writeup.

[2018-07-20 09:58] epeter- opened #9001 "python editor"
valid for dynamo 2.xx

![image](https://user-images.githubusercontent.com/6928491/42996478-fb8da786-8c13-11e8-8409-5f99c12c38d6.png)
the selected color schema displays links in blue, causes unread-ability as shown in my pic.
2) i definitely would prefere to get the option to select my own editor within dynamo

[2018-07-20 10:39] ads-banana opened #9002 "Importing OBJ"
## Dynamo version
Core 1.3.0.875 Studio 1.3.0.946

## Operating system
Windows 10

## What did you do?
importing obj-model

## What did you expect to see?
vertex numeracy the same as in original OBJ (made in Max)

## What did you see instead?
Half of Vertices ID "scrambled".

Importing slightly distorted plane with 4x4 quads (25 vertices).

Re-importing obj back to Max - shows that ID did not chan

[2018-07-20 13:12] natgmac commented on #8768
If we don't have the NBS plugin to uninstall to fix this problem, how can we find out which plugin is causing the issue?

[2018-07-20 14:01] jnealb commented on #8768
@natgmac There are several that could be causing it; it is best to "divide and conquer" eg remove them to identify which one it is.

[2018-07-23 00:56] rtrwalker opened #9008 "typo "sqare" should be "square""
https://github.com/DynamoDS/Dynamo/blob/ced307f2b6792a10d4171b60bc0d484a4c29ad7f/doc/distrib/Samples/en-US/Basics/Basics_Basic01.dyn#L262

[2018-07-23 05:45] dimven commented on #8939
I understand what you've done and why you needed to proceed in such manner. Some of the listed nodes did not always have multiple input overloads/versions. I'd just wanted to point out that the new alternatives don't necessarily process their inputs in the same manner. Thus migrating these nodes to a newer version of Dynamo leads to unpredictable and hard to spot side effects.

If there are simila

[2018-07-23 05:45] #8939 closed

[2018-07-23 13:12] sunfield opened #9009 "List.MaximumItem breaks on mixed input"
## Dynamo version

2.0.1.5055

## Operating system

Windows 10

## What did you do?

Took a list of numbers from a file (so as strings), sorted and converted to number, then tried to find the largest one using `List.MaximumItem`.

## What did you expect to see?

The largest value in the list returned.

## What did you see instead?

null, with a warning.

Boiled it down to this:
![tonumber](https:/

[2018-07-23 16:04] jnealb commented on #9009
@sunfield Thank you for this report. We have filed it as QNTM-4876 and it is in the 2.1 backlog.

[2018-07-23 16:04] #9009 closed

[2018-07-23 17:04] erfajo commented on #8951
Sorry for being late... I had other matters to attend to :-)

You are right, I don't like this. Shouldn't It be an option to load the same package and then let the Sandbox version dismiss the assemblies there are dependent on the Revit assembly?

It has been working previously so it must be a bug in the newer versions...

[2018-07-23 18:33] aparajit-pratap commented on #9009
@sunfield thanks for highlighting the issue and fix :)
https://github.com/DynamoDS/Dynamo/pull/9012

[2018-07-24 04:51] andydandy74 opened #9013 "Feature Request: Allow dll.config files in bin folders of packages"
## Dynamo version

2.0.1

## Operating system

Win 10

## What did you do?

Tried to publish a package containing a view extension locally. The extension dll makes use of a dll.config file for storing application settings. That file needs to be in the same location as the dll.

## What did you expect to see?

The dll.config file to remain in the ```bin``` folder with the dll.

## What did you see

[2018-07-24 05:04] mjkkirschner commented on #9013
seems like something that should work - but you can do as the dynamo install detective does and load the config manually if you know the path:
https://github.com/DynamoDS/Dynamo/blob/master/src/Tools/DynamoInstallDetective/ProductLookUp.cs#L326

[2018-07-24 05:05] MyeNguyen opened #9014 "ISSUE : Dynamo had crashed, What should i do to make it work?"
There was an error deserializing the object of type CSharpAnalytics.Sessions.SessionState. There are multiple root elements. Line 1, position 2.

   at System.Runtime.Serialization.XmlObjectSerializer.ReadObjectHandleExceptions(XmlReaderDelegator reader, Boolean verifyObjectName, DataContractResolver dataContractResolver)
   at System.Runtime.Serialization.XmlObjectSerializer.ReadObject(XmlDiction

[2018-07-24 05:18] andydandy74 commented on #9013
Thought I'd tried something like that, but I must have had a typo in the alternative path then. Will try again.

[2018-07-24 05:53] andydandy74 commented on #9013
Got it to work. I was using ```OpenExeConfiguration``` instead of ```OpenMappedExeConfiguration```.
Thanks Mike.

[2018-07-24 05:53] #9013 closed

[2018-07-24 16:48] mjkkirschner commented on #9014
Hi @MyeNguyen this is a duplicate of : https://github.com/DynamoDS/Dynamo/issues/7173
please reopen if that thread does not help you.

[2018-07-24 16:48] #9014 closed

[2018-07-24 16:49] mjkkirschner commented on #9002
Hi @ads-banana can you provide the files here?

[2018-07-24 22:37] erfajo commented on #8897
Since nothing has happened until now, have I solved the problem by my self and coded four new nodes to use for Parameters. You may close the topic!
![addparameter 4 nodes](https://user-images.githubusercontent.com/2844374/43169839-df7d7868-8fa2-11e8-9d66-394b5eaaafd4.png)

[2018-07-24 23:45] #8943 closed

[2018-07-28 06:56] erfajo opened #9021 "Delete this issue"
Please delete this issue...

[2018-07-30 11:43] DanRumery commented on #4603
Why is this issue still not resolved? Even in the purest languages (e.g. Haskell) there is still a mechanism for including side-effecting actions in the program. I've found that the 'boolean toggle' workaround is confusing for the average user ("why do I have to toggle it? why doesn't it matter if it's true or false as long as you change it on each run?").

Can we at least give C# developers the a

[2018-07-31 11:43] MarkThorley commented on #8637
@mjkkirschner just following up on this. A similar issue with surface.perimetercurves when run on a polysurface that has been created by joining two surfaces together, returns the perimeter curves for each surface rather than only the perimeter curves of the new polysurface.
![capture](https://user-images.githubusercontent.com/6421438/43457584-4380f6ac-94bf-11e8-97c6-a5e93bc54dc5.JPG)

[2018-07-31 15:35] mojtabajeem commented on #8581
@kronz  thanks Zach ... I downloaded online trial version of dynamo and it's gone work!

[2018-07-31 15:36] #8581 closed

[2018-07-31 23:33] mjkkirschner commented on #8637
@aparajit-pratap FYI

[2018-08-01 09:32] sunfield opened #9028 "ImportInstance.ByGeomtry splits surfaces and so messes up FaceAnalysisDisplay"
## Dynamo version

2.0.1.5055

## Operating system

Windows 10

## What did you do?

Tried sending a surface extracted from a solid to Revit using `ImportInstance.ByGeometry` to create an Analysis Display using UVs on the Surface and the appropriate values.

## What did you expect to see?

The surface in Revit with the Analysis Display.

## What did you see instead?

![importinstanceissue](https:/

[2018-08-01 11:13] Amoursol commented on #8637
@mjkkirschner @aparajit-pratap Our workaround for the above issue is as follows:

![polycurve issue](https://user-images.githubusercontent.com/12857357/43518512-3ced395c-9584-11e8-856a-094d30473fdc.jpg)

[2018-08-03 11:34] TejaswiRJadhav opened #9031 "Installation error on Linux"
hello
   I'm trying to install dynamo on Linux. I have installed mono (version mono-5.12.0.301) and now trying to install dynamo src from github. I'm getting following error after executing command
xbuild /p:Configuration=Release src/Dynamo.Mono.sln_

Errors:

/lus/dal/appuser/testing/benchmark/dynamo/intel/Dynamo-master/src/Dynamo.Mono.sln (default targets) ->
(Build target) ->

        /lus/dal/

[2018-08-03 14:26] mjkkirschner commented on #9031
Hi @TejaswiRJadhav
1. The mono.sln has not been updated since we removed the shapeways.csproj. You can remove this dependencey manually from the sln until we update it again.

2. Dynamo uses nuget for some dependencies - to run nuget on linux with mono see something like:
 https://stackoverflow.com/questions/38118548/how-to-install-nuget-from-command-line-on-linux

[2018-08-03 18:59] mjkkirschner commented on #9031
@alfarok did you remove shapeways 😉 ?

[2018-08-03 21:01] alfarok commented on #9031
@mjkkirschner I didn't remove it from Dynamo

[2018-08-06 23:25] crwinchester opened #9037 "Wall.ByFace Broken"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## 1.3.1

(Which version of Dynamo are you using? Go to Help > About if you

[2018-08-07 11:35] erfajo commented on #8951
@mjkkirschner
I think I have an idea there can solve the issue. The problem is as you say Michael the assemblies you feed the dynamosandbox with. Since I (and many others) has split their packages into nodes that uses Revit API and not, could you then add this information into the pkg.json file?

Meaning dynamo trough Revit reads "node_libraries" and dynamosandbox read "node_libraries_sandbox" e.g

[2018-08-08 10:30] Amoursol opened #9039 "Geometry.IntersectAll() with Plane has undesired results when used with Surface.PerimeterCurves()"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

Dynamo 2.0.1

## Operating system

Windows 10

## What d

[2018-08-08 10:31] Amoursol commented on #9039
Workaround:

Creating a **Rectangle** instead of Planes appears to work. Assumption, however, was that planes should work.

[2018-08-10 12:01] erfajo commented on #8982
Today came this message at LinkedIn
https://www.linkedin.com/feed/update/urn:li:activity:6433436294420008960
https://provingground.io/tools/lunchbox/download-lunchbox-for-grasshopper/

This is not one of the smaller players who is leaving, this is the package that has been holding a position in the top five for all times.
![ac4466e16bf799e92a9d6f0ec050598dce613f82](https://user-images.githubuserco

[2018-08-12 04:01] kronz commented on #9039
@Amoursol Just to confirm . . . this ONLY happens with Python?  Not with regular node operations?
![2018-08-12_0000](https://user-images.githubusercontent.com/3456818/43998394-e1195a74-9dc2-11e8-966d-54a39decfdb4.png)

[2018-08-12 04:27] kronz commented on #9037
Thanks for the feedback @crwinchester , could you file this in the Revit issues section,
https://github.com/DynamoDS/DynamoRevit/issues
and can you say which versions of Revit and Dynamo you are using? Thanks!
Also, can you verify that you can create wall by faces through the regular manual methods in Revit, some surface are not available in either the UI or in the API
![2018-08-12_0025](https://u

[2018-08-12 04:27] #9037 closed

[2018-08-13 09:56] Amoursol commented on #9039
In all my tests with regular node operations - it appears to be fine. I'll have another look later in the week to confirm if the geometry coming out of my Python Node will correctly execute using **Geometry.Intersect**. It feels like an edge case as I've ran into this issue at times in the past (But simply playing).

[2018-08-13 09:57] Amoursol commented on #9039
As an addendum, the Rectangle 'workaround' is also failing coming out of the Python node. It simply worked as an origin test so I'll have to investigate more.

[2018-08-13 13:04] ksobon commented on #7307
@kronz can we close this? looks like it was fixed, merged

[2018-08-13 17:56] ankitdarda opened #9048 "System UI error"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

Core 2.0.1.5055

## Operating system

Windows 7

## What

[2018-08-13 19:34] ankitdarda commented on #9048
Thanks. Resolved. There were two dynamos installed creating an issue.

[2018-08-13 19:34] #9048 closed

[2018-08-14 02:02] #7307 closed

[2018-08-14 14:46] Mabiro opened #9049 "BasicInteractive should allow an outport title and tooltip renaming"
Currently, when extending BasicInteractive, there is no way of actually defining an OutPort Name and ToolTip without being forced into using reflection.

Snippet of what I am forced to do :
[code]

My suggestion would be to add a new constructor to BasicInteractive that takes in a name and tooltip.

[2018-08-14 15:15] mjkkirschner commented on #9049
Hi @Mabiro I'm not sure of the suggestion given - will think about it a bit, but instead of reflection you should be able to just remove the port and add your own.
[code]

[2018-08-14 15:18] Mabiro commented on #9049
Hi @mjkkirschner,

I tried your solution before using reflection and I was unfortunately having a crash when I would click on the outport afterwards.

[2018-08-14 17:00] mjkkirschner commented on #9049
Hi @Mabiro -

I cannot reproduce your crash:

<img width="282" alt="screen shot 2018-08-14 at 12 37 13 pm" src="https://user-images.githubusercontent.com/508936/44105239-118d5ec8-9fbf-11e8-898a-76f810c5c420.png">

[code]
Please send the stack trace if it happens again.

But! Yes! I do think it makes sense to extend the constructor, but I'm trying to think of the most idiomatic way to do this. 😃

[2018-08-14 17:09] Mabiro commented on #9049
Hi @mjkkirschner

Here is the stacktrace, I just tried again :
[code]

Here is my class :

[code]

[2018-08-15 22:39] crwinchester commented on #9037
Hi there @kronz, I filed this here because it appeared to relate more to Dynamo than to Revit, since there are no issues creating the walls via the wall by face tools there. The version of Revit that I was using was 2018.1.3. No mass faces were able to be used to generate walls in Dynamo - the warning keeps incorrectly saying that I need to use mass faces no matter the mass and no matter the face.

[2018-08-16 11:37] kronz commented on #9037
Yes, definitely related to Dynamo, but it's the Revit specific functionality.  That is, issues that stem from the functions specifically tailored to Revit interactions should be filed here:
https://github.com/DynamoDS/DynamoRevit/issues
I moved this issue to here: https://github.com/DynamoDS/DynamoRevit/issues/2117

[2018-08-16 12:25] adambear82 commented on #3100
this is stopping me from using 'attrib' in 'xml.etree.ElementTree' :disappointed:

[2018-08-19 12:28] kronz opened #9056 "Old library paths shown in Node help"
Originally filed by @ntikb in [DynamoRevit issues](https://github.com/DynamoDS/DynamoRevit/issues/2116)
## Dynamo version

2.0.1

## Revit version

2019.1

## Operating system

Windows 10

## What did you do?

Right click a node, click help..., check under Category to find node location in library.

## What did you expect to see?

Path to node location in Dynamo 2.0.1 library.

## What did you see

[2018-08-20 09:05] DanRumery opened #9059 "Application hangs when typing a perdiod (.) after particular lines of code (autocomplete issue?)"
## Dynamo version

1.3.3

## Operating system

Windows 7

## What did you do?

Typed the following python code in a python node:

[code]
If I then go to type a period (.) after the 'str' above, the application freezes (both in sandbox and in Revit).

## What did you expect to see?

Either an autocompletion window or nothing (but no application freeze!)

## What did you see instead?

Application ha

[2018-08-20 09:48] teocomi commented on #8912
@aparajit-pratap @mjkkirschner is there any update on this?
Maybe a workaround to disable the preview bubble?

[2018-08-20 14:43] jnealb commented on #9059
@DanRumery Thank you: we can reproduce it and have filed it for our 2.1 backlog.

[2018-08-20 14:43] #9059 closed

[2018-08-21 17:01] ThomasMahon opened #9063 "Zero Touch XML comments not displaying correctly - is there a limit to the number of tags?"
## Dynamo version

1.3.3

## Operating system

Win 10

## What did you do?

Built a ZT library with XML comments. Note that every single class, field, property, method and namespace includes a summary tag. Its a large library, but only four methods are public/visible in the Dynamo library. XML is approx 1200 lines

## What did you expect to see?

The summary and input port hints displaying for the

[2018-08-21 17:28] ThomasMahon commented on #9063
I've done more tests and it seems Dynamo consumes the XML by querying each line of the XML and indiscriminately finds the first matching reference to the node and delivers whatever comment is in the summary tag.

So I have the public class with no declared namespace (to avoid unnecessary sub categories in the Dynamo library):
`MyClass.MyMethod`

Elsewhere I have a namespace with private classes an

[2018-08-24 16:28] Amoursol opened #9067 "[BUG] Python 2.0 Instance Method"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

Dynamo Core: 2.0.1.5055
Dynamo Revit: 2.0.1.5065

## Ope

[2018-08-24 16:31] Amoursol commented on #9067
FYI @aparajit-pratap @mjkkirschner @Racel Found a bug I think :)

[2018-08-26 16:35] brantfetter commented on #4632
CTRL+W and/or CTRL+F4:
I agree with Racel on many of the shortcuts needed. With a nod to wynged, However, I strongly recommend that we pay attention to the default keyboard shortcuts used in Revit, so we don't create conflicts for users habituated to those keyboard shortcuts. As of version 2019 of Revit, CTRL+W closes out the whole project, where CTRL+F4 closes out a current tab. (I know a lot of

[2018-08-27 02:40] wynged commented on #4632
Personally, I strongly associate CTRL-W with closing a tab, as this is most
commonly associated with web browsing.. and while I don't want to be
different from Revit, frankly I think they made the wrong call.

On Sun, Aug 26, 2018 at 12:36 PM brantfetter <notifications@github.com>
wrote:

[2018-08-27 10:15] dimven commented on #9067
most likely you will have to get the underlying getter and apply it to the instance like so:
`Curve.Length.__get__(crv)`

[2018-08-28 01:04] aparajit-pratap commented on #9067
@Amoursol  the fact that you're able to call the static version of `Curve.Offset(curve, offset)` is surprising since even that method is a .NET instance method. As @mjkkirschner points out this should not be transferrable to Python but only exist in DesignScript code. In the case of `Curve.Length`, as @dimven says, since it's a property it may work if you use the static getter method: `Curve.get_L

[2018-08-28 07:26] anasazmi571 opened #9072 "Concatenate null to string"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

2.0

## Operating system

Windows 10

## What did you do

[2018-08-28 09:32] Amoursol opened #9073 "[BUG] Node failing downstream causes Null's upstream"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

Dynamo Core 2.0.1.5055
Dynamo Revit 2.0.1.5065

## Opera

[2018-08-28 09:45] Amoursol commented on #9073
@aparajit-pratap @mjkkirschner @Racel This is some funky behaviour :)

[2018-08-28 14:10] mjkkirschner commented on #9073
It depends what your two python nodes do - most of our libraries are immutable, but you could do anything in python. Can you share the .dyn or a smaller sample that reproduces the issue?

[2018-08-28 20:54] ChrisDRob commented on #8011
@Racel I just created an account so I could voice my opinion. I agree 100% with @andydandy74 and @JacobSmall. We are deploying custom and general Dynamo graphs for several teams across offices and we need a way to monitor and track dynamo file usage.

Please reconsider this much needed request. Thanks!!!

[2018-08-29 10:45] MarkThorley commented on #9073
Hi Mike,
We found the issue and its related to disposing of geometry that was created outside of the python node, that is to be used upstream in the graph. We assumed disposing of geometry in a python node was only relative to the python node but it seems it disposes of the geometry from the entire graph memory. Video to follow

[2018-08-29 10:47] MarkThorley commented on #9073
[Recording #41.zip](https://github.com/DynamoDS/Dynamo/files/2331806/Recording.41.zip)

[2018-08-29 10:48] MarkThorley commented on #9073
[Files.zip](https://github.com/DynamoDS/Dynamo/files/2331810/Files.zip)

[2018-08-29 15:34] mjkkirschner commented on #9073
Nope, if you pass in geometry to your python node and call dispose on it - you're disposing it.

You must be careful not to dispose objects that are referenced in other places.
When you create geometry with our library you usually get a new piece of geometry back, as protogeometry is designed to return immutable objects. If you want to avoid modifying geometry objects you pass into your code you c

[2018-08-29 15:41] mjkkirschner commented on #9072
This one seems straightforward, a null primitive object's toString returns "null"...
seems you could just replace null with "" in the final string.

[2018-08-30 02:38] anasazmi571 commented on #9072
I feel this is more of a convenience issue. When debugging code block functions (as they don't produce any error message for null reference exceptions), I use string concatenation to see the contents of a variable to see if it's properly set, and having to add null checks every time I call the toString of a variable whose contents I don't know is null or not is cumbersome.
Having the toString retu

[2018-08-30 10:48] MarkThorley commented on #9073
Thanks for clarifying. Would be worth adding these notes to the documentation around disposing in the primer etc

[2018-08-30 12:31] aliasguru opened #9076 "Migrations.XML is not working"
## Dynamo version

2.1.0.5903

## Operating system

Windows 10

## What did you do?
I've posted the question already here in the Forum, but got no answer so far:
https://forum.dynamobim.com/t/how-to-properly-use-migrations-xml-with-a-zerotouch-nodes-package/25199

Basically, I have followed the steps in https://github.com/DynamoDS/Dynamo/wiki/Zero-Touch-Plugin-Development#migrations to set up a mi

[2018-08-30 13:10] erfajo commented on #9076
And the assembly name is the same!?

If you rename the assembly, then this must also be added the migration

example

      <priorNameHint>
        <oldName>Orchid.Core.Directory.ContentsAll</oldName>
        <newName>Orchid.Generic.Core.Directory.ContentsAll</newName>
        <additionalAttributes>
          <attribute>
            <name>assembly</name>
            <value>OrchidGeneric.dll</value

[2018-08-30 15:01] Amoursol commented on #9073
Seconding @MarkThorley 's suggestion - this sounds like a messaging issue. Assumptions were that downstream graphs couldn't affect upstream nodes.

[2018-09-02 13:21] wyw7733 opened #9083 "谁有中文教程或者说明文档呀？"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

(Which version of Dynamo are you using? Go to Help > Abo

[2018-09-02 23:36] mjkkirschner commented on #8796
@Racel @aparajit-pratap @smangarole @jnealb - There are a bunch of bugs like this that users run into all the time - finding them and communicating the workarounds to users is tough when they are closed - why are they closed when they are still issues? Can we add a new label like tracked or something more explicit and stopping closing issues that are not fixed?

[2018-09-04 09:55] andydandy74 commented on #8796
That would be much appreciated!

[2018-09-05 19:26] aparajit-pratap commented on #8796
@mjkkirschner I would like to see them open myself but I think the general protocol followed by QA so far has been to close them after filing them internally. I leave it up to the team to decide which is better.

[2018-09-05 19:32] mjkkirschner commented on #9076
@aliasguru can you confirm what type of file you are trying to migrate - a json or xml based file?
I'm not sure JSON files will be able to migrate at this point. I think it was an oversight that remained when we transitioned to json that migration was not required because we only had one released version of dynamo that would create json files.

But this does not take into account packages which mi

[2018-09-05 19:45] jnealb commented on #8796
@Racel @mjkkirschner @aparajit-pratap @smangarole @Dewb @andydandy74 Yes that protocol was adhered to leading up to the 2.0 release. Nothing wrong with revisiting it now.

Also, please see JIRA task QNTM-4354 for a follow-up to these issues.

[2018-09-06 10:57] sunfield commented on #9028
I still have not found a good workaround for this issue. Any assistance would be appreciated.

[2018-09-08 12:34] MarcinTata opened #9091 "Dynamo fails at loopWhile (with Optimo package)"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.3.3.4651

## Operating system

Windows 10

## What did you do?

Run script with Optimo package

## What did you expect to see?

Result of the Optimo package, which comes from a loopWhile

## What did you s

[2018-09-08 19:10] aliasguru commented on #9076
@mjkkirschner Hm that would start to make sense. I'm **not** trying to migrate from an old Dynamo version. In fact, I only want to change a namespace. I had placed a node in a certain package, and now want to move it to a different one. My understanding of the migration was that it would be evaluated any time I open a node tree, instead of only if the Dynamo version which the node tree was created

[2018-09-10 13:33] g69031 opened #9094 "3d grid and 3d results not visible in dynamy"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

(Which version of Dynamo are you using? Go to Help > Abo

[2018-09-10 14:59] ondejcik commented on #6143
Any updates to DYN template ?? i dont see it implemented in 2.0.1

[2018-09-10 17:28] radumg commented on #6143
Hey @ondejcik , made a prototype of this back in Feb for the extensions workshop but unfortunately I haven’t had time to finish it since then 😔
Might try and pick it up soon 😎 but can’t promise anything 😇

[2018-09-11 16:30] MarcinTata opened #9095 "Dynamo crashes at LoopWhile"
## Dynamo version

2.0.1.5055

## Operating system

W10

## What did you do?

Run the script with 2 packages:
- Structural Analysis
- Optimo

## What did you expect to see?

An result from a loopWhile

## What did you see instead?

Can anyone tell me where is the issue? What went wrong? Shall I keep posting errors like this one?

"Określone rzutowanie jest nieprawidłowe. PL "
"The specified cast i

[2018-09-12 08:29] jbalado opened #9096 "Dynamo. Export elements by category to FBX"
Does anyone know why this doesn't work?

I'm trying to generate the views of each category of items to be able to export them later.

Some Views are generated but they don't correspond with the categories.

![1](https://user-images.githubusercontent.com/43201161/45412351-b4c4e980-b676-11e8-924f-e25aa53ad77a.JPG)

![2](https://user-images.githubusercontent.com/43201161/45412369-b8f10700-b676-11e8-8

[2018-09-12 15:23] ThomasMahon opened #9097 "Dynamo v2.0.1: Throwing custom exceptions in ZT nodes display random warning messages"
## Dynamo version

2.0.1

## Operating system

Win 10

## What did you do?

Throw an exception in a ZT node with a custom message.

## What did you expect to see?

The custom message if the exception is thrown

## What did you see instead?

Random warning messages depending on which input port triggers (but doesn't throw) the exception:

[Recording #31.zip](https://github.com/DynamoDS/Dynamo/files

[2018-09-12 15:35] mjkkirschner commented on #9097
Hi @ThomasMahon what do you mean that one input triggers the exception vs another input?

[2018-09-12 15:41] ThomasMahon commented on #9097
Hi @mjkkirschner In the attached video I demonstrate this; if I connect the boolean node into the createModelCurves input I get the unknown warning messages. If I then disconnect the importantInstance input and reconnect it, I see the correct custom exception message shown in the lower image.

I should add; the exception is thrown after checking if the active document is a family, and if so, if it

[2018-09-12 16:39] andydandy74 commented on #6143
FYI: You can try out the DynaMonito view extension. It adds template capability to Dynamo. https://github.com/andydandy74/Monito/releases

[2018-09-14 12:54] ksobon commented on #8955
Archi-lab.net package versions follow this logic:

Version 2019.2.1

* 2019 - last version of Revit that this package was tested on
* 2 - last version of Dynamo that this package was built against
* 1 - build instance incremented with each release

So for Dynamo 1.3 you want to install Archi-lab.net v. 2018.13.13 as that was probably the last version before I moved on to 2.0.

[2018-09-14 13:04] ksobon commented on #8467
@ramramps I think it has gotten better. I haven't noticed it lagging in 2.1. Thanks!

[2018-09-14 13:04] #8467 closed

[2018-09-14 15:18] sixtysecondrevit commented on #7153
![image](https://user-images.githubusercontent.com/15744724/45559119-d9e46400-b7fe-11e8-93ca-a66bd7a8447a.png)
Working as requested in 2.0.x releases.

[2018-09-14 15:43] sixtysecondrevit commented on #8211
Thanks for your feedback. As this is a Revit related issue, please re-open and link to the original issue here: https://github.com/DynamoDS/DynamoRevit/issues

[2018-09-14 15:43] #8211 closed

[2018-09-14 15:46] sixtysecondrevit commented on #6525
Thanks for your feedback. As this is a Revit related issue, please re-open and link to the original issue here: https://github.com/DynamoDS/DynamoRevit/issues

[2018-09-14 15:46] #6525 closed

[2018-09-14 15:48] sixtysecondrevit commented on #6515
Thanks for your feedback. As this is a Revit related issue, please re-open and link to the original issue here: https://github.com/DynamoDS/DynamoRevit/issues

[2018-09-14 15:48] #6515 closed

[2018-09-14 15:51] ksobon commented on #6525
@sixtysecondrevit I am not sure it's a good idea to close these issues and ask people to re-open them after 2.5 years of inactivity. If anything can you guys close them open again in DynamoRevit repo? Otherwise it's virtually a lock that people won't open them again.

[2018-09-14 15:54] sixtysecondrevit commented on #6525
This was something we discussed, but if we were to open the issue, the original owner is lost. The hope is that the original poster would re-evaluate if this was still an issue for them.

[2018-09-14 16:11] ksobon commented on #6525
@sixtysecondrevit ok so you are telling me that losing the owner of the issue, is more important than losing the issue itself? That sounds suspect. This is a valid request that @moethu made, and whether he wants to follow through with this long term, it should be retained.

Now, there might be some issues that are a little bit more vague like a bug that you all can't recreate and it really is up t

[2018-09-14 16:35] moethu commented on #6525
well, yes I see it's in the wrong repo, but I agree with @ksobon - asking people to reopen the issue might result in lost issues. anyway I'll create it in DRevit

[2018-09-14 16:36] moethu commented on #6525
but I certainly won't try to reproduce it again :)

[2018-09-14 17:10] sixtysecondrevit commented on #6525
Thanks for the comments @ksobon and @moethu. The feedback is very appreciated. Essentially , we are working to clear up some of these issues that fell through the cracks, so you will see some movement on these items. That being said, we are looking at auto migrating the Revit specific ones.

[2018-09-14 21:33] sixtysecondrevit commented on #8945
@heinrichboldt is this an issue with someone’s package? You might want to reach out to them directly by other means if that is the case. _(E.g. Dynamo forum, package’s github, etc)_

[2018-09-14 21:51] #7940 closed

[2018-09-17 15:03] #6429 closed

[2018-09-17 15:09] #5886 closed

[2018-09-17 15:11] #5570 closed

[2018-09-17 15:11] #5541 closed

[2018-09-17 15:14] #5098 closed

[2018-09-17 15:15] #4911 closed

[2018-09-17 15:16] #4772 closed

[2018-09-17 15:18] #4351 closed

[2018-09-17 15:22] #3942 closed

[2018-09-18 07:36] Arsany123 opened #9104 "Dynamo failure start up"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version
 1.3.3 /2.0.0
(Which version of Dynamo are you using? Go

[2018-09-18 13:21] #6549 closed

[2018-09-18 13:27] #6115 closed

[2018-09-18 13:28] #6082 closed

[2018-09-18 13:28] #6049 closed

[2018-09-18 13:29] #5972 closed

[2018-09-18 13:30] #5865 closed

[2018-09-18 13:30] #5826 closed

[2018-09-18 13:32] #5301 closed

[2018-09-18 13:32] #5064 closed

[2018-09-18 13:33] #4829 closed

[2018-09-18 13:36] #3418 closed

[2018-09-18 13:37] #3262 closed

[2018-09-18 13:37] #3067 closed

[2018-09-18 13:51] sixtysecondrevit commented on #9096
This seems better suited as a post on the forum rather than here. A search on the forum shows quite a few results of individuals trying to achieve similar results, https://forum.dynamobim.com/search?q=fbx.

[2018-09-18 13:51] #9096 closed

[2018-09-18 13:52] sixtysecondrevit commented on #9091
Closing as #9095 has more information for this same report.

[2018-09-18 13:52] #9091 closed

[2018-09-18 14:02] #8955 closed

[2018-09-18 14:27] #8897 closed

[2018-09-18 14:29] #8850 closed

[2018-09-18 15:02] #8402 closed

[2018-09-18 15:06] #8314 closed

[2018-09-18 15:10] #8215 closed

[2018-09-19 03:31] sixtysecondrevit commented on #8981
Is there anything I can do as a package author to help mitigate this? I created my nodes following the same structure present in Dynamo. 😬

[2018-09-19 08:47] MostafaElAyoubi opened #9106 "PreviewPinned is read only"
## Dynamo version

DynamoVisualProgramming.Core 2.0.1.5055

## Operating system

windows 10

## What did you do?

tried to set PreviewPinned attribute of nodes programmatically.  It says in the API documentation that it is get,set
![image](https://user-images.githubusercontent.com/20224923/45742001-3aa5df00-bbf9-11e8-9b72-b99cb4b9c119.png)

## What did you expect to see?

no issue

## What did you

[2018-09-19 14:28] sixtysecondrevit commented on #9106
I've been there as well! I wanted to make a view extension for enabling show/hide all but was halted when I saw that it was read-only. 😱

[2018-09-19 14:32] MostafaElAyoubi commented on #9106
ahaha those are the exact steps that led me here 😄 ..
I am no expert but looking at the source code it really looked like it should be get ,set!

[2018-09-19 15:38] #8945 closed

[2018-09-19 16:18] sixtysecondrevit commented on #8576
Similar to #8981, I plan on changing my namespace to fix this, but this is a huge change and a burden to do on my end. 😞 In short, I have to create a new migrations file for **every** node in Rhythm that was under the old namespace or else we are going to have a lot of unresolved nodes.

[2018-09-19 20:26] sixtysecondrevit commented on #8576
Rhythm version 2018.9.19 should resolve these issues.
![image](https://user-images.githubusercontent.com/15744724/45779341-fc6be800-bc17-11e8-90b7-dfeffa7ff350.png)
I just made my categories the plural version of the word. So category became categories, etc.
![image](https://user-images.githubusercontent.com/15744724/45779355-042b8c80-bc18-11e8-91fb-00c4ee163839.png)

[2018-09-20 02:06] aparajit-pratap commented on #8981
Tracked internally: https://jira.autodesk.com/browse/QNTM-5426

[2018-09-20 02:19] aparajit-pratap commented on #9095
@MarcinTata could you attach the script or describe the steps to reproduce this crash with the above packages installed.

[2018-09-20 10:28] MarcinTata commented on #9095
The script has some custom nodes and require another programm: Autodesk Roboto Stuructural Analysis.
How Optimo works is presented here https://www.youtube.com/watch?v=oc7znmsJ_vw
You set an amount of "population"(e.g 10) and number of iterations (runs of loopWhile)  and then the loop begins, generating new scores. So 10 x 4 should produce 40 scores.
Basically my scipt look the same, except fitnes

[2018-09-20 14:44] sixtysecondrevit commented on #8748
I confirmed that this is the case. I added a node called About to Rhythm to guarantee the icon show up since About will be at the top.

[2018-09-20 14:54] sixtysecondrevit commented on #8507
For my DYFs I actually did a string replace on the text of the file for the new `Flatten` method. Just wanted to share. 😄

[2018-09-20 15:00] #8239 closed

[2018-09-20 15:02] #8187 closed

[2018-09-20 15:03] #8118 closed

[2018-09-20 15:19] sixtysecondrevit commented on #7992
I like this suggestion @erfajo. Even better would be a method to toggle it on and off. :) This is also similar to what I was trying to achieve with my view extension.
![20180719-packageusageex](https://user-images.githubusercontent.com/15744724/45828626-3ee40200-bcb6-11e8-8951-7de1097a55cb.gif)

[2018-09-20 15:20] #7921 closed

[2018-09-20 15:32] #7781 closed

[2018-09-20 15:33] #7774 closed

[2018-09-20 15:36] #7725 closed

[2018-09-20 15:38] #7603 closed

[2018-09-20 15:45] #7556 closed

[2018-09-20 16:05] #7498 closed

[2018-09-20 16:08] #7431 closed

[2018-09-20 16:09] #7423 closed

[2018-09-20 16:10] #7358 closed

[2018-09-20 16:11] #7206 closed

[2018-09-20 16:12] #7200 closed

[2018-09-20 16:13] #6720 closed

[2018-09-20 16:14] #6719 closed

[2018-09-20 16:17] #6574 closed

[2018-09-20 16:55] mjkkirschner commented on #9106
they don't auto collapse, the state is not serialized or deserialized to the file any longer, it's definitely possible, but it should be set from the viewModel.

https://github.com/DynamoDS/Dynamo/blob/master/src/DynamoCoreWpf/ViewModels/Core/NodeViewModel.cs#L76

[2018-09-20 17:47] MostafaElAyoubi commented on #9106
Gotcha, thanks!! :)

[2018-09-20 18:27] erfajo commented on #7992
I still think this issue should be handled. However, if Autodesk doesn’t think this is an issue (as many other user requests) to handle, then I don’t care. And if Autodesk doesn’t care that users are being left with “red” nodes without any further help, well then it must be accepted as any other of all the issues Autodesk has decided not to act upon.

To top this problem I have coded some nodes na

[2018-09-20 18:31] sixtysecondrevit commented on #7992
Understand your frustration @erfajo as my extension was born out of similar frustrations. That being said, you should have noticed that this task has been relabeled. We are going through all of the issues and doing a "triage" if you will. Has Autodesk been great at taking care of **all** of the issues on here so far? Well, no. But that is something we are working to fix now.

[2018-09-20 18:34] sixtysecondrevit commented on #9106
Very nice! So we can close this then?

[2018-09-20 18:42] erfajo commented on #7992
There are many things I am discontent with when it comes to the behavior of Autodesk. Once was Dynamo the thing that saved Autodesk products from being replaced in the educational institution I am working on. These honeymoon days are long gone. But then again, what I represent is only students having the software for free. That we are one of the leading institutions in Denmark and what our student

[2018-09-20 18:54] MostafaElAyoubi commented on #9106
Yes thanks a lot both of you

[2018-09-21 19:06] yuvalrakavy opened #9111 "Got internal error when trying to use ScopeIf node"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

(Which version of Dynamo are you using? Go to Help > Abo

[2018-09-24 08:00] EllouzeMustapha opened #9114 "Duplicate groups and notes in custom nodes"
https://forum.dynamobim.com/t/duplicate-groups-and-notes/26255

## Dynamo version

2.0.1

## Operating system

Windows 10 Pro

## What did you do?

Created groups (CTRL + G) and notes (CTRL + W) inside a custom node.
Saving the node.
Closing the corresponding tab (.dyf).
Re-opening the custom node by double-clicking on one instance on the graph (.dyn).

## What did you expect to see?

The same nod

[2018-09-24 11:11] ThomasMahon commented on #9097
Hi @mjkkirschner

Is there any update on this?

[2018-09-24 14:19] Olesen666 opened #9115 "Cannot load new libraries into Dynamo"
## Dynamo version

Dynamo Core: 2.1.0.6255
Dynamo Revit 2.1.0.6256

## Operating system

Windows 10.

## What did you do?

Clicked "File" -> "Import Library" and navigated to the package .dll

## What did you expect to see?

Expected to be able to import libraries e.g. packages into dynamo if these are not loaded automatically.

## What did you see instead?

An error message saying "Failed to load

[2018-09-24 16:55] mjkkirschner commented on #9097
Hi @ThomasMahon no update yet.

[2018-09-24 17:17] mjkkirschner commented on #8796
so I'm going to open this then. 😄

[2018-09-24 17:18] mjkkirschner commented on #8796
@Racel @johnpierson - should we add a tracked label for these issues which we want to mark as tracked in jira?

[2018-09-25 04:30] andydandy74 opened #9117 "Node to code: Backslashes in strings do not get escaped"
## Dynamo version
2.0.1 stable

## Operating system
Windows 10

## What did you do?
Ran node to code on a string node that contained a string that ended with a backslash

## What did you expect to see?
An error-free code block

## What did you see instead?
Code block turned red, since backslash was not escaped upon conversion, producing a ```Invalid Associative_FunctionalStatement``` error.
![graf

[2018-09-26 12:09] andydandy74 opened #9119 "Code blocks: Syntax highlighting issues in multiline strings"
## Dynamo version
2.0.1

## Operating system
Windows 10

## What did you do?
Typed a multiline string in a code block

## What did you expect to see?
The entire string highlighted in the same color (brown).

## What did you see instead?
Subsequent lines are coloured black with numbers contained in those lines highlighted in blue.
![grafik](https://user-images.githubusercontent.com/3014437/46078770

[2018-09-26 12:21] andydandy74 opened #9120 "Node to code: Double quotes in strings do not get escaped"
## Dynamo version
2.0.1

## Operating system
Windows 10

## What did you do?
Using node to code, I tried to convert a string node that contained double quotes.

## What did you expect to see?
An error-free code block

## What did you see instead?
Code block turned red, since backslash was not escaped upon conversion, producing a ```';' expected``` error.
See also #9117
![grafik](https://user-image

[2018-09-26 18:37] andydandy74 commented on #9117
I just realized that any backslash anywhere in a string node will trigger the same error (with the exception of standard escape sequences like ```\a```, ```\b```, ```\f```, ```\n```,  ```\r```, ```\t```, ```\v```and ```\0``` - which don't trigger the error but will be converted to line breaks, tabs etc.).

[2018-09-27 08:18] songguoer22 opened #9126 "My Dynamo can‘t save files"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

(Which version of Dynamo are you using? Go to Help > Abo

[2018-09-27 12:28] johnpierson commented on #9126
Hi there @songguoer22, we are going to need some information on this. The submission above is pureley the placeholder text.

[2018-09-27 17:04] johnpierson commented on #9115
@Olesen666, I noticed that you have the package loaded in the package directory already. Is it not loading as expected on Dynamo opening?

[2018-09-27 17:16] johnpierson commented on #9073
I would say that it should get added to the wiki. This sounds like a rather advanced concept for the primer?

The ZeroTouch section already mentions some of the considerations with Disposing as well.
https://github.com/DynamoDS/Dynamo/wiki/Zero-Touch-Plugin-Development

[2018-09-27 17:20] johnpierson commented on #8858
Interestingly enough, this is kind of a neat OOTB way of creating an empty sheet. 😁
![image](https://user-images.githubusercontent.com/15744724/46163058-563b6600-c247-11e8-8e31-2fb73ce8d36e.png)

[2018-09-27 17:28] #8565 closed

[2018-09-27 17:30] johnpierson commented on #8560
Closing this as it is Revit related. If this is still a wishlist item for you please open on the correct repo. https://github.com/DynamoDS/DynamoRevit/issues

[2018-09-27 17:30] #8560 closed

[2018-09-27 19:29] Racel commented on #8796
@johnpierson Thanks for adding the Tracked label!

[2018-09-28 06:05] songguoer22 commented on #9126
Dynamo version：2.1 ；Operating system：Win10；Revit 2017

I want to use Dynamo to model

[2018-09-28 12:54] johnpierson commented on #9115
Odd, and have you published the package locally while including the DLL "As Node Library"

[2018-09-28 12:56] johnpierson commented on #9126
I see you opened this on the Revit issues page as well. https://github.com/DynamoDS/Dynamo/issues/9126
Going to close this one as that has more info.

[2018-09-28 12:56] #9126 closed

[2018-10-01 09:46] Olesen666 commented on #9115
Hi John, you hit the nail on the head, the package was published (locallay) prior to the existence of the ZT nodes. I've just tried publishing a new version with the ".dll" as node library (btw that function was well hidden) but not it is loaded pr. default (awesome) Thanks a lot.

The original issue was caused by the attempt of coding a "unzip" node which for some reason "broke" the package... So

[2018-10-01 09:46] #9115 closed

[2018-10-01 13:05] johnpierson commented on #767
Closing as this is an older topic and is achievable with custom packages available. If this is still a wishlist item for Dynamo for Revit, please open on the D4R Issues page. https://github.com/DynamoDS/DynamoRevit/issues

[2018-10-01 13:05] #767 closed

[2018-10-01 13:06] #1641 closed

[2018-10-01 13:07] #1521 closed

[2018-10-01 13:10] #2072 closed

[2018-10-01 13:17] #3797 closed

[2018-10-01 13:18] #4390 closed

[2018-10-03 11:04] jagostinhoCT opened #9143 "Crashes when creating list using two other lists resulting from an If statement"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.3.3

## Operating system

Windows 7

## What did you d

[2018-10-03 14:28] #6047 closed

[2018-10-03 14:31] johnpierson commented on #6119
I can confirm that this is still an issue in Dynamo 2.0.x. The easiest way to help mitigate this could be to document on the wiki here, https://github.com/DynamoDS/Dynamo/wiki/Zero-Touch-Plugin-Development

[2018-10-03 14:38] #4776 closed

[2018-10-03 14:43] #7827 closed

[2018-10-03 14:49] johnpierson commented on #3109
![image](https://user-images.githubusercontent.com/15744724/46418501-21b52780-c6e9-11e8-8a47-46d83df0f8bd.png)
Working as expected in 1.3.3 with `AdaptiveComponent.Locations` node

[2018-10-03 14:49] #3109 closed

[2018-10-03 14:52] johnpierson commented on #2345
`FamilyType.ByGeometry` was added in 1.2.3.
![image](https://user-images.githubusercontent.com/15744724/46418712-938d7100-c6e9-11e8-9efb-f7b122274270.png)
Image Source: https://twitter.com/ZachKron/status/831877063548293121

[2018-10-03 14:52] #2345 closed

[2018-10-03 14:54] johnpierson commented on #2086
![image](https://user-images.githubusercontent.com/15744724/46418884-dea78400-c6e9-11e8-9bca-0aff9101b2d5.png)

[2018-10-03 14:54] #2086 closed

[2018-10-03 14:58] #5704 closed

[2018-10-03 15:07] johnpierson commented on #5244
Reproducable in 1.3.3 and 2.0.1
![20181003-5244](https://user-images.githubusercontent.com/15744724/46419548-60e47800-c6eb-11e8-9e75-06644288f65b.gif)

[2018-10-03 15:08] #4970 closed

[2018-10-03 15:29] johnpierson commented on #4822
![image](https://user-images.githubusercontent.com/15744724/46421200-e0c01180-c6ee-11e8-9d49-d8f6eae95979.png)
Persists in 2.0.x

[2018-10-03 15:38] #7465 closed

[2018-10-03 15:42] #3562 closed

[2018-10-03 15:50] #6259 closed

[2018-10-03 15:51] #1936 closed

[2018-10-03 16:09] #998 closed

[2018-10-03 16:17] johnpierson commented on #9143
@jagostinhoCT Going to need some more information on this. Also, are you developing a ZeroTouch node that is interacting with Revit? If so, this issue would need to be created in the correct repo at this [location](https://github.com/DynamoDS/DynamoRevit/issues).

[2018-10-03 16:51] jagostinhoCT commented on #9143
@johnpierson I am a basic Dynamo user taking my first steps in DS.
I do not know what a ZeroTouch node is.

I got the error when I created a single node to contain these lines below.

DOS=DesOpSetIsNull=DSCore.Object.IsNull(DesOpSet<1L>)?"Main Model":DesOpSet.GetParameterByValueName("Name");

DO=DesOpSetIsNull=DSCore.Object.IsNull(DesOpSet<1L>)?"Main Model":DesOpName.GetParameterByValueName("Name"

[2018-10-03 16:53] johnpierson commented on #9143
Are you creating the code block from scratch or is this via Node2Code? Screenshots and sample files would also help.

[2018-10-03 17:11] jagostinhoCT commented on #9143
@johnpierson was trying to replace the two CBs on the right by it.
Graph also attached.
The goal was to extract DO info from the models into Excel.
[Design Analisys_v2.06.dyn.zip](https://github.com/DynamoDS/Dynamo/files/2442992/Design.Analisys_v2.06.dyn.zip)

![image](https://user-images.githubusercontent.com/43812310/46426804-85664180-c737-11e8-938d-e4872dd62bf7.png)

[2018-10-03 18:33] andydandy74 commented on #965
@johnpierson Glad that you're re-tagging this old issue. Should I perhaps reopen it on the DyanmoRevit repo?

[2018-10-03 18:35] johnpierson commented on #965
Hi @andydandy74! Yes, that would be great as it is a Revit-Centric item. 🙂 Thanks!

[2018-10-03 18:37] johnpierson commented on #9143
@jagostinhoCT, I see. I would go ahead and try to post this as a [Dynamo Forum](https://forum.dynamobim.com/) post. Since it is dealing with custom nodes, there is a good chance someone else has run into this before. If that does not work out, please repost on the Dynamo Revit page [here](https://github.com/DynamoDS/DynamoRevit/issues).

[2018-10-03 18:37] #9143 closed

[2018-10-03 20:30] #965 closed

[2018-10-04 13:37] johnpierson commented on #355
This is still a wishlist item for sure, (updated the labels). Would love a node that utilizes the [PickObjects ](https://apidocs.co/apps/revit/2018.2/e5a547a2-3cf5-7638-2daa-ea85b4d3de2d.htm) method. It would be great to have one for filtered selections, and one just for picking any objects with a finish button in the contextual ribbon.

I actually added a filtered pick objects method to Rhythm qu

[2018-10-04 13:49] johnpierson commented on #494
Going ahead and closing this as it's been a while. There are still no OOTB nodes in D4R to do this. However, we do have nodes available in Clockwork for Dynamo 1.x and Orchid that do this.

If someone feels this is worth reopening, we might want to do so on the [Revit issues](https://github.com/DynamoDS/DynamoRevit/issues) page.

[2018-10-04 13:49] #494 closed

[2018-10-04 13:54] johnpierson commented on #956
Closing as range functionality was moved to code blocks a while back which allows the preview bubble.
![image](https://user-images.githubusercontent.com/15744724/46478657-af0c8080-c7aa-11e8-9755-38a76a578ec4.png)

[2018-10-04 13:54] #956 closed

[2018-10-04 14:47] #1009 closed

[2018-10-04 14:50] #1977 closed

[2018-10-04 14:57] #1975 closed

[2018-10-04 14:59] johnpierson commented on #1777
Referenced in #355

[2018-10-04 14:59] #1777 closed

[2018-10-04 15:02] #1583 closed

[2018-10-04 15:04] #1195 closed

[2018-10-04 15:11] johnpierson commented on #2541
This is still a functionality that is missing in Revit 2019 + Dynamo 2.0.1. Adding new labels to prioritize.

[2018-10-04 15:18] johnpierson commented on #2447
Pretty sure this is resolved with the addition of Element.GetLocation. Feel free to reopen on the [DynamoRevit Issues](https://github.com/DynamoDS/DynamoRevit/issues) page.

[2018-10-04 15:18] #2447 closed

[2018-10-04 15:23] #2129 closed, assigned to lukechurch

[2018-10-04 15:25] #2002 closed, assigned to mjkkirschner

[2018-10-04 15:30] #3217 closed

[2018-10-04 15:33] #3087 closed

[2018-10-04 15:37] johnpierson commented on #3013
Closing this as it has been a while.
Also, it seems both of these issues were most likely resolved with addition of, `AdaptiveComponent.Locations` and `Element.GetLocation`.

If this is still an issue for you, feel free to reopen on the [Revit Issues](https://github.com/DynamoDS/DynamoRevit/issues) page.

[2018-10-04 15:37] #3013 closed

[2018-10-04 15:39] #2985 closed

[2018-10-04 15:44] johnpierson commented on #3436
Definitely still a wishlist item in 2.0.1
![image](https://user-images.githubusercontent.com/15744724/46486008-15e56600-c7ba-11e8-8a6b-8ff52e1ac01d.png)

[2018-10-04 15:47] johnpierson commented on #3439
I definitely would appreciate this functionality too! Here we are 4 years later and the Revit API still does not allow this. Turns out there is a Revit Idea for it here, https://forums.autodesk.com/t5/revit-ideas/create-ceilings-via-dynamo-or-api/idi-p/6618383. I suggest voting on that idea to see if we can make it happen. I will go ahead and leave this open for tracking.

[2018-10-04 15:54] johnpierson commented on #3862
Still an issue in Revit 2019 + Dynamo 2.0.1

[2018-10-04 15:57] #3765 closed

[2018-10-04 16:19] johnpierson commented on #3750
Closing this as it is achievable by other means.
![image](https://user-images.githubusercontent.com/15744724/46488074-ebe27280-c7be-11e8-8a6d-851885fa6daa.png)
If this is still an issue for you, feel free to open on the [Revit issues ](https://github.com/DynamoDS/DynamoRevit/issues)page again.

[2018-10-04 16:19] #3750 closed

[2018-10-04 16:36] johnpierson commented on #4014
Transaction examples here. https://forum.dynamobim.com/t/naming-dynamo-transactions-in-revit/21149/6 and here https://forum.dynamobim.com/t/name-a-transaction/23990

[2018-10-04 16:36] #4014 closed

[2018-10-04 16:36] ksobon commented on #2985
@johnpierson this was actually fixed here if I am not mistaken. https://github.com/DynamoDS/DynamoRevit/pull/1909 Thanks for losing this.

[2018-10-04 16:37] johnpierson commented on #2985
Very cool. Thanks for referencing the PR @ksobon

[2018-10-04 16:39] johnpierson commented on #3903
Referenced on #355

[2018-10-04 16:39] #3903 closed

[2018-10-04 16:45] #5473 closed

[2018-10-04 16:46] #5398 closed

[2018-10-04 16:46] #5310 closed

[2018-10-04 16:53] johnpierson commented on #5217
Correct me if I am wrong, but I believe this was solved with the addition of `Isolate Selected Geometry`.
![image](https://user-images.githubusercontent.com/15744724/46489747-73ca7b80-c7c3-11e8-9730-d3c10ea3f363.png)

Also, it appears @andydandy74 fixed it himself in Dynamonito. 🙂
![image](https://user-images.githubusercontent.com/15744724/46489826-ad9b8200-c7c3-11e8-8bba-8c29152c9baa.png)

Going

[2018-10-04 16:53] #5217 closed

[2018-10-04 16:53] #5226 closed

[2018-10-04 16:55] epeter- commented on #4014
@johnpierson cleaning up the house;-)
this topic like the others from 2015 are "hopefully" resolved since ages!

[2018-10-04 16:57] johnpierson commented on #4014
@epeter- Definitely what I am up to! And I sure hope they are, but I am still investigating them as I go through to get this under control. You would be surprised how may wishlist items from years ago are still on my own wishlist as well. 😁

[2018-10-04 16:58] #5184 closed

[2018-10-04 16:59] johnpierson commented on #5279
I might be wrong, but this might not be possible to add back with the new library? Closing for now. cc. @Racel

[2018-10-04 16:59] #5279 closed

[2018-10-04 17:01] #5898 closed

[2018-10-04 17:03] johnpierson commented on #5731
Closing as this functionality is referenced in other issues.

[2018-10-04 17:03] #5731 closed

[2018-10-04 17:04] #5640 closed

[2018-10-04 17:05] #5517 closed

[2018-10-04 17:10] #6190 closed

[2018-10-04 17:11] johnpierson commented on #6069
Closing as Lunchbox is now provided as a standalone installer.

[2018-10-04 17:11] #6069 closed

[2018-10-04 17:13] johnpierson commented on #6580
Use of the translation nodes from Dynamo Studio is very high on my priority list as well! Adding new labels to this to give this some life.

[2018-10-04 17:17] #6674 closed

[2018-10-04 17:32] #7316 closed

[2018-10-04 17:34] #7306 closed

[2018-10-04 17:36] #7616 closed

[2018-10-04 17:36] #7606 closed

[2018-10-04 17:39] #7733 closed

[2018-10-04 17:40] andydandy74 commented on #6257
Looks like this is getting fixed here: https://github.com/DynamoDS/Dynamo/pull/9145

[2018-10-04 17:43] #7891 closed

[2018-10-04 17:44] andydandy74 commented on #5217
@johnpierson No need to reopen. I made the view extension because I wanted more options than Ctrl + I but completely forgot to close the issue here.

[2018-10-04 17:48] andydandy74 commented on #445
@johnpierson Feel free to cull this one. There's a node for this in Clockwork.

[2018-10-04 17:48] #445 closed

[2018-10-04 17:56] andydandy74 commented on #3261
@johnpierson Feel free to cull this one. I've kinda solved this one for myself:
https://github.com/andydandy74/Monito/wiki/Tools-Overview#package-directories

[2018-10-04 17:57] johnpierson commented on #3261
I had a feeling you did . 🙂

[2018-10-04 17:57] #3261 closed

[2018-10-05 18:08] radumg opened #9148 "Meta : enable issue templates on this repo"
The repo current has only 1, static issue template. Whilst very useful, there's a few limitations : _(non-scientific evidence below...)_

- users only see the template text after clicking the new **issue** -> things that shouldn't be an issue (`How do I...?`) will likely creep in as users won't abandon the issue form and press the bright & tempting green `Submit new issue` button.
![image](https:/

[2018-10-05 18:32] andydandy74 commented on #9148
Totally agree, I've started using multiple issue templates on my repos, too. Just takes a couple of minutes to set it up.

[2018-10-05 18:34] johnpierson commented on #9148
Love it. Let me get some of the thoughts from the team and get this going. cc: @Racel @mjkkirschner @jnealb

[2018-10-05 21:27] radumg commented on #5909
Had a different idea to fix this : pre-fill a new (empty) issue on the Github repo with the crash text, no copy-pasting required.

See an example implementation in #9150 @andydandy74 @Racel

[2018-10-05 22:45] Drafter1967 opened #9151 "Library Quit Functioning"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version
2.01
(Which version of Dynamo are you using? Go to Help >

[2018-10-06 20:15] #8917 closed

[2018-10-09 12:29] ksobon commented on #8668
@Password2501 Were you able to reproduce this issue ever again? It's one of these things that no one else can re-create.

@johnpierson I vote to close this down as un-reproducible. Leave it to the user to provide a **sample file** otherwise it's impossible to investigate.

[2018-10-09 12:30] #8668 closed

[2018-10-09 12:31] johnpierson commented on #9151
@Drafter1967 Can you drop some screenshots on here to let us see what happens? Does the library load and you simply cannot select?

[2018-10-09 12:33] johnpierson commented on #9039
@Amoursol , feel free to reopen if this comes up again.

[2018-10-09 12:33] #9039 closed

[2018-10-09 12:35] johnpierson commented on #9021
@erfajo , I have noticed similar things with add-in manifests for Revit add-ins. Comments seemed to not be allowed as it would cause weird issues.

[2018-10-09 12:55] Drafter1967 commented on #9151
Here is a screen show with explanation that you have asked for.

Kevin Billings
[o]817.377.2969
www.huckabee-inc.com
Committed to the success of all students and the profound impact it has on all of us
From: John <notifications@github.com>
Sent: Tuesday, October 9, 2018 7:31 AM
To: DynamoDS/Dynamo <Dynamo@noreply.github.com>
Cc: Kevin Billings <kbillings@huckabee-inc.com>; Mention <mention@noreply

[2018-10-09 13:30] erfajo commented on #9021
I hold a copy of the XML file I use when maintaining my migration.xml file, I then let an automatically function remove all the comments in the version I publish. It is a kind of irritating that I need to do this, but it is doable.
However, I still hope that it will be implemented since I hope that also the team could benefit from having the opportunity to add comments in the files they need in th

[2018-10-09 13:50] johnpierson commented on #9021
Nice! Glad that you have a temporary workaround. Let me get this item added to the backlog and see what the team thinks. 👍

[2018-10-09 13:51] johnpierson commented on #9151
@Drafter1967 looks like the image didn't come through on the "reply with email" option.

[2018-10-09 13:55] Drafter1967 commented on #9151
I have hit reply and have attached the PDF file

Kevin Billings
[o]817.377.2969
www.huckabee-inc.com
Committed to the success of all students and the profound impact it has on all of us
From: John <notifications@github.com>
Sent: Tuesday, October 9, 2018 8:51 AM
To: DynamoDS/Dynamo <Dynamo@noreply.github.com>
Cc: Kevin Billings <kbillings@huckabee-inc.com>; Mention <mention@noreply.github.com>
Sub

[2018-10-09 13:59] johnpierson commented on #9151
PDF or image, the attachment did not come through. Sorry about that man. Going to need you to include that for us to have more info on the issue.

That being said, here is another issue that had a similar problem (from what it sounds like)
https://github.com/DynamoDS/Dynamo/issues/8768

[2018-10-09 14:03] Drafter1967 commented on #9151
I have attached the image to this email twice.  Your Github pop hub keeps coming up and wanting me to use it.  There is no option to attach an image through that program.  Please use an email address that will allow me to send you an image.  We send images all the time and do not have this problem.

Kevin Billings
[o]817.377.2969
www.huckabee-inc.com
Committed to the success of all students and th

[2018-10-09 14:07] johnpierson commented on #9151
I believe that for typical email interaction. But it appears your GitHub account was just created so that information seems a little irrelevant.

Please email the attachment to sixtysecondrevit@gmail.com and I will attach here for you. (FYI: I am using Firefox on Windows and uploading works fine from browser(

[2018-10-09 14:10] johnpierson commented on #9151
Information about issue:
![image](https://user-images.githubusercontent.com/15744724/46675031-d09aad00-cb9a-11e8-9523-670912286f9e.png)

[2018-10-09 15:27] Drafter1967 commented on #9151
Yes, it is ivanti Antivirus

Kevin Billings
[o]817.377.2969
www.huckabee-inc.com
Committed to the success of all students and the profound impact it has on all of us
From: Michael Kirschner <notifications@github.com>
Sent: Tuesday, October 9, 2018 10:25 AM
To: DynamoDS/Dynamo <Dynamo@noreply.github.com>
Cc: Kevin Billings <kbillings@huckabee-inc.com>; Mention <mention@noreply.github.com>
Subject:

[2018-10-09 15:37] mjkkirschner commented on #9151
Would you mind disabling temporarily to see if the problem is solved?

[2018-10-09 15:43] Drafter1967 commented on #9151
I will have to see if IT will do that.  Myself, the end user, is not allowed to do that.

Kevin Billings
[o]817.377.2969
www.huckabee-inc.com
Committed to the success of all students and the profound impact it has on all of us
From: Michael Kirschner <notifications@github.com>
Sent: Tuesday, October 9, 2018 10:38 AM
To: DynamoDS/Dynamo <Dynamo@noreply.github.com>
Cc: Kevin Billings <kbillings@huck

[2018-10-09 16:16] johnpierson commented on #8101
Closing this as it was moved to the Revit repo. It also seems that this needs to go through the "Revit Ideas" route.

[2018-10-09 16:16] #8101 closed

[2018-10-09 16:17] johnpierson commented on #8100
@Amoursol , Do you think you could open a Revit idea for all this really great Dynamo player ideas you have? If you already have, feel free to share the link here.

Similar to: https://github.com/DynamoDS/DynamoRevit/issues/1808

[2018-10-09 16:17] johnpierson commented on #8099
@Amoursol , Do you think you could open a Revit idea for all this really great Dynamo player ideas you have? If you already have, feel free to share the link here.

Similar to: https://github.com/DynamoDS/DynamoRevit/issues/1808

[2018-10-09 16:17] #8099 closed

[2018-10-09 16:19] johnpierson commented on #8045
This is similar to the issue radu referenced here, https://github.com/DynamoDS/Dynamo/issues/7274. Closing this as it is being tracked there.

[2018-10-09 16:19] #8045 closed

[2018-10-09 16:28] #8044 closed

[2018-10-09 16:31] johnpierson commented on #7982
Closed as this is tracked on the issue Andreas mentioned.

[2018-10-09 16:31] #7982 closed

[2018-10-09 16:32] johnpierson commented on #7944
Still persists in 2.0.x

[2018-10-09 16:35] Drafter1967 commented on #7944
John,

Will you please remove me from these email strings?  I seemed to somehow gotten attached to multiple strings of emails and am receiving emails every 30 seconds or so.  LOL

Thank you,

Kevin Billings
[o]817.377.2969
www.huckabee-inc.com
Committed to the success of all students and the profound impact it has on all of us
From: John <notifications@github.com>
Sent: Tuesday, October 9, 2018 11

[2018-10-09 16:37] johnpierson commented on #7798
@ksobon is this how you went ahead and solved this? http://archi-lab.net/encapsulating-addins-with-costura-fody/

[2018-10-09 16:39] #7762 closed

[2018-10-09 16:40] johnpierson commented on #7762
Closing as this issue has not seen a lot of action. If this issue still persists, please feel free to reopen.

[2018-10-09 17:36] ksobon commented on #7798
@johnpierson that's the idea, but I haven't tried Mandrill yet. I will give it a go, and report back.

[2018-10-10 03:37] mjkkirschner opened #9163 "ZeroTouch import exception doesn't make it to dynamo console - so is useless."
https://github.com/DynamoDS/Dynamo/blob/master/src/Engine/ProtoCore/FFI/CLRDLLModule.cs#L284

we should do at least two things:

1. Validity Assert simply logs to the console, we should see if we can use`dynamoLogger` so the message is actually present in the dyanmoConsole for users ( we could also log a` notification`!)
2. send more info to the log/notification - the `SuppressImport` method has v

[2018-10-10 12:39] johnpierson commented on #2211
This seems doable with the new Dictionary functionality in 2.0.x
![image](https://user-images.githubusercontent.com/15744724/46736805-3187bb00-cc57-11e8-8db0-2ad3b18c472c.png)

[2018-10-10 12:39] #2211 closed

[2018-10-10 12:44] johnpierson commented on #3546
Closing this as it is available in Wombat package. If this is still a feature request for you as an OOTB node, please open on the [Revit issues](https://github.com/DynamoDS/DynamoRevit/issues) page.

[2018-10-10 12:44] #3546 closed

[2018-10-10 12:58] #6632 closed

[2018-10-10 12:59] #6898 closed

[2018-10-10 13:01] johnpierson commented on #6845
Still persists in 2.0.1

[2018-10-10 13:05] johnpierson commented on #7268
Closing this as the provided file is working as expected in 2.0.1. If this is still an issue for you, feel free to reopen or create an update issue.

[2018-10-10 13:05] #7268 closed

[2018-10-10 13:05] #7232 closed

[2018-10-10 13:06] johnpierson commented on #7207
How did  this work out @ksobon ?

[2018-10-10 14:33] johnpierson commented on #9114
Tracked internally as QNTM-5544

[2018-10-11 17:11] ksobon commented on #7798
@johnpierson the answer is no. sorry mate, this particular issue still persists. I also realized that fody is not a solution here by looking at their source code. it appears that they first check if assembly was loaded already, and only then do they look for assemblies in the local resources that were embedded. That kind of sucks. I thought they were able to encapsulate that context to only use em

[2018-10-11 17:13] mjkkirschner commented on #7798
@kronz @Dewb fyi

[2018-10-12 07:10] MostafaElAyoubi opened #9171 "Using ReadyParams.CurrentWorkspaceChanged Event messes up connectors and CodeBlocks"
## Dynamo version

2.0.1

## Operating system

Widows 10

## What did you do?

Used the ReadyParams.CurrentWorkspaceChanged Event to scan the nodes in the workspace at the opening of the .dyn and make sure all default values are activated.
Here's the code:

[code]

## What did you expect to see?

Everything works, except for the fact that there is a glitch with the connectors and codeblocks. Selec

[2018-10-12 07:32] MostafaElAyoubi commented on #9171
Ok I just fixed the connectors part of the problem by using the IDynamoModel.WorkspaceOpening Event :

            var ViMo = p.DynamoWindow.DataContext as DynamoViewModel;
            IDynamoModel m = ViMo.Model;
            m.WorkspaceOpening += (str) =>
etc.

But the codeblocks still won't load normally.

[2018-10-12 13:27] #8858 closed, assigned to nobody

[2018-10-12 13:28] ColinDayOrg commented on #8548
This issue has been moved to the DynamoRevit repo (#2148).

[2018-10-12 13:28] #8548 closed

[2018-10-12 13:31] ColinDayOrg commented on #8030
This issue has been moved to the DynamoRevit repo (#2150).

[2018-10-12 13:31] #8030 closed

[2018-10-12 13:33] ColinDayOrg commented on #7297
This issue has been moved to the DynamoRevit repo (#2151).

[2018-10-12 13:33] #7297 closed

[2018-10-12 13:34] ColinDayOrg commented on #6975
This issue has been moved to the DynamoRevit repo (#2152).

[2018-10-12 13:34] #6975 closed

[2018-10-12 13:35] ColinDayOrg commented on #6954
This issue has been moved to the DynamoRevit repo (#2153).

[2018-10-12 13:35] #6954 closed

[2018-10-12 13:38] ColinDayOrg commented on #6551
This issue has been moved to the DynamoRevit repo (#2154).

[2018-10-12 13:38] #6551 closed

[2018-10-12 13:40] ColinDayOrg commented on #6493
This issue has been moved to the DynamoRevit repo (#2155).

[2018-10-12 13:40] #6493 closed

[2018-10-12 13:41] ColinDayOrg commented on #6434
This issue has been moved to the DynamoRevit repo (#2156).

[2018-10-12 13:41] #6434 closed

[2018-10-12 13:42] ColinDayOrg commented on #6311
This issue has been moved to the DynamoRevit repo (#2157).

[2018-10-12 13:42] #6311 closed

[2018-10-12 13:43] ColinDayOrg commented on #6272
This issue has been moved to the DynamoRevit repo (#2158).

[2018-10-12 13:43] #6272 closed

[2018-10-12 13:43] ColinDayOrg commented on #6189
This issue has been moved to the DynamoRevit repo (#2159).

[2018-10-12 13:43] #6189 closed

[2018-10-12 13:45] ColinDayOrg commented on #5850
This issue has been moved to the DynamoRevit repo (#2160).

[2018-10-12 13:45] #5850 closed

[2018-10-12 13:46] ColinDayOrg commented on #5865
This issue has been moved to the DynamoRevit repo (#2161).

[2018-10-12 13:47] ColinDayOrg commented on #5850
This issue has been moved to the DynamoRevit repo (#2162).

[2018-10-12 13:51] ColinDayOrg commented on #5636
This issue has been moved to the DynamoRevit repo (#2163).

[2018-10-12 13:51] #5636 closed

[2018-10-12 13:52] ColinDayOrg commented on #5604
This issue has been moved to the DynamoRevit repo (#2164).

[2018-10-12 13:52] #5604 closed

[2018-10-12 13:52] PeterAvsec commented on #5604
Bonjour, c'est peter.
L'adresse peter.avsec@cartocad.fr est protégée des courriers indésirables par SpamWars.
Pour que vos messages me soient transmis, veuillez répondre à ce message (bouton "Répondre") en tapant n'importe où dans le texte de la réponse le code ci-dessous :
J  E  R      E     D      
(tapez les cinq lettres sans les espaces blancs)
Vous n'aurez à effectuer cette opération qu'une s

[2018-10-12 13:53] ColinDayOrg commented on #5573
This issue has been moved to the DynamoRevit repo (#2165).

[2018-10-12 13:53] #5573 closed

[2018-10-12 13:54] ColinDayOrg commented on #5524
This issue has been moved to the DynamoRevit repo (#2166).

[2018-10-12 13:54] #5524 closed

[2018-10-12 13:55] ColinDayOrg commented on #5296
This issue has been moved to the DynamoRevit repo (#2167).

[2018-10-12 13:55] #5296 closed

[2018-10-12 13:56] ColinDayOrg commented on #5237
This issue has been moved to the DynamoRevit repo (#2168).

[2018-10-12 13:56] #5237 closed

[2018-10-12 13:57] ColinDayOrg commented on #5005
This issue has been moved to the DynamoRevit repo (#2169).

[2018-10-12 13:57] #5005 closed

[2018-10-12 13:59] ColinDayOrg commented on #4929
This issue has been moved to the DynamoRevit repo (#2170).

[2018-10-12 13:59] #4929 closed

[2018-10-12 14:00] ColinDayOrg commented on #4828
This issue has been moved to the DynamoRevit repo (#2171).

[2018-10-12 14:00] #4828 closed

[2018-10-12 14:01] ColinDayOrg commented on #4767
This issue has been moved to the DynamoRevit repo (#2172).

[2018-10-12 14:01] #4767 closed

[2018-10-12 14:01] ColinDayOrg commented on #4544
This issue has been moved to the DynamoRevit repo (#2173).

[2018-10-12 14:01] #4544 closed

[2018-10-12 14:02] ColinDayOrg commented on #4496
This issue has been moved to the DynamoRevit repo (#2174).

[2018-10-12 14:02] #4496 closed

[2018-10-12 14:03] ColinDayOrg commented on #4413
This issue has been moved to the DynamoRevit repo (#2175).

[2018-10-12 14:03] #4413 closed

[2018-10-12 14:08] ColinDayOrg commented on #4061
This issue has been moved to the DynamoRevit repo (#2176).

[2018-10-12 14:08] #4061 closed

[2018-10-12 14:09] ColinDayOrg commented on #4036
This issue has been moved to the DynamoRevit repo (#2177).

[2018-10-12 14:09] #4036 closed

[2018-10-12 14:10] ColinDayOrg commented on #3862
This issue has been moved to the DynamoRevit repo (#2178).

[2018-10-12 14:10] #3862 closed

[2018-10-12 14:11] ColinDayOrg commented on #3689
This issue has been moved to the DynamoRevit repo (#2180).

[2018-10-12 14:11] #3689 closed

[2018-10-12 14:12] ColinDayOrg commented on #3679
This issue has been moved to the DynamoRevit repo (#2181).

[2018-10-12 14:12] #3679 closed

[2018-10-12 14:14] ColinDayOrg commented on #3439
This issue has been moved to the DynamoRevit repo (#2182).

[2018-10-12 14:14] #3439 closed

[2018-10-12 14:14] ColinDayOrg commented on #3436
This issue has been moved to the DynamoRevit repo (#2183).

[2018-10-12 14:14] #3436 closed

[2018-10-12 14:15] ColinDayOrg commented on #3435
This issue has been moved to the DynamoRevit repo (#2184).

[2018-10-12 14:15] #3435 closed

[2018-10-12 14:16] ColinDayOrg commented on #3425
This issue has been moved to the DynamoRevit repo (#2185).

[2018-10-12 14:16] #3425 closed

[2018-10-12 14:17] ColinDayOrg commented on #2542
This issue has been moved to the DynamoRevit repo (#2186).

[2018-10-12 14:17] #2542 closed

[2018-10-12 14:18] ColinDayOrg commented on #2541
This issue has been moved to the DynamoRevit repo (#2187).

[2018-10-12 14:18] #2541 closed

[2018-10-12 14:18] ColinDayOrg commented on #2530
This issue has been moved to the DynamoRevit repo (#2188).

[2018-10-12 14:18] #2530 closed

[2018-10-12 14:19] ColinDayOrg commented on #2460
This issue has been moved to the DynamoRevit repo (#2189).

[2018-10-12 14:19] #2460 closed

[2018-10-12 14:20] ColinDayOrg commented on #2453
This issue has been moved to the DynamoRevit repo (#2190).

[2018-10-12 14:20] #2453 closed

[2018-10-12 14:22] ColinDayOrg commented on #2243
This issue has been moved to the DynamoRevit repo (#2191).

[2018-10-12 14:22] #2243 closed

[2018-10-12 14:23] ColinDayOrg commented on #2236
This issue has been moved to the DynamoRevit repo (#2192).

[2018-10-12 14:23] #2236 closed

[2018-10-12 14:23] #1924 closed, assigned to riteshchandawar

[2018-10-12 14:24] #1897 closed, assigned to nobody

[2018-10-12 14:25] #1346 closed, assigned to Randy-Ma

[2018-10-12 14:25] #1222 closed, assigned to Randy-Ma

[2018-10-12 14:26] #1120 closed, assigned to Randy-Ma

[2018-10-12 14:26] #942 closed, assigned to Randy-Ma

[2018-10-12 14:27] #938 closed, assigned to aparajit-pratap

[2018-10-12 14:28] ColinDayOrg commented on #897
This issue has been moved to the DynamoRevit repo (#2200).

[2018-10-12 14:28] #897 closed

[2018-10-12 14:29] ColinDayOrg commented on #355
This issue has been moved to the DynamoRevit repo (#2201).

[2018-10-12 14:29] #355 closed

[2018-10-12 14:38] ksobon commented on #5573
@ColinDayOrg I am not sure its a good idea to simply reference #2165 here as that points at the current repo (DynamoDS) and not the DynamoRevit repo. Please use the full link ie. https://github.com/DynamoDS/DynamoRevit/issues/2165

[2018-10-12 15:37] ColinDayOrg commented on #5573
@ksobon Thanks for the heads up, they were not actually supposed to be links, it was just JIRA "helping". I have fixed this link and I will fix any other link in other issues that were moved.

[2018-10-14 23:09] mjkkirschner commented on #9171
Hi @MostafaElAyoubi I really want to get to the bottom of this one, but don't have time to investigate myself right now - perhaps you can do some shrinking of the problem space.

What happens if you don't create any WPF controls during your iteration and instead just iterate the nodes and ports (IE don't show anything or create your viewModels)

What happens if you just iterate nodes, but not port

[2018-10-14 23:09] mjkkirschner commented on #9171
Last question - have you tried invoking your iteration on the dispatcher?

[2018-10-15 10:55] MostafaElAyoubi commented on #9171
Hi @mjkkirschner , thanks for your reply!
The issue persists if I don't open Wpf on create a viewModel.
I'm not sure I understand the last question 😨

[2018-10-15 11:36] mjkkirschner commented on #9171
The wpf dispatcher let’s you invoke work on the ui thread. The broken code blocks look like a threading issue to me so it might be somewhere to start.

[2018-10-16 00:07] mjkkirschner commented on #9171
dispatch your wpf interactions like this:
https://docs.microsoft.com/en-us/dotnet/api/system.windows.threading.dispatcher.invoke?redirectedfrom=MSDN&view=netframework-4.7.2#System_Windows_Threading_Dispatcher_Invoke_System_Delegate_System_Object___

you may prefer beginInvoke()

[2018-10-16 07:03] MostafaElAyoubi commented on #9171
Thanks I'm looking into this. Will let you know how it goes.

[2018-10-16 09:54] MostafaElAyoubi commented on #9171
Got it working!
I actually used the DynamoWindow dispatcher and BeginInvoke. I invoked the iteration like that and all works well now. Thanks a lot!
 This dispatcher thing gives me ideas 🤔  ..

![dispatcher](https://user-images.githubusercontent.com/20224923/47008269-49b97780-d13a-11e8-9e73-24957b9e1c37.gif)

[2018-10-16 11:49] MostafaElAyoubi commented on #9106
Hey sorry for reopening this but I'm actually still having trouble with it. I do manage to set the PreviewPinned property of the NodeViewModels. I checked that the values were set correctly, bu I still can't get the preview pins to actually be unpinned in the UI.
Any idea what more I can do?

[2018-10-16 12:48] andydandy74 commented on #9106
I'm having the same issue.
I guess we would have to call
```nodeView.PreviewControl.TransitionToState(PreviewControl.State.Condensed);```
But the ```PreviewControl``` property of ```NodeViewModel``` is private, so perhaps via reflection.
Haven't had time to tinker with it yet, though.

[2018-10-17 02:14] mjkkirschner commented on #9171
👍

[2018-10-17 07:33] #9171 closed

[2018-10-17 07:58] SuhailSS opened #9184 "Error Wile Importing .dll file"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

(Which version of Dynamo are you using? Go to Help > Abo

[2018-10-17 14:16] EllouzeMustapha opened #9185 "Surface.SubtractFrom do not handle specific Solids"
## Dynamo version

Dynamo Core 2.0.1.5055
Dynamo Revit 2.0.1.5065

## Operating system

Windows 10 Pro

## What did you do?

Used the Surface.SubtractFrom method. The surface was a square, the trimming entity was a solid created from surfaces that only shared a point.

## What did you expect to see?

A Surface correctly trimmed

## What did you see instead?

Output from SubtractFrom : Empty List

[2018-10-18 14:36] johnpierson commented on #8480
Closing this for now. If this is still an issue for you, please provide a sample DYN, RVT and XLSX file.

[2018-10-18 14:36] #8480 closed

[2018-10-18 20:26] RielBessai opened #9188 "Dynamo 2017 doesn't open, Dynamo 2016 works but no 3D preview"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## 0.9.2.4461

(Which version of Dynamo are you using? Go to Help > About i

[2018-10-20 09:42] tomekpiatek opened #9191 "Add ability to edit Python Nodes in external code ditor"
The built-in python editor should never aspire to be as powerful and featureful as a specialised code editor, such as Sublime, because being a great code editor is not a core feature or requirement for Dynamo. However, some (many?) of us who are seasoned coders need a more robust and powerful coding environment. I would like to request a feature whereby Python Node code can be edited in an externa

[2018-10-20 20:00] andydandy74 commented on #9191
https://github.com/DynamoDS/Dynamo/issues/6513#issuecomment-281005051
https://github.com/DynamoDS/Dynamo/issues/7974
Both of these have been closed, though, so I think it's good to have an open issue for this.

[2018-10-21 10:46] ThomasMahon opened #9193 "Surface.CoordinateSystemAtParameter ignores surface normals"
## Dynamo version

1.3.3

## Operating system

Win 10
## What did you do?

used Surface.CoordinateSystemAtParameter on surfaces extracted from a Revit roof element

## What did you expect to see?

The coordinate systems orientated relative to the surface normals.

## What did you see instead?

Inconsistent results; it treats all surfaces with an 'up' direction determined from the global coordinate

[2018-10-21 19:10] DanimoSite opened #9195 "Running .dyn's in sequence fails to execute all dyn's"
Hi,

I am getting some weird behaviour when running sequences of .dyn files. I have built a ViewExtension which allows the user to batch run .dyn files, but on first run not all files seem to execute. On second run however (and thereafter), all files execute. Any help with this would be much appreciated, I have attached a video as an example of the behaviour I am seeing...

[https://youtu.be/HTlgO

[2018-10-22 07:27] Olesen666 opened #9196 ""String.Remove" node is not performing as descriped in node form but works in DS form."
## Dynamo version
Dynamo Core. 2.1.0.6315
Dynamo Revit 2.1.0.6316

## Operating system

Windows 10

## What did you do?

![image](https://user-images.githubusercontent.com/43544154/47281775-e2d60b80-d5dc-11e8-8277-609026f623fb.png)

## What did you expect to see?

The node working without inputting a count as described.

## What did you see instead?

The node not working without count (acting as f

[2018-10-26 01:02] sameyers commented on #9111
I had a similar error when testing was meant to return results on unequal list length.  Dynamo v1.3, Revit 2017; here is the error log:

Runtime exception occured. The Type of StackValue is not Double

   at ProtoCore.DSASM.StackValue.get_DoubleValue()
   at ProtoCore.DSASM.Executive.IsNodeModified(StackValue svGraphNode, StackValue svUpdateNode)
   at ProtoCore.DSASM.Executive.XLangUpdateDependen

[2018-10-26 12:35] johnpierson commented on #9195
Hi there @DanimoSite! Sounds like an interesting workflow. To get you the right kind of assistance/info, we are going to need to see some of the code that is doing this. Are you able to provide that here?

[2018-10-28 13:02] DanimoSite commented on #9195
Hi @johnpierson!

Yup sure can, you can find the whole solution here...

[https://www.dropbox.com/s/jjwkfq0q3sz7upx/DanimoViewExtensionSolution.zip?dl=0](url)

You want the "Script Manager" folder. The code is in the ScriptManagerViewModel and to make it easy to find what you probably need, the OnRunSequence() method is what is making the calls to DynamoVM (line 690) and this calls another method

[2018-10-29 18:36] DurgamPruthvi opened #9215 "I'm unable to use delete button or any keyboard shortcuts"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

(Which version of Dynamo are you using? Go to Help > Abo

[2018-10-29 19:32] mjkkirschner commented on #9215
closing duplicate - will reply on dynamoRevit.

[2018-10-29 19:32] #9215 closed

[2018-10-30 13:23] johnpierson commented on #9195
This is being tracked internally as [QNTM-5728](https://jira.autodesk.com/browse/QNTM-5728).
@DanimoSite we should have an update for you before too long.

[2018-10-30 13:35] johnpierson commented on #9195
another quick question for you @DanimoSite, Have you tried subscribing to the event `DynViewModel.Model.RunCompleted ` to trigger the next graph after the previous has completed?

[2018-10-30 13:43] johnpierson commented on #9184
@SuhailSS, are you able to provide the DLL you are trying to import or the visual studio solution?

[2018-10-30 14:31] DanimoSite commented on #9195
Hi @johnpierson

Yup, it was one of the first things I tried, but the event was never fired even though the scripts executed. Other events fire just fine, like opening, clearing and closing, but not the RunCompleted event which was weird.

[2018-10-30 15:49] mjkkirschner commented on #9195
@DanimoSite please try evaluationCompleted - I think runCompleted might be an event that is obsolete/should have been removed.

https://github.com/DynamoDS/Dynamo/blob/master/src/DynamoCLI/CommandLineRunner.cs#L49

[2018-10-30 16:51] DanimoSite commented on #9195
Thanks @mjkkirschner, I shall try this later.

Is the EvaluationCompleted event only called when the graph is run?

[2018-10-31 00:09] DanimoSite commented on #9195
Hi @johnpierson @mjkkirschner

I tried the EvaluationComplete event and now logging from here. But the results are same as before and what get's returned by the event args is odd. Here is my code...

        private void OnRunSequence()
        {
            if (CanRunSequence())
            {
                if(DynViewModel != null)
                {
                    SequenceRunReport = new Li

[2018-10-31 09:36] TexxK opened #9219 "Object reference not set to an instance of an object"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

2.0.1.5065

## Operating system

Win 10

## What did you

[2018-10-31 13:39] johnpierson commented on #9148
Noticed some traction on this with this PR, #9150 . 😎  Figured I would add this here for tracking.

[2018-10-31 13:50] johnpierson commented on #9117
Tracked internally as [QNTM-5742](https://jira.autodesk.com/browse/QNTM-5742).

[2018-10-31 13:53] johnpierson commented on #9114
Closing as a fix for this has been merged as PR #9205.

[2018-10-31 13:53] #9114 closed

[2018-10-31 13:58] johnpierson commented on #7697
Tracked internally as [QNTM-5647](https://jira.autodesk.com/browse/QNTM-5647).

[2018-10-31 14:03] johnpierson commented on #9056
Tracked internally as [QNTM-5743](https://jira.autodesk.com/browse/QNTM-5743)

[2018-10-31 14:10] johnpierson commented on #9008
This is being tracked internally as [QNTM-5744](https://jira.autodesk.com/browse/QNTM-5744)

[2018-10-31 14:11] johnpierson commented on #9002
Closing this as this issue has gone without information for a while. @ads-banana if this is still an issue for you, please feel free to reopen and provide sample files along with it.

[2018-10-31 14:11] #9002 closed

[2018-10-31 14:13] johnpierson commented on #8982
This is being tracked internally as [QNTM-4781](https://jira.autodesk.com/browse/QNTM-4781)

[2018-10-31 14:20] johnpierson commented on #8981
Related to #8576

[2018-10-31 14:20] johnpierson commented on #8576
Closing this as it is related to #8981 which is being tracked.

[2018-10-31 14:20] #8576 closed

[2018-10-31 22:06] andydandy74 commented on #9117
FWIW, I solved this for myself with a view extension by modifying the ```StringInput``` values before caling ```NodeToCodeCommand```:
https://github.com/andydandy74/Monito/blob/master/src/_Unfancify/UnfancifyViewModel.cs#L210

[2018-11-01 16:03] erfajo opened #9221 "MultiReturn error in methods with different signature."

[2018-11-01 21:14] erfajo commented on #9221
I don't think this is related.
It is quite clear that the first signature has to use multireturn to come out correct. It seemed to be so that the normal xml return value is “stronger” than the multireturn xml return value if the method is named the same but with different signatures.

I did test some different things and the pattern seemed to be as following
If I placed the method without a multir

[2018-11-05 09:14] andydandy74 opened #9227 "Node to code crashing Dynamo"
## Dynamo version

2.0.1 stable

## Operating system

Windows 10

## What did you do?

Ran node to code

## What did you expect to see?

A code block

## What did you see instead?

Dynamo crashing

Stack trace:
[code]

## Steps to reproduce
* Open Core_Math.dyn from the sample files that ship with Dynamo
* Select all
* Run node to code

[2018-11-05 09:17] andydandy74 opened #9228 "Node to code creating duplicate variables"
## Dynamo version

2.0.1 stable

## Operating system

Windows 10

## What did you do?

Ran node-to-code

## What did you expect to see?

A working code block

## What did you see instead?

A code block with a warning:
[code]
I've seen this in a number of graphs, but couldn't see a pattern, so no idea what is causing this.

## Steps to reproduce
* Open any of the following sample files that ship wi

[2018-11-05 09:23] andydandy74 opened #9229 "Node to code creating recursive dependency"
## Dynamo version

2.0.1

## Operating system

Windows 10

## What did you do?

Ran node to code

## What did you expect to see?

A code block

## What did you see instead?
A code block that is isolated from the rest of the graph that shows the following warning:
[code]
Also related to #9228 since it also creates duplicate variables.

## Steps to reproduce
* Open Core_Strings.dyn from the sample f

[2018-11-05 18:30] QilongTang commented on #9083
@wyw7733 Do you find this useful? http://primer.dynamobim.org/zh-tw/ or are you requesting more materials than primer along?

[2018-11-07 15:09] johnpierson commented on #9184
Going to go ahead and close this for now as we need sample files to continue. If this is still an issue for you, please feel free to reopen and attach the files needed for us to test.

[2018-11-07 15:09] #9184 closed

[2018-11-07 15:14] johnpierson commented on #8795
Confirmed that this persists in 2.0.1. For the 2.0.0 release, it was removed from the context menu when right clicking on nodes, but missed on the right click on canvas with nodes selected.

[2018-11-07 15:15] johnpierson commented on #9104
@Arsany123 , are you still receiving this error on Dynamo 2.0.1?

[2018-11-07 15:17] #8940 closed

[2018-11-07 15:18] johnpierson commented on #8506
@basamyousif, is this still an issue for you? If so can you provide additional information for us?

[2018-11-07 15:22] johnpierson commented on #3745
It would be nice if this behaved in this manner. As a general best practice, I normally start variables with a lowercase though. Adding some new labels to prioritize and gain ideas on this.
![image](https://user-images.githubusercontent.com/15744724/48140552-419ab680-e266-11e8-9f04-fa68514d1bb8.png)

[2018-11-07 15:32] johnpierson commented on #2300
Hey @MarkThorley, I wanted to see if this was still an issue for you? (Yes, I realize this is an old one, but I wanted to see if this needed prioritized)

[2018-11-07 15:42] MarkThorley commented on #2300
Cant say I remember haha! Although if it was never fixed it should definitely be prioritised. Discrepancies like this could result in some major issues. I will try and replicate to see if the issue still exists.

[2018-11-08 14:59] johnpierson commented on #8105
Closing this as the user account does not exist anymore.

[2018-11-08 14:59] #8105 closed

[2018-11-08 15:03] johnpierson commented on #7004
Persists in Dynamo 2.0.1,
![image](https://user-images.githubusercontent.com/15744724/48206951-d2d46080-e32c-11e8-9f1d-af0e04584ddf.png)

[2018-11-08 18:14] moethu commented on #8298
John, thanks for looking into this. Since I’m using a very very ugly workaround I do not experience the issue at the moment. And sadly I don’t have any Windows Installation running. Maybe someone else can check if this is still an issue? If not I’ll try to get a VM

Enviado desde mi iPhone

[2018-11-08 18:48] alfarok commented on #8691
@Mcdennis1984 Can you upload the graph that is causing the crash?

[2018-11-09 11:20] ThomasMahon opened #9235 "Node to code converted to a def: output ports persist, and Dynamo enters inconsistent state and crash"
## Dynamo version

2.0

## Operating system
 Win 10

## What did you do?

Node-to-code then modified the resultant code block into a definition and renamed the variables.

## What did you expect to see?

A definition

## What did you see instead?

1. The code block output ports persist (which were generated from the node to code process) and if the cursor is hovered over them, they report the orig

[2018-11-09 11:37] ThomasMahon opened #9236 "Definitions fail to debug typo's/undeclared var's AND can still be called/execute without warnings"
## Dynamo version

2.0

## Operating system

Win 10

## What did you do?

Wrote a def

## What did you expect to see?

A working def or an exception when called if it contains bugs.

## What did you see instead?

A def which fails to debug and still executes when there is a typo/undeclared variable:
![image](https://user-images.githubusercontent.com/18601851/48260548-b7905080-e413-11e8-97f5-7a8b5f

[2018-11-13 20:49] ThomasMahon opened #9244 "BUG: Ternary operator in DS def if statement busts compiler"
## Dynamo version

1.3.3

## Operating system

Win 10

## What did you do?

A simple def in DS with some if statements and a ternary operator.

## What did you expect to see?

For DS to break without any rhyme or reason, like it usually does.

## What did you see instead?

I saw exactly what I expected, another busted feature of the language. No warnings. No exceptions. Where's the bin?...

Try it

[2018-11-14 18:17] aparajit-pratap commented on #8789
This is fixed in: https://github.com/DynamoDS/Dynamo/pull/9242. Closing. Let us know if you still experience issues.

[2018-11-14 18:17] #8789 closed

[2018-11-14 18:18] aparajit-pratap commented on #8790
This is fixed in https://github.com/DynamoDS/Dynamo/pull/9242. Closing. Let us know if you still see issues.

[2018-11-14 18:18] #8790 closed

[2018-11-14 18:42] Aban6 commented on #8453
Hi,
I am using Revit 19 and Dynamo 2.0.1. When I try to reopen a Dynamo file, my Revit crashes. I have attached my Revit and Dynamo files here. Any help would be appreciated.

[Project1.zip](https://github.com/DynamoDS/Dynamo/files/2582135/Project1.zip)

Thanks

[2018-11-14 19:28] technicaldisplay opened #9248 "Improvement Request: Preview Bubble Expanded & Pinned By Default"
based on [this thread](https://forum.dynamobim.com/t/preview-bubble-on-by-default/28437) on the forum it was suggested that I make a feature request. Would it be possible to add some kind of default setting to the preview bubble so you can set whether the bubble is automatically opened &pinned when you add a node? Although very minor I think this would improve workflow.

[2018-11-14 20:20] QilongTang commented on #8453
@Aban6 Your zip does not contain the custom nodes you were referring in the main dyn. As a result, I was able to open rvt and dyn without crash, would you update the zip file with all the content and we will try again.

[2018-11-19 20:35] aparajit-pratap commented on #7697
https://github.com/DynamoDS/Dynamo/pull/9252

[2018-11-21 15:44] johnpierson commented on #9227
Curious if this is related to this [8981](https://github.com/DynamoDS/Dynamo/issues/8981)

[2018-11-21 15:46] johnpierson commented on #8506
Going ahead and closing this as we need more information. If this is still an issue for you please feel free to reopen and supply more information/sample files.

[2018-11-21 15:46] #8506 closed

[2018-11-21 15:47] johnpierson commented on #9151
@Drafter1967 , did the anti-virus option work?

[2018-11-21 15:49] johnpierson commented on #9076
Tracked internally as [QNTM-5547](https://jira.autodesk.com/browse/QNTM-5547)

[2018-11-21 15:50] johnpierson commented on #8539
Going ahead and closing this as we need more information to investigate. If this is still an issue for you, please feel free to reopen and supply additional information or files.

[2018-11-21 15:50] #8539 closed

[2018-11-21 15:56] johnpierson commented on #5656
Seems to be functioning appropriately in Dynamo 2.0.1.
![image](https://user-images.githubusercontent.com/15744724/48852811-6402f880-ed6b-11e8-922b-4b7b3cb9e779.png)

[2018-11-21 15:56] #5656 closed

[2018-11-21 17:43] Drafter1967 commented on #9151
I’m sorry.  What are you referring to?

Kevin Billings
[o]817.377.2969
www.huckabee-inc.com
Committed to the success of all students and the profound impact it has on all of us
From: John <notifications@github.com>
Sent: Wednesday, November 21, 2018 9:48 AM
To: DynamoDS/Dynamo <Dynamo@noreply.github.com>
Cc: Kevin Billings <kbillings@huckabee-inc.com>; Mention <mention@noreply.github.com>
Subject:

[2018-11-22 03:42] Aban6 commented on #8453
@QilongTang Thank you very much for your reply. It seems like something has gone wrong after installing some packages. I uninstalled them and it was fixed.

[2018-11-22 15:50] bimwood opened #9259 "Errors building Dynamo from source"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

Dynamo/master

## Operating system

Windows 7

## What d

[2018-11-24 14:41] SUJITHA87 opened #9261 "d"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

(Which version of Dynamo are you using? Go to Help > Abo

[2018-11-26 15:04] #9261 closed

[2018-11-26 15:07] #9151 closed

[2018-11-26 15:19] johnpierson commented on #2695
Tracked internally as [QNTM-5920](https://jira.autodesk.com/browse/QNTM-5920)

[2018-11-26 15:21] johnpierson commented on #2289
Related to https://github.com/DynamoDS/Dynamo/issues/3273, closing this as that post is being tracked.

[2018-11-26 15:21] #2289 closed

[2018-11-26 15:34] #1701 closed

[2018-11-26 15:38] johnpierson commented on #1796
Closing this issue as we are missing files needed to recreate. If this is still an issue, feel free to reopen with the additional files attached.

[2018-11-26 15:38] #1796 closed

[2018-11-26 15:50] #3928 closed

[2018-11-26 15:52] #4752 closed

[2018-11-26 15:53] johnpierson commented on #4645
Closing this as it is related to https://github.com/DynamoDS/Dynamo/issues/6636

[2018-11-26 15:53] #4645 closed

[2018-11-26 15:57] #4443 closed

[2018-11-26 15:58] johnpierson commented on #4443
Closed as this issue is on a very old release. If this is still an issue for you, feel free to reopen and upload files to reproduce.

[2018-11-26 16:06] #4935 closed

[2018-11-26 16:07] #4816 closed

[2018-11-26 16:09] johnpierson commented on #5550
Tracked internally as [QNTM-5923](https://jira.autodesk.com/browse/QNTM-5923)

[2018-11-26 16:10] johnpierson commented on #5540
Partial progress at, [QNTM-5869](https://jira.autodesk.com/browse/QNTM-5869)

[2018-11-26 16:12] johnpierson commented on #6302
Tracked internally as, [QNTM-5926](https://jira.autodesk.com/browse/QNTM-5926)

[2018-11-26 16:14] #6145 closed

[2018-11-26 16:33] Amoursol commented on #9259
@bimwood, not a fix per see, but can you please keep trying to **Clean** and **Build** until it builds? It can take up to 20x or so - but we all got there in the end at the London Extensions Workshop.

[2018-11-26 16:40] QilongTang commented on #9259
@bimwood The first error caught my eyes:
[code]

When you use solution explorer to check `DynamoUtilities` project, do you find NewtonSoft.Json is correctly referenced like this?
![image](https://user-images.githubusercontent.com/3942418/49027897-2a692d80-f16f-11e8-98b7-2b56e3d9b128.png)

If it is pointing to a null path, it usually means it is not referenced correctly. In such case, you need to
1

[2018-11-26 17:35] bimwood commented on #9259
Thanks all! I'll have another go and report back.

[2018-11-27 15:57] radumg commented on #8982
super-late jumping into this but maybe it's helpful or at least extra validation : about 2 years ago when i wrote a `dynamopackages.com` API client i ran into issues with its zip library, namely that no other NuGet zip package would unzip files downloaded from the package manager.

The only way to make it work was to use the exact same version `Ionic` zip library as used in the `Greg` NuGet packag

[2018-11-27 16:04] mjkkirschner commented on #8982
we are moving to using `system.io.compression` where possible in master.

[2018-11-27 16:04] johnpierson commented on #8982
@radumg PR [#20](https://github.com/DynamoDS/PackageManagerClient/pull/20) has some updates regarding this.

[2018-11-28 09:32] andydandy74 opened #9272 "Issue adding annotation to selection programmatically"
## Dynamo version

2.0.1 stable

## Operating system

Windows 10

## What did you do?
Tried to port the following code from 1.3 to 2.x:
[code]
I received a deprecation warning for ```WorkspaceModel.Annotations```:
[code]
So I went this way:
[code]

## What did you expect to see?

The group being added to the selection.

## What did you see instead?

The group **not** being added to the selection.

[2018-11-28 13:29] #1132 closed, assigned to aparajit-pratap

[2018-11-28 13:40] johnpierson commented on #7451
In Dynamo 2.0.1, Excel seems to operate as expected after reading and closing a file from Dynamo. Once I opened the excel file back up from the desktop and made some changes, it prompted for save. That being said, Excel still shows which isn't amazing. Adding to the backlog because of this request.

This is tracked as [QNTM-5935](https://jira.autodesk.com/browse/QNTM-5935)

[2018-11-28 13:46] johnpierson commented on #6560
Adding this to the backlog, [QNTM-5936](https://jira.autodesk.com/browse/QNTM-5936)

[2018-11-28 13:49] johnpierson commented on #5980
Working as expected on Dynamo 1.3.3 and up

[2018-11-28 13:49] #5980 closed

[2018-11-28 13:53] johnpierson commented on #6496
This is still an issue. Adding to the backlog as this would be great to have, especially since we are exposing view extensions to more people. Tracked as [QNTM-5937](https://jira.autodesk.com/browse/QNTM-5937)

[2018-11-28 13:53] #5470 closed

[2018-11-28 14:00] johnpierson commented on #6823
Added to the backlog [QNTM-5938](https://jira.autodesk.com/browse/QNTM-5938)

[2018-11-28 14:05] johnpierson commented on #6638
Seems to be resolved int 2.0.1

[2018-11-28 14:05] #6638 closed

[2018-11-28 14:08] #8315 closed

[2018-11-28 14:10] johnpierson commented on #6555
Closing this as it relates to an older release. If this persists in newer versions of Dynamo please feel free to reopen and update as needed.

[2018-11-28 14:10] #6555 closed

[2018-11-28 14:12] johnpierson commented on #3361
Closing this issue as we haven't received more information on it in a while. Feel free to reopen and provide more information if this issue persists for you.

[2018-11-28 14:12] #3361 closed

[2018-11-28 14:14] #8454 closed

[2018-11-28 14:18] #8092 closed

[2018-11-28 15:18] andydandy74 commented on #7451
John, I think the silent Open behaviour was already solved here: #8078

[2018-11-29 15:36] johnpierson commented on #9104
Closing this as we need more information. Please reopen and update if this is still an issue for you.

[2018-11-29 15:36] #9104 closed

[2018-11-29 15:38] johnpierson commented on #9094
@g69031, are you still receiving this error on Dynamo 2.0.1?

[2018-11-29 15:39] johnpierson commented on #8949
Closing this as we need more information. Please reopen and update if this is still an issue for you.

[2018-11-29 15:39] #8949 closed

[2018-11-29 15:39] johnpierson commented on #8656
Closing this as we need more information. Please reopen and update if this is still an issue for you.

[2018-11-29 15:39] #8656 closed

[2018-11-29 15:40] johnpierson commented on #8641
@Dorkside,  , are you still receiving this error on Dynamo 2.0.1?

[2018-11-29 15:40] johnpierson commented on #8628
Closing this as we need more information. Please reopen and update if this is still an issue for you.

[2018-11-29 15:40] #8628 closed

[2018-11-29 15:41] johnpierson commented on #8401
@CaseyCardin, are you still receiving this error on Dynamo 2.0.1?

[2018-11-29 15:41] johnpierson commented on #8291
Closing this as we need more information. Please reopen and update if this is still an issue for you. Specifically, please upload the applicable DYN files

[2018-11-29 15:41] #8291 closed

[2018-11-29 15:42] #7313 closed

[2018-11-29 15:44] johnpierson commented on #5160
Closing this as we need more information. Please reopen and update if this is still an issue for you.

[2018-11-29 15:44] #5160 closed

[2018-11-29 15:48] johnpierson commented on #6759
Closing this as it is referenced here https://github.com/DynamoDS/Dynamo/issues/4603

[2018-11-29 15:48] #6759 closed

[2018-11-29 15:51] #7207 closed

[2018-11-29 15:51] #7075 closed

[2018-11-29 15:52] #7213 closed

[2018-11-29 15:53] johnpierson commented on #7221
Closing this as the issue is very old and we needed more information. Please reopen and update if this is still an issue for you.

[2018-11-29 15:53] #7221 closed

[2018-11-29 15:53] #7285 closed

[2018-11-29 15:54] #7320 closed

[2018-11-29 15:56] #7467 closed

[2018-11-29 15:57] johnpierson commented on #7484
Similar to https://github.com/DynamoDS/Dynamo/issues/6749

[2018-11-29 15:57] #7484 closed

[2018-11-29 16:48] johnpierson commented on #9188
Closing as this issue is for an outdated version of Dynamo. If this persists in 2.0.x for you, please feel free to reopen and update accordingly.

[2018-11-29 16:48] #9188 closed

[2018-11-29 16:48] johnpierson commented on #6505
Closing as this issue is for an outdated version of Dynamo. If this persists in 2.0.x for you, please feel free to reopen and update accordingly.

[2018-11-29 16:48] #6505 closed

[2018-11-29 16:48] johnpierson commented on #6366
Closing as this issue is for an outdated version of Dynamo. If this persists in 2.0.x for you, please feel free to reopen and update accordingly.

[2018-11-29 16:48] #6366 closed

[2018-11-29 16:49] johnpierson commented on #6298
Closing as this issue is for an outdated version of Dynamo. If this persists in 2.0.x for you, please feel free to reopen and update accordingly.

[2018-11-29 16:49] #6298 closed

[2018-11-29 16:49] johnpierson commented on #6083
Closing as this issue is for an outdated version of Dynamo. If this persists in 2.0.x for you, please feel free to reopen and update accordingly.

[2018-11-29 16:49] #6083 closed

[2018-11-29 16:49] johnpierson commented on #6080
Closing as this issue is for an outdated version of Dynamo. If this persists in 2.0.x for you, please feel free to reopen and update accordingly.

[2018-11-29 16:49] #6080 closed

[2018-11-29 16:49] johnpierson commented on #5710
Closing as this issue is for an outdated version of Dynamo. If this persists in 2.0.x for you, please feel free to reopen and update accordingly.

[2018-11-29 16:49] #5710 closed

[2018-11-29 16:50] johnpierson commented on #5690
Closing as this issue is for an outdated version of Dynamo. If this persists in 2.0.x for you, please feel free to reopen and update accordingly.

[2018-11-29 16:50] #5690 closed

[2018-11-29 16:50] johnpierson commented on #5542
Closing as this issue is for an outdated version of Dynamo. If this persists in 2.0.x for you, please feel free to reopen and update accordingly.

[2018-11-29 16:50] #5542 closed

[2018-11-29 16:50] johnpierson commented on #5420
Closing as this issue is for an outdated version of Dynamo. If this persists in 2.0.x for you, please feel free to reopen and update accordingly.

[2018-11-29 16:50] #5420 closed

[2018-11-29 16:51] johnpierson commented on #5065
Closing as this issue is for an outdated version of Dynamo. If this persists in 2.0.x for you, please feel free to reopen and update accordingly.

[2018-11-29 16:51] #5065 closed

[2018-11-29 16:51] johnpierson commented on #5022
Closing as this issue is for an outdated version of Dynamo. If this persists in 2.0.x for you, please feel free to reopen and update accordingly.

[2018-11-29 16:51] #5022 closed

[2018-11-29 16:54] johnpierson commented on #4807
Closing as this issue is for an outdated version of Dynamo. If this persists in 2.0.x for you, please feel free to reopen and update accordingly.

[2018-11-29 16:54] #4807 closed

[2018-11-29 16:54] johnpierson commented on #4650
Closing as this issue is for an outdated version of Dynamo. If this persists in 2.0.x for you, please feel free to reopen and update accordingly.

[2018-11-29 16:54] #4650 closed

[2018-11-29 16:54] johnpierson commented on #4471
Closing as this issue is for an outdated version of Dynamo. If this persists in 2.0.x for you, please feel free to reopen and update accordingly.

[2018-11-29 16:54] #4471 closed

[2018-11-29 16:55] johnpierson commented on #3943
Closing as this issue is for an outdated version of Dynamo. If this persists in 2.0.x for you, please feel free to reopen and update accordingly.

[2018-11-29 16:55] #3943 closed

[2018-11-29 16:55] johnpierson commented on #3751
Closing as this issue is for an outdated version of Dynamo. If this persists in 2.0.x for you, please feel free to reopen and update accordingly.

[2018-11-29 16:55] #3751 closed

[2018-11-29 16:55] johnpierson commented on #3652
Closing as this issue is for an outdated version of Dynamo. If this persists in 2.0.x for you, please feel free to reopen and update accordingly.

[2018-11-29 16:55] #3652 closed

[2018-11-29 16:55] #2300 closed

[2018-11-29 16:59] #9073 closed

[2018-11-29 17:03] #8536 closed

[2018-11-29 17:05] #8453 closed

[2018-11-29 17:07] #7851 closed

[2018-11-29 17:08] #7697 closed

[2018-11-29 17:09] #6926 closed

[2018-11-29 17:10] #6925 closed

[2018-11-29 17:12] adityakaushik123 commented on #7697
Does this mean this issue has been fixed?
If yes, which version of Dynamo should I install?
If no, is there an ETA on this?

-Thanks

[2018-11-29 17:14] vykrum commented on #8507
Why is this closed?
Concern not yet addressed.

![transpose](https://user-images.githubusercontent.com/5621624/49239281-5b27bc00-f428-11e8-9164-a0be3d3e0e93.png)

[2018-11-29 17:40] johnpierson commented on #8507
This is not the same issue as the flatten one that was indicated. List.Transpose and Transpose are the same thing as far as I know.

[2018-11-29 17:42] johnpierson commented on #7697
Next release. Keep an eye out on dynamobuilds.com

[2018-11-29 17:44] vykrum commented on #8507
In the interest of consistency, the suggestion was to ensure that Transpose
is always prefixed with List, for it to work.
Flatten was only one of the examples.

On Thu 29 Nov, 2018, 11:11 PM John <notifications@github.com wrote:

[2018-11-29 17:45] johnpierson commented on #8507
That was not indicated in the original post. Hence why this was closed.

[2018-11-29 17:48] vykrum commented on #8507
Sorry if it wasn't clear.
That was the only point in the post actually :-)
Was trying to say that both Transpose and List.Transpose should NOT work.

On Thu 29 Nov, 2018, 11:15 PM John <notifications@github.com wrote:

[2018-11-29 17:53] johnpierson commented on #8507
Cool, we can reopen with some new labels.

[2018-11-29 17:54] vykrum commented on #8507
Sorry didn't completely read your last message regarding reopening as a
wishlist.
Please do, I think it will help keep design script consistent.

On Thu 29 Nov, 2018, 11:18 PM Testing Waters <testingwaters@gmail.com wrote:

[2018-11-29 17:55] johnpierson commented on #6033
This issue was reported for version 1.x. Can you confirm for us if this is still an issue for you in Dynamo 2.0.x?

[2018-11-29 17:56] johnpierson commented on #6654
This issue was reported for version 1.x. Can you confirm for us if this is still an issue for you in Dynamo 2.0.x?

[2018-11-29 17:56] johnpierson commented on #6797
Still persists in 2.0.x

[2018-11-29 17:57] johnpierson commented on #7014
This issue was reported for version 1.x. Can you confirm for us if this is still an issue for you in Dynamo 2.0.x? If it is, please feel free to reopen with more information.

[2018-11-29 17:57] #7014 closed

[2018-11-29 17:59] #7100 closed

[2018-11-29 17:59] #7173 closed

[2018-11-29 17:59] johnpierson commented on #7187
This issue was reported for version 1.x. Can you confirm for us if this is still an issue for you in Dynamo 2.0.x? If this is still an issue, feel free to reopen with more information.

[2018-11-29 17:59] #7187 closed

[2018-11-29 18:00] johnpierson commented on #7290
This issue was reported for version 1.x. Can you confirm for us if this is still an issue for you in Dynamo 2.0.x?

[2018-11-29 18:03] cjm771 commented on #7187
I haven’t encountered this issue in Dynamo 2.0. I think its all good now thanks for the follow up!

[2018-11-29 18:50] xduckyy commented on #7290
Nope, I can edit Python nodes in Custom nodes in 2.0.1 without crashing

[2018-11-29 19:07] johnpierson commented on #7290
@xduckyy Thanks for the update!

[2018-11-29 19:07] #7290 closed

[2018-11-29 19:17] aparajit-pratap commented on #8911
Fixed in #9528. Closing.

[2018-11-29 19:19] aparajit-pratap commented on #8981
Fixed in #9255. Closing.

[2018-11-29 21:12] ksobon commented on #7207
@johnpierson this was an issue to be resolved on your side. @ke-yu did you guys fix this?

[2018-11-29 21:47] johnpierson commented on #7207
Let me do some checking with the team @ksobon

[2018-11-29 21:48] CaseyCardin commented on #8401
@johnpierson I was able to figure out this issue.

[2018-11-29 21:49] johnpierson commented on #8401
Thanks @CaseyCardin ! Closing now

[2018-11-29 21:49] #8401 closed

[2018-11-30 08:49] jhubers commented on #6654
Hi John,

Unfortunately our faculty decided not to continue with Revit/Dynamo in the courses I was teaching. Also my research in this domain had to be stopped. So it is not an issue for me anymore.

Best regards,

Dr. Ir. J.C. (Hans) Hubers
Associate professor

TU Delft / Faculty of Architecture
Julianalaan 134 / 2628 BL, Delft
01.West.120
PO Box 5043 / 2600 GA, Delft
The Netherlands

From: John [

[2018-11-30 13:51] johnpierson commented on #6654
Thanks for the update @jhubers! That is a bummer to hear, maybe they will come back around one day.

I am going to go ahead and close this for now.

[2018-11-30 13:51] #6654 closed

[2018-11-30 13:52] johnpierson commented on #9111
@yuvalrakavy , are you able to provide some sample files to reproduce on our end?

Also, have you experienced this in 2.0.x versions?

[2018-11-30 14:00] johnpierson commented on #1444
Going ahead and closing this as it is for a very old version of Dynamo. If this kind of problem still persists for you in 2.0.x releases, please feel free to open a new issue with updated information.

[2018-11-30 14:00] #1444 closed

[2018-11-30 14:01] johnpierson commented on #9185
Going ahead and closing this as it is for a very old version of Dynamo. If this kind of problem still persists for you in 2.0.x releases, please feel free to open a new issue with updated information.

[2018-11-30 14:02] johnpierson commented on #1601
Going ahead and closing this as it is for a very old version of Dynamo. If this kind of problem still persists for you in 2.0.x releases, please feel free to open a new issue with updated information.

[2018-11-30 14:02] #1601 closed

[2018-11-30 14:03] johnpierson commented on #1068
Going ahead and closing this as it is for a very old version of Dynamo. If this kind of problem still persists for you in 2.0.x releases, please feel free to open a new issue with updated information.

[2018-11-30 14:03] #1068 closed

[2018-11-30 14:05] johnpierson commented on #2252
Going ahead and closing this as it is for a very old version of Dynamo. If this kind of problem still persists for you in 2.0.x releases, please feel free to open a new issue with updated information.

[2018-11-30 14:05] #2252 closed

[2018-11-30 14:07] johnpierson commented on #1774
Going ahead and closing this as it is for a very old version of Dynamo. If this kind of problem still persists for you in 2.0.x releases, please feel free to open a new issue with updated information.

[2018-11-30 14:07] #1774 closed

[2018-11-30 14:12] andydandy74 commented on #4603
@johnpierson - This issue seems to have a fairly good amount of community support. Any particular reason it got closed?

[2018-11-30 14:13] johnpierson commented on #1808
Persists in 2.0.1

[2018-11-30 14:14] johnpierson commented on #4603
I had closed this as it relates to another open issue for this, https://github.com/DynamoDS/Dynamo/issues/3273

[2018-11-30 14:15] andydandy74 commented on #4603
Okay, got it.

[2018-11-30 14:15] johnpierson commented on #4603
Although, I am now noticing that you referenced it at first and said this was different.

[2018-11-30 14:15] johnpierson commented on #4603
Do you feel this is still its own thing that needs focus? Apart from the referenced issue?

[2018-11-30 14:17] andydandy74 commented on #4603
After re-reading Nate's issue, I would rather have this one kept opne as well. I believe it would be computationally more economic to be able to recompute on a per-node basis.

[2018-11-30 14:19] johnpierson commented on #4603
That is what I thought. Thanks for the update. :)

[2018-11-30 17:18] EllouzeMustapha commented on #9185
As I had to quickly wright this file earlier today, here's the .dyn

[subtract from bug.zip](https://github.com/DynamoDS/Dynamo/files/2634337/subtract.from.bug.zip)

[2018-11-30 18:04] dimven commented on #9244
The ternary syntax seems to only work in associative mode. Whenever you put it inside of an imperative scope, the VM fails to compile the DS function.

[2018-12-02 09:51] dyhdxm commented on #6220
Hello! I wonder that how I can load it in Dynamo as nodes. Looking forward to your reply. Thank you!

[2018-12-03 09:29] nhoway opened #9284 "Package Manager Search returns empty list behind a proxy"
Hello,

I am behind an enterprise proxy and I think requests made by Dynamo Package Manager are blocked by this one.

Can you please tell me how could I configure the proxy properly for the Package Manager ?

I tried to reach https://www.dynamopackages.com from my default browser (Firefox 60.1.0esr) and I can download any package from it without any issue.

Thanks for your help !

## Dynamo versio

[2018-12-03 14:55] #9031 closed

[2018-12-05 12:34] Gurdevsingh2298 opened #9289 "Can not see library"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

(Which version of Dynamo are you using? Go to Help > Abo

[2018-12-05 21:18] johnpierson commented on #9289
Closing this as we need more information. Please refer to this issue for information that seems to relate to what your title says. https://github.com/DynamoDS/Dynamo/issues/8768

[2018-12-05 21:18] #9289 closed

[2018-12-06 08:52] Gurdevsingh2298 commented on #9289
Dear Sir ,
I got solution for this . I have to use previous version of Dynamo .
Thanks
Gurdev Singh

On Thu, Dec 6, 2018, 02:48 John <notifications@github.com> wrote:

[2018-12-06 19:48] erfajo commented on #8748
This is an absolutely ridiculous problem, but nevertheless still present!

@johnpierson Thanks for the idea to have an “About” node, pointing to the package icon to fix a problem that never should occur!